<div class="footer-txt">
  <% if @crowd_pledge.crowd_campaign.bill? %>
    *) F端r deine Unterst端tzung kann eine Rechnung ausgestellt werden.
  <% elsif @crowd_pledge.crowd_campaign.donation_bill? %>
    *) F端r deine Unterst端tzung kann eine Spendenquittung ausgestellt werden.
  <% end %>
</div>
