<div class="payment">

  <div class="hl-subtext">
    <h1>Wähle deine Zahlungsart</h1>
    <p>
      Der Gesamtbetrag deiner Unterstützung wird erst nach erfolgreichem Ende der Crowdfundingkampagne abgebucht.
    </p>
  </div>

  <%= form_tag nil, id: "payment-form", data: {
    intent: 'setup',
    client_secret: @setup_intent.client_secret,
    redirect: payment_authorized_crowd_pledge_url(@crowd_pledge)
  } do %>
    <%= image_tag 'svg/loading.svg', class: 'loading-spinner stripe-spinner', width:100, height:100 %>
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="payment-submit" class="btn-primary" data-btntext="Jetzt unterstützen">
      Jetzt unterstützen
    </button>
    <div class="error-message"></div>
  <% end %>

  <div class="footer-txt">
    Der Gesamtbetrag deiner Unterstützung wird erst nach Ende der Finanzierungsphase dieses Crowdfundings und nur wenn das Mindestziel erreicht wurde, von deiner gewählten Zahlungsart abgebucht. Sollte die Kampagne scheitern, so wird dir auch nichts abgebucht.
  </div>

</div>
