<div>

  <div class="hl-subtext">
    <h1>Vielen Dank f端r deine Unterst端tzung.</h1>
    <p>
      Wir haben dir auch ein E-Mail mit deinen Unterst端tzungsdetails geschickt.
    </p>

    <div class="share">
      <p><em>- Weitersagen hilft -</em></p>
      <%= icon_tag "speech-bubbles" %>
      <p>Motiviere dein Netzwerk diese Crowdfundingkampagne zu unterst端tzen und teile diesen Link:</p>
      <p>
        <%= link_to crowd_campaign_url(@crowd_pledge.crowd_campaign), @crowd_pledge.crowd_campaign %>
      </p>
    </div>

  </div>

</div>
