<div class="cardBox sheboost-nomination-card">
  <div>
    <h3 class="nomination-title"><%= entry.title.presence || "Nominierung" %></h3>
    <% if entry.message.present? %>
      <div class="nomination-message"><%= simple_format(h(truncate(entry.message, length: 500, omission: '...'))) %></div>
    <% end %>
  </div>
  <% if entry.name.present? %>
    <div class="nomination-from">
      <strong><%= entry.enabled? ? "Nominiert von #{entry.name}" : "Anonyme Nominierung" %></strong><br>
      <span>vor <%= time_ago_in_words(entry.created_at) %></span>
    </div>
  <% end %>
</div>
