<div class="entryInitialContent">
  <%= render 'shared/stream/user_info', user: activity.trackable.initiator, activity: activity.trackable, entry: activity.trackable %>
</div>


<%= render 'meetings/teaser', meeting: activity.trackable %>

<% unless activity.trackable.comments.empty? %>
  <%= render partial: 'comments/comment_inline', layout: 'layouts/stream/comment', locals: { comment: activity.trackable.comments.first } %>
<% end %>

<%= render 'comments/form_inline', commentable: activity.trackable %>

