<div class="entryInitialContent">
  <%= render 'public_activity/info', user: activity.owner, entity: activity %>
</div>


<%= render 'meetings/teaser', meeting: activity.trackable %>

<%= render 'comments/form_inline', commentable: activity.trackable %>

