<% content_for :user_and_type, flush: true do %>
  <a href=""><%= activity.owner.username if activity.owner %></a> hat ein Treffen erstellt
<% end %>

<%= render 'meetings/teaser', meeting: activity.trackable %>

<div class="txt">
  <p><%= activity.trackable.description %></p>
</div>