<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @crowd_campaign.user.first_name %>,
        </p>
        <p>
          bist du an deinem Vorhaben und der Planung deiner Crowdfunding Kampagne noch dran? <%= link_to @crowd_campaign.title, crowd_campaign_url(@crowd_campaign), style: "color:#ec776a;" %>
        </p>
        <p>
          Oder haben sich Fragen aufgetan? Können wir dich bei irgendetwas unterstützen?<br>
          Mail uns: <%= t("region.#{@crowd_campaign.region.id}.contact_email") %> oder rufe an: 069915028277 (Mirjam) und wir schauen, ob wir gemeinsam den Knoten lösen können.
        </p>
        <p>
          Liebe Grüße,<br>
          dein Team von <%= t("region.#{@crowd_campaign.region.id}.domain_full") %><br>
        </p>
      </td>
    </tr>
  </tbody>
</table>
