<%
  meta({
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="wien masonryFilterGrid">
  <%= render 'header' %>

  <div class="hl-subtext">
    <h1><em>Treffen & Events</em></h1>
    <p>Motto: Runter vom Sofa & mitten rein ins Grätzlleben</p>
  </div>

  <%= form_tag meetings_path, method: :get, remote: true, class: 'autosubmit-filter' do %>
  <% end %>

  <div class="masonry-wrapper">
    <div class="cards-container" data-behavior="stream-container"></div>
    <div class="view-more-container"></div>
  </div>
</section>
