<%
  meta({
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="wien -overview-pages masonryFilterGrid">
  <%= render 'header' %>

  <div class="hl-subtext">
    <h1><em>Gr채tzlzuckerl</em> im <%= I18n.localize Time.now.end_of_month, format: '%B' %></h1>
    <p>Tolle Angebote, Gutscheine & Rabatte von Selbst채ndigen & Gesch채ften ums Eck</p>
  </div>

  <%= form_tag zuckerls_path, method: :get, remote: true, class: 'autosubmit-filter' do %>
  <% end %>

  <div class="masonry-wrapper">
    <div class="cards-container" data-behavior="stream-container"></div>
    <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load -big', data: { disable_with: 'l채dt...', behavior: 'paginate-link' } %>
  </div>
</section>
