<% if @groups.empty? %>
  <em class="nav-menu-item">
    Du bist in keiner Gruppe Mitglied ..
  </em>
<% end %>
<% @groups.each do |group| %>
  <%= link_to group, class: 'nav-menu-item' do %>
    <%= image_tag cover_url(group, :thumb), class: 'img-square' %>
    <span><%= group.title %></span>
  <% end %>
<% end %>
