<% @locations.each do |location| %>
  <%= link_to graetzl_location_path(location.graetzl, location), class: 'nav-menu-item' do %>
    <%= avatar_image location, size: :thumb, class: 'img-square' %>
    <span><%= location.name %></span>
  <% end %>
<% end %>
