<% @tool_offers.each do |tool_offer| %>
  <%= link_to tool_offer, class: 'nav-menu-item' do %>
    <%= attachment_image_tag tool_offer, :cover_photo, :fill, 100, 100, fallback: 'avatar/tool_offer/100x100.png', class: 'img-square' %>
    <span><%= tool_offer.title %></span>
  <% end %>
<% end %>
