<% @tool_offers.each do |tool_offer| %>
  <%= link_to tool_offer, class: 'nav-menu-item' do %>
    <%= image_tag cover_url(tool_offer, :thumb), class: 'img-square' %>
    <span><%= tool_offer.title %></span>
  <% end %>
<% end %>
