<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        
        <p>Liebe Good Morning Date Runde,</p>
        <p>
          wir hoffen, das Treffen war inspirierend – mit tollen Gesprächen und spannenden neuen Kontakten. Falls ihr Fotos gemacht habt, schickt sie uns doch gerne!
        </p>
        <p>
          Es gibt noch einige <%= link_to "Good Morning Dates", "https://www.imgraetzl.at/good-morning-dates", target:"_blank", style: "color:#ec776a;" %> in anderen Bezirken. Vielleicht kennt ihr ja dort Macher*innen, die Lust haben, sich zu vernetzen? Ladet sie gerne ein! Und natürlich: Ihr seid auch herzlich willkommen!
        </p>
        <p>
          Falls ihr die 5 € als Dankeschön für die Organisation noch nicht in den Topf gelegt habt, könnt ihr das <%= link_to 'hier ganz einfach nachholen', 'https://www.imgraetzl.at/crowdfunding-booster/raum-booster/charge/new', target:'_blank', style: "color:#ec776a;" %>.
        </p>
        <p>
          Dein Beitrag fließt direkt in den <%= link_to 'RaumBooster-Topf', 'https://www.imgraetzl.at/raumbooster', target:'_blank', style: "color:#ec776a;" %>, mit dem wir dann Leerstand beleben und neue Räume für lokale Macher*innen schaffen.
        </p>
        <p>
          Danke und ganz viel Freude noch mit imGrätzl<br>
          Mirjam vom imGrätzl-Team
        </p>

      </td>
    </tr>
  </tbody>
</table>
