<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="room-booster-page summary-screen" data-transaction-id="<%= "ROOM_PUSHER_#{@room_booster.id}" %>" data-value="<%= @room_booster.amount %>">

  <div class="col-content">
    <%= render 'room_boosters/new/summary' %>
  </div>

  <div class="col-sidebar">
    <%= render @room_offer %>
  </div>

</section>
