<div class="nav-bar">

  <%= active_link_to 'Über Uns', info_ueber_uns_path, class: "btn-secondary" %>
  <%= active_link_to 'Meilensteine', info_meilensteine_path, class: "btn-secondary" %>
  <%= active_link_to 'Presse', info_presse_path, class: "btn-secondary" %>

</div>
