<div id="help_nav">
  <a href="#one" class="btn-primary -mint" id="nav-one">Location Page</a>
  <a href="#two" class="btn-primary -mint" id="nav-two">Events & Workshops</a>
  <a href="#three" class="btn-primary -mint" id="nav-three">Daily Grätzlmail</a>
  <a href="#four" class="btn-primary -mint" id="nav-four">Das Grätzlzuckerl</a>
</div>
