<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'noindex, nofollow',
  )
%>

<style media="screen">
</style>

<section class="reports">

  <% if user_signed_in? && current_user.admin? %>
  <!-- ADMIN REPORT INTERFACE -->
    <script>
    (function () {
    // --------------- BEGIN PROJECT JS WORKING AREA ---------------

      // Init Vars
      var users = []; // Clean Users Array to work with
      var graetzls = []; // Clean Grätzl Array to work with
      var host = 'http://' + window.location.host + '/'; // Environment Path
      var admin_user_path = host + 'admin/users/'; // Path for Active Admin Links

      // Dynatable jQuery Plugin Settings
      $.dynatableSetup({
        features: {
          paginate: true,
          sort: true,
          pushState: true,
          search: true,
          recordCount: true,
          perPageSelect: false
        },
        inputs: {
          recordCountPlacement: 'after',
          paginationLinkPlacement: 'after',
          paginationPrev: 'Zurück',
          paginationNext: 'Weiter',
          searchPlacement: 'after',
          recordCountText: '',
          processingText: 'Processing...'
        },
        params: {
          dynatable: 'dynatable',
          queries: 'queries',
          sorts: 'Sortierung',
          page: 'Seite',
          perPage: 'pro Seite',
          offset: 'offset',
          records: '',
          record: null,
          queryRecordCount: 'queryRecordCount',
          totalRecordCount: 'totalRecordCount'
        }
      });


      // -------------- Helper Functions --------------

      // Date Converter
      function formatDate(date){
        var date = new Date(date).toISOString().substr(0, 19).replace('T', ' ');
        return date;
      }



      // -------------- Ajax JSON Requests --------------

      // Get Users and Set Clean User Array
      $.ajax( {
        url:'/admin/users.json',
        method:'GET',
        success:function(response) {
          for( i=0; i < response.length; i++ ) {
            users.push({
              id: response[i].id,
              graetzl_id: response[i].graetzl_id,
              created_at: formatDate(response[i].created_at),
              username: response[i].username,
              first_name: response[i].first_name,
              last_name: response[i].last_name,
              email: response[i].email,
              user_admin_path: admin_user_path + response[i].slug,
              user_path: host + response[i].slug
            })
          }
          users_table();
        }
      });

      // Get Grätzl and Set Clean Grätzl Array
      $.ajax( {
        url:'/admin/graetzls.json',
        method:'GET',
        success:function(response) {
          for( i=0; i < response.length; i++ ) {
            graetzls.push({
              id: response[i].id,
              name: response[i].name,
              graetzl_path: host + response[i].slug,
              users_count: response[i].users_count
            })
          }
          graetzls_table();
        }
      });


      // Create User Table
      var users_table = function(){
        $('#users-table').dynatable({
          dataset: {
            records: users,
            perPageDefault: 50
          }
        });
      }

      // Create Grätzl Table
      var graetzls_table = function(){
        $('#graetzl-table').dynatable({
          dataset: {
            records: graetzls,
            perPageDefault: 10
          }
        });
      }

    // --------------- END WORK JS WORKING AREA ---------------
    })();
    </script>


    <table id="users-table">
      <thead>
        <tr>
          <th data-dynatable-column="id">User ID</th>
          <th data-dynatable-column="created_at">Erstellt am</th>
          <th data-dynatable-column="username">Username</th>
          <!--<th data-dynatable-column="first_name">Vorname</th>-->
          <!--<th data-dynatable-column="last_name">Nachname</th>-->
          <!--<th data-dynatable-column="email">E-Mail</th>-->
          <th data-dynatable-column="graetzl_id">Grätzl ID</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>



    <table id="graetzl-table">
      <thead>
        <tr>
          <th data-dynatable-column="id">Grätzl ID</th>
          <th data-dynatable-column="name">Grätzl</th>
          <th data-dynatable-column="users_count">Anzahl User</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>



  <!-- // ADMIN REPORT INTERFACE -->

  <% else %>
  <!-- NO ADMIN RIGHTS -->
    Keine Admin Rechte ...
  <% end %>

</section>
