<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'noindex, nofollow',
  )
%>

<style>

</style>

<section class="reports">

  <% if user_signed_in? && current_user.admin? %>
  <!-- ADMIN REPORT INTERFACE -->
    <script>
    (function () {
    // --------------- BEGIN PROJECT JS WORKING AREA ---------------

      // Init Vars
      var users = []; // Clean Users Array to work with
      var graetzls = []; // Clean Grätzl Array to work with
      var host = 'http://' + window.location.host + '/'; // Environment Path
      var admin_user_path = host + 'admin/users/'; // Path for Active Admin Links


      $( document ).ready(function() {
      // Load Data from Server - if all Data loaded, do something ...
        var p1 = requestUsers();
        var p2 = requestGraetzls();

        Promise.all ([p1, p2]).then(function() {

          datatable_users();
          datatable_graetzls();

        }).catch( function() {alert('Error Loading Data ...'); } )
      });



      // -------------- Helper Functions --------------

      // Date Converter
      function formatDate(date){
        var date = new Date(date).toISOString().substr(0, 19).replace('T', ' ');
        return date;
      }

      // Get Infos from other JSON Array over ID
      var fetchFromID = function(id, type){
        if ( type == 'graetzls' ) {
          var result = $.grep(graetzls, function(e){ return e.id == id; });
          var name = (result[0].name);
          var url = (result[0].graetzl_path);
          return [name, url];
        }
      }

    // ------------- Data Table - User Detail Row --------
    /* Formatting function for row details - modify as you need */
      function format ( data ) {
          // `d` is the original data object for the row
          return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
              '<tr>'+
                  '<td>Vorname:</td>'+
                  '<td>'+data.first_name+'</td>'+
              '</tr>'+
          '</table>';
      }


      // -------------- Ajax JSON Requests --------------

      // Get Users and Set Clean User Array
      var requestUsers = function(){
        return new Promise( function(resolve, reject) {
          $.ajax( {
            url:'/admin/users.json',
            method:'GET',
            success:function(response) {
              for( i=0; i < response.length; i++ ) {
                users.push({
                  id: response[i].id,
                  graetzl_id: response[i].graetzl_id,
                  created_at: formatDate(response[i].created_at),
                  username: response[i].username,
                  first_name: response[i].first_name,
                  last_name: response[i].last_name,
                  email: response[i].email,
                  user_admin_path: admin_user_path + response[i].slug,
                  user_path: host + response[i].slug
                })
              }
              resolve();
            }
          });
        });
      }

      // Get Grätzl and Set Clean Grätzl Array
      var requestGraetzls = function(){
        return new Promise( function(resolve, reject) {
          $.ajax( {
            url:'/admin/graetzls.json',
            method:'GET',
            success:function(response) {
              for( i=0; i < response.length; i++ ) {
                graetzls.push({
                  id: response[i].id,
                  name: response[i].name,
                  graetzl_path: host + response[i].slug,
                  users_count: response[i].users_count
                })
              }
              resolve();
            }
          });
        });
      }

      // -------------- Create Datatables (jQuery Plugin) --------------

      // Create User Table
      var datatable_users = function() {
        $('#datatable_users').DataTable( {
          data: users,
          "order": [[ 0, "desc" ]],
          "processing": true,
          "scrollY": "400px",
          "scrollCollapse": true,
          "paging": false,
          columns: [
            {
              "className": 'details-control',
              "orderable": false,
              "data": null,
              "defaultContent": 'details'
            },
            { data: 'id' },
            { data: 'username',
              "render": function( data, type, row, meta ){
                if ( type === 'display' ) {
                data = '<a href="' + row['user_admin_path'] + '">' + data + '</a>';
              }
                return data;
              }
            },
            { data: 'email' },
            { data: 'graetzl_id',
              "render": function( data, type, row, meta ) {
                var graetzlname = fetchFromID(row['graetzl_id'], 'graetzls');
                if ( type == "sort" || type == 'type' ) {
                  // Use Grätzl-Name for Sorting
                  return graetzlname[0];
                } else {
                  // Use Link for Output
                  data = '<a href="' + graetzlname[1] + '">' + graetzlname[0] + '</a>';
                  return data;
                }
              }
            },
            { data: 'created_at' }
          ]
        });
      }

      // Create Grätzl Table
      var datatable_graetzls = function() {
        $('#datatable_graetzls').DataTable( {
          data: graetzls,
          "order": [[ 1, "desc" ]],
          "processing": true,
          "scrollY": "400px",
          "scrollCollapse": true,
          "paging": false,
          columns: [
            { data: 'name'},
            { data: 'users_count' }
          ]
        });
      }

      // -------------- Event Listener --------------
      $(document).ready(function() {
        // Add event listener for opening and closing detail rows
        $('#datatable_users').on('click', 'td.details-control', function () {
          var table = $('#datatable_users').DataTable();
          var tr = $(this).closest('tr');
          var row = table.row( tr );

          if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
          }
          else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
          }
        }); // Expand User Row
        
      });

    // --------------- END WORK JS WORKING AREA ---------------
    })();
    </script>

    <table id="datatable_users" class="stripe hover row-border" width="100%">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Username</th>
          <th>E-Mail</th>
          <th>Grätzl</th>
          <th>Registriert</th>
        </tr>
      </thead>
    </table>

    <table id="datatable_graetzls" class="stripe hover row-border" width="100%">
      <thead>
        <tr>
          <th>Grätzl</th>
          <th>Anzahl User</th>
        </tr>
      </thead>
    </table>


  <!-- // ADMIN REPORT INTERFACE -->

  <% else %>
  <!-- NO ADMIN RIGHTS -->
    Keine Admin Rechte ...
  <% end %>

</section>
