<section class="agb">

  <div class="hl-subtext -small">
    <h2>Allgemeine <span>Geschäftsbedingungen</span> imGrätzl.at</h2>
    <p>aktueller Stand: 18.09.2015</p>
  </div>

  <div class="block-txt">
    <p>Mit deiner Nutzung von imGrätzl.at erklärst du dich mit unseren Allgemeinen Geschäftsbedingungen (AGB)
      einverstanden. Betrieben wird imGrätzl.at von der Firma morgenjungs GmbH, Ausstellungsstraße 9/9 in 1020 Wien.
      Bitte beachte auch unsere <a href="#">Hinweise zum Datenschutz</a>.</p>

    <ol class="list-formal">

      <li>
        <strong>Allgemeines</strong>
        <ol>
          <li>Die aktuelle Fassung der AGB kannst du jederzeit unter www.imGrätzl.at/agb einsehen.</li>
          <li>Um in Zukunft auf Veränderungen reagieren zu können, behalten wir uns das Recht vor, diese AGB jederzeit
            zu ändern. Sollte das notwendig sein, informieren wir dich über eine Mitteilung auf der Plattform und per
            E-Mail. Solltest du mit den Änderungen nicht einverstanden sein, bitten wir dich dein Profil zu löschen.
          </li>
        </ol>
      </li>


      <li>
        <strong>Deine Verantwortung</strong>
        <ol>
          <li>Du bist allein und ausschließlich verantwortlich für die durch dich hochgeladenen Inhalte. Du stellst
            imGrätzl.at von allen diesbezüglichen Ansprüchen Dritter frei.
          </li>
          <li>Du akzeptierst, dass imGrätzl.at unter Umständen persönlich unerwünschte Inhalte enthalten kann.</li>
          <li>Bitte beachte bei der Nutzung von imGrätzl.at alle Gesetze und Vorschriften der Republik Österreich. Das
            Einstellen rechtswidriger oder nach diesen Nutzungsbedingungen unzulässiger Inhalte ist verboten.
          </li>
          <li>Du bist allein und ausschließlich verantwortlich für Informationen, die du auf imGrätzl.at teilst. Stelle
            bitte keine Kontaktinformationen oder andere private Daten in öffentlich einsehbaren Bereichen ein, wenn du
            nicht möchtest, dass diese von anderen Nutzern gesehen werden.
          </li>
          <li>Bitte halte dein Passwort geheim und gib es nicht an Dritte weiter.</li>
          <li>Andere Mitglieder von imGrätzl.at dürfen von dir nicht absichtlich getäuscht oder belästigt werden.</li>
          <li>Bitte achte auch auf unsere <a href="#">Datenschutzhinweise</a>.</li>
        </ol>
      </li>


      <li>
        <strong>Zulässige und unzulässige Inhalte</strong>
        <ol>
          <li>imGrätzl.at soll für alle Bewohner im Grätzl ein sicherer und freundlicher Ort der Begegnung sein.
            Deshalb ist es verboten, andere Nutzer zu beschimpfen, obszöne oder sonstige belästigende Äußerungen zu
            tätigen oder pornographisches und anderes jugendgefährdendes Material einzustellen oder zu verbreiten.
            Ebenso ist das Einstellen und die Verbreitung rassistischer, sexistischer sowie gewaltverherrlichender
            Inhalte verboten. Dies gilt auch für Inhalte, die zu terroristischen Aktivitäten oder sonstigen kriminellen
            und rechtswidrigen Handlungen motivieren sollen oder solche Handlungen auf irgendeine Art und Weise
            befürworten.
          </li>
          <li>imGrätzl.at ist keine Dating-Plattform. Inhalte, die eindeutig auf sexuelle Kontakte abzielen sind nicht
            erlaubt.
          </li>
          <li>Lokale Wirtschaftstreibende sind ein wichtiger Bestandteil von imGrätzl.at. Deshalb sind alle Inhalte,
            die zu realen Begegnungen im Grätzl beitragen ausdrücklich erwünscht. Du kannst z.B. ein Treffen für einen
            Workshop, ein Konzert, eine Lesung oder einen Markt, an dem du ausstellst, anlegen. Bitte schreibe aber
            immer dazu, ob das Treffen kostenpflichtig ist. Wir behalten uns das Recht vor, Inhalte zu löschen, die
            unserer Meinung nach thematisch nicht zu imGrätzl.at passen oder gegen diese AGB verstoßen. Die Bewerbung
            eines Angebotes, Dienstleistung oder Produkt sind nur im Bereich „Grätzlzuckerl“ erwünscht und zur
            Darstellung deines Angebotes auf deiner Locationseite zulässig.
          </li>
        </ol>
      </li>


      <li>
        <strong>Urheber- und sonstige Schutzrechte</strong>
        <ol>
          <li>Bitte stelle keine Inhalte (z.B. Bilde oder Texte) ein, die die Rechte Dritter verletzen. Achte
            insbesondere auf die Einhaltung des Urheber- und Eigentumsrechts.
          </li>
          <li>Abgesehen von den durch dich und andere Mitglieder erstellten Inhalten (User Generated Content), stehen
            alle sonstigen Elemente der Plattform (z.B. Texte, Darstellungen, Benutzeroberflächen, Marken, Logos,
            Designs, Bilder) im Eigentum von imGrätzl.at oder der jeweiligen Inhaber und sind rechtlich geschützt.
          </li>
          <li>Kein Bereich der Plattform (inklusive aller Inhalte) darf ohne schriftliche Erlaubnis von imGrätzl.at auf
            anderen Servern, Websites oder auf sonstigen zur Veröffentlichung und Verbreitung gedachten Medien
            dargestellt und/oder reproduziert werden.
          </li>
        </ol>
      </li>


      <li>
        <strong>Sonstige Rechte von imGrätzl.at</strong>
        <ol>
          <li>imGrätzl.at darf dir regelmäßig Nachrichten senden, um dich über Neuheiten und technische
            Weiterentwicklungen der Plattform zu informieren.
          </li>
          <li>imGrätzl.at behält sich das Recht vor, von dir erstellte Inhalte zu ändern oder zu löschen. Insbesondere
            dann, wenn sie gegen gesetzliche Bestimmungen oder gegen diese AGB verstoßen oder bei imGrätzl.at oder
            Dritten zu Schäden führen. Bei Verstößen gegen die AGBs behalten wir uns das Recht vor, dein Profil zu
            sperren oder zu löschen.
          </li>
          <li>imGrätzl.at ist berechtigt, Hinweise auf rechtswidrige Aktivitäten einzelner Nutzer sowie entsprechend
            verdächtige Inhalte unter Wahrung des Datenschutzrechts bei den zuständigen Behörden anzuzeigen.
          </li>
          <li>imGrätzl.at darf von dir eingestellte Inhalte (wie z.B. Fotos) in anonymisierter Form in öffentlich
            einsehbaren Bereichen der Plattform anzeigen.
          </li>
        </ol>
      </li>


      <li>
        <strong>Angebote von lokalen Partnern / Grätzlzuckerl</strong>
        <ol>
          <li>imGrätzl.at arbeitet mit lokalen Wirtschaftstreibenden aus den Grätzln (nachfolgend „Partner“) zusammen.
            Im Grätzlzuckerl und eventuell in anderen Bereichen von imGrätzl.at stellen dir die lokalen Partner Angebote
            vor, die du direkt von diesen Partnern beziehen kannst.
          </li>
          <li>imGrätzl.at hat das Recht Angebote von Partnern an dich weiterzuleiten, und sich dabei auf
            Nutzungsinformationen (z.B. dein Heimatgrätzl) und Daten aus deinem Profil zu stützen.
          </li>
          <li>imGrätzl.at ist lediglich Vermittler. Beanspruchst du Angebote von lokalen Partnern, gehst du direkt eine
            vertragliche Bindung mit dem jeweiligen Partner ein, imGrätzl.at ist dabei nicht Vertragspartei.
          </li>
          <li>imGrätzl.at übernimmt für die Angebote seiner lokalen Partner keinerlei Haftung.</li>
        </ol>
      </li>


      <li>
        <strong>Haftung und Verantwortung von imGrätzl.at</strong>
        <ol>
          <li>Die Inhalte auf imGrätzl.at wurden sorgfältig erstellt. Für die Richtigkeit, Vollständigkeit und
            Aktualität der Inhalte übernimmt imGrätzl.at keine Gewähr. imGrätzl.at haftet insbesondere nicht für die
            Verfügbarkeit von auf imGrätzl.at angebotenen Leistungen oder das Zustandekommen oder die vertragsgemäße
            Erfüllung eines aufgrund einer Kontaktherstellung zwischen einem Nutzer und einem lokalen Partner zustande
            gekommenen Vertrages.
          </li>
          <li>Als Betreiber ist imGrätz.at für eigene Inhalte auf der Plattform verantwortlich. Allerdings ist
            imGrätzl.at nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach
            Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Die Verpflichtung zur Entfernung
            dieser Inhalte bleibt davon unberührt. Jedoch ist eine diesbezügliche Haftung erst ab dem Zeitpunkt der
            Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen
            wird imGrätzl.at diese Inhalte sofort entfernen.
          </li>
          <li>imGrätzl.at bittet dich, Missbrauchsfälle unverzüglich unter
            <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a>
            zu melden.
          </li>
          <li>Soweit gesetzlich zulässig, ist jede Haftung von imGrätzl.at ausgeschlossen. Insbesondere ist imGrätzl.at
            berechtigt, jederzeit den Betrieb der Plattform einzustellen oder einzuschränken. Für die ununterbrochene
            Verfügbarkeit der Plattform wird von imGrätzl.at keine Garantie übernommen.
          </li>
          <li>Haftung für Hyperlinks: Auf imGrätzl.at sind Links zu externen Webseiten Dritter zu finden, auf deren
            Inhalte imGrätzl.at keinen Einfluss hat. Für fremde Inhalte wird von imGrätzl.at keine Gewähr übernommen..
            Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der jeweiligen Seiten
            verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung von imGrätzl.at auf mögliche
            Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine
            permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer
            Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen wird imGrätzl.at derartige Links
            sofort überprüfen und ggf. entfernen.
          </li>
        </ol>
      </li>


      <li>
        <strong>Ausfall und Wartungsarbeiten</strong>
        <ol>
          <li>imGrätzl.at hostet die Plattform auf einer der aktuellen Bedürfnissen angemessenen Serverumgebung. Im
            Hinblick auf Kapazitätsgrenzen, die Sicherheit und Integrität der Server oder zur Durchführung technischer
            Maßnahmen, behält sich imGrätzl.at das Recht vor, seine Leistung temporär zu beschränken.
          </li>
          <li>Bei einem Systemausfall oder einer Serverbeeinträchtigung und hierdurch verursachter fehlerhafter
            Übermittlung deiner Daten, die weder auf vorsätzliches, noch grob fahrlässiges Verhalten von imGrätzl.at,
            seinen Mitarbeitern oder Erfüllungsgehilfen beruht, bestehen für dich kein Anspruch auf Schadensersatz.
          </li>
          <li>Voraussehbare notwendige Betriebsunterbrechungen für vorbeugende Wartungsarbeiten oder technische
            Änderungen werden dir innerhalb eines angemessenen Zeitraums vor der Betriebsunterbrechung angekündigt.
          </li>
        </ol>
      </li>


      <li>
        <strong>Datenschutz</strong>
        <ol>
          <li>Es gelten folgenden Datenschutzbestimmungen, die du jederzeit hier abrufen kannst: <a href="#">Hinweise zum
            Datenschutz</a>
          </li>
        </ol>
      </li>


      <li>
        <strong>Anwendbares Recht und Gerichtsstand</strong>
        <ol>
          <li>Es gilt das Recht der Republik Österreich unter Ausschluss des UN-Kaufrechts.</li>
          <li>Es wird inländische Gerichtsbarkeit vereinbart. Handelt es sich nicht um ein Verbrauchergeschäft (in
            welchem Fall § 14 KSchG gilt), ist das am Sitz von imGrätzl.at sachlich zuständige Gericht ausschließlich
            örtlich zuständig.
          </li>
          <li>Sollten einzelne Bestimmungen dieser AGBs unwirksam sein oder werden, so wird die Gültigkeit des Vertrags
            insgesamt hiervon nicht berührt.
          </li>
        </ol>
      </li>


    </ol>

  </div>

</section>