<% meta(
    title: t('.title'),
    robots: 'index, follow',
  )
%>

<section class="agb">

  <div class="hl-subtext">
    <h1>Allgemeine <span>Geschäftsbedingungen</span> imGrätzl.at / WeLocally.at</h1>
    <p>Stand: 01.10.2021</p>
  </div>

  <div class="block-txt">
    <p>Mit deiner Nutzung von WeLocally.at und der lokalen Ausprägung z.B. imGrätzl.at erklärst du dich mit unseren „Allgemeinen Geschäftsbedingungen“ (AGB) einverstanden. Betrieben wird WeLocally.at und seine lokalen Ausprägungen von der Firma morgenjungs GmbH, Breitenfeldergasse 14/2A in 1080 Wien.
    <br><br>Die digitale Plattform WeLocally bietet Services an, um die lokale digitale Sichtbarkeit seiner Nutzer*innen zu steigern, neue Formen der Zusammenarbeit und das Teilen von Ressourcen zu fördern.
    <br><br>WeLocally ist in verschiedenen Städten, Gemeinden bzw. Regionen verfügbar, in Wien ist WeLocally beispielweise unter dem Namen imGrätzl.at bekannt. Um die Lesbarkeit zu erleichtern, wird im folgenden Text „WeLocally“ oder „WeLocally.at“ als Sammelbegriff für alle lokalen Ausprägungen (z.B. imGrätzl.at.) verwendet.
    Bitte beachte auch unsere <%= link_to 'Datenschutzhinweise', info_datenschutz_path %>.</p>

    <ol class="list-formal">

      <li>
        <h3>Allgemeines</h3>
        <ol>
          <li>Die aktuelle Fassung der AGB kannst du jederzeit unter <%= link_to info_agb_url, info_agb_path %> einsehen.</li>
          <li>Um in Zukunft auf Veränderungen reagieren zu können, behalten wir uns das Recht vor, diese AGB jederzeit zu ändern. Sollte das notwendig sein, informieren wir dich über eine Mitteilung auf der Plattform und per E-Mail. Solltest du mit den Änderungen nicht einverstanden sein, bitten wir dich deinen Account zu löschen und WeLocally  und seine lokale Ausprägungen nicht mehr zu nutzen.</li>
        </ol>
      </li>


      <li>
        <h3>Deine Verantwortung</h3>
        <ol>
          <li>Du bist allein und ausschließlich verantwortlich für die durch dich hochgeladenen Inhalte. Du stellst WeLocally von allen diesbezüglichen Ansprüchen Dritter frei.</li>
          <li>Du akzeptierst, dass WeLocally unter Umständen persönlich unerwünschte Inhalte enthalten kann.</li>
          <li>Bitte beachte bei der Nutzung von WeLocally alle Gesetze und Vorschriften der Republik Österreich. Das Einstellen rechtswidriger oder nach diesen Nutzungsbedingungen unzulässiger Inhalte ist verboten.</li>
          <li>Du bist allein und ausschließlich verantwortlich für Informationen, die du auf WeLocally teilst. Stelle bitte keine Kontaktinformationen oder andere private Daten in öffentlich einsehbaren Bereichen ein, wenn du nicht möchtest, dass diese von anderen Nutzern gesehen werden.</li>
          <li>Bitte halte dein Passwort geheim und gib es nicht an Dritte weiter.</li>
          <li>Andere Mitglieder von WeLocally dürfen von dir nicht absichtlich getäuscht oder belästigt werden.</li>
          <li>Bitte achte auch auf unsere <%= link_to 'Datenschutzhinweise', info_datenschutz_path %>.</li>
        </ol>
      </li>


      <li>
        <h3>Zulässige und unzulässige Inhalte</h3>
        <ol>
          <li>WeLocally soll für alle NutzerInnen ein sicherer und freundlicher Ort der Begegnung sein. Deshalb ist es verboten, andere NutzerInnen zu beschimpfen, obszöne oder sonstige belästigende Äußerungen zu tätigen oder pornographisches und anderes jugendgefährdendes Material einzustellen oder zu verbreiten. Ebenso ist das Einstellen und die Verbreitung rassistischer, sexistischer sowie gewaltverherrlichender Inhalte verboten. Dies gilt auch für Inhalte, die zu terroristischen Aktivitäten oder sonstigen kriminellen und rechtswidrigen Handlungen motivieren sollen oder solche Handlungen auf irgendeine Art und Weise befürworten.
          </li>
          <li>WeLocally ist keine Dating-Plattform. Inhalte, die eindeutig auf sexuelle Kontakte abzielen, sind nicht erlaubt</li>
          <li>Lokale Wirtschaftstreibende, Kunst- & Kulturschaffende, Macher*innen, Vereine sind ein wichtiger Bestandteil von WeLocally. Deshalb sind alle Inhalte, die zu realen Begegnungen beitragen ausdrücklich erwünscht. Du kannst z.B. ein Treffen für einen Workshop, ein Konzert, eine Lesung oder einen Markt, an dem du ausstellst, anlegen. Bitte schreibe aber immer dazu, ob das Treffen kostenpflichtig ist. Wir behalten uns das Recht vor, Inhalte zu löschen, die unserer Meinung nach thematisch nicht zu WeLocally passen oder gegen diese AGB verstoßen. Die Bewerbung eines Angebotes, Dienstleistung oder Produkt sind nur im Bereich „Zuckerl“ erwünscht und zur Darstellung deines Angebotes auf deiner AnbieterInnen/Locationseite zulässig.</li>
        </ol>
      </li>


      <li>
        <h3>Urheber- und sonstige Schutzrechte</h3>
        <ol>
          <li>Bitte stelle keine Inhalte (z.B. Bilde oder Texte) ein, die die Rechte Dritter verletzen. Achte insbesondere auf die Einhaltung des Urheber- und Eigentumsrechts.</li>
          <li>Abgesehen von den durch dich und andere Mitglieder erstellten Inhalten (User generated Content), stehen alle sonstigen Elemente der Plattform (z.B. Texte, Darstellungen, Benutzeroberflächen, Marken, Logos, Designs, Bilder) im Eigentum von WeLocally oder der jeweiligen Inhaber und sind rechtlich geschützt.</li>
          <li>Kein Bereich der Plattform (inklusive aller Inhalte) darf ohne schriftliche Erlaubnis von WeLocally auf anderen Servern, Websites oder auf sonstigen zur Veröffentlichung und Verbreitung gedachten Medien dargestellt und/oder reproduziert werden.</li>
          <li>Der/die NutzerIn räumt der morgenjungs GmbH als Betreiberin der Plattform WeLocally ein räumlich und zeitlich uneingeschränktes, kostenloses Nutzungsrecht an den von ihm/ihr veröffentlichten Inhalten, insbesondere an den Treffen, den Raumteilern, den Toolteilern und der veröffentlichten Inhalten auf den Locationseiten auf im Coop & Share Marktplatz ein. Das Nutzungsrecht erfasst insbesondere das Recht, die Inhalte im Internet öffentlich zugänglich zu machen, an PartnerInnen zur Veröffentlichung zwecks Steigerung der Sichtbarkeit weiterzugeben, sowie in Printmedien abzudrucken und zu veröffentlichen.</li>
        </ol>
      </li>


      <li>
        <h3>Sonstige Rechte von WeLocally.at</h3>
        <ol>
          <li>Die Plattform darf dir Nachrichten senden, um dich über technische Weiterentwicklungen z.B. Diensteänderungen der Plattform zu informieren.</li>
          <li>WeLocally und seine lokalen Ausprägung behält sich das Recht vor, von dir erstellte Inhalte zu ändern oder zu löschen. Insbesondere dann, wenn sie gegen gesetzliche Bestimmungen oder gegen diese AGB verstoßen oder bei WeLocallyoder Dritten zu Schäden führen. Bei Verstößen gegen die AGBs behalten wir uns das Recht vor, dein Profil zu sperren oder zu löschen.</li>
          <li>WeLocally ist berechtigt, Hinweise auf rechtswidrige Aktivitäten einzelner Nutzer sowie entsprechend verdächtige Inhalte unter Wahrung des Datenschutzrechts bei den zuständigen Behörden anzuzeigen.</li>
          <li>WeLocally darf von dir eingestellte Inhalte (wie z.B. Fotos) in öffentlich einsehbaren Bereichen der Plattform anzeigen.</li>
        </ol>
      </li>


      <li>
        <h3>Angebote von lokalen Partnern / Zuckerl</h3>
        <ol>
          <li>WeLocally arbeitet mit lokalen Wirtschaftstreibenden aus den Grätzln (nachfolgend „Partner“) zusammen. Im Zuckerl und eventuell in anderen Bereichen von WeLocally stellen dir die lokalen Partner Angebote vor, die du direkt von diesen Partnern beziehen kannst.</li>
          <li>WeLocally hat das Recht Angebote von Partnern an dich weiterzuleiten, und sich dabei auf Nutzungsinformationen (z.B. dein Heimatgrätzl) und Daten aus deinem Profil zu stützen.</li>
          <li>WeLocally ist lediglich Vermittler. Beanspruchst du Angebote von lokalen Partnern, gehst du direkt eine vertragliche Bindung mit dem jeweiligen Partner ein, z.B. WeLocally ist dabei nicht Vertragspartei.</li>
          <li>WeLocally übernimmt für die Angebote seiner lokalen Partner keinerlei Haftung.</li>
        </ol>
      </li>


      <li>
        <h3>Raumteiler</h3>
        <ol>
          <li>WeLocally stellt im Bereich „Raumteiler“ registrierten Nutzer*innen die Möglichkeit zur Verfügung kostenlos Raumteiler Anzeigen zu veröffentlichen, um ihren Raum bzw. Raumpartner*innen Suche sichtbarer zu machen.</li>
          <li>Im Raumteiler treffen sich Vermieter (Raumhabende) und Mieter (Raumsuchende).</li>
          <li>WeLocally richtet sich mit dem Service “Raumteiler“ speziell an Einzel-& Kleinstunternehmen, Kleingewerbetreibende und Vereine.</li>
          <li>Es geht bei dem Service „Raumteiler“ um die Bildung von Raumpartnerschaften. Speziell geht es um geteilte Gewerbeflächen und Räume zum Arbeiten bzw. Mehrfachnutzungen von Gewerbeflächen. Es geht beim Raumteiler nicht um “Wohnen”. WeLocally behält sich das Recht vor Einträge (Artikel) im Raumteiler zu löschen, wenn diese die nicht zur inhaltlichen Ausrichtung des Raumteilers passen.</li>
          <li>Vermieter, die im Raumteiler eine Anzeige veröffentlichen, tragen die Verantwortung dafür, dass sie alle rechtlichen Bestimmungen einhalten und berechtigt sind ihre Räume zu vermieten.</li>
          <li>WeLocally unterstützt Vermieter und Mieter (Raumsuchende) bei der Abwicklung des Mietgeschäfts mit einem optionalen Buchungssystem und stellt einen Service zur Zahlungsabwicklung bereit, dafür verrechnet WeLocally eine Service Fee bei jedem Mietvorgang (darin inkludiert sind die Kosten des Payment Providers). Das eigentliche Mietgeschäft kommt immer zwischen Vermieter*innen und Raumsuchenden (Mieter) zustande.</li>
          <li>Wenn das optionale Raumteiler Buchungstool vom Nutzer verwendet wird, dann schickt der Raumsuchende dem Vermieter über WeLocally eine Mietanfrage für den Mietgegenstand. Er trägt dabei die Anzahl Miettage ein, danach berechnet sich die Gesamtmietsumme. Der Vermieter bekommt von WeLocally eine Benachrichtigung über den Mietwunsch. Nimmt der Vermieter die Mietanfrage über das Tool an, wird die Zahlung vom Mieter (Raumsuchenden) im Tool getätigt und diese Zahlung wird von WeLocally treuhänderisch empfangen. Der Raum wird persönlich vom Vermieter an den Mieter (Raumsuchenden) übergeben. Sobald der Raum an den Vermieter am Ende der Mietdauer zurückgegangen ist, bestätigt der Vermieter die Rückstellung des Raumes im Raumteiler. Wenn dieser Schritt erfolgt ist, wird die Zahlung von WeLocally an den Vermieter freigegeben.</li>
          <li>WeLocally übernimmt keine Verantwortung für die Zahlung außerhalb der ursprünglich vereinbarten Mietdauer, es sei denn, es wird eine Verlängerung der Mietdauer über WeLocally vorgenommen und weitere Servicegebühren berechnet.</li>
          <li>Eventuelle Kautionszahlungen werden zwischen Mieter (Raumsuchende) und Vermieter direkt und nicht über das Buchungstools abgewickelt.</li>
          <li>
            Wenn der reibungslosen Ablauf des Mietvorganges behindert wird, wie z.B. kurzfristige Kündigung des Mieters (Raumsuchenden) durch den Vermieter oder dass der Vermieter dem Mieter (Raumsuchenden) die gewünschte Nutzung nicht gestattet oder dass der Vermieter den Zustand und die Merkmale des Artikels nicht korrekt beschreibt, dann behalten wir uns folgende Schritte vor:
            <ol>
              <li>Den Mieter ggf. zu entschädigen. Die Entschädigung ist auf den Betrag beschränkt, der im Raumteiler Buchhungstool gezahlt wurde, abzüglich der Payment Sercice Provider Kosten;</li>
              <li>Für den Mieter (Raumsuchende) einen alternativen Raum für die Restdauer zu finden und zu buchen; oder nach unserem Ermessen einen geeigneten Ersatz in Abstimmung mit dem Mieter zu finden.</li>
              <li>Mieter (Raumsuchende) können über den Dienst getätigte Buchungen vor Mietbeginn stornieren. In diesem Fall erstattet WeLocally dem Mieter (Raumsuchenden) den gezahlten Betrag innerhalb eines angemessenen Zeitraums nach der Stornierung zurück, abzüglich der Payment Service Provider Kosten.</li>
              <li>Das Angebot des Vermieters kann Stornierungsbedingungen für den Fall, dass ein Mieter (Raumsuchende) eine Miete nach Bestätigung, jedoch noch vor der Nutzung stornieren will, enthalten. Falls keine Stornierungsbedingungen genannt sind, liegt es in der alleinigen Verantwortung des Vermieters und des Mieters (Raumsuchende), die Stornierung zu vereinbaren und WeLocally zu kontaktieren, falls Unterstützung nötig ist. Die Erstattung der Mietgebühr an den Mieter (Raumsuchenden) durch WeLocally hängt von den geltenden Stornierungsbedingungen für das Angebot oder von der Vereinbarung zwischen Mieter (Raumsuchende)und Vermieter nach Absprache mit WeLocally. Unabhängig von den Stornierungsbedingungen des Vermieters wird die WeLocally -Gebühr dem Mieter (Raumsuchende) nicht zurückerstattet.</li>
              <li>Raumsuchende, die wiederholt (3x) Buchungen vor Mietbeginn stornieren, müssen wir vom Raumteiler Service ausschließen, da der Buchungs-Service nur funktioniert, wenn alle Teilnehmer*innen nach fair play Prinzip handeln und verbindlich buchen. Das Raumteiler Buchungs-Tool ist kein Raum Reservierungstool.</li>
              <li>Mieter (Raumsuchende) können einen Artikel stornieren, bevor der Vermieter die Miete bestätigt. WeLocally storniert in diesem Fall jede Vorautorisierung für die gewählte Zahlungsmethode des Mieters (Raumsuchenden).</li>
            </ol>
          </li>
          <li> WeLocally stellt lediglich das Raumteiler Buchungstool zur Verfügung. WeLocally garantiert nicht für die Erbringung der Leistungen und übernimmt keine Verantwortung für die Nutzer. Der Vermieter und Mieter ist verpflichtet für einen geeigneten Versicherungsschutz zu sorgen. Eventuelle Mietverträge oder Nutzungsverträge sind eine Angelegenheit zwischen Mieter und Vermieter.</li>
          <li>Alle Nutzer sind dafür verantwortlich, diese AGB einzuhalten und stets zusammenzuarbeiten. Vermieter müssen Räume korrekt und wahrheitsgemäß beschreiben und aktuelle Fotos beifügen. Nutzer sollten durchgehend kooperieren und kommunizieren. Räume dürfen nur bestimmungsgemäß verwendet werden und müssen achtsam behandelt werden. Die Räume müssen nach den Bedingungen des Vermieters zurückgegeben werden und im Originalzustand sein.</li>
          <li>Eine Einkommenssteuerpflicht kann bestehen; der Vermieter ist für die korrekte Versteuerung seiner Mieteinnahmen verantwortlich.</li>
          <li>Der Mieter (Raumsuchende) bestätigt alle für die Nutzung des geliehenen Raumes notwendigen Ausbildungen (z.B. für eine Werkstatt), Bedienungs- und Sicherheitsvorkehrungen zu kennen und einzuhalten. Der Mieter (Raumsuchende) verpflichtet sich vorgeschriebene Schutzbekleidung, wie Brillen, Schuhe usw. zu tragen.</li>
          <li>Abgesehen von den Bedingungen zur Zahlungsabwicklung im Raumteiler Buchungstool ist WeLocally nicht verpflichtet eine Gewährleistung für die Räumel im Raumteiler zu bieten.</li>
        </ol>
      </li>


      <li>
        <h3>Zahlungsverarbeitung</h3>
        <ol>
          <li>Die Zahlungsverarbeitung für die WeLocally -Dienste erfolgt über Stripe und unterliegt dem Stripe Connected Account Agreement, zu dem auch die Stripe Terms of Service gehören (gemeinsam „Stripe Services Agreement“). Durch Bestätigung dieser Bedingungen oder weitere Nutzung von WeLocally erklären sich die registrierten WeLocally bereit, das Stripe Services Agreement in der aktuell gültigen Fassung verbindlich anzuerkennen.</li>
          <li>Damit WeLocally Zahlungen über Stripe aktivieren kann, erklären sich die registrierten NutzerInnen bereit, WeLocally richtige und vollständige Angaben über sich selbst und ihr Unternehmen zu machen. Zudem ermächtigen die NutzerInnen WeLocally, diese Angaben sowie von Stripe bereitgestellte Transaktionsdaten zu Nutzung der Zahlungsdienste zu teilen.</li>
        </ol>
      </li>


      <li>
        <h3>Toolteiler</h3>
        <ol>
          <li>WeLocally stellt im Bereich „Toolteiler“ registrierten NutzerInnen die Möglichkeit zur Verfügung Beiträge zu veröffentlichen, um ihr Arbeitsequipment und Ausstattung (Artikel) am Arbeitsstandort an andere registrierte NutzerInnen gegen eine Gebühr zu verleihen. WeLocally richtet sich mit dem Service „Toolteiler“ speziell an Kleingewerbetreibende, Vereine, EPU und lokale AkteurInnen. Es geht bei dem Service „Toolteiler“ hauptsächlich um die Vermittlung von Arbeitsequipment und nicht um das Verleihen von Freizeit- & Alltagsgegenstände. WeLocally behält sich das Recht vor Einträge (Artikel) im Toolteiler zu löschen, wenn diese die nicht zur inhaltlichen Richtung des Toolteilers passen.</li>
          <li>WeLocally unterstützt Leiher und Verleiher bei der Abwicklung des Mietgeschäfts mit einem Buchungssystem und stellt Services zur Zahlungsabwicklung bereit, dafür verrechnet WeLocally eine Service Fee bei jedem Mietvorgang. Das eigentliche Mietgeschäft kommt zwischen Verleiher und Leiher zustande.</li>
          <li>Der Mieter schickt dem Vermieter über WeLocally eine Mietanfrage für einen Mietgegenstand. Er trägt dabei die Anzahl Miettage ein, danach berechnet sich die Gesamtmietsumme. Der Vermieter bekommt von WeLocally eine Benachrichtigung über den Mietwunsch. Nimmt der Vermieter die Mietanfrage an, wird die Zahlung getätigt und von WeLocally treuhänderisch empfangen. Der Artikel wird persönlich vom Vermieter an den Mieter übergeben. Sobald der Artikel an den Vermieter am Ende der Mietdauer zurückgegangen ist, bestätigt der Vermieter den Empfang des Artikels im Toolteiler. Wenn dieser Schritt erfolgt ist, wird die Zahlung von WeLocally an den Vermieter freigegeben.</li>
          <li>WeLocally übernimmt keine Verantwortung für die Zahlung außerhalb der ursprünglich vereinbarten Mietdauer, es sei denn, es wird eine Verlängerung der Mietdauer über WeLocally vorgenommen und weitere Servicegebühren berechnet.</li>
          <li>Der Toolteiler Service ist ausgerichtet auf die persönliche Übergabe der Mietgegenstände. WeLocally bietet deshalb keinerlei Versicherungsschutz für den Versand durch einen externen Anbieter. Wird der Artikel außerhalb der Mietdauer zurückgegeben, behalten wir uns vor, dem Mieter einen bis zu zwei Mal (2x) höheren Mietpreis zu berechnen.</li>
          <li>
            Wenn ein Materialproblem auftaucht oder ein anderes Problem den reibungslosen Ablauf des Mietvorgangs behindert, wie z.B. kurzfristige Kündigung der Miete durch den Vermieter oder dass der Vermieter dem Mieter die gewünschte Nutzung nicht gestattet oder dass der Vermieter den Zustand und die Merkmale des Artikels nicht korrekt beschreibt, dann behalten wir uns folgende Schritte vor:
            <ol>
              <li>Den Mieter zu entschädigen. Die Entschädigung ist auf den Betrag beschränkt, der durch die Dienste gezahlt wurde;</li>
              <li>Für den Mieter einen alternativen Artikel für die Restdauer zu finden und zu buchen; oder nach unserem Ermessen einen geeigneten Ersatz zu finden.</li>
              <li>Mieter können über den Dienst getätigte Buchungen stornieren. In diesem Fall erstattet WeLocally dem Mieter den gezahlten Betrag innerhalb eines angemessenen Zeitraums nach der Stornierung zurück.</li>
              <li>Mieter können einen Artikel stornieren, bevor der Vermieter die Miete bestätigt. WeLocally storniert in diesem Fall jede Vorautorisierung für die gewählte Zahlungsmethode des Mieters. Das Angebot des Vermieters kann Stornierungsbedingungen für den Fall, dass ein Mieter eine Miete nach Bestätigung, jedoch noch vor der Nutzung stornieren will, enthalten. Falls keine Stornierungsbedingungen genannt sind, liegt es in der alleinigen Verantwortung des Vermieters und des Mieters, die Stornierung zu vereinbaren und WeLocally zu kontaktieren, falls Unterstützung nötig ist. Die Erstattung der Mietgebühr an den Mieter durch WeLocally hängt von den geltenden Stornierungsbedingungen für das Angebot oder von der Vereinbarung zwischen Mieter und Vermieter nach Absprache mit WeLocally ab. Unabhängig von den Stornierungsbedingungen des Vermieters wird die WeLocally Gebühr dem Mieter nicht zurückerstattet.</li>
            </ol>
          </li>
          <li>Alle Rückgabebestimmungen sind endgültig und für die NutzerInnen des WeLocally Toolteiler-Services verbindlich.  WeLocally vermittelt lediglich zwischen Mieter und Vermieter. Wir garantieren keine Erbringung der Leistungen und übernehmen keine Verantwortung für die Nutzer. Alle Nutzer sind dafür verantwortlich, diese AGB einzuhalten und stets zusammenzuarbeiten. Dazu gehören folgende Verfahren für Versicherung und Mietverlängerung. Vermieter müssen Artikel korrekt und wahrheitsgemäß beschreiben und möglichst aktuelle Fotos beifügen. Nutzer sollten durchgehend kooperieren und kommunizieren. Artikel dürfen nur bestimmungsgemäß verwendet werden und müssen achtsam behandelt werden. Alle Artikel müssen nach den Bedingungen des Vermieters zurückgegeben werden und im Originalzustand sein. Eine Einkommenssteuerpflicht kann bestehen; der Vermieter ist für die korrekte Versteuerung seiner Mieteinnahmen verantwortlich.</li>
          <li>Der Mieter bestätigt alle für die Nutzung des geliehenen Gerätes notwendigen Ausbildungen (z.B. Motorsägenschein), Bedienungs- und Sicherheitsvorkehrungen zu kennen und einzuhalten und ist dafür verantwortlich, sich diese vor Inbetriebnahme des geliehenen Gegenstandes zur Kenntnis zubringen bzw. abzuschließen. Der Mieter verpflichtet sich vorgeschriebene Schutzbekleidung, wie Brillen, Schuhe usw. zu tragen.</li>
          <li>Abgesehen von den Bedingungen der Rückgabeerklärung ist WeLocally nicht verpflichtet, eine Gewährleistung für die Artikel im Toolteiler zu bieten.</li>
        </ol>
      </li>



      <li>
        <h3>Haftung und Verantwortung von WeLocally</h3>
        <ol>
          <li>Die Inhalte auf WeLocally wurden sorgfältig erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernimmt WeLocally keine Gewähr. WeLocally haftet insbesondere nicht für die Verfügbarkeit von auf WeLocally angebotenen Leistungen oder das Zustandekommen oder die vertragsgemäße Erfüllung eines aufgrund einer Kontaktherstellung zwischen einem Nutzer und einem anderen Nutzer zustande gekommenen Vertrages.</li>
          <li>Als Betreiber ist WeLocally für eigene Inhalte auf der Plattform verantwortlich. Allerdings ist WeLocally nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Die Verpflichtung zur Entfernung dieser Inhalte bleibt davon unberührt. Jedoch ist eine diesbezügliche Haftung erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen wird WeLocally diese Inhalte sofort entfernen.</li>
          <li>WeLocally bittet dich, Missbrauchsfälle unverzüglich unter wir@welocally.at zu melden.</li>
          <li>Soweit gesetzlich zulässig, ist jede Haftung von WeLocally ausgeschlossen. Insbesondere ist WeLocally berechtigt, jederzeit den Betrieb der Plattform einzustellen oder einzuschränken. Für die ununterbrochene Verfügbarkeit der Plattform wird von WeLocally keine Garantie übernommen.</li>
          <li>Haftung für Hyperlinks: Auf WeLocally sind Links zu externen Webseiten Dritter zu finden, auf deren Inhalte WeLocally keinen Einfluss hat. Für fremde Inhalte wird von WeLocally keine Gewähr übernommen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der jeweiligen Seiten verantwortlich. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen wird WeLocally derartige Links sofort überprüfen und ggf. entfernen.</li>
        </ol>
      </li>


      <li>
        <h3>Ausfall und Wartungsarbeiten</h3>
        <ol>
          <li>WeLocally hostet die Plattform auf einer der aktuellen Bedürfnissen angemessenen Serverumgebung. Im Hinblick auf Kapazitätsgrenzen, die Sicherheit und Integrität der Server oder zur Durchführung technischer Maßnahmen, behält sich WeLocally das Recht vor, seine Leistung temporär zu beschränken. Bei einem Systemausfall oder einer Serverbeeinträchtigung und hierdurch verursachter fehlerhafter Übermittlung deiner Daten, die weder auf vorsätzliches, noch grob fahrlässiges Verhalten von WeLocally, seinen Mitarbeitern oder Erfüllungsgehilfen beruht, bestehen für dich kein Anspruch auf Schadensersatz.</li>
          <li>Voraussehbare notwendige Betriebsunterbrechungen für vorbeugende Wartungsarbeiten oder technische Änderungen werden dir innerhalb eines angemessenen Zeitraums vor der Betriebsunterbrechung angekündigt.</li>
        </ol>
      </li>


      <li>
        <h3>Datenschutz</h3>
        <ol>
          <li>Es gelten folgenden Datenschutzbestimmungen, die du jederzeit <%= link_to 'hier', info_datenschutz_path %> einsehen kannst.
          </li>
        </ol>
      </li>


      <li>
        <h3>Anwendbares Recht und Gerichtsstand</h3>
        <ol>
          <li>Es gilt das Recht der Republik Österreich unter Ausschluss des UN-Kaufrechts.</li>
          <li>Es wird inländische Gerichtsbarkeit vereinbart. Handelt es sich nicht um ein Verbrauchergeschäft (in welchem Fall § 14 KSchG gilt), ist das am Sitz von WeLocally sachlich zuständige Gericht ausschließlich örtlich zuständig.</li>
          <li>Sollten einzelne Bestimmungen dieser AGBs unwirksam sein oder werden, so wird die Gültigkeit des Vertrags insgesamt hiervon nicht berührt.</li>
        </ol>
      </li>


    </ol>

  </div>

</section>
