<% meta(
    title: t('.title'),
    robots: 'index, follow',
  )
%>

<section class="datenschutz">

  <div class="hl-subtext">
    <h1>Hinweise zur <span>Datenschutzrichtlinie</span></h1>
    <p>Aktualisiert: 01. Oktober 2021</p>
  </div>

  <div class="block-txt">

    <p>
      Diese Plattform ist ein Angebot der morgenjungs GmbH. Mit dieser Datenschutzerklärung informieren wir dich über die Verarbeitung personenbezogener Daten im Zusammenhang mit der Nutzung von WeLocally.at und imGrätzl.at.
    </p>

    <p>
      <strong>Zur Information:</strong> WeLocally.at und imGrätzl.at nutzen die selbe Datenbank und eine technische Infrastruktur, der einzige Unterschied ist, dass die Plattform in Wien imGrätzl.at heißt und in den anderen aktivierten Gebieten unter dem Namen WeLocally.at läuft. Technisch gesehen, ist es eine Plattform.
    </p>

    <h3>Wer ist für die Datenverarbeitung verantwortlich, an wen kann ich mich wenden?</h3>

    <div class="cardBox">
      Morgenjungs GmbH<br>
      Breitenfeldergasse 14/2A, 1080 Wien<br>
      Geschäftsführerin: Mirjam Mieschendahl<br>
      E-Mail: <a href="mailto:wir@imgraetzl.at">wir@imgraetzl.at</a><br>
      Mobil: +43 699 / 150 28 277 (Mirjam)
    </div>

    <p>
      Unsere Datenschutzrichtlinien erläutern wie die Plattform Informationen über dich sammelt, nutzt und veröffentlicht. Die Begriffe „imGrätzl“ “WeLocally” „wir,“ „uns,“ und „unser“ umfassen den Betreiber der Plattform imGrätzl.at bzw. von WeLocally.at und das ist die morgenjungs GmbH.
    </p>

    <p>
      Wir verwenden die Begriffe “Mitglied,”„du,“ und „dein“ für alle Personen, die unsere Plattform nutzen. Diese Datenschutzrichtlinien gelten für die Verarbeitung von Informationen, die wir von Mitgliedern und anderen Einzelpersonen sammeln, wenn du unsere „Plattform“ benutzt, das heißt jegliche Webseiten, Anwendungen, oder Services, die wir anbieten oder wenn du mit uns kommuniziert. Für Informationen über die Auswahlmöglichkeiten, die wir unter diesen Richtlinien anbieten, siehe unten „Deine Auswahlmöglichkeiten“. Diese Datenschutzrichtlinien gelten nicht für Informationen, die du eventuell an Dritte weitergibst, wie zum Beispiel Mitglieder und andere, denen du möglicherweise Informationen über dich mitteilst.
    </p>

    <p>
      <a href="#1">1. Erfassung von Daten</a><br>
      <a href="#2">2. Nutzung der Informationen</a><br>
      <a href="#3">3. Informationsaustausch</a><br>
      <a href="#4">4. Zusätzliche Einzelheiten</a><br>
      <a href="#5">5. Deine Auswahlmöglichkeiten</a><br>
      <a href="#6">6. Datenrechte</a><br>
      <a href="#7">7. Kontaktiere uns</a><br>
    </p>


  <ol class="list-formal">

    <li>
      <h3 id="1">Erfassung von Daten</h3>
      <p>
        <b>Zusammenfassung:</b> Wir erfassen Informationen über Dich wenn Du:
        <ul>
          <li>Ein Konto einrichtest;</li>
          <li>Die Plattform besuchst;</li>
          <li>An einer Veranstaltung teilnimmst, ein virtuelles Schaufenster erstellst, einer Gruppe beitrittst, ein Coop & Share Gesuch veröffentlichst, einen Toolteiler erstellst, einen Raumteiler einträgst, unsere Website besuchst und mit uns kommuniziert.</li>
          <li>Wir erfassen auch Daten, wie zum Beispiel Nutzungsstatistiken, durch die Nutzung von Cookies, Server-Logs und ähnlichen Technologien. Wenn du gewisse Funktionen wählst, werden wir auch Daten über andere Quellen erfassen, wie z.B. Einladungen via Mail</li>
        </ul>
      </p>

      <br>

      <p>
        <strong>1.1 Informationen, die du uns zur Verfügung stellst</strong>
        Wir sammeln Informationen, die du uns direkt zur Verfügung stellst. Wir sammeln beispielsweise Informationen, die du angibst, wenn du ein Konto erstellst, ein virtuelles Schaufenster erstellst, einer Gruppe beitrittst, oder bei einem Raumteiler dein Interesse signalisierst, ein Formular ausfüllst oder mit uns kommunizierst. Zu der Art von Information die wir sammeln gehören dein Name, Benutzername, Passwort, E-Mail-Adresse, Postanschrift, Angaben zur Zahlungsmethode, Fotos, Teilnahme bei Treffen, Daten, die du beim virtuellen Schaufenster eingibst, Daten, die du beim Toolteiler hinterlegst, Gruppenauswahl, und jegliche andere Daten, die du uns angibst. Informationen über dein Geschlecht und Interessen sind fakultativ.
        <br><br>
        Gelegentlich deuten die Informationen, die du uns beim Zutritt eines Treffens, eines Raumteilers, oder einer Gruppe angibst, auf deinen Glauben, deine politischen Ansichten, dein Gesundheitszustand; oder deine sexuelle Identität hin. Diese und andere sensible Personaldaten stehen unter besonderem Schutz. Persönliche Informationen oder sensible Personaldaten über dich oder die von anderen zu posten, verstöβt gegen unsere Richtlinien.
      </p>

      <br>

      <p>
        <strong>1.2 Daten, die wir automatisch erfassen, wenn du die Plattform verwendest</strong>
        Wenn du unsere Plattform verwendest, erfassen wir automatisch Daten über dich, einschließlich:<br>
        <ul>
          <li><b>Log-Informationen:</b> Anmeldedaten: Wir erfassen Anmeldeinformationen über deine Nutzung der Plattform, einschließlich des Typs des verwendeten Browsers, der Zugriffszeiten Dauer und Häufigkeit deiner Zugriffe, der angesehenen Seiten, deiner IP-Adresse und der Seite, von der aus du auf unsere Plattform gekommen bist.</li>
          <br>
          <li><b>Geräteinformation:</b> Gerätedaten: Wir erfassen Daten über den Computer oder das mobile Gerät, dass du zum Zugriff auf unsere Plattform verwendest, einschließlich des Hardware-Modells, Betriebssystems und der Version, eindeutige der Gerätekennung und Daten des mobilen Netzwerks.</li>
          <br>
          <li><b>Informationen gesammelt durch Cookies und andere Tracking-Technologien:</b> Zusammen mit unseren Dienstleistern sammeln wir Informationen mithilfe von Technologien wie Cookies, Pixel-Tags (auch Clear GIFs genannt, Web-Beacons oder Pixel). Cookies sind kleine Dateien die auf deiner Festplatte oder in deinem Gerätespeicher gespeichert sind. Sie helfen uns die Plattform und deine Erfahrung zu verbessern, und die Nutzung unserer Plattform zu verfolgen. Pixel-Tags sind elektronische Bilder die auf unserer Plattform oder unseren E-Mails verwendet werden können und die Nutzung unserer Plattform sowie die Wirksamkeit der Kommunikation verfolgen.</li>
        </ul>
      </p>

      <br>

      <p>
        <strong>1.3 Daten, die wir von anderen Quellen erfassen</strong>
        Wir sammeln eventuell von anderen Quellen Daten über dich, wie etwa durch bestimmte Funktionen der Plattform, die du auswählst, aber nur dort wo diese Dritten entweder bereits deine Zustimmung erhalten haben oder rechtlich gestattet oder gefordert sind uns diese Daten mitzuteilen. Beispiel hierfür sind:
        <ul>
          <li><b>Einladungen.</b> Falls ein anderes Mitglied dir in Zukunft eine Einladung z.B. zu einer Gruppe, einem Raumteiler, einem Treffen durch unsere Plattform schickt, können wir eventuell bestimmte persönliche Daten erhalten, wie zum Beispiel deinen Namen, oder deine E-Mail-Adresse. Falls du ein eingeladener Gast bist, werden wir dir automatisch eine Einladung zu unserer Plattform schicken, und falls diese unbeantwortet bleibt, eine einmalige weitere Einladung. imGrätzl.at speichert diese Kontaktdaten nur, um diese Einladungen zu verschicken und ihren Erfolg zu beurteilen. Du kannst dich von weiteren Einladungen abmelden indem du den Anleitungen in diesen Nachrichten folgst. Du kannst dich auch an wir@imgraetzl.at oder wir@welocally.at wenden, um zu beantragen, dass wir diese Daten von unserer Datenbank löschen.</li>
        </ul>
      </p>

    </li>


    <li>
      <h3 id="2">Nutzung der Informationen</h3>

      <b>Zusammenfassung:</b> Wir verwenden Informationen über dich, um:
      <br><br>
      <ul>
        <li>imGrätzl.at und WeLocally.at zu betreiben, zu verbessern, zu fördern und zu schützen;</li>
        <li>mit dir zu kommunizieren; und</li>
        <li>Inhalte zu personalisieren.</li>
      </ul>

      <br>

      <p>
        <strong>2.1 Betrieb unserer Plattform</strong>
        Wir dürfen Informationen über dich für verschiedene Zwecke in Bezug auf den Betrieb unserer Plattform verwenden, einschließlich zur:
        <ul>
          <li>Bereitstellung, Erhaltung und Verbesserung unserer Plattform, einschließlich der Verarbeitung von Transaktionen und der Entwicklung von neuen Produkten und Dienstleistungen und die Leistung der Plattform zu verwalten;</li>
          <li>Information über dich anzeigen, zum Beispiel die Liste deiner teilgenommenen Treffen, deiner Raumteiler, deiner Toolteiler, oder ausgewählten Gruppen, welche auf deinem Profil sichtbar sein wird.</li>
          <li>Die Plattform individuell zu gestalten, beispielsweise um Inhalte vorzuschlagen, die wir für dich interessant finden;</li>
          <li>Du kannst Informationen über dein Gebrauch der Plattform durch ein soziales Netzwerk eines Drittanbieters teilen, wenn du z.B. einen Link zu deinem Profil postest</li>
          <li>Überwachung und Analyse von Trends, Nutzung und Aktivitäten in Verbindung mit unserer Plattform;</li>
          <li>Betrügerische Transaktionen zu entdecken, überprüfen und verhindern, Missbrauch, und andere rechtswidrige Handlungen; um die Rechte, das Eigentum oder die Sicherheit von imGrätzl.at und WeLocally.at und anderen zu sichern; um die Einhaltung unserer Richtlinien durchzusetzen, und um anwendbares Recht und Anfragen von staatlicher Seite nachzukommen.</li>
          <li>Buchhaltungs- und Verwaltungsaufgaben auszuführen und Rechtsansprüche durchzusetzen und zu verwalten.</li>
        </ul>
      </p>

      <br>

      <p>
        <strong>2.2 Kommunikation mit dir</strong>
        Wir dürfen Informationen über dich für verschiedene Zwecke in Bezug auf die Kommunikation mit dir verwenden, einschließlich um:
        <ul>
          <li>Antworten auf deine Kommentare, Fragen, Anfragen und Kundendienst zu leisten;</li>
          <li>Mit dir zu kommunizieren, gemäß deinen Kontoeinstellungen, über Produkte und Services, sowie von uns oder von anderen angebotene Veranstaltungen, um Nachrichten, die wir für dich interessant finden, anzubieten, um Online-Befragungen durchzuführen, um dich über Veranstaltungen auf unserer Plattform zu kontaktieren, und um sonst mit dir gemäß Absatz 2.3 zu kommunizieren.</li>
          <li>Kommunikationen von anderen Mitgliedern im Einklang mit den Kommunikationseinstellungen, die du in deinem Konto eingegeben hast, zu übermitteln;</li>
          <li>Dir technische Mitteilungen, Aktualisierungen, Sicherheitswarnungen und Unterstützung sowie administrative Nachrichten zu schicken;</li>
        </ul>
      </p>

      <br>

      <p>
        <strong>2.3 Werbung und andere Verwendungen</strong>
        Wir dürfen Informationen über dich für verschiedene andere Zwecke verwenden, einschließlich zur:
        <ul>
          <li>Bereitstellung von Werbung, Inhalten oder Sponsorings, die Mitgliedsprofilen oder Interessen entsprechen;</li>
          <li>Durchführung von Wettbewerben und anderen Förderungen;</li>
          <li>Mit Daten, die wir für die in dieser Datenschutzrichtlinie beschriebenen Zwecke erfassen verbinden; und</li>
          <li>Ausführung aller anderen dir zum Zeitpunkt der Erfassung der Daten beschriebenen Zwecke;</li>
        </ul>
      </p>

      <br>

      <p>
        <strong>2.4 Rechtsgrundlage für die Verarbeitung</strong>
        Unsere Rechtsgrundlage, um die vorstehend beschriebenen Informationen zu sammeln und zu benutzen ist von der Art der Information, und dem bestimmten Zusammenhang in dem sie gesammelt wurde, abhängig.
        <ul>
          <li>Wir verarbeiten Informationen über dich um unsere Serviceleistungen gemäß unserer Allgemeine Geschäftsbedingungen anzubieten, beispielsweise um es dir zu ermöglichen ein virtuelles Schaufenster einzurichten, an Treffen teilzunehmen, beim Raumteiler teilzunehmen, oder Gruppen beizutreten, einen Toolteiler zu leihen oder zu verleihen oder um dein Profil anderen Mitgliedern zu zeigen, und um es uns zu ermöglichen, dir wichtige Service-Updates zu schicken.</li>
          <li>Wir verarbeiten Informationen über dich soweit dies in unserem berechtigten Interesse steht und deine Rechte nicht Vorrang haben (zum Beispiel: Betrugsverhinderung, Sicherheit der Netzwerk- und Informationssystemen, um auf deine Mitteilungen zu antworten, den Betrieb der Gruppen und des Raumteilers, und um unsere Plattform zu verbessern).</li>
          <li>In einigen Fällen kann es sein, dass du uns vertrauliche Informationen über dich mitteilst; beispielsweise kann allein die Treffenteilnahme auf Informationen über deine Gesundheit, Religion, politischen Ansichten oder sexuelle Identität hinweisen. Solchen Treffen beizutreten, oder Informationen über diese Themen auf der Plattform zu posten ist völlig freiwillig und geschieht mit deiner ausdrücklichen Zustimmung.</li>
          <li>In manchen Fällen kann es sein, dass wir rechtlich dazu verpflichtet sind, Informationen über dich zu sammeln, oder ansonsten die Information benötigen um deine wesentlichen Interessen, oder jene einer anderen Person zu schützen.</li>
          <li>Wir können auch Informationen gemäß gesetzlichen Anforderungen verarbeiten oder um einen Vertrag zu erfüllen.</li>
        </ul>
      </p>


    </li>

    <li>
      <h3 id="3">Informationsaustausch</h3>

      <p>
        <b>Zusammenfassung:</b> Wir tauschen Informationen über dich nur in der in dieser Datenschutzrichtlinie beschriebenen Weise.
        <br>
        Wir dürfen Informationen über dich offenlegen:
        <br>
        <ul>
          <li>an Mitglieder, abhängig von der Auswahl, die du über die Plattform triffst;</li>
          <li>an unsere Drittpartei-Dienstleister, die uns dabei helfen, unsere Plattform zu betreiben oder zu verbessern;</li>
          <li>an Behörden, um die rechtlichen Verpflichtungen einzuhalten und unsere Rechte und unser Eigentum zu schützen und zu verteidigen und</li>
          <li>an ein Tochterunternehmen oder einen Rechtsnachfolger als Teil einer Unternehmenstransaktion. Wir dürfen ebenfalls anonymisierte oder zusammengefasste Informationen austauschen.</li>
        </ul>
      </p>

      <br>

      <p>
        <strong>3.1 Über unsere Plattform</strong>
        Wir teilen einige Informationen, die wir sammeln, indem wir sie auf unserer Plattform anzeigen gemäß deinem Mitgliedsprofil und Kontoeinstellungen. Einige Informationen, wie dein Benutzernamen und dein virtuelles Schaufenster oder auch die Events und Raumteiler, Toolteiler bzw. Coop & Share Beiträge, sind immer öffentlich. Einige Informationen, wie deine Gruppenteilnahme, ist standardmäßig öffentlich, aber können auf unserer Plattform unsichtbar sein. Wir empfehlen, dass du die Kontoeinstellungen der Gruppe und welche Informationen verfügbar sein werden zu verifizieren bevor du der Gruppe beitrittst, um sicherzustellen, dass du mit den Informationen, die für andere sichtbar sind, einverstanden bist.
      </p>
      <br>
      <p>
        <strong>3.2 Gruppen</strong>
        Mitglieder, die eine Gruppe verwalten, sogenannte „Organisatoren“, haben Zugriff auf die Inhalten in ihren Gruppen. Es ist hilfreich für die Organisatoren Zugriff auf die E-Mail-Adressen der Veranstalter und anderen Gruppenmitgliedern, innerhalb ihres Netzwerks ,zu haben, um die Kommunikation und die Gruppenverwaltung zu erleichtern.
      </p>
      <br>
      <p>
        <strong>3.3 Mit unseren Kooperationspartnern</strong>
        Wir unterhalten Kooperationen z.B. mit Wohnbaugenossenschaften, die uns dabei unterstützen die Events und Veranstaltungen, die von den Nutzer*innen auf der Plattform veröffentlicht werden, über ihre eigenen Kommunikationskanäle für die Bewohner*innen sichtbar zu machen. Für den Austausch der Daten wurde eine Schnittstelle zwischen den Kooperationspartnern eingerichtet. Die von den Nutzer*innen veröffentlichen Events werden an diese Schnittstelle geschickt. Der Kooperationspartner veröffentlicht diese übermittelten Events wiederum auf digitalen schwarzen Brettern in “seinen” Häusern und im hauseigenen Informationskanal.
      </p>
      <br>
      <p>
        <strong>3.4 Mit unseren Dienstleistern</strong>
        Wir nutzen Dienstleister, um uns in Bezug auf den Betrieb sowie der Optimierung der Plattform mit bestimmten Funktionen zu unterstützen, wie zum Beispiel Zahlungsabwicklung, E-Mail-Übertragung, Umfragen oder Wettbewerbe durchzuführen oder die Werbeanzeigenverwaltung zu unterstützen. Auch von uns eingesetzte Auftragsverarbeiter (Art. 28 DSGVO) können zu diesen genannten Zwecken Daten erhalten. Dies sind Unternehmen in den Kategorien IT-Dienstleistungen, Logistik, Druckdienstleistungen, Telekommunikation, Wohnbaugenossenschaften, Beratung und Consulting sowie Vertrieb und Marketing. Wir geben deine personenbezogenen Daten nur dann an Dritte weiter, wenn dies zur Erbringung der Dienstleistungen, zu Abrechnungszwecken oder zur Abwicklung des zwischen dir und der Plattform bestehenden Vertragsverhältnisses (Art. 6 Abs. 1 lit. b DSGVO) oder für den Betrieb und die Pflege der Plattform oder für die statistische Auswertung (Art. 6 Abs. 1 lit. f DSGVO) erforderlich ist.
      </p>
      <br>
      <p>
        <strong>3.5 Befolgung des Gesetzes und Schutz von imGrätzl.at und WeLocally.at</strong>
        Wir können auf deine Daten zugreifen, sie bewahren, beziehungsweise an Dritte weitergeben, den Inhalt der Nachrichten inbegriffen, falls es uns erscheint, dass diese Offenlegung gemäß oder nötig ist nach anwendbarem Recht, Verordnungen, rechtlichen Verfahren oder Kontrollen. Wir können auch deine Daten weitergeben, falls es uns erscheint, dass deine Handlungen mit unseren Allgemeine Geschäftsbedingungen oder dazugehörigen Richtlinien unvereinbar sind, oder, falls nötig, die Rechte, Eigentum, oder Sicherheit zu schützen oder um Betrug oder Missbrauch von imGrätzl.at und WeLocally.at und anderen zu verhindern.
      </p>
      <br>
      <p>
        <strong>3.5 Austausch von Informationen zwischen verbundenen Unternehmen und bei Unternehmensfusion, Verkauf oder bei anderen Übertragungen von Vermögenswerten</strong>
        Falls imGrätzl.at oder WeLocally an einer Firmenfusion, Übernahme, Finanzierung, Umstrukturierung, Insolvenz, oder Verkauf beteiligt ist, können als Teil dieser Transaktion Informationen über dich geteilt, verkauft oder übertragen werden. Wir können auch Informationen über dich mit aktuellen oder zukünftigen Muttergesellschaften oder Tochtergesellschaften teilen.
      </p>
      <br>
      <p>
        <strong>3.7 Andere Situationen</strong>
        Wir können Informationen über dich unkenntlich machen oder zusammenfassen, damit du nicht mehr identifiziert werden kannst. Wir können auch Informationen über dich mit deiner Zustimmung oder deiner Anweisung nach teilen, oder wenn wir gesetzlich dazu berechtigt sind.
      </p>
    </li>


    <li>
      <h3 id="4">Zusätzliche Einzelheiten</h3>

      <p>
        <strong>Zusammenfassung:</strong>
        <ul>
          <li>Mit deiner Erlaubnis, erlauben wir anderen Technologien, welche Informationen über dich sammeln zu nutzen, um analytische Dienstleistungen anzubieten, oder um imGrätzl.at bzw. WeLocally.at Mails zu versenden. Du kannst eventuell das Sammeln oder die Nutzung dieser Daten deaktivieren.</li>
          <li>Wir sind bemüht deine persönlichen Informationen zu sichern und haben technische und organisatorische Maßnahmen gemäß den optimalen Vorgehensweisen der Branche implementiert. Wir können jedoch nicht gewähren, dass diese Kontrollen absolute Sicherheit bieten.</li>
          <li>Diese Datenschutzrichtlinie wird regelmäßig aktualisiert und gilt nicht für Drittanbieter.</li>
        </ul>
      </p>

      <br>

      <p>

        <strong>4.1 Von anderen bereitgestellte Analytik- und Bezahl- und Maildienste</strong>
        <br>
        Mit deiner Zustimmung können wir anderen erlauben Cookies, Web-Beacons, Gerätekennungen und weitere Technologien um Informationen über die Art, wie du die Plattform und andere Webseiten und Online-Services benutzt, zu sammeln.
        <br><br>
        <strong>imGrätzl.at und WeLocally.at benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“).</strong>,
        <br>
        Google Analytics verwendet sog. „Cookies“, Textdateien, die auf deinem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch dich ermöglichen. Die durch den Cookie erzeugten Informationen über deine Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Durch die Aktivierung der IP-Anonymisierung auf dieser Webseite, wird deine IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.
        <br><br>
        Im Auftrag von imGrätzl.at wird Google diese Informationen benutzen, um deine Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber imGrätzl.at zu erbringen. Die im Rahmen von Google Analytics von deinem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Du kannst die Speicherung der Cookies durch eine entsprechende Konfiguration deines Browsers verhindern. Du kannst darüber hinaus die Erfassung der durch das Cookie erzeugten und auf deine Nutzung der Website bezogenen Daten (inkl. deiner IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem du das unter dem folgenden Link verfügbare Browser-Plugin herunterlädst und installierst: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>
        Weitere Informationen zur Datennutzung durch Google, Einstellungs- und Widerspruchsmöglichkeiten, erfährst du in der Datenschutzerklärung von Google (<a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>) sowie in den Einstellungen für die Darstellung von Werbeeinblendungen durch Google (<a href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>).
        <br><br>
        Die personenbezogenen Daten der Nutzer werden nach 14 Monaten gelöscht oder anonymisiert.

        <br><br>
        <strong>imGrätzl und WeLocally benutzt MailChimp/Mandrill als Betreiber der E-Mail-Listen.</strong>
        <br>
        Die Benutzung von Mailchimp stellt eine Übermittlung deiner personenbezogenen Daten dar. Da die IT-Systeme, die MailChimp verwendet, sich – wie das Unternehmen – in den USA befinden, liegt eine Weitergabe von Daten an Dritte in einen nichtsicheren Drittstaat vor. In den USA gelten andere datenschutzrechtliche Rahmenbedingungen. In datenschutzrechtlicher Hinsicht muss bei einer Verarbeitung von Daten in einem Nicht-EU-Mitgliedsstaat wie den USA für ein angemessenes Datenschutzniveau gesorgt werden. Im Falle von MailChimp wird dies durch das sog. „Privacy Shield“ erreicht. Nach einer Entscheidung der EU-Kommission ist bei Unternehmen, die auf der „Privacy Shield Liste“ stehen, grundsätzlich davon auszugehen, dass bei der Verarbeitung von personenbezogenen Daten in diesen Unternehmen ein „angemessenes Datenschutzniveau“ vorliegt. Die Rocket Science Group, LLC -, die MailChimp betreibt, ist nach den Vorgaben des Privacy Shield zertifiziert. Insoweit liegen die Voraussetzungen für einen datenschutzkonformen Umgang mit den Daten vor.
        <br><br>
        MailChimp bietet wie andere Dienstleister statistische Auswertungsmöglichkeiten von Nutzungsdaten etc. So kann imGrätzl.at und WeLocally beispielsweise sehen, an wie viele Nutzer eine E-Mail versendet wurde, ob E-Mails zurückgewiesen wurden und ob sich Nutzer nach Erhalt einer E-Mail von der Liste abgemeldet haben.
        <br><br>
        <strong>imGrätzl und WeLocally.at benutzt Stripe als Paymentanbieter </strong>
        <br>
        Mit der Nutzung (Leihen/Ausleihen) des Toolteilers bzw. Buchung von Räumen im Raumteiler stimmst du zu, dass deine persönlichen Daten (Name, Adresse, PLZ/Ort) und deine Bankverbindung Name, Anschrift, Kontonummer, Bankleitzahl, evtl. Kreditkartennummer, Rechnungsbetrag, Währung und Transaktionsnummer von der Plattform bzw. den Zahlungsdienstleistern Stripe für die Abwicklung verwendet werden. Es gelten die gesetzlichen Aufbewahrungsfristen. Durch die Nutzung des Online-Bezahldienstes stimmst du den jeweiligen Nutzungs- und Datenschutzbestimmungen von Stripe (https://stripe.com/at/terms) zu. Rechtsgrundlage: Art. 6 Abs. 1 lit. b DSGVO Gesetzliche buchhalterische Aufbewahrungsfrist von Zahlungsdaten: 7 Jahre

      </p>

      <br>

      <p>
        <strong>4.2 Sicherheit</strong>
        Wir verwenden technische und organisatorische Maßnahmen, die so gestaltet sind, um deine Information, die wir kontrollieren und die wir unter deinem Namen verwalten, vom Sammeln durch unbefugten Zugriff, Nutzung, Weitergabe, Vervielfältigung, Änderung oder Entsorgung, während der Übertragung, sowie wenn wir die Information erhalten haben, zu sichern. Wir speichern alle deine Informationen auf sicheren Servern. Wir schulen unsere Mitarbeiter was unsere Datenschutzrichtlinien und Verfahren angeht, und erlauben befugten Mitarbeitern nur dann Zugriff auf Informationen, wenn es für ihre Arbeit erforderlich ist. Jedoch ist kein Übertragungsverfahren im Internet oder elektronische Speichermethode vollkommen sicher.
        <br><br>
        Wenn du ein Passwort hast, welches es dir ermöglicht unsere Dienste zu benutzen, bist du dafür verantwortlich, dass dieses Passwort komplex, sicher und geheim bleibt. Falls du dein Passwort aktualisieren oder ändern willst, kannst du auf das „Passwort vergessen?“ Link auf der Anmeldeseite gehen. Dir wird dann eine E-Mail geschickt, mit der du dein Passwort zurücksetzen kannst.
      </p>

      <br>

      <p>
        <strong>4.3 Datenvorratsspeicherung</strong>
        Wir können dein Konto vorübergehend sperren, falls du dich mehr als sechs Monate lang nicht eingeloggt hast. Du kannst uns kontaktieren, falls du dein Konto reaktivieren möchtest.
        <br>
        Wir behalten aus folgenden Gründen bestimmte Informationen, die wir von dir sammeln während du Mitglied der Plattform bist, und in bestimmten Fällen wenn du dein Konto gelöscht hast:
        <br>
        <ul>
          <li>Damit du unsere Plattform nutzen kannst:</li>
          <li>Um dir, sofern berechtigt, Kosten zurückerstatten z.B. durch ein nicht ausgeliefertes Zuckerl</li>
          <li>Um die Nutzung unserer Plattform besser zu verstehen, damit wir allen Mitgliedern die beste Erfahrung dabei bieten können.</li>
          <li>Um Miβbrauch unsere Plattform zu entdecken und zu verhindern, rechtswidrige Handlungen und Verstöβe gegen unsere Allgemeine Geschäftsbedingungen; und</li>
          <li>Um die anwendbaren gesetzlichen Vorgaben, steuerlichen Anforderungen oder Buchhaltungsvorschriften zu erfüllen.</li>
        </ul>
        Wenn wir keine aktuellen rechtmäβige geschäftliche Gründe haben um deine Informationen zu verarbeiten, werden wir die Daten entweder löschen oder anonymisieren.
      </p>

      <br>



      <p>
        <strong>4.4 Umfang der Richtlinie</strong>
        Diese Datenschutzrichtlinie gilt nicht für Informationen die du an Dritte weitergibst, wie beispielsweise an andere Mitglieder, inklusive Gruppen-Organisatoren und anderen mit dem du eventuell Informationen über dich teilst. Unsere Plattform leitet dich eventuell an den Service eines Drittanbieters, wie zum Beispiel ein Social-Media-Service. Weitergabe von Informationen zu diese Dritten unterliegt den Datenschutzrichtlinien des entsprechenden Dritten. Wir sind nicht für die Datenschutzrichtlinien oder Inhalte des Dritten verantwortlich, selbst wenn wir von unserer Plattform mit dessen Services verbinden, oder Informationen mit diesen Dritten teilen.
        <br><br>
        imGrätzl.at und WeLocally.at ist ein Daten-Kontrolleur. Mitglieder, einschließlich Gruppen-Organisatoren sind für die Einhaltung aller Vorschriften der anwendbaren EU Datenschutzrichtlinien im Zusammenhang mit den Informationen, die sie zur Verwaltung von Kontakten oder zur Gruppenorganisation, oder zum Verwalten von Netzwerken, erhalten und bearbeiten, direkt verantwortlich.

      </p>

      <br>

      <p>
        <strong>4.5 Änderungen an dieser Richtlinie</strong>
        Wir werden diese Datenschutzrichtlinien eventuell von Zeit zu Zeit ändern. In diesem Fall benachrichtigen wir dich indem wir die aktuellste Version veröffentlichen und das Datum oben auf der Seite entsprechend ändern. Falls wir diese Richtlinien wesentlich verändern, werden wir dir eine zusätzliche Mitteilung zukommen lassen, wir schicken dir etwa eine E-Mail oder machen mit ein gut sichtbaren Hinweis auf der Website darauf aufmerksam.

      </p>


    </li>

    <li>
      <h3 id="5">Deine Auswahlmöglichkeiten</h3>

      <p>
        <strong>Zusammenfassung:</strong>
        <ul>
          <li>Du kannst in deinen Kontoeinstellungen Informationen über dich überprüfen oder ändern, sowie dein Konto deaktivieren, aber wir können bestimmte Informationen behalten.</li>
          <li>Deine Adresseingabe bei der Registrierung erlaubt uns dir Informationen aus deinem Stadtteil, Bezirk, gemeinde oder Region zuzusenden.</li>
          <li>Du kannst den Empfang von imGrätzl.at Mails und WeLocally.at Mails deaktivieren, aber eventuell erhältst du immer noch andere werbungsfreie Kommunikationen z.B. über neue Funktionen, Einladungen zu Gruppen, Kommunikation in Gruppen.</li>
        </ul>
      </p>

      <br>

      <p>

        <strong>5.1 Deine Wahlmöglichkeiten Kontodaten</strong>
        Du kannst deine Nutzerkontodaten aktualisieren oder ändern, indem du deine Kontoeinstelllungen änderst. Du kannst dein Konto unter Einstellungen löschen. Du kannst in den Einstellungen deines Kontos auch auswählen, welche deiner Informationen andere sehen können.

      </p>
      <br>
      <p>

        <strong>5.2 Deine Wahlmöglichkeiten Informationen über deinen Standort</strong>
        Wenn du dich für imGrätzl oder WeLocally registrierst, fragen wir deine Adresse ab, um über deine Adresse dich deinem Stadtteil oder Gemeinde zuzuordnen. imGrätzl und WeLocally funktioniert eingeloggt über die Zuordnung der Inhalte nach dem Heimatgrätzl bzw. der Gemeinde und Region. Falls du nicht möchtest, dass imGrätzl und WeLocally deine Adresse kennt, bitten wir von einer Registrierung abzusehen und die Plattform ausgeloggt zu nutzen. Wir erheben ansonsten keine standortbezogenen Daten aus der laufenden Nutzung.

      </p>
      <br>
      <p>

        <strong>5.3 Deine Wahlmöglichkeiten imGrätzl und WeLocally Mail:</strong>
        Durch die einmalige Eingabe deiner Adresse bei der Registrierung erhältst du das Grätzlmail oder WeLocally Mail mit Anbietern, Gruppen und Veranstaltungen, Raumteilern und Toolteilern aus deinem Stadtteil bzw. Bezirk oder aus deiner Gemeinde bzw. Region.
        <br><br>
        Falls du das nicht möchtest, kannst du das Grätzlmail oder WeLocally Mail abbestellen, allerdings verläuft die Datenaktualisierung mit dem Mailprogramm asynchron, weshalb es in manchen Fällen sein kann, dass du für kurze Zeit weitere Grätzlmails und WeLocally Mails bekommst.
        <br><br>
        imGrätzl und WeLocally versendet System-Mails, um z.B. den Nutzer zu informieren, wenn der vom Nutzer eingestellte Raumteiler online ist, oder eine virtuelle Seite oder ein Toolteiler. Diese Systemmails können nicht deaktiviert werden.
        <br><br>
        Du kannst die Nachrichten, die du von imGrätzl.at und WeLocally.at oder anderen Mitgliedern bekommst, kontrollieren, indem du die Abmeldelink in der erhaltenen Nachricht klickst. Du kannst die Präferenzen für die Datenübertragung ebenso in deinen Kontoeinstellungen ändern.
      </p>
    </li>

    <li>
      <h3 id="6">Datenrechte</h3>

      <p>
        <strong>Zusammenfassung:</strong>
        <ul>
          <li>Du kannst deine Datenschutzrechte wahrnehmen, sowie auch verlangen, das imGrätzl oder WeLocally deine Daten löscht, ändert, oder dir Zugriff auf deine Informationen ermöglicht.</li>
          <li>Du kannst den Empfang von imGrätzl und WeLocally Mails deaktivieren, aber eventuell erhältst du immer noch andere Kommunikationen.</li>
          <li>Du kannst dich an die zuständige lokale Datenschutzbehörde wenden, falls du Beschwerden über die Nutzung deiner Informationen hast.</li>
        </ul>
      </p>

      <br>

      <p>

        Wir beantworten alle Anfragen, die wir von Einzelpersonen erhalten, die ihre Datenschutzrechte ausüben möchten, gemäβ den anwendbaren Datenschutzvorschriften. Du kannst uns per E-Mail an wir@imgraetzl.at und wir@welocally.at kontaktieren.
        <br><br>
        Zu jeglichen Rechten, die du eventuell hast, gehören:
        <br>
        <ul>
          <li>Aufrufen, korrigieren, aktualisieren oder löschen anfordern deiner Informationen.</li>
          <li>Einspruch gegen die Verarbeitung aus deiner Information, die Verarbeitung aus deiner Informationen zu beschränken, oder die Portabilität anfordern für deine Daten.</li>
          <li>Opt-out auf GrätzlMail WeLocally Mail und Newsletter, welches wir dir schicken. Dieses Recht steht dir zu, du kannst deine E-Mail-Präferenzen aktualisieren indem du deine Kontoeinstellungen änderst.</li>
          <li>Jederzeit deine Zustimmung widerrufen, falls wir mit deiner Zustimmung die Informationen gesammelt und verarbeitet haben. Durch Widerrufung deiner Zustimmung wird weder die Gesetzmäβigkeit der Verarbeitung, die wir vor deiner Widerrufung getätigt haben nicht beeinfluβt, noch wird die Verarbeitung deiner Informationen beeinfluβt, wenn sie auf einer anderen Rechtsgrundlage als deine Einwilligung erfolgt.</li>
          <li>Beschwerde bei einer Datenschutzbehörde über das Sammeln und die Nutzung deiner Informationen. Für weitere Information wende dich bitte an deine zuständige lokale Datenschutzbehörde. Kontaktdaten für Datenschutzbehörden in der Republik Österreich findest du unter: https://www.dsb.gv.at/kontakt</li>
        </ul>

      </p>

    </li>

    <li>
      <h3 id="7">Kontaktiere uns</h3>

      <p>
        Falls du Fragen hast, kannst du uns unter <a href="mailto:wir@imgraetzl.at">wir@imgraetzl.at</a> und <a href="mailto:wir@welocally.at">wir@welocally.at</a> kontaktieren.
        <br><br>
        Dem Europäischen Datenschutzgesetz nach ist imGrätzl.at und WeLocally.at ein Kontrolleur von Daten.
        <br>
        Falls du Fragen oder Beschwerden zu diesen Datenschutzrichtlinien hast, oder wie wir deine Informationen verwenden, wende dich bitte an: <a href="mailto:wir@imgraetzl.at">wir@imgraetzl.at</a> oder <a href="mailto:wir@welocally.at">wir@welocally.at</a>
      </p>
    </li>





  </ol>

</div>

</section>
