<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="help -detail">

  <div class="hl-subtext">
    <h1><em>Fragen & Antworten</em></h1>
    <p>Häufige gestellte Fragen und Antworten zu imGrätzl.at</p>
  </div>

  <div class="block-txt">

    <div class="wrp">
      <h3>Kostet imGrätzl.at etwas?</h3>
      <p>Nein, die Nutzung von imGrätzl.at ist kostenlos.</p>
    </div>

    <div class="wrp">
      <h3>Mein Grätzl ist falsch eingetragen, heißt ganz anders, gibt es gar nicht! Was soll ich tun?</h3>
      <p>Grätzl mit ganz klaren Abgrenzungen sind in Wien eher selten anzutreffen. Wir haben bei der Grätzlerhebung die Erfahrung gemacht, dass es ganz viele unterschiedliche Interpretationen dafür gibt, wo das eine Grätzl aufhört und das anderes anfängt. Grätzl sind wie Ofenkäse, sie verlaufen ineinander und übereinander.</p>
      <p>Wir haben deshalb die Grenzen im Bewusstsein gesetzt, dass wir die Grätzllandkarte von Wien mit eurer Hilfe immer weiter entwickeln werden. Wir haben in vielen Fällen auch Grätzl zusammengefügt, wenn es sich zum Beispiel um sehr kleine Grätzl handelt. Dies ist dem Umstand geschuldet, dass sich der Nutzen der Plattform in den ganz kleinen Grätzln mit wenigen Bewohnern nicht voll entfalten kann. Ein Grätzl kann mehreren Bezirken angehören.</p>
      <p>Ihr könnt Infos zu eurem Grätzl an: <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a> senden. Gebt dabei bitte die Straßen an, die eurer Grätzl begrenzen und den euch geläufigen Namen für das Grätzl.</p>
    </div>

    <div class="wrp">
      <h3>Wieso funktioniert das nicht mit der Registrierung?</h3>
      <p>Achte bei der Registrierung bitte darauf auch die Hausnummer anzugeben. Davon hängt deine Zuordnung zum Grätzl ab. Du wirst im Verlauf der Registrierung gefragt, ob das erkannte Grätzl richtig ist. An dieser Stelle kannst du dein Grätzl über einen Link noch selbst ändern. Falls die Verifzierungsmail bei dir nicht ankommt, schau bitte im Spamordner nach. Und sollte gar nichts mehr gehen, dann melde dich bei uns, wir helfen dir: <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a></p>
    </div>

    <div class="wrp">
      <h3>Welche Inhalte findest du auf im Grätzl? </h3>
      <p>Du siehst Inhalte, die sich auf deinen Stadtteil beziehen. Also z.B. Events und Aktionen, die in deinem Stadtteil geplant sind. Du siehst, welche local Makers (z.B. Selbständige, kleine Unternehmen, Kreative und Geschäfte) es in deinem Stadtteil gibt und was diese anbieten. Im Zuckerlbereich findest du Rabattaktionen, Gutscheine und ganz besondere Angebote der AnbieterInnen ums Eck. Im 'Ideen fürs Grätzl' Bereich kannst du Ideen für deinen Stadtteil veröffentlichen, die das Miteinander stärken und zur Belebung deines Stadtteils beitragen. Du erfährst außerdem, welche GrätzlbeleberInnen, Initiativen und Aktive in deinem Stadtteil aktiv sind und was diese als nächstes geplant haben. Übrigens: Wenn du wissen möchtest, was in einem Bezirk los ist, dann besuche die Bezirksseiten.</p>
    </div>

    <div class="wrp">
      <h3>Was bringt dir eine Registrierung?</h3>
      <p><strong>Du bist eine BewohnerIn im Grätzl? </strong><br/>Dann registriere dich, um auf dem Laufenden zu bleiben, was sich in deinem Stadtteil tut und welche Aktionen in deinem Stadtteil gerade geplant sind. Nur registrierte NutzerInnen bekommen z.B. das Dailygrätzl Mail, das immer die neuesten Grätzlnews enthält. Wenn du die lokalen Unternehmen in deinem Stadtteil unterstützen möchtest, dann registriere dich, damit wir dich informieren können, welche Gutscheine und Rabatte die lokalen Unternehmen in deinem Stadtteil für dich in diesem Monat bereit halten. Und: Nur mit einer Registrierung kannst du imGrätzl vollständig nutzen und mit anderen interagieren und selber Inhalte erstellen.</p>
      <p><strong>Du wirtschaftest im Grätzl? </strong><br/>Dann bekommst du mit der Registrierung bei imGrätzl ein paar richtig schöne Möglichkeiten geboten dich und dein Angebot den Bewohnern vorzustellen. Du bekommst für dein Unternehmen, dein Projekt, oder dein Geschäft ein kostenloses virtuelles Schaufenster (Location) und kannst dort bekannt geben, was du gerade planst, oder was sich gerade Neues bei dir tut. Mit dem Zuckerl bekommst du zusätzlich dazu einen kostengünstigen Werbekanal für deine Gutscheine, Rabatte und ganz klassischen Werbeanzeigen, mit denen du die BewohnerInnen in deinem Einzugsgebiet erreichen kannst.</p>
      <p><strong>Du bist im Grätzl aktiv und trägst zur Grätzlbelebung und mehr Miteinander bei? </strong><br/>Dann bekommst du mit der Registrierung ebenfalls eine Locationsseite und Sichtbarkeit bei den BewohnerInnen in deinem Stadtteil. Außerdem ist dann die Grätzlmarie etwas für dich. Initiativen und Aktive, die zur Grätzlbelebung beitragen, werden über die Grätzlmarie nachhaltig finanziell unterstützt. Das geht, weil wir 50% der Werbeeinnahmen vom Zuckerl (nach Abzug der Kosten) wieder zurückfließen lassen zu den Aktiven und Initiativen im Stadtteil.</p>
      <p><strong>Du bist registriert und möchtest nun eine Locationsseite, um deine Initiative, dein Projekt, oder dein Unternehmen vorzustellen. Wie funktioniert das? </strong><br/>Das virtuelle Schaufenster = die Location ist kostenlos, du kannst dir deine Location anlegen, wenn du eingeloggt bist und das Rädchen neben dein Profilbild anklickst. In dem Menü findest du den Punkt Location. Dort klickst du drauf und befüllst die Felder, wenn du auf absenden klickst, landet die Location bei uns und wir schalten diese frei. Wir wollen keine Spammer unterstützen und das Angebot hochwertig halten, deshalb gibt es diesen kleinen Qualitätscheck durch uns.</p>
    </div>

    <div class="wrp">
      <h3>Wie veröffentlichst du eine Aktion, Treffen und News, die im Zusammenhang mit deiner Location stehen?</h3>
      <p>Geh immer zuerst auf die Locationseite, dort siehst du den Button 'Treffen erstellen'. Klicke diesen und du kannst das Treffen / die Aktion erstellen. Das Treffen ist automatisch deiner Location zugeordnet. Auf deiner Locationseite findest du im unteren Bereich ein Eingabefeld für die Neuigkeiten, wenn du dort etwas veröffentlichst, erscheint es auf deiner Locationseite und im Grätzlstream. Außerdem fließen die Inhalte in das dailyGrätzl Mail ein, das an die BewohnerInnen verschickt wird, wenn sich etwas im Stadtteil tut.</p>
    </div>

    <div class="wrp">
      <h3>Du kennst dich nicht aus: was ist das Profil vs. Betreiber einer Location?</h3>
      <p>Das Profil bekommt jeder registrierte Nutzer. Damit kannst du Treffen und Beiträge erstellen und bei anderen kommentieren. Diese sind dann mit deinem Profil verknüpft. Wenn du eine Location eingerichtet hast, dann erscheinst du zwar mit deinem Profil auf der Locationseite als Betreiber der Location, wenn du aber auf deiner Locationseite Inhalte veröffentlichst, dann wird als Absender deine Location angezeigt und nicht dein privates Profil. Das ist quasi unsere Form der Trennung von Privatleben und deinen anderen Rollen.</p>
    </div>

    <div class="wrp">
      <h3>Was ist das dailyGrätzl Mail und warum siehst du darin nicht deine Inhalte. </h3>
      <p>Das dailyGrätzl Mail enthält die Treffen und Beiträge, die am Vortag in deinem Stadtteil veröffentlicht wurden. Deine eigenen Beiträge und Treffen werden darin nicht angezeigt, das ist natürlich nicht ideal so und wollen wir auch in Zukunft ändern.</p>
    </div>

    <div class="wrp">
      <h3>Ich bekomme so viele E-Mails von imGrätzl.at - Kann ich das irgendwie einstellen?</h3>
      <p>Klar, du kannst in deinen Einstellungen im Bereich 'Benachrichtigungen' einstellen, ob du News sofort, einmal pro Tag, oder gar nicht bekommen möchtest.</p>
    </div>

    <div class="wrp">
      <h3>Wie funktioniert der Grätzl-Stream - was wird mir hier alles angezeigt?</h3>
      <p>Im Grätzlstream siehst du alle Treffen, Ideen im Grätzl, Neuigkeiten von Locations und die Zuckerln, die in deinem Stadtteil veröffentlicht wurden.</p>
    </div>

    <div class="wrp">
      <h3>Was macht eigentlich ein/e GrätzlbotschafterIn?</h3>
      <p>Die GrätzlbotschafterInnen sind Menschen, die Freude daran haben sich mit anderen Menschen in ihrem Stadtteil zu vernetzen und die gerne einen Beitrag zu mehr Miteinander und zur Belebung ihres Grätzls leisten möchten. Sie unterstützen das imGrätzl Team bei den Vernetzungstreffen und sie geben uns Tipps, wer auf imGrätzl nicht fehlen darf, sie vernetzen die Menschen im Grätzl miteinander und freuen sich, wenn sie euch bei Fragen weiterhelfen können.</p>
    </div>

    <div class="wrp">
      <h3>Wer kann Treffen und Aktionen anlegen? Was ist mit Events und Veranstaltungen?</h3>
      <p>Jeder kann Treffen starten. Wenn du Lust auf eine Unternehmung hast, dann lege einfach ein neues Treffen an. Du kannst entweder gleich einen Terminvorschlag machen oder den Termin noch offen lassen. Dein Treffen wird automatisch allen Bewohnern im Grätzl angezeigt. Jeder, der möchte, kann sich deinem Treffen anschließen. Im Diskussionsstream auf der Treffenseite könnt ihr alle Details klären.</p>
    </div>

    <div class="wrp">
      <h3>Welche Inhalte sind öffentlich sichtbar, welche nicht?</h3>
      <p>Grundsätzlich möchte imGrätzl Sichtbarkeit schaffen für die vielen tollen Dinge, die im Stadtteil passieren. Deshalb muss man sich auch nicht einloggen, oder registrieren, wenn man sich einen Überblick über Treffen, Anbieter, Angebote und Ideen in einem Viertel verschaffen möchte. Nicht von außen einsehbar ist deine persönliche Profilseite.</p>
    </div>

    <div class="wrp">
      <h3>Mich interessieren auch Inhalte in meinen Nachbargrätzln! Wo finde ich die denn?</h3>
      <p>Noch muss man sich durch die einzelnen Viertel navigieren. Das kann mühsam werden. Deshalb wirst du in Kürze einstellen können, welche Nachbargrätzln dich besonders interessieren. Dann werden dir auf deiner Grätzlseite auch die Informationen aus den Nachbargrätzln angezeigt.</p>
    </div>

    <div class="wrp">
      <h3>Wie kann ich zu anderen Nutzern Kontakt aufnehmen?</h3>
      <p>Noch gibt es kein privates Messaging System, das kommt aber noch. Ihr könnt in der Zwischenzeit auf die Pinnwand im Profil anderer Nutzer schreiben. Falls ihr Privatnachrichten austauschen möchtet, könnt ihr dort Kontaktdaten austauschen.</p>
    </div>

    <div class="wrp">
      <h3>Wie finanziert ihr euch?</h3>
      <p>Wir finanzieren das Projekt zum größten Teil aus unserer eigenen Tasche, mit Erspartem und indem wir immer wieder für externe Auftraggeber Projekte umsetzen. Mit dem Zuckerl möchten wir eine Erlösquelle aufbauen, die es uns ermöglicht unseren Programmierer weiter zu beschäftigen und laufende Kosten, wie Serverhosting zu bezahlen. Mittelfristig ist es unser Ziel, uns vollkommen auf den Betrieb und die Weiterentwicklung von imGrätzl.at zu konzentrieren. Wenn ihr uns dabei unterstützen möchtet, dann meldet euch bei uns: <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a></p>
      <p>Zur Erstellung des Prototypen von imGrätzl.at konnten wir eine Förderung der "Wirtschaftsagentur - Ein Fonds der Stadt Wien" gewinnen. In der Ausschreibung "Innovative Dienstleistungen 2014" wurde das Konzept eingereicht und neben der Förderung haben wir mit der Idee auch ein Preis im Smart City Schwerpunkt gewonnen. Konkret angesucht haben wir um finanzielle Unterstützung zur Programmierung der ersten Version von der Plattform, ca. 50% der Kosten konnten so extern abgedeckt werden. Diese Förderphase ist beendet.</p>
    </div>

    <div class="wrp">
      <h3>Plant ihr mit imGraetzl.at in andere Städte und Länder zu expandieren?</h3>
      <p>Nein, wir wollen das hier in Wien gut machen. Wir denken, dass uns das besser gelingen kann, wenn wir hier vor Ort sind und die Stadt nicht nur vom Hörensagen kennen. Wir glauben, dass es bei diesem Projekt tatsächlich von Vorteil ist ein persönliches Interesse an der Stadt zu haben, damit daraus ein wirklich gelebtes Communityprojekt werden kann. Deshalb planen wir selbst nicht in andere Städte bzw. Länder zu gehen. Wenn imGrätzl.at aber als Idee funktioniert, würden wir den Plattform-Code über ein Open-Source-Modell gerne später anderen Initiativen in anderen Städten zur Verfügung stellen. Diese können dann ihre eigenen Kiez- oder Viertel-Plattformen in ihrer Stadt aufbauen und die Plattform eigenständig so weiter entwickeln, wie es am besten für ihre Stadt passt.</p>
    </div>

  </div>

</section>

<%= render 'help_menu' %>
