<section class="faq">

  <div class="hl-subtext -small">
    <h2>Häufige <span>Fragen</span> und <span>Antworten</span></h2>
  </div>

  <div class="block-txt">

    <div class="wrp">
      <h3>Kostet imGrätzl.at etwas?</h3>

      <p>Nein, die Nutzung von imGrätzl.at ist kostenlos.</p>
    </div>

    <div class="wrp">
      <h3>Mein Grätzl ist falsch eingetragen, heißt ganz anders, gibt es gar nicht! Was soll ich tun? </h3>

      <p>Grätzl mit ganz klaren Abgrenzungen sind in Wien eher selten anzutreffen. Wir haben in den letzten Monaten bei
        der Grätzlerhebung die Erfahrung gemacht, dass es ganz viele unterschiedliche Interpretationen dafür gibt, wo
        das eine Grätzl aufhört und das anderes anfängt. Grätzl sind wie Ofenkäse, sie verlaufen ineinander und
        übereinander.</p>

      <p>Wir haben deshalb die Grenzen im Bewusstsein gesetzt, dass wir die Grätzllandkarte von Wien mit eurer Hilfe
        immer weiter entwickeln werden. Wir haben in vielen Fällen auch Grätzl zusammengefügt, wenn es sich zum Beispiel
        um sehr kleine Grätzl handelt. Dies ist dem Umstand geschuldet, dass sich der Nutzen der Plattform in den ganz
        kleinen Grätzln mit wenigen Bewohnern und einer geringen Anzahl möglicher Treffpunkte nicht voll entfalten kann.
        Ein Grätzl kann mehreren Bezirken angehören.</p>

      <p>Ihr könnt Infos zu eurem Grätzl an:
        <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a>
        senden. Gebt dabei bitte die Straßen an, die eurer Grätzl begrenzen und den euch geläufigen Namen für das
        Grätzl.</p>
    </div>

    <div class="wrp">
      <h3>Wieso funktioniert das nicht mit der Registrierung?</h3>

      <p>Achte bei der Registrierung bitte darauf auch die Hausnummer anzugeben. Davon hängt deine Zuordnung zum Grätzl
        ab. Du wirst im Verlauf der Registrierung gefragt, ob das erkannte Grätzl richtig ist. An dieser Stelle kannst
        du dein Grätzl über einen Link noch selbst ändern. In deinen Account-Einstellungen wird diese Funktion in Kürze
        noch hinzugefügt. Falls die Verifzierungsmail bei dir nicht ankommt, schau bitte im Spamordner nach. Und sollte
        gar nichts mehr gehen, dann melde dich bei uns, wir helfen dir:
        <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a>
      </p>
    </div>

    <div class="wrp">
      <h3>Ist mein Grätzl schon freigeschaltet?</h3>

      <p>Wir starten mit imGrätzl.at zwar zunächst im 2. Bezirk, aber du kannst dich auch jetzt schon für andere Grätzl
        in anderen Bezirken registrieren. Sobald sich 30 Menschen in deinem Grätzl angemeldet haben, informieren wir
        dich. Dann wird dein Grätzl automatisch freigeschaltet. Übrigens: Wenn du Teil einer bestehenden
        Grätzlinitiative bist, dann können wir dein Grätzl auch früher öffnen, melde dich ganz einfach bei uns:
        <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a>
      </p>
    </div>

    <div class="wrp">
      <h3>Mich interessieren auch Treffen in meinen Nachbargrätzln! Wo finde ich die denn?</h3>

      <p>Noch muss man sich durch die einzelnen Viertel navigieren. Das kann mühsam werden. Deshalb wirst du in Kürze
        einstellen können, welche Nachbargrätzln dich besonders interessieren. Dann werden dir auf deiner Grätzlseite
        auch die Informationen aus den Nachbargrätzln angezeigt.
      </p>
    </div>

    <div class="wrp">
      <h3>Wer kann Treffen anlegen? Was ist mit Events und Veranstaltungen?</h3>

      <p>Jeder kann Treffen starten. Wenn du Lust auf eine Unternehmung hast, dann lege einfach ein neues Treffen an.
        Du kannst entweder gleich einen Terminvorschlag machen oder den Termin noch offen lassen. Dein Treffen wird
        automatisch allen Bewohnern im Grätzl angezeigt. Jeder, der möchte, kann sich deinem Treffen anschließen. Im
        Diskussionsstream auf der Treffenseite könnt ihr alle Details klären. In Kürze kannst du dein Treffen auch in
        Themenkategorien einordnen, dann bekommen diejenigen, die dieses Themengebiet besonders interessiert eine
        Einladung zu deinem Treffen.</p>

      <p>Eigene Veranstaltungen und Events kannst du ebenfalls als Treffen im Grätzl anlegen. Gib dabei bitte das
        Datum, das Thema und den Ort an. Es kann sich z.B. um einen Vortrag, einen Workshop, ein Konzert, oder einen
        Markt, der im Grätzl stattfindet, handeln. Schreibe aber bitte immer dazu, ob die Veranstaltung Eintritt kostet.
        Du kannst natürlich auch Events anlegen, die nicht von dir organisiert werden, wenn du der Meinung bist, dass es
        sich um eine interessante öffentliche Veranstaltung handelt, die die Bewohner im Grätzl interessieren könnte.
        Damit hilfst du mit das Grätzl zu beleben und unterstützt die Menschen, die etwas auf die Beine stellen.
        Schreibe dann bitte einfach dazu, wer das Event organisiert.</p>
    </div>

    <div class="wrp">
      <h3>Was sind Locations? Wer sind die Betreiber einer Location?</h3>

      <p>Locations sind Orte. Es kann sich um eine Straßenkreuzung, ein Beisl, einen Park, einen Ausstellungsraum,
        einen Pop-up Store, ein Geschäft, eine Praxis, oder um das "Home Office" der Kreativen und Selbständigen im
        Grätzl handeln. Eine Location kann aber auch eine Wohnung sein, in der ein Spieleabend stattfindet.</p>

      <p>Eine Location bezeichnet immer einen Ort im Grätzl, an dem etwas Besonderes passiert. Manche davon sind
        öffentlich zugänglich, andere wie eine private Wohnung natürlich nicht.</p>

      <p>Locationseiten haben zwei Funktionen, sie machen folgendes sichtbar:
      <ol>
        <li>Treffpunkte im Grätzl, an denen Treffen und Veranstaltungen stattfinden.</li>
        <li>Orte, an denen jemand kreativ und/oder wirtschaftlich im Grätzl tätig ist.</li>
      </ol>
      </p>
      <p>Diejenigen, die in einer Location aktiv sind und diese bespielen, können "ihre" Locationseite übernehmen und
        selbst gestalten. Sie werden dann "Betreiber" oder "Anbieter" genannt.</p>
    </div>

    <div class="wrp">
      <h3>Ich bin kreativ oder wirtschaftlich im Grätzl tätig, aber im "Home Office". Was bringt mir dann die
        Locationseite?</h3>

      <p>Wenn du kein Ladenlokal hast, wissen die Menschen gar nicht, dass es dich im Grätzl gibt und dass du etwas
        anbietest, das sie vielleicht interessieren könnte. Die Locationseite ist also quasi dein virtuelles
        Schaufenster im Grätzl.</p>

      <p>Auf deiner Locationseite werden auch deine Veranstaltungen angezeigt, die in anderen Teilen Wiens stattfinden.
        Du veranstaltest vielleicht einen Workshops, stellst auf Märkten aus, gibst Konzerte, bist als Aussteller auf
        einer Messe mit dabei oder hältst Vorträge. Deine Locationseite macht sichtbar, wo du aktuell anzutreffen bist
        und die Bewohner haben die Chance dich und dein Angebot kennenzulernen.</p>

      <p>Ein Beispiel: Marlene stellt zu Hause Schmuck her, für die Werkstatt hat sie eine Locationseite angelegt,
        damit die Menschen in der Umgebung erfahren, dass ums Eck eine Schmuckdesignerin ansässig ist. Nun plant Marlene
        einen Stand mit ihrem Schmuck auf einem Designermarkt. Marlene legt also ihre Teilnahme am Markt als Treffen an.
        Interessierte können nun auf der Locationsseite von Marlene sehen, dass die Schmuckdesignerin beim Markt dabei
        ist und hingehen, um Marlene und ihren Schmuck kennenzulernen.</p>
    </div>

    <div class="wrp">
      <h3>Welche Inhalte sind öffentlich sichtbar, welche nicht?</h3>

      <p>Grundsätzlich möchte imGrätzl Sichtbarkeit schaffen für die vielen tollen Dinge, die in den Grätzln passieren.
        Deshalb muss man sich auch nicht einloggen, oder registrieren, wenn man sich einen Überblick über Treffen,
        Events und Locations in einem Viertel verschaffen möchte. Nicht sichtbar nach außen sind Streaminhalte, also die
        Gespräche auf der Grätzlseite, auf der Locationseite oder auf der Treffenseite. Ebenso ist deine Profilseite
        nicht von außen einsehbar.</p>
    </div>

    <div class="wrp">
      <h3>Wie kann ich zu anderen Nutzern Kontakt aufnehmen?</h3>

      <p>Noch gibt es kein privates Messaging System, das kommt aber noch. Ihr könnt in der Zwischenzeit auf die
        Pinnwand im Profil anderer Nutzer schreiben. Falls ihr Privatnachrichten austauschen möchtet, könnt ihr dort
        Kontaktdaten austauschen.</p>
    </div>

    <div class="wrp">
      <h3>Wie finanziert ihr euch?</h3>

      <p>Wir finanzieren das Projekt zu einem großen Teil aus unserer eigenen Tasche, mit Erspartem und indem wir immer
        wieder für externe Auftraggeber Projekte umsetzen. Mit dem Grätzlzuckerl möchten wir eine Erlösquelle aufbauen,
        die es uns ermöglicht unseren Programmierer weiter zu beschäftigen und laufende Kosten, wie Serverhosting zu
        bezahlen. Mittelfristig ist es unser Ziel, uns vollkommen auf den Betrieb und die Weiterentwicklung von
        imGrätzl.at zu konzentrieren. Wenn ihr uns dabei unterstützen möchtet, dann meldet euch bei uns:
        <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a>
      </p>

      <p>Zur Erstellung des Prototypen von imGrätzl.at konnten wir eine Förderung der "Wirtschaftsagentur - Ein Fonds
        der Stadt Wien" für uns gewinnen. In der Ausschreibung "Innovative Dienstleistungen 2014" wurde das Konzept
        eingereicht und neben der Förderung haben wir mit der Idee auch ein Preis im Smart City Schwerpunkt gewonnen.
        Konkret angesucht haben wir um finanzielle Unterstützung zur Programmierung, ca. 50% der Kosten konnten so
        extern abgedeckt werden. Diese Förderphase ist beendet. </p>
    </div>

    <div class="wrp">
      <h3>Plant ihr mit imGraetzl.at in andere Städte und Länder zu expandieren?</h3>

      <p>Nein, wir wollen das hier in Wien gut machen. Wir denken, dass uns das besser gelingen kann, wenn wir hier vor
        Ort sind und die Stadt nicht nur vom Hörensagen kennen. Wir glauben, dass es bei diesem Projekt tatsächlich von
        Vorteil ist ein persönliches Interesse an der Stadt zu haben, damit daraus ein wirklich gelebtes
        Communityprojekt werden kann. Deshalb planen wir selbst nicht in andere Städte bzw. Länder zu gehen. Wenn
        imGrätzl.at aber als Idee funktioniert, würden wir den Plattform-Code über ein Open-Source-Modell gerne später
        anderen Initiativen in anderen Städten zur Verfügung stellen. Diese können dann ihre eigenen Kiez- oder
        Viertel-Plattformen in ihrer Stadt aufbauen und die Plattform eigenständig so weiter entwickeln, wie es am
        besten für ihre Stadt passt.</p>
    </div>

    <div class="wrp">
      <h3>Welche Funktionen sind in Kürze geplant?</h3>
      <p>Neben dem privaten Messagingsystem, der Anzeige, was in den Nachbargrätzln los ist und den Vorschlägen für
        Treffen basierend auf Interessen, wollen wir unbedingt auch zeitnah Initiativen und Ideen für das Grätzl an den
        Start bringen. Unser Ziel ist es hier auch, Möglichkeiten zu schaffen, wie diese Ideen und Initiativen für das
        Grätzl finanziell unterstützt werden können. Unsere Idee ist es, neben einer Spendenmöglichkeit, auch einen Teil
        der Einnahmen aus dem Grätzlzuckerl an die Initiativen im Grätzl zurückfließen zu lassen. Wir wissen aus eigener
        Erfahrung und aus vielen Gesprächen mit anderen Initiativen, dass bei der Finanzierung von Ideen fürs Grätzl
        ganz besonders der Schuh drückt. Die Plattform, die ihr jetzt seht, ist auf jeden Fall erst der Anfang. </p>
    </div>

  </div>

  </div>

</section>