<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  )
%>

<section class="graetzlmarie">

  <div class="hl-subtext">
    <h1>Infos zur <span>Grätzlmarie</span></h1>
  </div>

  <div class="block-txt">

    <div class="wrp">
      <h3>Viele gute Ideen, aber kein Geld?</h3>

      <p>Die Grätzlmarie wurde ins Leben gerufen, damit Aktive und Initiativen im Stadtteil ihre Ideen leichter umsetzen
        können. Es handelt sich um eine finanzielle Unterstützung, die von den Zuckerl (Werbung) Einnahmen auf der
        Plattform lebt. Wir gehen bei der Grätzlmarie langfristige Partnerschaften ein und zwar im Glauben, dass das ein
        wirksamer Hebel ist, damit möglichst viele Ideen im Grätzl umgesetzt werden können. Wir möchten die
        NachbarschaftsheldInnen davon befreien für jede Aktion und Idee aufs Neue um finanzielle Unterstützung anfragen
        zu müssen. Ihr sollt einfach loslegen können, es ist eh keine Selbstverständlichkeit, dass ihr euch einbringt!
        Danke euch!</p>
    </div>

    <div class="wrp">
      <h3>Werbung, die das das Grätzl belebt? </h3>

      <p>Auf unserer Plattform imGrätzl.at bekommen alle AkteurInnen eines Stadtteils kostenlos ein virtuelles
        Schaufenster, dazu können sie Veranstaltungen, Workshops, Kurse eintragen und News bekannt geben. Für
        Wirtschaftstreibende, die zusätzlich dazu ganz klassisch werben möchten, z.B. mit Gutscheinen oder
        Rabattaktionen, gibt es den Bereich 'Zuckerl' auf der Plattform. Eine Anzeige bzw. Gutschein wird in der
        Onlinevariante 15 € (inkl. USt.) pro Monat kosten, in der Flyervariante 95 € (inkl. USt.). Damit wird eine
        Möglichkeit geschaffen fortlaufende Einnahmen für ein Viertel zu generieren.</p>

      <p>50% der Erlöse (nach Abzug der Kosten z.B. Druck, Graphik) aus dem Zuckerl fließen zurück zu den Vereinen
        und Initiativen im Stadtteil, damit diese ihre Ideen umsetzen können.</p>
    </div>

    <div class="wrp">
      <h3>Wie funktioniert das?</h3>

      <p>Wenn die Wirtschaftstreibenden online ihr Zuckerl buchen, können sie auswählen, welchem Projekt das Geld
        zugutekommen soll. Falls sie nichts auswählen, werden die Erlöse unter allen gelisteten Initiativen (pro Grätzl
        starten wir zunächst mal mit max. 2 Initiativen) im Viertel aufgeteilt. Die anderen 50% der Erlöse verbleiben
        übrigens bei der Plattform für den Betrieb und die Weiterentwicklung.</p>
    </div>

    <div class="wrp">
      <h3>Wer kann mitmachen?</h3>

      <p>Alle, die in ihrem Stadtteil aktiv sind, und&hellip;</p>
      <ul class="list-basic">
        <li>lokal ihre Wirkungsstätte haben.</li>
        <li>sozial sind und sich fürs Miteinander stark machen.</li>
        <li>sich für die Belebung des Stadtteils einsetzen.</li>
        <li>zugänglich für viele unterschiedliche Menschen sind.</li>
      </ul>
      <p>Ihr könnt mitmachen, unabhängig davon, ob ihr eine Stadtteilinitiative, ein Verein von Kaufleuten, ein
        Kulturprojekt, eine lose Gruppe von engagierten Menschen, oder eine Einzelperson seid, die sich für ihren
        Stadtteil einsetzt. Wichtig ist nur, dass ihr bereits angefangen habt aktiv zu werden und für 2016 Aktionen
        plant, die ihr in eurem Viertel gerne auf den Weg bringen möchtet. Das Zuckerl-Modell ist ausgelegt auf
        eine langfristige Zusammenarbeit. Die Erlöse aus dem Zuckerl werden transparent sichtbar gemacht,
        quartalsweise ausgewiesen und ausgezahlt. </p>
    </div>

    <div class="wrp sign-block">

      <h3>Zur Anmeldung</h3>
      <ol>
        <li><a href="https://blog.imgraetzl.at/wp-content/uploads/imGr%C3%A4tzl-Richtlinien.pdf" target="_blank">Lest euch die Richtlinien durch &raquo;</a></li>
        <li><a href="https://blog.imgraetzl.at/wp-content/uploads/imGr%C3%A4tzl-Partnerantrag.pdf" target="_blank">Füllt das Antragsformular aus &raquo;</a></li>
        <li>Schickt uns das Antragsformular per Mail an <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a></li>
        <li>Wir treffen uns auf einen Café, dabei klären wir alle Fragen & Details und dann kann es auch schon losgehen</li>
      </ol>
    </div>

  </div>

</section>
