<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="help -detail">

  <div class="hl-subtext">
    <h1><em>Gruppen</em></h1>
    <p>Deine Wien- & Bezirksgruppen für Kooperationen, Austausch und Zusammenarbeit!</p>
  </div>

  <%= render 'help_menu' %>

  <div class="paperCard -cord1RT container" id="zero">
    <div class="wrp">
      <p>
        <strong>Die Gruppen</strong> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <a href="#finden" class="btn-primary -mint" id="nav-one">Gruppe finden</a>
      <a href="#erstellen" class="btn-primary -mint" id="nav-two">Neue Gruppe gründen</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="one">
      <h2 id="finden">Stöbern in den Gruppen</h2>
      <h3>So findest du die passende Gruppe</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
    </article>

    <article class="container" id="two">
      <h2 id="erstellen">Gründe eine neue Gruppe</h2>

      <h3>Keine passende Gruppe dabei – Starte jetzt eine neue Gruppe!</h3>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
     </article>

  </div>

  <div style="clear:both;"></div>

</section>
