<%
   meta({
          title: t('.title'),
          description: t('.description'),
          robots: 'index, follow',
          og_title: t('.title'),
          og_description: t('.description'),
          og_image: image_url('meta/og_logo.png')
        })
%>

<section class="help">

  <div class="hl-subtext">
    <h1><span>imGrätzl.at</span> – “Alles Gute ums Eck”</h1>
    <p>Lokal Kräfte bündeln: mehr Power, Sichtbarkeit und Freude!</p>
  </div>

  <aside>
    <%= render 'help_nav' %>
  </aside>

  <div class="mainContent">
    <div class="paperCard -cord1RT container" id="zero">
      <div class="wrp">
        Im Grätzl ist die erste stadtteilsegmentierte Plattform (vorerst) für Wien, mit dem Ziel grätzlansässige Anbieter, Kreative und Aktive im Stadtteil zu unterstützen und sichtbar zu machen, lokale Wirtschaftskreisläufe und das soziale Miteinander zu stärken und zur Stadtteilbelebung beizutragen.
      </div>
      <div class="card"></div>
    </div>
    <article class="container" id="one">
      <div class="txt">
        <h2>Location Page</h2>
        <h3>Deine eigene Seite im Stadtteil!</h3>
        <p>Die Locationseite ist der erste Schritt, um in deinem Stadtteil sichtbar zu werden! Du kannst sie mit nur wenigen Klicks einfach und schnell einrichten, sie ist mobil- und suchmaschinenoptimiert und deine Eintrittskarte um in deinen Stadtteil-Newsletter zu gelangen! Und: sie ist kostenlos! <a href="http://blog.imgraetzl.at/hilfe/locationseite/einrichten-deiner-locationseite/">Mehr Infos</a></p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-location-page.jpg" alt="imGrätzl Location Page" />
        </a>
      </div>
    </article>

    <article class="container" id="two">
      <div class="txt">
        <h2>Events, Workshops & Termine</h2>
        <h3>Wir machen deine Neuigkeiten im Stadtteil bekannt!</h3>
        <p>Sobald du deine eigene Locationseite hast, kannst du über diese Neuigkeiten, aber auch z.B. Termine oder Workshops in deinem Stadtteil bekannt geben. Du möchtest als BewohnerIn etwas in deinem Grätzl bekannt geben? - auch das geht! <a href="http://blog.imgraetzl.at/hilfe/locationseite/treffen-neuigkeiten-veroeffentlichen-so-gehts/">Mehr Infos</a></p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-workshops.jpg" alt="imGrätzl Events, Workshops & Termine" />
        </a>
      </div>
    </article>

    <article class="container" id="three">
      <div class="txt">
        <h2>Daily Grätzlmail - der Email Verteiler</h2>
        <h3>Damit die BewohnerInnen im Stadtteil davon erfahren.</h3>
        <p>Über das Daily-Grätzl-Mail erreicht man mit seinen Neuigkeiten, Events und Ideen die registrierten Nutzer im jeweiligen Stadtteil jeden Tag per Mail. Halte deine Locationpage interessant und up2date, somit erscheinst auch du laufend im Daily-Grätzlmail. (Aber bedenke: "<em>Fair Use</em>" und "<em>No Spam</em>")</p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-daily-graetzlmail.jpg" alt="imGrätzl Daily Grätzlmail" />
        </a>
      </div>
    </article>

    <article class="container" id="four">
      <div class="txt">
        <h2>Das Grätzlzuckerl</h2>
        <h3>Einen Monat lang die volle Aufmerksamkeit auf dich gerichtet.</h3>
        <p>Mit einem Grätzlzuckerl kannst du günstig & zielgerichtet Werbung für dich und dein spezielles Angebot in deinem Stadtteil & Bezirk schalten. Ein Zuckerl läuft immer für einen Monat und kostet 15 € (inkl Ust) - Möchtest du darüber hinaus auch im Print-Zuckerl an die Haushalte in deinem Grätzl erscheinen? Auch das geht, für 120 € (excl. Ust).</p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-graetzlzuckerl.jpg" alt="imGrätzl Das Grätzlzuckerl" />
        </a>
      </div>
    </article>


  </div>



  <div style="clear:both;"></div>

</section>
