<div class="buehne">
  <h1><span>Nette Leute Bei Treffen </span><span>im Grätzl Kennenlernen</span></h1>

  <div class="illu1"></div>
  <div class="illuMap"></div>
  <a href="" class="btn-badge">Mit-<br/>machen</a>
</div>

<div class="teaserBlock">
  <h2> Mach mit — Treffen in den Grätzln</h2>

  <p>Finde Menschen in der Nachbarschaft für gemeinsame Unternehmungen</p>

  <div class="meetingBoxes">

    <div class="meetingBox">
      <div class="meetingBoxHeader">
        <img class="coverImg" src="assets/dummy/dummy-300x180-HorseRace-plain.jpg" alt=""/>
        <div class="calendarSheet">
          <div class="day">14</div>
          <div class="month">Mär</div>
        </div>
        <div class="districtFlag">Stuwerviertel</div>
        <div class="user">
          <img src="assets/dummy/dummy-100x100-SarahVaughan-plain.jpg" alt="" class="img-round"/>
          <span>MalanoEisenherz</span>
        </div>
      </div>
      <h3>Bingoabend</h3>
      <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim est eveniet repellendus!</div>
      <button>Mitmachen</button>
    </div>

    <div class="meetingBox">
      <div class="meetingBoxHeader">
        <img class="coverImg" src=assets/dummy/dummy-980x370-Handball-plain.jpg" alt=""/>
        <div class="calendarSheet">
          <div class="day">17</div>
          <div class="month">Jul</div>
        </div>
        <div class="districtFlag">Czerninviertel</div>
        <div class="user">
          <img src="assets/dummy/dummy-300x180-Motocross-plain.jpg" alt="" class="img-round"/>
          <span>Horst Tischler</span>
        </div>
      </div>
      <h3>Reisepass machen lassen</h3>
      <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      <button>Mitmachen</button>
    </div>

    <div class="ownMeetingBox">
      <div class="user">
        <img src="assets/avatar/small_default.png" alt="Profilbild Platzhalter" class="img-round"/>
        <span>Dein Name</span>
      </div>
      <h3>Starte Dein eigenes Treffen</h3>
      <button>Jetzt loslegen</button>
    </div>


  </div>

</div>

