<div class="buehne">
  <h1><span>Nette Leute Bei Treffen </span><span>im Grätzl Kennenlernen</span></h1>

  <div class="illu1"></div>
  <div class="illuMap"></div>
  <a href="" class="btn-badge">Mit-<br/>machen</a>
</div>

<div class="teaserBlock">
  <h2> Mach mit — Treffen in den Grätzln</h2>

  <p>Finde Menschen in der Nachbarschaft für gemeinsame Unternehmungen</p>

  <div class="meetingBoxes">

    <div class="meetingBox">
      <div class="meetingBoxHeader">
        <img class="coverImg" src="https://placeimg.com/600/400/nature?1" alt=""/>
        <div class="calendarSheet">
          <div class="day">14</div>
          <div class="month">Mär</div>
        </div>
        <div class="districtFlag">Stuwerviertel</div>
        <div class="user">
          <img src="https://placeimg.com/200/200/people?4" alt="" class="img-round"/>
          <span>MalanoEisenherz</span>
        </div>
      </div>
      <h3>Bingoabend</h3>
      <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim est eveniet repellendus!</div>
      <button>Mitmachen</button>
    </div>

    <div class="meetingBox">
      <div class="meetingBoxHeader">
        <img class="coverImg" src="https://placeimg.com/600/400/nature?3" alt=""/>
        <div class="calendarSheet">
          <div class="day">17</div>
          <div class="month">Jul</div>
        </div>
        <div class="districtFlag">Czerninviertel</div>
        <div class="user">
          <img src="https://placeimg.com/200/200/people?8" alt="" class="img-round"/>
          <span>Horst Tischler</span>
        </div>
      </div>
      <h3>Reisepass machen lassen</h3>
      <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      <button>Mitmachen</button>
    </div>




    <div class="ownMeetingBox"></div>
  </div>

</div>

