<div class="buehne">
  <h1><span>Nette Leute Bei Treffen </span><span>im Grätzl Kennenlernen</span></h1>

  <div class="illu1"></div>
  <div class="illuMap"></div>
  <a href="" class="btn-badge">Mit-<br/>machen</a>
</div>

<div class="teaserBlock">
  <h2> Mach mit — Treffen in den Grätzln</h2>

  <p>Finde Menschen in der Nachbarschaft für gemeinsame Unternehmungen</p>

  <div class="meetingBoxes">

    <div class="meetingBox">
      <div class="meetingBoxHeader">
        <img class="coverImg" src="assets/dummy/dummy-300x180-HorseRace-plain.jpg" alt=""/>

        <div class="calendarSheet">
          <div class="day">14</div>
          <div class="month">Mär</div>
        </div>
        <div class="districtTag">Stuwerviertel</div>
        <div class="user">
          <img src="assets/dummy/dummy-100x100-SarahVaughan-plain.jpg" alt="" class="img-round"/>
          <span>MalanoEisenherz</span>
        </div>
      </div>
      <h3>Bingoabend</h3>

      <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim est eveniet repellendus!</div>
      <button>Mitmachen</button>
    </div>

    <div class="meetingBox">
      <div class="meetingBoxHeader">
        <img class="coverImg" src="assets/dummy/dummy-300x180-Motocross-plain.jpg" alt=""/>

        <div class="calendarSheet">
          <div class="day">17</div>
          <div class="month">Jul</div>
        </div>
        <div class="districtTag">Czerninviertel</div>
        <div class="user">
          <img src="assets/dummy/dummy-100x100-GambiaGirl-plain.jpg" alt="" class="img-round"/>
          <span>Horst Tischler</span>
        </div>
      </div>
      <h3>Reisepass machen lassen</h3>

      <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      <button>Mitmachen</button>
    </div>

    <a href="" class="ownMeetingBox">
      <div class="user">
        <img src="assets/avatar/small_default.png" alt="Profilbild Platzhalter" class="img-round"/>
        <span>Dein Name</span>
      </div>
      <h3>Starte Dein<br/>eigenes Treffen</h3>
      <button>Jetzt loslegen</button>
    </a>

  </div>
</div>


<div class="aboutGraetzl">
  <h2>Worum geht es bei „im Grätzl“</h2>

  <div class="graetzl-meeting">
    <h3>Treffen im Grätzl</h3>
    <p>Lerne Menschen imGrätzl mit selben Interessen kennen, um gemeinsam etwas zu unternehmen: Von Hunde Gassi führen
      bis Lauftreffs, Mütter-Kind Gruppen oder Bauernschnapsrunden.</p>
  </div>

  <div class="graetzl-events">
    <h3>Event im Grätzl</h3>
    <p>Du planst bereits ein Event im Grätzl? Dann trage das Event imGrätzl ein. So kannst du die Grätzlbewohner
      informieren, welche Konzerte, Lesungen, Nachbarschaftsfeste sie nicht verpassen dürfen :)</p>
  </div>

  <div class="graetzl-initiative">
    <h3>Initiative im Grätzl</h3>
    <p>Du möchtest eine Initiative im Grätzl starten, ein Gartenprojekt, ein Flohmarkt, eine Charityaktion? Dann kannst
      du deine Idee hier einstellen und Mitorganisatoren, oder Teilnehmer finden.</p>
  </div>

  <div class="graetzl-economy">
    <h3>Grätzlwirtschaft</h3>
    <p>Du wirtschaftest im Grätzl? Dann stell dich doch den Bewohnern vor. Du suchst eine Empfehlung im Grätzl, dann
      frage einfach die anderen Bewohner, die wissen, welche Unternehmen die kundenfreundlichsten sind.</p>
  </div>

  <a class="btn-go" href="">Jetzt loslegen</a>

</div>

