<% meta(
    title: t('.title'),
    robots: 'index, follow',
  )
%>

<section class="impressum">

  <div class="hl-subtext">
    <h1>Impressum</h1>
  </div>

  <div class="block-txt">

    <div class="wrp">
      <h3>Unternehmensdaten</h3>
      <p>
        <strong>Firmenname:</strong> morgenjungs GmbH<br>
        <strong>Geschäftsführende Gesellschafter:</strong> Mirjam Mieschendahl, Michael Walchhütter<br>
        <strong>Anschrift:</strong> Lassallestraße 13/38, 1020 Wien<br>
        <strong>Telefon:</strong> <a href="tel:069915028277">0699/15028277</a><br>
        <strong>E-Mail:</strong> <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a><br>
        <strong>UID-Nummer:</strong> ATU 69461502<br>
        <strong>Firmenbuchnummer:</strong> FN431023h<br>
        <strong>Firmengericht:</strong> Handelsgericht Wien
      </p>
    </div>
    <div class="wrp">
      <h3>Bankverbindung</h3>
      <p>
        <strong>Institut:</strong> Erste Bank<br>
        <strong>IBAN:</strong> AT032011182669886500<br>
        <strong>BIC:</strong> GIBAATWWXXX<br>
      </p>
    </div>
    <div class="wrp">
      <h3>Offenlegung nach Mediengesetz</h3>
      <p>
        <strong>Medieninhaber:</strong> morgenjungs GmbH<br>
        <strong>Unternehmensgegenstand:</strong> Der Betrieb eines Ankündigungsunternehmens, insbesondere der Aufbau, der Betrieb, die
        Weiterentwicklung und die Vermarktung von digitalen Services zu ortsbezogenen Informationen.
      </p>
    </div>
  </div>

</section>
