<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_image: image_url("meta/#{current_region.host_id}/crowdfunding.png")
  )
%>

<section class="info -detail">

  <div class="hl-subtext">
    <h1>Lokales <em>Crowdfunding</em></h1>
    <p>Setze dein Vorhaben mit der Kraft der Gemeinschaft um!</p>
  </div>

  <div class="paperCard -cord1RT container -top">
    <div class="wrp">
      <p>
        <strong>Starte eine Crowdfunding-Kampagne, um dein Vorhaben in die Tat umzusetzen.</strong>
        Ob eine neue (Geschäfts)idee, Raumaktivierung, Stadtteilfest oder Kunst- und Kulturprojekt – du kannst hier dein Vorhaben via Crowdfunding realisieren.
        <br><br>
        <strong>Mit unserem <%= link_to 'Crowdfunding-Tool', start_crowd_campaigns_path %></strong> kannst du eine Kampagne durchführen und Geld-, Zeit- und Sachspenden sammeln. Weitere Effekte: Dein Vorhaben wird mit dem Crowdfunding sichtbar und mitten in einer lokalen Community platziert, du kannst dein Netzwerk erweitern und damit neue Chancen eröffnen. Ein erfolgreiches Crowdfunding ist tatsächlich sehr gut planbar, und wir unterstützen dich gerne in der Vorbereitung.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <div class="hl-subtext">
    <h2><span>Fragen und Antworten</span> zum Crowdfunding</h2>
  </div>

   <div class="wrp">
    <h3>Allgemeine Informationen</h3>
    <p><strong>Was ist Crowdfunding?</strong><br>Crowdfunding ist eine Finanzierungsmethode, bei der viele Menschen kleine Geldbeträge beitragen, um die Realisierung eines Projektes zu ermöglichen.</p>
    <p><strong>Wir bieten reward-based Crowdfunding an.</strong><br>Bei reward-based Crowdfunding erhalten Unterstützer*innen als Gegenleistung für ihre finanzielle Unterstützung eine Belohnung, die ein Produkt oder eine Dienstleistung sein kann, oder auch etwas Ideelles.</p>
  </div>

  <div class="wrp">
    <h3>Gebühren</h3>
    <p>
      <strong>Welche Gebühren fallen an?</strong> Nur wenn deine Kampagne erfolgreich ist, fällt eine Gebühr an – wenn sie nicht erfolgreich ist, zahlst du nichts. Unsere Fixkosten greifen <strong>ab 7 %</strong> des erreichten Betrags – alles inklusive. Darin enthalten sind bereits 3,5 % für den Zahlungsdienstleister (Stripe) sowie die gesetzliche MwSt. auf unsere Gebühr. <strong>Keine versteckten Kosten, keine Überraschungen.</strong>
    </p>
    <p>
      Über jeden zusätzlichen Prozentpunkt entscheidest du selbst. Im Durchschnitt geben Starter*innen rund 9 % und erhalten dafür zusätzliche Sichtbarkeit, z. B. im Newsletter und auf Social Media. Du erhältst über die Gebühr eine <strong>Rechnung mit ausgewiesenen 20 % MwSt.</strong> von uns.
    </p>
  </div>

  <div class="wrp">
    <h3>Alles oder nichts Prinzip</h3>
    <p>Du setzt in deiner Kampagne zwei Ziele: <strong>Das Mindestziel</strong> muss erreicht werden, wird das Mindestziel nicht erreicht, wird auch kein Geld bei den Unterstützenden eingezogen und es wird das in der Kampagne gesammelte Geld nicht an die Kampagnen Starter*in ausgezahlt. Sobald das Mindestziel erreicht ist, gilt die Kampagne als erfolgreich und der eingesammelte Betrag kommt nach Ende der Kampagnen-Laufzeit zur Auszahlung, abzüglich der Gebühr.</p>
    <p><strong>Das Optimalziel</strong> ist das zweite Ziel, auf das hingearbeitet wird und beschreibt, was es optimalerweise benötigt, um das Vorhaben gut umzusetzen. Dieses steht im Fokus, sobald das Mindestziel erreicht ist. Auch nach dem Erreichen des Optimalziels kann weiter unterstützt werden.</p>
  </div>

  <div class="wrp">
    <h3>Crowdfunding Ablauf</h3>
    <ul>
      <li>Du legst die Kampagne an und kannst zwischendurch immer wieder die erstellten Inhalte sichern und später weitermachen.</li>
      <li>Ruf uns gerne an (0699 / 150 28 277) oder schreib uns (<%= mail_to t("region.#{current_region.id}.contact_email") %>), sobald du diesen Schritt getan hast, damit wir über dein Vorhaben reden und die Crowdfunding Planung durchgehen können. Damit wird die hohe Erfolgsquote sichergestellt, die wir beim Crowdfunding haben. </li>
      <li>Sobald alle Planungsarbeiten abgeschlossen sind und du fertig bist mit dem Anlegen, schickst du die Kampagne spätestens zwei Tage vor dem Startdatum an uns ab. Danach verbindest du deine Kampagne mit dem Zahlungsanbieter "Stripe". Dazu füllst du das angezeigte Formular aus.</li>
      <li>Wir prüfen die Kampagne und geben sie frei, wenn alles in Ordnung ist. Sollte es Unklarheiten geben, kontaktieren wir dich.</li>
      <li>Die Inhalte der Kampagneseite kannst du nicht mehr bearbeiten, sobald du die Kampagne abgeschickt hast. Goodies kannst du während der Kampagne noch hinzufügen oder löschen, wenn diese noch nicht in Anspruch genommen wurden.</li>
      <li>Wenn alles passt, geht die Kampagne am gewählten Startdatum um Mitternacht online, und Unterstützer*innen können einzahlen. Eine Kampagne läuft im Durchschnitt 30 bis 35 Tage, wobei du die Laufzeit selbst festlegst.</li>
      <li>Nach einem erfolgreichen Kampagnenende werden die Unterstützungssummen bei den Unterstützenden eingezogen. Wenn die Kampagne nicht erfolgreich ist, werden die zugesagten Beträge nicht eingezogen.</li>
      <li>Nach Einzug der Gelder ist eine Wartezeit von 14 Tagen gesetzlich vorgeschrieben. In diesem Zeitraum können die Unterstützer*innen ihre Unterstützung stornieren. Falls es zu einer Stornierung kommt, wird der Betrag von der Gesamtsumme abgezogen.</li>
      <li>Falls der Einzug eines Betrags nicht möglich ist (z.B. weil das Konto nicht gedeckt ist), stellen wir den Unterstützenden andere Zahlungsformen zur Verfügung und bemühen uns, dass die Zahlung dennoch zustande kommt. Sollte dies nicht gelingen, wird der Betrag von der Gesamtsumme abgezogen.</li>
      <li>Hat die Kampagne ihr Mindestziel erreicht, ist sie erfolgreich und du bekommst den gesammelten Betrag abzüglich der Gebühren und eventuellen Rücktritte bzw. fehlgeschlagener Zahlungen ca. 14-16 Tage nach dem Kampagnenende auf das mit Stripe verknüpfte Konto ausgezahlt.</li>
      <li>Du hast ein persönliches Kampagnen Dashboard, dort findest du alle Unterstützer*innen mit ihren gewählten Goodies, Status der Zahlungen und deiner angefragten Zusatzinformationen wie z.B. Angabe der Postadresse, falls du diese beim Goodie abfragst. Diese Liste kannst du herunterladen. </li>
    </ul>
  </div>

  <div class="wrp">
    <h3>Belohnungen (Goodies)</h3>
    <ul>
      <li><strong>Was sind typische Belohnungen für Unterstützer?</strong> Typische Belohnungen für Unterstützer*innen können ideelle Anerkennungen, Produkte, Dienstleistungen, Erlebnisse umfassen, wobei eine Auswahl von 5-7 Belohnungen in verschiedenen Preisklassen empfohlen wird, um unterschiedliche Unterstützer*innen anzusprechen. Die Auswahl sollte überschaubar bleiben. </li>
      <li>Prüfe, ob du für die Unterstützungen Rechnungen ausstellen kannst oder z.B. Spendenquittungen, Belege. Das kannst du in der Kampagne kenntlich machen.</li>
      <li>Jeder Kampagne kann mit einem frei wählbaren Betrag unterstützt werden, d.h. in dem Fall gibt es kein Goodie.</li>
    </ul>
  </div>

  <div class="wrp">
    <h3>Nutze während der Kampagne die Kommunikationstools der Plattform</h3>
    <ul>
      <li>Mit der Update-Funktionen auf der Kampagnenseite kannst du mitteilen, was sich bei deinem Vorhaben während der Kampagne tut.</li>
      <li>Deine bestehenden Unterstützer*innen kannst du ebenfalls auf der Kampagnenseite via E-Mail-Funktion kontaktieren, um wichtige Meilensteine und Entwicklungen zu kommunizieren. Auch nach der Kampagne kannst du auf diesem Weg deine Unterstützer*innen erreichen.</li>
    </ul>
  </div>

  <div class="wrp">
    <h3>Steuern</h3>
    <p>Bitte sprich mit der/die Steuerexperte*in darüber, wie du die Einnahmen aus dem Crowdfunding steuerlich behandeln solltest. Das ist von Fall zu Fall verschieden und hängt davon ab, ob du beispielsweise das Crowdfunding als ein Verein, ein Kleinunternehmen oder als ein größeres Unternehmen durchführst. Auch die Art der Goodies, die du anbietest, spielen eine Rolle.</p>
  </div>

  <div class="wrp">
    <h3>Verantwortlichkeiten</h3>
    <p>Du bist verpflichtet, die versprochenen Belohnungen zu liefern.</p>
  </div>

  <div class="wrp">
    <h3>Nach der Kampagne</h3>
    <p>Plane und organisiere ggf. die Produktion und Lieferung der Goodies, und setze deine Unterstützer*innen regelmäßig über den Fortschritt in Kenntnis, wann sie mit den Goodies rechnen können. Du kannst auch nach der Kampagne auf das Emailtool auf deiner Kampagnenseite zugreifen, um z.B. deine Unterstützer*innen zu informieren, wie es bei dir weitergeht.</p>
  </div>

  <%= link_to "Los geht's - Neue Kampagne erstellen", new_crowd_campaign_path, class: 'btn-primary -rose -large -shadow letsstart'%>

  <div style="clear:both;"></div>

</section>

<%= render 'info_navigation' %>
