<% meta(
    title: 'AXA versichert eure Toolteiler',
  )
%>
<section class="help -insurance">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <div class="logo-big"></div>
      <div class="txt">
        <div class="hl">
          <div class="logo-small"></div>
          <h3>
            Beim Toolteiler werden die NutzerInnen und deren Eigentum bei jedem Leihvorgang automatisch versichert.<br>
            Einfach und unbürokratisch.
          </h3>
        </div>
        <div class="cardBox">
          <p>
            Damit du sicher deine Arbeitsgeräte verleihen und deine Ausstattung am Arbeitsplatz
            anderen zugänglich machen kannst, haben wir mit <a href="#">AXA XL Insurance</a>, einen führenden
            gewerblicher Versicherungsanbieter, beim Toolteiler an Bord geholt.
            Bei jedem Toolteiler Verleihvorgang ist automatisch eine Versicherung inkludiert.
            Die Versicherung schützt Verleihende, Leihende und die beim Toolteiler angebotenen
            Gegenstände mit einer Versicherungssumme von bis zu 15.000 € pro Transaktion.
          </p>
        </div>
        <a href="#" class="btn-primary -mint">Faktenblatt zur Versicherungspolizze</a><br>
        <a href="#" class="btn-primary -mint">Versicherungsausweis</a><br>
        <a href="#" class="btn-primary -mint">Allgemeine Versicherungsbedingungen für die Haftpflicht</a><br>
      </div>
    </div>
  </div>

</section>
