<% meta(
    title: 'AXA versichert eure Toolteiler',
  )
%>
<section class="help -insurance -tmp">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <div class="logo-big"></div>
      <div class="txt">
        <div class="hl">
          <div class="logo-small"></div>
          <h3>
            Beim Toolteiler werden die NutzerInnen und deren Eigentum bei jedem Leihvorgang versichert.
            Einfach und unbürokratisch.
          </h3>
        </div>
        <div class="cardBox">
          <p>
            Damit du deine Arbeitsgeräte sicher verleihen und deine Ausstattung am Arbeitsplatz anderen zugänglich machen kannst,
            haben wir mit AXA XL Insurance einen führenden gewerblichen Versicherungsanbieter an Bord geholt.
            Bei jedem Toolteiler Verleihvorgang ist dein Arbeitsgerät im Rahmen der allgemeinen und ergänzenden
            Haftpflichtversicherungsbedingungen (XL AHVB 2008 und XL EHVB 2008) sowie der Besonderen Vertragsbedingungen (BVB) versichert.
            Die Versicherung schützt Verleihende, Leihende und die beim Toolteiler angebotenen Arbeitsgeräte mit einer Versicherungssumme von bis zu 15.000 EUR pro Transaktion.
          </p>
        </div>
        <a href="https://blog.imgraetzl.at/wp-content/uploads/2019/09/Kurzinformationen_imGraetzl-Toolteiler_Versicherungsschutz.pdf" class="btn-primary -mint" target="_blank">Faktenblatt zur Versicherungspolizze</a><br>
        <a href="https://blog.imgraetzl.at/wp-content/uploads/2019/09/Versicherungsbestätigung_imGraetzl_Toolteiler.pdf" class="btn-primary -mint" target="_blank">Versicherungsausweis</a><br>
        <a href="https://blog.imgraetzl.at/wp-content/uploads/2019/09/XL-AHVB_EHVB-2008-AXA-XL.pdf" class="btn-primary -mint" target="_blank">Allgemeine Versicherungsbedingungen für die Haftpflicht</a><br>
      </div>
    </div>
  </div>

</section>
