<section class="locationPage">

  <div class="cloudyImgHeader">
    <div class="titleHeadline">
      <div class="wrp">
        <a href=""><h3 class="district">Stuwerviertel</h3></a>

        <h1>Palette Bio & feinstes vom Land</h1>
        <h4 class="locationType">Feinkostladen/Esslokal</h4>
      </div>
      <img class="locationAvatar" src="/assets/images/dummy/palette.jpg" alt="">

      <div class="card"></div>
    </div>
    <img class="titleImg" src="/assets/images/dummy/palette_header.jpg" alt="">
  </div>

  <div class="mainContent">
    <div class="introtxt">
      <h3>Die “Palette” — Bio auf dem Vorgartenmarkt</h3>
      <p>Unser Laden bietet - wie der Name sagt - nicht “nur” zertifizierte Bio-Produkte an, sondern auch Produkte in
        Bio-Qualität. Wir kennen diese Produzenten persönlich und wissen, wie sie arbeiten und ihre Lebensmittel
        herstellen.</p>
    </div>


    <div class="zuckerlBlock">
      <h2>August</h2>
      <div class="zuckerlCollection">

        <div class="zuckerlBox">
          <div class="wrp-img">
            <img src="https://placeimg.com/300/200/nature?3" alt="">
          </div>
          <div class="txt">
            <div class="user">
              <img class="img-round" src="/assets/images/dummy/palette.jpg" alt="">
              <span>Palette</span>
            </div>
            <h3>Mittagsmenü täglich frisch gekocht - auch zum mitnehmen.</h3>
            <p>Noch nicht probiert? Im Juli gibt es unser Mittagsmenü um nur 5,90 €</p>
          </div>
        </div>

        <div class="zuckerlBox">
          <div class="wrp-img">
            <img src="https://placeimg.com/300/200/nature" alt="">
          </div>
          <div class="txt">
            <div class="user">
              <img class="img-round" src="/assets/images/dummy/palette.jpg" alt="">
              <span>Palette</span>
            </div>
            <h3>Mittagsmenü täglich frisch gekocht - auch zum mitnehmen.</h3>
            <p>Noch nicht probiert? Im Juli gibt es unser Mittagsmenü um nur 5,90 €</p>
          </div>
        </div>

      </div>
    </div>


    <div class="meetingsBlock">
      <div class="wrp-hl">
        <h2>Treffen</h2>
        <button class="btn-userCallToAction">
        <span>
          <img src="/assets/images/dummy/dummy-100x100-Mermaid-plain.jpg" alt="" class="img-round"/>
          Treffen erstellen
          <svg class="icon-plus">
            <use xlink:href="#icon-plus"></use>
          </svg>
        </span>
        </button>
      </div>

      <div class="meetingBoxCollection">

        <div class="meetingBox">
          <div class="meetingBoxHeader">
            <img class="coverImg" src="https://placeimg.com/300/180/nature" alt="">

            <div class="calendarSheet">
              <div class="day">14</div>
              <div class="month">Aug</div>
            </div>

            <div class="medalBadge">
              <img class="img-round" src="/assets/images/dummy/palette.jpg" alt="">
            </div>

            <div class="user">
              <img class="img-round" src="https://placeimg.com/40/40/people?6" alt="">
              <span>Inge</span>
            </div>
          </div>
          <h3>Verkostung: Hildegard von Bingen-Produkte</h3>

          <div class="txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci necessitatibus perspiciatis tenetur
              veniam voluptatem! Mollitia.</p>
          </div>
          <a class="btn-primary -mint" href="#">Mitmachen</a>
        </div>

        <div class="meetingBox">
          <div class="meetingBoxHeader">
            <img class="coverImg" src="https://placeimg.com/300/180/nature?9" alt="">

            <div class="calendarSheet">
              <div class="day">14</div>
              <div class="month">Aug</div>
            </div>

            <div class="medalBadge">
              <img class="img-round" src="/assets/images/dummy/palette.jpg" alt="">
            </div>

            <div class="user">
              <img class="img-round" src="https://placeimg.com/40/40/people?3" alt="">
              <span>Inge</span>
            </div>
          </div>
          <h3>Verkostung: Hildegard von Bingen-Produkte</h3>

          <div class="txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci necessitatibus perspiciatis tenetur
              veniam voluptatem! Mollitia.</p>
          </div>
          <a class="btn-primary -mint" href="#">Mitmachen</a>
        </div>

        <div class="meetingBox">
          <div class="meetingBoxHeader">
            <img class="coverImg" src="https://placeimg.com/300/180/nature?2" alt="">

            <div class="calendarSheet">
              <div class="day">14</div>
              <div class="month">Aug</div>
            </div>

            <div class="medalBadge">
              <img class="img-round" src="/assets/images/dummy/palette.jpg" alt="">
            </div>

            <div class="user">
              <img class="img-round" src="https://placeimg.com/40/40/people?7" alt="">
              <span>Inge</span>
            </div>
          </div>
          <h3>Verkostung: Hildegard von Bingen-Produkte</h3>

          <div class="txt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci necessitatibus perspiciatis tenetur
              veniam voluptatem! Mollitia.</p>
          </div>
          <a class="btn-primary -mint" href="#">Mitmachen</a>
        </div>

      </div>
    </div>

  </div>

  <aside class="sideBar">

    <div class="sideBarbox staff">
      <h4 class="sideflag -L">Arbeiten hier</h4>
      <img class="img-round" src="https://placeimg.com/40/40/people?2" alt="">
      <img class="img-round" src="https://placeimg.com/40/40/people?3" alt="">
      <img class="img-round" src="https://placeimg.com/40/40/people?4" alt="">
    </div>

    <div class="sideBarbox openinghours">
      <h4 class="sideflag -L">Öffnungszeiten</h4>

      <div class="icontxt">
        <svg class="icon-time-clock">
          <use xlink:href="#icon-time-clock"></use>
        </svg>
        <ul>
          <li>Di - Fr 08:00 — 18:00</li>
          <li>Sa 08:00 — 13:00</li>
        </ul>
      </div>
    </div>

    <div class="sideBarbox contact">
      <h4 class="sideflag -L">Kontakt</h4>
      <a href="http://www.palette.or.at" class="icontxt">
        <svg class="icon-globe">
          <use xlink:href="#icon-globe"></use>
        </svg>
        www.palette.or.at
      </a>
      <a href="mailto:hradecsni@gmx.at" class="icontxt">
        <svg class="icon-at-symbol">
          <use xlink:href="#icon-at-symbol"></use>
        </svg>
        hradecsni@gmx.at
      </a>
      <a href="tel:+436641606038" class="icontxt">
        <svg class="icon-mobile">
          <use xlink:href="#icon-mobile"></use>
        </svg>
        +43 664 1606038
      </a>

      <div class="address">
        Vorgartenmarkt / Stand Nr.22-23<br>
        1020 Wien
        <a href="https://www.google.com/maps/place/vorgartenmarkt+stand+22/" target="_blank">
          <img src="http://maps.google.com/maps/api/staticmap?center=48.221718,16.402051&zoom=16&scale=2&markers=vorgartenmarkt+stand 22&size=250x250&sensor=TRUE_OR_FALSE" alt="Google Map of vorgartenmarkt stand 22">
        </a>
      </div>
    </div>

    <div class="sideBarbox categories">
      <h4 class="sideflag -L">Lebensmittel</h4>
      <ul class="tagCollection">
        <li>Lungauer Gunther Naynar</li>
        <li>Helwin Hinke</li>
        <li>Thum</li>
        <li>Joseph</li>
        <li>Mauracher</li>
        <li>Schrott</li>
        <li>Trausners Genusswerkstatt</li>
        <li>Emils vegane Mayo</li>
        <li>Dagmar Köstner</li>
      </ul>
    </div>

    <div class="sideBarbox impressions">
      <h4 class="sideflag -L">Impressionen</h4>

      <div class="imgCollection">
        <img src="/assets/images/dummy/palette_gal1.jpg" alt="">
        <img src="/assets/images/dummy/palette_gal2.jpg" alt="">
        <img src="/assets/images/dummy/palette_gal3.jpg" alt="">
        <img src="/assets/images/dummy/palette_gal4.jpg" alt="">
      </div>
    </div>

  </aside>

</section>

