<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'noindex, follow'
  )
%>

<section class="lp -raumteilerguide">

  <div class="hl-subtext">
      <h1><em>Raumteiler Guide 2019</em></h1>
      <p>
        Danke für dein Interesse am Guide.<br>
        Lade dir diesen nun hier herunter.
        <br>
      </p>
      <p class="download">
        <a href="https://blog.imgraetzl.at/wp-content/uploads/2019/02/RaumteilerGuide2019.pdf" class="btn-primary -mint">Raumteiler Guide PDF downloaden</a>
      </p>
    </div>

</section>
