<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script>

    $(document).ready(function() {
      $('.datepicker').pickadate({
        formatSubmit: 'yyyy-mm-dd'
      });

      $('.timepicker').pickatime({
        interval: 15,
        format: 'HH:i'
      });

      $('select.categories').SumoSelect({
        placeholder: 'Kategorien wählen',
        csvDispCount: 5,
        captionFormat: '{0} Kategorien ausgewählt'
      });

    });

  </script>
</head>
<body>

<section class="create-meeting">

  <h2>Ein <span>neues Treffen</span>, wie schön!</h2>

  <div class="meet-what">
    <p>Was für ein Treffen planst du genau?</p>

    <div class="input-group">
      <input id="meeting_name" name="" type="text">
      <label for="meeting_name">Gib deinem Treffen einen kurzen Namen.</label>
    </div>
    <div class="textarea-group">
      <textarea name="" id="meeting_description" cols="30" rows="10"></textarea>
      <label for="meeting_description">Beschreibe dein Treffen in 1-2 Sätzen</label>
    </div>

  </div>

  <div class="meet-where">
    <p>Wo soll dein Treffen stattfinden?</p>

    <div class="input-group">
      <div class="wrp-icon">
        <svg class="icon-pin"><use xlink:href="#icon-pin"></use></svg>
      </div>
      <input id="meeting_address" name="" type="text">
      <label for="meeting_address">Adresse</label>
    </div>
    <div class="input-group">
      <div class="wrp-icon">
        <svg class="icon-flag"><use xlink:href="#icon-flag"></use></svg>
      </div>
      <input id="meeting_location" name="" type="text">
      <label for="meeting_location">Ortsbeschreibung</label>
    </div>


  </div>

  <div class="meet-when">
    <p class="txt">Wann planst du dein Treffen?</p>

    <div class="datepicker-group">
      <label for="date">
        <svg class="icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
        Datum
      </label>
      <input id="date" type="text" class="datepicker" placeholder="wählen"/>
    </div>


    <div class="timepicker-group">
      <label for="begin">
        <svg class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
        Beginn
      </label>
      <input id="begin" type="text" class="timepicker" placeholder="wählen"/>
    </div>

    <div class="timepicker-group">
      <label for="end">
        <svg class="icon-clock"><use xlink:href="#icon-clock"></use></svg>
        Ende
      </label>
      <input id="end" type="text" class="timepicker" placeholder="wählen"/>
    </div>



  </div>

  <div class="meet-picture">
    <p>Hast du vielleicht ein Foto für dein Treffen?<br>
      Irgendetwas was dein Treffen bildlich beschreiben könnte?</p>
    <div class="upload-image">
      <!-- <img src="http://kulyo.com/wp-content/uploads/2013/01/eventica-dummy-image-31.jpg" alt=""/> -->
      <svg class="icon-camera"><use xlink:href="#icon-camera"></use></svg>
      Cover-Foto hochladen
      <!--  <svg class="icon-delete-circle"><use xlink:href="#icon-delete-circle"></use></svg> -->
      <input id="file_id" name="" type="file">
    </div>
  </div>

  <div class="meet-categories">

    <p>Zum Abschluss versuche noch dein Treffen einem oder mehreren Themen zuzuordnen</p>
    <select multiple="multiple" name="categories" class="categories">
      <option value="a">Essen & Trinken</option>
      <option value="b">Leute kennenlernen</option>
      <option value="c">Neu in der Stadt</option>
      <option value="d">Musik machen</option>
      <option value="e">Gemeinsam Sport machen</option>
      <option value="f">Ausgehen</option>
      <option value="g">Kultur</option>
      <option value="h">Kinder</option>
      <option value="i">Malen und Zeichnen</option>
      <option value="j">Swingerclubs</option>
      <option value="k">Modelbau</option>
      <option value="l">Aquaristik</option>
      <option value="m">Kunst und Forschung<</option>
      <option value="n">Prügeln und Raufen</option>
    </select>
  </div>

  <button class="btn-primary">Treffen erstellen</button>

</section>

</body>
</html>