<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <script>
    $(document).ready(function () {


    });
  </script>

</head>
<body>

<section class="meeting-detail">

  <div class="headline">
    <div class="district">Stuwerviertel</div>
    <h1>Yoga im Park</h1>
  </div>

  <div class="theMeeting">

    <div class="description">
      <h3>Yoga in eisiger Kälte</h3>
      <p class="dateTime">Sonntag, 31. November 2014<br>
        16:30 - 18:00
      </p>
      <div class="locationMap">
        Park Venediger Au<br>
        Venediger Au<br>
        1020 Wien
      </div>
      <p class="txt">Lorsdsssem ipsum dolor sit amet, consectetur adipisicing elit. Eos, repellat!</p>
    </div>

    <div class="participate">
      <button class="btn-userimg"><img src="http://lorempixel.com/g/200/200" alt="" class="img-round"/>Am Treffen teilnehmen</button>
      <p class="userCount"><span>21</span> Teilnehmer</p>
      <div class="userCollection">
        <img src="http://lorempixel.com/s/200/200" alt="" class="img-round"/>
        <img src="http://lorempixel.com/j/200/200" alt="" class="img-round"/>
        <img src="http://lorempixel.com/o/200/200" alt="" class="img-round"/>
        <span class="showMore">Alle Anzeigen</span>
      </div>

    </div>
  </div>

  <div class="stream">

  </div>


</section>

</body>
</html>