<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="info -detail">

  <div class="hl-subtext">
    <h1><em>Events & Workshops</em></h1>
    <p>Wir machen deine Neuigkeiten im Stadtteil bekannt!</p>
  </div>

  <div class="paperCard -cord1RT container -top" id="zero">
    <div class="wrp">
      <p>
        Über den <b>Stadtteil-Newsletter</b> erreichst du mit deinen veröffentlichten Events & Workshops alle registrierten Nutzer im jeweiligen Stadtteil wöchentlich per Mail.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <%= link_to info_path, class: "btn-primary -grey -ico" do %><%= icon_tag "arrow-left-2" %> Services Übersicht<% end %>
      <a href="#worum-gehts" class="btn-primary -mint" id="nav-one">Woum gehts?</a>
      <a href="#events-erstellen" class="btn-primary -mint" id="nav-two">Events veröffentlichen</a>
      <a href="#sichtbarkeit" class="btn-primary -mint" id="nav-three">Sichtbarkeit für dein Event</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="one">
      <h2 id="worum-gehts">Worum gehts?</h2>
      <h3>Welche Termine eignen sich besonders als Event oder Workshop?</h3>
      <p>
        Wenn etwas ums Eck stattfindet, ist das für die BewohnerInnen deines Viertels grundsätzlich
        sehr interessant. Planst du einen Hausflohmarkt, eine Verkostung, oder organisierst du einen
        Lettering-Workshop? Bereitest du ein Konzert, eine Ausstellung, oder Lesung vor? Fantastico,
        du belebst damit dein Grätzl!
      </p>
      <p>
        Zur Veröffentlichung auf imGrätzl eignen sich besonders
        die einmalig stattfindenden Events, Workshops und Aktionen. Nicht geeignet sind regelmäßig
        stattfindende Events. Wenn du z.B. jede Woche einen Yoga-Stunde gibst, dann ist die als
        imGrätzl Event eher ungeeignet, regelmäßig stattfindende Termine gehören in die Beschreibung
        deiner Locationseite. Oder veröffentliche z.B. ein Update auf deiner Locationsseite,
        wenn der Kurs startet.

        <h3>Nicht geeignet als imGrätzl Event, weil wiederkehrend:</h3>
        Eva organisiert eine Laufgruppe, die sich jeden Mittwoch, also regelmäßig einmal die Woche trifft.

        <h3>Geeignet als imGrätzl Event, weil einmalig:</h3>
        Eva organisiert einen Lauf-Schnuppersession zu der Eva alle einlädt um die Laufgruppe kennenzulernen.
        <br><br>

        Das heißt nicht, dass du nicht auch auf die offene Jamsession, die jede Woche stattfindet,
        immer mal wieder hinweisen kannst. Aber zu häufige Wiederholungen vom immer dem selben
        Inhalt führen zu einer Abstumpfung bei den BewohnerInnen. Wenn ihr dann mal was Besonderes habt,
        dann bekommt das Treffen nicht mehr die Aufmerksamkeit, die es verdient.

        <h3>Kostenlose vs. kostenpflichtige Events</h3>
        Schreib unbedingt dazu, ob es sich bei deinem Event oder Workshop, um ein kostenloses
        Event/Workshop handelt, oder nicht. Schreib auch dazu, wie viel es kostet.
      </p>
    </article>

    <article class="container" id="two">
      <h2 id="events-erstellen">Events & Workshops veröffentlichen</h2>
      <p>
        <strong>Deine Termine veröffentlichen – Worauf solltest du achten?</strong>
        <h3>Bilder und Beschreibungen</h3>
        Schreibe unbedingt ganze Sätze und nicht nur Stichpunkte, um dein Event oder Workshop zu beschreiben.
        Lass die BewohnerInnen wissen, was sie erwartet, dann steigt die Wahrscheinlichkeit,
        dass sie teilnehmen und vorbeikommen.<br>
        Setze unbedingt ein Bild rein. Inspiration gefällig? Lese dir mal
        <a href="https://www.basicthinking.de/blog/2017/04/25/kostenlose-bilder-kommerzielle-zwecke/" target="_blank">diesen Artikel</a> dazu durch,
        wir fanden ihn sehr hilfreich.

        <h3>Erstelle dein Event & Workshop von deiner Locationseite aus</h3>
        Gehe dazu auf deine Locationseite und starte mit der Erstellung deines Events oder Workshops.
        Dann wird das Event automatisch auf deiner Locationseite angezeigt und die BewohnerInnen bekommen
        über die Events auf deiner Loationseite ein Gespür dafür, dass dein Projekt/dein Unternehmen auch
        wirklich lebt. Es ist übrigens vollkommen egal, ob dein Event oder dein Workshop in einem ganz
        anderen Grätzl stattfindet, als in dem deine Locationseite beheimatet ist. Das Event wird dann
        sogar zweimal angezeigt, einmal dort wo deine Locationseite beheimatet ist und einmal in dem
        Grätzl/Bezirk in dem das Event stattfindet.

        <h3>Die Adresse ist ganz wichtig!</h3>
        Wo findet euer Event, oder euer Workshop statt? Natürlich ist die Adresse wichtig, weil wie
        sollten die Menschen sonst zu dir und deinem Event hinfinden. Aber genau die Adresse wird
        gerne mal vergessen.
      </p>
    </article>

    <article class="container" id="three">
      <h2 id="sichtbarkeit">Sichtbarkeit für dein Event</h2>
      <p>
        Deine Events, Workshops und Aktionen werden in das Grätzl Mail aufgenommen und an alle
        registrierten BewohnerInnen im Stadtteil verschickt.<br><br>
        imGrätzl ist übrigens das einzige Angebot, dass Events stadtteilsegementiert in Wien
        digital sichtbar macht und das auch ohne Registrierung/Anmeldung einsehbar sind.
        Durch die Kooperation z.B. mit der Sozialbau Ag werden die imGrätzl Events und Workshops
        nicht nur im Internet angezeigt, sondern auch auf vielen Displays in Häusern, die sie betreuen.
        So sehen die BewohnerInnen, wie auf einem schwarzen Brett im Haus, was in ihrem Grätzl für
        Events und Workshops geplant sind.<br><br>
        Wir beschäftigen uns außerdem viel mit Suchmaschinen Optimierung, damit eure Events &
        Workshops auch über die Google Suche Sichtbarkeit bekommen.
      </p>
    </article>

  </div>

  <div style="clear:both;"></div>

</section>

<%= render 'info_menu' %>
