<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <script>

      $(document).ready(function () {

          APP.components.imgUploadPreview();

          $(".entryCommentForm textarea, .entryCreate textarea").autogrow();

          $(".entryCommentForm textarea")
                  .on("focus", function () {
                      var $parent = $(this).parents(".entryCommentForm");
                      $parent.addClass("is-focused");
                  })
                  .on("blur", function () {
                      var $parent = $(this).parents(".entryCommentForm");
                      if (!$(this).val().length) {
                          $parent.removeClass("is-focused");
                      }
                  });

          $(".entryCreate textarea")
                  .on("focus", function () {
                      var $parent = $(this).parents(".entryCreate");
                      $parent.addClass("is-focused");
                  })
                  .on("blur", function () {
                      var $parent = $(this).parents(".entryCreate");
                      if (!$(this).val().length) {
                          $parent.removeClass("is-focused");
                      }
                  });

          /*
           $(".respondForm textarea").showMoreOnTyping({
           elementsToShow: function() {
           return $(this).parent().parent().find("button");
           }
           });

           $(".writeEntry textarea").showMoreOnTyping({
           elementsToShow: function() {
           return $(this).parent().parent().find("button, .upload-image");
           }
           });
           */


      });


  </script>


</head>
<body>

<div class="mapImgBlock">


  <div class="titleHeadline">
    <h3 class="district">Stuwerviertel</h3>
    <h1>Yoga im Park</h1>
    <div class="card"></div>
  </div>
  <img class="titleImg" src="/assets/dummy/dummy-980x370-HorseRace-plain.jpg" alt=""/>

</div>


<div class="entryDescription">

  <div class="dateTime">
    <div class="iconCalendarTextual">
      <span>Nov<br>31</span>
      <svg class="icon-calendar-1">
        <use xlink:href="#icon-calendar-1"></use>
      </svg>
    </div>
    <div class="dayYearTimes">Sonntag, 17. Juni 2015<br>
      <span class="begin">Beginn: 16:30</span><span class="end">Ende: 18:00</span>
    </div>
  </div>

  <div class="location">
    <a class="iconMapLink" href="http://www.openstreetmap.org/#map=18/48.21931/16.39572" target="_blank">
      <svg class="icon-map">
        <use xlink:href="#icon-map"></use>
      </svg>
      Karte
    </a>

    <div class="address">
      <strong>Bei mir daham</strong><br>
      Hofenedergasse 22/3/22<br>
      1020 Wien
    </div>
  </div>

  <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dignissimos, explicabo harum
    laboriosam laborum maxime reiciendis ullam! Dolores, in, praesentium? A ad aperiam assumenda consequuntur delectus
    dolore dolores, dolorum enim error exercitationem explicabo harum impedit in ipsum laborum magni molestias non,
    provident qui quis repellendus saepe suscipit velit veritatis voluptate?</p>

</div>

<div class="entryParticipate">
  <button class="btn-userCallToAction"><span>   <img src="/assets/dummy/dummy-100x100-Mermaid-plain.jpg" alt="" class="img-round"/>
    Treffen erstellen</span>
  </button>
  <div class="participants">
    <p class="userCount"><span>21</span> Teilnehmer</p>

    <div class="portraitCollection">
      <img src="/assets/dummy/dummy-100x100-Apollo11-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-BodyLanguage-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-GambiaGirl-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-UmbrellaGirl-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-SarahVaughan-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-Sikh-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-Centurion-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-Apollo11-plain.jpg" alt="" class="img-round"/>
      <img src="/assets/dummy/dummy-100x100-BodyLanguage-plain.jpg" alt="" class="img-round"/>

      <div class="dotdotdot">
        <svg class="icon-dot-3">
          <use xlink:href="#icon-dot-3"></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="stream">

  <div class="entryCreate">

    <img src="/assets/dummy/dummy-100x100-Mermaid-plain.jpg" alt="" class="img-round"/>

    <div class="textEditor">
      <textarea name="" id="" placeholder="Beitrag verfassen"></textarea>

      <div class="upload-image js-imgUpld">
        <svg class="icon-camera">
          <use xlink:href="#icon-camera"></use>
        </svg>
        Bilder hochladen
        <svg class="icon-delete-circle">
          <use xlink:href="#icon-delete-circle"></use>
        </svg>
        <input id="file_id" name="" type="file">
      </div>
      <button>Beitrag senden</button>
    </div>

  </div>


  <div class="streamElement">

    <div class="entryInitialContent">
      <div class="userCreateInfo">
        <img src="/assets/dummy/dummy-100x100-GambiaGirl-plain.jpg" alt="" class="img-round"/>
        <span class="userAndType">Nachricht von <a href="">Heinz Strunk</a></span>
      </div>
      <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae eaque incidunt iusto officia optio
          porro quam quas suscipit voluptate?</p>
      </div>
      <div class="entryImgUploads">
        <a href="" target="_blank"><img src="/assets/dummy/dummy-110x80-SpiderWeb-plain.jpg" alt=""/></a>
        <a href="" target="_blank"><img src="/assets/dummy/dummy-110x80-Waterfall-plain.jpg" alt=""/></a>
        <a href="" target="_blank"><img src="/assets/dummy/dummy-110x80-Ocean-plain.jpg" alt=""/></a>
        <a href="" target="_blank"><img src="/assets/dummy/dummy-110x80-PickUpSticks-plain.jpg" alt=""/></a>
      </div>
    </div>

    <div class="entryUserComment">
      <div class="userCreateInfo">
        <img src="/assets/dummy/dummy-100x100-BodyLanguage-plain.jpg" alt="" class="img-round"/>
        <span class="userAndType">Kommentar von <a href="">Frank Auge</a></span>
      </div>
      <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae eaque incidunt iusto officia optio
          porro quam quas suscipit voluptate?</p>
      </div>
    </div>

    <div class="entryCommentForm">
      <label>
        <img src="/assets/dummy/dummy-100x100-Sikh-plain.jpg" alt="" class="img-round"/>
        <textarea name="" id="" placeholder="Kommentieren"></textarea>
      </label>
      <button>Antwort senden</button>
    </div>

  </div>


  <div class="streamElement">

    <div class="entryInitialContent">
      <div class="userCreateInfo">
        <img src="/assets/dummy/dummy-100x100-Sikh-plain.jpg" alt="" class="img-round"/>
        <span class="userAndType">Treffen von <a href="">Fritz Verzetnitsch </a></span>
        <span class="timeago">vor 3 Stunden</span>
      </div>

      <a href="#" class="meetingTeaser">

        <img src="/assets/dummy/dummy-590x223-Canoe-plain.jpg" alt=""/>

        <div class="facts">
          <h2>Angeln am Kanal</h2>
          <div class="dateLocation">
            <div class="dateTimeIconSmall">
              <svg class="icon-calendar-1">
                <use xlink:href="#icon-calendar-1"></use>
              </svg>
              12. Juli 2015
            </div>
            <div class="locationIconSmall">
              <svg class="icon-map">
                <use xlink:href="#icon-map"></use>
              </svg>
              Vorm Flex
            </div>
          </div>
        </div>

        <div class="participantsCountSmall" title="22 Teilnehmer">
          <svg class="icon-person">
            <use xlink:href="#icon-person"></use>
          </svg>
          22
        </div>

      </a>

      <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae eaque incidunt iusto officia optio
          porro quam quas suscipit voluptate?</p>
      </div>
    </div>

    <div class="entryNewParticipants">
      <strong>+3 neue Teilnehmer</strong>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-Apollo11-plain.jpg" alt="" class="img-round"/><span>Jim Koch</span></a>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-Sikh-plain.jpg" alt="" class="img-round"/><span>Asanthi Veredeck</span></a>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-GambiaGirl-plain.jpg" alt="" class="img-round"/><span>Markus Wölflick</span></a>
    </div>

    <div class="entryCommentForm">
      <label>
        <img src="/assets/dummy/dummy-100x100-Apollo11-plain.jpg" alt="" class="img-round"/>
        <textarea name="" id="" placeholder="Kommentieren"></textarea>
      </label>
      <button>Antwort senden</button>
    </div>

  </div>


  <div class="streamElement">

    <div class="entryInitialContent">
      <div class="userCreateInfo">
        <img src="/assets/dummy/dummy-100x100-Mermaid-plain.jpg" alt="" class="img-round"/>
        <span class="userAndType">Nachricht von <a href="">Ferdinand Porsche</a></span>
      </div>
      <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid beatae debitis dicta dolorem
          doloribus earum eligendi error fuga illo inventore ipsam itaque labore, natus nemo obcaecati odio optio
          pariatur ratione recusandae sapiente tempore ut! Dolore eligendi facere necessitatibus tempora?</p>
      </div>
    </div>

    <div class="entryCommentForm">
      <label>
        <img src="/assets/dummy/dummy-100x100-GambiaGirl-plain.jpg" alt="" class="img-round"/>
        <textarea name="" id="" placeholder="Kommentieren"></textarea>
      </label>
      <button>Antwort senden</button>
    </div>

  </div>


  <div class="streamElement">

    <div class="entryInitialContent">
      <div class="userCreateInfo">
        <img src="/assets/dummy/dummy-100x100-Apollo11-plain.jpg" alt="" class="img-round"/>
        <span class="userAndType">Treffen von <a href="">Michael Konsel</a></span>
      </div>

      <a href="#" class="meetingTeaser">

        <img src="/assets/dummy/dummy-590x223-GolfBalls-plain.jpg" alt=""/>

        <div class="facts">
          <h2>Autorennen auf der A2 Richtung Graz</h2>
          <div class="dateLocation">
            <div class="dateTimeIconSmall">
              <svg class="icon-calendar-1">
                <use xlink:href="#icon-calendar-1"></use>
              </svg>
              03. August 2015
            </div>
            <div class="locationIconSmall">
              <svg class="icon-map">
                <use xlink:href="#icon-map"></use>
              </svg>
              Verteilerkreis Favoriten
            </div>
          </div>
        </div>

        <div class="participantsCountSmall" title="9 Teilnehmer">
          <svg class="icon-person">
            <use xlink:href="#icon-person"></use>
          </svg>
          9
        </div>

      </a>

      <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae eaque incidunt iusto officia optio
          porro quam quas suscipit voluptate?</p>
      </div>
    </div>

    <div class="entryUserComment">
      <div class="userCreateInfo">
        <img src="/assets/dummy/dummy-590x223-RacingBike-plain.jpg" alt="" class="img-round"/>
        <span class="userAndType">Kommentar von <a href="">Franz Wohlfahrt</a></span>
      </div>
      <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae eaque incidunt iusto officia optio
          porro quam quas suscipit voluptate?</p>
      </div>
      <div class="entryImgUploads">
        <a href="" target="_blank"><img src="/assets/dummy/dummy-110x80-Waterfall-plain.jpg" alt=""/></a>
        <a href="" target="_blank"><img src="/assets/dummy/dummy-110x80-Ocean-plain.jpg" alt=""/></a>
      </div>
    </div>

    <div class="entryCommentForm">
      <label>
        <img src="/assets/dummy/dummy-100x100-BodyLanguage-plain.jpg" alt="" class="img-round"/>
        <textarea name="" id="" placeholder="Kommentieren"></textarea>
      </label>
      <button>Antwort senden</button>
    </div>

  </div>



  <div class="streamElement">

    <div class="entryInitialContent">
      <div class="userCreateInfo">
        <img src="/assets/dummy/dummy-100x100-GambiaGirl-plain.jpg" alt="" class="img-round"/>
        <span class="userAndType"><a href="">Jazz Gitti </a> hat ein Treffen erstellt</span>
      </div>

      <a href="#" class="meetingTeaser">

        <img src="/assets/dummy/dummy-590x223-Ballet-plain.jpg" alt=""/>

        <div class="facts">
          <h2>Kulinarik genießen bei der alten unguaten Möslinger</h2>
          <div class="dateLocation">
            <div class="dateTimeIconSmall">
              <svg class="icon-calendar-1">
                <use xlink:href="#icon-calendar-1"></use>
              </svg>
              22. September 2015
            </div>
            <div class="locationIconSmall">
              <svg class="icon-map">
                <use xlink:href="#icon-map"></use>
              </svg>
              Gasthaus Möslinger
            </div>
          </div>
        </div>

        <div class="participantsCountSmall" title="11 Teilnehmer">
          <svg class="icon-person">
            <use xlink:href="#icon-person"></use>
          </svg>
          11
        </div>

      </a>

      <div class="txt">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae eaque incidunt iusto officia optio porro quam quas suscipit voluptate?</p>
      </div>
    </div>

    <div class="entryNewParticipants">
      <strong>+6 neue Teilnehmer</strong>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-Apollo11-plain.jpg" alt="" class="img-round"/><span>Jim Koch</span></a>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-BodyLanguage-plain.jpg" alt="" class="img-round"/><span>Asanthi Veredeck</span></a>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-GambiaGirl-plain.jpg" alt="" class="img-round"/><span>Markus Wölflick</span></a>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-Sikh-plain.jpg" alt="" class="img-round"/><span>Sandra Saubermann</span></a>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-Sikh-plain.jpg" alt="" class="img-round"/><span>Horst Tischler</span></a>
      <a href="" class="userPortraitName"><img src="/assets/dummy/dummy-100x100-Centurion-plain.jpg" alt="" class="img-round"/><span>Natascha Popoklatsch</span></a>
    </div>

    <div class="entryCommentForm">
      <label>
        <img src="/assets/dummy/dummy-100x100-SarahVaughan-plain.jpg" alt="" class="img-round"/>
        <textarea name="" id="" placeholder="Kommentieren"></textarea>
      </label>
      <button>Antwort senden</button>
    </div>

  </div>



</div>

</body>
</html>