<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url("info/teaserbox-mentoring.jpg")
  )
%>

<% content_for :canonical_url, info_meilensteine_url(host: welocally_platform_host) %>

<section class="homeWeLocally info lp -about-pages -milestones">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <h1>Meilensteine der letzten Jahre ...</h1>
      <%= render 'about_navigation' %>
    </div>
  </div>

  <p class="subline">
    <strong>Im April 2016 wurde imGrätzl.at in 159 Grätzln in Wien ausgerollt, yeah!</strong>
  </p>

  <p class="subline -paragraph">
    <strong class="milestone">Stand Oktober 2021:</strong> 8.000 Selbstständige, kl. Unternehmen, Vereine, Kulturschaffende und Macher*innen aus Wien haben sich auf imGrätz.at registriert, über 2.000 haben sich eine interaktives Schaufenster eingerichtet, hunderte on- & offline Events und Aktionen werden monatlich veröffentlicht und 1.500 Raumteiler konnten wir bisher begleiten.
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">2019 wurde der Toolteiler ausgerollt</strong>, da geht es darum Arbeitsequipment und Ausstattung am Arbeitsplatz über die Plattform zu verleihen. Wir haben 2019 das erste Unterstützer-Team mit Mentoring Begleitung gestartet. Lauter Menschen, die ihre Vorhaben auf den Boden bringen möchten und wir dürfen sie dabei 3 Monate begleiten (außerdem bauen wir damit viele kleine kooperative Zellen auf).
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">Seit 2017 war imGrätzl außerdem bei dem Projekt Mischung: Nordbahnhof am Start</strong>, das im Rahmen einer Smart Cities Initiative vom Klima- und Energiefonds umgesetzt wurde.
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">2019 haben wir dann auch unseren ersten Bauträger Wettbewerb im Team mit der Sozialbau AG gewonnen</strong> und können unser Wissen in die Entwicklung eines neuen Quartiers (An der Schanze) einfließen lassen.
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">2021 haben wir den zweiten Bauträger Wettbewerb mit der EGW gewonnen</strong>, dieses Projekt startet bald im dritten Bezirk (Village). Was für eine Freude!
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">Der Raumteiler Guide ist erstmals 2018 erschienen</strong> und erklärt Schritt für Schritt, was es beim Gewerbeflächen teilen zu beachten gibt. Es ist online verfügbar und liegt als Printversion zur freien Entnahme an verschiedenen Stellen aus.
  </p>
  <p class="subline -paragraph">
    Um die Bekanntheit der Raumteilerprinzips zu erweitern, <strong class="milestone">wurde 2018 das Raumteiler Festival veranstaltet</strong>. Beim Raumteiler Festival wurden Raumsuchende mit Raumhabenden analog in der Nordbahn-Halle verbunden. Raumunternehmen und Coworking Spaces waren ebenfalls eingeladen ihre Konzepte zu präsentieren.
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">2018 wurde imGrätzl zum Kategoriensieger “Smart City” gekürt</strong> und hat dafür einen eAward verliehen bekommen. Was für eine Ehre - wir haben uns unglaublich gefreut.
  </p>
  <p class="subline -paragraph">
    Eine Reihe an weiteren Initiativen wurden in den letzten Jahren zur Stadtteilbelebung und Vernetzung der lokalen AkteurInnen durchgeführt: Pop-up Messe am Vorgartenmarkt, Vorglühen im Vorgarten, Film ab imGrätzl, Stuwertrubel und „Feel good im Grätzl“ mit 150 Aussteller/innen aus dem Bereich „Gesundheit & Wohlgefühl“, das Event fand gleichzeitig in 6 Bezirken statt. Coworking imGrätzl: Cafés und Restaurants wurden an Ruhetagen genutzt, um Einzelunternehmen in einem Grätzl miteinander zu vernetzen und Austausch zu ermöglichen.
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">Außerdem wurde im März 2020, im ersten Lockdown „Selbstständige für Selbstständige & Macher*innen“ gestartet</strong>, über 300 Expert*innen haben kostenlose Beratungen & Sessions angeboten, um andere Selbstständige in Wien zu stärken und unterstützen. Das war WOW!
  </p>
  <p class="subline -paragraph">
    <strong class="milestone">2021 können wir über die “Impact Innovation” Förderschiene der FFG “WeLocally” basierend auf imGrätzl.at entwickeln.</strong> 2021 konnte WeLocally außerdem bei Regional.Digital.Innovativ, einer Initiative der FFG und dem Bundesministerium für Landwirtschaft, Regionen und Tourismus, punkten. Wir sind mit der Idee unter die ersten drei Gewinnerideen gekommen, auf die Umsetzung, mit unseren Partner*innen von Crowdstrudel, freuen wir uns schon sehr:)
  </p>



</section>
