<%
   meta({
          title: t('.title'),
          description: t('.description'),
          robots: 'index, follow',
          og_title: t('.title'),
          og_description: t('.description'),
          og_image: image_url('meta/og_logo.png')
        })
%>

<section class="help">

  <div class="hl-subtext">
    <h1><em>Raumteiler</em> - Hilfe</h1>
    <p>Fragen & Antworten zum Raumteiler / Teilen von Gewerbeflächen</p>
  </div>

  <%= render 'help_menu' %>

  <div class="paperCard -cord1RT container" id="zero">
    <div class="wrp">
      <p>
        Wir möchten Selbständige, Kreative, Vereine und kleine Unternehmen mit dem „<strong>Raumteiler</strong>“
        dabei unterstützen ihre Kosten für Gewerbeflächen zu senken bzw. zu teilen und darin
        unterstützen neue Räume zu eröffnen.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <a href="#one" class="btn-primary -mint" id="nav-one">Worum gehts?</a>
      <a href="#two" class="btn-primary -mint" id="nav-two">Raumteiler Guide 2018</a>
    </div>
  </aside>

  <div class="mainContent">

    <article class="container" id="one">
      <h2>Worum gehts?</h2>
      <p>
        Raumsuchende und Raumhabende werden zusammengebracht und miteinander verbunden.
        Weg vom EinzelkämpferInnentum hin zu vielen kleinen Gemeinschaften und neuen Raumpartnerschaften.
        Es geht um <strong>Arbeitsräume, Geschäftslokale, Werkstätten, Büroräume, Praxen, Studios, Ateliers.</strong>
        Der Mensch steht dabei immer im Mittelpunkt.

        <ol>
          <li>Du findest RaumpartnerInnen für deine angemietete Gewerbefläche.</li>
          <li>Du findest Raum zum Andocken.</li>
          <li>Du findest Menschen zum gemeinsamen neu anmieten.</li>
          <li>Du findest Bauträger, EigentümerInnen, Hausverwaltungen, die Gewerbeflächen vorstellen, die für Gruppen und kooperative Nutzungen geeignet sind.</li>
        </ol>

      </p>
      <p>
        Wir trommeln übrigens für eure Räume und Raumgesuche auch auf unseren social Media Kanälen,
        sie werden aufgenommen ins Daily Grätzl Mail  und über den Raumteiler Newsletter verteilt.
        Einen Raum mit anderen zu teilen, kann außerdem helfen Räume (z.B. Geschäftslokale)
        zu erhalten und Leerstand zu verhindern. Der Raumteiler fördert außerdem neue Formen
        der Zusammenarbeit im Grätzl.
      </p>
    </article>

    <article class="container" id="two">
      <h2>Raumteiler Guide 2018</h2>
      <h3>Deine Schritt für Schritt Anleitung zum Räume teilen.</h3>
      <p>
        Wenn du Fragen rund ums Räume teilen hast, der "Raumteiler Guide 2018" erklärt
        Schritt für Schritt, was es beim Räume teilen und beim Andocken zu beachten gibt.
        Enthalten sind außerdem Musterverträge und die wichtigsten Anlaufadresse in Wien.
      </p>
      <p>
        <a href="#"><strong>Raumteiler Guide 2018 gratis downloaden</strong></a>
      </p>
      <p>
        Wir kooperieren außerdem mit Nest - der Agentur für Leerstandsmanagement.
        Das heißt eure Raumteiler Gesuche übergeben wir auch an diesen Partner,
        damit euer Raumwunsch vielleicht noch schneller in Erfüllung geht.
      </p>
    </article>

  </div>



  <div style="clear:both;"></div>

</section>
