<%
   meta({
          title: t('.title'),
          description: t('.description'),
          robots: 'index, follow',
          og_title: t('.title'),
          og_description: t('.description'),
          og_image: image_url('meta/og_logo.png')
        })
%>

<section class="help">

  <div class="hl-subtext">
    <h1><span>Raumteiler</span> - Hilfe</h1>
    <p>Infos / Fragen & Antworten zum Raumteiler</p>
  </div>

  <%= render 'help_menu' %>

  <div class="paperCard -cord1RT container" id="zero">
    <div class="wrp">
      <p>
        Wir möchten Selbständige, Kreative, Vereine und kleine Unternehmen mit dem „<strong>Raumteiler</strong>“
        dabei unterstützen ihre Kosten für Gewerbeflächen zu senken bzw. zu teilen und darin
        unterstützen neue Räume zu eröffnen.
      </p>
      <br />
      <p>
        Raumsuchende und Raumhabende werden zusammengebracht und miteinander verbunden.
        Weg vom EinzelkämpferInnentum hin zu vielen kleinen Gemeinschaften und neuen Raumpartnerschaften.
        Es geht um <strong>Arbeitsräume, Geschäftslokale, Werkstätten, Büroräume, Praxen, Studios, Ateliers.</strong>
        Der Mensch steht dabei immer im Mittelpunkt.
      </p>
    </div>
    <div class="card"></div>
  </div>

  <aside>
    <div id="help_nav">
      <a href="#one" class="btn-primary -mint" id="nav-one">Location Page</a>
      <a href="#two" class="btn-primary -mint" id="nav-two">Events & Workshops</a>
      <a href="#three" class="btn-primary -mint" id="nav-three">Daily Grätzlmail</a>
      <a href="#four" class="btn-primary -mint" id="nav-four">Das Grätzlzuckerl</a>
    </div>
  </aside>

  <div class="mainContent">
    <article class="container" id="one">
      <div class="txt">
        <h2>Location Page</h2>
        <h3>Deine eigene Seite im Stadtteil!</h3>
        <p>Die Locationseite ist der erste Schritt, um in deinem Stadtteil sichtbar zu werden! Du kannst sie mit nur wenigen Klicks einfach und schnell einrichten, sie ist mobil- und suchmaschinenoptimiert und deine Eintrittskarte um in deinen Stadtteil-Newsletter zu gelangen! Und: sie ist kostenlos! <a href="http://blog.imgraetzl.at/hilfe/locationseite/einrichten-deiner-locationseite/">Mehr Infos</a></p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-location-page.jpg" alt="imGrätzl Location Page" />
        </a>
      </div>
    </article>

    <article class="container" id="two">
      <div class="txt">
        <h2>Events, Workshops & Termine</h2>
        <h3>Wir machen deine Neuigkeiten im Stadtteil bekannt!</h3>
        <p>Sobald du deine eigene Locationseite hast, kannst du über diese Neuigkeiten, aber auch z.B. Termine oder Workshops in deinem Stadtteil bekannt geben. Du möchtest als BewohnerIn etwas in deinem Grätzl bekannt geben? - auch das geht! <a href="http://blog.imgraetzl.at/hilfe/locationseite/treffen-neuigkeiten-veroeffentlichen-so-gehts/">Mehr Infos</a></p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-workshops.jpg" alt="imGrätzl Events, Workshops & Termine" />
        </a>
      </div>
    </article>

    <article class="container" id="three">
      <div class="txt">
        <h2>Daily Grätzlmail - der Email Verteiler</h2>
        <h3>Damit die BewohnerInnen im Stadtteil davon erfahren.</h3>
        <p>Über das Daily-Grätzl-Mail erreicht man mit seinen Neuigkeiten, Events und Ideen die registrierten Nutzer im jeweiligen Stadtteil jeden Tag per Mail. Halte deine Locationpage interessant und up2date, somit erscheinst auch du laufend im Daily-Grätzlmail. (Aber bedenke: "<em>Fair Use</em>" und "<em>No Spam</em>")</p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-daily-graetzlmail.jpg" alt="imGrätzl Daily Grätzlmail" />
        </a>
      </div>
    </article>

    <article class="container" id="four">
      <div class="txt">
        <h2>Das Grätzlzuckerl</h2>
        <h3>Einen Monat lang die volle Aufmerksamkeit auf dich gerichtet.</h3>
        <p>Mit einem Grätzlzuckerl kannst du günstig & zielgerichtet Werbung für dich und dein spezielles Angebot in deinem Stadtteil & Bezirk schalten. Ein Zuckerl läuft immer für einen Monat und kostet 15 € (inkl Ust) - Möchtest du darüber hinaus auch im Print-Zuckerl an die Haushalte in deinem Grätzl erscheinen? Auch das geht, für 120 € (excl. Ust).</p>
      </div>
      <div class="img">
        <a href="">
          <img src="http://blog.imgraetzl.at/wp-content/uploads/imgraetzl-feature-graetzlzuckerl.jpg" alt="imGrätzl Das Grätzlzuckerl" />
        </a>
      </div>
    </article>


  </div>



  <div style="clear:both;"></div>

</section>
