<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/good-morning-dates.jpg')
  )
%>

<section class="info -sChanze">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      
    </div>
  </div>

  <div class="paperCard -cord1RT -header -top">
    <div class="wrp">

      
      <div class="hl-subtext">
        <%= image_tag("info/schanze/sChanze-lachs.svg", class: 'header-logo') %>
        <h1><em>Dein neues Standbein</em></h1>
        <h1><em>in der sCHANZE</em></h1>
        <p>
          Leistbare und flexible Räume. Sichtbarkeit für dein Angebot.<br>
          Die Bewohner*innen freuen sich auf dich!
        </p>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis neque ut erat fringilla maximus.
      </p>
    </div>
    <div class="card"></div>
  </div>

</section>

<section class="sChanze modell-1">
  <div class='sideflag -T'>MODELL 1</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis neque ut erat fringilla maximus.
  </p>
</section>

<section class="sChanze modell-2">
  <div class='sideflag -T'>MODELL 2</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis neque ut erat fringilla maximus.
  </p>
</section>

<section class="sChanze modell-3">
  <div class='sideflag -T'>MODELL 3</div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis neque ut erat fringilla maximus.
  </p>
</section>
