<script>
  $(document).ready(function() {
    APP.components.startpageFilter.init();
  });
</script>

<section class="startpage">
  <div class="mapImgBlock -hasillu">
    <div id="graetzlMapWidget" data-mapdata="{&quot;districts&quot;:null,&quot;graetzls&quot;:{&quot;type&quot;:&quot;FeatureCollection&quot;,&quot;features&quot;:[{&quot;type&quot;:&quot;Feature&quot;,&quot;geometry&quot;:{&quot;type&quot;:&quot;Polygon&quot;,&quot;coordinates&quot;:[[[16.4147785201203,48.2194760311459],[16.405999660492,48.2263165879104],[16.3956704735756,48.2207680843738],[16.3954451680183,48.2206108233351],[16.3935703039169,48.2196011244758],[16.3930928707123,48.2192329815305],[16.3934549689293,48.218902365464],[16.3935595750809,48.2182911668974],[16.3935555622447,48.2179516124757],[16.4098741376074,48.2179105114346],[16.4109040849144,48.2171813263574],[16.4122572593624,48.2179212413402],[16.412490606308,48.2179784232517],[16.4147783996304,48.2194759543564],[16.4147785201203,48.2194760311459]]]},&quot;properties&quot;:{&quot;name&quot;:&quot;Stuwerviertel&quot;,&quot;targetURL&quot;:&quot;/stuwerviertel&quot;},&quot;id&quot;:20}]}}" class="leaflet-container leaflet-fade-anim" tabindex="0"><div class="activeArea"></div><div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);"><div class="leaflet-tile-pane"><div class="leaflet-layer"><div class="leaflet-tile-container"></div><div class="leaflet-tile-container leaflet-zoom-animated"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8937/5679.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 311px; top: -207px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8937/5680.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 311px; top: 49px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8936/5679.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 55px; top: -207px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8938/5679.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 567px; top: -207px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8936/5680.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 55px; top: 49px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8938/5680.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 567px; top: 49px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8935/5679.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: -201px; top: -207px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8939/5679.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 823px; top: -207px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8935/5680.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: -201px; top: 49px;"><img class="leaflet-tile leaflet-tile-loaded" src="//api.tiles.mapbox.com/v4/peckomingo.lb8m2cga/14/8939/5680.png?access_token=pk.eyJ1IjoicGVja29taW5nbyIsImEiOiJoVHNQM29zIn0.AVmpyDYApR5mryMCJB1ryw" style="height: 256px; width: 256px; left: 823px; top: 49px;"></div></div></div><div class="leaflet-objects-pane"><div class="leaflet-shadow-pane"></div><div class="leaflet-overlay-pane"><svg class="leaflet-zoom-animated" width="1390" height="284" viewBox="-205 -42 1390 284" style="transform: translate3d(-205px, -42px, 0px);"><g><path stroke-linejoin="round" stroke-linecap="round" fill-rule="evenodd" stroke="#F37468" stroke-opacity="1" stroke-width="4" fill="#F37468" fill-opacity="0.2" class="leaflet-clickable" d="M837 140L735 20L614 117L584 144L589 150L590 167L780 167L792 180L810 166L837 140z"></path></g></svg></div><div class="leaflet-marker-pane"></div><div class="leaflet-popup-pane"></div></div></div><div class="leaflet-control-container"><div class="leaflet-top leaflet-left"><div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a><a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a></div></div><div class="leaflet-top leaflet-right"></div><div class="leaflet-bottom leaflet-left"></div><div class="leaflet-bottom leaflet-right"><div class="leaflet-control-attribution leaflet-control"><a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | Imagery from <a href="http://mapbox.com/about/maps/">MapBox</a> — Map data © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a></div></div></div></div>
    <div class="activeArea"></div>
    <div class="illuDistrict"></div>
    <div class="mapInfoText"></div>

    <div class="navBlock">
      <h1>Stuwerviertel</h1>
      <div class="links">
        <a class="toOverview" href="/wien/leopoldstadt-1020">
          <svg class="icon-arrow-left-2" viewBox="0 0 512 512">
            <path d="m282 237c3-7 10-10 12-18c6-4 7-13 13-18c0-5 5-5 5-10c3-1 3-6 7-8c3-7 9-11 13-18c4-6 10-10 13-16c5-6 13-8 14-17c-4-13-15-18-23-26c-5-4-9-8-14-12c-3-1-5-3-7-5c-2-2-7-2-8-4l-3 0c-2 0-3 2-6 1c-6 8-11 15-18 22c-8 6-11 15-19 21c-1 6-7 6-8 11c-3 5-8 7-10 11c-6 7-13 15-18 22c-6 8-12 16-18 23c-2 4-8 5-9 11c-3 3-8 5-9 11c-7 6-12 15-18 22c-3 3-7 7-10 10c-4 3-8 5-8 12c-1 7 5 8 7 13c2 4 6 7 9 9c6 7 13 14 18 21c13 13 26 27 38 42c11 14 23 29 34 43c6 7 12 14 19 21c7 6 9 17 24 15c12 0 13-10 20-14c2-3 5-6 8-8c1-5 9-4 9-10c3-1 1-7 4-10c3-1 3-5 4-9c-1-8-7-9-8-16c-5-3-10-6-12-12c-9-7-16-16-23-25c-9-7-16-17-24-25c-5-3-7-8-12-11c-1-3-5-4-6-7c0-4-6-2-5-7c9-11 14-25 25-35z m11 117c3 3 7 4 8 9c-3 6-6 13-10 18c-4-3-7-7-9-12c4-4 10-7 11-15z m7-232c2 1 1 4 1 6c4 7 10 13 14 21c-3 3-8-4-8-7c-6-2-8-8-16-7c1-6 6-8 9-13z m-20 25c2 0 3 0 3 2c3 9 20 14 13 24c-6-6-12-14-18-20c-1-4 2-3 2-6z m-19 24c5 1 8 6 11 9c2 5 8 6 8 13c-4-2-6-8-9-11c-2-3-4-5-6-6c0-3-5-1-4-5z m-32 82c1 0 2 0 1 1c2 0 1 2 0 0c0 0-1 0-1-1c-1-1-2-1-1-2c-2 0-3-2-3-4c2 1 3 2 3 4c0 0 1 0 1 2z m-7-45c4-1 3 3 6 3c-1 3-7 0-6-3z m-33 57c-1-1 1-2 1-1c1 0-1 1-1 1z m18 17c-6-2 0-4 1-7c4 1-1 5-1 7z m-9-31c-6 1-12 1-15 6c-4-3 3-5 3-7c3-1 4-4 6-7c5-3 6-10 12-13c0-2 1-2 1-4c4 3 5 8 10 10c-5 5-14 7-17 15z m37 49c1 4-3 3-3 5c-6-1-8-6-11-9c-1-4 2-5 2-7c5 1 9 4 14 5c1 3 0 5-2 6z m23 16c0 2-2 1-3 2c0-2 2-1 3-2z m-7-112c-2-5-7-7-11-10c-1-4 4-3 4-7l4 0c1 4 6 5 9 9c1 1 0 3 1 4c3 4 10 6 6 14c-8 0-7-9-13-10z"></path>
          </svg>Leopoldstadt
        </a>    </div>
    </div>
  </div>



  <div class="filter-stream">

    <!-- for mobile we use a select menu -->
    <div class="input-select">
      <label for="filter">
        <svg class="icon-funnel-filter"><use xlink:href="#icon-funnel-filter"></use></svg>
        <span>Filter</span>
      </label>
      <select id="filter">
        <option>Grätzl Stream</option>
        <option>Treffen & Events</option>
        <option>Anbieter & Locations</option>
        <option>Zuckerl & Angebote</option>
        <option>Wünsche & Ideen</option>
      </select>
    </div>
    <!-- END mobile select menu -->

    <div class="iconfilter active">
      <img class="mapthumb" src="assets/mapthumbs/stuwerviertel.jpg" alt="">
      <div class="txt">Grätzl<br/>Stream</div>
    </div>

    <div class="iconfilter">
      <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
      <div class="txt">Treffen<br/>& Events</div>
    </div>

    <div class="iconfilter">
      <svg class="icon-location active"><use xlink:href="#icon-location"></use></svg>
      <div class="txt">Anbieter<br/>& Locations</div>
    </div>

    <div class="iconfilter">
      <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
      <div class="txt">Zuckerl<br/>& Angebote</div>
    </div>

    <div class="iconfilter">
      <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
      <div class="txt">Wünsche<br/>& Ideen</div>
    </div>

    <div class="iconfilter createentry" data-behavior="createTrigger">
      <svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
    </div>

  </div>

  <!-- dropDown -->
  <div class="jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-right dropdown-container createmenu" data-behavior="createContainer">
    <div class="jq-dropdown-panel">

      <a href="#">
        <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
        <div class="icontxt">Neues Treffen</div>
      </a>
      <a href="#">
        <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
        <div class="icontxt"> Neuer Wunsch oder Idee</div>
      </a>
      <a href="#">
        <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
        <div class="icontxt">Neuigkeit meiner Location</div>
        <img class="img-square" src="https://placeimg.com/35/35/arch" alt="">
      </a>
      <a href="#">
        <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
        <div class="icontxt">Grätzlzuckerl meiner Location</div>
        <img class="img-square" src="https://placeimg.com/35/35/arch" alt="">
      </a>

    </div>
  </div>


  <div class="cards-container">

    <!-- meeting -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <a href="#">
          <img class="coverImg" src="https://placeimg.com/300/180/nature" alt="">
        </a>
        <div class="calendarSheet">
          <div class="day">17</div>
          <div class="month">Feb</div>
        </div>
        <div class="categoryicon">
          <svg class="icon-users"><use xlink:href="#icon-users"></use></svg>
          <div class="count">1</div>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="initiator">
          <img class="img-round" src="https://placeimg.com/200/200/people" alt="">
          <span>Merti67</span>
        </div>
        <div class="txt">
          <h3><a href="">Wir treffen uns, juhu!</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ratione.</p>
        </div>
        <a class="btn-primary -mint" href="#">Mitmachen</a>
      </div>
    </div>


    <!-- location update -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <a href="#">
          <img class="coverImg" src="https://placeimg.com/300/350/arch" alt="">
        </a>
        <div class="categoryicon">
          <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <a href="#" class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?4" alt="Avatar">
          </a>
          <div class="locationtxt">
            <a href="">
              <div class="name">Superlocation</div>
            </a>
            <div class="category">Unternehmen &amp; Start-ups</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Am Graben 1
            </div>
          </div>
        </div>
        <div class="txt">
          <h3><a href="#">Neue Kekse eingetroffen</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolorum est magnam molestiae obcaecati, quasi quis saepe sunt suscipit ullam.</p>
        </div>
        <div class="streamElement">
          <div class="entryInitialContent">
            <div class="userCreateInfo">
              <a href="#"><img class="img-round" src="https://placeimg.com/100/100/people?2" alt=""></a>
              <span class="userAndType"><a href="#">jack</a> <span>vor 2 Stunden</span></span>
            </div>
            <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores consequatur ea, sit soluta voluptate.</div>
          </div>
          <a href="#" class="commentslink">Alle 12 Kommentare ansehen</a>
        </div>
      </div>
    </div>


    <!-- zuckerl -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <a href="#">
          <img class="coverImg" src="https://placeimg.com/300/180/nature?7" alt="">
        </a>
        <div class="categoryicon">
          <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <a href="#" class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/tech?7" alt="Avatar">
          </a>
          <div class="locationtxt">
            <a href="">
              <div class="name">Superlocation</div>
            </a>
            <div class="category">Unternehmen &amp; Start-ups</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Am Graben 1
            </div>
          </div>
        </div>
        <a href="#" class="zuckerlteasertxt">
          <div class="hl">
            <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
            Grätzlzuckerl im März
          </div>
          <div class="title">-50% auf alle Käsesorten und Blunze gibt es gratis!</div>
          <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum facilis quis.</div>
        </a>
      </div>
    </div>


    <!-- idee, normal post -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <div class="categoryicon">
          <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="initiator">
          <img class="img-round" src="https://placeimg.com/200/200/people?4" alt="">
          <span>Fredl</span>
        </div>
        <div class="txt">
          <h3><a href="">Es braucht einen Zebrastreifen auf der Franzensbrückenstraße</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus laboriosam nesciunt quasi repellat saepe. Animi dolor dolorem eaque quam quasi!</p>
        </div>
        <div class="streamElement">
          <div class="entryInitialContent">
            <div class="userCreateInfo">
              <a href="#"><img class="img-round" src="https://placeimg.com/100/100/people?8" alt=""></a>
              <span class="userAndType">Beitrag von <a href="#">jack</a> <span>vor etwa 2 Stunden</span></span>
            </div>
            <div class="txt">Ich gebe dir absolut recht. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, ut</div>
          </div>
          <a href="#" class="commentslink">Alle 2 Kommentare ansehen</a>
        </div>
      </div>
    </div>


    <!-- location profil -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <a href="#">
          <img class="coverImg" src="https://placeimg.com/300/180/nature" alt="">
        </a>
        <div class="categoryicon">
          <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <a href="#" class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people" alt="Avatar">
          </a>
          <div class="locationtxt">
            <a href="">
              <div class="name">Superlocation</div>
            </a>
            <div class="category">Unternehmen &amp; Start-ups</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Am Graben 1
            </div>
          </div>
        </div>
        <div class="slogan">Medidation ist die Quelle der Weisheit und des Ruhmes.</div>
        <div class="txt">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deserunt dolorum exercitationem laboriosam natus omnis optio qui quibusdam quos saepe?</p>
        </div>
        <a href="#" class="updateteaser">
          <div class="hl">
            <svg class="icon-location"><use xlink:href="#icon-location"></use></svg>
            vor 49 Minuten
          </div>
          <div class="title">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia?
          </div>
        </a>
        <a href="#" class="zuckerlteasertxt">
          <div class="hl">
            <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
            Grätzlzuckerl im März
          </div>
          <div class="title">-50% auf alle Käsesorten und Blunze gibt es gratis!</div>
        </a>
        <a href="#" class="event-teaser-box">
          <div class="date">
            <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
            12. Dezember 2016
          </div>
          <div class="title">Livekonzert mit Mikl Leitner & ihren Hardlinerockers</div>
        </a>
      </div>
    </div>


    <!-- meeting with comment -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <a href="#">
          <img class="coverImg" src="https://placeimg.com/300/180/nature" alt="">
        </a>
        <div class="calendarSheet">
          <div class="day">17</div>
          <div class="month">Feb</div>
        </div>
        <div class="categoryicon">
          <svg class="icon-users"><use xlink:href="#icon-users"></use></svg>
          <div class="count">4</div>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="initiator">
          <img class="img-round" src="https://placeimg.com/200/200/people" alt="">
          <span>Merti67</span>
        </div>
        <div class="txt">
          <h3><a href="">Saufmeditation in der Venediger Au</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ratione.</p>
        </div>
        <a class="btn-primary -mint" href="#">Mitmachen</a>
        <div class="streamElement">
          <div class="entryInitialContent">
            <div class="userCreateInfo">
              <a href="#"><img class="img-round" src="https://placeimg.com/100/100/people?8" alt=""></a>
              <span class="userAndType">Beitrag von <a href="#">jack</a> <span>vor etwa 2 Stunden</span></span>
            </div>
            <div class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          </div>
          <a href="#" class="commentslink">Alle 5 Kommentare ansehen</a>
        </div>
      </div>
    </div>


    <!-- idee, normal post with img -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/250/tech?2" alt="">
        <div class="categoryicon">
          <svg class="icon-head-idea-lightbulb"><use xlink:href="#icon-head-idea-lightbulb"></use></svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="initiator">
          <img class="img-round" src="https://placeimg.com/200/200/people?4" alt="">
          <span>Fredl</span>
        </div>
        <div class="txt">
          <h3><a href="">Mehr Bäume in der Venediger Au</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="streamElement">
          <div class="entryInitialContent">
            <div class="userCreateInfo">
              <a href="#"><img class="img-round" src="https://placeimg.com/100/100/people?8" alt=""></a>
              <span class="userAndType">Beitrag von <a href="#">jack</a> <span>vor etwa 2 Stunden</span></span>
            </div>
            <div class="txt">Lorem ipsum dolor sit amet, consectetur.</div>
          </div>
          <a href="#" class="commentslink">Alle 12 Kommentare ansehen</a>
        </div>
      </div>
    </div>


    <!-- meeting with participant -->
    <div class="cardBox">
      <div class="cardBoxHeader">
        <a href="#">
          <img class="coverImg" src="https://placeimg.com/300/180/nature" alt="">
        </a>
        <div class="calendarSheet">
          <div class="day">17</div>
          <div class="month">Feb</div>
        </div>
        <div class="categoryicon">
          <svg class="icon-users"><use xlink:href="#icon-users"></use></svg>
          <div class="count">4</div>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="initiator">
          <img class="img-round" src="https://placeimg.com/200/200/people" alt="">
          <span>Merti67</span>
        </div>
        <div class="txt">
          <h3><a href="">Ich suche nach Mitspielern für ne flotte Soccersession</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ratione.</p>
        </div>
        <a class="btn-primary -mint" href="#">Mitmachen</a>
        <div class="userCreateInfo">
          <a href="#"><img class="img-round" src="https://placeimg.com/100/100/people?8" alt=""></a>
          <span class="userAndType"><a href="#">Horst</a> <span>nimmt am Treffen teil</span></span>
        </div>
      </div>
    </div>

  </div>


</section>
