<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/coop-and-share.jpg')
  )
%>

<section class="help -supporter">

  <div class="imgHeader -fullwidth">
    <div class="wrp">
      <span>Der Betrieb und die Weiterentwicklung von imGrätzl wird ermöglicht durch diese großartigen Menschen und Unternehmen.</span>
    </div>
  </div>

</section>
