<h2>Platzhalter Willkommens-Seite</h2>

<h3>
  <% if user_signed_in? %>
    <%= link_to 'Abmelden', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Anmelden', new_user_session_path %> | <%= link_to 'Registrieren', addresses_registration_path %>
  <% end %>
</h3>