<section class="zuckerl">

  <div class="hl-subtext -small">
    <h2>Infos zum <span>Grätzlzuckerl</span></h2>
  </div>

  <div class="block-txt">

    <div class="wrp">
      <h3>Was ist das Grätzlzuckerl? </h3>

      <p>Das Grätzlzuckerl erscheint einmal im Monat und enthält besondere Angebote von grätzlansässigen Kreativen,
        Selbständigen und kleinen Unternehmen. Jeder erste Mittwoch des Monats ist Grätzlzuckerltag und wird richtig
        zelebriert. Wir wollen euch damit bei den Bewohnern ins Scheinwerferlicht rücken und gleichzeitig mithelfen, die
        Wirtschaftskreisläufe im Grätzl zu beleben. </p>
    </div>

    <div class="wrp">
      <h3>Wo erscheint das Grätzlzuckerl?</h3>

      <p>Alle Angebote werden unter dem Menüpunkt "Grätzlzuckerl" auf imGrätzl.at veröffentlicht und im Grätzlzuckerl
        Newsletter an die Bewohner verschickt. Über Facebook werden die Grätzlzuckerl Angebote ebenfalls auf einer
        eigenen Facebook-Seite sichtbar gemacht. Besonders schöne und mit Liebe gemachte Angebote werden außerdem in das
        Grätzlzuckerl-Flyerplakat mit aufgenommen. Das Flyerplakat wird regelmäßig im Bezirk in Postkästen verteilt.</p>
    </div>

    <div class="wrp">
      <h3>Interesse, aber keine Idee für ein Grätzlzuckerl?</h3>

      <p>Wir helfen euch gerne dabei herauszufinden, welches eurer Angebote oder Aktionen ein schönes Grätzlzuckerl für
        die Bewohner sein könnte. Wir unterstützen euch auch beim Texten und beim Aussuchen von Bildmaterial. Schreib
        uns einfach, wir würden uns freuen, unsere Erfahrung in diesem Bereich an euch weitergeben zu dürfen.</p>
    </div>

    <div class="wrp">
      <h3>Was kostet das Grätzlzuckerl?</h3>

      <p>Den Preis möchten wir vorerst euch bestimmen lassen. Das heißt: ihr bestimmt die Summe, die euch das
        Grätzlzuckerl und unsere Arbeit wert ist.</p>
    </div>

    <div class="wrp">
      <h3>Wie ist der Ablauf?</h3>

      <p>Schicke uns ein E-Mail an
        <a href="mailto:&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#119;&#105;&#114;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a>
        mit deinem Grätzlzuckerl. Wir benötigen einen kurzen Text, ein Bild und eine Kontaktadresse, die veröffentlicht
        werden darf. Überweise dann bitte auf folgendes Konto eine Summe, die du selbst bestimmst. Bitte schreibe in den
        Verwendungszweck Grätzlzuckerl und das jeweilige Monat. Sobald die Einzahlung bei uns eingegangen ist, geht es
        los.</p>

      <p>
        <strong>Empfänger:</strong> imGrätzl.at<br>
        <strong>Institut:</strong> Erste Bank<br>
        <strong>IBAN:</strong> AT032011182669886500<br>
        <strong>BIC:</strong> GIBAATWWXXX<br>
      </p>
    </div>

    <div class="wrp">
      <h3>Auch für größere Unternehmen gibt es ein Angebot</h3>

      <p>Meldet euch bei Christoph unter <a href="tel:069913701684">0699/13701684</a> oder
        <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#116;&#111;&#112;&#104;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;">&#099;&#104;&#114;&#105;&#115;&#116;&#111;&#112;&#104;&#064;&#105;&#109;&#103;&#114;&#097;&#101;&#116;&#122;&#108;&#046;&#097;&#116;</a>,
        der euch gerne die verschiedenen Möglichkeiten vorstellt: </p>

      <p>Wir behalten uns vor, Angebote abzulehnen, bei denen wir das Gefühl haben, dass Sie nicht zu imGrätzl.at
        passen. Mit dem Grätzlzuckerl möchten wir etwas schaffen, das für alle Beteiligten einen Mehrwert bietet. Den
        Bewohnern, den Kreativen und Wirtschaftstreibenden und uns, weil wir uns gerne mit sinnvollen Dingen
        beschäftigen :)</p>
    </div>

  </div>

  </div>

</section>