<script>
    $(document).ready(function() {
        $('.zuckerlCollection').masonry({
            percentPosition: true
        });
    })
</script>

<section class="zuckerlOverview">

  <div class="mapImgBlock singleGraetzl">

    <div id="graetzlMapWidget" class="singleGraetzlHeader"></div>
    <div class="activeArea"></div>
    <div class="illuZuckerl"></div>
    <div class="mapInfoText"></div>

    <div class="wrp-headline">
      <h1>Grätzlzuckerl Leopoldstadt</h1>
      <span>in <a href="/wien/leopoldstadt-1020">1020</a></span>
    </div>
  </div>

  <div class="zuckerlHeadline">
    <h1>Entdecke Einzigartiges im Grätzl</h1>

    <h2>Treffen, Workshops & besondere Angebote</h2>
  </div>

  <div class="zuckerlCollection">

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt"><strong>3 Gratis-Webseiten-Checks von Contentessa.</strong> Erfahre, ob deine Seite zeitgemäß, ansprechend & nutzerfreundlich ist. Die ersten 3 Personen, die sich bei ihr melden, bekommen einen kostenlosen Check!</div>
      <a href="http://www.contentessa.at/" target="_blank">www.contentessa.at</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Der neueste Clou der Statement Accessoire Designerin <strong>Rosa Rosch</strong> sind Hundeleinen, die wie außergewöhnliche Schmuckstücke wirken. Hergestellt aus veganen Materialien.</div>
      <a href="http://www.itsgutso.com/" target="_blank">www.itsgutso.com</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt"><strong>Mikle Hager-Adam</strong> eröffnet ihre Grinberg Praxis im Stuwerviertel. Mit dem Kennwort ‚Wohlbefinden‘ gibt es 50 % Ermäßigung auf die erste Grinberg Anwendung.</div>
      <a href="http://www.mikle-hager-adam.at/" target="_blank">www.mikle-hager-adam.at</a>
    </div>

    <div class="ownZuckerl">
      <div class="wrp">
        <h3>Hier fehlt noch ein Grätzlzuckerl?</h3>
        <p>Wenn du ebenfalls ein spezielles Angebot für den 2. Bezirk hast, dann schreib ein Mail an: <a href="mailto:mirjam@imgraetzl.at">mirjam@imgraetzl.at</a></p>
      </div>
      <div class="card"></div>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Die hochwertigen T-Shirts mit den Designs des Street-Art Künstlers <strong>omega cbu</strong> gibt es mit dem Kennwort ‚Street-Art‘ zum Vorzugspreis von 23 €. Nur solange der Vorrat reicht.</div>
      <a href="http://www.omega-cbu.com/" target="_blank">www.omega-cbu.com</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Deine Schultern sind verspannt, im Bauch zwickt’s und zwackt’s, das Kreuz zieht? Vereinbare eine <strong>Shiatsu-Behandlung</strong> bei Barbara Reiniger.</div>
      <a href="http://www.spuer-dich.at/" target="_blank">www.spuer-dich.at</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Ka:nt innen — Kunst für drunter! Die Künstlerin <strong>Ka:nt</strong> hat neue Zensurpanti es im Programm:</div>
      <a href="http://www.etsy.com/shop/vaKant/" target="_blank">www.etsy.com/shop/vaKant</a>
      <a href="mailto:ka.nt@gmx.at" target="_blank">ka.nt@gmx.at</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Die Macherin hinter <strong>ANA Chron</strong> stellt in liebevoller Handarbeit Taschen aus alten Kinderbüchern her. Kontakt/Info:</div>
      <a href="http://www.ana-chron.at/" target="_blank">www.ana-chron.at</a>
      <a href="mailto:anachron.label@gmail.com" target="_blank">anachron.label@gmail.com</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Am 20. Sept. werden sich wieder zahlreiche <strong>Fotobegeisterte</strong> durch Wien bewegen. Start des 12. Wiener Fotomarathons ist bei der Messe Wien. Alle Infos:</div>
      <a href="http://www.fotomarathon.at/" target="_blank">www.fotomarathon.at</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Ein <strong>Ashtanga-Yoga Kurs</strong> zum Kennenlernen startet am 23. Sept. mit Margit im Nordbahnviertel.</div>
      <a href="http://www.ooom.at/" target="_blank">www.ooom.at</a>
      <a href="mailto:Margit_Kapfer@yahoo.com" target="_blank">Margit_Kapfer@yahoo.com</a>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Die Katakomben des Nordwestbahnhofes: Die GB *2/20 zeigt auf einem <strong>Spaziergang</strong> geheimnisvolle Plätze. Treffpunkt: Ecke Taborstrasse und Nordwestbahnstrasse am 25.9. um 14 Uhr</div>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Die <strong>Palette</strong> nimmt die gschmackigsten & feinsten Käsesorten in ihr Programm auf. Die Erzeuger sind handverlesen und Bettina kann wunderbare Geschichten über die Hersteller erzählen. <strong>Käseverkostung</strong>: 26.09. ab 10 Uhr in der Palette am Vorgartenmarkt. Unkostenbeitrag 5 €</div>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt"><strong>Fixie Bikes</strong> in Action erleben: Ohne Bremsen und Gang rund ums Lusthaus. Am 26. Sept. werden bei der Redbull Fuxjagd die Fixie Fahrer wieder versuchen dem Vordermann den Fuchsschwanz abzunehmen</div>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Gestalte den 2. Bezirk mit. Am 29.09. um 19 Uhr werden die Ergebnisse der Bewohnerbefragung <strong>‚Herausforderungen im 2. Bezirk‘</strong> vorgestellt und anschließend diskuti ert. Magdas Hotel Laufb ergergasse 12 1020 Wien</div>
    </div>

    <div class="singleZuckerl">
      <img src="https://placeimg.com/100/100/people" alt="" class="img-round">
      <div class="txt">Die Gesundheit auf natürliche Weise unterstützen — <strong>ein Vortrag über ätherische Öle</strong> von Verena Jung. Haussteinstr. 1A/EG, 1020 Wien | Jeweils 16.9., 22.9. und 30.9. um 18.30 Uhr. Kostenlos, aber anmelden: Tel.: 0676 · 7901299</div>
    </div>

  </div>

  <div class="infoZuckerl">
    <h2 class="hl-main">Juhu! <span>Das 1. Grätzlzuckerl für die Leopoldstadt</span> ist da!</h2>

    <p class="sectionHl">Was ist das Grätzlzuckerl und wann kommen neue Zuckerln?</p>

    <p class="txt">
      Das Grätzlzuckerl ist eine super tolle Sache - Hier sollten wir ganz kurz beschreiben was das Zuckerl ist, was es mit dem Zuckerl-Flyer auf sich hat (Quasi - Ein Zuckerl im Postkasten entdeckt?), wie oft es erscheint - und das alles ganz neu und super ist! :-)</p>
  </div>


</section>