<% meta(
    title: t('.title'),
    robots: 'noindex, follow'
  )
%>

<section class="room-rental-page amount-screen">

  <div class="col-content">
    <%= render "crowd_pledges/new/tabs_nav" %>
    <%= render 'crowd_pledges/new/choose_amount' %>
  </div>

  <div class="col-sidebar" id="rental-sidebar">
    <%= render 'crowd_pledges/new/sidebar' %>
  </div>

</section>
