<div class="cardbox-wrp">
  <div class="paperCard -cord1RT -illuteaser -idea">
    <div class="wrp">
      <div class="user">
        <%= image_tag('avatar/user/default.png', class: 'img-round') %>
        <span>Dein Name</span>
      </div>
      <h3>Du belebst deinen Stadtteil? Mache deine Aktionen & Ideen sichtbar</h3>
      <%= link_to 'Meine Idee im Grätzl', new_graetzl_user_post_path(graetzl), class: 'btn-primary' %>
    </div>
    <div class="card"></div>
  </div>
  <%= link_to 'Alle Ideen', posts_graetzl_path(graetzl), class: 'link-more' %>
</div>
