  <div class="user cardBox">
    <div class="infos">
      <span><%= link_to meeting.name, [meeting.graetzl, meeting] %></span>
      <p class="date"><%= I18n.localize(meeting.starts_at_date, format:'%d. %B %Y') %></p>
    </div>
  </div>