<div class="summary">

  <div class="hl-subtext">
    <h1>Vielen Dank für deinen Charge.</h1>
    <p>
      Wir haben dir soeben auch ein E-Mail mit deinen Charge-Details geschickt.
    </p>
  </div>

  <div>
    <br>
    <p>Solltest du Fragen zu deiner Buchung haben, sende uns ein E-Mail an <%= mail_to t("region.#{current_region.id}.contact_email"), nil %></p>
    <br>
  </div>

</div>
