<div class="specialBox">
  <%= link_to new_graetzl_meeting_path(@graetzl), class: 'wrp' do %>
    <h3>Starte Dein<br/>eigenes Treffen</h3>
    <button class="btn-primary -rose">Treffen anlegen</button>
  <% end %>
  <div class="card"></div>
</div>