<div class="location">

  <% if address.coordinates %>

    <%= link_to map_link(address.coordinates), target: '_blank', class: 'wrp-icon' do %>
      <svg class="icon-map"><use xlink:href="#icon-map"></use></svg>
      Karte
    <% end %>

  <% else %>

    <div class="wrp-icon">
      <svg class="icon-map"><use xlink:href="#icon-map"></use></svg>
    </div>

  <% end %>

  <div class="address">
    <%= address_description(address) %>
    <%= "#{address.street_name} #{address.street_number}" %><br>
    <%= "#{address.zip} #{address.city}" %>
  </div>
</div>