<div class="input-select">
  <%= f.label :location_id do %>
      <svg class="icon-label-tag"><use xlink:href="#icon-label-tag"></use></svg>
      <span>Location</span>
  <% end %>
  <%= f.select(:location_id,
              current_user.locations.managed.collect {|l| [l.name, l.id] },
              {include_blank: true}) %>
</div>