<%= render 'meetings/buttons', meeting: @meeting unless @meeting.past?%>

<div class="participants">
  <p class="userCount"><span><%= users.count %></span> Teilnehmer</p>
  <div class="portraitCollection">
    <% users.each do |user| %>
      <%= image_tag user.avatar_url(:small), class: 'img-round' %>
    <% end %>
    <div class="dotdotdot">
      <svg class="icon-dot-3">
        <use xlink:href="#icon-dot-3"></use>
      </svg>
    </div>
  </div>
</div>