<%= render 'meetings/buttons', object: @meeting %>

<div class="participants">
  <p class="userCount"><span><%= @meeting.users.count %></span> Teilnehmer</p>
  <div class="portraitCollection">
    <% @meeting.users.each do |user| %>
      <%= image_tag current_user.avatar_url(:small), class: 'img-round' %>
    <% end %>
    <div class="dotdotdot">
      <svg class="icon-dot-3">
        <use xlink:href="#icon-dot-3"></use>
      </svg>
    </div>
  </div>
</div>