<%= render 'meetings/buttons', meeting: @meeting %>

<div class="participants">
  <p class="userCount"><span><%= users.count %></span> Teilnehmer</p>
  <div class="portraitCollection">
    <% users.each do |user| %>
      <%= attachment_image_tag(current_user, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
    <% end %>
    <div class="dotdotdot">
      <svg class="icon-dot-3">
        <use xlink:href="#icon-dot-3"></use>
      </svg>
    </div>
  </div>
</div>