<div class="stream">

  <div id="stream-form">
    <%= render partial: 'comments/form', layout: 'layouts/stream/form', locals: { commentable: @meeting } %>
  </div>
  <%= render partial: 'comments/comment', layout: 'layouts/stream/element', collection: @comments %>

</div>
<%= view_more_link @comments %>