<div class="stream">

  <div id="stream-form">
    <%= render partial: 'comments/form', layout: 'layouts/stream/form', locals: { commentable: @meeting } %>
  </div>

  <% @comments.each do |comment| %>
    <%= render partial: comment, layout: 'layouts/stream/element' %>
  <% end %>

</div>