<div id="stream-comment-form">
  <%= render partial: 'comments/form', layout: 'shared/stream/entry_create', locals: { commentable: @meeting } if user_signed_in? %>
</div>

<% @comments.each do |comment| %>
  <%= render partial: 'comments/comment', layout: 'shared/stream/element',
    locals: { comment: comment, user: comment.user, activity: comment, entry: comment } %>
<% end %>