<div id="stream-comment-form">
  <%= render partial: 'comments/form', layout: 'shared/stream/entry_create', locals: { type: @meeting.class.name, id: @meeting.id } if user_signed_in? %>
</div>

<% @comments.each do |comment| %>
  <%= render 'shared/stream/element_comment', user: comment.user, activity: comment, entry: comment %>
<% end %>