<% title('Treffen bearbeiten') %>

<section class="create-meeting">

  <%= render 'form', disable_fields: @meeting.location && !@meeting.location.users.include?(current_user) %>

  <%= button_to 'Treffen löschen', @meeting,
                method: :delete,
                data: { confirm: "Willst Du dein Treffen '#{@meeting.name}' wirklich unwiderruflich löschen?" },
                class: 'btn-secondary -grey -small' %>
</section>
