<% title('Treffen bearbeiten') %>

<section class="create-meeting">

  <h2>Treffen <span><%= @meeting.name %></span> bearbeiten</h2>

  <%= render 'form', disable_fields: @meeting.location && !@meeting.location.users.include?(current_user) %>

  <%= link_to 'Treffen absagen', @meeting,
    method: :delete,
    data: { confirm: "Willst Du dein Treffen '#{@meeting.name}' wirklich absagen?" } %>
  
</section>