<% title('Treffen bearbeiten') %>

<section class="create-meeting">

  <h2>Treffen <span><%= @meeting.name %></span> bearbeiten</h2>

  <%= render 'form' %>

  <%= link_to 'Treffen absagen', [@graetzl, @meeting],
    method: :delete,
    data: { confirm: "Willst Du dein Treffen '#{@meeting.name}' wirklich absagen?" } %>
  
</section>