<% title('Neues Treffen') %>

<section class="create-meeting">

  <% if @meeting.location %>
    <h1>Ein <span>neues Treffen</span> bei <span><%= @meeting.location.name %></span>!</h1>
  <% else %>
    <h1>Ein <span>neues Treffen</span>, wie schön!</h1>
  <% end %>

  <%= render 'form' %>
</section>
