<% title('Neues Treffen') %>

<section class="create-meeting">
  <% if @meeting.location %>
    <h1>Ein <span>neues Treffen</span> bei <span><%= @meeting.location.name %></span>!</h1>
  <% elsif @meeting.group %>
    <div class="hl-subtext">
      <h1>Ein <span>neues Treffen</span> für die Gruppe</h1>
      <p><%= @meeting.group.title %></p>
    </div>
  <% else %>
    <h1>Ein <span>neues Treffen</span>, wie schön!</h1>
  <% end %>

  <%= render 'form' %>
</section>
