<section class="userzuckerls">

  <div class="introcontainer -location">

    <div class="introtxt">
      <div class="step-element">
        <h2><span class="number">1.</span> Richte dir deine Location ein</h2>

        <div class="text">Um eine Neuigkeit als Location zu posten, musst du dir zuerst deine Location-Seite einrichten.
          Die Location ist dein persönliches Schaufenster im Grätzl - Und sie ist kostenlos!
          <a href="#" class="btn-primary">Location einrichten</a>
        </div>
      </div>
      <div class="step-element">
        <h2><span class="number">2.</span> Wenn du deine Location hast&hellip;</h2>

        <div class="text">&hellip;kannst du über diese ganz einfach Updates, Aktionen oder Termine veröffentlichen -
          Somit erfahren die Bewohner in deinem Grätzl, was es bei dir Neues & Besonderes gibt.
        </div>
      </div>
    </div>

    <div class="paperCard -illuteaser -cord1RT">
      <div class="wrp">
        <h3>Werde sichtbar in deinem Grätzl und richte dir jetzt deine Location-Seite ein.</h3>
      </div>
      <div class="card"></div>
    </div>

  </div>


  <div class="introcontainer -zuckerl">

    <div class="introtxt">
      <div class="step-element">
        <h2><span class="number">1.</span> Richte dir deine Location ein</h2>

        <div class="text">Um ein Grätzlzuckerl einzubuchen, musst du dir zuerst deine Location-Seite einrichten. Die
          Location ist dein persönliches Schaufenster im Grätzl - Und sie ist kostenlos!
          <a href="#" class="btn-primary">Location einrichten</a>
        </div>
      </div>
      <div class="step-element">
        <h2><span class="number">2.</span> Schalte dein Grätzlzuckerl</h2>

        <div class="text">Sobald du deine Locationseite hast, kannst du mit nur wenigen Klicks dein Grätzlzuckerl
          schalten.
        </div>
      </div>
    </div>

    <div class="paperCard -illuteaser -cord1RT">
      <div class="wrp">
        <h3>Werde sichtbar in deinem Grätzl und richte dir jetzt deine Location-Seite ein.</h3>
      </div>
      <div class="card"></div>
    </div>

  </div>


  <div class="introcontainer -zuckerl">
    <div class="introtxt">
      <h1><span>Grätzlzuckerl</span> Buchen & Verwalten</h1>

      <p>Mit einem Grätzlzuckerl hast du die Möglichkeit günstig, einfach und schnell,
        <strong>Werbung für dein spezielles Angebot in deinem Grätzl und Bezirk </strong>zu schalten.</p>

      <p>Als Grätzlzuckerl eignen sich besondere Angebote, Gutscheine oder Rabattaktionen, welche du bei den Bewohnern
        in deinem Umfeld bekannt geben möchtest.</p>

      <p>Um deinem Grätzlzuckerl noch mehr Aufmerksamkeit und Sichtbarkeit zu schenken, erscheint dieses nicht nur auf
        der Plattform in deinem eigenen Grätzl, sondern sogar <strong>im ganzen zugehörigen Bezirk!</strong> (also auch
        allen umliegenden Grätzln.</p>

      <p>Darüber hinaus landet dein Zuckerl natürlich auch im <strong>monatlichen Grätzlzuckerl Newsletter</strong>,
        welcher an die Bewohner im Bezirk gesendet wird.</p>

      <p><strong>Aber das Schönste daran:</strong> Mit den Einnahmen aus den Grätzluckerln werden gezielt Ideen &
        Initiativen aus deinem Stadtteil gefördert.</p>
    </div>
    <div class="paperCard -illuteaser -cord1RT">
      <div class="wrp">
        <h3>Schalte jetzt dein Grätzlzuckerl für den Monat April.</h3>
        <a href="#" class="btn-primary">Grätzlzuckerl buchen</a>

        <div class="zuckerlfaqlink">Du hast Fragen zum Grätzlzuckerl?
          <a href="#">Hier gibts Antworten.</a>
        </div>
      </div>
      <div class="card"></div>
    </div>
  </div>

  <div class="cardBoxCollection -tripple">
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/180/nature?7" alt="">

        <div class="categoryicon">
          <svg class="icon-shopping-bag">
            <use xlink:href="#icon-shopping-bag"></use>
          </svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <div class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?7" alt="Avatar">
          </div>
          <div class="locationtxt">
            <div class="name">Superlocation</div>
            <div class="category">Unternehmen &amp; Start-ups</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Am Graben 1
            </div>
          </div>
        </div>
        <div class="zuckerlteasertxt">
          <div class="title">-50% auf alle Käsesorten und Blunze gibt es gratis!</div>
        </div>
        <div class="locationstate">
          <div class="state">Warten auf Zahlungseingang</div>
          <div class="txt">Wir schicken dir eine E-Mail, sobald deine Zahlung bei uns eingelangt ist und dein Zuckerl
            freigeschalten wurde.
          </div>
        </div>
        <div class="btn-group">
          <a href="#" class="btn-secondary -mint -small">Bearbeiten</a>

          <div class="btn-secondary -mint -small">Löschen</div>
        </div>
      </div>
    </div>
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/180/nature?7" alt="">

        <div class="categoryicon">
          <svg class="icon-shopping-bag">
            <use xlink:href="#icon-shopping-bag"></use>
          </svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <div class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?7" alt="Avatar">
          </div>
          <div class="locationtxt">
            <div class="name">Superlocation</div>
            <div class="category">Unternehmen &amp; Start-ups</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Am Graben 1
            </div>
          </div>
        </div>
        <div class="zuckerlteasertxt">
          <div class="title">Lorem ipsum dolor sit.</div>
        </div>
        <div class="locationstate">
          <div class="state">Deine Zahlung wurde erfolgreich geprüft!</div>
          <div class="txt">Dein Zuckerl läuft vom 01. bis 04. April im Grätzl Stuwerviertel und im ganzen zugehörigen
            Bezirk.
          </div>
        </div>
        <div class="btn-group">
          <a href="#" class="btn-secondary -mint -small">Bearbeiten</a>

          <div class="btn-secondary -mint -small">Löschen</div>
        </div>
      </div>
    </div>
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/180/arch?2" alt="">

        <div class="categoryicon">
          <svg class="icon-shopping-bag">
            <use xlink:href="#icon-shopping-bag"></use>
          </svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <div class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?3" alt="Avatar">
          </div>
          <div class="locationtxt">
            <div class="name">Freaky Leaky</div>
            <div class="category">Gastronomie</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Ausstellungsstraße 3
            </div>
          </div>
        </div>
        <div class="zuckerlteasertxt">
          <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti illo quidem
            recusandae.
          </div>
        </div>
        <div class="locationstate">
          <div class="state">Dein Zuckerl ist aktiv!</div>
          <div class="txt">Dein Zuckerl ist aktuell im Grätzl Stuwerviertel und im ganzen Bezirk am Laufen.</div>
        </div>
        <div class="btn-group">
          <a href="#" class="btn-secondary -mint -small">Ansehen</a>

          <div class="btn-secondary -mint -small">Löschen</div>
        </div>
      </div>
    </div>
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/180/arch?2" alt="">

        <div class="categoryicon">
          <svg class="icon-shopping-bag">
            <use xlink:href="#icon-shopping-bag"></use>
          </svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <div class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?3" alt="Avatar">
          </div>
          <div class="locationtxt">
            <div class="name">Freaky Leaky</div>
            <div class="category">Gastronomie</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Ausstellungsstraße 3
            </div>
          </div>
        </div>
        <div class="zuckerlteasertxt">
          <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
        </div>
        <div class="locationstate">
          <div class="state">Dein Zuckerl ist abgelaufen</div>
          <div class="txt">Dein Zuckerl ist im Monat April 2016 gelaufen.</div>
        </div>
        <div class="btn-group">
          <div class="btn-secondary -mint -small">Löschen</div>
        </div>
      </div>
    </div>
  </div>


  <div class="introcontainer -location">
    <div class="introtxt">
      <h1 class="hl-main">Deine <span>Location</span> einrichten</h1>
      <p>Du hast ein Projekt im Grätzl, du bist kreativ, oder wirtschaftlich im Grätzl tätig? Egal, ob aus dem
        Home-Office, mit oder ohne Geschäftslokal - Mach dich und deine Tätigkeit und das, was du anbietest für die
        Bewohner in deinem Grätzl sichtbar!</p>
      <p><strong>Deine Location ist dein persönliches Schaufenster im Grätzl -
        Und sie ist kostenlos!</strong></p>
      <p>Mit deiner Seite kannst du Neuigkeiten, Aktionen oder Termine veröffentlichen - Somit erfahren die Bewohner in
        deinem Grätzl, was es bei dir Neues & Besonderes gibt.<br/>
        We love local!</p>
    </div>
    <div class="paperCard -illuteaser -cord1RT">
      <div class="wrp">
        <h3>Schalte jetzt dein Grätzlzuckerl für den Monat April.</h3>
        <a href="#" class="btn-primary">Location einrichten</a>
      </div>
      <div class="card"></div>
    </div>
  </div>

  <div class="cardBoxCollection -tripple">
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/180/nature?7" alt="">

        <div class="categoryicon">
          <svg class="icon-location">
            <use xlink:href="#icon-location"></use>
          </svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <div class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?7" alt="Avatar">
          </div>
          <div class="locationtxt">
            <div class="name">Superlocation</div>
            <div class="category">Unternehmen &amp; Start-ups</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Am Graben 1
            </div>
          </div>
        </div>
        <div class="locationstate">
          <div class="state">Deine Location wird noch geprüft...</div>
          <div class="txt">Wir schicken dir ein E-Mail, sobald deine Location freigeschalten wurde.</div>
        </div>
        <div class="btn-group">
          <a href="#" class="btn-secondary -mint -small">Bearbeiten</a>

          <div class="btn-secondary -mint -small">Löschen</div>
          <a href="#" class="btn-primary -small">Grätzzuckerl einbuchen</a>
        </div>
      </div>
    </div>
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/180/nature?8" alt="">

        <div class="categoryicon">
          <svg class="icon-location">
            <use xlink:href="#icon-location"></use>
          </svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <div class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?8" alt="Avatar">
          </div>
          <div class="locationtxt">
            <div class="name">Freaky Leaky</div>
            <div class="category">Gastronomie</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Ausstellungsstraße 3
            </div>
          </div>
        </div>
        <div class="btn-group">
          <a href="#" class="btn-secondary -mint -small">Bearbeiten</a>

          <div class="btn-secondary -mint -small">Löschen</div>
          <a href="#" class="btn-primary -small">Grätzzuckerl einbuchen</a>
        </div>
      </div>
    </div>
    <div class="cardBox">
      <div class="cardBoxHeader">
        <img class="coverImg" src="https://placeimg.com/300/180/nature?4" alt="">

        <div class="categoryicon">
          <svg class="icon-location">
            <use xlink:href="#icon-location"></use>
          </svg>
        </div>
      </div>
      <div class="cardBoxContent">
        <div class="location-shortfacts">
          <div class="locationlogo">
            <img class="img-square" src="https://placeimg.com/200/200/people?4" alt="Avatar">
          </div>
          <div class="locationtxt">
            <div class="name">Horsts Salon</div>
            <div class="category">Saufhütte</div>
            <div class="address">
              <svg class="icon-location">
                <use xlink:href="#icon-location"></use>
              </svg>
              Nordbahnhofgosse 1
            </div>
          </div>
        </div>
        <div class="locationstate">
          <div class="state">Deine Location wird noch geprüft...</div>
          <div class="txt">Wir schicken dir ein E-Mail, sobald deine Location freigeschalten wurde.</div>
        </div>
        <div class="btn-group">
          <a href="#" class="btn-secondary -mint -small">Bearbeiten</a>

          <div class="btn-secondary -mint -small">Löschen</div>
        </div>
      </div>
    </div>
  </div>

</section>