<div class="input-checkbox">
  <%= f.check_box :goal_roofspace %>
  <%= f.label :goal_roofspace, "Dach" %>
</div>
<div class="input-checkbox">
  <%= f.check_box :goal_freespace %>
  <%= f.label :goal_freespace, "Freifläche" %>
</div>