<h3>Lass uns zu Beginn dein Heimatgrätzl finden...</h3>

<%= form_tag(addresses_fetch_path, method: :post, remote: true) do %>
  <%= label_tag :address, 'Wo in Wien bist Du Zuhause?' %><br>
  <%= text_field_tag :address, nil, placeholder: 'Straße Hausnummer' %>
  <%= submit_tag 'Weiter' %>
<% end %>