<h3>Address</h3>
<%= form_tag(users_sign_up_address_path, method: :post) do %>
  <%= label_tag :address, 'Your address' %><br>
  <%= text_field_tag :address %><br>
  <%= submit_tag 'weiter' %>
<% end %>