<div id="user_graetzl_field_description"></div>
<div id="user_graetzl_field" class="field">
  <%= f.fields_for :graetzl do |graetzl_fields| %>
    <%= graetzl_fields.hidden_field :name %>
  <% end %>
</div>