<h6>step 2</h6>

<h3>Wähle dein Heimatgrätzl</h3>

<p>
  <% if @graetzls.size < 5 %>
    Unter deiner Addresse konnten wir <%= @graetzls.size %> Grätzl finden. Wo fühlst Du Dich denn zuhause?
  <% else %>
    Wir konnten deine Addresse leider keinem Grätzl zuordnen. Bitte wähle Dein Heimatgrätzl aus der Liste. Wo fühlst Du Dich denn zuhause?
  <% end %>
  <br>
  <i>(keine Angst, Du kannst es später auch noch ändern)</i>
</p>
