<div class="input-select" id="graetzl-select">
  <label for="last_name">
    <svg class="icon-flag-1"><use xlink:href="#icon-flag-1"></use></svg>
    <span>Grätzl</span>
  </label>
  <%= select_tag :graetzl, options_from_collection_for_select(graetzls, 'id', 'name'),
    { prompt: 'wählen', required: true } %>
</div>