<% title('Registrierung') %>

<section class="register-searchGraetzl">

  <h1>Lass uns zu Beginn dein <span>Heimatgrätzl</span> finden...</h1>

  <%= form_tag(user_registration_address_path, method: :post) do %>
    <div id="addressSearchAutocomplete" class="input-field">
      <%= label_tag :address do %>
        <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>
        <span>Wo wohnst du?</span>
      <% end %>
      <%= text_field_tag :address, nil, required: true, autofocus: true, placeholder: "Strasse und Hausnummer" %>
      <button class="btn-primary">Weiter</button>
      <%= hidden_field_tag :feature %>
    </div>
  <% end %>

</section>


