<% meta(
    title: t('.title'),
    robots: 'noindex, follow'
  )
%>

<section class="messenger-page">
  <div id="chat-container">
    <%= render 'sidebar' %>
    <div id="main-content">
      <%= render 'thread_placeholder' %>
    </div>
  </div>
</section>
