<section class="messenger">

  <div id="chat-container">

    <div id="side-bar">

      <div class="controls">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
          <div class="actions">
            <%= icon_tag "pencil" %>
          </div>
      </div>

      <div class="users-list">
        <!-- Users -->

        <div class="single-user -active">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>

        <div class="single-user">
          <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
          <div class="wrp">
            <div>
              <span class="user">Peter Rippl</span>
              <span class="time">13. Mai</span>
            </div>
            <div class="txt">Ja, sehr cool, da machen wir was draus.</div>
          </div>
        </div>


        <!-- /Users -->
      </div>


    <!-- /sideBar -->
    </div>
    <div id="chat-window">
    <!-- Messaging Panel -->

      <div class="chat-panel">
      <!-- Chat Panel -->


          <div class="message-wrapper">
          <!-- Messages -->

            <div class="chat-bubble -right">
              <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
              <div>Hello dude! Sehr geniale coole Sache!
                Bin dabei für immer!
                sauber
              </div>
            </div>

            <div class="chat-bubble -left">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
              <div>Hello dude!
                wieso
                hias
              </div>
            </div>

            <div class="chat-bubble -right">
              <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
              <div>Hello dude! Sehr geniale coole Sache!
                Bin dabei für immer!
                sauber
              </div>
            </div>

            <div class="chat-bubble -left">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
              <div>Hello dude!
                wieso
                hias
              </div>
            </div>

            <div class="chat-bubble -right">
              <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
              <div>Hello dude! Sehr geniale coole Sache!
                Bin dabei für immer!
                sauber
              </div>
            </div>

            <div class="chat-bubble -left">
              <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/fad5d1e8df9b7eba405c9f2deec155f27c709f09/store/fill/400/400/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
              <div>Hello dude!
                wieso
                hias
              </div>
            </div>

          <!-- /Messages -->
          </div>


          <!-- Chat Message Input Control -->
          <form class="message-control">
            <div class="input">
              <textarea class="chat-message" placeholder="Deine Nachricht .."></textarea>
            </div>
            <a href="#" class="btn-primary -small">Senden</a>
          </form>
          <!-- /Chat Message Input Control -->







      <!-- Chat Panel -->
      </div>



    <!-- /Messaging Panel -->
    </div>

  </div>



</section>
