<div class="cardBox -toolteiler " data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="/toolteiler">
      <div class="coverImgWrapper">
        <img class="attachment toolteiler cover_photo coverImg" src="https://cache.willhaben.at/mmo/3/308/144/263_-1257375367.jpg">
      </div>
    </a>
    <div class="priceSheet -variant2">
      <div class="txt">ab</div>
      <div class="price">25<sup>€</sup></div>
    </div>
    <div class="categoryicon">
      <svg class="icon-share"><use xlink:href="#icon-share"></use></svg>
    </div>
    <div class="graetzl-sideflag sideflag -R"><a href="/grinzing">Grinzing</a></div>
  </div>

  <div class="cardBoxContent">
    <a class="initiator" href="/users/michael">
      <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/b08edf6d2190549a24d5c51f4acbf49a87767fd1/store/fill/100/100/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
      <span>Michael Walchhütter</span>
    </a>
    <div class="txt">
      <h3><a href="/toolteiler">Kamera-Set Canon EOS 100D Komplett-Ausrüstung inkl. Mikro</a></h3>
      <p>Absolut neuwertige Canon Spiegelreflexkamera (EOS 100 D), inkl. passender kleiner Tasche und original Canon 18-55mm Objektiv...</p>
    </div>
    <a class="btn-primary -mint" href="/toolteiler">Ausleihen</a>
  </div>

</div>
