
<section class="toolTeiler">

  <!-- HEADER -->
  <div class="imgHeader">
    <img class="attachment room_offer cover_photo titleImg" src="https://cache.willhaben.at/mmo/3/308/144/263_-1764754106.jpg">
    <div class="headContent">
      <div class="category-tags">
          <ul class="tag-list -mint">
              <li>Fotokamera</li>
              <li>Technisches Equipment</li>
          </ul>
      </div>
    </div>
  </div>


  <!-- MAIN CONTENT -->
  <div class="mainContent">

    <div class="introtxt">
      <h3>Kamera Canon EOS 100D Komplett-Ausrüstung</h3>
    </div>

    <div class="txt">Absolut neuwertige Canon Spiegelreflexkamera (EOS 100 D), inkl. passender kleiner Tasche und original Canon 18-55mm Objektiv.
Liegt super in der Hand! Alles voll sauber!
Sehr angenehm für tolle Shootings.

    </div>

    <!-- Images -->
    <div class="entryImgUploads" data-featherlight-gallery="" data-featherlight-filter="a">
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"></a>
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-1257375367.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-1257375367.jpg"></a>
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-364906734.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-364906734.jpg"></a>
        <a href="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"><img class="attachment image file" src="https://cache.willhaben.at/mmo/3/308/144/263_-844565300.jpg"></a>
    </div>

    <section>
      <div class="bigicontext-element">
        <svg class="icon-dot-3"><use xlink:href="#icon-dot-3"></use></svg>
        <div class="txt">Ausstattung</div>
      </div>
      <div class="category-tags">
        <ul class="tag-list">
            <li>nook meeting pods</li>
            <li>extra meeting room</li>
            <li>präsentationstools</li>
        </ul>
      </div>
    </section>

    <section>
      <div class="bigicontext-element">
        <svg class="icon-users"><use xlink:href="#icon-users"></use></svg>
        <div class="txt">Mein idealer Raumpartner</div>
      </div>
      <div class="txt">Wir sind keine Yoga-Raum und auch kein Bastelklub - aber offen für Creative Ideen. Ideal suchen wird Unternehmen / Trainer die kreative Seminare &amp; Workshops ein neuen Räummöglichkeiten abhalten wollen.</div>
    </section>

    <section class="owner">
      <div class="bigicontext-element">
          <img class="attachment room_offer avatar room_offer avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/e7c0440b27dca82eb2ad42cd80eaf91291da06e0/store/fill/200/200/72f8cfb36608ac07c266f45ba99dd1e327e2b3fe01e777d47a9154559b9f/avatar.jpeg">
        <div class="txt">Über mich</div>
      </div>
      <div class="txt">Description ...</div>
    </section>

    <section>

      <div class="bigicontext-element">
        <svg class="icon-profile-vcard"><use xlink:href="#icon-profile-vcard"></use></svg>
        <div class="txt">Kontakt-Infos</div>
      </div>

      <!-- Contact Block -->
      <div class="contact-login-msg -show">

        <div class="contact-infos" id="contact-infos-block">
          <div class="icontxt">
            <svg class="icon-user-avatar"><use xlink:href="#icon-user-avatar"></use></svg>
            <div class="txt">Paul Maurer</div>
          </div>

          <div class="icontxt">
            <svg class="icon-phone"><use xlink:href="#icon-phone"></use></svg>
            <div class="txt">+4319346604</div>
          </div>

          <a href="mailto:office@smartwall.at">
            <div class="icontxt">
              <svg class="icon-at-symbol"><use xlink:href="#icon-at-symbol"></use></svg>
              <div class="txt">office@smartwall.at</div>
            </div>
          </a>
          <a class="icontxt" target="_blank" href="https://www.smartwall.at/">
            <svg class="icon-globe"><use xlink:href="#icon-globe"></use></svg>
            www.smartwall.at
          </a>
        </div>
      </div>
      <!-- /Contact Block -->

    </section>


    <section>
      <div class="stream">
        <div class="bigicontext-element">
          <svg class="icon-layout-text"><use xlink:href="#icon-layout-text"></use></svg>
          <div class="txt">Frage / Kommentar zum Raum</div>
        </div>
        <div class="entryCreate js-initialized" data-behavior="stream-form">
          <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/b08edf6d2190549a24d5c51f4acbf49a87767fd1/store/fill/100/100/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
          <form class="textEditor" id="new_comment" enctype="multipart/form-data" action="/comments" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
            <input type="hidden" value="513" name="comment[commentable_id]" id="comment_commentable_id">
            <input type="hidden" value="RoomOffer" name="comment[commentable_type]" id="comment_commentable_type">
            <textarea cols="80" rows="5" placeholder="Kommentar abgeben" class="input-plain" name="comment[content]" id="comment_content" style="overflow: hidden; resize: none; height: 135px;"></textarea>
            <div class="hideBlock">
              <div class="upload-streamImgs">
                <svg class="icon-photo-camera"><use xlink:href="#icon-photo-camera"></use></svg>
                <input multiple="multiple" value="[]" data-reference="6c4d1b6fce5b6a6b496a8a996e42044e" type="hidden" name="comment[images_files][]"><input multiple="multiple" direct="true" presigned="true" data-direct="true" data-as="file" data-url="/attachments/cache/presign" data-presigned="true" data-reference="6c4d1b6fce5b6a6b496a8a996e42044e" accept="image/jpeg,image/gif,image/png" include_hidden="false" type="file" name="comment[images_files][]" id="comment_images_files">
              </div>
              <button name="button" type="submit" data-disable-with="sendet..." class="btn-secondary">Kommentar senden</button>
            </div>
          </form>
        </div>
      </div>
    </section>


  </div>

  <!-- SIDEBAR CONTENT -->
  <aside class="sideBar">

    <!-- Factbox-->
    <div class="sideBarbox contact">
      <a href="/neustift-draschegrunde"><h3 class="sideflag -L">Neustift / Draschegründe</h3></a>

      <div class="iconlist">

        <div class="address icontxt">
          <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>
          Kinskygasse 40-44<br>
          1230 Wien<br>
        </div>

        <div class="pricing icontxt">
          <ul class="pricing-list">
              <li>
                <div class="cost">45 €</div>
                <div class="costname">pro Stunde</div>
              </li>
          </ul>
        </div>

        <div class="created icontxt">
          <svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
          Erstellt / Aktualisiert:<br>15. Mai 2019
        </div>

      </div>

      <a class="gmap" href="https://maps.google.com?q=Kinskygasse+40-44">
        <img src="https://maps.google.com/maps/api/staticmap?key=AIzaSyB8n3QhtommfuGrJ2Khk-TyE-wQsUQksnM&amp;center=48.146612254703335,16.330155103226552&amp;zoom=16&amp;size=250x150&amp;scale=2&amp;markers=size:small|48.146612254703335,16.330155103226552">
      </a>

    </div>
    <!-- /Factbox-->

    <a class="btn-primary -mint" href="/wien/raumteiler">Alle Toolteiler</a>

  </aside>

</section>
