<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -favorites">
    <div class="wrp">
      <%= icon_tag "favorite" %>
      <h3>Markiere Inhalte mit dem Stern, um sie auf deine Merkliste zu setzen.</h3>
    </div>
    <div class="card"></div>
  </div>
</div>
