<% meta(
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow'
  )
%>

<section class="lp -festival">

  <div class="imgHeader -fullwidth">
    <%= image_tag('lp/festival/rt-festival-header.png', class: 'titleImg') %>
  </div>

  <div id="lp_nav" class="-sticky">
    <button class="btn-primary -active pages" data-nav="page_home">Home</button>
    <button class="btn-primary pages" data-nav="page_programm">Programm</button>
    <button class="btn-primary pages" data-nav="page_tickets">Tickets</button>
  </div>

<!-- PAGE -->
  <div id="page_home" class="page">

    <div class="hl-subtext">
      <h1><span>Raumteiler Festival 2018</span></h1>
      <p>
        <strong>15. Juni, 14:00 - 23:00 Uhr</strong><br>
        Nordbahn-Halle, 1020 Wien
      </p>
    </div>

    <p class="txt">
      Ein Tag lang verwandelt sich die Nordbahn-Halle in einen Schmelztiegel
      für kooperative Nutzungskonzepte und leistbare Gewerbeflächen.
      Raumhabende treffen auf Raumsuchende & werden in Raumpartnerschaften verbunden!
      Gewerbeflächen teilen - Kosten teilen
    </p>

    <div class="wrapper">

      <div class="paperCard container">
        <div class="wrp">
          <p>
            <h2>Raumteiler <span>Market</span></h2>
            Die große Hale wird in Bezirke unterteilt.
            Raumhabende stellen in ihrem Bezirk ihre Räume zum Teilen,
            ihre Raumunternehmen und Flächen zur gemeinsamen Neuanmietung vor!
          </p>
        </div>
        <div class="card"></div>
      </div>

      <div class="paperCard container">
        <div class="wrp">
          <p>
            <h2><span>Workshops</span>, Austausch & Impulse</h2>
            ExpertInnen berichten, welche Raumtypen nachgefragt sind und wie
            Gewerbeflächen in Zukunft gestaltet werden können, um mit einer sich
            veränderten Arbeitswelt zu korrespondieren. Im Mittelpunkt stehen
            kooperative Nutzungskonzepte.
          </p>
        </div>
        <div class="card"></div>
      </div>

      <div class="paperCard container">
        <div class="wrp">
          <p>
            <h2>Info & <span>Beratung</span></h2>
            Interessierte können sich vor Ort beraten lassen:
            Förderungen, rechtliche Fragen und wie man seine Gewerbefläche teilt.
          </p>
        </div>
        <div class="card"></div>
      </div>

      <div class="paperCard container">
        <div class="wrp">
          <p>
            <h2>Music, <span>Drinks & Food</span></h2>
            Wir haben zusammen eine gute Zeit. Der Innenhof der Nordbahn-Halle
            lädt zum Relaxen und Genießen ein. Mit Live-Musik feiern wir in den
            Abend rein!
          </p>
        </div>
        <div class="card"></div>
      </div>

    </div> <!-- //Cardbox Wrapper -->


    <div class="hl-subtext">
      <h1>Für wen?</h1>
    </div>

    <p class="txt">
      <strong>Selbständige, GründerInnen, kleine Unternehmen, Vereine und Kreative</strong>
      auf der Suche nach Raum zum Andocken! Ihr könnt aus über 100 Raumangeboten wählen.
      Es geht darum Gewerbeflächen zu teilen, um die Kosten zu teilen!
    </p>
    <p class="txt">
      <strong>Für Raumhabende</strong>, die ihre Praxis, Büro, ihre Werkstatt, Geschäftslokal
      mit anderen teilen möchten und RaumpartnerInnen suchen.
    </p>
    <p class="txt">
      <strong>Bauträger & AnbieterInnen von größeren Gewerbeflächen</strong>, die kooperative
      Nutzungskonzepte auf ihren Flächen willkommen heißen und sich über innovative
      Lösungen im Bereich der kleinteiligen Nutzungsmischung informieren möchten.
    </p>
    <p class="txt">
      <strong>Raumunternehmen</strong>, die ihre Raumkonzepte den Raumsuchenden präsentieren
      und sich mit anderen RaumunternehmerInnen austauschen möchten.
      Ihr bekommt Einblick in die unterschiedlichen Projekte, Organisationsformen
      und Business-Modelle.
    </p>

    <button class="btn-primary -large -active pages" data-nav="page_tickets">Hol dir dein Festival Ticket</button>

    <div class="hl-subtext">
      <h1>Sponsoren & KooperationspartnerInnen</h1>
    </div>



  </div>

<!-- PAGE -->

  <div id="page_programm" class="page">

    <div class="hl-subtext">
      <h1><span>Das Programm</span></h1>
      <p>
        <strong>Yes, Yes, Yes</strong><br>
        Super sauber
      </p>
    </div>

  </div>

<!-- PAGE -->

  <div id="page_tickets" class="page">

    <div class="hl-subtext">
      <h1><span>Dein Festival Ticket</span></h1>
    </div>

    <div style="width:100%; text-align:left;">
      <iframe src="https://eventbrite.com/tickets-external?eid=44609406937&ref=etckt" frameborder="0" height="600" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">
      </iframe>
      <div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" >
        <a class="powered-by-eb" style="color: #ADB0B6; text-decoration: none;" target="_blank" href="https://www.eventbrite.com/">Powered by Eventbrite</a>
      </div>
    </div>

  </div>


<!-- PAGE -->

</section>
