<% meta(
  title: t('.title'),
  description: t('.description'),
  robots: 'index, follow'
)
%>

<section class="lp -festival">

  <div class="imgHeader -fullwidth">
    <%= image_tag('lp/festival/RTF_Header_Bg_Logo2.png', class: 'titleImg -fullwidth') %>
  </div>

  <div id="lp_nav" class="-sticky">
    <%= link_to "/raumteilerfestival" do %>
    <button class="btn-primary">Raumteiler Festival</button>
    <% end %>

    <button class="btn-primary -active pages" data-nav="page_ablauf">AusstellerInnen Infos</button>
  </div>



  <!-- PAGE -->
  <div id="page_home" class="page">

    <div class="section">

      <div class="logo">
        <%= image_tag('lp/festival/RTF_Logo.png') %>
      </div>

      <div class="facts">
        15 / juni / 2018<br>
        14:00 - 23:00 Uhr
      </div>

      <div class="location">
        <div class="fb">
          <a href="https://www.facebook.com/events/160990637913851/" target="_blank"><%= icon_tag "social-facebook" %>Facebook</a>
        </div>
        <br>
        Nordbahn-Halle, 1020 Wien
      </div>

    </div>

  </div>

  <!-- PAGE -->

  <div id="page_ablauf" class="page">
    <h1><span>AusstellerInnen Infos</span></h1>
    <div class="section-area">
      <div class="wrapper">

        <h2>Welcome zum Raumteiler Festival 2018</h2>
        <p class="txt">
          Schön, dass du beim Raumteiler Festival 2018 mit deinem Raum vertreten bist - Das freut uns riesig!
          <br><br>
          Der "Raumteiler Market" am 15. Juni wird richtig spannend werden, damit alles reibungslos klappt, haben wir die für Dich wichtige Infos in einem PDF zusammengefasst - Du kannst es hier herunterladen:
          <br><br>
          <a href="https://blog.imgraetzl.at/wp-content/uploads/2018/05/RaumteilerMarket_AusstellerIn.pdf"><strong>Download AusstellerInnen Infos zum Raumteiler-Market</strong></a>
          <br><br>
          Bitte lies dir das Info-Blatt durch und bei Fragen kannst du uns jederzeit gerne unter wir@imgraetzl.at kontaktieren.
        </p>

        <h2>Wenn du Raum zum Teilen anbietest: </h2>
        <p class="txt">
          In der großen Halle werden Bezirke eingezeichnet, in jedem Bezirk gibt es eine große Stellwand. Dein Stand-Platz ist in dem Bezirk, in dem sich dein Raum zum Teilen befindet. An der Stellwand kannst du deinen Raum präsentiert. Beim Räume teilen geht es nicht nur um den Raum, sondern darum, ob die gegenseitige Sympathie stimmt. Deshalb: Am wichtigsten ist, dass ihr euch kennenlernt und miteinander plaudert.
        </p>

        <h2>Was muss du mitbringen?</h2>
        <p class="txt">
          <ol>
            <li>Stelle deinen <a href="/wien/raumteiler">Raumteiler auf imGrätzl.at</a> ein, drucke dann deine Raumteiler Seite aus. Das ist dein Raumteiler Steckbrief, dieser wird an der Stellwand aufgehängt. Du kannst mehrere Kopien anfertigen, dann können sich die Leute deinen Steckbrief mitnehmen.</li>
            <li>Drucke zusätzliche Bilder deines Raumes aus, bringe diese Ausdrucke mit, diese werden an der Stellwand aufgehängt.</li>
            <li>Bring dir vielleicht einen Stuhl mit, ansonsten ist alles vor Ort vorhanden.</li>
          </ol>
        </p>

        <h2>Du bist ein Raumunternehmer/in</h2>
        <p class="txt">
          Alle Raumunternehmen teilen sich eine Fläche in der Halle. Stelle ebenfalls hier deinen <a href="/wien/raumteiler">Raumteiler auf imGrätzl.at</a> ein und drucke diesen dann mehrmals aus. Bringe außerdem Bilder deiner Räume mit und schreibt dazu für welche Nutzung deine Räume geeignet sind.
        </p>

        <h2>Bauträger und GewerbeflächenanbieterInnen mit Flächen, um gemeinsam neu anzumieten:</h2>
        <p class="txt">
          Unabhängig davon, ob die Fläche sich in Planung befindet, oder bereits zur Verfügung steht. Bringt Pläne, Bilder und weitere Informationsmaterialien mit. Die Räume und Flächen zur Neuanmietung werden ebenfalls zentral in der Halle auf einer Fläche gebündelt vorgestellt und präsentiert. Stellwände sind vorhanden.
        </p>

        <h2>Und außerdem?</h2>
        <p class="txt">
          Hello weconomy! Das Raumteiler Festival steht unter dem Motto "was einer alleine nicht schafft, das vermögen viele".
          Viele Selbständige, GründerInnen und Menschen mit Ideen kommen beim Raumteiler Festival zusammen, nicht nur um Räume zu teilen, sondern auch um Gleichgesinnte kennenzulernen. Das Raumteiler Festival ist ein Ort, um sich auszutauschen und zu verbinden. Freue dich auf neue Kontakte und inspirierende Menschen.
        </p>

        <h2>Du hast Fragen?</h2>
        <p class="txt">
          1 Woche vor dem Raumteiler Festival senden wir dir nochmals alle wichtigen Infos für den Festival-Tag zu.<br>
          Solltest du vorab noch Fragen haben, dann schreib uns an <a href="mailto:">wir@imgraetzl.at</a> / Betreff: "Raumteiler Fetsival".
        </p>

      </div>
    </div>
  </div>

  <!-- PAGE -->

</section>
