<div class="entryUserComment">
  <div class="userCreateInfo">
    <%= image_tag comment.user.avatar_url(:small), class: 'img-round' %>
    <span class="userAndType">Kommentar von <a href=""><%= comment.user.username %></a></span>
  </div>
  <div class="txt">
    <p><%= comment.content %></p>
  </div>
</div>