<div class="entryUserComment">
  <div class="userCreateInfo">
    <%= attachment_image_tag(comment.user, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>
    <span class="userAndType">
      Kommentar von <a href=""><%= comment.user.username %></a>
      <span class="timeago">vor <%= time_ago_in_words(comment.created_at) %></span>
    </span>
  </div>
  <div class="txt">
    <%= simple_format comment.content %>
  </div>
</div>