<div class="meetings-section -page">

  <div class="header">
    <% if @group.postable_by?(current_user) %>
      <%= link_to new_meeting_path(group_id: @group.id), class: 'btn-userIcons' do %>
      <span class="ico-left">
        <%= icon_tag('calendar-2') %>
        Neues Gruppentreffen
      </span>
      <% end %>
    <% end %>
  </div>

  <div class="cardBoxCollection -tripple">
    <% @group.meetings.include_for_box.sort_by(&:starts_at_date).reverse_each do |meeting| %>
      <%= render meeting %>
    <% end %>
  </div>

</div>
