<% if resource.errors.any? %>
  <div id="error_explanation">
    <p class="title">
      <strong>Folgende Fehler sind aufgetreten:</strong>
    </p>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
