<% title('Neue Raumsuche erstellen') %>

<section class="room-form room-offer-form">
  <div class="wrp">
    <h1 class="hl-main">Ich <span>suche</span> Raum</h1>
  </div>

  <%= render 'form' %>

</section>
