<footer id="footer">

  <div class="inner">

    <div class="row infolinks">
      <div class="col">
        <%= link_to 'Impressum', 'https://blog.welocally.at/kontakt/' %>
        <%= link_to 'Medien', 'https://blog.imgraetzl.at/medien/', target: '_blank' %>
        <a href="https://blog.imgraetzl.at/" target="_blank">Blog</a>
      </div>
      <div class="col">
        <a href="https://www.facebook.com/imGraetzl" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/welocally/" target="_blank">Instagram</a>
      </div>
    </div>

  </div>
</footer>
