<ul class="tabs-nav -small">
    <li id="step1">
      <a href="/toolteiler/new_1">
      <span class="desk">Dein Toolteiler</span>
      <span class="mob">1.</span>
      </a>
    </li>
    <li id="step2">
      <a href="/toolteiler/new_2">
        <span class="desk">Abholadresse</span>
        <span class="mob">2.</span>
      </a>
    </li>
    <li id="step3">
      <a href="/toolteiler/new_3">
        <span class="desk">Versicherung</span>
        <span class="mob">3.</span>
      </a>
    </li>
    <li id="step4">
      <a href="/toolteiler/new_4">
        <span class="desk">Preis / Auszahlung</span>
        <span class="mob">4.</span>
      </a>
    </li>
</ul>
