<% title('Neuen Toolteiler einstellen') %>

<section class="form-new-toolteiler">

  <div class="hl-subtext">
    <h1>Neuen <span>Toolteiler</span> erstellen</h1>
  </div>

  <%= render "/toolteiler/form/create/tabs-nav" %>

  <!-- Render Form Content -->
  <%= render "/toolteiler/form/create/#{@content}" %>

</section>
