# install git to be able to bundle gems from github
packages:
  yum:
    git: []
    geos-devel: []
    ruby-devel: []
    postgresql94-devel: []
    ImageMagick: []
    ImageMagick-devel: []
commands:
  01_proj:
    command: "yum --enablerepo=epel -y install proj-devel"
    command: "yum --enablerepo=epel -y install libgeos-devel"
