files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 50M;

  "/etc/nginx/conf.d/cors.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
        location ~* \.(ttf|ttc|otf|eot|woff|woff2|svg|font.css)$ {
          add_header Access-Control-Allow-Origin *;
          expires 1M;
          access_log off;
          add_header Cache-Control "public";
        }
      }
