container_commands:
  01_reload_nginx:
    command: "service nginx reload"

files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      client_max_body_size 50M;
  "/etc/nginx/conf.d/static_cors.config":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      if ($filename ~* ^.*?\.(eot)|(ttf)|(woff)$){
        add_header Access-Control-Allow-Origin *;
      }
