container_commands:
  01_reload_nginx:
    command: "service nginx reload"

files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      client_max_body_size 50M;
  "/etc/nginx/conf.d/static_cors.config":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      server {
       location ~* ^/assets/ {
           expires 1y;
           add_header Cache-Control public;

           if ($request_filename ~* ^.*?\.(eot)|(ttf)|(woff)|(woff2)|(svg)|(otf)$){
              add_header Access-Control-Allow-Origin *;
           }
           break;
       }
      }
