<div>

  <div class="hl-subtext">
    <h1>Vielen Dank für deine Unterstützung.</h1>
    <p>
      Wir haben dir soeben auch ein E-Mail mit Infos zu deiner Fördermitgliedschaft geschickt.
      <br><br>
      <%= avatar_image current_user, size: :large, class: 'img-round show-badge' %>
      <br>
      <%= link_to 'Hier kannst du deine Mitgliedschaft verwalten', subscription_user_path, class: 'btn-primary -mint' %>
    </p>
  </div>
</div>
