<div class="entryParticipate" data-behavior="participants-container">
  <% if user_signed_in? %>
    <%= render 'going_tos/button', going_to: meeting.going_tos.find_by_user_id(current_user), meeting: meeting %>
  <% else %>
    <%= render 'going_tos/buttons/dummy' %>
  <% end %>

  <div class="participants">
    <p class="userCount"><span><%= meeting.going_tos.count %></span> Teilnehmer</p>
    <div class="portraitCollection">
      <% meeting.going_tos.each do |g| %>
        <%= link_to(g.user){ attachment_image_tag g.user, :avatar, :fill, 200, 200, class: 'img-round', fallback: 'avatar/user/200x200.png' } %>
      <% end %>
    </div>
  </div>
</div>
