<div class="userCreateInfo">
  <%= attachment_image_tag(user, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %>

  <span class="userAndType">
    <%= activity_description(user, entity) %>
    <span class="timeago">vor <%= time_ago_in_words(entity.created_at) %></span>
  </span>
</div>