<div class="userCreateInfo">
  <%= avatar_for user %>

  <span class="userAndType">
    <%= activity_description(user, entity) %>
    <span class="timeago">vor <%= time_ago_in_words(entity.created_at) %></span>
  </span>
</div>