<div class="cardbox-wrp" data-behavior="masonry-card">
  <div class="paperCard -cord1RT -illuteaser -favorites">
    <div class="wrp">
      <%= icon_tag "mail-1" %>
      <h3>Für deine Auswahl gibt es noch keine Inhalte für den nächsten Newsletter.</h3>
    </div>
    <div class="card"></div>
  </div>
</div>
