<%- meeting = notification.activity.trackable %>
<li>
  <%= link_to [meeting.graetzl, meeting] do %>
      <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
      Neues Kommentar von <%= notification.activity.owner.username %> im Treffen <%= meeting.name %>.
  <% end %>
</li>