<%- location = notification.activity.trackable %>
<li>
<%= link_to [location.graetzl, location] do %>
  <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
  Deine Location <%= link_to location.name, [location.graetzl, location] %> wurde freigeschalten.
<% end %>
</li>
