<%- meeting = notification.activity.trackable %>
<%= notification.activity.owner.username %> nimmt nicht mehr an deinem Treffen <%= link_to meeting.name, [meeting.graetzl, meeting] %> teil.
    <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
