<%- meeting = notification.activity.trackable %>
<li>
  <%= link_to [meeting.graetzl, meeting] do %>
  <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
  <%= notification.activity.owner.username %> hat Treffen <%=meeting.name -%> abgesagt.
  <% end %>
</li>

