<%- user = notification.user %>
<%- comment = notification.activity.recipient %>
<% if user && comment %>
  <%= content_tag_for(:li, notification, data: { behavior: 'notification-item' }) do %>
    <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
    placeholder new_wall_comment<br>
    activity: <%= notification.activity_id %>
  <% end %>
<% end %>
