<%= content_tag(:li, id: dom_id(notification), data: { behavior: 'notification-item' }, class: 'notification-item') do %>
  <%= link_to messenger_path(thread_id: notification.tool_rental.user_message_thread.id) do %>
    <div class="img-round">
      <%= icon_tag "horn-promote" %>
    </div>
    <div class="msg">
      <div class="timeago">vor <%= time_ago_in_words(notification.created_at) %></div>
      <span class="matter">Bitte bestätige die Rückgabe deines Geräteteilers</span>.
    </div>
  <% end %>
<% end %>
