<%- meeting = notification.activity.trackable %>
<%-
  translation = {
    "address" => "Ort",
    "starts_at_date" => "Datum",
    "ends_at_date" => "Datum",
    "starts_at_time" => "Uhrzeit",
    "ends_at_time" => nil,
    "description" => "Beschreibung"
  }

  translated_changes = notification.activity.parameters[:changed_attributes].collect { |a| translation[a] }.uniq.compact
%>
<%= notification.activity.owner.username %> hat <%= translated_changes.to_sentence(two_words_connector: " und ", last_word_connector: ", und ") %> im Treffen <%= link_to meeting.name, [meeting.graetzl, meeting] %> geändert.
    <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
