<%- meeting = notification.activity.trackable %>
<%= notification.activity.owner.username %> hat Angaben zum Treffen <%= link_to meeting.name, [meeting.graetzl, meeting] %> geändert.
    <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
