<%- meeting = notification.activity.trackable %>
<li>
  <span class="timeago">vor <%= time_ago_in_words(notification.activity.created_at) %></span>
  <%= notification.activity.owner.username %> hat dein Treffen <%= link_to meeting.name, [meeting.graetzl, meeting] %> kommentiert.
</li>
