console.log('render notifications');
$('ul.notifications').html('<%= escape_javascript(raw(@notifications.inject("") { |sum, n| sum << (render partial: "/notifications/#{Notification::TYPES.select { |k, v| v[:bitmask] == n.bitmask }.first[0].to_s}", locals: { notification: n }); sum })) %>');
<% if @less_notifications -%>
  $('ul.notifications').append('<li><%= escape_javascript(link_to 'zurück..', notifications_path(params: { page: (@current_page - 1) }), remote: true ) -%></li>');
<% end -%>
<% if @more_notifications -%>
  $('ul.notifications').append('<li><%= escape_javascript(link_to 'mehr..', notifications_path(params: { page: (@current_page + 1) }), remote: true ) -%></li>');
<% end -%>
<%- notifications_count = current_user.new_website_notifications_count %>
<%- if notifications_count == 0 -%>
  jQuery('#notificationsCount').hide();
<%- else -%>
  jQuery('#notificationsCount').html('<%= notifications_count %>');
<%- end -%>
