<% title('Coop & Share Angebot bearbeiten') %>

<section class="coop-demand-form">
  <div class="wrp">
    <h1 class="hl-main"><span>Coop & Share</span> Markplatz Angebot <span>bearbeiten</span></h1>
  </div>

  <%= render 'form' %>

</section>
