<% title('Neues Coop & Share Angebot erstellen') %>

<section class="coop-demand-form">
  <div class="wrp">
    <h1 class="hl-main">Neues <span>Coop & Share </span> Markplatz Angebot</h1>
  </div>

  <%= render 'form' %>

</section>
