<div class="meetings-section -page">

  <div class="header">

    <% if user_signed_in? %>
      <%= link_to new_meeting_path(group_id: @group.id), class: 'btn-userIcons' do %>
      <span class="ico-left">
        <%= icon_tag('calendar-2') %>
        Neues Gruppentreffen
      </span>
      <% end %>
    <% end %>

  </div>

  <div class="cardBoxCollection -tripple">

    <% @meetings.each do |meeting| %>
      <%= render 'meetings/meeting', meeting: meeting %>
    <% end %>

  </div>

</div>
