<div class="members-section -page">

  <div class="users">
    <!-- JOIN REQUESTS -->
    <% if @group.admins.include?(current_user) %>
      <% @group.group_join_requests.pending.includes(:user).each do |join_request| %>
        <%= render 'groups/members/join_request', join_request: join_request %>
      <% end %>
    <% end %>
    <!-- /JOIN REQUESTS -->

    <!-- Users -->
    <% @group.group_users.includes(user: :group_join_requests).order("role DESC").each do |group_user| %>
      <%= render 'groups/members/group_user', group_user: group_user %>
    <% end %>
    <!-- /Users -->
  </div>

</div>
