<div class="members-section">

  <div class="join-requests">
    <% @group.group_join_requests.pending.includes(:user).each do |join_request| %>
      <div class="join-request">
        <%= attachment_image_tag join_request.user, :avatar, :fill, 100, 100, fallback: 'avatar/user/100x100.png', class: 'img-round' %>
        <span class="username"><%= join_request.user.full_name %></span>
        <%= link_to 'Accept', accept_request_group_path(@group, join_request_id: join_request.id), method: :post %>
        <%= link_to 'Reject', reject_request_group_path(@group, join_request_id: join_request.id), method: :post %>
      </div>
    <% end %>
  </div>
</div>
