<ul class="tabs-nav">
  <li class="-info"><%= link_to "Die Gruppe", group_path(@group, anchor: 'tab-info') %></li>
  <% if @group.readable_by?(current_user) %>
    <li class="-topics"><%= link_to "Themen", group_path(@group, anchor: 'tab-discussions') %></li>
    <% if !@group.default_joined? %>
      <li class="-members"><%= link_to "Mitglieder", group_path(@group, anchor: 'tab-members') %></li>
    <% end %>
  <% end %>
</ul>
