<% title('Gruppe erstellen') %>

<div class="group-form-page">

  <div class="hl-subtext">

      <h1><span>Neue Gruppe</span> erstellen</h1>

      <% if params[:room_offer_id].present? %>
        <p>Für "<%= RoomOffer.find(params[:room_offer_id]) %>"</p>
      <% elsif params[:room_call_id].present? %>
        <p>Für "<%= RoomCall.find(params[:room_call_id]).title %>"</p>
      <% end %>

  </div>

  <%= render 'form' %>

</div>
