<% title('Gruppe erstellen') %>

<section class="group-form-page">

  <div class="hl-subtext">

      <h1><span>Neue Gruppe</span> erstellen</h1>

      <% if @group.location %>
        <p>Für dein Schaufenster "<%= @group.location.name %>"</p>
      <% elsif @group.room_offer %>
        <p>Für deinen Raumteiler "<%= @group.room_offer %>"</p>
      <% elsif @group.room_demand %>
        <p>Für deinen Raumteiler "<%= @group.room_demand %>"</p>
      <% end %>

  </div>

  <%= render 'form' %>

</section>
