<div class="stream">
  <h3>Persönliche <span>Pinnwand</span> von <%= @user.username %></h3>
  <div id="stream-form">
    <%= render partial: 'comments/form', layout: 'layouts/stream/form', locals: { commentable: @user } %>
  </div>
  <%= render partial: 'comments/comment', layout: 'layouts/stream/element', collection: @wall_comments %>
</div>
<%= view_more_link @wall_comments, params: { scope: :wall_comments } %>
