<h2 class="hl-main">Als <span>Vermieter</span></h2>


<div class="table-container" role="table" aria-label="Destinations">
  <!-- Table Header-->
  <div class="flex-table header" role="rowgroup">
    <div class="flex-row first" role="columnheader">Toolteiler</div>
    <div class="flex-row" role="columnheader">Vermieter</div>
    <div class="flex-row" role="columnheader">Start</div>
    <div class="flex-row" role="columnheader">Ende</div>
    <div class="flex-row" role="columnheader">Ausbezahlt</div>
    <div class="flex-row" role="columnheader">Gutschriften</div>
    <div class="flex-row" role="columnheader">Status</div>
  </div>
  <!-- /Table Header-->

  <!-- Table Rows-->
  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first" role="cell"><a href="#">Toolteiler Titel</a></div>
    <div class="flex-row" role="cell"><a href="#">Michael Walchhütter</a></div>
    <div class="flex-row" role="cell">06. Aug 2019</div>
    <div class="flex-row" role="cell">20. Aug 2019</div>
    <div class="flex-row" role="cell">18,50 €</div>
    <div class="flex-row" role="cell"><a href="#">Download</a></div>
    <div class="flex-row" role="cell">
      <div class="status">Warten <a href="#"><%= icon_tag "speech-bubbles" %></a></div>
    </div>
  </div>
</div>



<h2 class="hl-main">Als <span>Mieter</span></h2>

<div class="table-container" role="table" aria-label="Destinations">
  <!-- Table Header -->
  <div class="flex-table header" role="rowgroup">
    <div class="flex-row first" role="columnheader">Toolteiler</div>
    <div class="flex-row" role="columnheader">Vermieter</div>
    <div class="flex-row" role="columnheader">Start</div>
    <div class="flex-row" role="columnheader">Ende</div>
    <div class="flex-row" role="columnheader">Bezahlt</div>
    <div class="flex-row" role="columnheader">Rechnungen</div>
    <div class="flex-row" role="columnheader">Status</div>
  </div>
  <!-- /Table Header-->

  <!-- Table Rows-->
  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first" role="cell"><a href="#">Toolteiler Titel</a></div>
    <div class="flex-row" role="cell"><a href="#">Michael Walchhütter</a></div>
    <div class="flex-row" role="cell">06. Aug 2019</div>
    <div class="flex-row" role="cell">20. Aug 2019</div>
    <div class="flex-row" role="cell">18,50 €</div>
    <div class="flex-row" role="cell"><a href="#">Download</a></div>
    <div class="flex-row" role="cell">
      <div class="status">Warten <a href="#"><%= icon_tag "speech-bubbles" %></a></div>
    </div>
  </div>
</div>
