<% if !@owned_tool_rentals.present? && !@tool_rentals.present? %>
  <div class="cardBox no-rentals-box">
    <h3>Noch keine Buchungsanfragen ...</h3>
    <p>
      Sobald jemand deinen Toolteiler anfragt, oder du selbst einen Toolteiler ausleihen möchtest siehst du hier eine Übersicht über deine aktuellen Buchungen.
    </p>
  </div>
<% end %>

<% if @owned_tool_rentals.present? %>
  <h2 class="hl-main">Als <span>Vermieter</span></h2>

  <div class="table-container" role="table" aria-label="Destinations">
    <div class="flex-table header" role="rowgroup">
      <div class="flex-row wide20 first" role="columnheader">Toolteiler</div>
      <div class="flex-row wide20" role="columnheader">Mieter</div>
      <div class="flex-row" role="columnheader">Start</div>
      <div class="flex-row" role="columnheader">Ende</div>
      <div class="flex-row" role="columnheader">Auszahlung</div>
      <div class="flex-row wide20" role="columnheader">Status</div>
    </div>
    <!-- /Table Header-->

    <% @owned_tool_rentals.each do |rental| %>
      <%= render 'users/tool_rental_row', tool_rental: rental, user: rental.renter %>
    <% end %>
  </div>
<% end %>

<% if @tool_rentals.present? %>
  <h2 class="hl-main">Als <span>Mieter</span></h2>

  <div class="table-container" role="table" aria-label="Destinations">
    <div class="flex-table header" role="rowgroup">
      <div class="flex-row wide20 first" role="columnheader">Toolteiler</div>
      <div class="flex-row wide20" role="columnheader">Vermieter</div>
      <div class="flex-row" role="columnheader">Start</div>
      <div class="flex-row" role="columnheader">Ende</div>
      <div class="flex-row" role="columnheader">Kosten</div>
      <div class="flex-row wide20" role="columnheader">Status</div>
    </div>

    <% @tool_rentals.each do |rental| %>
      <%= render 'users/tool_rental_row', tool_rental: rental, user: rental.owner %>
    <% end %>
  </div>
<% end %>
