<% if !@owned_tool_rentals.present? && !@tool_rentals.present? %>
  <div class="cardBox no-rentals-box">
    <h3>Noch keine Buchungsanfragen ...</h3>
    <p>
      Sobald jemand deinen Geräteteiler anfragt, oder du selbst einen Geräteteiler ausleihen möchtest
      siehst du hier eine Übersicht über deine aktuellen Buchungen.
    </p>
  </div>
<% end %>

<% if @owned_tool_rentals.present? %>

  <div class="hl-subtext">
    <h1><em>Als Vermieter</em></h1>
  </div>

  <div class="table-container" role="table" aria-label="Destinations">
    <div class="flex-table header" role="rowgroup">
      <div class="flex-row large first" role="columnheader">Mieter</div>
      <div class="flex-row large" role="columnheader">Geräteteiler</div>
      <div class="flex-row medium" role="columnheader">Mietdatum</div>
      <div class="flex-row small" role="columnheader">Auszahlung</div>
      <div class="flex-row large" role="columnheader">Status</div>
      <div class="flex-row medium" role="columnheader">Messenger</div>
    </div>

    <% @owned_tool_rentals.order("rent_from DESC").each do |rental| next if !rental.renter %>
      <%= render 'users/owned_tool_rental', tool_rental: rental %>
    <% end %>
  </div>
<% end %>

<% if @tool_rentals.present? %>
<div class="hl-subtext">
  <h1><em>Als Mieter</em></h1>
</div>

  <div class="table-container" role="table" aria-label="Destinations">
    <div class="flex-table header" role="rowgroup">
      <div class="flex-row large first" role="columnheader">Vermieter</div>
      <div class="flex-row large" role="columnheader">Geräteteiler</div>
      <div class="flex-row medium" role="columnheader">Mietdatum</div>
      <div class="flex-row small" role="columnheader">Kosten</div>
      <div class="flex-row large" role="columnheader">Status</div>
      <div class="flex-row medium" role="columnheader">Messenger</div>
    </div>

    <% @tool_rentals.order("rent_from DESC").each do |rental| next if !rental.owner %>
      <%= render 'users/rented_tool_rental', tool_rental: rental %>
    <% end %>
  </div>
<% end %>
