<div class="paperCard -illuteaser -cord1RT">
  <div class="wrp">
    <h3>Schalte jetzt dein Zuckerl für den Monat <%= I18n.localize Time.now.end_of_month+1.day, format: '%B' %>.</h3>
    <%= link_to 'Jetzt Zuckerl buchen', new_zuckerl_path, class: 'btn-primary -rose -shadow' %>
    <%= link_to 'Fragen und Antworten zum Zuckerl', info_zuckerl_path, class: 'link-more' %>
  </div>
  <div class="card"></div>
</div>
