<div class="paperCard -illuteaser -cord1RT">
  <div class="wrp">
    <h3>Schalte jetzt dein Gr채tzlzuckerl f체r den Monat <%= I18n.localize Time.now.end_of_month+1.day, format: '%B' %>.</h3>
    <%= link_to 'Jetzt Gr채tzlzuckerl buchen', new_zuckerl_path, class: 'btn-primary -rose -shadow' %>
    <%= link_to 'Fragen und Antworten zum Gr채tzlzuckerl', info_infos_zum_graetzlzuckerl_path, class: 'link-more' %>
  </div>
  <div class="card"></div>
</div>
