<section class="usersetup -crowdfundings">

  <div class="hl-subtext">
    <h1>Regionales <em>Crowdfunding</em></h1>
    <p>Was hat es mit dem <%= t("region.#{current_region.id}.domain_short") %> Crowdfunding auf sich?</p>
  </div>

  <%= render 'crowdfundings/form/intro_video' %>

  <%= link_to "Starte jetzt dein Projekt", new_crowdfunding_path, class: 'btn-primary -rose -large -shadow' %>

</section>
