<section class="usersetup -crowd_campaigns">

  <h2 class="hl-main">Deine <span>Crowdfunding Kampagnen</span> verwalten</h2>

  <div class="cardBoxCollection -tripple">
    <%= render @crowd_campaigns %>
  </div>
  <div class="action-card-container">
    <%= render 'crowd_campaigns/action_card', user: @user %>
  </div>

</section>
