<% meta(
    title: t('.title'),
    robots: 'noindex, follow',
  )
%>

<section class="user-settings">

  <div class='tabs-ctrl'>
    <ul class="tabs-nav">
      <li><a href="#tab-1">Persönliche Daten</a></li>
      <li><a href="#tab-2">E-Mail Benachrichtigungen</a></li>
    </ul>

    <div id='tab-1' class="personal-settings">
      <%= render 'form', user: @user %>
    </div>

    <div id='tab-2' class="notification-settings">
      <%= render 'notification_settings/index' %>
    </div>
  </div>

</section>
