<% meta(
    title: t('.title'),
    robots: 'noindex, follow',
  )
%>

<section class="usersetup -energies">

  <h2 class="hl-main">Deine <span>Energieteiler</span> verwalten</h2>

  <div class="cardBoxCollection -tripple">
    <%= render @energies, manage_buttons: true %>
  </div>
  <div class="action-card-container">
    <%= render 'energies/action_card', user: @user %>
  </div>

</section>
