<section class="usersetup -groups">

  <% if @groups.empty? %>

    <p> Du bist noch in keiner Gruppe Mitglied ... </p>

  <% else %>

    <h2 class="hl-main">Deine <span>Gruppen</span></h2>

    <div class="cardBoxCollection -tripple" data-behavior="groups-card-container">
      <%= render @groups.order(created_at: :desc), manage_buttons: true %>
    </div>

  <% end %>

</section>
