<section class="usersetup -location">

  <% if @locations.present? %>
    <h2 class="hl-main">Deine <span>Location</span> verwalten</h2>
    <div class="cardBoxCollection -tripple">
      <%= render partial: 'users/location', collection: @locations %>
    </div>
    <%= link_to 'Weitere Location hinzufügen', new_location_path, class: 'btn-secondary -grey -small addlocation' %>
  <% else %>
    <div class="introcontainer">
      <div class="introtxt">
        <div class="step-element">
          <h2><span class="number">1.</span> Richte dir deine Location ein</h2>

          <div class="text">Du hast ein Projekt im Grätzl, du bist kreativ, oder wirtschaftlich im Grätzl tätig? Egal,
            ob aus dem Home-Office, mit oder ohne Geschäftslokal - Mach dich und deine Tätigkeit für die Bewohner in
            deinem Grätzl sichtbar! <strong>Deine Location ist dein persönliches Schaufenster im Grätzl - Und sie ist kostenlos!</strong>
            <%= link_to 'Location einrichten', new_location_path, class: 'btn-primary' %>
          </div>
        </div>
        <div class="step-element">
          <h2><span class="number">2.</span> Wenn du deine Location hast&hellip;</h2>
          <div class="text">&hellip;kannst du Neuigkeiten, Aktionen oder Termine auf dieser veröffentlichen - Diese
            landen nicht nur im Grätzl-Stream, sondern auch im dailyGrätzl Mail. Damit erfahren die Bewohner in deinem
            Grätzl, was es bei dir Neues & Besonderes gibt. Darüber hinaus ist die Locationseite die Voraussetzung für
            das Grätzlzuckerl.
          </div>
        </div>
      </div>
      <%= render 'locations/action_card', user: @user %>
    </div>
  <% end %>
</section>
