<section class="rooms">

  <% if @rooms.empty? %>

  <div class="introcontainer -rooms">
    <div class="introtxt">
      <h1>Dein <span>Raumteiler</span></h1>
      <p>
        Raumteiler Beschreibungstext
      </p>
    </div>
    <%= render 'rooms/action_card', user: @user %>
  </div>

  <% else %>

  <h2 class="hl-main">Raumteiler <span>verwalten</span></h2>

  <div class="cardBoxCollection -tripple" data-behavior="rooms-card-container">
    <%= render @rooms %>
    <%= render 'rooms/action_card', user: @user %>
  </div>

  <% end %>

</section>
