<% meta(
    title: t('.title'),
    robots: 'noindex, follow',
  )
%>

<section class="usersetup -rooms">

  <div class='tabs-ctrl'>
    <ul class="tabs-nav">
      <li><a href="#tab-roomteiler">Deine Raumteiler</a></li>
      <li><a href="#tab-buchungsarchiv">Buchungsarchiv</a></li>
      <li><%= link_to "Anfragen Messenger", messenger_url(filter: "room_rental") %></li>
    </ul>

    <div id='tab-roomteiler'>
      <%= render 'room_items' %>
    </div>

    <div id='tab-buchungsarchiv'>
      <%= render 'room_rentals' %>
    </div>
  </div>


</section>
