<section class="usersetup -toolteiler">

  <div class='tabs-ctrl'>
    <ul class="tabs-nav">
      <li><a href="#tab-1">Deine Toolteiler</a></li>
      <li><a href="#tab-2">Buchungsanfragen</a></li>
    </ul>

    <div id='tab-1' class="tool-offers">
      <%= render 'tool_offers' %>
    </div>

    <div id='tab-2' class="tool-rentals">
      <%= render 'tool_rentals' %>
    </div>
  </div>

</section>
