<section class="usersetup -toolteiler">

  <div class='tabs-ctrl'>
    <ul class="tabs-nav">
      <li><a href="#tab-toolteiler">Deine Toolteiler</a></li>
      <li><a href="#tab-buchungsarchiv">Buchungsarchiv</a></li>
      <li><%= link_to "Anfragen Messenger", messenger_url(filter: "tool_rental") %></li>
    </ul>

    <div id='tab-toolteiler'>
      <%= render 'tool_items' %>
    </div>

    <div id='tab-buchungsarchiv'>
      <%= render 'tool_rentals' %>
    </div>
  </div>

</section>
