<section class="usersetup -zuckerl">

  <%= render partial: 'users/zuckerl_introtext' %>

  <% if @zuckerls.present? %>

    <h2 class="hl-main" id="zuckerl-verwalten">Deine <span>Zuckerl</span> verwalten</h2>

    <div class="cardBoxCollection -tripple" data-behavior="zuckerls-card-container">
      <%= render partial: 'users/zuckerl', collection: @zuckerls %>
    </div>

  <% end %>

</section>
