<section class="userzuckerls">
  <div class="introcontainer -zuckerl">
    <div class="introtxt">
      <h1>Dein <span>Grätzlzuckerl</span></h1>
      <p>Mit einem Grätzlzuckerl hast du die Möglichkeit günstig, einfach und unkompliziert <strong>Werbung für dein spezielles
        Angebot in deinem Grätzl und Bezirk</strong> zu schalten.</p>
      <p>Als Grätzlzuckerl eignen sich besondere <strong>Angebote, Gutscheine oder Rabattaktionen, aber auch Werbung für deine
        Produkte</strong>.</p>
      <p>Grätzlzuckerl können immer für den kommenden Monat gebucht werden und laufen dann einen vollen Monat. Ein
        Online Zuckerl kostet dich 15 € (inkl. USt.)</p>
      <p>Um deinem Zuckerl noch mehr Aufmerksamkeit und Sichtbarkeit zu schenken, erscheint es nicht nur in deinem
        eigenen Grätzl, sondern sogar <strong>im ganzen zugehörigen Bezirk!</strong></p>
      <p>Darüber hinaus landet dein Zuckerl auch im <strong>Grätzlzuckerl Newsletter</strong>, der immer am 1. des Monats an die Bewohner
        im Bezirk gesendet wird.</p>
      <p><strong>Aber das Schönste daran:</strong> Mit den Einnahmen aus den Grätzlzuckerln werden die Initiativen & Aktiven in deinem
        Stadtteil finanziell unterstützt und du entscheidest welche.</p>
    </div>
    <div class="paperCard -illuteaser -cord1RT">
      <div class="wrp">
        <h3>Schalte jetzt dein Grätzlzuckerl für den Monat <%= I18n.localize Time.now.end_of_month+1.day, format: '%B' %>.</h3>
        <%= link_to 'Grätzlzuckerl buchen', new_zuckerl_path, class: 'btn-primary' %>
        <div class="zuckerlfaqlink">Du hast Fragen zum Grätzlzuckerl?
          <%= link_to 'Hier gibts Antworten.', info_infos_zum_graetzlzuckerl_path %>
        </div>
      </div>
      <div class="card"></div>
    </div>
  </div>
  <% if @zuckerls.present? %>
    <h2 class="hl-main">Deine <span>gebuchten Grätzlzuckerl</span> verwalten</h2>
    <div class="cardBoxCollection -tripple">
      <%= render partial: 'users/zuckerl', collection: @zuckerls %>
    </div>
  <% end %>
</section>
