<section class="usersetup -zuckerl">

<% if @zuckerls.empty? %>

  <div class="introcontainer">
    <div class="introtxt">

      <div class="hl-subtext">
        <h1><em>Deine Grätzlzuckerl</em></h1>
        <p>Mit einem Grätzlzuckerl hast du die Möglichkeit günstig, einfach und unkompliziert Werbung für dein spezielles
          Angebot in deinem Grätzl und Bezirk zu schalten.</p>
      </div>

      <p>Als Grätzlzuckerl eignen sich besondere <strong>Angebote, Gutscheine oder Rabattaktionen, aber auch Werbung für deine
        Produkte</strong>.</p>
      <p>Grätzlzuckerl können immer für den kommenden Monat gebucht werden und laufen dann einen vollen Monat. Ein
        Online Zuckerl kostet dich 15 € (inkl. USt.)</p>
      <p>Um deinem Zuckerl noch mehr Aufmerksamkeit und Sichtbarkeit zu schenken, erscheint es nicht nur in deinem
        eigenen Grätzl, sondern sogar <strong>im ganzen zugehörigen Bezirk!</strong></p>
      <p>Darüber hinaus landet dein Zuckerl auch im <strong>Grätzlzuckerl Newsletter</strong>, der immer am 1. des Monats an die Bewohner
        im Bezirk gesendet wird.</p>
      <p><strong>Aber das Schönste daran:</strong> Mit den Einnahmen aus den Grätzlzuckerln werden die Initiativen & Aktiven in deinem
        Stadtteil finanziell unterstützt und du entscheidest welche.</p>

    </div>
    <%= render partial: 'users/zuckerl_actioncard' %>
  </div>

<% else %>

  <h2 class="hl-main">Deine <span>Grätzlzuckerl</span> verwalten</h2>

  <div class="cardBoxCollection -tripple" data-behavior="zuckerls-card-container">
    <%= render partial: 'users/zuckerl', collection: @zuckerls %>
  </div>
  <div class="action-card-container">
    <%= render partial: 'users/zuckerl_actioncard' %>
  </div>

<% end %>

</section>
