<ul class="tabs-nav -small">
  <li>
    <%= link_to '#tab-basic' do %>
      <span class="desk">Dein Toolteiler</span>
      <span class="mob">1.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-address' do %>
      <span class="desk">Abholadresse</span>
      <span class="mob">2.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-deposit' do %>
      <span class="desk">Kaution</span>
      <span class="mob">3.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-price' do %>
      <span class="desk">Preis / Auszahlung</span>
      <span class="mob">4.</span>
    <% end %>
  </li>
</ul>
