<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
) %>

<section class="room-rental-page login-screen">

  <div class="col-content">
    <section class="login">
      <%= render 'shared/login_panel_content', redirect: request.original_url, origin: request.path %>
    </section>
  </div>

  <div class="col-sidebar">
    <%= render 'room_rentals/new/sidebar' %>
  </div>

</section>
