<% content_for :user_and_type, flush: true do %>
  <a href=""><%= activity.owner.username if activity.owner %></a> hat einen Post kommentiert
<% end %>

<div class="txt">
  <p><%= activity.trackable.content %></p>
</div>