<div class="streamElement">
  <div class="entryInitialContent">
    <%= render 'public_activity/info', user: activity.trackable.user, entity: activity.trackable %>

    <%= render activity.trackable %>
  </div>

  <% unless activity.trackable.comments.empty? %>    
    <%= render 'comments/comment', comment: activity.trackable.comments.first, comment_inline: true %>
  <% end %>

  <%= render 'comments/form_inline', commentable: activity.trackable %>
</div>