  <div class="entryInitialContent">
    <%= render 'public_activity/info', user: activity.owner, entity: activity %>

    <%= render activity.trackable %>
  </div>

  <%= render 'comments/form_inline', commentable: activity.trackable %>

