  <div class="entryInitialContent">
    <%= render 'shared/stream/user_info', user: activity.owner, activity: activity, entry: activity.trackable %>

    <%= render activity.trackable %>
  </div>

  <%= render 'comments/form_inline', commentable: activity.trackable %>

