<div id="bbCodeHelp" class="bbcodeHelp jBoxHidden">
  <div class="hl-subtext">
    <h1>Formatierungs <span>Hilfe</span></h1>
    <p>Dieses Eingabefeld kann mit Hilfe folgender Befehle formatiert werden.</p>
  </div>
  <div class="container">
<div class="input-textarea">
<textarea>[h3]Das ist eine Überschrift[/h3]

[b]Fettgedruckter Text[/b]
[i]Kursiver Text[/i]

[ol]
[li]Aufzählung nummeriert[/li]
[li]Aufzählung nummeriert[/li]
[/ol]

[ul]
[li]Aufzählung normal[/li]
[li]Aufzählung normal[/li]
[/ul]</textarea>
</div>
<div class="input-example cardBox">
  <div class="content-block bbcode"><h3 class="bb">Das ist eine Überschrift</h3>
<strong>Fettgedruckter Text</strong>
<em>Kursiver Text</em>

<ol>
<li>Aufzählung nummeriert</li>
<li>Aufzählung nummeriert</li>
</ol>
<ul>
<li>Aufzählung normal</li>
<li>Aufzählung normal</li>
</ul>
</div>
</div>


  </div>
</div>
