<% graetzl ||= nil %>
<% district ||= nil %>
<% object ||= nil %>

<div class="ctrl-graetzlselect">
  <div class="input-select">
    <label>
      <%= icon_tag "map-location" %>
      <span>Bezirk</span>
    </label>
    <%= select_tag :district_id, options_for_select(district_select_options, district.try(:id)), prompt: 'wählen' %>
  </div>

  <div class="input-select" id="graetzl-select">
    <label>
      <%= icon_tag "flag-1" %>
      <span>Grätzl</span>
    </label>
    <%= select_tag object ? "#{object.model_name.singular}[graetzl_id]" : 'graetzl_id',
        options_from_collection_for_select((district ? district.graetzls : Graetzl.all), 'id', 'name', (graetzl ? graetzl.id : graetzl)),
        { prompt: 'wählen', required: true, class: 'graetzl_id' } %>
  </div>
</div>
