<title><%= yield(:title) %>imGrätzl.at</title>
<%= yield(:meta_description) %>
<%= yield(:meta_robots) %>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="msapplication-tap-highlight" content="no" />