<% title('Danke') %>

<section class="payment-confirmation">

  <div class="hl-subtext">
    <h1>Vielen <span>Dank!</span></h1>
    <p><%= @payment_confirmation_info %></p>
  </div>

  <div class="cardBox">
    <p class="txt">
      Der Betrag wird dir in den nächsten Tagen abgebucht und wir schicken dir auch noch eine Zahlungsbestätigng an <strong><%= @email %></strong>.
    </p>
    <p>
      Herzlichen Dank - dein Team von imGrätzl.at<br>
      Bei Fragen oder Anregungen schreib uns an <%= mail_to 'wir@imgraetzl.at' %>.
    </p>
  </div>

</section>
