<div class="block-coops">
  <div class="hl-subtext">
    <h1>Entdecke — <span>Coop & Share</span> Angebote <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
    <p>Vernetze dich mit anderen, tausch dich aus und kooperiere!</p>
  </div>
  <div class="cardBoxCollection -tripple -morelink">
    <%= render @activity_sample.coop_demands %>
    <%= render 'coop_demands/action_card', view_all: true, create_link: true %>
  </div>
</div>
