<div class="block-crowdcampaigns">
  <div class="hl-subtext">
    <h1>Lokales <span>Crowdfunding</span> auf <%= t("region.#{current_region.id}.domain_short") %></h1>
    <p>Setze deine Vorhaben mit der Kraft der Gemeinschaft um.</p>
  </div>
  <div class="cardBoxCollection -tripple -morelink">
    <%= render @activity_sample.crowd_campaigns.first %>
    <%= render 'shared/featured_cards/crowdfunding_call' %>
    <%= render 'crowd_campaigns/action_card', view_all: true %>
  </div>
</div>
