<div class="block-energies">
  <div class="hl-subtext">
    <h1>Entdecke — <span>Energieteiler</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
    <p>Erneuerbare Energien produzieren & teilen - Biete oder finde Energiegemeinschaften zum Andocken.</p>
  </div>
  <div class="cardBoxCollection -tripple -morelink">
    <%= render @activity_sample.energies %>
    <%= render 'energies/action_card', view_all: true %>
  </div>
</div>
