<div class="mapImgBlock">
  <%= region_map(current_region, "APP.components.areaMap.init($('#area-map'), { interactive: false, zoomSnap:0.2, #{current_region.id == "kaernten" ? "mapLayer:'malano78/cl9qu3pxz000j15op66242duo'" : ""} });") %>
</div>
