<div class="block-tools">
  <div class="hl-subtext">
    <h1>Entdecke — <span>Toolteiler</span> <%= t("region.#{current_region.id}.in_your_graetzl") %></h1>
    <p>Arbeitsequipment leihen & Geräte am Standort nutzen <%= render 'shared/questionmarklink', hint_url: info_toolteiler_path %></p>
  </div>
  <div class="cardBoxCollection -tripple -morelink">
    <%= render @activity_sample.tools %>
    <%= render 'tools/action_card', view_all: true %>
  </div>
</div>
