<div class="block-tools">
  <div class="hl-subtext">
    <h1>Entdecke — <span>Energieteiler</span> <%= t("region.#{current_region.id}.in_graetzl") %></h1>
    <p>Du möchtest mehr darüber erfahren, wie du Energie selber produzieren oder teilen kannst? Trage dich in deinem Bezirk zu dem Themengebiet ein, das dich interessiert und komm zu den Vernetzungstreffen.</p>
  </div>
  <div class="cardBoxCollection -tripple -morelink">
    <%= render @activity_sample.energies %>
    <%= render 'polls/action_card_energieteiler_anbieter', graetzl: @graetzl, view_all: true %>
  </div>
</div>
