<div class="block-locations">
  <div class="hl-subtext">
    <h1>Lerne die <span>Anbieter &amp; Macherinnen</span> <%= t("region.#{current_region.id}.in_graetzl") %> kennen</h1>
    <p>Entdecke das Besondere ums Eck</p>
  </div>
  <div class="cardBoxCollection -tripple -morelink">
    <%= render @activity_sample.locations %>
    <%= render 'locations/action_card', graetzl: @graetzl, view_all: true %>
  </div>
</div>
