<div class="stream">

  <div id="stream-post-form">
    <%= render partial: 'posts/form', layout: 'layouts/stream/form' %>
  </div>

  <% @activities.each do |activity| %>
    <%= render_activity(activity, fallback: 'default', layout: 'stream/element') %>
  <% end %>
  
</div>