<%
  meta({
    title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    description: t('.description', name: @graetzl.name),
    robots: 'index, follow',
    og_title: t('.title', name: @graetzl.name, numeric: @graetzl.district.numeric),
    og_description: t('.description', name: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="graetzls">
  <%= cache [@graetzl, 'map'], expires_in: 2.months do %>
    <%= render 'map', map_data: @map_data %>
  <% end %>
  <% if @graetzl.open? %>
    <%= render "open#{'_private' if user_signed_in?}" %>
  <% else %>
    <%= render "closed#{'_private' if user_signed_in?}" %>
  <% end %>
</section>
