<h3 class="title">
  <% if @category %>
    <%= @category.title %>
  <% else %>
    Alle Themen
  <% end %>
  <span>(<%= @discussions.size %><%= @discussions.size == 1 ? '' : ''  %>)</span>
</h3>

<div class="cardBoxCollection -double -group-discussion">
<% @discussions.each do |discussion| %>
  <%= render 'groups/discussions/discussion_preview', discussion: discussion %>
<% end %>
</div>
