<div class="group-page">
  <%= render 'groups/header' %>
  <%= render 'groups/btn_ctrl', group: @group %>
  <%= render 'groups/tab_navigation' %>

  <%= render 'groups/discussions/form', discussion: @discussion %>
</div>
