<% title('Energiegemeinschaft Suche bearbeiten') %>

<section class="energy-form energy-demand-form">

  <div class="hl-subtext">
    <h1>Ich <span>suche</span> eine Energiegemeinschaft</h1>
  </div>

  <%= render "energy_demands/form/index" %>

</section>
