<% title('Neue Suche nach Energiegemeinschaft erstellen') %>

<section class="energy-form energy-demand-form">

  <div class="hl-subtext">
    <h1>Suche <span>Energiegemeinschaft</span> zum Andocken</h1>
  </div>

  <%= render "energy_demands/form/index" %>

</section>
