<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="crowd-boost-charge-page address-screen">

  <div class="col-content">
    <%= render "crowd_boost_charges/new/tabs_nav" %>
    <%= render 'crowd_boost_charges/new/address' %>
  </div>

  <div class="col-sidebar">
    <%= render 'crowd_boost_charges/new/sidebar' %>
  </div>

</section>
