<div class="input-select">
  <select id="<%= type.dasherized %>" data-behavior="mail-notification-toggle" data-type="<%= type %>">
    <%- notification_settings_mail_options(type).each do |value, label| -%>
      <%- selected = (value == 'off' ? false : current_user.enabled_mail_notification?(type, value.to_sym)) -%>
      <option value="<%= value -%>" <%- if selected -%> selected="selected" <%-end -%>><%= label -%></option>
    <%- end -%>
  </select>
</div>
