<div class="settingSlice">
  <div class="col1"><%= type.description %>
  </div>
  <div class="col3">
    <%= render 'notification_settings/mail', type: type %>
  </div>
  <div class="col2">
    <%= render 'notification_settings/website', type: type %>
  </div>
</div>
