<div class="input-switch">
  <%= check_box_tag :"#{type.dasherized}", "1", current_user.enabled_website_notification?(type),
    data: {behavior: "website-notification-toggle", type: type.to_s}, id: "web-#{type.dasherized}" %>
  <label for="web-<%= type.dasherized %>"></label>
</div>
