<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="tool-rental-page date-screen">

  <div class="col-content">
    <%= render "tool_rentals/new/tabs_nav" %>
    <%= render 'tool_rentals/new/address' %>
  </div>

  <div class="col-sidebar">
    <%= render 'tool_rentals/new/sidebar' %>
  </div>

</section>
