<% user = thread_other_user(@thread) %>
<div class="user-info">
  <%= avatar_for user %>
  <div>
    <strong><%= user.full_name %></strong><br>
    <em><%= Graetzl.memoized(user.graetzl_id).try(:name) %></em>
  </div>
</div>
