<% user = thread_other_user(@thread) %>
<div class="user-info">
  <%= link_to user do %>
    <%= avatar_image_with_tooltip user, size: :thumb, class: 'img-round' %>
  <% end %>
  <div>
    <strong><%= user.full_name %></strong><br>
    <em><%= Graetzl.memoized(user.graetzl_id).try(:name) %></em>
  </div>
</div>
