<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to region_platform_meetings_path do %>
      <div class="coverImgWrapper">
        <%= image_tag('info/header-menschenstrom.png', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "users" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <%= render "shared/community_meeting_list", listcount: 2, button: true, headline: 'Aktion „Selbstständige für Selbstständige“' %>
  </div>

</div>
