<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to 'https://www.umbuzoo.de/d/66cf0645c15cac1af3a88b06/de/', target: '_blank' do %>
      <div class="coverImgWrapper">
        <%= image_tag 'info/crowd2raum/umfrage.jpg', class: 'coverImg' %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Brauchst du (leistbaren) Raum für deine Tätigkeit?</h3>
      <p>
        Du wurdest bisher noch nicht fündig? 
        Dann mach bitte bei unserer Umfrage mit, 
        dauert nur 5 Minuten und ist anonym!
      </p>
    </div>
    <%= link_to 'Zur Umfrage', 'https://www.umbuzoo.de/d/66cf0645c15cac1af3a88b06/de/', class: 'btn-primary', target: '_blank' %>
  </div>

</div>
