<div class="cardBox featuredCard -static -hidden -crowd2raum" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to leerstand_path do %>
      <div class="coverImgWrapper">
        <%= image_tag 'info/crowd2raum/blase.png', class: 'coverImg' %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Deine Chance auf 50% Übernahme der Mietkosten für volle drei Jahre!</h3>
      <p>
        Wenn du einen Leerstand im Erdgeschoss im Pilotgebiet Grätzl 20 + 2 aktivierst.
      </p>
    </div>
    <%= link_to 'Alle Infos', leerstand_path, class: 'btn-primary' %>
  </div>

</div>
