<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to 'https://crowdfundershub.at/#call-23', target: 'blank' do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/crowdfundershub.png', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      
      <h3>Künstler*innen aufgepasst!</h3>
      <p>
        <strong>Es gibt eine kostenlose Begleitung via Crowdfunder's Hub für die Finanzierung eurer Vorhaben, wenn ihr sie mit Crowdfunding umsetzen möchtet.</strong>
      </p>
      <p>
        Einreichung ist beim Call noch bis zum 18. Juni möglich. 
      </p>
    </div>
    <%= link_to 'Zum Call', 'https://crowdfundershub.at/#call-23', target: 'blank', class: 'btn-primary -mint' %>
  </div>

</div>
