<div class="cardBox featuredCard -static -crowdfunding -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://www.startnext.com/imgraetzl-kommt-zu-euch" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('illu/support-us-2.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Jede Spende bringt uns weiter: Wir können es schaffen und die 15.000 € erreichen. YEAH!</h3>
      <p>
        Damit unterstützt du uns imGrätzl zu betreiben und du ermöglichst es uns weiter Volldampf zu geben! <strong>Danke an euch alle, ihr seid echt der Wahnsinn :)</strong>
      </p>
    </div>
    <%= link_to 'Hier kannst du uns unterstützen!', 'https://www.startnext.com/imgraetzl-kommt-zu-euch', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
