<div class="cardBox featuredCard -static -hidden -cfcall" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to start_crowd_campaigns_path do %>
      <div class="coverImgWrapper">
        <%= image_tag 'info/crowdfunding-call-cardbox.png', class: 'coverImg' %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Crowdfunding Call - Setze dein Vorhaben mit Begleitung und jede Menge Sichtbarkeit um!</h3>
      <p>
        Die Einreichung ist bis Sonntag, den 22.09 möglich - Mach mit beim Call!
      </p>
    </div>
    <%= link_to 'Zum Crowdfunding Call', start_crowd_campaigns_path, class: 'btn-primary' %>
  </div>

</div>
