<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to 'https://blog.imgraetzl.at/allgemein/crowdfunding-call-fruehjahr-2023-setze-dein-vorhaben-mit-begleitung-und-jede-menge-imgraetzl-sichtbarkeit-um/', target: 'blank' do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/call.png', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Wir begleiten dich bei deiner Crowdfunding Kampagne - Mach mit beim Frühjahrs-Call 2023!</h3>
      <p>
        Es stehen zwei Plätze zur Verfügung. Die Anmeldung ist bis 05.03.2023 möglich.
      </p>
    </div>
    <%= link_to 'Zum Crowdfunding Call', 'https://blog.imgraetzl.at/allgemein/crowdfunding-call-fruehjahr-2023-setze-dein-vorhaben-mit-begleitung-und-jede-menge-imgraetzl-sichtbarkeit-um/', target: 'blank', class: 'btn-primary -mint' %>
  </div>

</div>
