<div class="cardBox featuredCard -static -hidden -crowd2raum" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to leerstand_path do %>
      <div class="coverImgWrapper">
        <%= image_tag 'info/crowd2raum/blase.png', class: 'coverImg' %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Noch bis zum 15. November kannst du dein Nutzungskonzept einreichen und dir bis zu 50 % Mietkostenübernahme sichern!</h3>
      <p>
         Und das für volle drei Jahre, wenn du einen Leerstand im Erdgeschoss im Grätzl 20 + 2 belebst.
      </p>
    </div>
    <%= link_to 'Alle Infos', leerstand_path, class: 'btn-primary' %>
  </div>

</div>
