<div class="cardBox featuredCard -static -crowdfunding -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://www.startnext.com/imgraetzl-kommt-zu-euch" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('illu/support-us.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Vor 5 Jahren hatten wir einen Traum und viele von euch haben ihn mitgeträumt.</h3>
      <p>
        Jetzt haben wir die großartige Chance bekommen, die Idee vom kooperativen Wirtschaften und Ressourcen teilen auch in anderen Teilen von Österreich zu verbreiten.
      </p>
    </div>
    <%= link_to 'Hier kannst du imGrätzl unterstützen!', 'https://www.startnext.com/imgraetzl-kommt-zu-euch', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
