<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to region_crowd_campaigns_url do %>
      <div class="coverImgWrapper">
        <%= image_tag('info/crowdfunding.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon -new">
      NEU!
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Neu! Lokales Crowdfunding auf imGrätzl</h3>
      <p>
        Bringe deine Vorhaben mit der Crowd in die Umsetzung!
      </p>
    </div>
    <%= link_to 'Zum Crowdfunding', region_crowd_campaigns_url, class: 'btn-primary -mint' %>
  </div>

</div>
