<div class="cardBox featuredCard -static -ffg-wettbewerb -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://blog.imgraetzl.at/allgemein/voting-fuer-crowdfunding-auf-imgraetzl-welocally/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('https://blog.imgraetzl.at/wp-content/uploads/2021/04/birne.png', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Bitte stimme für unsere Idee "weLocally"!</h3>
      <p>
        Wir haben unsere Idee für "Arbeits- und Begegnungsräume am Land" eingereicht und jetzt sind wir mit "<strong>weLocally</strong>" beim Publikumsvoting dabei. Bitte gebt weLocally mit nur einem Klick eure Stimme! Mehr Infos zu unserer Idee gibts auch auf unserem <%= link_to 'Blog', 'https://blog.imgraetzl.at/allgemein/voting-fuer-crowdfunding-auf-imgraetzl-welocally/', target: '_blank' %>.
      </p>
    </div>
    <%= link_to 'Hier abstimmen', 'https://www.ffg.at/voting-arbeits-und-begegnungsraume-am-land', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
