<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://blog.imgraetzl.at/allgemein/heisst-es-bald-alles-leerstand-in-wien-umfrage-4/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('illu/featurebox-umfrage.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Nach dem Lockdown - Heißt es bald: „Alles Leerstand in Wien?“</h3>
      <p>
        <b>Letzter Teil unserer Umfragereihe!</b> Und: für alle, die schon bei den vorigen Umfragen teilgenommen haben, bitte wieder teilnehmen, damit wir die Entwicklung festhalten können.
      </p>
    </div>
    <%= link_to 'Zur Umfrage', 'https://blog.imgraetzl.at/allgemein/heisst-es-bald-alles-leerstand-in-wien-umfrage-4/', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
