<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://blog.imgraetzl.at/allgemein/umfrage-zu-euren-gewerbeflaechen-angemieteten-raeumen/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('illu/featurebox-umfrage.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Plant ihr eure Gewerbefläche oder euren externen Platz zum Arbeiten zu kündigen? Oder habt ihr das schon?</h3>
      <p>
        Bitte macht bei der Umfrage mit:
      </p>
    </div>
    <%= link_to 'Zur Umfrage', 'https://blog.imgraetzl.at/allgemein/umfrage-zu-euren-gewerbeflaechen-angemieteten-raeumen/', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
