<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://blog.imgraetzl.at/allgemein/umfrage-2-zu-eurer-gewerbeflaeche-eurem-raum-zum-arbeiten/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('illu/featurebox-umfrage.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Könnt ihr eure Gewerbefläche bzw. euren Platz in eurer Raumgemeinschaft halten oder kündigt ihr ihn?</h3>
      <p>
        Bitte macht bei der Umfrage mit:
      </p>
    </div>
    <%= link_to 'Zur Umfrage', 'https://blog.imgraetzl.at/allgemein/umfrage-2-zu-eurer-gewerbeflaeche-eurem-raum-zum-arbeiten/', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
