<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to 'https://blog.imgraetzl.at/allgemein/komm-als-good-morning-date-gastgeberin-fuer-2026-an-board/', target: '_blank' do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/good-morning-dates-2026.jpg', class: 'coverImg') %>
      </div>
    <% end %>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Möchtest du die Vernetzung der lokalen Macher*innen in deinem Bezirk vorantreiben?</h3>
      <p>
        Dann komm als Gastgeber*in der Good Morning Dates 2026 an Bord.
      </p>
    </div>
    <%= link_to 'Alle Infos und zur Anmeldung', 'https://blog.imgraetzl.at/allgemein/komm-als-good-morning-date-gastgeberin-fuer-2026-an-board/', class: 'btn-primary -mint', target: '_blank' %>
  </div>

</div>
