<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to good_morning_dates_url do %>
      <div class="coverImgWrapper">
        <%= image_tag('info/good-morning-dates.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      Good Morning Dates
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Vernetze dich mit anderen Macher*innen aus deinem Bezirk.</h3>
      <p>
        Komm zum Good Morning Date & starte inspiriert in den Tag!
      </p>
    </div>
    <%= link_to 'Zu den Good Morning Dates', good_morning_dates_url, class: 'btn-primary -mint' %>
  </div>

</div>
