<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to good_morning_dates_url do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/good-morning-dates-2025.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      Good Morning Dates
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Die Good Morning Dates 2025 sind gestartet - Vernetze dich mit anderen lokalen Macher*innen in deinem Bezirk.</h3>
      <p>
        Auf zum ersten Good Morning Date in deinem Bezirk!
      </p>
    </div>
    <%= link_to 'Zu den Good Morning Dates', good_morning_dates_url, class: 'btn-primary -mint' %>
  </div>

</div>
