<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to 'https://blog.imgraetzl.at/allgemein/die-herbstrunde-freut-sich-ueber-zusaetzliche-good-morning-date-gastgeberinnen/', target: '_blank' do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/good-morning-date-call.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      Gastgeber*in gesucht
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Wir suchen für die Bezirke 9, 11, 15, 16, 19, 21 noch eine Gastgeber*in für die Herbstrunde. Lust?</h3>
      <p>
        Dann melde dich bis zum 01.07. an. 
      </p>
    </div>
    <%= link_to 'Infos und Anmeldung', 'https://blog.imgraetzl.at/allgemein/die-herbstrunde-freut-sich-ueber-zusaetzliche-good-morning-date-gastgeberinnen/', class: 'btn-primary -mint', target: '_blank' %>
  </div>

</div>
