<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://diehauswirtschaft.at/call/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('https://blog.imgraetzl.at/wp-content/uploads/2021/03/Hauswirtschaftheader.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Mehr als nur Raum: Open Call der HausWirtschaft im Nordbahnviertel.</h3>
      <p>
        Vergeben werden Werkstattplätze, eine Manufaktur, Räume für Teams und Plätze für Anbieter*innen aus dem Bereich "Wohlbefinden und Gesundheit".
      </p>
    </div>
    <%= link_to 'Alle Infos und zur Anmeldung', 'https://diehauswirtschaft.at/call/', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
