<div class="cardBox featuredCard -static -kreative_raeume -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://www.kreativeraeumewien.at/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('kreative_raeume_card.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Kreative Räume Wien</h3>
      <p>
        Du möchtest einen Leerstand aktivieren, eine Zwischennutzung starten? Die Servicestelle der Stadt berät dich dabei - und begleitet kostenfrei dein Projekt.
      </p>
    </div>
    <%= link_to 'Mehr Infos', 'https://www.kreativeraeumewien.at/', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
