<div class="cardBox featuredCard -static -mentoring -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="/unterstuetzer-team">
      <div class="coverImgWrapper">
        <%= image_tag('info/teaserbox-mentoring-2.jpg', class: 'coverImg') %>
      </div>
      <div class="categoryicon">
        <%= image_tag('svg/coopshare-logo-black.svg') %>
      </div>
      <div class="sideflag -category -R">
        <%= link_to 'Jetzt anmelden', '/unterstuetzer-team' %>
      </div>
    </a>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Die neuen Unterstützer-Teams starten.</h3>
      <p>
        Für alle, die im neuen Jahr ein Vorhaben  mit Gruppenpower im Rücken umsetzen möchten.
      </p>
    </div>
    <%= link_to 'Alle Infos', '/unterstuetzer-team', class: 'btn-primary -mint' %>
  </div>

</div>
