<div class="cardBox featuredCard -static -mentoring -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="/unterstuetzer-team">
      <div class="coverImgWrapper">
        <%= image_tag('unterstuetzer-team-box.jpg', class: 'coverImg') %>
      </div>
      <!--<div class="sideflag -category -R">
        <%= link_to 'Noch schnell anmelden', '/unterstuetzer-team' %>
      </div>-->
    </a>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Komm in dein Unterstützer-Team! Für alle, die ihre Ideen umsetzen möchten.</h3>
      <p>
        Das neue Unterstützer-Team 2020 startet. Jetzt noch schnell anmelden.
      </p>
    </div>
    <%= link_to 'Bis Mittwoch 08.01. noch zum Early Bird Preis', '/unterstuetzer-team', class: 'btn-primary -mint' %>
  </div>

</div>
