<div class="cardBox featuredCard -static -mentoring -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="/unterstuetzer-team">
      <div class="coverImgWrapper">
        <%= image_tag('info/teaserbox-mentoring.jpg', class: 'coverImg') %>
      </div>
      <div class="categoryicon">
        <%= image_tag('svg/coopshare-logo-black.svg') %>
      </div>
    </a>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Bist du bereit? Möchtest du 2019 deine Idee umsetzen oder mit deiner Selbstständigkeit die nächste Stufe erklimmen?</h3>
      <p>
        Dann komm in dein Unterstützer-Team!
        Du bist nicht alleine! Wir verbinden dich mit Gleichgesinnten, die mit dir durch dick und dünn gehen. Ihr unterstützt euch die nächsten 5 Monate gegenseitig, helft euch über Hürden und feiert gemeinsam Erfolge.
      </p>
    </div>
    <%= link_to 'Infos & Anmeldung', '/unterstuetzer-team', class: 'btn-primary -mint' %>
  </div>

</div>
