<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to popup_path do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/popup.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>WeLocally Pop-Up in Graz</h3>
      <p>
        Lerne uns kennen und komm zum WeLocally Pop-Up in Graz. Mit kostenlosen Sessions zum Thema Crowdfunding & Raumteiler.
      </p>
      <p>
        Mittwoch 20.09. bis Freitag 22.09.2023, Münzgrabenstraße 57 - 8010 Graz.
      </p>
    </div>
    <%= link_to 'Alle Infos zum Pop-Up', popup_path, class: 'btn-primary -mint' %>
  </div>

</div>
