<div class="cardBox featuredCard -static -hidden -voting" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://wirtschaftsagentur.at/creative-industries/wettbewerbe/creatives-for-vienna/praemierte-ideen/raumteiler-partnerschaften-fuer-vernetzungsplattform-847/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('illu/illu_voting.png', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>imGrätzl braucht dich, nämlich deine Stimme.</h3>
      <p>
        Wir haben gerade die einmalige Chance bis zu 3.000 € zu gewinnen. <strong>Stimme jetzt bei "Creatives for Vienna" für imGrätzl ab</strong>, geht auch ganz schnell. Mit deiner Unterstützung schaffen wir das!
      </p>
    </div>
    <%= link_to 'Jetzt abstimmen', 'https://wirtschaftsagentur.at/creative-industries/wettbewerbe/creatives-for-vienna/praemierte-ideen/raumteiler-partnerschaften-fuer-vernetzungsplattform-847/', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
