<div class="cardBox featuredCard -hidden" data-behavior="masonry-card" id="festival">

  <div class="cardBoxHeader">
    <a href="/raumteilerfestival">
      <div class="coverImgWrapper">
        <%= image_tag('lp/festival/cardBoxTeaser.png', class: 'coverImg') %>
      </div>
    </a>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Raumteiler Festival 2018</h3>
      <p>
        Egal ob du einen Raum suchst, einen Raum hast, oder generell interessiert bist am
        Thema Räume teilen & kooperative Nutzungskonzepte. Sei dabei beim ersten Raumteiler Festival am 15. Juni in der Nordbahn-Halle!
      </p>
    </div>
    <%= link_to 'Alle Infos & Tickets', '/raumteilerfestival', class: 'btn-primary -mint' %>
  </div>

</div>
