<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to leerstand_path do %>
      <div class="coverImgWrapper">
        <%= image_tag 'mailings/raumbooster-call.jpg', class: 'coverImg' %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Hol dir jetzt bis zu 1.000 € Zuschuss für dein Crowdfunding aus dem RaumBooster.</h3>
      <p>
        Der RaumBooster unterstützt dein Raumvorhaben in Wien mit einem Crowdfunding-Zuschuss. Reiche jetzt dein Vorhaben <strong>bis zum 15. Januar 2026</strong> ein und starte dein Crowdfunding.
      </p>
    </div>
    <%= link_to 'Zuschuss sichern', leerstand_path, class: 'btn-primary' %>
  </div>

</div>