<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to 'http://www.dasseestaedter.at/calls', target: 'blank' do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/seestaedter_axa_zoom.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>DAS SEESTÄDTER – Wiens ko-kreative Nachbarschaft</h3>
      <p>
        Wir suchen engagierte Mitgestalter:Innen und Nutzer:innen!
      </p>
    </div>
    <%= link_to 'Alle Infos hier', 'http://www.dasseestaedter.at/calls', target: 'blank', class: 'btn-primary -mint' %>
  </div>

</div>
