<div class="cardBox featuredCard -static -hidden -sheboost" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to sheboost_path do %>
      <div class="coverImgWrapper">
        <%= image_tag 'mailings/sheboost.jpg', class: 'coverImg' %>
      </div>
    <% end %>
    <%= link_to 'sheBOOST - Jetzt nominieren!', sheboost_path, class: 'btn-primary -mint' %>
  </div>

</div>