<div class="cardBox featuredCard -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to region_platform_meetings_path do %>
      <div class="coverImgWrapper">
        <%= image_tag('illu/summer-card.png', class: 'coverImg') %>
      </div>
    <% end %>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Sommer Special: Kurse & Workshops</h3>
      <p>
        Für alle, die den Sommer in Wien verbringen und Lust auf Gemeinschaft haben und darauf neue Erlebnisse und Eindrücke zu sammeln.
      </p>
    </div>
    <%= link_to 'Zum Sommer Special', region_platform_meetings_path, class: 'btn-primary -mint' %>
  </div>

</div>
