<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to 'https://survey.futurelab.tuwien.ac.at/index.php/246167?lang=de', target:'_blank' do %>
      <div class="coverImgWrapper">
        <%= image_tag('mailings/umfrage.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Brauchst du (leistbaren) Raum für deine Tätigkeit?</h3>
      <p>
        <strong>Du wurdest bisher noch nicht fündig?</strong><br>
        Dann mach bitte bei unserer Umfrage mit, dauert nur 5 Minuten und ist anonym.
      </p>
    </div>
    <%= link_to 'Zur Umfrage', 'https://survey.futurelab.tuwien.ac.at/index.php/246167?lang=de', target:'_blank', class: 'btn-primary -mint' %>
  </div>

</div>
