<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://blog.imgraetzl.at/allgemein/umfrage-haben-selbststaendig-taetige-frauen-in-der-krise-noch-schlechtere-karten-ihre-raeume-zum-arbeiten-zu-halten/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('illu/featurebox-umfrage-frauen.jpg', class: 'coverImg') %>
      </div>
    </a>
  </div>
  <div class="cardBoxContent">
    <div class="txt">
      <h3>Umfrage an selbstständig tätige Frauen:</h3>
      <p>
        Kannst du deinen Raum zum Arbeiten halten? Bitte mach mit bei der Umfrage:
      </p>
    </div>
    <%= link_to 'Zur Umfrage', 'https://blog.imgraetzl.at/allgemein/umfrage-haben-selbststaendig-taetige-frauen-in-der-krise-noch-schlechtere-karten-ihre-raeume-zum-arbeiten-zu-halten/', target: '_blank',class: 'btn-primary -mint' %>
  </div>

</div>
