<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to leerstand_path do %>
      <div class="coverImgWrapper">
        <%= image_tag 'info/crowd_boost/cardbox.jpg', class: 'coverImg' %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>1.500 € Crowdfunding-Zuschuss für dein Raumvorhaben.</h3>
      <p>
        <strong>Die neue Runde beim ViertelFonds ist gestartet!</strong> 
        Du hast einen Leerstand im Blick und möchtest diesen aktivieren? Reiche jetzt dein Raumvorhaben beim ViertelFonds ein und sichere dir einen Zuschuss von 1.500 €.
      </p>
    </div>
    <%= link_to 'Zum ViertelFonds', leerstand_path, class: 'btn-primary' %>
  </div>

</div>