<div class="cardBox featuredCard -static -hidden -cfcall" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to '/leerstand' do %>
      <div class="coverImgWrapper">
        <%= image_tag 'info/crowd_boost/cardbox.jpg', class: 'coverImg' %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Raum gesucht? Das ist deine Chance!</h3>
      <p>
        Rund um den Jakominiplatz warten spannende Leerstände und der <a href="/leerstand">NOW WOW Space</a> auf deine Ideen. Neben der Vernetzung mit passenden Raumpartner*innen steht ein Unterstützungspaket bereit.
      </p>
      <p>
        Reiche dein Nutzungsvorhaben bis zum 31.01.2025 ein!
      </p>
    </div>
    <%= link_to 'Alle Infos zur Einreichung', '/leerstand', class: 'btn-primary' %>
  </div>

</div>
