<div class="cardBox featuredCard -static -hidden -cfcall" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to '/leerstand' do %>
      <div class="coverImgWrapper">
        <%= image_tag 'info/crowd_boost/cardbox.jpg', class: 'coverImg' %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Raum gesucht? - Dann ist das deine Chance!</h3>
      <p>
        Der Space <a href="/leerstand"><strong>‚NOW WOW‘, oder dein Wunschleerstand</strong></a> warten darauf, mit Leben gefüllt zu werden - und das an einem der zentralsten und lebendigsten Orte in Graz: rund um den Jakominiplatz.
      </p>
      <p>
        Bis zum 31. Januar 2025 kannst du dein Nutzungsvorhaben einreichen.
      </p>
    </div>
    <%= link_to 'Alle Infos zur Einreichung', '/leerstand', class: 'btn-primary' %>
  </div>

</div>
