<div class="cardBox featuredCard -static -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <%= link_to andocken_url(host: welocally_platform_host) do %>
      <div class="coverImgWrapper">
        <%= image_tag('campaigns/call/cardbox-call-2022.jpg', class: 'coverImg') %>
      </div>
    <% end %>
    <div class="categoryicon">
      <%= icon_tag "horn-promote" %>
    </div>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>WeLocally - Innovative Gemeinden sind eingeladen sich anzudocken!</h3>
      <p>
        2022 werden innovative Gemeinden gesucht, die WeLocally als eine Chance begreifen, um Selbstständige, lokale Unternehmen, Kunst- und Kulturschaffende und lokale Macher*innen und Vereine in ihrer Region zu stärken.
      </p>
    </div>
    <%= link_to 'Bewerbung bis 28. Februar', andocken_url(host: welocally_platform_host), class: 'btn-primary' %>
  </div>

</div>
