<div class="cardBox featuredCard -static -featured -hidden" data-behavior="masonry-card">

  <div class="cardBoxHeader">
    <a href="https://blog.imgraetzl.at/allgemein/der-erste-imgraetzl-raumteiler-workshop/" target="_blank">
      <div class="coverImgWrapper">
        <%= image_tag('featured_workshop_raumteiler.png', class: 'coverImg') %>
      </div>
    </a>
  </div>

  <div class="cardBoxContent">
    <div class="txt">
      <h3>Raumteilen? Gewusst-wie! Mit dem neuen Raumteiler-Workshop!</h3>
      <p>
        Ein Workshop für alle, die eine Gewerbefläche angemietet haben und sich überlegen, Raumpartner*innen dazu zu nehmen – aber nicht wissen, wie.
      </p>
    </div>
    <%= link_to 'Zur Workshop Anmeldung', 'https://blog.imgraetzl.at/allgemein/der-erste-imgraetzl-raumteiler-workshop/', class: 'btn-primary', target: '_blank' %>
  </div>

</div>
