<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;">
        <p>
          <em>Teilnehmer am Treffen:</em><br>
          <%= link_to meeting.name.truncate(70, separator: ' '), graetzl_meeting_url(meeting.graetzl, meeting), style:"color:#f48a85;" %>
        </p>
      </td>
    </tr>

    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">
        <% notifications.each do |notification| %>
          <table cellpadding="0" cellspacing="0" border="0" align="left" style="margin-right:9px; margin-bottom:9px;">
            <tr>
              <td>
                <%= avatar_image notification.activity.owner, size: :thumb, style: "width:30px; height:30px; border-radius: 15px; max-width:30px; min-width:30px;", class: "mcnImage" %>
              </td>
              <td>&nbsp;</td>
              <td style="font-size:12px; line-height:16px;">
                <%= link_to notification.activity.owner.full_name, user_url(notification.activity.owner), style: "color:#ec776a; font-size:12px;" %>
              </td>
            </tr>
          </table>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>
        <%= render 'mailers/shared/button', title: "Treffen ansehen", url: graetzl_meeting_url(meeting.graetzl, meeting) %>
      </td>
    </tr>
  </tbody>
</table>
