<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>

    <tr>
      <td class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px;">
        <em><strong>Neue Mitglieder in der Gruppe:</strong></em>
      </td>
    </tr>

      <tr>
        <td valign="center" class="mcnTextContent" style="padding-left:18px;">

          <% notifications.each do |notification| %>
          <table align="left" border="0" cellpadding="0" cellspacing="0" style="float:left; margin-right:16px; margin-bottom:16px;">
            <tr>
              <td align="center">
                <%= link_to user_url(notification.group_user.user), target: "_blank" do %>
                  <%= avatar_image notification.group_user.user, size: :small, style: "width:96px; height:96px; border-radius: 48px; max-width:96px; min-width:96px;", class: "mcnImage" %>
                <% end %>
              </td>
            </tr>

            <tr>
              <td align="center">
                <p style="text-align:center;">
                  <small>
                    <%= notification.group_user.user.first_name %>
                    <br>
                    <%= notification.group_user.user.last_name %>
                  </small>
                </p>
              </td>
            </tr>
          </table>
          <% end %>

        </td>
      </tr>

  </tbody>
</table>
