<table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer" style="width:100%;">
    <tr>
      <td class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px; text-align:center;">
        Andere Grätzl haben auch schöne Räume :) <%= link_to 'Hier entlang', region_rooms_url, target:'_blank', style: "color:#ec776a; font-weight:bold;" %>
      </td>
    </tr>
</table>
