<div class="tabs-ctrl -plain">
  <ul class="tabs-nav">
    <li id="step1" class="active">
      <%= link_to 'javascript:' do %>
        <span class="desk">Projekt&nbsp;Infos</span>
      <% end %>
    </li>
    <li id="step2">
      <%= link_to 'javascript:' do %>
        <span class="desk">Projekt&nbsp;Neuigkeiten (2)</span>
      <% end %>
    </li>
    <li id="step2">
      <%= link_to 'javascript:' do %>
        <span class="desk">Pinnwand (0)</span>
      <% end %>
    </li>
    <li id="step3">
      <%= link_to 'javascript:' do %>
        <span class="desk">Unterstützungen</span>
      <% end %>
    </li>
  </ul>
</div>
