<div id="tab-posts" class="layoutArea">

  <%= form_tag posts_crowd_campaign_path(@crowd_campaign), method: :get, remote: true, class: 'form-posts' do %>
  <% end %>

  <div class="posts-container"></div>

</div>
