<div id="tab-supporters" class="layoutArea">

  <%= form_tag supporters_crowd_campaign_path(@crowd_campaign), method: :get, remote: true, class: 'form-supporters' do %>
  <% end %>

  <div class="supporters-container"></div>

</div>
