<div id="tab-comments" class="layoutArea">

  <%= form_tag comments_crowd_campaign_path(@crowd_campaign), method: :get, remote: true, class: 'form-comments' do %>
  <% end %>

  <div class="comments-container"></div>

</div>
