default: &default
  adapter: postgis
  encoding: unicode
  pool: <%= (ENV['DB_POOL'] || 5).to_i %>

# Haupt-Entwicklungs-DB (z. B. für main/master)
development:
  <<: *default
  database: im_graetzl_development

# Separate Dev-DB für dein Bookables
development_bookables:
  <<: *default
  database: im_graetzl_bookables_development

test:
  <<: *default
  database: im_graetzl_test

staging:
  <<: *default
  database: im_graetzl_staging
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host:     <%= ENV['DB_HOST'] %>
  min_messages: ERROR
  sslca: <%= File.join(Rails.root, "config", "eu-west-1-bundle.pem") %>
  reconnect: false

production:
  <<: *default
  database: im_graetzl_production
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host:     <%= ENV['DB_HOST'] %>
  min_messages: ERROR
  sslca: <%= File.join(Rails.root, "config", "eu-west-1-bundle.pem") %>
  reconnect: false
