* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.4;
  color: $color-font-primary;
  background-color: $color-background-bright;
}

header,
main,
footer {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: $color-ambient-rosa;
}

p {
  line-height: 1.5;
}

p.txt,
p[class^=txt-],
div.txt p,
div[class^=txt-] p {
  margin-bottom: 1.0rem;
}
div.txt p:last-child,
div[class^=txt-] p:last-child {
  margin-bottom: 0;
}


// ---------------------------------------------------------------------- Headings

h1,
h2 {
  font-family: $font-secondary;
}
h1, .h1 {
  font-size: 4.242rem;
  line-height: 1.2;
}
h2, .h2 {
  font-size: 2.828rem;
  line-height: 1;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h3, .h3 {
  font-size: 1.6rem;
}
h4, .h4 {
  font-size: 1.4rem;
}
h5, .h5 {
  font-size: 1.2rem;
}
h6, .h6 {
  font-size: 1rem;
}

::selection {
  background: lighten($color-ambient-rosa, 20);
  color: #fff;
}