* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-font-primary;
  background-color: #ffffff;
  //background-image: $texture-stoff1;
  @include bg-url(
    image_path('texture-alpha-stoff1.png'),
    $webp1x: image_path('texture-alpha-stoff1.webp'),
  );
  font-size: 1.6rem;
}

main,
footer .inner {
  padding-left: 18px;
  padding-right: 18px;
  @include respond-to(">=medium") {
    padding-left: 25px;
    padding-right: 25px;
  }
}

main,
footer .inner,
header .inner {
  max-width: $layout-max-width;
  position: relative;
  margin: 0 auto;
  display: block;
}

header {
  margin-bottom: 3rem;
  background-color: #ffffff;
  border-bottom: 1px solid #DEEAE6;
  display: block;
  @include respond-to(">=medium") {
    margin-bottom: 5rem;
    position: relative;
    z-index: 15;
  }
  @include respond-to(">=large") {
    margin-bottom: 8rem;
  }
}

main {
  padding-bottom: 80px;
  position: relative;

  // Fix for Mobile and Tablet - Remove vertical Scrolling
  @include respond-to("<=large") {
    overflow-x: hidden;
    margin-top:-50px;
    padding-top:50px;
  }

}

a {
  color: $color-ambient-rosa;
  &:hover {
    text-decoration: none;
  }
}

img {
  border: 0;
}

::selection {
  background: lighten($color-ambient-rosa, 20);
  color: #fff;
}

h1, h2 {
  font-family: $font-secondary;
  font-weight: normal;
}

picture {
  display: contents; // for webp container
}

.no-scroll {
   position: fixed;
   width: 100%;
}
/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; // IE
}
