%btn {
  font-family: $font-primary;
  border: none;
  border-radius: 0.3em;
  outline:none;
  position: relative;
  padding: 0.9em 1.8em;
  [class*=icon-] {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    width: 26px;
    &:first-of-type {
      margin-right: 1rem;
    }
  }
  input[type=file] {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    background-color: blue;
  }
}

@mixin btn-small() {
  padding: 0.6rem 1.4em;
  font-size: 0.75rem;
}
@mixin btn-skin() {
  background-color: red;
}


.btn {
  @extend %btn;
}

.btn-primary {
  @extend %btn;
  padding: 0.9em 1.8em;
  background-color: $color-ambient-rosa;
  color: $color-font-bright;
  background-image: $texture-primary;
}

