input, select {
  font-family: $font-primary;
}

// ---------------------------------------------------------------------- Input Group

.input-group {
  display: flex;
  position: relative;
  .wrap-field {
    position: relative;
    flex: 1;
  }
  input {
    width: 100%;
    flex: 1;
    background-color: lighten($form-color-base, 25);
    color: $color-font-primary;
    border: none;
    padding: 1.3rem;
    outline: none;
    font-size: 1.1rem;
  }
  label {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 1.1rem;
    padding-left: 1.1rem;
    font-family: $font-primary;
    color: $form-color-base;
    transition: 0.2s ease;
    transform: translate(0,-50%);
  }
  input:focus + label,
  &.filled label {
    top: 7px;
    left: 2px;
    padding-left: 0;
    font-size: 0.8em;
  }
  :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// ---------------------------------------------------------------------- Select Group

.select-group {
  display: flex;
  position: relative;
  select {
    position: relative;
    flex: 1 0 8em;
    display: block;
    background-color: lighten($form-color-base, 25);
    color: $form-color-base;
    border: 0;
    padding: 1.1rem 0.9rem;
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
    option {
      color: $form-color-base;
    }
    option:disabled {
      color: grey;
    }
  }
  select[disabled] {
    color: rgba(0, 0, 0, .3);
  }
  select[disabled]::after {
    color: rgba(0, 0, 0, .1);
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }
  &::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: 0.8rem;
    line-height: 1;
    right: 0.75em;
    top: 50%;
    color: $color-font-bright;
    margin-top: -0.5em;
  }
  &::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: darken($form-color-base, 5)
  }
}

// ---------------------------------------------------------------------- Radio Group

.radio-group {
  position: relative;
  display: inline-block;
  input {
    display: none;
  }
  label {
    display: block;
    padding: 10px 0 10px 50px;
    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 18px;
      background-color: lighten($form-color-base, 25);
      border-radius: 50%;
      border: 4px solid darken($form-color-base, 5);
      transform: translate(0, -50%);
      transition: 0.5s;
    }
  }
  input:checked + label {
    &:before {
      background-color: #292929;
    }
  }
}