.icon {
  height: 28px;
  width: 28px;
  fill: currentColor;
  display: block;
}

.icontxt {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 12px;
    flex: 0 0 auto;
  }
  span, {
    @include ellipsis;
  }
}

.icon-with-badge {
  position: relative;
  .icon-badge {
    &:empty { display: none; }
    position: absolute;
    top: -4px; left: 21px;
    font-family: $font-primary;
    background-color: $color-ambient-rosa;
    color: $color-ambient-bright;
    border-radius: 3px;
    line-height: 1;
    font-size: 12px;
    padding: 1px 3px;
  }
}

.loading-spinner {
  margin: 0 auto;
  display: block;
}
