[class^="icon-"], [class*=" icon-"] {
  height: 28px;
  width: 28px;
  fill: currentColor;
  display: block;
}

.iconWithBadge {
  position: relative;
  .badgeNumber {
    position: absolute;
    top: -4px;
    right: -5px;
  }
}

.icontxt {
  display: flex;
  align-items: center;
  [class^=icon-] {
    margin-right: 12px;
  }
}

