.icon {
  height: 28px;
  width: 28px;
  fill: currentColor;
  display: block;
}

.iconWithBadge {
  position: relative;
  .badgeNumber {
    position: absolute;
    font-family: $font-primary;
    font-size: 12px;
    top: -4px;
    right: -5px;
  }
}

.icontxt {
  display: flex;
  align-items: center;
  .icon {
    margin-right: 12px;
    flex: 0 0 auto;
  }
  span, {
    @include ellipsis;
  }
}

.loading-spinner {
  margin: 0 auto;
  display: block;
}

.csbg {
  fill:#e1ecec;
}
.csbg-white {
  opacity:0.8;fill:#ffffff;
}

.cstxt {
  //fill:#68a8a7;
}
.csout {
  fill:$color-ambient-mint-dark;
}
