/* Headings */

h1,
h2 {
  font-family: $font-secondary;
}
h1, .h1 {
  font-size: 4.242rem;
  line-height: 1.2;
}
h2, .h2 {
  font-size: 2.828rem;
  line-height: 1;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h3, .h3 {
  font-size: 1.6rem;
}
h4, .h4 {
  font-size: 1.4rem;
}
h5, .h5 {
  font-size: 1.2rem;
}
h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
}

p.text,
div.text p {
  margin-bottom: 1rem;
}