<table border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
  <tr>
    <td heigt="160px" style="height:160px;">
      <%= link_to 'http://www.fulfilment-at-work.at/' do %>
        <%= image_tag Notifications::ImageService.new.attachment_url('supporter/logos/marie-meyer-marktl.jpg'), style: "width:160px; max-height:160px;", class: "mcnImage" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="mcnTextContent" style="height:50px; font-size:12px; line-height:16px; vertical-valign:center; text-align:center;">
      <%= link_to 'MARIE MEYER-MARKTL / FULFILMENT AT WORK', 'http://www.fulfilment-at-work.at/', target:'_blank', style: "color:#ec776a;" %>
    </td>
  </tr>
</table>
