<table border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
  <tr>
    <td heigt="160px" style="height:160px;">
      <%= link_to 'https://punkrockdev.com/' do %>
        <%= image_tag Notifications::ImageService.new.attachment_url('supporter/logos/punkrockdev.png'), style: "max-width:162px;", class: "mcnImage" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="mcnTextContent" style="height:50px; font-size:12px; line-height:16px; vertical-valign:center; text-align:center;">
      <%= link_to 'DRAZEN LUCANIN / PUNKROCKDEV', 'https://punkrockdev.com/', target:'_blank', style: "color:#ec776a;" %>
    </td>
  </tr>
</table>
