<table style="width:100%;">
  <tr>
    <td heigt="170px" style="height:170px;">
      <%= link_to 'https://www.wiener-bezirksimkerei.at' do %>
        <%= image_tag image_path('supporter/logos/bezirksimkerei.png'), style: "max-width:100%;", class: "mcnImage" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="mcnTextContent" style="height:50px; font-size:12px; line-height:16px; vertical-valign:center; text-align:center;">
      <%= link_to 'WIENER BEZIRKSIMKEREI', 'https://www.wiener-bezirksimkerei.at', style: "color:#ec776a;" %>
    </td>
  </tr>
</table>
