<h3>Willkommen im <%= graetzl.name %>!</h3>
<p>
  Ein paar Dinge noch zum ausfüllen, dann geht es los!
  <% if graetzl.users.size > 1 %>
    <%= graetzl.users.size %> Nachbarn warten bereits auf Dich!
  <% end %> 
</p>