<% unless @meeting.platform_meeting_join_request.request_message.empty? %>
  <div class="platform-meeting-user-box">
    <div class="paperCard -cord1RT">
      <div class="wrp">
        <div class="userinfos">
          <%= avatar_image(@meeting.user, size: :thumb, class: 'img-round avatar') %>
          <h3>Warum ich es wichtig finde lokale Macher*innen zu stärken?</h3>
        </div>
        <div class="txt"><%= @meeting.platform_meeting_join_request.request_message %></div>
      </div>
      <div class="card"></div>
    </div>
  </div>
<% end %>
