<div class="platform-meeting-infos">
  <p>
    Bei der Aktion "<%= link_to 'Selbstständige für Selbstständige', platform_meetings_region_path %>" unterstützen Expert*innen mit ihren Angeboten andere Macher*innen in Wien.
    Der Gedanke dahinter ist jetzt etwas Positives in Bewegung zu setzen und uns gegenseitig und wechselseitig auf mehreren Ebenen zu stärken.
  </p>
  <p>
    Möchtest du auch deine Expertise einbringen, dann <%= link_to 'trag dich hier ein', new_meeting_path %>.
  </p>
</div>
