<section class="error">

  <div class="hl-subtext">
    <h1><em>Leider</em> ging was schief ..</h1>
    <p>
      Wir wurden über den aufgetretenen Fehler benachrichtigt und versuchen das Problem so schnell wie möglich zu beheben.
    </p>
    <p>Hier gehts zurück <%= link_to 'zur Startseite', root_path %>.</p>
  </div>

</section>
