<section class="error">

  <div class="hl-subtext">
    <h1><em>Ohh Noo</em> - leider ging was schief ..</h1>
    <p>
      Sollte der Fehler wieder auftreten, so schreib uns bitte an <a href="mailto:wir@imgraetzl.at">wir@imgraetzl.at</a>.<br>
      Wir k체mmern uns dann darum - und nat체rlich um dein Anliegen!
      <br><br>
    </p>
    <p>Hier kommst du zur체ck <%= link_to 'zur Startseite', root_path %> von imGr채tzl.at</p>

  </div>

</section>
