<section class="error">

  <div class="hl-subtext">
    <h1><em>Ohh Noo</em> - leider ging was schief ..</h1>
    <p>
      Sollte der Fehler wieder auftreten, schreib uns bitte an <a href="mailto:wir@imgraetzl.at">wir@imgraetzl.at</a>.<br>
      Wir kümmern uns dann darum!
      <br><br>
    </p>
    <p>Hier kommst du zurück <%= link_to 'zur Startseite', root_path %>.</p>
  </div>

</section>
