<section class="error">

  <div class="hl-subtext">
    <h1><em>Sorry</em>, Diese Seite gibt's nicht ..</h1>
    <p>Du kannst entweder <%= link_to 'zur Startseite', root_path %> zurückkehren, <br>
      oder gleich weiter stöbern nach ...</p>
  </div>

</section>
