<section class="error">

  <div class="hl-subtext">
    <h1><em>Sorry</em>, Diese Seite gibt's nicht ..</h1>
    <p>Hier gehts zurück <%= link_to 'zur Startseite', root_path %>.</p>
  </div>

</section>
