<% title t('.title') %>
<% meta_tag :description, t('.description') %>
<% meta_tag :robots, 'index, follow' %>

<section class="vienna" data-mapdata="<%= @map_data %>">

  <div class="mapImgBlock">
    <div id="graetzlMapWidget"></div>
    <div class="activeArea"></div>
    <div class="navBlock">
      <h1>Wien</h1>
      <div class="links">
        <% @districts.each do |district| %>
            <%= link_to "#{district.zip} - #{district.name}", district %>
        <% end %>
      </div>
      <select class="mobileSelectMenu">
        <option disabled>Bezirk wählen</option>
      </select>
    </div>
  </div>

  <% if !@meetings.empty? %>
    <div class="teaserBlock">
      <h1 class="hl-main">Aktuelle Treffen in ganz <span>Wien</span></h1>
      <div class="cardBoxCollection -tripple">
        <%= render @meetings %>
      </div>
    </div>
  <% end %>
</section>