<% title('Wien') %>

<section class="vienna">

  <div class="mapImgBlock">
    <div id="graetzlMapWidget"></div>
    <div class="activeArea"></div>
    <div class="navBlock">
      <h1>Wien</h1>
      <div class="links">
        <% @districts.each do |district| %>
            <%= link_to "#{district.zip} - #{district.name}", district %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @meetings.present? %>
      <div class="teaserBlock">
        <h2>Aktuelle Treffen in ganz Wien</h2>
        <div class="meetingBoxes">
          <% @meetings.each do |meeting| %>
              <%= render 'meetings/box', meeting: meeting %>
          <% end %>
        </div>
      </div>
  <% end %>

</section>