<%= content_tag(:h2, 'Aktuelle Treffen (4 per default)') unless @meetings.empty? %>
<% @meetings.each do |meeting| %>
  <%= link_to meeting.name, [meeting.graetzls.first, meeting] %><br>
<% end %>

<h2>Bezirke</h2>

<% @districts.each do |district| %>
  <%= link_to "#{district.zip} - #{district.name}", district %><br>
<% end %>
