<% title 'Bezirke, Stadtviertel & Grätzl in Wien' %>
<% meta_tag :description, 'Kaum zu glauben: Wien hat über 160 Grätzln. In welchem bist Du zuhause oder öfters anzutreffen? Durchstöbere die Bezirke und entdecke dein Grätzl in Wien ...' %>
<% meta_tag :robots, 'index, follow' %>

<section class="vienna" data-mapdata="<%= @map_data %>">

  <div class="mapImgBlock">
    <div id="graetzlMapWidget"></div>
    <div class="activeArea"></div>
    <div class="navBlock">
      <h1>Wien</h1>
      <div class="links">
        <% @districts.each do |district| %>
            <%= link_to "#{district.zip} - #{district.name}", district %>
        <% end %>
      </div>
      <select class="mobileSelectMenu">
        <option disabled>Bezirk wählen</option>
      </select>
    </div>
  </div>

  <% if !@meetings.empty? %>
    <div class="teaserBlock">
      <h2>Aktuelle Treffen in ganz Wien</h2>
      <div class="cardBoxCollection -tripple">
        <%= render @meetings %>
      </div>
    </div>
  <% end %>
</section>