<%
  meta({
    title: t('.title'),
    description: t('.description'),
    robots: 'index, follow',
    og_title: t('.title'),
    og_description: t('.description'),
    og_image: image_url('meta/og_logo.png')
  })
%>
<% content_for(:rel_next_prev, rel_next_prev_link_tags(@meetings)) %>

<section class="vienna">

  <div class="mapImgBlock">
    <div id="graetzlMapWidget" data-mapdata="<%= @map_data %>"></div>
    <div class="activeArea"></div>
    <div class="navBlock">
      <h1>Wien</h1>
      <div class="links">
        <% @districts.each do |district| %>
            <%= link_to "#{district.zip} - #{district.name}", district %>
        <% end %>
      </div>
      <select class="mobileSelectMenu">
        <option disabled>Bezirk wählen</option>
      </select>
    </div>
  </div>

  <% unless @meetings.empty? %>
    <div class="teaserBlock">
      <h1 class="hl-main">Aktuelle Treffen in ganz <span>Wien</span></h1>
      <div id="meetings" class="cardBoxCollection -tripple">
        <%= render @meetings %>
      </div>
    </div>
    <%= view_more_link @meetings %>
  <% end %>
</section>
