<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @tool_rental.renter.first_name %>,
        </p>
        <p>
          <strong>Leider gab es beim Einzug deiner Geräteteiler Miete Probleme,</strong> da deine ausgewählte Zahlungsform nicht belastet werden konnte.
        </p>
        <p>
          <strong>Wir würden dich daher bitten, deine Zahlungsmethode nochmals zu überprüfen bzw. hier anzupassen, damit die Miete zustande kommen kann:</strong>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <%= render 'mailers/shared/button', title: "Zahlungsmethode jetzt anpassen", url: change_payment_tool_rental_url(@tool_rental) %>
      </td>
    </tr>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Bei Fragen kannst du dich gerne an uns wenden.<br>
          E-Mail an: <%= t("region.#{@tool_rental.region.id}.contact_email") %> oder rufe an: 0664/132 14 99 (Michael)
        </p>
      </td>
    </tr>
  </tbody>
</table>
