<% content_for(:above_title, "Hey #{@tool_rental.owner.first_name}") %>
<% content_for(:title, "Bitte bestätige die Rückgabe deines Geräteteilers.") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Geräteteiler: <%= link_to @tool_rental.tool_offer.title.truncate(45), tool_offer_url(@tool_rental.tool_offer), style: "color:#ec776a;" %>
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>

 <!-- --------------- ITEM NEW REQUEST --------------- -->
 <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td class="mcnTextContent" style="padding-left:18px; padding-right:18px; width:100%;">
        <p>
          Wir hoffen die Verleihung deines Geräteteilers an <%= @tool_rental.renter.first_name %> war erfolgreich und es hat alles gepasst.
        </p>
        <p>
          Bitte bestätige nun im Messenger die Rückgabe des Geräteteilers.<br>
          <strong>Die Auszahlung deiner Mieteinnahmen auf dein Konto erfolgt innerhalb von 5 Tagen <u>nachdem du die Rückgabe bestätigt hast</u>.</strong>
        </p>
      </td>
    </tr>

    <tr>
      <td style="padding-bottom:9px;"></td>
    </tr>

    <tr>
      <td>
        <!-- BUTTON -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
          <tbody class="mcnButtonBlockOuter">
            <tr>
              <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px; vertical-align:top;" valign="top" align="right" class="mcnButtonBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;background-color: #69A8A7;">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 10px;">
                        <%= link_to "Rückgabe bestätigen", messenger_url(thread_id: @tool_rental.user_message_thread.id), class: "mcnButton", title: "Button", target: "_blank", style: "font-weight: normal;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;" %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- /BUTTON -->
      </td>
    </tr>

  </tbody>
</table>
