<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="subscriptions-page summary-screen" data-transaction-id="<%= "SUBSCRIPTION_#{@subscription.id}" %>" data-value="<%= @subscription.subscription_plan.amount %>">

  <div class="col-content">
    <%= render 'subscriptions/new/summary' %>
  </div>

  <div class="col-sidebar">
    <%= render 'subscriptions/new/sidebar' %>
  </div>

</section>
