@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin triangleSingle($direction: "up", $color: $color-ambient-mint, $size: 6px){
  display: block;
  height: 0;
  width: 0;
  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}

@mixin img-round($imgDimensions: 50px) {
  border-radius: 50%;
  border: 1px solid $color-ambient-mint;
  background-color: #ffffff;
  padding: 2px;
  width: $imgDimensions;
  height: $imgDimensions;
}


@mixin img-square($imgDimensions: 50px) {
  border-radius: 4px;
  border: 1px solid $color-ambient-mint;
  background-color: #ffffff;
  padding: 2px;
  width: $imgDimensions;
  height: $imgDimensions;
}

@mixin textShadowHard($color: #ffffff) {
  text-shadow: 2px 2px $color;
}


@mixin groupsPlaceholder {
  color: $color-font-primary;
  font-style: inherit;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.7;
}