@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin triangleSingle($direction: "up", $color: $color-ambient-mint, $size: 6px){
  display: block;
  height: 0;
  width: 0;
  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}

@mixin stickynavMobile($navPos: bottom) {
  position: fixed;
  left: 0;
  width: 100%;
  border-radius: 0;
  z-index: 10;
  @if $navPos == 'bottom' {
    bottom: 0;
  }
  @else if $navPos == 'top' {
    top: 0;
  }
}

@mixin img-round($imgDimensions: 50px) {
  border-radius: 50%;
  border: 1px solid $color-ambient-mint;
  background-color: #ffffff;
  padding: 2px;
  width: $imgDimensions;
  height: $imgDimensions;
}

@mixin textarea-plain($bgColor: #ffffff, $borderColor: $color-ambient-mint) {
  background-color: $bgColor;
  border: 1px solid $borderColor;
  color: $color-font-primary;
  outline: none;
  font-family: $font-primary;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
  line-height: 1.2rem;
}

@mixin cloudMaskOverImg() {
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(image_path('mask-imgcloudybottom.png')) no-repeat left bottom;
  }
}

@mixin headlineBarbapapa() {
  color: #ffffff;
  background:
  url(image_path('texture-alpha-noise.png')),
  url(image_path('svg/bg-headline-barpapapa.svg')) 0 0 / auto 100% no-repeat ;
  border-radius: 0 8px 12px 0;
  padding: 5px 10px;
  display: table;
}


@mixin blockPaperTagHole() {
  background-color: #ffffff;
  background-image: $texture-stoff2;
  padding: 20px 3px 20px 20px;
  display: table;
  &:after {
    content: '';
    position: absolute;
    right: -63px;
    top: 0;
    width: 65px;
    height: 100%;
    background-image: url(image_path('fabricHoleCorner-rightTop.png'));
  }
}


