@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin triangleSingle($direction: "up", $color: $color-ambient-mint, $size: 6px){
  display: block;
  height: 0;
  width: 0;
  @if ($direction == 'up'){
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'down'){
    border-top: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if ($direction == 'left'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
  @else if ($direction == 'right'){
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}

@mixin stickynavMobile($navPos: bottom) {
  position: fixed;
  left: 0;
  width: 100%;
  border-radius: 0;
  z-index: 10;
  @if $navPos == 'bottom' {
    bottom: 0;
  }
  @else if $navPos == 'top' {
    top: 0;
  }
}

@mixin img-round($imgDimensions: 50px) {
  border-radius: 50%;
  border: 1px solid $color-ambient-mint;
  background-color: #ffffff;
  padding: 2px;
  width: $imgDimensions;
  height: $imgDimensions;
}

@mixin textarea-plain($bgColor: #ffffff, $borderColor: $color-ambient-mint) {
  background-color: $bgColor;
  border: 1px solid $borderColor;
  color: $color-font-primary;
  outline: none;
  font-family: $font-primary;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
}

@mixin cloudMaskOverImg() {
  &:before {
    content: '';
    display: block;
    background-image: url(image_path('mask-cloud.png'));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}



