$font-primary: 'Lato', sans-serif;
$font-secondary: 'Amatic SC', cursive;

$color-font-primary: #615454;
$color-font-secondary: #59453e;
$color-font-bright: #F6FAFB;

$color-background-bright: #F6FAFB;

$color-ambient-mint: #83C7BD;
$color-ambient-rosa: #EC776A;
$color-ambient-grey: #9b9b9b;



// default color for input, selects, radios
$form-color-primary: $color-ambient-mint;
$form-color-secondary: lighten($form-color-primary, 25);
$form-color-tertiary: darken($form-color-primary, 5);


//textures
$texture-primary: url(../images/groovepaper.png);