$layout-max-width: 980px;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'amaticbold', sans-serif;
$font-tertiary: 'Loved by the King', sans-serif;

$color-font-primary: #615454;
$color-font-secondary: #59453e;
$color-font-bright: #F6FAFB;

$color-ambient-mint: #83C7BD;
$color-ambient-mint-dark: #69a8a7;
$color-ambient-mint-light: #DBEFEC;
$color-ambient-mint-light-lowsaturation: #DEEAE6;

$color-ambient-rosa: #EC776A;
$color-ambient-rosa-dark: #ba564d;
$color-ambient-rosa-light: #F8C8C2;

$color-ambient-orange: #f4a100;
$color-ambient-orange-light: #ffefcd;

// drazen color-picked - todo: check in photoshop
$color-ambient-brown: #644C4F;
$color-ambient-pink: rgba(253, 241, 240, 0.80);

$color-ambient-facebook: #4e85bf;

$color-ambient-grey: #aaaaaa;
$color-ambient-grey-light: #f0f0f0;

$color-ambient-bright: #FCFCFC;

$boxShadow: 2px 2px 8px 0px rgba(0,0,0,0.32);
$boxShadow-light: 0px 0px 4px 0px rgba(0,0,0,0.20);

//textures
$texture-primary: url(image_path('texture-alpha-noise.png'));
$texture-secondary: url(image_path('concrete-wall.png'));
$texture-stoff1: url(image_path('texture-alpha-stoff1.png'));
$texture-stoff2: url(image_path('texture-alpha-stoff2.png'));
