<section class="group-section">
  <h2>Raumteiler-Hubs sind echte Gemeinschaften</h2>
  <%= render @room_call.group %>
</section>

<% if @room_call.group.meetings.present? %>
  <section class="group-meeting-section">
    <h2>Nächste Gruppentreffen</h2>
    <div class="cardBoxCollection -tripple">
      <%= render @room_call.group.meetings %>
    </div>
  </section>
<% end %>
