<div class="mapImgBlock -hasillu -location">
  <div id="graetzlMapWidget" data-mapdata="<%= map_data %>"></div>
  <div class="activeArea"></div>
  <div class="illuDistrict -location"></div>
  <div class="mapInfoText"></div>
  
  <div class="navBlock">
    <h1><%= @room_call.title %></h1>
  </div>
</div>
