<section class="photos-section">
  <div class="gallery">
    <% @room_call.images.each do |image| %>
      <%= link_to gallery_thumb_image(image), image.file_url, data: { jbox_image: "maingallery" } %>
    <% end %>
  </div>
</section>
