<section class="photos-section">
  <div class="gallery" data-featherlight-gallery data-featherlight-filter="a">
    <!--  @room_call.images.order(:created_at).each do |image| -->
    <% @room_call.images.each do |image| %>
      <%= link_to attachment_image_tag(image, :file, :fill, 900, 900), attachment_url(image, :file, :limit, 900, 900) %>
    <% end %>
  </div>
</section>
