<section class="submission-section -loggedin">
  <% if @room_call.open? %>
    <h2>Open Call - Deine Bewerbung</h2>

    <%= form_tag add_submission_room_call_url(@room_call) do %>

      <% @room_call.room_call_fields.each do |field| %>
        <h3><%= field.label %></h3>
        <div class="input-field">
          <%= text_area_tag :"answers[#{field.id}]" %>
        </div>
      <% end %>

      <%= submit_tag 'Submit', data: { disable_with: 'speichert...' }, class: 'btn-primary' %>

    <% end %>
  <% end %>
</section>
