<% content_for(:above_title, "Admin Info Mail") %>
<% content_for(:title, "Neue RaumPusher Buchung") %>

<!-- --------------- BLOCK HEADLINE --------------- -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; margin-bottom:20px;" width="100%" class="mcnTextContentContainer">
   <tr>
     <td style="height:30px"> </td>
   </tr>
   <tr>
     <td valign="top" class="mcnTextContent" style="padding-top:0;  padding-bottom:9px; padding-left:18px; padding-right:18px;">
       <h4 style="text-align:left; color:#69a8a7; font-family:Georgia; font-size:125%; font-weight:normal; font-style:italic;">
         Facts:
       </h4>
     </td>
   </tr>
   <tr>
     <td style="padding-left:9px; padding-right:9px;">
       <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
           <td>
             <span></span>
           </td>
         </tr>
       </table>
     </td>
   </tr>
 </table>


 <!-- --------------- ITEM --------------- -->
 <table border="0" cellpadding="3" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
   <tbody>
     <tr>
       <td style="width:30%;"></td>
       <td style="width:70%;"></td>
     </tr>
     <tr>
       <td class="mcnTextContent" style="white-space:nowrap; padding-left:18px; font-style:italic;">Name:</td>
       <td class="mcnTextContent"><%= @room_booster.user.full_name %></td>
     </tr>
     <tr>
       <td class="mcnTextContent" style="white-space:nowrap; padding-left:18px; font-style:italic;">Raumteiler:</td>
       <td class="mcnTextContent"><%= @room_booster.room_offer %></td>
     </tr>
     <tr>
       <td class="mcnTextContent" style="white-space:nowrap; padding-left:18px; font-style:italic;">Laufzeit:</td>
       <td class="mcnTextContent"><%= @room_booster.runtime %></td>
     </tr>
     <tr>
       <td colspan="2">
         <%= render 'mailers/shared/button', title: "RaumPusher Ansehen", url: admin_room_booster_url(@room_booster) %>
       </td>
     </tr>
   </tbody>
 </table>
