<h3 class="sidebar">Deine Auswahl</h3>

<ul class="pricing-summary -duration">
  <li>
    <div class="duration">Miete:</div>
    <div class="title">
       15. Jul,  16 bis 18 Uhr <br>
       18. Jul,  10 bis 12 Uhr
    </div>
  </li>
</ul>

<ul class="pricing-summary">
  <li>
    <div class="cost">
      <%= number_to_currency(20, unit: "€") %>
    </div>
    <div class="costname">
      6 Stunden x 10,00 €
    </div>
  </li>
  <li>
    <div class="cost">
      <%= number_to_currency(-3, unit: "€") %>
    </div>
    <div class="costname">
      Rabatt ab 4 Stunden
    </div>
  </li>
  <li>
    <div class="cost">
      <%= number_to_currency(2, unit: "€") %>
    </div>
    <div class="costname">
      Servicegebühr
    </div>
  </li>
  <li class=sum>
    <div class="cost"><%= number_to_currency(19, unit: "€") %></div>
    <div class="costname">Gesamtpreis</div>
  </li>
</ul>
