<h3 class="sidebar">Die Kosten</h3>

<!-- Price Module Entry -->
<div class="package-pricing">
  <div class="desc">
    Das hier ist der Titel vom ersten Preispaket
  </div>
  <ul>
      <li>
        <div class="cost"><pie class="pie-hour"></pie></div>
        <div class="costname">35 € / Stunde</div>
      </li>
      <li>
        <div class="cost"><pie class="pie-day"></pie></div>
        <div class="costname">190 € / Tag <br><small class="discount">25% Rabatt ab 8 Stunden</small></div>
      </li>
  </ul>
</div>
