<% more ||= false %>
<div class="cardbox-wrp">
  <div class="paperCard -cord1RT -illuteaser">
    <div class="wrp">
      <div class="user">
        <%= image_tag('avatar/user/default.png', class: 'img-round') %>
        <span>Dein Name</span>
      </div>
      <h3>Mit dem Gr채tzlzuckerl kannst Du Werbung f체r dein Angebot in deinem Gr채tzl & Bezirk schalten</h3>
      <%= link_to 'Mein Gr채tzlzuckerl', new_zuckerl_path, class: 'btn-primary' %>
    </div>
    <div class="card"></div>
  </div>
  <% if more %>
    <%= link_to 'Alle Angebote', graetzl_zuckerls_path(graetzl), class: 'link-more' %>
  <% end %>
</div>
