<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="zuckerl-page address-screen">

  <div class="col-content">
    <%= render "zuckerls/new/tabs_nav" %>
    <%= render 'zuckerls/new/address' %>
  </div>

  <div class="col-sidebar">
    <%= render @zuckerl %>
    <%= render 'zuckerls/new/key_data' %>
  </div>

</section>
