<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="zuckerl-page createzuckerl">

  <div class="col-content">
    <%= render "zuckerls/new/tabs_nav" %>
    <%= render 'zuckerls/new/new_zuckerl' %>
  </div>

  <div class="col-sidebar">
    <%= render 'zuckerls/zuckerl_preview' %>
    <div class="zuckerl-keydata">
      <div class="headline">Zuckerl Guthaben einlösen?</div>
      <ul class="facts">
        <li>Solltest du noch offene Zuckerl-Guthaben haben, so kannst du diese im nächsten Schritt einlösen.</li>
      </ul>
    </div>

    <div class="zuckerl-keydata">
      <div class="headline">Noch Fragen?</div>
      <ul class="facts">
        <li>Weitere Infos zum Zuckerl findest du <%= link_to 'hier', info_zuckerl_path %>.</li>
      </ul>
    </div>

    
  </div>

</section>
