<section class="usersetup -zuckerl -missing-location">
  <% if @locations.empty? %>

    <div class="cardBox" id="error_explanation">
      <p class="title">Du hast noch kein virtuelles Schaufenster!</p>
      <p>Um ein Zuckerl buchen zu können, musst du dir zuerst dein kostenloses virtuelles Schaufenster einrichten.</p>
      <%= link_to 'Kostenloses Schaufenster jetzt einrichten', new_location_path, class: 'btn-primary -rose -shadow' %>
    </div>

    <%= render partial: 'users/zuckerl_introtext' %>

  <% else %>
    <div class="selectlocation">
      <h2 class="hl-main">Für <span>welches deiner Schaufenster</span> möchtest Du ein Zuckerl buchen?</h2>
      <div class="input-select">
        <label>
          <%= icon_tag "label-tag" %>
          <span>Schaufenster</span>
        </label>
        <%= select_tag :location_id,
                       options_for_select(@locations.map { |location| [location.name, new_location_zuckerl_path(location)] }),
                       prompt: 'wählen',
                       onchange: 'location.href = $(this).val()' %>
      </div>
    </div>

  <% end %>
</section>
