<section class="usersetup">
  <% if @locations.empty? %>
    <div class="introcontainer -location">
      <div class="introtxt">
        <div class="step-element">
          <h2><span class="number">1.</span> Richte dir zuerst dein virtuelles Schaufenster ein</h2>

          <div class="text">Um ein Grätzlzuckerl zu buchen, musst du dir zuerst ein Schaufenster einrichten. Die
            Location ist dein persönliches Schaufenster im Grätzl - Und: sie ist kostenlos!
            <%= link_to 'Jetzt Location einrichten', new_location_path, class: 'btn-primary -large -shadow' %>
          </div>
        </div>
        <div class="step-element">
          <h2><span class="number">2.</span> Schalte dein Grätzlzuckerl</h2>

          <div class="text">Sobald du dein virtuelles Schaufenster hast, kannst du mit nur wenigen Klicks dein Grätzlzuckerl
            buchen.
          </div>
        </div>
      </div>
      <div class="paperCard -illuteaser -cord1RT">
        <div class="wrp">
          <h3>Um ein Grätzlzuckerl zu buchen richte dir zuerst dein virtuelles Schaufenster ein.</h3>
          <%= link_to 'Fragen und Antworten zum Grätzlzuckerl', info_infos_zum_graetzlzuckerl_path, class: 'link-more' %>
        </div>

        <div class="card"></div>
      </div>
    </div>
  <% else %>
    <div class="selectlocation">
      <h2 class="hl-main">Für <span>welches deiner Schaufenster</span> möchtest Du ein Grätzlzuckerl buchen?</h2>
      <div class="input-select">
        <label>
          <%= icon_tag "label-tag" %>
          <span>Location</span>
        </label>
        <%= select_tag :location_id,
                       options_for_select(@locations.map { |location| [location.name, new_location_zuckerl_path(location)] }),
                       prompt: 'wählen',
                       onchange: 'location.href = $(this).val()' %>
      </div>
    </div>

  <% end %>
</section>
