<% meta(
    title: t('.title'),
    robots: 'noindex, nofollow'
  )
%>

<section class="zuckerl-page summary-screen" data-transaction-id="<%= "ZUCKERL_#{@zuckerl.id}" %>" data-value="<%= @zuckerl.amount %>">

  <div class="col-content">
    <%= render 'zuckerls/new/summary' %>
  </div>

  <div class="col-sidebar">
    <%= render @zuckerl %>
  </div>

</section>
