<div class="wrp-selects">
  <div class="select-group">
    <label for="district">Bezirk</label>
    <%= select_tag :district_id, options_from_collection_for_select(District.all, :id, :zip),
      prompt: 'wählen',
      data: { remote: true, url: url_for(action: :update_graetzls) }
      %>
  </div>
  <%= render 'graetzl_select', graetzls: @graetzls %>
</div>