<% title('Registrierung') %>

<section class="register-searchGraetzl">

  <h2>Lass uns zu Beginn dein <span>Heimatgrätzl</span> finden...</h2>

  <%= form_tag(addresses_search_path, method: :post) do %>

      <div id="addressSearchAutocomplete" class="input-group">
        <%= text_field_tag :address, nil %>
        <%= label_tag :address, 'Wo wohnst du? (Strasse und Hausnummer)' %>
      </div>
      <div class="nav-btnBar">
        <%= button_tag 'Weiter', class: 'btn-primary' %>
      </div>
  <% end %>

</section>