<div class="step-search" data-step="searchGraetzl">
  <div class="inner">

    <h5>Schritt 1/4 </h5>
    <h2>Lass uns zu Beginn dein <span>Heimatgr채tzl</span> finden...</h2>

    <div class="assisted">
      <%= form_tag(addresses_search_path, method: :post) do %>

        <div class="input-group">
          <%= text_field_tag :address, nil %>
          <%= label_tag :address, 'An welcher Adresse in Wien wohnst du...?' %>
        </div>

        <!-- if multiple gr채tzls -->
        <% if @graetzls %>
          <div class="step-search" data-step="searchGraetzl">
            <div class="inner">

              <h5>Schritt 1b/4 </h5>
              <h2>W채hle dein <span>Heimatgr채tzl</span></h2>
            </div>
          </div>
        <% end %>
        
        <div class="btn-navBar">
          <%= submit_tag 'Weiter', class: 'btn-primary next' %>
        </div>
      <% end %>
    </div>
  </div>
</div>