<div class="txt">
  <p><%= simple_format entry.content %></p>
</div>

<% unless entry.images.empty? %>
  <div class="entryImgUploads">
    <% entry.images.each do |image| %>
      <%= attachment_image_tag(image, :file, :fill, 400, 200) %>
    <% end %>
  </div>
<% end %>