<div class="streamElement">

  <div class="entryInitialContent">
    <%= render 'shared/stream/user_info', user: user, activity: activity, entry: entry %>
  </div>


  <%= render 'meetings/teaser', meeting: entry %>
  
  <% unless entry.comments.empty? %>
    <%= render 'shared/stream/comment', user: entry.comments.first.user, activity: entry.comments.first, entry: entry.comments.first %>
  <% end %>


  <%= render 'comments/form', type: entry.class.name, id: entry.id %>

</div>