<div class="streamElement">

  <div class="entryInitialContent">
    <%= render 'shared/stream/user_info', user: user, activity: activity, entry: entry %>

    <%= render 'shared/stream/content', entry: entry %>
  </div>


  <!-- teaser -->
  <% unless entry.comments.empty? %>
    <%= render 'shared/stream/comment', user: entry.comments.first.user, activity: entry.comments.first, entry: entry.comments.first %>
  <% end %>


  <%= render 'comments/form_inline', commentable: entry %>

</div>