<div class="hl-subtext">
  <h1><span>Zuckerl</span> bearbeiten</h1>
  <p>
    Solange dein Zuckerl noch nicht freigeschalten wurde, kannst du dieses hier noch bearbeiten.
  </p>
</div>

<%= form_for [@zuckerl], data: { behavior: 'zuckerlform' } do |f| %>
<%= hidden_field_tag :edit_zuckerl, true %>
  <div class="booking-block">
    <div class="form-block">
      <%= render 'zuckerls/new/form_fields', f: f %>
      <%= f.button 'Zuckerl speichern', class: 'btn-primary' %>
    </div>
  </div>
<% end %>
