<div class="zuckerl-keydata">
  <div class="headline">Eckdaten</div>
  <ul class="facts">
    <li><strong>Laufzeit:</strong> <%= zuckerl_month_and_year(@zuckerl) %></li>
    <li><strong>Sichtbarkeit:</strong> <%= @zuckerl.visibility %></li>
    <li><strong>Preis:</strong> <%= @zuckerl.amount_with_currency %> (inkl. 20% USt.)</li>
  </ul>
</div>
