<div class="tabs-ctrl">
  <ul class="tabs-nav -small">
    <li id="step1">
      <%= link_to 'javascript:' do %>
        <span class="desk">Schritt 1</span>
        <span class="mob">1.</span>
      <% end %>
    </li>
    <li id="step2">
      <%= link_to 'javascript:' do %>
        <span class="desk">Schritt 2</span>
        <span class="mob">2.</span>
      <% end %>
    </li>
    <li id="step3">
      <%= link_to 'javascript:' do %>
        <span class="desk">Schritt 3</span>
        <span class="mob">3.</span>
      <% end %>
    </li>
  </ul>
</div>
