<div class="paperCard video -cord1RT">
  <div class="wrp">
    <div class="txt">
      <h3>Projektitel, Slogan & Beschreibung - Auf was kommt es an?</h3>
      Das Wichtigste: wähle einen Titel, der verständlich ist, neugierig macht und kurz ist.<br>
      Wähle ausserdem einen kurzen Slogan und beschreibe dann dein Vorhaben ausführlicher. Achte darauf, dass dieser Text gut verständlich und einfach zu lesen ist. Im Video erfährst du, was dabei wichtig ist und die Vorlage hilft dir bei der Formulierung.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_basic.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
      <%= link_to 'Vorlage herunterladen', 'https://welocally-crowdfunding.s3.eu-central-1.amazonaws.com/1_Projektname_Kurzbeschreibung.pdf.zip', class: 'sublink btn-secondary -small -mint' %>
    </div>
  </div>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" data-url="https://player.vimeo.com/video/687849774" width="800" height="450" src="" data-src="https://player.vimeo.com/video/687849774" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
