<div class="paperCard video -cord1RT">
  <div class="wrp">
    <div class="txt">
      <h3>Wie beschreibe ich mein Projekt, damit es die Crowd überzeugt?</h3>
      Das Wichtigste: Bringe in der Beschreibung deine eigene Begeisterung für dein Vorhaben zum Ausdruck. Erzähle deine oder eure Geschichte. Warum gerade dieses Vorhaben und was hat es mit dir zu tun? Schau dir das Video an und nutze die Vorlage.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_description.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
      <%= link_to 'Vorlage herunterladen', '#', class: 'sublink btn-secondary -small -mint' %>
    </div>
  </div>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="https://player.vimeo.com/video/687849218" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
