<div class="paperCard video -cord1RT">
  <div class="wrp">
    <div class="txt">
      <h3>Projektabschluss & Freigabe - Wie geht es nun weiter?</h3>
      Sobald du mit dem Ausfüllen deiner Kampagne fertig bist, klicke auf "Projekt zur Freigabe einreichen". 
      In spätestens 2-3 Werktagen bekommst du Feedback, ob dein Projekt freigeschaltet wird oder ob noch Angaben fehlen.
      <br><br>
      Nutze die Zeit und befülle die Excelliste mit Kontakten, die du für dein Vorhaben begeistern möchtest, sobald es losgeht. Wie im Video beschrieben,
      sollten in den ersten Tagen beim Start der Kampagne 30 % der Finanzierung aus deinem eigenen Netzwerk kommen: Freunde, Bekannte und weitere Unterstützer*
      innen.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_finish.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
      <%= link_to 'Vorlage herunterladen', 'https://welocally-crowdfunding.s3.eu-central-1.amazonaws.com/6_LeadUnterstützerinnen_Maßnahmen.zip', class: 'sublink btn-secondary -small -mint' %>
    </div>
  </div>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="" data-src="https://player.vimeo.com/video/687848660" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
