<div class="paperCard video -cord1RT">
  <div class="wrp">
    <div class="txt">
      <h3>Projektfreigabe - Wie geht es nun weiter?</h3>
      In spätestens 2-3 Werktagen bekommst du Feedback, ob dein Projekt freigeschaltet wird oder ob noch Angaben fehlen.
      <br><br>
      Nutze die Zeit und befülle die Excelliste mit Kontakten, die du für dein Vorhaben begeistern möchtest, sobald es losgeht. Wie im Video beschrieben,
      sollten in den ersten Tagen beim Start der Kampagne 30 % der Finanzierung aus deinem eigenen Netzwerk kommen: Freunde, Bekannte und weitere Unterstützer*
      innen.
      <br><br>
      Im Video und in der Vorlage findest du weitere Hilfen und per Mail werden wir dich durch deine Kampagne mit weiteren Tipps begleiten. Wir wünschen dir viel Freude, viele gute Erlebnisse und Kontakte und natürlich viel Erfolg!
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_finish.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
      <%= link_to 'Vorlage herunterladen', '#', class: 'sublink btn-secondary -small -mint' %>
    </div>
  </div>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="https://player.vimeo.com/video/687848660" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
