<div class="paperCard video -cord1RT">
  <div class="wrp">
    <div class="txt">
      <h3>Wie berechne ich das Finanzierungsziel? Was gibt es zu beachten?</h3>
      Schau dir zunächst das Video an. Wichtig: Liste zunächst alle Kostenblöcke auf, bevor du den Minimal- und Optimalbetrag bestimmst. Erst, wenn der Minimalbetrag erreicht ist, kommt es zu einer Auszahlung der eingegangen Gelder, Zeit- und Sachspenden. Wähle die Höhe des Minimalbetrages trotzdem so, dass du dein Vorhaben damit wirklich in die Umsetzung bringen kannst.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_finance.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
      <%= link_to 'Vorlage herunterladen', 'https://welocally-crowdfunding.s3.eu-central-1.amazonaws.com/3_Projekt_Finanzierung.pdf.zip', class: 'sublink btn-secondary -small -mint' %>
    </div>
  </div>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="https://player.vimeo.com/video/687849012" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
