<div class="paperCard video -cord1RT">
  <txt class="wrp">
    <div class="txt">
      <h3>Warum WeLocally Crowdfunding und wie es funktioniert.</h3>
      Unser lokales Crowdfunding richtet sich an lokale Macher*innen (z.B. Selbstständige), kleine Unternehmen, Vereine, Kunst-und Kulturschaffende, die für ihre Vorhaben Geld, Zeit- oder Sachspenden sammeln möchten. Wir wünschen uns, dass damit noch mehr eurer Vorhaben in die Umsetzung gelangen.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_intro.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
    </div>
  </txt>
  <txt class="wrp">
    <div class="txt">
      <strong>
        Alle profitieren von der bestehenden lokalen Community auf imGrätzl und WeLocally, alle Vorhaben werden in den Streams auf der der Plattform angezeigt und in die Newsletter aufgenommen und verteilt.
      </strong>
      <br><br>
      Ein besonderes Augenmerk legen wir auf lokale Vorhaben, von der die Allgemeinheit mitprofitiert. Wenn du z.B. Geld benötigst, um einen Leerstand zu aktivieren, dann profitiert die Allgemeinheit davon, weil du mit deinem Vorhaben Leben in den Leerstand und in den Stadtteil bringst. Deshalb bekommen solche Vorhaben noch einmal einen extra Sichtbarkeits-Boost von uns.
    </div>
  </txt>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="https://player.vimeo.com/video/687848512" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
