<div class="guidelines">
  <h4>Kosten:</h4>
  <p>
    Nur wenn deine Kampagne erfolgreich ist, behalten wir 4% von der eingegangenen Geldsumme ein, das ist für den Zahlungsanbieter und zur Deckung der internen Kosten. Es ist ein Selbstkostenpreis und für uns kein Geschäftsmodell. Wenn die Kampagne nicht erfolgreich ist, kostet sie dich nichts.
  </p>
  <h4>Voraussetzung, um eine Kampagne zu starten:</h4>
  <ul>
    <li>Kampagnenstarter*in ist mind. 18 Jahre alt</li>
    <li>Kapagnenstarter*in ist entweder in Wien, in einer der angedockten WeLocally Gemeinden in Kärnten oder in einer der 17 Gemeinden im Mühlviertler Kernland beheimatet.</li>
    <li>Kampagnenstarter*innen sind bereit ihre Identität und Kontodaten prüfen zu lassen.</li>
    <li>Kampagnenstarter*innen treten mit Vor- und Nachname und einem persönlichen Foto auf der Kampagnenseite auf und agieren offen, ehrlich und transparent.</li>
  </ul>
  <h4>Folgendes wird nicht akzeptiert:</h4>
  <ul>
    <li>Finanzierung von Studium, Ausbildung, privaten Veranstaltungen oder Reisen, Privateigentum, Wahlkampf sowie Parteifinanzierung.</li>
    <li>Dankeschöns, die Lose, Unternehmensanteile oder Kapitalanlagen bzw. Kredite sind.</li>
    <li>Finanzierung von Waffen und/oder vom Gesetzgeber als illegal eingestufte Drogen.</li>
  </ul>
  <em>
    Und natürlich gelten auch für das lokale Crowdfunding unsere <%= link_to 'AGBs', info_agb_path %>.
  </em>
</div>
