<div class="paperCard video -cord1RT">
  <txt class="wrp">
    <div class="txt">
      <h3>Warum Crowdfunding und wie es funktioniert.</h3>
      Du hast ein Vorhaben, eine Idee, ein Projekt? Aber dir fehlen zur Realisierung noch Geld, vielleicht auch Raum, helfende Hände oder andere Ressourcen? Dann könnte Crowdfunding etwas für dich sein. Das Prinzip dahinter: mehrere Menschen (Crowd) unterstützen die Umsetzung deines Vorhabens mit einem Betrag oder mit anderen Ressourcen. Basis dafür ist eine Crowdfunding Kampagne, mit dieser machst du dein Vorhaben sichtbar und zeigst, was es für die Realisierung  benötigt. Für die gegebene Unterstützung revanchierst du dich dann z.B. mit Dankeschöns. Unser lokales Crowdfunding richtet sich an lokale Macher*innen (z.B. Selbstständige), kleine Unternehmen, Vereine, Kunst-und Kulturschaffende. Und: In der Crowdfunding Academy erfährst du Schritt-für Schritt, wie du deine eigene Crowdfunding Kampagne aufsetzt.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_intro.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
    </div>
  </txt>
  <txt class="wrp">
    <div class="txt">
      <strong>
        Was bedeutet lokales Crowdfunding? Die Crowdfunding Kampagnen werden hier in eine bestehende lokale Community aus lauter Macher*innen platziert. Sie werden in den Streams auf der Plattform angezeigt und zusätzlich in die Newsletter aufgenommen und verteilt.
      </strong>
      <br><br>
      Ein besonderes Augenmerk legen wir auf lokale Vorhaben, von denen auch die Allgemeinheit (mit)profitiert. Wenn du z.B. Geld benötigst, um einen Leerstand zu aktivieren, dann wirkt sich das auch auf die Umgebung positiv aus, weil du mit deinem Vorhaben Leben in einen Leerstand und in den Stadtteil bringst. Solche Vorhaben bekommen noch einmal einen extra Sichtbarkeits-Boost auf der Plattform.
      </div>
  </txt>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="https://player.vimeo.com/video/687848512" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
