<div class="paperCard video -cord1RT">
  <div class="wrp">
    <div class="txt">
      <h3>Welche Medien (Bild, Video, Text) braucht es, um mit deiner Kampagne rauszugehen?</h3>
      Schau dir zunächst das Video an. Wichtig: Füge in das Headerbild keinen Text oder Logo rein, wähle für das Headerbild ein Bild im Querformat. In der Vorlage findest du ein Storyboard für dein Video. Denn Kampagnen mit Videos laufen im Durchschnitt besser, also ohne Video. Viel Freude beim Video erstellen.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_media.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
      <%= link_to 'Vorlage herunterladen', '#', class: 'sublink btn-secondary -small -mint' %>
    </div>
  </div>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="https://player.vimeo.com/video/687849466" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
