<div class="paperCard video -cord1RT">
  <div class="wrp">
    <div class="txt">
      <h3>Was biete ich meiner Crowd als Gegenleistung für die Unterstützung? Auf was sollte ich dabei achten?</h3>
      Die Dankeschöns sind deine Gegenleistung für das Geld, Sach- oder Zeitspenden, die du erhältst. Im Video wird erklärt, wie du gute Dankeschön finden kannst, warum du nicht mehr als 10 verschiedene Dankeschöns schnüren solltest und was im Durchschnitt für ein Dankeschön ausgegeben wird. In der Vorlage gibt es weitere Hilfestellungen.
    </div>
    <div class="video-thumb">
      <%= link_to 'javascript:', class: 'player play-icon jBoxVideo', rel: 'nofollow' do %>
        <%= image_tag 'videos/academy_rewards.jpg', class: 'video', alt:'video-thumb', width:200, height:150 %>
      <% end %>
      <%= link_to 'Vorlage herunterladen', 'https://welocally-crowdfunding.s3.eu-central-1.amazonaws.com/4_Dankeschöns.pdf.zip', class: 'sublink btn-secondary -small -mint' %>
    </div>
  </div>
  <div class="card"></div>
</div>
<div id="jBoxVideoContent" class="jBoxHidden">
  <iframe id="videoIframe" width="800" height="450" src="https://player.vimeo.com/video/687848065" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
</div>
