<div class="form-block rewards">

  <div class="hl-subtext">
    <h2>Zeit für deine <span>Dankeschöns</span></h2>
    <p>Tipp: Die Summe deiner Dankeschöns sollte in etwa deinem Funding-Ziel entsprechen.</p>
  </div>

  <div class="crowd-rewards">
    <% f.object.crowd_rewards.build if f.object.crowd_rewards.empty? %>
    <%= f.fields_for :crowd_rewards do |reward_form| %>
      <%= render 'crowd_campaigns/form/reward_fields', f: reward_form, disabled: !@crowd_campaign.editable? %>
    <% end %>
    <div>
      <%= link_to_add_association 'Dankeschön hinzufügen', f, :crowd_rewards, partial: 'crowd_campaigns/form/reward_fields', class: 'btn-primary -mint -small' %>
    </div>
  </div>

</div>
