<%= hidden_field_tag :stripeDescription, 'Subscription Description' %>
<%= hidden_field_tag :stripePlan, 'plan_EcPqKaYViIkWOr' %>

<h1>Möchtest du imGrätzl unterstützen?</h1>

<div class="input-select">
  <%= select_tag :stripePlan, options_for_select([
    ["3 €", "plan_EcNxWzjJPeRoOc"],
    ["6 €", "plan_EcPpmWFv0JZeC8"],
    ["9 €", "plan_EcPpeCJQKptdNm"],
    ["12 €", "plan_EcPppVIlzzCIRW"],
    ["15 €", "plan_EcPqKaYViIkWOr"],
  ]), { prompt: 'Monatlichen Betrag auswählen ..' } %>
</div>

<%= button_tag 'Weiter zur Zahlung', class: 'btn-primary -mint stripe-submit-subscription' %>
