<% if (current_user == post.user) || current_user.admin? %>
  <div class="editControls">
    <div class="btn-delete"><svg class="icon-trash-delete-remove"><use xlink:href="#icon-trash-delete-remove"></use></svg></div>
  </div>
<% end %>

<%= link_to [post.graetzl, post], class: 'linkToPost' do %>
  <div send-url="<%= post_path(post) %>" class="txt"><%= truncate(post.content, length: 500, separator: ' ') %></div>
<% end %>

<% unless post.images.empty? %>
  <div class="entryImgUploads" data-featherlight-gallery data-featherlight-filter="a">
    <% post.images.each do |image| %>
      <%= link_to attachment_image_tag(image, :file, :fill, 400, 400), attachment_url(image, :file) %>
    <% end %>
  </div>
<% end %>
