<%= link_to [post.graetzl, post], class: 'linkToPost' do %>
  <div class="txt"><%= post.content %></div>
<% end %>

<% unless post.images.empty? %>
  <div class="entryImgUploads">
    <% post.images.each do |image| %>
      <%= attachment_image_tag(image, :file, :fill, 400, 200) %>
    <% end %>
  </div>
<% end %>