.-toggable {
  margin-bottom: 20px;
  > h3:first-child {
    position: relative;
    padding-bottom:20px;
    padding-right:25px;
    border-bottom: 1px solid $color-ambient-grey;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      height:100%;
      width:25px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      background-image: url(image_path('svg/icon-arrow.svg'));
      background-repeat: no-repeat;
      background-position: right;
    }
    &.ico {
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
      }
    }
    &:hover {
      color: $color-ambient-mint-dark;
    }
  }
  .-toggle-content {
    display: none;
    padding-top: 20px;
    padding-bottom:20px;
  }
  &.-open {
    h3 {
      &::after {
        transform: rotate(180deg);
      }
    }
    .-toggle-content {
      display: block;
    }
  }
  &.-small {
    > h3:first-child {
      @include font-size-primaryFont('base');
    }
  }
}
