#addressSearchAutocomplete {

  .twitter-typeahead {
    width: 100%;
    display: block;
  }

  #address,
  .tt-hint {
    width: 100%;
    border: none;
    font-family: $font-primary;
    outline: none;
  }

  #address {
    color: $color-font-primary;
    background-color: $color-ambient-mint-light;
  }

  .tt-hint {
    color: $color-ambient-grey;
  }

  .tt-dropdown-menu {
    background-color: $color-ambient-bright;
    border: 2px solid $color-ambient-mint-light;
    margin-top: -2px;
    width: 100%;
  }

  .tt-suggestion {
    padding: 0.6rem 1.6rem;
    border-bottom: 2px solid $color-ambient-mint-light;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-between;
    &:last-child {
      border-bottom: none;
    }
    .district {
      font-size: 1.4rem;
      flex: 0 0 auto;
      text-align: right;
      min-width: 60px;
      color: $color-ambient-grey;
    }
  }

  .tt-cursor {
    background-color: $color-ambient-mint-light;
    color: $color-font-primary;
  }

  .wrp-icon + .twitter-typeahead input  {
    padding-left: 0;
  }

  @include respond-to(">medium") {
    #address,
    .tt-hint {
    }
    .tt-dropdown-menu {
      min-width: 100%;
    }
  }

}
