.address-autocomplete {
  .autocomplete-suggestions {
    background-color: $color-ambient-bright;
    border: 2px solid $color-ambient-mint-light;
    overflow: auto;
  }
  .autocomplete-suggestion {
    border-bottom: 2px solid $color-ambient-mint-light;
    padding: 3px 5px;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    color: $color-font-primary;
  }
  .autocomplete-selected {
    background: #cbcbcb;
  }
  .autocomplete-suggestions strong {
    color: $color-ambient-rosa-dark;
  }
  .autocomplete-suggestions span {
    float: right;
    color: $color-ambient-grey;
    font-size: 14px;
  }
}

.address-autocomplete-input.confirmed {
  background-image: image-url("svg/icon-check.svg");
  background-position: 95% center;
  background-repeat: no-repeat;
}
