.address-autocomplete {
  .autocomplete-suggestions {
    background-color: $color-ambient-bright;
    border: 1px solid $color-ambient-mint-light;
    border-top:0px;
    overflow: auto;
    margin-top:3px;
  }
  .autocomplete-suggestion {
    border-bottom: 1px solid $color-ambient-mint-light;
    border-left:0px;
    border-right:0px;
    padding: 7px 7px;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    color: $color-font-primary;
  }
  .autocomplete-selected {
    background: #DBEFEC;
  }
  .autocomplete-suggestions strong {
    color: $color-ambient-rosa;
    font-weight:normal;
  }
  .autocomplete-suggestions span {
    float: right;
    color: $color-ambient-grey;
    font-size: 14px;
  }
}

.address-autocomplete-input.confirmed {
  background-image: image-url("svg/icon-check.svg");
  background-position: 95% center;
  background-repeat: no-repeat;
}
