.badge {
  position: relative;
  @include font-size-secondaryFont('base');
  width: 90px;
  height: 90px;
  background-image:$texture-primary, url(image_path('svg/bg-badge-barpapapa-rosa.svg'));
  background-repeat: repeat, no-repeat;
  background-size: 100px 100px, 100% 100%;
  background-position: top left;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  display: block;
  border-radius: 25%;
  padding: 10px 10px;
  line-height: 0.8;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding-top: 18px;
  @include respond-to(">=medium") {
    width: 110px;
    height: 110px;
    padding-top: 25px;

  }
  @include respond-to(">=large") {
    width: 130px;
    height: 130px;
    padding-top: 30px;
  }
  @include respond-to("retina2x") {
    background-size:  50px 50px, 100% 100%;
  }

  //preload for hover
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(image_path('svg/bg-badge-barpapapa-mint.svg'));
    opacity: 0;
  }
  &:hover, &:active {
    background-image:$texture-primary, url(image_path('svg/bg-badge-barpapapa-mint.svg'));
  }

  &.-mint {
      background-image:$texture-primary, url(image_path('svg/bg-badge-barpapapa-mint.svg'));
    &:hover, &:active {
      background-image:$texture-primary, url(image_path('svg/bg-badge-barpapapa-rosa.svg'));
    }
  }

  &.-arrow {
    &::before {
      content: '';
      width:40px;
      height: 40px;
      position: absolute;
      bottom: -20px;
      right: -40px;
      display: block;
      background-image: url(image_path('svg/icon-arrow-right-blinky-rosa.svg'));
      background-repeat: no-repeat;
      background-position: center center;
      transform: rotate(-140deg);
      transition: bottom 0.2s, right 0.2s;
    }
    &::after {
      //preload for hover
      background-image: url(image_path('svg/bg-badge-barpapapa-mint.svg')), url(image_path('svg/icon-arrow-right-blinky-mint.svg'))
    }
    &:hover {
      &::before {
        bottom: -10px;
        right: -30px;
        background-image: url(image_path('svg/icon-arrow-right-blinky-mint.svg'));
      }
    }
    &.-left {
      &::before {
        bottom: 0px;
        right: 90px;
        transform: rotate(-30deg);
        @include respond-to(">=medium") {
          bottom: -5px;
          right: 115px;
        }
        @include respond-to(">=large") {
          bottom: 0px;
          right: 130px;
          transform: rotate(-30deg) scale(1.5);
        }
      }
      &:hover {
        &::before {
          bottom: 5px;
          right: 85px;
          @include respond-to(">=medium") {
            bottom: 0px;
            right: 110px;
          }
          @include respond-to(">=large") {
            bottom: 5px;
            right: 125px;
          }
        }
      }
    }
  }
}

.badgeregister {
  display: block;
  width: 200px;
  height: 171px;
  background-image: url(image_path('badge-anmelden.png'));
  background-size: 200px 171px;
  background-repeat: no-repeat ;
  transition: transform 0.25s;
  &:hover {
    transform: translate(0, -10px);
  }

}
