.baumler-stoerer {

  width: 377px;
  height: 320px;
  position: absolute;
  left: -39px;
  top: 52px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 4;

  .wrap {
    background: url(image_path('stoererfeelgood.png')) no-repeat 7px -59px;
    text-align: center;
    width: 277px;
    left: 80px;
    height: 300px;
    padding: 65px 40px 0 40px;
    position: absolute;
    top: 13px;

    &:hover {
      .link {
        color: $color-ambient-rosa;
        text-decoration: underline;
      }
    }

  }

  .close {
    cursor: pointer;
    margin-top: 10px;
    width: 30px;
    opacity: 0;
    height: 30px;
    position: absolute;
    right: 55px;
    border-radius: 50%;
    top: 25px;
    background-color: #fcfcfc;
    z-index: 1;
    fill: $color-font-primary;
    &:hover {
      fill: $color-ambient-rosa;
    }
  }

  .link {
    font-family: $font-tertiary;
    font-size: 24px;
    position: absolute;
    bottom: 40px;
    left: 89px;
    color: $color-ambient-mint-dark;
  }

  &::before {
    height: 62px;
    width: 50px;
    background: url(image_path('stoererfeelgood.png')) -99px 12px;
    content: '';
    display: block;
    z-index: 2;
    position: absolute;
    top: -8px;
    left: 195px;
  }

  @include respond-to("<medium") {
    display: none !important;
  }

}


.baumler-stoerer.doAnimation {
  .wrap {
    transform-origin: 126px 30px;
    animation-duration: 2s;
    animation-name: stoererrotate;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 126px 30px;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: stoererrotate;
    -webkit-animation-timing-function: ease-in-out;
  }
  .close {
    opacity: 1;
    transition: opacity 0.2s 2s;
  }
}


@keyframes stoererrotate {
  from {
    transform: rotate(45deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(7deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes stoererrotate {
  from {
    -webkit-transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(-10deg);
  }
  60% {
    -webkit-transform: rotate(7deg);
  }
  80% {
    -webkit-transform: rotate(-3deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}