div.bbcode {
  white-space: pre-wrap;
  h2.bb {
    margin-bottom:0px !important;
    font-family: $font-primary;
    font-weight: bold;
    @include font-size-primaryFont('larger');
  }
  h3.bb {
    font-family: $font-primary;
    margin-bottom:0px !important;
    @include font-size-primaryFont('large');
  }
  ul, ol {
    white-space: normal;
    margin-left: 20px;
    margin-bottom: 0px;
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  img {
    max-width: 230px;
  }
  .entryImgUploads {
    @include cf;
    margin-bottom: 0px;
    margin-top: 0px;
    white-space: normal;
    img {
      max-width: 153px;
    }
  }
  .imgtxt {
    @include cf;
    white-space: normal;
    span {
      display: block;
      clear: both;
      margin-top:20px;
    }
    @include respond-to(">=medium") {
      img {
        float:left;
        margin-right:15px;
        margin-top:5px;
      }
      span {
        display: inline;
        clear: none;
        margin-top:0px;
      }
    }
  }
}

.bbcodeField {
  position: relative;
  textarea {
    padding-top: 2.5rem
  }
}
.bbCodeOpener {
  display: none;
  position: absolute;
  top:5px;
  right:8px;
  @include respond-to("<=medium") {
    top:0px;
    height:39px;
    line-height: 39px !important;
  }
  @include font-size-primaryFont('small');
  a {
    color: $color-ambient-mint-dark;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}
.bbcodeHelp {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .input-textarea, .input-example {
    width:49%;
    margin-bottom:30px;
  }
  textarea {
    min-height:300px;
    height: 100% !important;
  }
}
