div.bbcode {
  white-space: pre-wrap;
  h2.bb {
    margin-bottom:0px !important;
    font-family: $font-primary;
    font-weight: bold;
    @include font-size-primaryFont('larger');
  }
  h3.bb {
    font-family: $font-primary;
    margin-bottom:0px !important;
    @include font-size-primaryFont('large');
  }
  ul, ol {
    white-space: normal;
    margin-left: 20px;
  }
  img {
    max-width: 230px;
  }
  .entryImgUploads {
    @include cf;
    margin-bottom: 0px;
    margin-top: 0px;
    white-space: normal;
    img {
      max-width: 153px;
    }
  }
  .imgtxt {
    @include cf;
    white-space: normal;
    span {
      display: block;
      clear: both;
      margin-top:20px;
    }
    @include respond-to(">=medium") {
      img {
        float:left;
        margin-right:15px;
        margin-top:5px;
      }
      span {
        display: inline;
        clear: none;
        margin-top:0px;
      }
    }
  }
}
