.bigicontext-element {
  display: flex;
  height: 75px;
  min-width: 75px;
  background-size: 75px 75px;
  background-image: url(image_path('svg/kringel-grey-mint.svg'));
  background-repeat: no-repeat;
  color: $color-ambient-mint-dark;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  .svg-icons {
    width:65px;
    height:65px;
    margin-left: 5px;
  }
  .icon, .mapthumb {
    width: 50px;
    height: 50px;
    flex: none;
    margin-left: 12px;
    display: block;
  }
  img {
    width: 62px;
    height: 62px;
    margin-left: 7px;
  }
  .img-round {
    border: 0;
  }
  .txt {
    font-family: $font-tertiary;
    margin-left: 16px;
    a {
      color: $color-ambient-mint-dark;
      text-decoration: none;
    }
    a:hover {
      color: $color-ambient-mint-dark;
      text-decoration: underline;
    }
  }
  .icon-shopping-bag {
    margin-top: -7px;
  }

  &.-badge {
    @include font-size-secondaryFont('base');
    color: $color-ambient-mint;
    text-shadow: 1px 1px $color-ambient-mint-dark;
    display: inline-flex;
    justify-content: center;
  }

  &.-large {
    height: 105px;
    min-width: 105px;
    background-size: 105px 105px;
    .icon {
      width: 65px;
      height: 65px;
      margin-left: 20px;
    }
    &.-badge {
      @include font-size-secondaryFont('medium');
    }
  }
  &.-small {
    height: 50px;
    min-width: 50px;
    background-size: 50px 50px;
    .icon {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }
    img {
      width:42px;
      height:42px;
      margin:4px;
      margin-right:-4px;
    }
  }
}
