.bigicontext-element {
  display: flex;
  height: 75px;
  min-width: 75px;
  background-size: 75px 75px;
  background-image: url(image_path('svg/kringel-rosa.svg'));
  background-repeat: no-repeat;
  color: $color-ambient-mint-dark;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  [class^=icon-], .mapthumb {
    width: 50px;
    height: 50px;
    flex: none;
    margin-left: 12px;
    display: block;
  }
  .txt {
    font-family: $font-tertiary;
    margin-left: 16px;
  }
  .icon-shopping-bag {
    margin-top: -7px;
  }
}