@mixin btn(
  $btnBackground: $color-ambient-rosa,
  $btnFontColor: $color-background-bright,
  $btnTexture: $texture-primary,
  $btnSize: normal)
{
  position: relative;
  font-family: $font-primary;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
  color: $btnFontColor;
  background-image: $btnTexture;
  background-color: $btnBackground;
  display: block;
  text-decoration: none;
  line-height: 1;
  &:hover {
    background-color: $color-ambient-mint;
  }
  @if ($btnSize == 'normal') {
    padding: 1rem 1.2rem;
    font-size: 1rem;
  }
  @else if ($btnSize == 'small') {
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
  }
  @else if ($btnSize == 'large') {
    padding: 1.4rem 1.6rem;
    font-size: 1.2rem;
  }
}

.btn-primary {
  @include btn;
  &:hover {
    background-color: $color-ambient-mint;
  }
}
.btn-secondary {
  @include btn($btnBackground: $color-background-bright, $btnTexture: none, $btnFontColor: $color-ambient-rosa);
  border: 2px solid lighten($color-ambient-rosa, 10);
}

.btn-userCallToAction {
  @include btn;
  @include ellipsis;
  box-shadow: $boxShadow;
  padding: 0.4rem 1.2rem 0.4rem 0.8rem;
  font-style: italic;
  font-size: 1.2rem;
  text-shadow: 1px 1px $color-font-primary;
  span {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .img-round {
    margin-right: 0.8rem;
    border-color: $color-ambient-rosa-dark;
  }
  &:hover {
     .img-round {
      border-color: $color-ambient-mint-dark;
    }
  }
}

.nav-btnBar {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  button, a {
    margin-left: 1rem;
    display: inline-block;
    flex: 0 0 auto;
    &:first-child {
      margin-left: 0;
    }
  }
}


