.btn-primary,
.btn-secondary {
  position: relative;
  font-family: $font-primary;
  border-radius: 0.2em;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-style: italic;
  padding: 1.4rem 2.0rem;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  &.-inlineflex {
    display: inline-flex;
  }
  &.-flex {
    display: flex;
    align-items: center;
  }
  &.-ico {
    display: flex;
    align-items: center;
    svg {
      width:22px; height:22px;
      margin-right:8px;
    }
  }
  &:hover {
    opacity: 0.9;
  }

  &.-small {
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
  }
  &.-large {
    padding: 1.8rem 2.8rem;
    font-size: 2.2rem;
  }

  &.-shadow {
    transition: box-shadow 0.1s;
  }

  &.-rose {
    &.-shadow {
      box-shadow: 2px 2px $color-ambient-rosa-dark;
      &:hover {
        box-shadow: 5px 5px $color-ambient-rosa-dark;
      }
    }
  }
  &.-mint {
    &.-shadow {
      box-shadow: 2px 2px $color-ambient-mint-dark;
      &:hover {
        box-shadow: 5px 5px $color-ambient-mint-dark;
      }
    }
  }
  &.-grey {
    &.-shadow {
      box-shadow: 2px 2px $color-ambient-grey;
      &:hover {
        box-shadow: 5px 5px $color-ambient-grey;
      }
    }
  }

  &.-disabled, &[disabled] {
    background-color: lighten($color-ambient-grey,10);
    cursor: none;
    pointer-events: none;
  }

}

.btn-primary {
  color: #ffffff;
  background-image: $texture-primary;
  background-color: $color-ambient-rosa;
  &.-rose {
    background-color: $color-ambient-rosa;
  }
  &.-mint {
    background-color: $color-ambient-mint;
  }
  &.-grey {
    background-color: $color-ambient-grey;
  }
}

.btn-secondary {
  padding: 1.2rem 1.8rem; // Try fix for same height like btn-primary
  background-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-color: $color-ambient-rosa;
  color: $color-ambient-rosa;
  &.-rose {
    border-color: $color-ambient-rosa;
    color: $color-ambient-rosa;
  }
  &.-mint {
    border-color: $color-ambient-mint;
    color: $color-ambient-mint;
  }
  &.-grey {
    border-color: $color-ambient-grey;
    color: $color-ambient-grey;
  }
  &.-disabled, &[disabled] {
    border-color: lighten($color-ambient-grey,10);
    color: lighten($color-ambient-grey,10);
    background-color: transparent;
  }
}


.btn-userCallToAction {
  @extend .btn-primary;

  &.-mint {
    background-color: $color-ambient-mint;
    box-shadow: 2px 2px $color-ambient-mint;
  }
  &.-grey {
    background-color: $color-ambient-grey;
    box-shadow: 2px 2px $color-ambient-grey;
    .img-round {
      border-color: $color-ambient-grey;
    }
  }

  transition: box-shadow 0.1s;
  background-color: $color-ambient-rosa;
  box-shadow: 2px 2px $color-ambient-rosa-dark;

  font-style: italic;
  text-shadow: 1px 1px $color-font-primary;
  span {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .img-round {
    width: 40px;
    height: 40px;
    margin-right: 0.8rem;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    border-color: $color-ambient-rosa-dark;
  }
  &:hover {
    background-color: $color-ambient-mint;
    box-shadow: 5px 5px $color-ambient-mint-dark;
    .img-round {
      border-color: $color-ambient-mint-dark;
    }
  }
  .icon:last-child {
    margin-left: 10px;
  }
}


.btn-userIcons {
  @extend .btn-primary;
  //padding: 1.2rem 2.0rem;
  display: inline-flex;
  justify-content: center;
  span {
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  .img-round {
    width: 40px;
    height: 40px;
    margin-right: 0.8rem;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    border-color: $color-ambient-rosa-dark;
  }
  &:hover {
    .img-round {
      border-color: $color-ambient-rosa-dark;
    }
  }

  &.-mint {
    .img-round {
      border-color: $color-ambient-mint-dark;
    }
    &:hover {
      .img-round {
        border-color: $color-ambient-mint-dark;
      }
    }
  }

  &.-grey {
    .img-round {
      border-color: $color-font-primary;
    }
  }
  .icon {
    width:20px;
    height:20px;
  }
  span {
    .icon:last-child {
      margin-left: 10px;
    }
  }
  span.ico-left {
    .icon {
      margin:0px;
      margin-right:8px;
    }
  }
  span.ico-right {
    .icon {
      margin:0px;
      margin-left:8px;
    }
  }
}

.btn-destroy {
  cursor: pointer;
  background-color: transparent;
  font-family: $font-primary;
  font-size: 14px;
  font-style: italic;
  color: $color-ambient-grey;
  padding: 8px;
  border: 1px solid $color-ambient-grey-light;
}

.btn-secondary, .btn-primary {
  &.-state-enabled, &.-state-disabled, &.-state-occupied {
    white-space: nowrap;
    overflow: hidden;
    span {font-weight: bold;}
  }
  &.-state-enabled span {
  }
  &.-state-disabled span {
    color:$color-ambient-orange;
  }
  &.-state-occupied span {
  }
}
.close-ico {
  border:none;
  background: none;
  position: absolute;
  top: -9px;
  right: -9px;
  svg {
    color:$color-ambient-mint;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
  }
}
.close-ico:hover {
  svg {
    color:$color-ambient-rosa;
    opacity: 1.0;
    cursor: pointer;
  }
}
