.calendarSheet {
  background-color: $color-ambient-rosa-light;
  color: $color-ambient-rosa-dark;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  line-height: 1;
  padding: 14px 0 4px 0;
  width: 50px;
  position: relative;
  .day {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .month {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
  }
  &:before, &:after {
    content: '';
    height: 10px;
    width: 50%;
    position: absolute;
    top: 0;
  }
  &:before {
    background-color: $color-ambient-rosa;
    left: 0;
  }
  &:after {
    background-color: $color-ambient-rosa-dark;
    right: 0;
  }
  &.-mint {
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
    &:before {
      background-color: $color-ambient-mint;
    }
    &:after {
      background-color: $color-ambient-mint-dark;
    }
  }
  &.-additionalDate {
    position: absolute;
    left:60px;
    min-height:48px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-size-primaryFont('small');
    font-style: italic;
  }
}
