.calendarSheet {
  background-color: $color-ambient-rosa-light;
  color: $color-ambient-rosa-dark;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  line-height: 1;
  padding: 14px 0 4px 0;
  width: 50px;
  position: relative;
  z-index: 1;
  .day {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .month {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
  }
  &:before, &:after {
    content: '';
    height: 10px;
    width: 50%;
    position: absolute;
    top: 0;
  }
  &:before {
    background-color: $color-ambient-rosa;
    left: 0;
  }
  &:after {
    background-color: $color-ambient-rosa-dark;
    right: 0;
  }
  &.-mint {
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
    &:before {
      background-color: $color-ambient-mint;
    }
    &:after {
      background-color: $color-ambient-mint-dark;
    }
  }
  &.-endDate {
    position: absolute;
    left:60px;
    z-index: 1;
  }
}
.date-badge, .till-badge {
  position: absolute;
  font-family: $font-primary;
  background-color: #fdfdfe;
  color: $color-ambient-rosa-dark;
  border-radius: 15px;
  line-height: 1;
  font-size: 12px;
  padding: 5px;
  z-index: 9;
  font-style: italic;
}
.date-badge {
  top:-1px;
  left: 41px;
}
.-past .date-badge {
  color: $color-ambient-grey;
}
.till-badge {
  top: 20px;
  left: 45px;
}
