.card-slider-container {
  margin-bottom: 40px;
  margin-left:15px;
  margin-right: 15px;
  @include respond-to(">=medium") {
    margin-left:10px;
    margin-right: 10px;
  }
  @include respond-to(">=large") {
    margin-left:-10px;
    margin-right: -40px;
  }
  .text {
    text-align: center;
    font-style: italic;
    position: relative;
    z-index: 2;
    @include font-size-primaryFont('larger');
  }
}
.category-slider-container.loading {
  background-image: url(image_path('svg/loading.svg'));
  background-repeat: no-repeat;
  background-position: center center;
}

.category-slider-container {

  .lSSlideWrapper {
    text-align: -webkit-center;
  }
  position: relative;
  margin-bottom: 30px;
  padding-top:10px;

  @include respond-to(">=medium") {
    margin-bottom: 70px;
    .filter-line {
      width: 100%;
      height: 13px;
      position: absolute;
      bottom: -45px;
      left: 0;
      background-image: url(image_path('svg/filter-line.svg'));
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }

  @include respond-to(">=large") {
    width:978px;
    margin-left:-14px;
    margin-right:-34px;
  }

  .-category {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    @supports not (-ms-high-contrast: none) {
      /* Non-IE styles here */
      display: flex;
    }

    .categoryImg {
      width:100%;
      height:100%;
      max-height: 400px;
      opacity: .7;
      border-radius: 10px;
    }

    &.hover {
      cursor: pointer;
      .categoryImg {
        opacity: 1.0;
      }
      h3 {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1.0)
        );
      }
    }

    .close-ico {
      display: none;
      top:2px;
      right:3px;
      svg {opacity: 1.0;}
    }

    &.activated {
      cursor: pointer;
      img {
        opacity: 1.0;
      }
      h3 {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1.0)
        );
      }
      .close-ico {
        display: block;
      }
      .cat, .catimg {
        width: 85px;
        height: 85px;
        @include respond-to(">=medium") {
          width: 100px;
          height: 100px;
        }
      }
    }

    h3 {
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 120px;
      width: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      margin-bottom:-10px;
      justify-content: center;
      text-align: center;
      color: white;
      @include font-size-primaryFont('medium');
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7)
      );
      a {
        display: contents;
        text-decoration: none;
        color: white;
      }
      a:hover {text-decoration: none;}
    }
    .cat, .catimg {
      width: 65px;
      height: 65px;
      @include respond-to(">=medium") {
        width: 85px;
        height: 85px;
      }
    }
    .cat {
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;

    }
  }
}

.category-slider-container + .-open {
  margin-top: -20px;
}

.card-grid-container {

  min-height: 150px;
  @include respond-to(">=large") {
    margin-left: -40px;
    margin-right: -70px;
  }

  .card-grid {
    @include cf();
    margin: auto;

    .cardBox, .cardbox-wrp {
      width: 310px;
      margin-bottom: 24px;
      float: left;
      margin-right: 24px;
    }

    .no-results-box {
      @include font-size-primaryFont();
      color: $color-ambient-grey;
      display: table;
      margin: 0 auto;
      min-width: 204px;
      height: 175px;
      background-image: url(image_path('illu/schaukler-message-empty.png'));
      background-repeat: no-repeat;
      background-position: center bottom;
      padding-top: 30px;
      text-align: center;
      @include respond-to(">=medium") {
        text-align: left;
        background-position: right top;
        padding: 40px 120px 0 0;
      }
    }
  }

  .action-card-container { display: none; }

  .link-load {
    @extend .btn-secondary;
    @include respond-to(">=large") {
      width: 590px;
      margin-left: 200px;
      margin-top: 20px;
    }
  }

}

.cards-filter .filter-selection-text-jbox {
  text-align: center;
  font-style: italic;
  position: relative;
  z-index: 2;

  @include font-size-primaryFont('larger');

  a {
    text-decoration: none;
    color: $color-ambient-mint-dark;
    background-color: $color-ambient-grey-light;
    border-radius: 20px 14px 20px 14px;
    padding: 0 10px;
  }

  a:hover:not(.category-slider-label) {
    color: $color-ambient-grey-light;
    background-color: $color-ambient-rosa;
  }

  a.category-slider-label {
    cursor:default;
  }

}

.filter-modal, .filter-modal-jbox, .filter-modal-jbox-areas {

  display: none;

  .filter-input-graetzl, .select-all, .filter-input-favorites {
    border-bottom: 1px solid $color-ambient-mint-light;
    font-style: italic;
  }

  .filter-button { margin-top: 20px; }
  .district-select-input { margin-bottom: 15px; margin-top:10px;}
  .graetzl-select-input { margin-bottom: 245px; }

  .reset-button {
    margin-top: 20px;
    background-color: $color-ambient-grey;
  }

  .filter-actions {
    display: flex;
    .reset-button { margin-right:10px; }
  }

  .search-txt { font-size: 1.6rem; }
  .SumoSelect .select-all { height: 40px; }
  .SumoSelect > .optWrapper > .options li.opt.disabled { display: none; }

  .filter-room-options {
    border-top: 1px solid $color-ambient-grey-light;
    margin-top:10px;
    padding-top:10px;
  }

}

.filter-areas {
  @include respond-to(">=medium") {
    .areas-list {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      .filter-input {
        display: inline-block;
        width: 100%;
        label {
          @include ellipsis();
        }
      }
    }
  }
  .filter-input-favorites {
    label { display: inline-block; }
  }
}
