
.meetingBoxCollection, .cardBoxCollection {
  @include cf();
  @include respond-to(">=large") {
    margin-left: -25px;
    margin-right: -25px;
  }
  .meetingBox, .cardBox, .paperCard {
    display: block;
    margin-bottom: 25px;
  }

  .cardbox-wrp:only-child {
    margin: 0 auto;
    float: none;
  }

  &.-double {
    > * {
      @include respond-to(">=large") {
        @include col(1/2, $gutter: 2, $cycle: 2);
      }
    }
  }

  &.-tripple {
    > * {
      @include respond-to(">=medium") {
        @include col(1/2, $cycle: 2, $gutter: 1.5);
      }
      @include respond-to(">=large") {
        @include col(1/3, $cycle: 3, $uncycle: 2, $gutter: 1.5);
      }
    }
  }

  &.-quart {
    > * {
      margin-bottom: 30px;
      @include respond-to(">=medium") {
        @include col(1/2, $cycle: 2);
      }
      @include respond-to(">=large") {
        @include col(1/4, $gutter: 1, $uncycle: 2);
        margin-bottom: 0;
      }
    }

    .coverImg {
      @include respond-to(">=large") {
        min-height: 132px;
      }
    }

    .meetingBox, .cardBox {
      padding-bottom: 15px;
      h3 {
        @include font-size-primaryFont('large');
        &:first-child {
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }

    h3 + .txt {
      display: none;
    }

  }
}

.wrp-cardBox, .cardbox-wrp {
  position: relative;
  h2:first-child {
    @include font-size-secondaryFont('small');
    color: $color-ambient-mint-dark;
    margin-left: 12px;
    margin-bottom: 4px;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .link-more {
    margin: 0 auto;
    display: table;
    margin-top: 10px;
    @include respond-to(">=medium") {
      margin-left: auto;
      margin-right: 10px;
    }
  }
  .linkoverview {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 13px;
    color: $color-ambient-mint;
    border-left: 1px dotted $color-ambient-mint;
    padding-left: 8px;
    cursor: pointer;
    &:hover {
      color: $color-ambient-rosa;
      text-decoration: underline;
    }
  }
}

.meetingBox, .cardBox {
  border: 1px solid $color-ambient-grey-light;
  background-color: #ffffff;
  padding: 8px 16px 20px 16px;
  border-radius: 8px;
  position: relative;
  h3 {
    @include font-size-primaryFont('larger');
    margin-bottom: 15px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .txt {
    @include font-size-primaryFont('base');
    margin-bottom: 15px;
    position: relative;
  }

  .medalBadge {
    position: absolute;
    bottom: -25px;
    right: 7px;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 10px;
  }

}


.cardBox[class*=-illu] {
  background-repeat: no-repeat;
  background-image: url(image_path('illu/illu-cylce-straight@2x.png'));
  background-position: center top 15px;
}

//TODO: make a small variant for 4column views
.cardBox.-illuteaser {
  padding-top: 188px;
  background-size: auto 180px;
}
.cardBox.-illuteasersmall {
  padding-top: 177px;
  background-size: auto 170px;
}



.meetingBoxHeader, .cardBoxHeader {
  position: relative;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 3.5rem;
  .coverImg {
    width: 100%;
    border-radius: 4px;
    display: block;
    @include respond-to(">=large") {
      min-height: 180px;
    }
  }
  .sideflag {
    position: absolute;
    bottom: -10px;
    right: -20px;
  }
  .initiator {
    position: absolute;
    bottom: -22px;
    left: 5px;
    img {
      vertical-align: bottom;
      position: relative;
      bottom: 0;
      left: 0;
    }
    span {
      color: $color-ambient-mint-dark;
      font-size: 1.4rem;
      margin-bottom: 10px;
      vertical-align: bottom;
    }
  }
  .calendarSheet {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .participantsCountSmall {
    position: absolute;
    top: -4px;
    padding-right: 4px;
    right: 0;
    color: $color-ambient-rosa;
  }

  .categoryicon {
    position: absolute;
    top: -4px;
    right: 0;
    background-color: #ffffff;
    padding: 6px 6px;
    border-radius: 0 0 0 5px;
    color: $color-ambient-rosa;
  }

}

.cardBox.-location {

  .cardBoxHeader {
    margin-bottom: 20px;
  }

  .sideflag {
    bottom: auto;
    top: 20px;
  }

  .location-shortfacts {
    z-index: 8;
    background-color: rgba(255,255,255,0.80);
    margin-top: -60px;
  }

  .slogan {
    margin-bottom: 15px;
    font-style: italic;
    padding-left: 15px;
    border-left: 1px dotted $color-ambient-grey;
  }

  .category {
    margin-bottom: 13px;
  }

  .img-square {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    img {
      display: block;
    }
  }

}

.cardBox.-location.-small {

  .location-shortfacts {
    background-color: transparent;
    margin-top: -36px;
  }

  .cardBoxHeader {
    margin-bottom: 4px;
  }

  .slogan {
    border-left: none;
    padding-left: 0;
    font-style: normal;
  }

}


