@mixin cardBox-horizontal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .cardBoxHeader {
    flex: 0 0 49%;
    margin: 0;
  }
  .cardBoxContent {
    flex: 0 0 49%;
    margin: 0;
  }
  .avatar-block {
    margin-top: 0;
  }
  .zuckerlteasertxt .title {
    border-radius: 0 4px 4px 0;
  }
}

.usersetup .cardBox.-disabled .cardBoxHeader {
  filter: grayscale(70%);
  opacity: 0.3;
}


.cardBox {
  border: 1px solid $color-ambient-grey-light;
  background-color: #ffffff;
  padding: 14px;
  border-radius: 8px;
  position: relative;

  // -------------------------- Zuckerl Cardbox
  &.-zuckerl {
    .btn-userIcons {
      width:100%;
      border-radius: 0px 0px 6px 6px;
      background-color: $color-ambient-rosa-dark;
      border-top: 1px dotted $color-ambient-rosa-dark;
      svg {
        margin-right:8px;
      }
    }
    .zuckerlteasertxt {
      &:hover, &:active {
        opacity: 1;
        cursor: auto;
      }
    }
  }

  // -------------------------- Room Demand Cardbox
  &.-roomdemand, &.-coopdemand {
    .category-tags {
      position: absolute;
      top:4px;
      right:0px;
    }
  }

  &.-coopdemand {
    .categoryicon {
      svg {
        //fill: $color-ambient-rosa;
        width:50px;
        height: 50px;
      }
    }
  }

  // -------------------------- Group Cardbox
  &.-group {
    a.title {
      font-weight: bold;
    }
    p.infos {
      display: none;
    }
    .users {
      margin-top:10px;
      margin-bottom:10px;
      display: flex;
      align-items: flex-end;
      flex-wrap:wrap;
      span {
        @include font-size-primaryFont('small');
        font-style: italic;
      }
      .img-round {
        margin-right:6px;
        margin-bottom:6px;
      }
    }
    .slogan {
      strong {
        font-weight: normal;
      }
    }
  } // Group Cardbox

  // -------------------------- Group Discussion CardBox
  &.-discussion {
    .avatarImg {
      .img-round {
        width:80px;
        height:80px;
        margin-right: 0px;
      }
    }
    .name {
      font-weight: normal;
    }
    .infos {
      font-style: italic;
    }
    .txt .commentslink {
      text-decoration: none;
      color: $color-ambient-brown;
      @include font-size-primaryFont('base');
      margin-top: 0px;
      margin-left:0px;
      &:hover {
        text-decoration: underline;
      }
    }
  } // Group Cardbox

  .entryInitialContent {
    margin-bottom: 0px;
  }

  .btn-group, {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    .btn-secondary {
      width: 48%;
    }
    .btn-primary, .-invoice {
      float: left;
      width: 100%;
      margin-top: 10px;
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .btn-secondary {
        width:100%;
      }
      .btn-secondary:first-of-type {margin-right:5px;}
      .btn-secondary:last-of-type {margin-left:5px;}
      .btn-secondary:only-child {margin:0px;}
    }
  }

}

.card-grid .btn-userIcons,
.card-slider-container .btn-userIcons,
.block-groups .btn-userIcons,
.cardBoxCollection .btn-userIcons {
  display: flex;
}

.cardBoxHeader {
  position: relative;
  margin: -6px -6px 20px;

  // this tag should always be around the coverImg
  .coverImgWrapper { height: 220px; }
  .coverImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
  }
  .sideflag {
    position: absolute;
    bottom: -10px;
    right: -20px;
  }
  .sideflag .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .calendarSheet, .priceSheet {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .participantsCountSmall {
    position: absolute;
    top: -4px;
    padding-right: 4px;
    right: 0;
    color: $color-ambient-rosa;
  }
  .categoryicon {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #ffffff;
    padding: 6px 6px;
    border-radius: 0 0 0 5px;
    color: $color-ambient-mint;
    .icon-shop, .icon-zuckerl {
      color: $color-ambient-rosa;
    }
    .count {
      text-align: center;
      font-size: 13px;
    }
    &.sticky {
      color:$color-ambient-rosa;
    }
    &.-call {
      &.-open {
        top: 0px;
        right: 0px;
        background-color: $color-ambient-rosa;
        color:white;
        span {
          font-weight:bold;
        }
      }
    }
  }
}

// -------- Cardbox Content
.cardBoxContent {

  a.typelink {text-decoration: none !important;}
  a.typelink:hover {text-decoration: none !important;}

  .type-description {
    color: $color-ambient-rosa;
    font-style: italic;
    padding: 10px 0px 15px 0px;
  }

  &.-roomdemand, &.-coopdemand, &.-tooldemand {
    .type-description {
      padding-top: 0px;
      margin-top:-10px;
    }
  }

  &.-roomoffer {
    .slogan {
      margin-top: 5px;
    }
  }

  &.-roomoffer, &.-roomdemand {

    .slogan {
      font-style: normal;
      font-weight: 600;
    }

    .collaboration, .waiting-list, .slot-booking {
      color: $color-ambient-brown;
      margin: 0px -3px 1px -3px;
      padding: 5px;
      background-color: $color-ambient-pink;
      &:last-child {
        margin-bottom: 0;
      }
      + .streamElement, + .btn-group {
        margin-top: 20px;
      }
    }
    .waiting-list {
      background-color: $color-ambient-mint-light;
    }

  }


  .tool-usage-period {
    margin: 0px 0px 15px 0px;
    padding: 5px;
    text-decoration: none;
    font-style: italic;
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
    display: flex;
    align-items: center;
    + .streamElement {
      margin-top: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .updateteaser, .zuckerlteasertxt, .event-teaser-box, .basic-message-box, .goodieteasertxt {
    display: block;
    padding: 10px 15px;
    border-left-width: 1px;
    border-left-style: dotted;
    text-decoration: none;
    > .hl, > .date {
      margin: 0 auto;
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      font-size: 13px;
      .icon {
        margin-right: 6px;
      }
    }
    > .title {
      margin-bottom: 10px;
      font-weight: 600;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover, &:active {
      opacity: 0.90;
      cursor: pointer;
    }
  }

  .updateteaser {
    border-color: $color-font-primary;
    color: $color-font-primary;
    /* Hide Sag Hallo wenn anderer Content vorhanden */
    ~ a.basic-message-box {
      display: none;
    }
    + .streamElement {
      margin-top: 10px;
      margin-left: 15px;
    }
  }
  .zuckerlteasertxt {
    border-color: $color-ambient-rosa-dark;
    background-color: rgba($color-ambient-rosa-light, 0.4);
    color: $color-ambient-rosa-dark;
    .description {
      white-space: pre-wrap;
      overflow: hidden;
    }
  }
  .goodieteasertxt {
    border-color: #cd891b;
    background-color: #FEF6DF;
    color: #cd891b;
    svg {margin-top: -5px;}
    .title {
      font-weight:normal;
    }
    .hl {
      font-weight:bold;
    }
  }
  .event-teaser-box {
    border-color: $color-ambient-mint-dark;
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
    /* Hide Sag Hallo wenn anderer Content vorhanden */
    ~ a.basic-message-box {
      display: none;
    }
  }
  .basic-message-box {
    border-color: $color-ambient-mint-dark;
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
  }

  .itemstate {
    .state {
      font-weight: 600;
      font-size: 13px;
      margin-top: 15px;
    }
    .txt {
      font-size: 13px;
      margin-bottom: 15px;
    }
    svg {
      float:right;
      fill: $color-ambient-rosa;
    }
  }

  .streamElement .txt {
      margin-top:0px;
      margin-left: 45px;
  }

  > .txt {
    margin-bottom: 20px;
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    h3 a {
      @include font-size-primaryFont('larger');
      margin-bottom: 10px;
      color: inherit;
      text-decoration: none;
    }
    p {
      @include font-size-primaryFont('base');
      margin-bottom: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .slogan {
    margin-bottom: 15px;
    font-style: italic;
    padding-left: 15px;
    border-left: 1px dotted $color-ambient-grey;
  }

  .userCreateInfo .img-round {
    width: 35px;
    height: 35px;
    padding: 1px;
  }

  .commentslink {
    color: $color-ambient-rosa;
    font-size: 13px;
    text-decoration: none;
    margin-top: 8px;
    margin-left: 45px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }

  > .btn-primary {
    margin-bottom: 20px;
  }

  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 10px;
  }

}
.cardBoxContent .initiator {
  margin: -47px 0 15px 0;
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-ambient-mint-dark;
  white-space: nowrap;
  img {
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .img-square {
    margin-right: 4px;
  }
  span {
    color: $color-ambient-mint-dark;
    font-size: 1.4rem;
    margin-bottom: 10px;
    vertical-align: bottom;
  }
}
.cardBoxContent .avatar-block {
  z-index: 8;
  position: relative;
  background-color: rgba(255,255,255,0.80);
  display: flex;
  align-items: flex-start;
  margin: -81px -10px 15px -10px;
  padding: 10px 10px 0 10px;
  .name {
    font-weight: 600;
    color: $color-ambient-rosa;
  }
  .avatarImg {
    display: block;
    flex: 0 0 auto;
    margin-right: 10px;
  }
  .typetxt {
    overflow: hidden;
    min-width: 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .img-square {
    width: 80px;
    height: 80px;
    display: block;
  }
  .name {
    display: block;
    @include ellipsis();
  }
  .category {
    @include ellipsis();
    margin-bottom: 12px;
  }
  .address, .infos {
    @include ellipsis();
    font-size: 13px;
    color: $color-ambient-mint-dark;
    span {
      color: $color-ambient-rosa;
      border-left: 1px dotted $color-ambient-grey;
      padding-left: 8px;
      margin-left: 8px;
    }
    .icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
  &.-below {
    background: none;
    margin-bottom: 0px;
    .type-description {
      margin-top: 47px;
    }
  }
}

.-discussion .cardBoxHeader {
  .coverImgWrapper {
    height:180px;
  }
  .categoryicon {
    display: flex;
    sup {
      font-style: italic;
    }
  }
  .sideflag {
    width:60%;
  }
}
.-discussion .cardBoxContent {
  .avatar-block {
    align-items: flex-end;
    margin-top: -62px;
    background: none;
  }
  > .txt {
    margin-left:5px;
  }
  .userAndType {
    a {
      color: $color-ambient-mint-dark;
    }
  }
}


// TODO: we should not need this -illustuff after new versions of startpages
.cardBox[class*=-illu] {
  background-repeat: no-repeat;
  background-image: url(image_path('illu/illu-cylce-straight@2x.png'));
  background-position: center top 15px;
}

.cardBox.-illuteaser {
  padding-top: 188px;
  background-size: auto 180px;
}

.cardBox.-zuckerl .sideflag,
.cardBox.-location .sideflag {
  bottom: 53px;
  z-index: 10;
}

.cardBox.-meeting.-past {
  .calendarSheet {
    filter: grayscale(1);
    opacity: 0.75;
  }
}

// Featured CardBoxes
.cardBox.featuredCard {
  &.-hidden {
    display:none;
  }
  &.-static {
    .cardBoxContent {
      p {
        margin-top:10px;
      }
    }
  }
  &.-mentoring {
    .categoryicon {
      padding-bottom:0px;
      img {
        width:50px;
        height: 50px;
      }
    }
    .coverImgWrapper { height: 200px; }
  }
  &.-featured {
    .coverImgWrapper { height: 200px; }
    .coverImg {object-fit: contain;}
    a.btn-primary {background-color: #f2dd39; color: $color-font-primary}
  }
  &.-voting {
    a.btn-primary {background-color: #f8eb64; color: $color-font-primary;}
  }
  &.-crowdfunding {
    .coverImgWrapper { height: 240px; }
    a.btn-primary {background-color: #f37164; color: #fff;}
  }
}
.homeRegion {
  .cardBox.featuredCard {
    &.-hidden {
      display:block;
    }
  }
}

// Adaptions for CardBoxes in Slider
.lightSliderWrapper {
  .cardBox {
    &.-group {
      .slogan {
          display: none;
      }
      .users {
        img {
          @include respond-to("<=medium") {
            margin-right:5px;
          }
        }
      }
    }
  }
}
