.card-slider-container {
  margin-bottom: 40px;
  margin-left:15px;
  margin-right: 15px;
  @include respond-to(">=medium") {
    margin-left:10px;
    margin-right: 10px;
  }
  @include respond-to(">=large") {
    margin-left:-10px;
    margin-right: -40px;
  }
  .text {
    text-align: center;
    font-style: italic;
    position: relative;
    z-index: 2;
    @include font-size-primaryFont('larger');
  }
}
.category-slider-container.loading {
  background-image: url(image_path('svg/loading.svg'));
  background-repeat: no-repeat;
  background-position: center center;
}

.category-slider-container {

  .lSSlideWrapper {
    text-align: -webkit-center;
  }
  position: relative;
  margin-bottom: 30px;
  padding-top:10px;

  @include respond-to(">=medium") {
    margin-bottom: 70px;
    .filter-line {
      width: 100%;
      height: 13px;
      position: absolute;
      bottom: -45px;
      left: 0;
      background-image: url(image_path('svg/filter-line.svg'));
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }

  @include respond-to(">=large") {
    width:978px;
    margin-left:-14px;
    margin-right:-34px;
  }

  .-category {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    @supports not (-ms-high-contrast: none) {
      /* Non-IE styles here */
      display: flex;
    }

    picture {
      display: inline-flex; // for webp container
    }

    .categoryImg {
      width:100%;
      height:100%;
      max-height: 400px;
      opacity: .7;
      border-radius: 10px;
    }

    &.hover {
      cursor: pointer;
      .categoryImg {
        opacity: 1.0;
      }
      h3 {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1.0)
        );
      }
    }

    .close-ico {
      display: none;
      top:2px;
      right:3px;
      svg {opacity: 1.0;}
    }

    &.activated {
      cursor: pointer;
      img {
        opacity: 1.0;
      }
      h3 {
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1.0)
        );
      }
      .close-ico {
        display: block;
      }
      .cat {
        width: 85px;
        height: 85px;
        @include respond-to(">=medium") {
          width: 100px;
          height: 100px;
        }

        // Tools Categories
        &.category-1.-tools {
          background-image: url(image_path('svg/icon-kringel-gesundheit-active.svg'));
        }
        &.category-2.-tools {
          background-image: url(image_path('svg/icon-kringel-handwerk-active.svg'));
        }
        &.category-3.-tools {
          background-image: url(image_path('svg/icon-kringel-grafik-design-active.svg'));
        }
        &.category-4.-tools {
          background-image: url(image_path('svg/icon-kringel-event-active.svg'));
        }
        &.category-5.-tools {
          background-image: url(image_path('svg/icon-kringel-gastronomie-active.svg'));
        }
        &.category-6.-tools {
          background-image: url(image_path('svg/icon-kringel-technik-foto-active.svg'));
        }
        &.category-7.-tools {
          background-image: url(image_path('svg/icon-kringel-instrumente-active.svg'));
        }
        &.category-8.-tools {
          background-image: url(image_path('svg/icon-kringel-kunst-active.svg'));
        }
        &.category-9.-tools {
          background-image: url(image_path('svg/icon-kringel-deko-active.svg'));
        }
        &.category-10.-tools, &.-mobilitaet {
          background-image: url(image_path('svg/icon-kringel-transport-active.svg'));
        }

        // Rooms Categories
        &.-booking {
          background-image: url(image_path('svg/icon-kringel-kurzzeitmiete-active.svg'));
        }
        &.-arbeitsplatz {
          background-image: url(image_path('svg/icon-kringel-arbeitsplatz-active.svg'));
        }
        &.-atelier {
          background-image: url(image_path('svg/icon-kringel-atelier-active.svg'));
        }
        &.-bueroraum {
          background-image: url(image_path('svg/icon-kringel-bueroraum-active.svg'));
        }
        &.-coaching {
          background-image: url(image_path('svg/icon-kringel-coaching-active.svg'));
        }
        &.-coworking {
          background-image: url(image_path('svg/icon-kringel-coworking-active.svg'));
        }
        &.-gastro {
          background-image: url(image_path('svg/icon-kringel-gastro-active.svg'));
        }
        &.-geschaeftslokal {
          background-image: url(image_path('svg/icon-kringel-geschaeftslokal-active.svg'));
        }
        &.-popup {
          background-image: url(image_path('svg/icon-kringel-popup-active.svg'));
        }
        &.-praxis {
          background-image: url(image_path('svg/icon-kringel-praxis-active.svg'));
        }
        &.-proberaum {
          background-image: url(image_path('svg/icon-kringel-proberaum-active.svg'));
        }
        &.-seminarraum {
          background-image: url(image_path('svg/icon-kringel-seminarraum-active.svg'));
        }
        &.-veranstaltung {
          background-image: url(image_path('svg/icon-kringel-veranstaltung-active.svg'));
        }
        &.-werkstatt {
          background-image: url(image_path('svg/icon-kringel-werkstatt-active.svg'));
        }
        &.-yoga {
          background-image: url(image_path('svg/icon-kringel-yoga-active.svg'));
        }
        &.-sonstiges {
          background-image: url(image_path('svg/icon-kringel-sonstiges-active.svg'));
        }

        // Meetings Categories
        &.-special {
          background-image: url(image_path('svg/icon-kringel-sfs-active.svg'));
        }
        &.-feste {
          background-image: url(image_path('svg/icon-kringel-feste-active.svg'));
        }
        &.-tickets {
          background-image: url(image_path('svg/icon-kringel-tickets-active.svg'));
        }
        &.-markt {
          background-image: url(image_path('svg/icon-kringel-markt-active.svg'));
        }
        &.-essentrinken {
          background-image: url(image_path('svg/icon-kringel-essentrinken-active.svg'));
        }
        &.-nachbarschaft {
          background-image: url(image_path('svg/icon-kringel-nachbarschaft-active.svg'));
        }
        &.-klima {
          background-image: url(image_path('svg/icon-kringel-klima-active.svg'));
        }
        &.-kultur {
          background-image: url(image_path('svg/icon-kringel-kultur-active.svg'));
        }
        &.-weiterbildung {
          background-image: url(image_path('svg/icon-kringel-weiterbildung-active.svg'));
        }
        &.-wohlbefinden {
          background-image: url(image_path('svg/icon-kringel-wohlbefinden-active.svg'));
        }
        &.-hobby {
          background-image: url(image_path('svg/icon-kringel-hobby-active.svg'));
        }
        &.-teens {
          background-image: url(image_path('svg/icon-kringel-teens-active.svg'));
        }

        // Locations Categories
        &.-onlineshop {
          background-image: url(image_path('svg/icon-kringel-onlineshop-active.svg'));
        }
        &.-goodie {
          background-image: url(image_path('svg/icon-kringel-goodie-active.svg'));
        }
        &.-startup {
          background-image: url(image_path('svg/icon-kringel-startup-active.svg'));
        }
        &.-oeffentlicher-raum {
          background-image: url(image_path('svg/icon-kringel-oeffentlicher-raum-active.svg'));
        }
        &.-lokaler-dienstleister {
          background-image: url(image_path('svg/icon-kringel-lokaler-dienstleister-active.svg'));
        }
        &.-kreativ-handwerk {
          background-image: url(image_path('svg/icon-kringel-kreativ-handwerk-active.svg'));
        }
        &.-institution {
          background-image: url(image_path('svg/icon-kringel-institution-active.svg'));
        }
        &.-verein {
          background-image: url(image_path('svg/icon-kringel-verein-active.svg'));
        }
        &.-spiritualitaet {
          background-image: url(image_path('svg/icon-kringel-spiritualitaet-active.svg'));
        }
        &.-handshake {
          background-image: url(image_path('svg/icon-kringel-sfs-active.svg'));
        }
        &.-kennenlernen {
          background-image: url(image_path('svg/icon-kringel-star-active.svg'));
        }

      }
    }

    h3 {
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 120px;
      width: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      margin-bottom:-10px;
      justify-content: center;
      text-align: center;
      color: white;
      @include font-size-primaryFont('medium');
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7)
      );
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {text-decoration: none;}
    }
    .cat {
      width: 65px;
      height: 65px;
      @include respond-to(">=medium") {
        width: 85px;
        height: 85px;
      }
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;

      // Tools Categories
      &.category-1.-tools {
        background-image: url(image_path('svg/icon-kringel-gesundheit.svg'));
      }
      &.category-2.-tools {
        background-image: url(image_path('svg/icon-kringel-handwerk.svg'));
      }
      &.category-3.-tools {
        background-image: url(image_path('svg/icon-kringel-grafik-design.svg'));
      }
      &.category-4.-tools {
        background-image: url(image_path('svg/icon-kringel-event.svg'));
      }
      &.category-5.-tools {
        background-image: url(image_path('svg/icon-kringel-gastronomie.svg'));
      }
      &.category-6.-tools {
        background-image: url(image_path('svg/icon-kringel-technik-foto.svg'));
      }
      &.category-7.-tools {
        background-image: url(image_path('svg/icon-kringel-instrumente.svg'));
      }
      &.category-8.-tools {
        background-image: url(image_path('svg/icon-kringel-kunst.svg'));
      }
      &.category-9.-tools {
        background-image: url(image_path('svg/icon-kringel-deko.svg'));
      }
      &.category-10.-tools, &.-mobilitaet {
        background-image: url(image_path('svg/icon-kringel-transport.svg'));
      }

      // Rooms Categories
      &.-booking {
        background-image: url(image_path('svg/icon-kringel-kurzzeitmiete.svg'));
      }
      &.-arbeitsplatz {
        background-image: url(image_path('svg/icon-kringel-arbeitsplatz.svg'));
      }
      &.-atelier {
        background-image: url(image_path('svg/icon-kringel-atelier.svg'));
      }
      &.-bueroraum {
        background-image: url(image_path('svg/icon-kringel-bueroraum.svg'));
      }
      &.-coaching {
        background-image: url(image_path('svg/icon-kringel-coaching.svg'));
      }
      &.-coworking {
        background-image: url(image_path('svg/icon-kringel-coworking.svg'));
      }
      &.-gastro {
        background-image: url(image_path('svg/icon-kringel-gastro.svg'));
      }
      &.-geschaeftslokal {
        background-image: url(image_path('svg/icon-kringel-geschaeftslokal.svg'));
      }
      &.-popup {
        background-image: url(image_path('svg/icon-kringel-popup.svg'));
      }
      &.-praxis {
        background-image: url(image_path('svg/icon-kringel-praxis.svg'));
      }
      &.-proberaum {
        background-image: url(image_path('svg/icon-kringel-proberaum.svg'));
      }
      &.-seminarraum {
        background-image: url(image_path('svg/icon-kringel-seminarraum.svg'));
      }
      &.-veranstaltung {
        background-image: url(image_path('svg/icon-kringel-veranstaltung.svg'));
      }
      &.-werkstatt {
        background-image: url(image_path('svg/icon-kringel-werkstatt.svg'));
      }
      &.-yoga {
        background-image: url(image_path('svg/icon-kringel-yoga.svg'));
      }
      &.-sonstiges {
        background-image: url(image_path('svg/icon-kringel-sonstiges.svg'));
      }

      // Meetings Categories
      &.-special {
        background-image: url(image_path('svg/icon-kringel-sfs.svg'));
      }
      &.-feste {
        background-image: url(image_path('svg/icon-kringel-feste.svg'));
      }
      &.-tickets {
        background-image: url(image_path('svg/icon-kringel-tickets.svg'));
      }
      &.-markt {
        background-image: url(image_path('svg/icon-kringel-markt.svg'));
      }
      &.-essentrinken {
        background-image: url(image_path('svg/icon-kringel-essentrinken.svg'));
      }
      &.-nachbarschaft {
        background-image: url(image_path('svg/icon-kringel-nachbarschaft.svg'));
      }
      &.-klima {
        background-image: url(image_path('svg/icon-kringel-klima.svg'));
      }
      &.-kultur {
        background-image: url(image_path('svg/icon-kringel-kultur.svg'));
      }
      &.-weiterbildung {
        background-image: url(image_path('svg/icon-kringel-weiterbildung.svg'));
      }
      &.-wohlbefinden {
        background-image: url(image_path('svg/icon-kringel-wohlbefinden.svg'));
      }
      &.-hobby {
        background-image: url(image_path('svg/icon-kringel-hobby.svg'));
      }
      &.-teens {
        background-image: url(image_path('svg/icon-kringel-teens.svg'));
      }

      // Locations Categories
      &.-onlineshop {
        background-image: url(image_path('svg/icon-kringel-onlineshop.svg'));
      }
      &.-goodie {
        background-image: url(image_path('svg/icon-kringel-goodie.svg'));
      }
      &.-startup {
        background-image: url(image_path('svg/icon-kringel-startup.svg'));
      }
      &.-oeffentlicher-raum {
        background-image: url(image_path('svg/icon-kringel-oeffentlicher-raum.svg'));
      }
      &.-lokaler-dienstleister {
        background-image: url(image_path('svg/icon-kringel-lokaler-dienstleister.svg'));
      }
      &.-kreativ-handwerk {
        background-image: url(image_path('svg/icon-kringel-kreativ-handwerk.svg'));
      }
      &.-institution {
        background-image: url(image_path('svg/icon-kringel-institution.svg'));
      }
      &.-verein {
        background-image: url(image_path('svg/icon-kringel-verein.svg'));
      }
      &.-spiritualitaet {
        background-image: url(image_path('svg/icon-kringel-spiritualitaet.svg'));
      }
      &.-handshake {
        background-image: url(image_path('svg/icon-kringel-sfs.svg'));
      }
      &.-kennenlernen {
        background-image: url(image_path('svg/icon-kringel-star.svg'));
      }

    }
  }
}

.category-slider-container + .-open {
  margin-top: -20px;
}

.card-grid-container {

  min-height: 150px;
  @include respond-to(">=large") {
    margin-left: -40px;
    margin-right: -70px;
  }

  .card-grid {
    @include cf();
    margin: auto;

    .cardBox, .cardbox-wrp {
      width: 310px;
      margin-bottom: 24px;
      float: left;
      margin-right: 24px;
    }

    .no-results-box {
      @include font-size-primaryFont();
      color: $color-ambient-grey;
      display: table;
      margin: 0 auto;
      min-width: 204px;
      height: 175px;
      background-image: url(image_path('illu/schaukler-message-empty.png'));
      background-repeat: no-repeat;
      background-position: center bottom;
      padding-top: 30px;
      text-align: center;
      @include respond-to(">=medium") {
        text-align: left;
        background-position: right top;
        padding: 40px 120px 0 0;
      }
    }
  }

  .action-card-container { display: none; }

  .link-load {
    @extend .btn-secondary;
    @include respond-to(">=large") {
      width: 590px;
      margin-left: 200px;
      margin-top: 20px;
    }
  }

}

.cards-filter .filter-selection-text-jbox {
  text-align: center;
  font-style: italic;
  position: relative;
  z-index: 2;

  @include font-size-primaryFont('larger');

  a {
    text-decoration: none;
    color: $color-ambient-mint-dark;
    background-color: $color-ambient-grey-light;
    border-radius: 20px 14px 20px 14px;
    padding: 0 10px;
  }

  a:hover:not(.category-slider-label) {
    color: $color-ambient-grey-light;
    background-color: $color-ambient-rosa;
  }

  a.category-slider-label {
    cursor:default;
  }

}

.filter-modal, .filter-modal-jbox, .filter-modal-jbox-areas {

  display: none;

  .filter-input-graetzl, .select-all, .filter-input-favorites {
    border-bottom: 1px solid $color-ambient-mint-light;
    font-style: italic;
  }

  .filter-button { margin-top: 20px; }
  .district-select-input { margin-bottom: 15px; margin-top:10px;}
  .graetzl-select-input { margin-bottom: 245px; }

  .reset-button {
    margin-top: 20px;
    background-color: $color-ambient-grey;
  }

  .filter-actions {
    display: flex;
    .reset-button { margin-right:10px; }
  }

  .search-txt { font-size: 1.6rem; }
  .SumoSelect .select-all { height: 40px; }
  .SumoSelect > .optWrapper > .options li.opt.disabled { display: none; }

  .filter-room-options {
    border-top: 1px solid $color-ambient-grey-light;
    margin-top:10px;
    padding-top:10px;
  }

}

.filter-areas {
  @include respond-to(">=medium") {
    .areas-list {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      .filter-input {
        display: inline-block;
        width: 100%;
        label {
          @include ellipsis();
        }
      }
    }
  }
  .filter-input-favorites {
    label { display: inline-block; }
  }
}
