@mixin cardBox-horizontal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .cardBoxHeader {
    flex: 0 0 49%;
    margin: 0;
  }
  .cardBoxContent {
    flex: 0 0 49%;
    margin: 0;
  }
  .avatar-block {
    margin-top: 0;
  }
  .zuckerlteasertxt .title {
    border-radius: 0 4px 4px 0;
  }
}

.usersetup .cardBox.-disabled .cardBoxHeader {
  filter: grayscale(70%);
  opacity: 0.3;
}


.cardBox {
  border: 1px solid $color-ambient-grey-light;
  background-color: #ffffff;
  padding: 14px;
  border-radius: 8px;
  position: relative;

  .userlist {
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    align-items: flex-end;
    flex-wrap:wrap;
    span {
      @include font-size-primaryFont('small');
      font-style: italic;
    }
    a {
      margin-right:6px;
      margin-bottom:6px;
    }
  }

  // -------------------------- Poll Cardbox
  &.-poll {
    .fav-exchange {
      display: flex;
      align-items: center;
      svg {
        margin-right:2px;
      }
    }
    .slogan {
      font-weight: bold;
    }
    .result {
      display: block;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // -------------------------- Boosted Room Cardbox
  &.-boosted {
    border: 1px solid $color-ambient-rosa-light;
    .categoryicon {
      color: $color-ambient-rosa;
      .fav-exchange {
        display: flex;
        align-items: center;
        svg {
          width:20px;
          height:20px;
        }
      }
    }
    .img-square {
      border-color: $color-ambient-rosa-light;
    }
  }

  // -------------------------- Subscription Cardbox
  &.-subscription-plan {
    .categoryicon {
      text-transform: uppercase;
      font-family: $font-secondary;
      font-size: 2.5rem;
      color: $color-ambient-rosa;
    }
  }

  // -------------------------- Zuckerl Cardbox
  &.-zuckerl {
    .avatar-block {
      &.-hide {display: none;}
    }
    .avatarImg {
      //display: flex !important;
      .img-round {
        width:80px;
        height:80px;
        margin-right: 0px;
      }
    }
    .btn-icon {
      display: flex;
      justify-content: center;
      width:100%;
      border-radius: 0px 0px 6px 6px;
      background-color: $color-ambient-rosa-dark;
      border-top: 1px dotted $color-ambient-rosa-dark;
      svg {
        margin-right:8px;
      }
    }
    .zuckerlteasertxt {
      &:hover, &:active {
        opacity: 1;
        cursor: auto;
      }
    }
  }

  // -------------------------- CrowdCampaign Cardbox
  &.-crowd_campaign {
    .sideflag {
      bottom: 8px;
      color: $color-ambient-rosa-dark;
      background-color: $color-ambient-rosa-light;
      &.-R {
        &:after {
          border-color: $color-ambient-rosa-dark transparent transparent transparent;
        }
      }
    }
  }

  // -------------------------- CrowdBoost Cardbox
  &.-crowd_boost {
    .cardBoxHeader {
      background-color: rgba($color-ambient-mint, 0.1);
    }
    .coverImgWrapper svg {
      fill: rgba($color-ambient-mint, 1.0);
      margin: auto;
      height:100%;
      width:auto;
    }
    .categoryicon {
      font-weight: bold;
      color: $color-ambient-rosa;
      @include font-size-secondaryFont('base');
    }
    .sideflag {
      color: $color-ambient-rosa-dark;
      background-color: $color-ambient-rosa-light;
      &.-R {
        &:after {
          border-color: $color-ambient-rosa-dark transparent transparent transparent;
        }
      }
    }
    .cardBoxContent {
      .btn-primary { margin-top:10px; }
    }
    .facts-headline {
      text-align: center;
      padding: 15px;
      border-top: 1px solid $color-ambient-mint-light;
    }
  }

  // -------------------------- Room Demand Cardbox
  &.-roomdemand, &.-coopdemand, &.-energydemand {
    .category-tags {
      position: absolute;
      top:4px;
      right:0px;
    }
  }

  // -------------------------- Coop Demand Cardbox
  &.-coopdemand {
    .categoryicon {
      svg.fav-exchange {
        width:50px;
        height: 50px;
      }
    }
  }

  // -------------------------- Group Cardbox
  &.-group {
    a.title {
      font-weight: bold;
    }
    p.infos {
      display: none;
    }
    .slogan {
      strong {
        font-weight: normal;
      }
    }
  } // Group Cardbox

  // -------------------------- Group Discussion CardBox
  &.-discussion {
    .avatarImg {
      .img-round {
        width:80px;
        height:80px;
        margin-right: 0px;
      }
    }
    .name {
      font-weight: normal;
    }
    .infos {
      font-style: italic;
    }
    .txt .commentslink {
      text-decoration: none;
      color: $color-ambient-brown;
      @include font-size-primaryFont('base');
      margin-top: 0px;
      margin-left:0px;
      &:hover {
        text-decoration: underline;
      }
    }
  } // Group Cardbox


  // -------------------------- GENERAL STYLES

  .entryContent {
    margin-bottom: 0px;
  }

  .btn-group {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    .btn-secondary {
      width: 48%;
    }
    .btn-primary, .-invoice {
      float: left;
      width: 100%;
      margin-top: 10px;
    }
    .-payment {
      float: left;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .btn-secondary {
        width:100%;
      }
      .btn-secondary:first-of-type {margin-right:5px;}
      .btn-secondary:last-of-type {margin-left:5px;}
      .btn-secondary:only-child {margin:0px;}
    }
    .btn-secondary, .btn-primary {
      &.-full {
        width: 100%;
      }
    }
  }
  .-update-state {
    margin-top:10px;
  }

}

.card-grid .btn-icon,
.card-slider-container .btn-icon,
.block-groups .btn-icon,
.cardBoxCollection .btn-icon {
  display: flex;
}

.cardBoxHeader {
  position: relative;
  margin: -6px -6px 20px;

  // this tag should always be around the coverImg
  .coverImgWrapper { height: 220px; }
  .coverImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
  }
  .sideflag {
    position: absolute;
    bottom: -10px;
    right: -20px;
  }
  .sideflag .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .calendarSheet, .priceSheet {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .categoryicon {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #ffffff;
    padding: 6px 6px;
    border-radius: 0 0 0 5px;
    color: $color-ambient-mint;
    .icon-shop, .icon-zuckerl {
      color: $color-ambient-rosa;
    }
    .count {
      text-align: center;
      font-size: 13px;
    }
    &.sticky {
      color:$color-ambient-rosa;
    }
  }
}

// -------- Cardbox Content
.cardBoxContent {

  a.typelink {text-decoration: none !important;}
  a.typelink:hover {text-decoration: none !important;}

  .entryContent .txt a {
    text-decoration: none;
  }

  .type-description {
    color: $color-ambient-rosa;
    font-style: italic;
    padding: 10px 0px 15px 0px;
  }

  &.-roomdemand, &.-coopdemand, &.-energydemand {
    .type-description {
      padding-top: 0px;
      margin-top:-10px;
    }
  }

  &.-roomoffer {
    .slogan {
      margin-top: 5px;
    }
  }

  &.-roomoffer, &.-roomdemand, &.-energyoffer, &.-energydemand {
    .slogan {
      font-style: normal;
      font-weight: 600;
    }
  }

  .collaboration, .waiting-list, .slot-booking, .facts {
    color: $color-ambient-brown;
    margin: 0px -3px 1px -3px;
    padding: 5px;
    background-color: $color-ambient-pink;
    &:last-child {
      margin-bottom: 0;
    }
    + .streamElement, + .btn-group {
      margin-top: 20px;
    }
    &.-grey {
      background-color: #f8f8f8;
    }
    &.-mint {
      background-color: rgba($color-ambient-mint-light, 0.3);
    }
    &.-rosa {
      background-color: rgba($color-ambient-rosa-light, 0.5);
    }
    &.-nobg {
      background-color: unset;
    }
  }
  .waiting-list {
    background-color: $color-ambient-mint-light;
  }

  .updateteaser, .zuckerlteasertxt, .event-teaser-box, .basic-message-box, .goodieteasertxt {
    display: block;
    padding: 10px 15px;
    border-left-width: 1px;
    border-left-style: dotted;
    text-decoration: none;
    > .hl, > .date {
      margin: 0 auto;
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      font-size: 13px;
      .icon {
        margin-right: 6px;
      }
    }
    > .title {
      margin-bottom: 10px;
      font-weight: 600;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover, &:active {
      opacity: 0.90;
      cursor: pointer;
    }
    + .streamElement, + .userPledge {
      margin-top: 20px;
    }
  }

  .updateteaser {
    border-color: $color-font-primary;
    color: $color-font-primary;
    /* Hide Sag Hallo wenn anderer Content vorhanden */
    ~ a.basic-message-box {
      display: none;
    }
  }
  .zuckerlteasertxt {
    border-color: $color-ambient-rosa-dark;
    background-color: rgba($color-ambient-rosa-light, 0.4);
    color: $color-ambient-rosa-dark;
    .description {
      white-space: pre-wrap;
      overflow: hidden;
    }
  }
  .goodieteasertxt {
    display: none;
    border-color: #cd891b;
    background-color: #FEF6DF;
    color: #cd891b;
    svg {margin-top: -5px;}
    .title {
      font-weight:normal;
    }
    .hl {
      font-weight:bold;
    }
  }
  .event-teaser-box {
    border-color: $color-ambient-mint-dark;
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
    /* Hide Sag Hallo wenn anderer Content vorhanden */
    ~ a.basic-message-box {
      display: none;
    }
  }
  .menuteaser {
    border-color: $color-ambient-grey;
    background-color: $color-ambient-grey-light;
  }
  .basic-message-box {
    border-color: $color-ambient-mint-dark;
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
  }

  .itemstate {
    .state {
      font-weight: 600;
      font-size: 13px;
      margin-top: 15px;
    }
    .txt {
      font-size: 13px;
      margin-bottom: 15px;
    }
    svg {
      float:right;
      fill: $color-ambient-rosa;
    }
  }

  .pledge_comment {
    display: block;
    margin-top: 4px;
    margin-left: 43px;
    a {
      color: $color-font-primary;
      text-decoration: none;
    }
  }

  .streamElement .txt {
      margin-top:0px;
      margin-left: 43px;
  }

  > .txt {
    margin-bottom: 20px;
    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    h3 a {
      @include font-size-primaryFont('larger');
      margin-bottom: 10px;
      color: inherit;
      text-decoration: none;
    }
    p {
      @include font-size-primaryFont('base');
      margin-bottom: 15px;
      text-overflow: ellipsis;
      overflow: hidden;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .slogan {
    margin-bottom: 15px;
    font-style: italic;
    padding-left: 15px;
    border-left: 1px dotted $color-ambient-grey;
  }

  .userEntry .img-round {
    width: 35px;
    height: 35px;
    padding: 1px;
  }

  .commentslink {
    color: $color-ambient-rosa;
    font-size: 13px;
    text-decoration: none;
    margin-top: 8px;
    margin-left: 43px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }

  > .btn-primary {
    margin-bottom: 20px;
  }

  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 10px;
  }

}
.cardBoxContent .initiator {
  margin: -57px 0 15px 0;
  padding-top:10px;
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-ambient-mint-dark;
  white-space: nowrap;
  img {
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    left: 0;
  }
  picture.location {
    display: inline-table;
    margin-right: 4px;
  }
  span {
    color: $color-ambient-mint-dark;
    font-size: 1.4rem;
    margin-bottom: 10px;
    vertical-align: bottom;
  }
}
.cardBoxContent .avatar-block {
  z-index: 8;
  position: relative;
  background-color: rgba(255,255,255,0.80);
  display: flex;
  align-items: flex-start;
  margin: -81px -10px 15px -10px;
  padding: 10px 10px 0 10px;
  .name {
    font-weight: 600;
    color: $color-ambient-rosa;
  }
  .avatarImg {
    display: block;
    flex: 0 0 auto;
    margin-right: 10px;
  }
  .typetxt {
    overflow: hidden;
    min-width: 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .img-square {
    width: 80px;
    height: 80px;
    display: block;
  }
  .name {
    display: block;
    @include ellipsis();
  }
  .category {
    @include ellipsis();
    margin-bottom: 12px;
  }
  .address, .infos, .url {
    display: block;
    @include ellipsis();
    font-size: 13px;
    color: $color-ambient-mint-dark;
    span {
      color: $color-ambient-rosa;
      border-left: 1px dotted $color-ambient-grey;
      padding-left: 8px;
      margin-left: 8px;
    }
    .icon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
  &.-below {
    background: none;
    margin-bottom: 0px;
    .type-description {
      margin-top: 47px;
    }
  }
}

.-discussion .cardBoxHeader {
  .coverImgWrapper {
    height:180px;
  }
  .categoryicon {
    display: flex;
    sup {
      font-style: italic;
    }
  }
  .sideflag {
    width:60%;
  }
}
.-discussion .cardBoxContent {
  .avatar-block {
    align-items: flex-end;
    margin-top: -62px;
    background: none;
  }
  > .txt {
    margin-left:5px;
  }
  .userAndType {
    a {
      color: $color-ambient-mint-dark;
    }
  }
}

.cardBox.-user .sideflag,
.cardBox.-zuckerl .sideflag,
.cardBox.-location .sideflag {
  bottom: 53px;
  z-index: 10;
}
.cardBox.-user {
  .img-round {
    width: 80px;
    height: 80px;
    display: block;
  }
  .location-line {
    display: flex;
    align-items: center;
    .icon {
      margin-right:8px;
      min-width:28px;
    }
    color: $color-ambient-mint-dark;
    margin-bottom: 15px;
    a {
      color: $color-ambient-mint-dark;
      font-style: italic;
    }
  }
}

.cardBox.-meeting.-past {
  .calendarSheet {
    filter: grayscale(1);
  }
  .calendarSheet, .cardBoxContent, .btn-group, .graetzl-sideflag {
    opacity: 0.8;
  }

  .coverImgWrapper::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 0;
    background-color: white;
    opacity: 0.5;
  }

  .coverImgWrapper::before {
    content: 'Vergangen';
    position: absolute;
    bottom:0px;
    right:-5px;
    z-index: 11;
    transform: rotate(-17deg);
    @include headlineBarbapapaMintDark();
    @include font-size-secondaryFont('small');
    filter: grayscale(1);
  }
}

.cardBox.-meeting.-startpast {
  .calendarSheet.-startDate {
    filter: grayscale(1);
    opacity: 0.8;
  }
}


section.locations .goodieteasertxt {
  display: block;
}

// Featured CardBoxes
.cardBox.featuredCard {
  &.-static {
    .cardBoxContent {
      p {
        margin-top:10px;
      }
    }
  }
  &.-mentoring {
    .categoryicon {
      padding-bottom:0px;
      img {
        width:50px;
        height: 50px;
      }
    }
    .coverImgWrapper { height: 200px; }
  }
  &.-energieteiler {
    .categoryicon {
      background: none;
    }
    .icon {
      width:75px;
      height:auto;
    }
  }
  &.-raum_booster {
    .coverImg {
      object-fit: cover;
      object-position: 100% 70%;
    }
    h3 {
      @include font-size-primaryFont('larger');
      margin-bottom:10px;
    }
  }
}

.homeRegion {
  .cardBox.featuredCard {
    &.-hidden {
      display:block;
    }
  }
}

// Adaptions for CardBoxes in Slider
.lightSliderWrapper {
  .cardBox {
    &.-group {
      .slogan {
          display: none;
      }
      .users {
        img {
          @include respond-to("<=medium") {
            margin-right:5px;
          }
        }
      }
    }
  }
}
.statusHint {
  justify-content: center;
  display: flex;
  margin-top:10px;
  padding:5px;
  padding-left: 15px;
  background-color: #FEF6DF;
  color: #cd891b;
  span {
    margin-left:5px;
    font-style: italic;
    font-weight: bold;
  }
  &.-approved, &.-funding, &.-completed {
    background-color: #F0F7EB;
    color: $color-ambient-mint-dark;
  }
}
