.action-card-container { display: none; }

.cardBoxCollection {
  @include cf();
  @include respond-to(">=large") {
    margin-left: -25px;
    margin-right: -25px;
  }
  .cardBox, .paperCard {
    display: block;
    margin-bottom: 25px;
  }

  .cardbox-wrp:only-child {
    margin: 0 auto;
    float: none;
  }

  &.-double {
    > * {
      @include respond-to(">=large") {
        @include col(1/2, $gutter: 2, $cycle: 2);
      }
    }
  }

  &.-tripple, &.-single {
    > * {
      @include respond-to(">=medium") {
        @include col(1/2, $cycle: 2, $gutter: 2);
      }
      @include respond-to(">=large") {
        @include col(1/3, $cycle: 3, $uncycle: 2, $gutter: 2);
      }
    }
    &.-center {
      @include respond-to(">=medium") {
        display: flex;
        justify-content: center;
      }
    }
  }

  &.-single {
    > * {
      float:unset;
      margin:auto;
    }
  }

  &.-group-discussion {
    @include respond-to(">=large") {
      margin-left:0px;
      margin-right:-10px;
    }
  }

  &.-quart {
    > * {
      //margin-bottom: 30px;
      @include respond-to(">=medium") {
        @include col(1/2, $cycle: 2, $gutter: 2);
      }
      @include respond-to(">=large") {
        @include col(1/4, $gutter: 2, $cycle: 4, $uncycle: 2);
      }
    }

    .coverImg {
      @include respond-to(">=large") {
        min-height: 132px;
      }
    }

    .cardBox {
      padding-bottom: 15px;
      h3 {
        @include font-size-primaryFont('large');
        &:first-child {
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }

    h3 + .txt {
      display: none;
    }

  }
  &.-morelink {
    .cardbox-wrp .link-more {
      display:table;
    }
  }
}

.cardbox-wrp {
  position: relative;
  h2:first-child {
    @include font-size-secondaryFont('small');
    color: $color-ambient-mint-dark;
    margin-left: 12px;
    margin-bottom: 4px;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .link-more {
    display: none;
    margin: 0 auto;
    margin-top: 10px;
    @include respond-to(">=medium") {
      margin-left: auto;
      margin-right: 10px;
    }
  }
  .create_link {
    display: table;
    margin:auto;
    padding-top:20px;
  }
}
