.cards-filter {

  .filter-selection-text {
    text-align: center;
    font-style: italic;
    position: relative;
    top: -30px;
    @include font-size-primaryFont('larger');
    a {
      text-decoration: none;
      color: $color-ambient-mint-dark;
      background-color: $color-ambient-grey-light;
      border-radius: 20px 14px 20px 14px;
      padding: 0 10px;
    }
    a:hover {
      color: $color-ambient-grey-light;
      background-color: $color-ambient-rosa;
    }
  }

}

.filter-modal {
  display: none;

  .filter-button {
    margin-top: 20px;
  }

  .district-select-input {
    margin-bottom: 30px;
  }

  .graetzl-select-input {
    margin-bottom: 220px;
  }

  .search-txt {
    font-size: 1.6rem;
  }

  .SumoSelect { width: 400px; }
  .SumoSelect > .optWrapper > .options li.opt.disabled { display: none; }

}
