@mixin cardBox-horizontal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .cardBoxHeader {
    flex: 0 0 49%;
    margin: 0;
  }
  .cardBoxContent {
    flex: 0 0 49%;
    margin: 0;
  }
  .avatar-block {
    margin-top: 0;
  }
  .zuckerlteasertxt .title {
    border-radius: 0 4px 4px 0;
  }
}


.cardBox {
  border: 1px solid $color-ambient-grey-light;
  background-color: #ffffff;
  padding: 14px;
  border-radius: 8px;
  position: relative;

  // CardBox States
  &.-disabled {
    //filter: grayscale(50%);
    //opacity: 0.8;
  }
  &.-disabled:hover {
    //filter: grayscale(0%);
    //opacity: 1.0;
  }
  &.occupied {
    //filter: grayscale(0%);
    //opacity: 1.0;
  }


  // Room Demand Cardbox
  &.-roomdemand {
    @supports (object-fit: cover) {
      img.room_demand {
        //height: 176px;
        height: 206px;
        object-fit: cover;
      }
    }
    .category-tags {
      position: absolute;
      top:4px;
      right:0px;
    }
  }

  // Group Cardbox
  &.-group {
    a.title {
      font-weight: bold;
      padding-bottom:2px;
    }
    .users {
      margin-bottom:10px;
      display: flex;
      align-items: flex-end;
      flex-wrap:wrap;
      span {
        @include font-size-primaryFont('small');
        font-style: italic;
      }
      .img-round {
        margin-right:7px;
        margin-bottom:7px;
      }
    }
  } // Group Cardbox

  // Group Discussion CardBox
  &.-discussion {
    .avatarImg {
      .img-round {
        width:80px;
        height:80px;
        margin-right: 0px;
      }
    }
    .name {
      font-weight: normal;
    }
    .infos {
      font-style: italic;
    }
    .entryInitialContent {
      margin-bottom: 0px;
    }
    .commentslink {
      text-decoration: none;
      color: $color-ambient-brown;
      @include font-size-primaryFont('base');
      margin-bottom: 0px;
    }
  } // Group Cardbox

}

.card-grid .btn-userIcons, .card-slider-container .btn-userIcons, .block-groups .btn-userIcons {
  display: flex;
}

.cardBoxHeader {
  position: relative;
  margin: -6px -6px 20px;
  min-height: 40px;
  &.-roomdemand {
    margin-bottom:0px;
  }

  // this tag should always be around the coverImg
  .coverImgWrapper { height: 220px; }
  .coverImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    display: block;
  }
  .sideflag {
    position: absolute;
    bottom: -10px;
    right: -20px;
  }
  .calendarSheet {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .participantsCountSmall {
    position: absolute;
    top: -4px;
    padding-right: 4px;
    right: 0;
    color: $color-ambient-rosa;
  }
  .categoryicon {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: #ffffff;
    padding: 6px 6px;
    border-radius: 0 0 0 5px;
    color: $color-ambient-mint;
    [class*=icon-shop], [class*=icon-zuckerl] {
      color: $color-ambient-rosa;
    }
    .count {
      text-align: center;
      font-size: 13px;
    }
    &.-call {
      &.-open {
        top: 0px;
        right: 0px;
        background-color: $color-ambient-rosa;
        color:white;
        span {
          font-weight:bold;
        }
      }
    }
  }
}


.cardBoxContent {

  .roomtype {
    color: $color-ambient-rosa;
    font-style: italic;
    padding: 10px 0px 12px 0px;
  }
  &.-roomdemand {
    .roomtype {
      padding-top: 0px;
    }
  }
  a.typelink {text-decoration: none !important;}
  a.typelink:hover {text-decoration: none !important;}

  &.-roomoffer, &.-roomdemand {
    .slogan {
      font-style: normal;
      font-weight: 600;
    }

    .collaboration, .waiting-list {
      color: $color-ambient-brown;
      margin: 0px -3px 1px -3px;
      padding: 5px;
      background-color: $color-ambient-pink;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .waiting-list {
      background-color: $color-ambient-mint-light;
    }

    .btn-group {
      margin-top:15px;
      display: flex;
      margin-left: auto;
      flex-wrap: wrap;
      justify-content: flex-end;
      .btn-secondary {
        flex-basis: 49%;
        margin-bottom: 5px;
        &:first-child:not(:only-child) {
          margin-right: 5px;
        }
      }
      .btn-primary {
        float: left;
        flex-basis: 100%;
      }
    }
  }
  &.-roomoffer {
    .slogan {
      margin-top: 5px;
    }

  }


  .updateteaser, .zuckerlteasertxt, .event-teaser-box, .basic-message-box {
    display: block;
    padding: 10px 15px;
    border-left-width: 1px;
    border-left-style: dotted;
    text-decoration: none;
    > .hl, > .date {
      margin: 0 auto;
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      font-size: 13px;
      [class^=icon-] {
        margin-right: 6px;
      }
    }
    > .title {
      margin-bottom: 10px;
      font-weight: 600;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover, &:active {
      opacity: 0.90;
      cursor: pointer;
    }
  }

  .updateteaser {
    border-color: $color-font-primary;
    color: $color-font-primary;
    /* Hide Sag Hallo wenn anderer Content vorhanden */
    ~ a.basic-message-box {
      display: none;
    }
  }
  .zuckerlteasertxt {
    border-color: $color-ambient-rosa-dark;
    background-color: $color-ambient-rosa-light;
    color: $color-ambient-rosa-dark;
    .description {
      white-space: pre-wrap;
    }
  }
  .event-teaser-box {
    border-color: $color-ambient-mint-dark;
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
    /* Hide Sag Hallo wenn anderer Content vorhanden */
    ~ a.basic-message-box {
      display: none;
    }
  }
  .basic-message-box {
    border-color: $color-ambient-mint-dark;
    background-color: $color-ambient-mint-light;
    color: $color-ambient-mint-dark;
  }

  .locationstate {
    .state {
      font-weight: 600;
      font-size: 13px;
      margin-top: 15px;
    }
    .txt {
      font-size: 13px;
      margin-bottom: 15px;
    }
  }

  .btn-group {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    .btn-secondary {
      flex-basis: 49%;
      margin-bottom: 5px;
      &:first-child:not(:only-child) {
        margin-right: 5px;
      }
    }
    .btn-primary {
      float: left;
      flex-basis: 100%;
    }
  }

  .streamElement .txt {
    @include respond-to(">=large") {
      margin-left: 45px;
    }
  }

  > .txt {
    margin-bottom: 20px;
    h3 a {
      @include font-size-primaryFont('larger');
      margin-bottom: 10px;
      color: inherit;
      text-decoration: none;
    }
    p {
      @include font-size-primaryFont('base');
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .slogan {
    margin-bottom: 15px;
    font-style: italic;
    padding-left: 15px;
    border-left: 1px dotted $color-ambient-grey;
  }

  .userCreateInfo .img-round {
    width: 35px;
    height: 35px;
    padding: 1px;
  }



  .commentslink {
    color: $color-ambient-rosa;
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }

  > .btn-primary {
    margin-bottom: 20px;
  }

  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 10px;
  }

}
.cardBoxContent .initiator {
  margin: -47px 0 15px 0;
  text-decoration: none;
  // display: table;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-ambient-mint-dark;
  white-space: nowrap;
  img {
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .img-square {
    margin-right: 4px;
  }
  span {
    color: $color-ambient-mint-dark;
    font-size: 1.4rem;
    margin-bottom: 10px;
    vertical-align: bottom;
  }
}
.cardBoxContent .avatar-block {
  z-index: 8;
  position: relative;
  background-color: rgba(255,255,255,0.80);
  display: flex;
  align-items: flex-start;
  margin: -81px -10px 15px -10px;
  padding: 10px 10px 0 10px;
  .name {
    font-weight: 600;
    color: $color-ambient-rosa;
  }
  .avatarImg {
    display: block;
    flex: 0 0 auto;
    margin-right: 10px;
  }
  .typetxt {
    min-width: 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .img-square {
    width: 80px;
    height: 80px;
    display: block;
  }
  .name {
    display: block;
    @include ellipsis();
  }
  .category {
    @include ellipsis();
    margin-bottom: 12px;
  }
  .address, .infos {
    @include ellipsis();
    font-size: 13px;
    margin-left: -3px;
    color: $color-ambient-mint-dark;
    span {
      color: $color-ambient-rosa;
      border-left: 1px dotted $color-ambient-grey;
      padding-left: 8px;
      margin-left: 8px;
    }
    [class^=icon-] {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
    }
  }
  &.-below {
    background: none;
    margin-bottom: 0px;
    .roomtype {
      margin-top: 47px;
    }
  }
}

.cardBox.-sponsor {
  .cardBoxHeader img {
    margin: 0 auto;
    display: block;
  }
  .sideflag {
    bottom: auto;
    top: 10px;
    max-width: none;
  }
}





// TODO: we should not need this -illustuff after new versions of startpages
.cardBox[class*=-illu] {
  background-repeat: no-repeat;
  background-image: url(image_path('illu/illu-cylce-straight@2x.png'));
  background-position: center top 15px;
}

.cardBox.-illuteaser {
  padding-top: 188px;
  background-size: auto 180px;
}
.cardBox.-illuteasersmall {
  padding-top: 177px;
  background-size: auto 170px;
}

// temp sponsorcard should come from DB, remove after proper implementation
.sponsorstuwerviertel {
  .cardBoxContent {

    .txt {
      float: left;
      width: calc(100% - 130px);
      p {
        font-size: 12px;
        margin-bottom: 8px;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    .eks {
      float: left;
      display: block;
      margin-right: 10px;
    }
    .wko {
      display: block;
      clear: both;
    }
  }
}

main > .sponsorstuwerviertel {
  max-width: 320px;
  margin: 70px auto 0 auto;
  @include respond-to(">=large") {
    @include cardBox-horizontal();
    max-width: none;
    width: 700px;
    .cardBoxContent {
      padding-top: 70px;
      padding-right: 50px;
    }
    .sideflag {
      right: -368px;
    }
  }
}

.cardBox.-zuckerl .sideflag,
.cardBox.-location .sideflag {
  bottom: 53px;
  z-index: 10;
}

.cardBox.-meeting.-past {
  .calendarSheet {
    filter: grayscale(1);
    opacity: 0.75;
  }
}

// Featured CardBoxes
.cardBox.featuredCard {
  &.-hidden {
    display:none;
  }
  &#festival {
    a.btn-primary {background-color: #e2226e;}
  }
}
.homeOut {
  .cardBox.featuredCard {
    &.-hidden {
      display:block;
    }
  }
}

// Adaptions for CardBoxes in Slider
.lightSliderWrapper {
  .cardBox {
    &.-group {
      .slogan {
          display: none;
      }
    }
  }
}
