.category-tags {
  border-radius: 10px;
  .category {
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .icon {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
  }
}
