.cc_container {
  background-color: rgba($color-ambient-mint-light,0.95);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 40px;
  z-index: 1000;
  transform: translate(0, 100%);
  transition: all 0.3s;
  font-size: 13px;
  overflow: hidden;
  box-shadow:
  inset 0px 6px 8px -6px #CCC,
  inset 0px -6px 8px -6px #CCC;
  &.cc_container--open {
    transform: translate(0, 0);
  }
}

.cc_more_info {
  margin-left: 10px;
  border-left: 1px dotted $color-ambient-rosa;
  padding-left: 10px;
}

.cc_message {
  padding-top: 13px;
  padding-right: 30px;
}

.cc_logo {
  display: none !important;
}
.cc_btn {
  @extend .btn-secondary;
  padding: 1.2rem 1.8rem;
  font-size: 1.4rem;
  float: right;
}
