.cloudyImgHeader {
  position: relative;
  z-index: 1;
  margin-top: -3rem;
  margin-left: -18px;
  margin-right: -18px;
  padding-top: 30px;
  @include respond-to(">=medium") {
    @include cloudMaskOverImg;
    padding-top: 0;
    overflow: hidden;
    max-height: 370px;
  }
  &::after {
    display: none;
  }
  .titleImg {
    max-width: 100%;
    display: block;
    margin-bottom: 2rem;
    @include respond-to(">=medium") {
      z-index: 1;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @include respond-to(">=medium") {
    margin-top: -5rem;
    margin-left: -25px;
    margin-right: -25px;
  }
  @include respond-to(">=large") {
    margin-top: -8rem;
  }
}