.hl-main {
  @include font-size-secondaryFont('large');
  text-align: center;
  margin-bottom: 30px;
  @include respond-to(">=medium") {
    margin-bottom: 40px;
  }
  span { color: $color-ambient-rosa; }
  em {
    @include headlineBarbapapa();
    @include textShadowHard($color-ambient-rosa-dark);
    font-style: inherit;
    display: inline-table;
  }
}

.hl-subtext {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  h1, h2 {
    @extend .hl-main;
    margin-bottom: 10px;
  }
  p {
    @include font-size-primaryFont('larger');
    text-align: center;
  }
  &.-small {
    h1, h2 {
      @include font-size-secondaryFont('base');
    }
    p {
      @include font-size-primaryFont('base');
    }
  }
  em {
    @include headlineBarbapapa();
    @include textShadowHard($color-ambient-rosa-dark);
    font-style: inherit;
    display: inline-table;
  }
}

.cards-filter {
  text-align: center;
  font-style: italic;
  position: relative;
  top: -30px;
  @include font-size-primaryFont('larger');
  a {
    text-decoration: none;
    color: $color-ambient-mint-dark;
    background-color: $color-ambient-grey-light;
    border-radius: 20px 14px 20px 14px;
    padding: 0 10px;
  }
  a:hover {
    color: $color-ambient-grey-light;
    background-color: $color-ambient-rosa;
  }

  .filter-modal {
    display: none;
  }

  .filter-button {
    margin-top: 20px;
  }

  .filter-modal-large {
    height: 400px;
  }

  .SumoSelect {
    width: 500px;
    font-size: 16px;
    .search-txt { font-size: 16px; }
  }

}
