.hl-main {
  @include font-size-secondaryFont('large');
  text-align: center;
  margin-bottom: 30px;
  @include respond-to(">=medium") {
    margin-bottom: 40px;
  }
  span { color: $color-ambient-rosa; }
  em {
    @include headlineBarbapapa();
    @include textShadowHard($color-ambient-rosa-dark);
    font-style: inherit;
    display: inline-table;
  }
}

.hl-subtext {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  h1, h2 {
    @extend .hl-main;
    margin-bottom: 10px;
  }
  p {
    @include font-size-primaryFont('larger');
    text-align: center;
  }
  &.-small {
    h1, h2 {
      @include font-size-secondaryFont('base');
    }
    p {
      @include font-size-primaryFont('base');
    }
  }
  em {
    @include headlineBarbapapa();
    @include textShadowHard($color-ambient-rosa-dark);
    font-style: inherit;
    display: inline-table;
  }
}

.hl-main, .hl-subtext {
  &.-cards {
    margin-bottom:25px;
  }
}
