.hl-main {
  @include font-size-secondaryFont('large');
  text-align: center;
  margin-bottom: 30px;
  @include respond-to(">=medium") {
    margin-bottom: 40px;
  }
  span {
    color: $color-ambient-rosa;
  }
}