.ctrl-graetzlselect {
  @include respond-to(">=medium") {
    @include cf();
  }
  .input-select {
    &:first-of-type {
      @include respond-to(">=medium") {
        width: 40%;
      }
      margin-bottom: 1.2rem;
    }
    @include respond-to(">=medium") {
      width: 58%;
      margin-right: 2%;
      float: left;
      &:first-of-type {
        margin-bottom: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}