.iconCalendarTextual {
  position: relative;
  display: table;
  span {
    z-index: 2;
    font-size: 1.1rem;
    display: block;
    position: absolute;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    line-height: 0.9;
    color: $color-ambient-mint-dark;
    font-weight: 600;
    top: 12px;
    left: 0;
  }
  .icon {
    fill: $color-ambient-mint;
    height: 35px;
    width: 35px;
  }

  &.-large {
    .icon {
      height: 50px;
      width: 50px;
    }
    span {
      font-size: 1.4rem;
      top: 21px;
    }
  }
}

.iconMapLink {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: none;
  min-width:50px;
  .icon {
    width: 50px;
    height: 50px;
    //fill: $color-ambient-rosa;
    fill: $color-ambient-mint;
  }
}
a.iconMapLink:hover .icon {
  fill: $color-ambient-rosa;
}


.dateTime-container {
  position: relative;
  &.-additional {
    padding-right:50px;
  }
  .additionalSlider {
    .lSAction {
      a {
        background-color: transparent;
        width:40px;
      }
    }
    .lSAction > .lSNext {
      right:0px;
    }
    .lSAction > .lSPrev {
      left:calc(100% - 80px);
    }
  }
  .till-badge {
    top: 35%;
    left:42px;
  }
}

.dateTime {
  overflow: hidden;
  display: flex;
  position: relative;

  .dateTimeItem {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 57px;
  }
  .calendarSheet {
    min-width: 50px;
  }
  .dayYearTimes {
    margin-left:10px;
    //white-space: nowrap;
    @include respond-to(">=medium") {
      text-shadow: 1px 1px $color-ambient-bright;
    }
  }
  .end {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px dotted $color-font-primary;
  }
  .time {
    @include font-size-primaryFont('small');
    font-weight: normal;
  }
  .iconCalendarTextual {
    position: relative;
    margin-right: 10px;
    display: block;
    @include respond-to(">=medium") {
      margin-right: 20px;
    }
  }

}

// Community Meeting List
.-platform-meetings {
  .dateTimeItem {
    display: flex;
    align-items: center;
    //flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .calendarSheet {
    margin-right:10px;
    min-width: 50px;
  }
  a.title {
    //color: $color-font-primary;
    //font-style: italic;
    color: $color-ambient-mint-dark;
    //font-weight: bold;
    //text-decoration: none;
    //@include font-size-primaryFont('large');
  }
}


.ico-row {
  overflow: hidden;
  margin-top: 15px;
  display: flex;
  align-items: center;
  @include font-size-primaryFont('medium');

  a, strong {
    display: block;
    //font-style: italic;
  }
  a {
    display: block;
    font-weight: bold;
    color:$color-font-primary;
    text-decoration: underline;
    @include ellipsis();
  }
  em {
    //font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }
  .address a {
    font-weight: bold;
    text-decoration: underline;
    color:$color-font-primary;
  }
  .address a:hover {
    text-decoration: none;
  }
  .iconMapLink {
    position: relative;
    float: left;
    margin-right: 10px;
    display: block;
  }
  img {
    margin-right:10px;
    //border-color: $color-ambient-rosa;
  }
  .infotxt {
    overflow: auto;
  }
}


.dateTimeIconSmall, .locationIconSmall, .participantsCountSmall {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 9px;
  }
}

.participantsCountSmall {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 1.4rem;
  background-color: #ffffff;
  padding: 3px 20px 3px 6px;
  display: flex;
  border-radius: 5px 0 0 5px;
  color: $color-ambient-mint-dark;
  .icon {
    fill: $color-ambient-mint-dark;
  }
}
