.iconCalendarTextual {
  position: relative;
  display: table;
  span {
    z-index: 2;
    font-size: 10px;
    display: block;
    position: absolute;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    line-height: 1;
    color: $color-ambient-mint-dark;
    font-weight: 600;
    top: 11px;
    left: 0;
  }
  [class^=icon] {
    fill: $color-ambient-mint;
    height: 35px;
    width: 35px;
  }

  &.-large {
    [class^=icon] {
      height: 50px;
      width: 50px;
    }
    span {
      font-size: 14px;
      top: 21px;
    }
  }
}

.iconMapLink {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  text-decoration: none;
  [class^=icon-] {
    width: 35px;
    height: 35px;
    fill: $color-ambient-mint;
  }
}
a.iconMapLink:hover [class^=icon] {
  fill: $color-ambient-rosa;
}


.dateTime {
  overflow: hidden;
  line-height: 1.2;
  .dayYearTimes {
    float: left;
    width: calc(100% - 65px);
  }
  .begin {
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px dotted $color-font-primary;
  }

  .iconCalendarTextual {
    position: relative;
    float: left;
    margin-right: 10px;
    display: block;
    @include respond-to(">=medium") {
      margin-right: 20px;
    }
  }
}

.location {
  overflow: hidden;
  line-height: 1.2;
  .address {
    float: left;
    width: calc(100% - 65px);
  }
  .iconMapLink {
    position: relative;
    float: left;
    margin-right: 10px;
    display: block;
    @include respond-to(">=medium") {
      margin-right: 20px;
    }
  }
}


.dateTimeIconSmall, .locationIconSmall, .participantsCountSmall {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  [class^=icon-] {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 9px;
  }
}

.participantsCountSmall {
  color: $color-ambient-mint-dark;
  [class^=icon] {
    fill: $color-ambient-mint-dark;
  }
}