.iconMapLink {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: none;
  min-width:50px;
  .icon {
    width: 50px;
    height: 50px;
    fill: $color-ambient-mint;
  }
}
a.iconMapLink:hover .icon {
  fill: $color-ambient-rosa;
}


.dateTime-container {
  position: relative;
  &.-additional {
    padding-right:50px;
  }
  .additionalSlider {
    .lSAction {
      a {
        background-color: transparent;
        width:40px;
      }
    }
    .lSAction > .lSNext {
      right:0px;
    }
    .lSAction > .lSPrev {
      left:calc(100% - 80px);
    }
  }
  .till-badge {
    top: 35%;
    left:42px;
  }
}

.dateTime {
  overflow: hidden;
  display: flex;
  position: relative;

  .dateTimeItem {
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: 57px;
  }
  .calendarSheet {
    min-width: 50px;
  }
  .dayYearTimes {
    margin-left:10px;
    @include respond-to(">=medium") {
      text-shadow: 1px 1px $color-ambient-bright;
    }
  }
  .end {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px dotted $color-font-primary;
  }
  .time {
    @include font-size-primaryFont('small');
    font-weight: normal;
  }
}

// Community Meeting List
.-platform-meetings {
  .dateTimeItem {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .calendarSheet {
    margin-right:10px;
    min-width: 50px;
  }
  a.title {
    color: $color-ambient-mint-dark;
  }
}


.ico-row {
  overflow: hidden;
  margin-top: 15px;
  display: flex;
  align-items: center;
  @include font-size-primaryFont('medium');

  a, strong {
    display: block;
  }
  a {
    display: block;
    font-weight: bold;
    color:$color-font-primary;
    text-decoration: underline;
    @include ellipsis();
  }
  em {
    //font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }
  .address a {
    font-weight: bold;
    text-decoration: underline;
    color:$color-font-primary;
  }
  .address a:hover {
    text-decoration: none;
  }
  .iconMapLink {
    position: relative;
    float: left;
    margin-right: 10px;
    display: block;
  }
  img {
    margin-right:10px;
  }
  .infotxt {
    overflow: auto;
  }
}
