.event-teaser-box {
  margin-bottom: 20px;
  background-color: $color-ambient-mint-light;
  padding: 15px;
  > .date {
    margin: 0 auto;
    color: $color-ambient-mint-dark;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    font-size: 13px;
    [class^=icon-] {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
  }
  > .title {
    font-weight: 600;
  }
}
