.filter-stream {

  display: flex;
  align-items: center;
  justify-content: center;

  .iconfilter {
    @extend .bigicontext-element;
    flex: 0 0 auto;
    margin-right: 15px;
    &:hover {
      color: $color-ambient-rosa;
      background-image: url(image_path('svg/kringel-grey-rosa.svg'));
    }
    &.active {
      color: $color-ambient-rosa;
      background-image: url(image_path('svg/kringel-grey-rosa.svg'));
    }
    &.-coopshare {
      background: none;
      .icon {
        margin-left:0px;
        width: 75px;
        height: 75px;
      }
      .txt {
        margin-left:5px;
      }
    }
  }
  .iconfilter:last-of-type {
    margin-right: 0px;
  }

  a.hide {display: none !important;}

  .iconfilter {
    display: none;
  }

  @include respond-to(">=medium") {
    .iconfilter {
      display: flex;
    }
    .iconfilter .txt {
      display: none;
    }
  }

  @include respond-to(">=large") {
    .iconfilter .txt {
      display: flex;
    }
  }

  .createentry, .loginlink {
    color: $color-ambient-rosa;
    flex: 0 0 auto;
    margin-right: 0;
    margin-left: 5%;
    &.jq-dropdown-open, &:hover {
      color: $color-ambient-rosa-dark;
    }
    @include respond-to(">=large") {
      margin-left: auto;
    }
  }

  .loginlink {
    position: relative;
    .icon {
      fill: white;
      position: relative;
      z-index: 2;
    }
    .txt {
      color: $color-ambient-rosa;
    }
    &::after {
      content: '';
      width: 60px;
      height: 60px;
      top: 8px;
      left: 9px;
      position: absolute;
      border-radius: 50%;
      z-index: 1;
      background-image: url(image_path('texture-alpha-noise.png'));
      background-color: $color-ambient-rosa;
    }
    &:hover {
      .txt {
        color: $color-ambient-mint;
      }
      &::after {
        background-color: $color-ambient-mint;
      }
    }
  }

  .mapthumb {
    border-radius: 50%;
  }

  //mobile selectmenu
  .input-select {
    flex: 1 1 200px;
    max-width: 500px;
    @include respond-to(">=medium") {
      display: none;
    }
  }

}

// Filterstream Scroll
.filter-stream.-scrollnav::-webkit-scrollbar {
  height: 0 !important
}
.filter-stream.-scrollnav {

  position: relative;
  margin-top: 0px;
  margin-left:-18px;
  margin-right:-18px;
  overflow: -moz-scrollbars-none !important; // Testen
  -ms-overflow-style: none !important; // Testen

  // Mobile
  .iconfilter .txt {display: none;}
  background-color:#fcfcfc;
  border-bottom: 1px solid #DEEAE6;
  justify-content: flex-start;
  //margin-top: -30px;
  margin-bottom:30px;
  padding: 10px 10px 10px 10px;

  @include respond-to(">=medium") {
    background:none;
    border-bottom: none;
    justify-content: center;
    //margin-top: -50px;
    padding: 20px 20px 20px 20px;
  }

  @include respond-to(">=large") {
    //margin-top: -80px;
    //margin-left:30px;
    padding: 35px 20px 35px 30px;
    .iconfilter .txt {display: block;}
  }

  @include respond-to(">=medium") {
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
      pointer-events: none;
      z-index: 9;
    }
  }

  .createentry, .loginlink {
    margin-left:0;
  }

  .iconfilter {
    display: flex;
  }
  .iconfilter .icon {
    width: 30px;
    height: 30px;
  }
  .iconfilter {
    height: 55px;
    min-width: 55px;
    background-size: 55px 55px;
    background-image: url(image_path('svg/kringel-grey-white.svg'));
    &:hover {
      background-image: url(image_path('svg/kringel-grey-white.svg'));
      .icon {
        fill: $color-ambient-mint-dark;
      }
    }
    &.active, &.active:hover {
      background-image: url(image_path('svg/kringel-grey-mint.svg'));
      .icon {
        fill: $color-ambient-rosa;
      }
    }
    @include respond-to(">medium") {
      &:hover, &.active {
        background-image: url(image_path('svg/kringel-grey-mint.svg'));
        .icon {
          fill: $color-ambient-rosa;
        }
        &.-coopshare {
          background-image: none;
        }
      }
    }
  }
  .-coopshare {
    background-image: none;
    .icon {
      width: 55px;
      height: 55px;
    }
    &:hover, &.active {
      background-image: none;
    }
  }

  // Sticky Nav on Mobile
  @include respond-to("<=medium") {
    &.fixed {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      left:0;
      z-index: 9999;
    }
  }

}

.filter-stream.-help {
  background:none;
  border: none;
  @include respond-to(">=medium") {
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
      pointer-events: none;
      z-index: 9;
    }
  }
}

// ILLU BG
.filter-stream.-illubg {
  @include respond-to(">=medium") {
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top:0;
      width: 100%;
      height: 100%;
      background-image: url(image_path('illu/illu-karte-transparent@2x.jpg'));
      background-repeat: no-repeat;
      background-size: 700px;
      background-position: center, center;
    }
  }
}

.hl-main, .hl-subtext {
  &.-cards {
    margin-bottom:20px;
  }
}

.search-filter, .filter-selection-text, .filter-selection-text-jbox {
  margin-bottom:30px;
}

// FILTER jBox

.jBox-wrapper.jBox-Modal .jBox-container {
  margin-top:10px !important;
  label {cursor: pointer;}
}

.jBox-Confirm {

  .jBox-content {
    text-align: left !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
  }

  .jBox-Confirm-footer {
    margin:10px;
    display: flex;
    height:55px;
  }

  .jBox-Confirm-button {

    @extend .btn-primary;
    white-space: nowrap;

    &.jBox-Confirm-button-cancel {
      @extend .btn-primary.-grey;
      &:hover {
        @extend .btn-primary.-grey;
        background-image: $texture-primary;
        opacity: 0.9;
      }
      margin-right: 5px;
    }
    &.jBox-Confirm-button-submit {
      &:hover {
        @extend .btn-primary;
        opacity: 0.9;
      }
      margin-left: 5px;
    }
  }

}
.graetzl-ids {
  display: none;
}
