.filter-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 35px 15px;

  .iconfilter {
    @extend .bigicontext-element;
    flex: 0 0 auto;
    margin-right: 15px;
    &:hover {
      color: $color-ambient-rosa;
      background-image: url(image_path('svg/kringel-grey-rosa.svg'));
    }
    &.active {
      color: $color-ambient-rosa;
      background-image: url(image_path('svg/kringel-grey-rosa.svg'));
    }
    &.-coopshare {
      background: none;
      [class^=icon-] {
        margin-left:0px;
        width: 75px;
        height: 75px;
      }
      .txt {
        margin-left:5px;
      }
    }
  }

  .iconfilter:not(.createentry):not(.loginlink)  {
    display: none;
    @include respond-to(">=large") {
      display: flex;
    }
  }

  .createentry, .loginlink {
    color: $color-ambient-rosa;
    flex: 0 0 auto;
    margin-right: 0;
    margin-left: 5%;
    &.jq-dropdown-open, &:hover {
      color: $color-ambient-rosa-dark;
    }
    @include respond-to(">=large") {
      margin-left: auto;
    }
  }

  .loginlink {
    position: relative;
    [class^=icon-] {
      fill: white;
      position: relative;
      z-index: 2;
    }
    .txt {
      color: $color-ambient-rosa;
    }
    &::after {
      content: '';
      width: 60px;
      height: 60px;
      top: 8px;
      left: 9px;
      position: absolute;
      border-radius: 50%;
      z-index: 1;
      background-image: url(image_path('texture-alpha-noise.png'));
      background-color: $color-ambient-rosa;
    }
    &:hover {
      .txt {
        color: $color-ambient-mint;
      }
      &::after {
        background-color: $color-ambient-mint;
      }
    }
  }



  .mapthumb {
    border-radius: 50%;
  }

  //mobile selectmenu
  .input-select {
    flex: 1 1 200px;
    max-width: 500px;
    @include respond-to(">=large") {
      display: none;
    }
  }

}

.createmenu {
  max-width: 400px;
  width: 90%;
  width: calc(100% - 20px);
  @include respond-to(">=medium") {
    transform: translate(-20px,0);
    width: 75%;
    width: calc(100% - 200px);
  }
}
