.upload-previews {
  label {
    min-width: 0px !important;
  }
}

.upload-preview {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $color-ambient-mint-dark;
  font-size: 14px;
  font-style: italic;
}

.upload-preview-image {
  width:100px;
  height:100px;
  object-fit: cover;
  margin-right: 10px;
}
