.upload-image {
  @extend %file-group;

  .icon:first-of-type {
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
  }
  .icon-delete {
    display: none;
  }
}

.upload-portrait {
  @extend %file-group;
  padding: 0.5rem 1.2rem 0.5rem 0.3rem;
  .userDummy,
  .img-round {
    margin-right: 1rem;
    display: inline-block;
    vertical-align: middle;
  }
  .userDummy {
    width: 50px;
    height: 50px;
  }
  .img-round {
    width: 52px;
    height: 52px;
  }
  .icon-delete {
    display: none;
  }
}
