.upload-previews {
  label {
    min-width: 0px !important;
  }
}

.img-upload-hint {
  display: none;
  margin-top:15px;
  font-style: italic;
}

.upload-preview {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: $color-ambient-mint-dark;
  font-size: 14px;
  font-style: italic;
}

.upload-preview-image {
  width:100px;
  height:100px;
  object-fit: cover;
  margin-right: 10px;
}

.upload-previews {
  // COVER IMAGE PREVIEWS
  &.cover_photo {
    .upload-preview-image {
      width:245px;
      height:100px;
    }
  }
  // AVATAR IMAGE PREVIEWS
  &.avatar {
    .upload-preview-image {
      @extend .img-round;
      width:100px;
      height:100px;
    }
    &.location .upload-preview-image {
      @extend .img-square;
      width:100px;
      height:100px;
    }
  }
  &.show-hint + .img-upload-hint {
    display: block;
  }
  &.zuckerl + .img-upload-hint {
    display: none;
  }
}
