.filter-stream {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 35px 15px;

  .iconfilter {
    @extend .bigicontext-element;
    flex: 0 0 auto;
    margin-right: 15px;
    &:hover {
      color: $color-ambient-rosa;
      background-image: url(image_path('svg/kringel-grey-rosa.svg'));
    }
    &.active {
      color: $color-ambient-rosa;
      background-image: url(image_path('svg/kringel-grey-rosa.svg'));
    }
    &.-coopshare {
      background: none;
      [class^=icon-] {
        margin-left:0px;
        width: 75px;
        height: 75px;
      }
      .txt {
        margin-left:5px;
      }
    }
  }

  .iconfilter:not(.createentry):not(.loginlink)  {
    display: none;
    @include respond-to(">=large") {
      display: flex;
    }
  }

  .createentry, .loginlink {
    color: $color-ambient-rosa;
    flex: 0 0 auto;
    margin-right: 0;
    margin-left: 5%;
    &.jq-dropdown-open, &:hover {
      color: $color-ambient-rosa-dark;
    }
    @include respond-to(">=large") {
      margin-left: auto;
    }
  }

  .loginlink {
    position: relative;
    [class^=icon-] {
      fill: white;
      position: relative;
      z-index: 2;
    }
    .txt {
      color: $color-ambient-rosa;
    }
    &::after {
      content: '';
      width: 60px;
      height: 60px;
      top: 8px;
      left: 9px;
      position: absolute;
      border-radius: 50%;
      z-index: 1;
      background-image: url(image_path('texture-alpha-noise.png'));
      background-color: $color-ambient-rosa;
    }
    &:hover {
      .txt {
        color: $color-ambient-mint;
      }
      &::after {
        background-color: $color-ambient-mint;
      }
    }
  }

  .mapthumb {
    border-radius: 50%;
  }

  //mobile selectmenu
  .input-select {
    flex: 1 1 200px;
    max-width: 500px;
    @include respond-to(">=large") {
      display: none;
    }
  }

}

// Filterstream Wide Scroll Band
.filter-stream.-scrollnav::-webkit-scrollbar {
  height: 0 !important
}
.filter-stream.-scrollnav {

  position: relative;
  margin: 0px 0px 0px 0px;
  //width: 100vw;
  //left: 50%;
  //right: 50%;
  //margin-left: -50vw;
  //margin-right: -50vw;
  margin-left:-20px;
  margin-right:-20px;
  overflow: -moz-scrollbars-none !important; // Testen
  -ms-overflow-style: none !important; // Testen

    // Mobile
    //background-color:rgba($color-ambient-mint, 0.5);
    background-color:#fcfcfc;
    border-bottom: 1px solid #DEEAE6;
    justify-content: flex-start;
    margin-top: -30px;
    margin-bottom:30px;
    padding: 10px 10px 10px 10px;
    .iconfilter .txt {display: none;}

  @include respond-to(">=medium") {
    background:none;
    border-bottom: none;
    justify-content: center;
    margin-top: -50px;
    padding: 20px 20px 25px 20px;
  }
  @include respond-to(">=large") {
    margin-top: -80px;
    padding: 45px 20px 25px 20px;
    .iconfilter .txt {display: block;}
  }

  @include respond-to(">=medium") {

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top:0;
      width: 100%;
      height: 100%;
      background-image: url(image_path('illu/illu-karte-transparent@2x.jpg'));
      background-repeat: no-repeat;
      background-size: 700px;
      background-position: center, center;
    }


    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
      pointer-events: none;
      z-index: 9;
    }
  }


  .iconfilter:not(.createentry):not(.loginlink)  {
    display: flex;
  }
  .iconfilter [class^=icon-] {
    width: 30px;
    height: 30px;
    //fill: $color-ambient-mint-dark;
  }
  .iconfilter {
    height: 55px;
    min-width: 55px;
    background-size: 55px 55px;
    background-image: url(image_path('svg/kringel-grey-white.svg'));
    &:hover {
      background-image: url(image_path('svg/kringel-grey-white.svg'));
      [class^=icon-] {
        fill: $color-ambient-mint-dark;
      }
    }
    &.active, &.active:hover {
      background-image: url(image_path('svg/kringel-grey-mint.svg'));
      [class^=icon-] {
        fill: $color-ambient-rosa;
      }
    }
    @include respond-to(">medium") {
      &:hover, &.active {
        background-image: url(image_path('svg/kringel-grey-mint.svg'));
        [class^=icon-] {
          fill: $color-ambient-rosa;
        }
      }
    }
  }
  .-coopshare {
    background-image: none;
    [class^=icon-] {
      width: 55px;
      height: 55px;
    }
    &:hover, &.active {
      background-image: none;
    }
  }

  @include respond-to("<=medium") {
    &.fixed {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      left:0;
      z-index: 9999;
    }
  }

}

.filter-stream.-underMap {
    margin-top:-35px;
    &::before {
      display: none;
    }
    @include respond-to(">=medium") {
      padding-bottom: 30px;
    }
    @include respond-to(">=large") {
      margin-left:30px;
      margin-top:-50px;
      padding-bottom: 30px;
    }
}




.createmenu {
  max-width: 400px;
  width: 90%;
  width: calc(100% - 20px);
  @include respond-to(">=medium") {
    transform: translate(-20px,0);
    width: 75%;
    width: calc(100% - 200px);
  }
}
