@font-face {
  font-family: 'amaticbold';
  src: url('amatic-bold-webfont.eot');
  src: url('amatic-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('amatic-bold-webfont.woff2') format('woff2'),
  url('amatic-bold-webfont.woff') format('woff'),
  url('amatic-bold-webfont.ttf') format('truetype'),
  url('amatic-bold-webfont.svg#amaticbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amatic_scregular';
  src: url('amaticsc-regular-webfont.eot');
  src: url('amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('amaticsc-regular-webfont.woff2') format('woff2'),
  url('amaticsc-regular-webfont.woff') format('woff'),
  url('amaticsc-regular-webfont.ttf') format('truetype'),
  url('amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
  font-weight: normal;
  font-style: normal;
}




