@font-face {
  font-family: 'amaticbold';
  src: font-url('amatic-bold-webfont.eot');
  src: font-url('amatic-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('amatic-bold-webfont.woff2') format('woff2'),
  font-url('amatic-bold-webfont.woff') format('woff'),
  font-url('amatic-bold-webfont.ttf') format('truetype'),
  font-url('amatic-bold-webfont.svg#amaticbold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'amatic_scregular';
  src: font-url('amaticsc-regular-webfont.eot');
  src: font-url('amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('amaticsc-regular-webfont.woff2') format('woff2'),
  font-url('amaticsc-regular-webfont.woff') format('woff'),
  font-url('amaticsc-regular-webfont.ttf') format('truetype'),
  font-url('amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Fetched from: https://fonts.googleapis.com/css?family=Loved+by+the+King
@font-face {
  font-family: 'Loved by the King';
  font-style: normal;
  font-weight: 400;
  src: font-url('lovedbytheking.woff2') format('woff2');
  font-display: swap;
}

// Fetched from: https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic&subset=latin,latin-ext
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: font-url('lato-normal-400.woff2') format('woff2');
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: font-url('lato-normal-700.woff2') format('woff2');
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: font-url('lato-italic-400.woff2') format('woff2');
  font-display: swap;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: font-url('lato-italic-700.woff2') format('woff2');
  font-display: swap;
}
