/* sizing scheme

 largest
 larger
 large
 base
 small
 smaller
 smallest

*/

@mixin font-size-primaryFont($size: 'base') {

  line-height: 1.4;

  @if $size == 'small' {
    font-size: 1.2rem;
    @include respond-to(">=medium") {
      font-size: 1.4rem;
    }
  }

  @if $size == 'base' {
    font-size: 1.4rem;
    @include respond-to(">=medium") {
      font-size: 1.6rem;
    }
  }

  @if $size == 'large' {
    font-size: 1.6rem;
    @include respond-to(">=medium") {
      font-size: 1.8rem;
    }
  }

  @if $size == 'larger' {
    font-size: 1.8rem;
    @include respond-to(">=medium") {
      font-size: 2.0rem;
    }
    @include respond-to(">=large") {
      font-size: 2.2rem;
    }
  }

}


@mixin font-size-secondaryFont($size: 'base') {
  font-family: $font-secondary;
  font-weight: normal;
  line-height: 1.0;


  @if $size == 'small' {
    font-size: 2.6rem;
    @include respond-to(">=large") {
      font-size: 2.8rem;
    }
  }

  @if $size == 'base' {
    font-size: 3.0rem;
    @include respond-to(">=medium") {
      font-size: 3.6rem;
    }
    @include respond-to(">=large") {
      font-size: 4.0rem;
    }
  }

  @if $size == 'medium' {
    font-size: 3.6rem;
    @include respond-to(">=medium") {
      font-size: 5.0rem;
    }
    @include respond-to(">=large") {
      font-size: 5.0rem;
    }
  }

  @if $size == 'large' {
    font-size: 3.6rem;
    @include respond-to(">=medium") {
      font-size: 5.0rem;
    }
    @include respond-to(">=large") {
      font-size: 6.0rem;
    }
  }

  @if $size == 'larger' {
    font-size: 3.8rem;
    @include respond-to(">=medium") {
      font-size: 5.5rem;
    }
    @include respond-to(">=large") {
      font-size: 7.0rem;
    }
  }

}
