$fieldHeight: 60px;


// ---------------------------------------------------------------------- base


input, select, textarea {
  font-family: $font-primary;
  border: none;
}

.input-plain {
  font-size: 1.6rem;
  padding: 2.0rem 1.4rem;
  margin: 0;
  line-height: 1.2;
  background-color: $color-ambient-mint-light;
  color: $color-font-primary;
  box-shadow: inset 2px 2px 2px 0 rgba(0,0,0,0.05);
}

// 2 Form Fields in a row on Desktop
.form-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div:not([class^="picker"]) {
    width:100%;
    @include respond-to(">small") {
      width:48.5%;
      overflow: hidden;
    }
  }
  &.-three {
    .input-field, .input-select {
      @include respond-to(">small") {
        width:31.5%;
      }
    }
  }
}

.type-selection {
  display: grid;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;

  .input-radio {
    label {
      @include font-size-primaryFont('larger');
      padding-bottom: 5px;
    }
  }
}

.nested-fields {
  position: relative;
  a.remove_fields {
    position: absolute;
    top:5px;
    right:10px;
    z-index: 9;
    @include respond-to(">=medium") {
      top:15px;
    }
  }
  &.-line {
    padding-bottom:10px;
    margin-bottom:30px;
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse at center bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 70%);
    }
  }
  &.-line-up {
    top:25px;
    padding-bottom:25px;
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      top: -32px;
      left: 0;
      background-image: radial-gradient(ellipse at center bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 70%);
    }
  }
  &.-first-no-remove:first-of-type {
    .remove_fields { display: none; }
  }
  .-toggle {
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      width:28px;
      height:28px;
      right: 10px;
      top:5px;
      z-index: 7;
      background-image: url(image_path('svg/icon-arrow-rosa.svg'));
      background-repeat: no-repeat;
      @include respond-to(">=medium") {
        top:15px;
      }
    }
    &.-opened {
      &:after {
        display: none;
      }
    }
    input:focus {
      z-index: 8;
    }
  }
}

// ---------------------------------------------------------------------- textfield & select & textarea
@mixin field-HorizontalLayout {
  display: flex;

  > label {
    flex: 0 0 auto;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
    border-bottom: solid 1px $color-ambient-mint-light;
    border-right: 0;
    min-width: 145px;
  }

  > label[for$="address_city"]
  {
      min-width: 95px;
  }

  > .label-right {
    border-left: 0;
    border-right: solid 1px $color-ambient-mint-light;
  }
  input, select, textarea {
    &:last-of-type {
      //     border-radius: 0 4px 4px 0;
    }
  }

  button:last-of-type {
    margin-top: 0;
    flex: 0 0 auto;
    width: auto;
    border-radius: 0 4px 4px 0;
  }
}

%label {
  display: flex;
  font-style: italic;
  line-height: 1.2;
  color: $color-ambient-mint-dark;
  background-color: #ffffff;
  border-top: solid 1px $color-ambient-mint-light;
  border-right: solid 1px $color-ambient-mint-light;
  border-left: solid 1px $color-ambient-mint-light;
  padding: 5px;
  border-radius: 4px 4px 0 0;
  align-items: center;
  font-size: 1.6rem;
  .icon {
    fill: currentcolor;
    flex: 0 0 auto;
  }
  .icon + span {
    //min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  a {
    color: currentcolor;
  }
  &.-invalid {
    background-color: $color-ambient-rosa-light;
    color: $color-ambient-rosa-dark;
  }
}

.label-right {
  border-bottom: solid 1px $color-ambient-mint-light;
  border-right: solid 1px $color-ambient-mint-light;
  border-left: solid 1px $color-ambient-mint-light;
}


%input {
  @extend .input-plain;
  width: 100%;
  flex-grow: 1;
  &[disabled], &[readonly] {
    background-color: $color-ambient-grey-light;
    color: $color-ambient-grey;
  }
}

%field, .upload-oldschool {
  &.disabled, &.readonly {
    img {
      filter: grayscale(1);
    }
    > label {
      color: $color-ambient-grey;
      border-color: $color-ambient-grey-light;
    }
    :disabled::-webkit-input-placeholder { /* WebKit browsers */
    color: $color-ambient-grey; opacity: 0.7;
    }
    :disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color-ambient-grey; opacity: 0.7;
    }
    :disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color-ambient-grey; opacity: 0.7;
    }
    :disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color-ambient-grey; opacity: 0.7;
    }
  }
  &.disabled.input-select::before {
    background-color: $color-ambient-grey-light;
  }
  &.disabled.input-select::after {
    border-top-color: $color-ambient-grey;
  }
  > label {
    @extend %label;
  }
  > input, select, textarea, .fakefield, .easy-autocomplete > input,
  .tt-input, .tt-hint {
    @extend %input;
  }
  button:last-of-type {
    width: 100%;
    margin-top: 20px;
  }
  @include respond-to(">=medium") {
    @include field-HorizontalLayout;
    &.-vertical {
      display: block;
    }
  }

  &.-vertical {
    > label {
      border-right: 1px solid $color-ambient-mint-light;
      > span {
        width:100%;
        display: block;
        padding:7px;
      }
      span > strong {
        display: block;
        text-align: center;
        margin-bottom: 7px;
        padding-bottom: 7px;
        border-bottom: 1px solid $color-ambient-mint-light;
      }
    }
  }

}

.input-field {
  position: relative; // needed for <em> error msg url field
  @extend %field;
  input {
    height: $fieldHeight;
  }
}

.input-select {
  @extend %field;
  position: relative;
  select {
    height: $fieldHeight;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }
  &::before {
    /*  Custom dropdown arrow cover */
    width: 40px;
    right: 0;
    bottom: 0;
    height: $fieldHeight;
    border-left: 1px dotted #ffffff;
    background-color: $color-ambient-mint-light;
  }
  &::after {
    /*  Custom dropdown arrow */
    @include triangleSingle($direction: "down", $color: $color-ambient-mint-dark);
    right: 14px;
    bottom: 27px;
  }

  select {
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
    -webkit-appearance: none; /* hide 3d shadow */
    color: $color-ambient-mint-dark;
    option {
      color: $color-ambient-mint-dark;
      &:disabled {
        color: $color-ambient-grey;
        font-style: italic;
      }
    }
  }
  select[disabled] {
    color: $color-ambient-grey;
    background-color: $color-ambient-grey-light;
    //font-style: italic;
  }

  &.select-btn {
    min-width: fit-content;
    select {
      font-size: 1.8rem;
      font-style: italic;
      color: #ffffff;
      background-image: $texture-primary;
      background-color: $color-ambient-rosa;
      option {
        color: $color-ambient-mint-dark;
      }
    }
    &::before {
      /*  Custom dropdown arrow cover */
      border-left: 1px dotted #ffffff;
      background-image: $texture-primary;
      background-color: $color-ambient-rosa;
    }
    &::after {
      /*  Custom dropdown arrow */
      @include triangleSingle($direction: "down", $color: #ffffff);
    }
  }

}

.input-select .SumoSelect {
  width: 100%;
  .SelectBox {
    @extend .input-plain;
    border:none;
  }

  .placeholder {
    color: $color-ambient-mint;
    font-style: italic;
  }

  .search-txt {
    height: 100%;
    font-size: 1.6rem;
  }

  &.open > .optWrapper {
    top: 60px;
  }

  p {
    margin-bottom: 0;
  }

}

.input-textarea {
  @extend %field;
  textarea {
    min-height: $fieldHeight*1.5;
  }
}

.charCountContainer {
  z-index: 99;
  position: absolute;
  bottom:5px;
  right:8px;
  @include font-size-primaryFont('small');
  color: $color-ambient-mint-dark;
}

// ---------------------------------------------------------------------- checkbox & radios

%checks {
  position: relative;
  input { display: none; }
  label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    font-size: 1.6rem;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      // top: 50%;
      // transform: translate(0, -50%);
      width: 20px;
      height: 20px;
      background-color: $color-ambient-mint-light;
      border: 2px solid $color-ambient-mint;
      transition: 0.5s;
    }
  }
  &.disabled, &.readonly {
    > label {
      color: $color-ambient-grey;
      border-color: $color-ambient-grey-light;
    }
  }
}

.input-checkbox {
  @extend %checks;

  label::before {
    border-radius: 2px;
    font-size: 28px;
    line-height: 20px;
    color: $color-ambient-mint;
  }
  &.disabled {
    label::before {
      background-color: $color-ambient-grey-light;
      border-color: $color-ambient-grey;
    }
  }

  input:checked + label {
    &::before {
      content: '✔';
      color: $color-font-primary;
    }
  }
}


.input-labledcheckbox {

  > label {
    @extend %label;
  }
  .field-wrp {
    @extend %input;
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid $color-ambient-mint-light;
    label {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  @include respond-to(">=medium") {
    @include field-HorizontalLayout;
    > label {
      padding-top: 20px;
      align-items: flex-start;
      .icon {
        margin-top: -5px;
      }
    }
  }
}


.input-radio {
  @extend %checks;

  label::before {
    border-radius: 50%;
  }

  input:checked + label, input.checked + label {
    &:before {
      background-color: $color-font-primary;
    }
  }
  &.disabled {
    label::before {
      background-color: $color-ambient-grey-light;
      border-color: $color-ambient-grey;
    }
  }
}

.input-switch {
  width: 80px;
  height: 40px;
  position: relative;
  input {
    display: none;
  }
  label {
    cursor: pointer;
    border-radius: 20px;
    background-color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid lighten($color-ambient-grey,20);
    padding: 2px;
    transition: all 0.2s;
    &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: lighten($color-ambient-grey,20);
      z-index: 2;
      transform: translate(0, 0);
      border-radius: 50%;
      transition: all 0.2s;
      left: 4px;
      top: 4px;
      width: 32px;
      height: 32px;
    }
  }
  input:checked + label {
    border-color: $color-ambient-mint;
    &:before {
      background-color: $color-ambient-mint;
      left: 44px;
    }
  }
  &.-checked {
    label {
      border-color: $color-ambient-mint;
      &:before {
        background-color: $color-ambient-mint;
        left: 44px;
      }
    }
  }
}
// ---------------------------------------------------------------------- Button Row

.input-button {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  a {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .btn-primary, .btn-secondary {
    margin-bottom:15px;
    margin-left: 1%;
    margin-right: 1%;
  }
  @include respond-to("<=medium") {
    justify-content: center;
    .btn-primary, .btn-secondary {
      margin-left:0px;
      width:100%;
    }
  }
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px dotted $color-ambient-mint-dark;
}

// ---------------------------------------------------------------------- Upload Fields
.upload-oldschool {
  > label {
    @extend %label;
  }
  .field-wrp {
    @extend %input;
  }
  .input-checkbox {
    label::before {
      background-color: #fff;
    }
  }
  @include respond-to(">=medium") {
    @include field-HorizontalLayout;
  }
  &.disabled .field-wrp {
    background-color: $color-ambient-grey-light;
    color: $color-ambient-grey;
  }
}


.input-tags {
  @extend %field;
  .tagsinput {
    @extend %input;
    width: auto !important;
    min-height: 100px !important;
    height: 100% !important;
    border: none;
    overflow-y: auto;


    span.tag {
      background-color: $color-ambient-bright;
      border-color: $color-ambient-mint-dark;
      color: $color-ambient-mint-dark;
      font-family: $font-primary;
    }
    span.tag a {
      color: $color-ambient-rosa;
      font-size: 14px;
      margin-left: 5px;
      margin-top: -3px;
    }
    input {
      color: $color-ambient-mint !important;
      font-style: italic;
      font-size: 16px;
      width: auto !important;
      font-family: $font-primary;
    }

  }
}



// ---------------------------------------------------------------------- misc


// hack to prevent chrome from coloring autoprefilled fields
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $color-ambient-mint-light inset;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: $color-ambient-mint;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $color-ambient-mint;
  font-style: italic;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $color-ambient-mint;
  font-style: italic;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $color-ambient-mint;
  font-style: italic;
}

// remove arrows next to number inputs in Chrome
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


// ---------------------------------------------------------------------- collection of form elements

.form-block {
  margin-bottom: 50px;
  .txt:first-child {
    @include font-size-secondaryFont('base');
    margin-bottom: 20px;
    text-align: center;
    span {
      color: $color-ambient-rosa;
    }
  }
  .desc {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .input-field,
  .input-textarea,
  .input-select,
  .upload-oldschool,
  .input-labledcheckbox,
  .input-tags {
    margin-bottom: 2rem;
  }

}

// Hint for URL Validation
input[type=url]:invalid + em {
  position: absolute;
  top:50%;
  right: 10px;
  height:20px;
  margin-top:-10px;
	display: flex;
  align-items: center;
}
input[type=url]:invalid + em::after {
	color: $color-ambient-rosa-dark;
  display: block;
  margin-left: 10px;
	content: "http:// oder https://";
  @include font-size-primaryFont('small');
}

.upload-hint {
  color: $color-ambient-grey;
  display: block;
}

// ---------------------------------------------------------------------- Login Panel Modal

.login-panel-modal, .login-panel {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .login {
      .input-field {
        margin-bottom:10px;
      }
    }
    .register {
      margin-left:20px;
      .paperCard {
        .wrp {
          padding: 160px 25px 20px 25px;
          background-position: center top 5px;
          background-size: auto 170px;
        }
      }
    }
    .sharedLinks {
      margin-top:25px;
      margin-bottom:25px;
      padding-top:15px;
      border-top: solid 1px $color-ambient-mint-light;
      a {
        color: $color-ambient-grey;
      }
    }
    .btn-primary {
      width:100%;
    }
    .login, .register {
      width:100%;
      @include respond-to(">=medium") {
        width:45%;
      }
    }
  }

  &.-content {
    .container {

      // Remove Linebreak for labels if small
      .input-field {
        @include respond-to("<medium") {
          @include field-HorizontalLayout;
        }
      }
      .input-field label {
        min-width:50px !important;
        max-width:50px !important;
      }
      // End

      align-items: stretch;
      justify-content: space-between;

      .login, .register {
        margin:0px;
        width:100%;
        @include respond-to(">=medium") {
          width:48%;
        }
      }
      .register {
        margin-top:20px;
        @include respond-to(">=medium") {
          margin-top:0px;
        }
        border-top: solid 1px $color-ambient-mint-light;
        border-bottom: solid 1px $color-ambient-mint-light;
        background-color: white;

        display: flex;
        flex-direction: column;
        align-items: center;

        .wrp {
          font-weight: bold;
          height: calc(100% - 46px);
          display: flex;
          align-items: center;
          text-align: center;
          padding-top:20px;
          padding-bottom:20px;
          @include respond-to(">=medium") {
            padding:0px;
          }
        }
      }
    }
    .sharedLinks {
      margin-top:0px;
      margin-bottom:0px;
      padding-top:0px;
      height: 46px;
      display: flex;
      align-items: center;
      a {
        color: $color-ambient-mint-dark;
      }
    }
  }
}
.login-panel-modal {
  display: none;
  .hl-subtext {
    margin-bottom: 30px;
    h1 {
      @include font-size-secondaryFont('medium');
    }
    p {
      @include font-size-primaryFont('base');
    }
  }
}

#card-element {width:100%;}

// DATE PICKER OVERRIDES
.request-price-form, .rental-date-form {
  .picker__day {
    position: relative;
  }
  .picker__day--disabled::after {
    top: 0;
    left: 0;
    width: 1px;
    right: 0;
    height: 80%;
    bottom: 0;
    margin: auto;
    content: '';
    display: block;
    position: absolute;
    transform: rotate(60deg);
    background: $color-ambient-rosa;
    //text-decoration: line-through;
  }

}

.usage-period-switch {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  div {
    display: inline-block;
  }
  label {
    min-width: 0px !important;
    margin-right: 20px !important;
  }
}

.option-switch {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    display: flex;
    width:90%;
    white-space: nowrap;
    @include respond-to(">=small") {
      width:51%;
    }
    @include respond-to(">=medium") {
      width: unset;
      margin-left:unset;
    }
  }
  label {
    min-width: 0px !important;
    margin-right: 30px;
    em {
      color: $color-ambient-grey;
    }
  }
}

.cb-columns {
  overflow: hidden;
  margin: 2rem 0 2rem;
  .input-checkbox {
    float: left;
    width: 100%;
    @include respond-to(">=small") {
      width: 50%;
    }
    @include respond-to(">=medium") {
      width: 33%;
    }
  }
}

.--hidden {
  display:none;
}
