.graetzl-ambassador {
  color: $color-ambient-mint-dark;
  display: table;
  font-size: 18px;
  margin: 0 auto 30px auto;
  .icon {
    fill: $color-ambient-rosa;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

}
