#graetzlMapWidget {
  width: 100%;
  background-color: transparent;
  position: relative;
  cursor: default;
  display: block;
  &::before {
    @include respond-to(">=medium") {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to right, rgba(252,252,252,1) 50%,rgba(252,252,252,0) 100%);
      pointer-events: none;
      z-index: 1;
      height: 100%;
      width: 400px;
    }
  }

  &.singleGraetzlHeader {
    height: 150px;
    @include respond-to(">=medium") {
      height: 200px;
      &::before {
        width: 50%;
      }
    }
    @include respond-to(">=large") {
      height: 200px;
      &::before {
        width: 650px;
      }

    }
  }

}