header {
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #DEEAE6;
  display: block;
  @include respond-to(">=medium") {
    margin-bottom: 4rem;
  }
}

.mainNavHolder {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
  @include respond-to(">=medium") {
    height: 70px;
  }
  .nav-mainActions {
    display: none;
    @include respond-to(">=large") {
      display: block;
    }
  }
}

.logoGraetzl {
  width: 60px;
  margin-right: auto;
  @include respond-to(">=medium") {
    margin-right: 0;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @include respond-to(">=large") {
    width: 203px;
    background: url(image_path('bg-logo-bottom@2x.png')) no-repeat center bottom;
    background-size: 100%;
    top: 19px;
    transform: translate(-50%, 0);
  }

  img {
    width: 100%;
    display: block;
    max-width: 120px;
    @include respond-to(">=large") {
      padding-bottom: 20px;
      margin: 0 auto;
    }
  }
}


.mobileNavToggle {
  padding: 12px 16px 12px 0;
  @include respond-to(">=medium") {
    margin-right: auto;
  }
  @include respond-to(">=large") {
    display: none;
  }
  [class*=icon-] {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    fill: $color-font-primary;
    pointer-events: none;
    @include respond-to(">=medium") {
      width: 34px;
      height: 34px;
    }
  }
  span {
    display: none;
    @include respond-to(">450px") {
      color: $color-ambient-mint-dark;
      font-family: $font-tertiary;
      font-size: 1rem;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
    }
    @include respond-to(">=medium") {
      font-size: 1.3rem;
    }
  }
}


.nav-mainActions, .nav-loggedOut {
  @include cf;
  a {
    color: $color-ambient-mint-dark;
    font-family: $font-tertiary;
    text-decoration: none;
    display: block;
    float: left;
    font-size: 1rem;
    &:hover, &:active {
      color: $color-ambient-rosa;
    }
    @include respond-to(">=medium") {
      font-size: 1.2rem;
    }
    @include respond-to(">=large") {
      font-size: 1.3rem;
    }
  }
}

.nav-mainActions {
  @include respond-to(">=large") {
    margin-right: auto;
  }

  //mobile
  @include respond-to("<large") {
    a {
      display: block;
      float: none;
      font-size: 1.2rem;
      text-align: center;
      padding: 8px 0;
      border: none;
      background-color: lighten($color-ambient-mint, 20);
      margin: 0 0 2px 0;
    }
  }



  .createMeeting {
    @include respond-to(">=large") {
      border-left: 1px dotted lighten($color-ambient-mint, 20);
      margin-left: 20px;
      padding-left: 20px;
    }
    span {
      background-image: url(image_path('svg/icon-right-blinky.svg')), url(image_path('svg/icon-left-blinky.svg'));
      background-position: right center, left center;
      background-repeat: no-repeat;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
      display: table;
    }
  }
}

.nav-loggedOut {
  .register {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px dotted lighten($color-ambient-mint, 20);
    @include respond-to(">=large") {
      margin-right: 20px;
      padding-right: 20px;
    }
    span {
      @include respond-to(">=medium") {
        background-image: url(image_path('svg/icon-arrow-right-blinky.svg'));
        background-repeat: no-repeat;
        padding-left: 38px;
        background-position: left center;
      }
    }
  }
}



.mobileNavHolder {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #DEEAE6;
  @include respond-to(">=large") {
    display: none !important;
  }
}

.userSettings {
  color: $color-ambient-mint-dark;
  font-size: 1rem;
  height: 100%;
  .img-user {
    @include img-round(35px);
    display: block;
    @include respond-to(">=medium") {
      width: 45px;
      height: 45px;
    }
  }
  .dropDownToggle {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .dropDownContent {
    &:before {
      @include triangleSingle(up, $color-ambient-mint, 8px);
      content: '';
      position: absolute;
      top: -8px;
      right: 15px;
    }
  }

  .username {
    display: none;
    margin-right: 8px;
    font-size: 1.2rem;
    font-family: $font-tertiary;
    @include respond-to(">450px") {
      display: block;
      margin-left: 10px;
    }
  }
}

.newNotifications {
  height: 100%;
  [class*=icon-] {
    width: 25px;
    height: 25px;
    fill: $color-ambient-mint-dark;
  }
  .dropDownToggle {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .dropDownContent {
    padding-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 200px;
    color: grey;

    &:before {
      @include triangleSingle(up, $color-ambient-mint, 8px);
      content: '';
      position: absolute;
      top: -8px;
      right: 15px;
    }
  }
}

.badgeNumber {
  background-color: $color-ambient-rosa;
  color: $color-background-bright;
  border-radius: 3px;
  line-height: 1;
  font-size: 0.6rem;
  padding: 1px 3px;
}




