%navFont {
  color: $color-ambient-mint-dark;
  font-family: $font-tertiary;
  font-size: 1.4rem;
}

header {
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #DEEAE6;
  display: block;
  @include respond-to(">large") {
    margin-bottom: 6rem;
  }

  .inner {
    width: 90%;
    margin: 0 auto;
    max-width: $layout-max-width;
  }

  .upperNavHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    @include respond-to(">=medium") {
      height: 70px;
    }
  }
}


.logoGraetzl {
  position: absolute;
  width: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include respond-to(">=medium") {
    width: 100px;
  }
  @include respond-to(">=large") {
    width: 203px;
    background: url(image_path('bg-logo-bottom.png')) no-repeat center bottom;
    top: 20px;
    transform: translate(-50%, 0);
  }

  img {
    width: 100%;
    display: block;
    max-width: 120px;
    @include respond-to(">=large") {
      padding-bottom: 20px;
      margin: 0 auto;
    }
  }
}


.mobileNavToggle {
  @include respond-to(">=large") {
    display: none;
  }

  span {
    display: none;
    @extend %navFont;
    @include respond-to(">500px") {
      display: inline-block;
      vertical-align: middle;
    }
  }

  [class*=icon-] {
    display: inline-block;
    vertical-align: middle;
    width: 29px;
    height: 29px;
    fill: $color-ambient-rosa;
    @include respond-to(">500px") {
      margin-right: 0.5rem;
      width: 35px;
      height: 35px;
    }
  }
}


.nav-mainActions, .nav-loggedOut {
  a {
    @extend %navFont;
    text-decoration: none;
    display: block;
    text-align: center;
    &:hover {
      color: $color-ambient-rosa;
    }
    @include respond-to(">=large") {
      float: left;
      padding-right: 20px;
      margin-right: 20px;
      border-right: 1px dotted lighten($color-ambient-mint, 10);
      &:last-child {
        padding-right: 0;
        margin-left: 0;
        border: none;
      }
    }
  }
}

.mobileNavHolder {
  display: none;
  background-color: lighten($color-ambient-mint, 20);
  @include respond-to(">=large") {
    display: none !important;
  }
}
.upperNavHolder {
  .nav-mainActions, .nav-loggedOut {
    display: none;
    @include respond-to(">=large") {
      display: block;
    }
  }
}


.nav-userContext {
  display: flex;
  align-items: center;
}

.newNotifications {
  [class*=icon-] {
    width: 30px;
    height: 30px;
  }
}

.userSettings {
  display: flex;
  align-items: center;
  margin-left: 15px;
  .img-user {
    @include img-round(35px);
    display: block;
    @include respond-to(">=medium") {
      width: 45px;
      height: 45px;
    }
  }

  .username {
    @extend %navFont;
    display: none;
    @include respond-to(">600px") {
      display: block;
      margin-left: 10px;
    }
  }
}

.contextMenu {
  position: relative;
  .toggle {

  }

  .toggleContent {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    display: none;
  }

}