@mixin headlineBarbapapa() {
  color: #ffffff;
  font-family: $font-secondary;
  background-image: url(image_path('texture-alpha-noise.png')), url(image_path('svg/bg-headline-barpapapa.svg'));
  background-repeat: repeat, no-repeat;
  background-size:  100px 100px, auto 100%;
  background-position: top left;
  border-radius: 0 12px 12px 0;
  padding: 5px 18px 8px 17px;
  display: table;
  line-height: 1;
  @include respond-to("retina2x") {
    background-size:  50px 50px, auto 100%;
  }
}

@mixin headlineBarbapapaMint() {
  color: #ffffff;
  font-family: $font-secondary;
  background-image: url(image_path('texture-alpha-noise.png')), url(image_path('svg/bg-headline-barpapapa-mint.svg'));
  background-repeat: repeat, no-repeat;
  background-size:  100px 100px, auto 100%;
  background-position: top left;
  border-radius: 0 12px 12px 0;
  padding: 5px 18px 8px 17px;
  display: table;
  line-height: 1;
  @include respond-to("retina2x") {
    background-size:  50px 50px, auto 100%;
  }
}

@mixin headlineBarbapapaMintDark() {
  color: #ffffff;
  font-family: $font-secondary;
  background-image: url(image_path('texture-alpha-noise.png')), url(image_path('svg/bg-headline-barpapapa-mintdark.svg'));
  background-repeat: repeat, no-repeat;
  background-size:  100px 100px, auto 100%;
  background-position: top left;
  border-radius: 0 12px 12px 0;
  padding: 5px 18px 8px 17px;
  display: table;
  line-height: 1;
  @include respond-to("retina2x") {
    background-size:  50px 50px, auto 100%;
  }
}

.headlineBarbapapa {
  @include headlineBarbapapa();
}
.toolteiler-headline, .raumteiler-headline, .meetings-headline, .locations-headline {
  width: 340px;
  height:auto;
  max-width: 70%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left:30px;
}
.meetings-headline {
  width: 430px;
  padding-left:20px;
}
.locations-headline {
  width: 500px;
  padding-left:30px;
}
