@mixin headlineBarbapapa() {
  color: #ffffff;
  font-family: $font-secondary;
  background-image: url(image_path('texture-alpha-noise.png')), url(image_path('svg/bg-headline-barpapapa.svg'));
  background-repeat: repeat, no-repeat;
  background-size:  100px 100px, auto 100%;
  background-position: top left;
  border-radius: 0 12px 12px 0;
  padding: 5px 18px 8px 17px;
  display: table;
  line-height: 1;
  @include respond-to("retina2x") {
    background-size:  50px 50px, auto 100%;
  }
}

@mixin headlineBarbapapaMint() {
  @include headlineBarbapapa();
  background-image: url(image_path('texture-alpha-noise.png')), url(image_path('svg/bg-headline-barpapapa-mint.svg'));
}

@mixin headlineBarbapapaMintDark() {
  @include headlineBarbapapa();
  background-image: url(image_path('texture-alpha-noise.png')), url(image_path('svg/bg-headline-barpapapa-mintdark.svg'));
}

.headlineBarbapapa {
  @include headlineBarbapapa();
}

.raumteiler-headline, .meetings-headline, .locations-headline, .coop-share-headline {
  width: auto;
  height:60px;
  max-width: 95%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  @include respond-to(">=medium") {
    height:80px;
    padding-left:30px;
  }
}
.coop-share-headline {
  @include respond-to(">=medium") {
    height:70px;
    padding-left:0px;
  }
}
.meetings-headline {
  @include respond-to(">=medium") {
    padding-left:20px;
  }
}
