.headerImgBlock {
  position: relative;
  z-index: 1;
  margin-top: -3rem;
  margin-left: -18px;
  margin-right: -18px;
  @include respond-to(">=medium") {
    margin-top: -5rem;
    margin-left: -25px;
    margin-right: -25px;
  }
  @include respond-to(">=large") {
    margin-top: -8rem;
  }
}