a.hint-questionmark, a.hint-questionlink {
  position: absolute;
  margin-top:-2px;
  padding-left: 5px;
  padding-right: 5px;
  color: rgba($color-ambient-grey, 0.40);
  //color: $color-ambient-mint-dark;
  svg {
    width:24px;
    height:24px;
  }
}
a.hint-questionmark:hover, a.hint-questionlink:hover {
  color: $color-ambient-rosa-dark;
}
.hint-info {
  min-width:150px;
  max-width:200px;
  margin-left:-80px;
  margin-top:5px;
  @include font-size-primaryFont('small');
  .jq-dropdown-panel {
    background-color: $color-ambient-mint-light !important;
  }
}
a.hint-questionlink {
  display: inline-flex;
  align-self: center;
  top: .125em;
  position: relative;
  color: rgba($color-ambient-grey, 0.70);
  padding: 0px;
}
