.imgHeader {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  margin-left: -18px;
  margin-right: -18px;
  padding-top: 30px;

  @include respond-to(">=medium") {
    padding-top: 0;
    margin-top: -50px;
    margin-left: -25px;
    margin-right: -25px;
  }

  @include respond-to(">=large") {
    margin-top: -80px;
  }

  .imgWrapper {
    background-position: center center;
    background-size: cover;
    background-color: #edf7f6;
  }

  // Full Width Header
  &.-fullwidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 0;
    max-height: 100%;

    .titleImg {
      width: 100%;
      max-width: 980px;
      margin: auto;

      &.-fullwidth {
        max-width: 1280px;
      }

    }
  }

  .titleImg {
    max-width: 100%;
    height:auto; // Used for responsive https://blog.logrocket.com/jank-free-page-loading-with-media-aspect-ratios/
    display: block;
    margin-bottom: 2rem;
    @include respond-to(">=medium") {
      z-index: 1;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.-cloudy, &.-cloudy2, &.-cloudy3 {
    @include respond-to(">=medium") {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.-cloudy {
    &:before {
      @include respond-to(">=medium") {
        background: url(image_path('mask-imgcloudybottom.png')) no-repeat left bottom;
      }
    }
  }
  &.-cloudy2 {
    &:before {
      @include respond-to(">=medium") {
        background: url(image_path('mask-imgcloudybottom2.png')) no-repeat left bottom;
      }
    }
  }
  &.-cloudy3 {
    overflow: initial;
    &:before {
      @include respond-to(">=medium") {
        top:130px;
        background: url(image_path('mask-imgcloudybottom3.png')) no-repeat left bottom;
      }
    }
  }

  &.-shadowed {
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
      pointer-events: none;
      z-index: 9;
    }
  }

}
