.imgHeader {

  position: relative;
  overflow: hidden;
  z-index: 1;

  margin-top: -30px;
  margin-left: -18px;
  margin-right: -18px;

  @include respond-to(">=medium") {
    margin-top: -50px;
    margin-left: -25px;
    margin-right: -25px;
    max-height:350px;
  }
  @include respond-to(">=large") {
    margin-top: -80px;
    max-height:400px;
  }

  .titleImg {
    display: block;
    width:100%;
    height:300px;
    object-fit: cover;
    object-position: center center;
    @include respond-to(">=medium") {
      height:350px;
    }
    @include respond-to(">=large") {
      height:400px;
    }
  }

  // Full Width Header
  &.-fullwidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 0;
    max-height: 100%;
    .titleImg {
      width: 100%;
      max-width: 980px;
      margin: auto;
      &.-fullwidth {
        max-width: 1280px;
      }
    }
  }

  &.-line {
    @include respond-to(">=large") {
      .titleImg { border-bottom: 10px solid $color-ambient-mint-light;}
    }
  }

  &.-cloudy, &.-cloudy2 {
    @include respond-to(">=medium") {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.-cloudy {
    &:before {
      @include respond-to(">=medium") {
        background: url(image_path('mask-imgcloudybottom.png')) no-repeat left bottom;
      }
    }
  }
  &.-cloudy2 {
    &:before {
      @include respond-to(">=medium") {
        background: url(image_path('mask-imgcloudybottom2.png')) no-repeat left bottom;
      }
    }
  }

  &.-shadowed {
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
      pointer-events: none;
      z-index: 9;
    }
  }

}
