.input-range {

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 15px;
    background: #fff;
  }

  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 30px;
    width: 30px;
    background-color: $color-ambient-rosa-dark;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
    &[disabled]{
      background-color: $color-ambient-grey-dark !important;
    }
  }

  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 30px;
    width: 30px;
    background-color: $color-ambient-rosa-dark;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
    &[disabled]{
      background-color: $color-ambient-grey-dark !important;
    }
  }

  /* Hover, active & focus Thumb: Webkit */

  input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
  }
  input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }

  /* Hover, active & focus Thumb: Firfox */

  input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
  }
  input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)    
  }

  .range {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top:30px;
    margin-bottom: 25px;

    ul {
      list-style: none;
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &.editable li {
        cursor: pointer;
      }
    }

    li {
      list-style: none;
      padding-top:12px;
      width:30px;
      white-space: nowrap;
      color: $color-ambient-grey;
      &.-show {
        font-weight: bold;
        color: $color-ambient-rosa-dark;
        cursor: default;
      }
    }
  }

  .percent-info-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    h3 {margin-bottom:3px; text-transform: uppercase;}
    .facts {
      margin-top:10px;
      padding-top:10px;
      border-top: 1px dotted $color-ambient-mint-dark;
      li {
        background: url(image_path('svg/icon-arrow-right-blinky-rosa-dark.svg')) no-repeat left top;
        background-size: 25px;
        padding-left:35px;
        list-style: none;
        font-weight: normal;
        text-align: left;
        margin-bottom:7px;
        &:last-of-type { margin-bottom:0px; }
        small {
          float:right;
        }
      }
      li.check {
        background: url(image_path('svg/icon-check.svg')) no-repeat left -3px;
        small {display: none;}
      }
      li.uncheck {
        background: url(image_path('svg/icon-uncheck.svg')) no-repeat left -3px;
        color: $color-ambient-grey;
      }
    }
  }

  .cardBox {
    width:100%;
    text-align: center;
    display: none;
    font-weight: bold;
    background-color:rgba($color-ambient-mint-light, 1.0);
    &:before {
      @include triangleSingle($direction: "up", $color: $color-ambient-mint-light, $size: 15px);
      content: '';
      top: -15px;
      left:6px;
      position: absolute;
    }
    &.-show {
      display: block;
      // CrowdCampaign
      &.percent-1::before {
        left: calc(20% - 6px);
      }
      &.percent-2::before {
        left: calc(40% - 12px);
      }
      &.percent-3::before {
        left: calc(60% - 18px);
      }
      &.percent-4::before {
        left: calc(80% - 24px);
      }
      &.percent-5::before {
        left:unset;
        right:6px;
      }
    }
  }

}