.jBoxHidden {
  display:none;
}
.jBoxDropdown {
  > div, a {
    border-bottom: 1px solid $color-ambient-mint-light;
    padding: 15px;
    text-decoration: none;
    color: $color-font-primary;
    display: flex;
    align-items: center;
    &:hover, &:active {
      background-color: $color-ambient-mint-light;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .icon {
    margin-right: 16px;
    color: $color-ambient-rosa;
    width: 30px;
    height: 30px;
    flex: none;
  }
  .icontxt {
    margin-right: 20px;
  }
  .img-square {
    width: 30px;
    height: 30px;
    margin-left: auto;
    padding: 1px;
    flex: 0 0 auto;
  }
}

.jBox-Modal {

  #jBoxRoinRequest {
    max-width:700px;
    h1 {
      @include headlineBarbapapa();
      margin: auto;
      margin-bottom:15px;
    }
    h3 {
      @include font-size-primaryFont('large');
    }
    .input-textarea textarea {
      margin-top: 10px;
      margin-bottom: 25px;
      height: 120px !important;
      max-height: 120px !important;
      overflow:auto !important;
    }
  }

  .request-message-modal {
    max-width:700px;
    .wrapper {
      display: flex;
      margin-bottom:15px;
      padding-bottom:15px;
      border-bottom: solid 1px $color-ambient-mint-light;
      align-items: center;
      justify-content: center;
      .avatar {
        margin-right:5px;
        height:50px;
      }
    }
    .anwsers {
      h3 {
        @include font-size-primaryFont('large');
        margin-bottom:5px;
      }
      p {
        margin-bottom: 20px;
        white-space: pre-wrap;
      }
    }
  }

}

.filter-selection-text-jbox {
  margin-bottom:30px;
}

// FILTER jBox

.jBox-wrapper.jBox-Modal .jBox-container {
  margin-top:10px !important;
  label {cursor: pointer;}
}

.jBox-Confirm {

  .jBox-content {
    text-align: left !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
  }

  .jBox-Confirm-footer {
    margin:10px;
    display: flex;
    height:55px;
  }

  .jBox-Confirm-button {

    @extend .btn-primary;
    white-space: nowrap;

    &.jBox-Confirm-button-cancel {
      @extend .btn-primary.-grey;
      &:hover {
        @extend .btn-primary.-grey;
        background-image: $texture-primary;
        opacity: 0.9;
      }
      margin-right: 5px;
    }
    &.jBox-Confirm-button-submit {
      &:hover {
        @extend .btn-primary;
        opacity: 0.9;
      }
      margin-left: 5px;
    }
  }

}
.graetzl-ids {
  display: none;
}
