.link-more {
  background-image: url(image_path('svg/icon-arrow-right-blinky-rosa.svg'));
  background-repeat: no-repeat;
  background-position: 0 center;
  text-decoration: underline;
  color: $color-font-primary;
  font-weight: 600;
  padding: 1.0rem 0 1.0rem 4.5rem;
  transition: background-position 0.2s;
  font-size: 2.0rem;
  //@include font-size-primaryFont('larger');
  &:hover {
    background-image: url(image_path('svg/icon-arrow-right-blinky-mint.svg'));
    background-position: 6px center;
  }
  &.-small {
    font-size: 1.6rem;
  }
}

.link-load, .link-all {
  margin: 0 auto;
  display: table;
  &.hide { display: none; }
}
.link-all {font-weight: bold;}
