ol.list-formal {
  padding-left: 20px;
  list-style: decimal;
  li strong:first-child {
    margin-bottom: 10px;
    display: block;
  }
  > li {
    margin-bottom: 50px;
  }
  > li > h3 {
    margin-bottom: 20px;
  }
  > li > ol {
    padding-left: 30px;
    margin-bottom: 10px;
    list-style: lower-latin;
  }
  > li > ul {
    padding-left: 30px;
    list-style: disc;
    margin-bottom: 10px;
  }
  > li > ul > li, > li > ol > li {
    margin-bottom: 15px;
  }
  > li > ol > li > ol {
    padding-left: 30px;
    li {
      margin-top: 15px;
    }
  }
  > li > ol > li > ol > li > ol {
    padding-left: 30px;
    li {
      margin-top: 15px;
    }
  }
  p {
    margin-bottom: 10px;
  }
  ol.nested li:first-child {
    font-weight: bold;
    @include font-size-primaryFont('large');
  }
}

.list-basic {
  padding-left: 20px;
  margin-bottom: 20px;
}

ul.list-arrow {
  li {
    margin-bottom:8px;
    background: url(image_path('svg/icon-arrow-right-blinky-mint-dark.svg')) no-repeat left top;
    padding-left: 45px;
    list-style: none;
    &:last-of-type {
      margin-bottom:0px;
    }
  }
  li:hover {
    background: url(image_path('svg/icon-arrow-right-blinky-rosa-dark.svg')) no-repeat left top;
  }
  &.-rosa {
    li {
      background: url(image_path('svg/icon-arrow-right-blinky-rosa-dark.svg')) no-repeat left top;
    }
  }
  &.-large {
    @include font-size-primaryFont('large');
  }
}
ul.list-num {
  li {
    margin-bottom:8px;
    background: url(image_path('num-badge-1.png')) no-repeat left top;
    padding-left: 49px;
    list-style: none;
    background-size: 40px;
    padding-bottom:20px;
    padding-top:8px;
    &:nth-child(2) { background-image: url(image_path('num-badge-2.png')); }
    &:nth-child(3) { background-image: url(image_path('num-badge-3.png')); }
    &:nth-child(4) { background-image: url(image_path('num-badge-4.png')); }
    &:nth-child(5) { background-image: url(image_path('num-badge-5.png')); }
    &:nth-child(6) { background-image: url(image_path('num-badge-6.png')); }
  }
}