.mainNavHolder {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
  padding-right: 20px;

  @include respond-to(">=medium") {
    height: 70px;
  }
  @include respond-to(">=large") {
    padding-left: 25px;
    padding-right: 15px;
  }
  .mainNav, .personalNav {
    display: flex;
    align-items: center;
    height: 100%;
    > a {
      color: $color-ambient-mint-dark;
      text-decoration: none;
    }
  }

  .mainNav {
    display: none;
    @include respond-to(">=large") {
      display: flex;
    }
  }

  .personalNav .createContainer {
    position: absolute;
    @include respond-to(">=medium") {
      left: auto !important;
      right: 160px !important;
    }
    @include respond-to(">=large") {
      left: 440px !important;
      right: auto !important;
    }
  }


  .homelink,
  .bloglink,
  .createMeeting,
  .graetzlTrigger,
  .wienTrigger,
  .registerlink,
  .loginlink,
  .notificationsTrigger,
  .usersettingsTrigger,
  .searchTrigger {
    color: $color-ambient-mint-dark;
    font-family: $font-tertiary;
    font-size: 2.0rem;
    &:hover, >*:active {
      color: $color-ambient-rosa;
    }
    @include respond-to(">=large") {
      font-size: 2.2rem;
    }
    [class^="icon-"], [class*=" icon-"] {
      display: inline-block;
      float: left;
      //margin-right: 0.5em;
    }
    .txt { float: right; }
  }



  .homelink, .wienTrigger span {
    padding-right: 20px;
    margin-right: 16px;
    border-right: 1px dotted lighten($color-ambient-mint, 20);
  }

  .wienTrigger svg {
    margin-right: 10px;
  }

  .bloglink {
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px dotted lighten($color-ambient-mint, 20);
    svg {
      margin-right: 10px;
    }
  }

  .createMeeting, .registerlink {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    background-image: url(image_path('svg/icon-right-blinky.svg')), url(image_path('svg/icon-left-blinky.svg'));
    background-position: right center, left center;
    background-repeat: no-repeat;
    background-size: 10px 20px;
  }

  .registerlink {
    @include respond-to("<410px") {
      flex: 0;
      //margin-left: auto;
      white-space: nowrap;
      margin-left: -20px;
    }
  }

  .createMeeting {
    .txt {
      display: none;
      @include respond-to(">=medium") {
        display: block;
      }
    }
    .icon-pencil {
      display: block;
      width: 30px;
      height: 30px;
      @include respond-to(">=medium") {
        margin-right: 9px;
      }
    }
  }

  .loginlink {
    margin-left: 20px;
  }

  .linkdisabled {
    display: flex;
    color: $color-ambient-grey;
    padding: 15px;
    border-bottom: 1px solid #DBEFEC;
    cursor: not-allowed;
  }

  .graetzlTrigger {
    margin-right: 20px;
    [class^=icon-] {
      margin-right: 8px;
    }
    .txt {
      @include ellipsis;
      max-width: 150px;
    }
  }

  .searchTrigger {
    padding-left: 15px;
  }

  .notificationsTrigger {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    [class*=icon-] {
      width: 32px;
      height: 32px;
      fill: $color-ambient-mint-dark;
    }
    &:hover, &.jq-dropdown-open, &.is-open {
      [class*=icon-] {
        fill: $color-ambient-rosa;
      }
    }
  }

  .usersettingsTrigger {
    .img-round {
      position: relative;
      z-index: 2;
      @include img-round(35px);
      display: block;
      @include respond-to(">=medium") {
        width: 45px;
        height: 45px;
      }
    }
    .wrp {
      position: relative;
      background-color: $color-ambient-mint-light;
      border-radius: 0 17px 17px 0;
      padding: 2px 5px 2px 15px;
      z-index: 1;
      margin-left: -14px;
    }
    [class^=icon-] {

    }
    .username {
      display: none;
      margin-right: 8px;

      @include respond-to(">450px") {
        margin-left: 10px;
      }
    }
  }

  .dropdownTrigger {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &.jq-dropdown-open, &.is-open {
      color: $color-ambient-rosa;
      .img-user {
        border-color: $color-ambient-rosa;
      }
    }
  }

}



.logoGraetzl {
  width: 45px;
  margin-right: auto;
  @include respond-to(">=medium") {
    width: 100px;
  }
  @include respond-to(">=large") {
    margin-right: 0;
    width: 203px;
    background: url(image_path('svg/logo-bulge.svg')) no-repeat center bottom;
    background-size: 100%;
    top: 20px;
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
  }

  .logo_main {
    display: none;
    @include respond-to(">=medium") {
      display: block;
    }
  }
  .logo_reduced {
    display: none;
    @include respond-to(">=360px") {
      display: block;
    }
    @include respond-to(">=medium") {
      display: none;
    }
  }

  img {
    width: 100%;
    display: block;
    max-width: 120px;
    @include respond-to(">=large") {
      padding-bottom: 20px;
      margin: 0 auto;
    }
  }
}


.badgeNumber {
  background-color: $color-ambient-rosa;
  color: $color-ambient-bright;
  border-radius: 3px;
  line-height: 1;
  font-size: 1.0rem;
  padding: 1px 3px;
}

.usersettingsContainer .nav-usersettings,
.mobileUserSettings .nav-usersettings,
.mobileMainNav {

  display: flex;

  section.personal, section.general {
    position: relative;
    width:300px;
    overflow: hidden;
    a {
      padding-right:10px;
      span {
        @include ellipsis();
      }
    }
    section.main, section.second {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      top:0px;
      width:100%;
      align-items: flex-start;
      align-content: flex-start;
      a {
        width: 100%;
      }
      .img-square {
        margin-left:0px;
        margin-right:16px;
      }
      .calendarSheet {
        transform: scale(0.7);
        margin:-10px;
        margin-right:10px;
        min-width:50px;
      }
      .badgeNumber {
        right: 12px;
      }
    }
    section.second {
      height: 100%;
      position: absolute;
      section.content {
        width:100%;
        height: calc(100% - 61px);
        overflow-y: auto;
      }
      .info {
        padding:15px;
        font-style: italic;
        color: $color-ambient-grey;
      }
    }

    section.main {
      left:0;
      z-index: 1;
      .-more {
        position: absolute;
        right: -15px;
        svg {
          fill: $color-ambient-grey-light;
        }
      }
    }
    section.second {
      z-index: 2;
    }
  }

}
