.mailTo {
  label {
    min-width: 160px;
  }
  textarea {
    min-height:200px;
  }
  .input-field, .input-textarea, .input-select {
    margin-bottom: 15px;
  }
  .btn-primary {
    margin:auto;
  }
}
