// Standalone LEAFLET-MAPs on DETAIL PAGES
#leafletMap {
  height: 400px;
  .leaflet-control-container {
    display: block;
  }
  .map-avatar, .map-popup {
    &.-hidden {
      display:none;
    }
  }
  .marker-container {
    svg.icon {
      width:50px;
      height:50px;
      color: $color-ambient-rosa;
      margin-top:-38px;
      margin-left:-20px;
    }
  }
}

.gmap img, .gmap iframe { max-width: 930px; width: 100%; }

.mapImgBlock {

  position: relative;
  z-index: 1;
  margin-top: -30px;
  margin-left: -18px;
  margin-right: -18px;
  &::after {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
    pointer-events: none;
    z-index: 9;
  }

  @include respond-to(">=medium") {
    margin-top: -50px;
    margin-left: -25px;
    margin-right: -25px;
  }
  @include respond-to(">=large") {
    margin-top: -80px;
  }

  // LEAFLET MAP
  .leaflet-tile-pane {
    //filter: hue-rotate(-1100deg) saturate(50%);
    opacity: 0.8;
  }
  .leaflet-pane { z-index: auto !important; }
  .leaflet-control-attribution,
  .leaflet-control-container {
    display: none;
  }

  #graetzlMapWidget {
    width: 100%;
    background-color: transparent;
    position: relative;
    cursor: default;
    display: block;
    &::before {
      @include respond-to(">=medium") {
        content: '';
        position: absolute;
        left: -2px;
        top: 0;
        background: linear-gradient(to right, rgba(252,252,252,1) 50%,rgba(252,252,252,0) 100%);
        pointer-events: none;
        z-index: 1;
        height: 100%;
        width: 400px;
      }
    }
  }

  .navBlock {
    position: absolute;
    z-index: 5;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    @include respond-to(">=medium") {
      bottom: 40px;
      left: 40px;
      transform: translate(0,0);
    }

    h1 {
      @include headlineBarbapapa();
      @include font-size-secondaryFont('large');
      @include textShadowHard($color-ambient-rosa-dark);
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      @include respond-to(">=medium") {
        margin-left: 0;
      }
    }
    .districtNumber {
      font-size: 28px;
    }
    .districtName,
    .graetzlName {
      font-size: 38px;
    }
    .links {
      overflow: hidden;
      @include respond-to(">=medium") {
        margin-left: 15px;
      }

      a {
        @include ellipsis();
        display: block;
        float: left;
        background-color: $color-ambient-bright;
        border-width: 1px;
        border-style: solid;
        border-color: $color-ambient-rosa;
        padding: 4px 8px;
        border-radius: 3px;
        text-decoration: none;
        color: $color-ambient-rosa;
        font-size: 14px;
        margin-bottom: 4px;
        margin-left: 2px;
        margin-right: 2px;
        transition: background-color 0.2s;
        &:hover, &.is-highlighted {
          background-color: $color-ambient-rosa;
          color: #ffffff;
        }
      }
      a.toOverview {
        border-color: $color-ambient-mint-dark;
        color: $color-ambient-mint-dark;
        position: relative;
        padding-left: 25px;
        .icon {
          width: 20px;
          height: 20px;
          position: absolute;
          left: 1px;
          top: 4px;
        }
      }
      a.toOverview:hover {
        background-color: $color-ambient-mint-dark;
        color: #ffffff;
      }

    }
  }
}


.mapImgBlock.-hasillu {

  .activeArea {
    @include respond-to(">=large") {
      width: 55%;
    }
  }

  .navBlock {
    display: table;
    margin: 0 auto;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include respond-to(">=large") {
      position: absolute;
      left: 350px;
      top: 70px;
      margin: 0;
      transform: translate(0, 0);
    }
  }

  #graetzlMapWidget {
    height: 150px;
    @include respond-to(">=medium") {
      height: 200px;
      &::before {
        width: 50%;
      }
    }
    @include respond-to(">=large") {
      height: 200px;
      &::before {
        width: 650px;
      }
    }
  }

}

.activeArea {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
