.mapImgBlock {

  position: relative;
  z-index: 1;
  margin-top: -3rem;
  margin-left: -18px;
  margin-right: -18px;
  &::after {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
    pointer-events: none;
    z-index: 9;
  }
  @include respond-to(">=medium") {
    margin-top: -5rem;
    margin-left: -25px;
    margin-right: -25px;
  }
  @include respond-to(">=large") {
    margin-top: -8rem;
  }

  .navBlock {
    position: absolute;
    z-index: 5;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    @include respond-to(">=medium") {
      bottom: 20px;
      left: 10px;
      transform: translate(0,0);
    }

    h1 {
      @include headlineBarbapapa();
      @include font-size-secondaryFont('large');
      @include textShadowHard($color-ambient-rosa-dark);
      margin-bottom: 8px;
      margin-left: auto;
      margin-right: auto;
      @include respond-to(">=medium") {
        margin-bottom: 20px;
        margin-left: 0;
      }
    }
    .districtNumber {
      font-size: 28px;
    }
    .districtName,
    .graetzlName {
      font-size: 38px;
    }
    .links {
      overflow: hidden;

      a {
        @include ellipsis();
        display: block;
        float: left;
        background-color: $color-ambient-bright;
        border-width: 1px;
        border-style: solid;
        border-color: $color-ambient-rosa;
        padding: 4px 8px;
        border-radius: 3px;
        text-decoration: none;
        color: $color-ambient-rosa;
        font-size: 12px;
        margin-bottom: 4px;
        margin-left: 2px;
        margin-right: 2px;
        width: calc(50% - 4px);
        @include respond-to(">=medium") {
          width: 147px;
        }
        &:hover {
          background-color: $color-ambient-rosa;
          color: #ffffff;
        }
      }
      a.toVienna {
        border-color: $color-ambient-mint-dark;
        color: $color-ambient-mint-dark;
        position: relative;
        padding-left: 25px;
        [class^=icon-] {
          width: 20px;
          height: 20px;
          position: absolute;
          left: 1px;
          top: 2px;
        }
      }
      a.toVienna:hover {
        background-color: $color-ambient-mint-dark;
        color: #ffffff;
        [class^=icon-] {
        }
      }
    }
  }
}


.leaflet-tile-pane {
  -webkit-filter: hue-rotate(-1100deg) saturate(50%);
  opacity: 0.8;
}

.leaflet-control-attribution,
.leaflet-control-container {
  display: none;
}

.activeArea {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;

}



