
.meetingBoxCollection, .cardBoxCollection {
  @include cf();
  @include respond-to(">=large") {
    margin-left: -25px;
    margin-right: -25px;
  }
  .meetingBox, .cardBox {
    display: block;
    margin-bottom: 25px;
  }

  &.-double {
    > * {
      @include respond-to(">=large") {
        @include col(1/2, $gutter: 2, $cycle: 2);
      }
    }
  }

  &.-tripple {
    > * {
      @include respond-to(">=medium") {
        @include col(1/2, $cycle: 2, $gutter: 1.5);
      }
      @include respond-to(">=large") {
        @include col(1/3, $cycle: 3, $uncycle: 2, $gutter: 1.5);
      }
    }
  }

  &.-quart {
    > * {
      @include respond-to(">=medium") {
        @include col(1/2, $cycle: 2);
      }
      @include respond-to(">=large") {
        @include col(1/4, $gutter: 1, $uncycle: 2);
      }
    }

    .meetingBox, .cardBox {
      padding-bottom: 15px;
      h3 {
        @include font-size-primaryFont('large');
        &:first-child {
          margin-top: 5px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.wrp-cardBox, .cardbox-wrp {
  h2:first-child {
    @include font-size-secondaryFont('small');
    color: $color-ambient-mint-dark;
    margin-left: 12px;
    margin-bottom: 4px;
  }
  .link-more {
    margin: 0 auto;
    display: table;
    margin-top: 10px;
    @include respond-to(">=medium") {
    margin-left: auto;
    margin-right: 10px;
    }
  }
}

.meetingBox, .cardBox {
  border: 1px solid $color-ambient-grey-light;
  background-color: #ffffff;
  padding: 8px 16px 20px 16px;
  border-radius: 8px;
  position: relative;
  h3 {
    @include font-size-primaryFont('larger');
    margin-bottom: 15px;
  }
  .txt {
    @include font-size-primaryFont('base');
    margin-bottom: 15px;
    position: relative;
  }

  .medalBadge {
    position: absolute;
    bottom: -25px;
    right: 7px;
  }

  .locationAvatar {
    display: table;
    position: absolute;
    left: 7px;
    bottom: -38px;
    .locationMap {
      border-radius: 4px 4px 0 0;
      background-color: #fff;
      padding: 4px 4px 0 4px;
      width: 79px;
      height: 100px;
      display: block;
      margin: 0 auto;
    }
    .img-round {
      width: 85px;
      height: 85px;
      display: block;
      margin-top: -41px;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 10px;
  }

}


.meetingBoxHeader, .cardBoxHeader {
  position: relative;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: 3.5rem;
  .coverImg {
    width: 100%;
    border-radius: 4px;
    display: block;
  }
  .sideflag {
    position: absolute;
    bottom: -10px;
    right: -20px;
  }
  .initiator {
    position: absolute;
    bottom: -22px;
    left: 5px;
    img {
      vertical-align: bottom;
      position: relative;
      bottom: 0;
      left: 0;
    }
    span {
      color: $color-ambient-mint-dark;
      font-size: 1.4rem;
      margin-bottom: 10px;
      vertical-align: bottom;
    }
  }
  .calendarSheet {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}