[id^=error_], #flash {
  @include font-size-primaryFont('base');
  margin: -30px auto 40px auto;
  background-color: #ffffff;
  padding: 15px 25px 18px 78px;
  font-style: italic;
  width: 100%;
  max-width: 980px;
  @include respond-to(">=medium") {
    margin-top: -50px;
  }
  @include respond-to(">=large") {
    margin-top: -80px;
  }
  h2 {
    @include font-size-secondaryFont('small');
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
  }
  ul {
    list-style: circle;
  }
  > div {
    display: inline-block;
    vertical-align: middle;
  }
}

#error_explanation, #flash {
  background-color: #FEF6DF;
  color: #ae872f;
}

#flash:not(:empty) + main .mapImgBlock,
#flash:not(:empty) + main .imgHeader {
  margin-top: -39px !important;
}