.notificationsTrigger {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  [class*=icon-] {
    width: 25px;
    height: 25px;
    fill: $color-ambient-mint-dark;
  }
  &.jq-dropdown-open, &.is-open {
    [class*=icon-] {
      fill: $color-ambient-rosa;
    }
  }
}

.nav-notifications {
  ul {
    list-style: none;
  }

  ul li {
    border-bottom: 1px solid $color-ambient-mint-light;
    padding: 15px;
    font-size: 13px;
    color: $color-font-primary;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $color-ambient-mint-light;
    }
  }

  ul li > a:first-child {
    color: $color-font-primary;
    display: block;
    text-decoration: none;
    margin: -15px;
    padding: 15px;
  }

  .timeago {
    font-style: italic;
    color: $color-ambient-grey;
    display: block;
  }


}

//--------------------------------------------------------------- desktop

.mainNavHolder {
  .nav-notifications {
    ul {
      width: 400px;
    }
  }
}

//--------------------------------------------------------------- mobile

.mobileNavHolder {
  .nav-notifications {
    width: 100%;

    border-top: 1px solid $color-ambient-mint-light;
    display: none;
    &.is-open {
      display: block;
    }
    @include respond-to(">=medium") {
      display: none !important;
    }
  }
}



