[id^=error_], #flash {
  @include font-size-primaryFont('large');
  margin: -30px auto 40px auto;
  background-color: #ffffff;
  padding: 30px;
  font-style: italic;
  width: 100%;
  max-width: 980px;
  position: relative;
  z-index: 1;
  @include respond-to(">=medium") {
    margin-top: -50px;
  }
  @include respond-to(">=large") {
    margin-top: -80px;
    padding: 47px 50px 30px 78px;
  }
  h2 {
    @include font-size-secondaryFont('small');
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
  }
  ul {
    list-style: circle;
  }
  > div {
    display: inline-block;
    vertical-align: middle;
  }
}

main [id^=error_] {
  padding: 25px;
  margin-top: 20px;
  ul {
    padding-left: 28px;
  }
}

#error_explanation, #flash {
  background-color: #FEF6DF;
  color: #cd891b;
  p.title {
    text-align: center;
    padding-bottom:10px;
  }
  a {
    color: #cd891b;
  }
}

#flash:not(:empty) + main .mapImgBlock,
#flash:not(:empty) + main .imgHeader {
  margin-top: -39px !important;
}
