.newNotifications {
  height: 100%;

  ul {
    list-style: none;
    width: 400px;
  }

  ul li {
    border-top: 1px dotted $color-ambient-mint-light;
    border-bottom: 1px dotted $color-ambient-mint-light;
    padding: 15px;
    font-size: 13px;
    color: $color-font-primary;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $color-ambient-mint-light;
    }
  }

  ul li > a:first-child {
    color: $color-font-primary;
    display: block;
    text-decoration: none;
    margin: -15px;
    padding: 15px;
  }

  .timeago {
    font-style: italic;
    color: $color-ambient-grey;
    display: block;
  }


  [class*=icon-] {
    width: 25px;
    height: 25px;
    fill: $color-ambient-mint-dark;
  }
}
