.pagination {

  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  .page a, .page.current {
    display: block;
    background-color: $color-ambient-bright;
    border-width: 1px;
    margin-bottom: 3px;
    text-decoration: none;
    border-style: solid;
    border-color: $color-ambient-rosa;
    padding: 4px 10px;
    border-radius: 3px;
    color: $color-ambient-rosa;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 2px;
    transition: background-color 0.2s;
    &.current {
      border-color: $color-ambient-mint;
      background-color: $color-ambient-mint;
      color: white;
    }
    &:hover:not(.current) {
      border-color: $color-ambient-mint;
      background-color: rgba($color-ambient-mint, 0.5);
      color: white;
    }
  }

  .next a, .prev a, .last a, .first a  {
    color: $color-ambient-rosa;
    position: relative;
    display: flex;
    .icon {
      flex: none;
    }
  }

  .last a {
    .icon + .icon {
      transform: translate(-18px, 0);
    }
  }
  .first a {
    .icon:first-child {
      transform: translate(18px, 0);
    }
  }

  .next a:hover, .prev a:hover, .last a:hover, .first a:hover  {
    color: $color-ambient-mint;
  }

}
