@mixin paperCard() {
  position: relative;
  box-shadow: 0 0 4px rgba(0,0,0,0.40);
  display: block;

  &:before {
    content: '';
    position: absolute;
    z-index: 6;
  }

  .wrp {
    background-image: $texture-stoff2;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 42px;
    padding-right: 30px;
  }
}

.paperCard {
  @include paperCard();
}

