@mixin paperCard($corner: "RT", $rotation: 0, $texture: false, $fakehole: true) {

  position: relative;

  > * {
    z-index: 2;
    position: relative;
  }

  .wrp {
    text-decoration: none;
  }

  .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.12);
    display: block;
    z-index: 1;
    border-radius: 2px;
    transform: rotate(#{$rotation}deg) translate3d(0,0,0);

    @if $texture == true {
      background-image: $texture-stoff2, url(image_path('svg/card-holes.svg'));
      @if $corner == "RT" {
        background-position: left top, top right;
      }
    } @else {
      background-image: url(image_path('svg/card-holes.svg'));
      @if $corner == "RT" {
        background-position: top right;
      }
    }

    &::after, &::before {
      content: '';
      position: absolute;
    }

    //shadow bottom
    &::after {
      width: 100%;
      height: 10px;
      top: 100%;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center top, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 100%);
      pointer-events: none;
    }

    //string
    &::before {
      z-index: 6;
      background-repeat: no-repeat;
      @if $corner == "RT" {
        top: 3px;
        right: -45px;
        height: 60px;
        @if $fakehole == false {
          width: 69px;
          background-image: url(image_path('svg/card-string1.svg'));
        } @else {
          width: 75px;
          background-image: url(image_path('svg/card-string1-fakehole.svg'));
        }
      }
    }

  }
}



