.paperCard {
  position: relative;
  .wrp {
    z-index: 2;
    position: relative;
    display: block;
  }
  .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    display: block;
    z-index: 1;
    border-radius: 2px;
    background-color: #fff;
    transform: rotate(1deg);
    //shadow bottom
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 10px;
      top: 100%;
      left: 0;
      background-image: radial-gradient(ellipse at center top, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
      pointer-events: none;
    }
  }

}


.paperCard[class*=-cord] {
  .card {
    &::before {
      display: none;
      content: '';
      position: absolute;
      z-index: 6;
      background-repeat: no-repeat;
    }
    @include respond-to(">=medium") {
      &::before {
        display: block;
      }
    }
  }
}


.paperCard[class*=-cord1] {
  .card {
    &::before {
      top: -65px;
      height: 95px;
      width: 68px;
      background-image: url(image_path('svg/card-string2-fakehole.svg'));
    }
  }
  &[class*=small] {
    .card {
      &::before {
        top: -59px;
      }
    }
  }
}


.paperCard.-cord1RT {
  .card {
    &::before {
      right: -38px;
    }
  }
}

.paperCard.-cord1LT {
  .card {
    &::before {
      left: -38px;
    }
  }
}

.paperCard[class*=-illu] {
  .wrp {
    background-repeat: no-repeat;
    @include bg-url(
      image_path('illu/illu-cylce-straight@2x.png'),
      $webp1x: image_path('illu/illu-cylce-straight@2x.webp'),
    );
  }
}

.paperCard.-illuteaser {
  .wrp  {
    padding: 160px 30px 30px 30px;
    background-position: center top 15px;
    background-size: auto 180px;
  }
  button {
    width: 100%;
  }
  .user {
    img {
      vertical-align: bottom;
    }
    span {
      color: $color-ambient-mint-dark;
      font-size: 1.4rem;
      margin-bottom: 10px;
      vertical-align: bottom;
    }
  }
  h3 {
    @include font-size-primaryFont('larger');
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 20px;
    color: $color-ambient-mint-dark;
  }
}

.paperCard.-meeting .wrp {
  @include bg-url(
    image_path('illu/illu-cylce-straight@2x.png'),
    $webp1x: image_path('illu/illu-cylce-straight@2x.webp'),
  );
}
.paperCard.-poll .wrp {
  @include bg-url(
    image_path('illu/illu-cylce2-plain@2x.png'),
    $webp1x: image_path('illu/illu-cylce2-plain@2x.webp'),
  );
}
.paperCard.-energies .wrp {
  @include bg-url(
    image_path('illu/illu-cylce2-plain@2x.png'),
    $webp1x: image_path('illu/illu-cylce2-plain@2x.webp'),
  );
}
.paperCard.-good-morning-date .wrp {
  @include bg-url(
    image_path('illu/illu-2frauen.png'),
    $webp1x: image_path('illu/illu-2frauen.webp'),
  );
}
.paperCard.-gassenlokal .wrp {
  padding-top:190px !important;
  @include bg-url(
    image_path('info/crowd2raum/illu_laden.png'),
    $webp1x: image_path('info/crowd2raum/illu_laden.webp'),
  );
}
.paperCard.-ideen .wrp {
  padding-top:190px !important;
  @include bg-url(
    image_path('info/crowd2raum/illu_ideen.png'),
    $webp1x: image_path('info/crowd2raum/illu_ideen.webp'),
  );
}
.paperCard.-fragen .wrp {
  padding-top:190px !important;
  @include bg-url(
    image_path('info/crowd2raum/illu_fragezeichen.png'),
    $webp1x: image_path('info/crowd2raum/illu_fragezeichen.webp'),
  );
}
.paperCard.-crowd_campaign .wrp {
  @include bg-url(
    image_path('illu/illu-crowd1.png'),
    $webp1x: image_path('illu/illu-crowd1.webp'),
  );
}
.paperCard.-coop-demands .wrp, .paperCard.-subscriptions .wrp {
  @include bg-url(
    image_path('illu/illu-crowd.png'),
    $webp1x: image_path('illu/illu-crowd.webp'),
  );
}
.paperCard.-zuckerl .wrp {
  @include bg-url(
    image_path('illu/illu-zuckerl-transparent.png'),
    $webp1x: image_path('illu/illu-zuckerl-transparent.webp'),
  );
}
.paperCard.-location .wrp {
  @include bg-url(
    image_path('illu/illu-wirtschaft2-plain.png'),
    $webp1x: image_path('illu/illu-wirtschaft2-plain.webp'),
  );
}
.paperCard.-rooms .wrp {
  @include bg-url(
    image_path('illu/illu-werkbank-plain.png'),
    $webp1x: image_path('illu/illu-werkbank-plain.webp'),
  );
}
.paperCard.-room-boosters .wrp, .paperCard.-favorites .wrp {
  @include bg-url(
    image_path('illu/illu-ideen-weissbg.png'),
    $webp1x: image_path('illu/illu-ideen-weissbg.webp'),
  );
}
.paperCard.-groups .wrp, .paperCard.-discussions .wrp {
  background-position-x: 40px;
  background-position-y: 25px;
  @include bg-url(
    image_path('illu/illu-sitzendeAmTisch.png'),
    $url2x: image_path('illu/illu-sitzendeAmTisch@2x.png'),
    $webp1x: image_path('illu/illu-sitzendeAmTisch.webp'),
    $webp2x: image_path('illu/illu-sitzendeAmTisch@2x.webp'),
  );
}
.paperCard.-discussions .wrp {
  padding-top:190px;
}
.paperCard.-favorites .wrp {
  padding-top:150px;
  svg {
    color: $color-ambient-rosa;
    width:50px;
    height:50px;
  }
}

.paperCard.video {
  margin-bottom:50px;
  .wrp {
    h3 {
      padding-bottom:10px;
    }
    padding: 30px 35px 15px 20px;
    display: flex;
    @include respond-to("<=medium") {
      flex-direction: column-reverse;
      align-items: center;
      .video-thumb {
        margin-bottom:15px;
      }
    }
    .txt {
      padding-bottom: 15px;
    }
  }
  .wrp:last-of-type {
    margin-top: -15px;
    padding-top:0px;
  }
  .video-thumb a.player .video {
    width:180px;
    @include respond-to("<medium") {
      width:100%;
    }
  }
  .video-thumb {
    transform: rotate(1deg);
    margin-left:15px;
  }
  .card {
    background-color: #eaf2f4;
  }
}
.paperCard.-mint {
  .wrp {
    padding: 30px 20px 20px 20px;
  }
  .card {
    background-color: #edf7f5;
  }
}
.paperCard.-lightblue {
  .card {
    background-color: #eaf2f4;
  }
}
.paperCard.-yellow {
  .card {
    background-color: #fffde6;
  }
}