.paperCard {
  position: relative;
  .wrp {
    z-index: 2;
    position: relative;
    display: block;
  }
  .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    display: block;
    z-index: 1;
    border-radius: 2px;
    background-color: #fff;
    transform: rotate(1deg);
    //shadow bottom
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 10px;
      top: 100%;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center top, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 100%);
      pointer-events: none;
    }
  }

}


.paperCard[class*=-cord] {
  .card {
    &::before {
      display: none;
      content: '';
      position: absolute;
      z-index: 6;
      background-repeat: no-repeat;
    }
    @include respond-to(">=medium") {
      &::before {
        display: block;
      }
    }
  }
}


.paperCard[class*=-cord1] {
  .card {
    &::before {
      top: -65px;
      height: 95px;
      width: 68px;
      background-image: url(image_path('svg/card-string2-fakehole.svg'));
    }
  }
  &[class*=small] {
    .card {
      &::before {
        top: -59px;
      }
    }
  }
}


.paperCard.-cord1RT {
  .card {
    &::before {
      right: -38px;
    }
  }
}
.paperCard.-cord1RTsmall {
  .card {
    &::before {
      right: -38px;
      transform: scale(0.75);
    }
  }
}


.paperCard.-cord1LT {
  .card {
    &::before {
      left: -38px;
    }
  }
}
.paperCard.-cord1LTsmall {
  .card {
    &::before {
      left: -38px;
      transform: scale(-0.75, 0.75);
    }
  }
}


.paperCard[class*=-illu] {
  .wrp {
    background-repeat: no-repeat;
    background-image: url(image_path('illu/illu-cylce-straight@2x.png'));
  }
}

.paperCard.-illuteaser {
  .wrp  {
    padding: 160px 30px 30px 30px;
    background-position: center top 15px;
    background-size: auto 180px;
  }
  button {
    width: 100%;
  }
  .user {
    img {
      vertical-align: bottom;
    }
    span {
      color: $color-ambient-mint-dark;
      font-size: 1.4rem;
      margin-bottom: 10px;
      vertical-align: bottom;
    }
  }
  h3 {
    @include font-size-primaryFont('larger');
    line-height: 1.4;
    margin-top: 15px;
    margin-bottom: 20px;
    color: $color-ambient-mint-dark;
  }
}


.paperCard.-meeting .wrp {
  background-image: url(image_path('illu/illu-cylce-straight@2x.png'));
}
.paperCard.-zuckerl .wrp {
  background-image: url(image_path('illu/illu-zuckerl-transparent.png'));
}
.paperCard.-idea .wrp {
  background-image: url(image_path('illu/illu-ideen-weissbg.png'));
}
.paperCard.-location .wrp {
  background-image: url(image_path('illu/illu-wirtschaft2-plain.png'));
}
.paperCard.-rooms .wrp {
  background-image: url(image_path('illu/illu-werkbank-plain.png'));
}
.paperCard.-platform-meeting .wrp {
  background-image: url(image_path('illu/illu-ideen-weissbg.png'));
}
.paperCard.-groups .wrp, .paperCard.-discussions .wrp {
  background-image: url(image_path('illu/illu-sitzendeAmTisch.png'));
  background-position-x: 40px;
  background-position-y: 25px;
  @media
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    /* CSS Code für hochauflösende Displays */
    background-image: url(image_path('illu/illu-sitzendeAmTisch@2x.png'));
  }
}
.paperCard.-discussions .wrp {
  padding-top:190px;
}
.paperCard.-insurance .wrp {
  background:none;
  background-color:rgba(227, 242, 231, 0.5);
  transform: rotate(1deg);
  padding: 15px 30px 30px 30px;
  h3 {
    text-align: center;
    padding-top:5px;
  }
  p {
    padding-top:20px;
    //padding-bottom: 20px;
  }
  .insurance {
    text-align: center;
    img {
      width:130px;
      height:130px;
    }
  }
  .btn-primary, .insurance, p, h3 {
    transform: rotate(-1deg);
  }
  .btn-primary {
    margin-top: 25px;
  }
}
// REMOVE .TMP Class AFTER WE CAN USE AXA LOGO
.paperCard.-insurance.-tmp .wrp {
  padding: 180px 30px 30px 30px;
  background-position: center top 15px;
  background-size: auto 180px;
  background-repeat: no-repeat;
  background-image: url(image_path('illu/illu-werkbank-plain.png'));
  h3 {
    margin-bottom:0px;
  }
}
