.paymentMethods {
  margin-bottom:30px;

  .input-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid $color-ambient-mint-light;

    &::after {
      content: '';
      height:40px;
      width:100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    }
    &.-card::after {
      background-image: url(image_path('pay-ico-mastercard-visa.png'));
    }
    &.-klarna::after {
      background-image: url(image_path('pay-ico-klarna.svg'));
    }
    &.-eps::after {
      background-image: url(image_path('pay-ico-eps.png'));
    }

  }

  .input-radio:last-of-type {
    border:none;
  }

}


// PAYMENT LAYOUT SCREENS
.tool-rental-page, .room-rental-page, .crowd-pledges-page {

  // Layout Grid
  display: flex;
  flex-wrap: wrap;

  .tabs-nav {
    display: flex;
    justify-content: center;

    li {
      width:100%;
      text-align: center;
      white-space: nowrap;
      a {
        cursor:default;
      }
    }
    .desk {
      display: none;
      @include respond-to(">=medium") {
        display: inline-block;
      }
    }
    .mob {
      display: none;
      @include respond-to("<medium") {
        display: inline-block;
      }
    }
  }

  .col-content {
    width:100%;
    margin-bottom:40px;
    @include respond-to(">=large") {
      width: 64%;
      margin-right: 3%;
    }
  }
  .col-sidebar {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    @include respond-to(">=medium") {
      width: 50%;
    }
    @include respond-to(">=large") {
      width: 33%;
    }
  }
  // End Layout Grid

  // FORMS
  .col-content {
    label {
      min-width: 160px;
    }
    textarea {
      min-height:150px;
    }
    .input-field, .input-textarea, .input-select {
      margin-bottom: 15px;
    }
  }

  .col-sidebar {
    h3.sidebar {
      text-align: center;
      padding-bottom:15px;
    }
    .footer-txt {
      text-align: center;
      border:none;
      color:$color-ambient-grey-dark;
      @include font-size-primaryFont('small');
    }
  }

  .summarybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    div {
      width:38%;
      @include respond-to("<=small") {
        width:43%;
      }
    }
    div.avatar {
      width:20%;
      text-align: center;
      @include respond-to("<=small") {
        width:13%;
      }
      img {
        width:100%;
        height:auto;
      }
    }
    &:last-of-type {
      margin-bottom:30px;
    }
    .icon {
      margin:auto;
      color: $color-ambient-mint;
      width:50px;
      height:50px;
      margin-top:10px;
      margin-bottom:10px;
      @include respond-to("<=small") {
        width:30px;
        height:30px;
      }
    }
    &.-line {

      .line {
        border-bottom: 3px solid $color-ambient-mint-light;
      }
    }
    .block {
      display: block
    }
  }

  .payment-method-container {
    display: none;
    label {
      min-width: 165px;
    }
  }

  .error-message {
    @include font-size-primaryFont('large');
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    color: red;
  }

  .btn-primary {
    margin-left:auto
  }
  a.btn-primary {
    display: table;
  }

  .footer-txt {
    border-top: 1px solid $color-ambient-mint-light;
    border-bottom: 1px solid $color-ambient-mint-light;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:20px;
    margin-bottom:20px;
    font-style: italic;
    text-align: center;
  }

}

#payment-element {
  padding-bottom:20px;
}
