// PAYMENT LAYOUT SCREENS
.tool-rental-page, .room-rental-page, .crowd-pledges-page, .subscriptions-page, .zuckerl-page, .room-booster-page, .crowd-boost-charge-page {

  // Layout Grid
  display: flex;
  flex-wrap: wrap;

  .tabs-nav {
    display: flex;
    justify-content: center;

    li {
      width:100%;
      text-align: center;
      white-space: nowrap;
      a {
        cursor:default;
      }
    }
    .desk {
      display: none;
      @include respond-to(">=medium") {
        display: inline-block;
      }
    }
    .mob {
      display: none;
      @include respond-to("<medium") {
        display: inline-block;
      }
    }
  }

  .collapsed {
    display: none;
  }
  .subtitle {
    @include font-size-secondaryFont('small');
    font-weight:bold;
  }
  .registerhint, .regionhint {
    margin-top: 7px;
  }

  .col-content {
    width:100%;
    margin-bottom:40px;
    @include respond-to(">=large") {
      width: 64%;
      margin-right: 3%;
    }
  }
  .col-sidebar {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    @include respond-to(">=medium") {
      width: 50%;
    }
    @include respond-to(">=large") {
      width: 33%;
    }
  }
  // End Layout Grid

  // FORMS
  .col-content {
    label {
      min-width: 160px;
    }
    textarea {
      min-height:150px;
      &.-slim {
        min-height: 120px;
      }
    }
    .input-field, .input-textarea, .input-select {
      margin-bottom: 15px;
    }
    .btn-primary {
      margin-left:auto
    }
    a.btn-primary {
      display: table;
    }
  }

  .col-sidebar {
    h3.sidebar {
      text-align: center;
      padding-bottom:15px;
    }
    .footer-txt {
      text-align: center;
      border:none;
      color:$color-ambient-grey-dark;
      @include font-size-primaryFont('small');
    }
    .cardBox {
      margin-bottom:20px;
    }
  }

  .summarybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    div {
      width:38%;
      @include respond-to("<=small") {
        width:43%;
      }
    }
    div.avatar {
      width:20%;
      text-align: center;
      @include respond-to("<=small") {
        width:13%;
      }
      img {
        width:100%;
        height:auto;
      }
    }
    &:last-of-type {
      margin-bottom:30px;
    }
    .icon {
      margin:auto;
      color: $color-ambient-mint;
      width:50px;
      height:50px;
      margin-top:10px;
      margin-bottom:10px;
      @include respond-to("<=small") {
        width:30px;
        height:30px;
      }
    }
    &.-line {

      .line {
        border-bottom: 3px solid $color-ambient-mint-light;
      }
    }
    .block {
      display: block
    }
  }

  .payment-method-container {
    display: none;
    label {
      min-width: 165px;
    }
  }

  .error-message {
    @include font-size-primaryFont('large');
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    color: red;
  }

  .footer-txt {
    border-top: 1px solid $color-ambient-mint-light;
    border-bottom: 1px solid $color-ambient-mint-light;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:20px;
    margin-bottom:20px;
    font-style: italic;
    text-align: center;
  }

  .payment-method-info {
    display: none;
    font-style: normal;
    text-align: justify;
    .legal, .open-legal {
      @include font-size-primaryFont('small');
    }
    .legal {
      padding-top:20px;
      padding-bottom:20px;
      display: none;
    }
    em {
      font-style: normal;
      color: $color-ambient-rosa;
    }
  }

  .keydata-facts {
    margin-left: 20px;
    margin-bottom: 20px;
    .headline {
      color: $color-ambient-rosa;
      margin-bottom: 10px;
    }

    .facts {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding-left: 10px;
        font-style: italic;
        border-left: 1px dotted $color-ambient-grey;
        margin-bottom: 5px;
      }
    }
  }

}

.crowd-pledges-page {

  &.change-payment-screen, &.amount-screen, &.payment-screen, &.login-screen, &.address-screen, &.detail-screen {
    .amount-reward, .amount-donation {
      display: flex;
    }
    .amount-total, .amount-boost {
      display: none;
    }
  }
  &.change-payment-screen {
    .amount-boost {
      display: flex;
    }
  }
  &.crowd-boost-charge-screen, &.summary-screen {
    .amount-reward, .amount-donation {
      display: none;
    }
    .amount-total, .amount-boost {
      display: flex;
    }
  }
  &.detail-screen {
    .amount-boost {
      display: flex;
    }
  }

  &.address-screen {
    .percentage-block {
      width:100%;
      .input-range {
        width:100%;
        .range {
          margin-top:25px;
        }
      }
    }
  }
  &.summary-screen {
    .pledge-comment-container {
      margin-top:20px;
      margin-bottom:20px;
      padding-top:20px;
      padding-bottom:20px;
      border-top: 1px solid $color-ambient-mint-light;
      border-bottom: 1px solid $color-ambient-mint-light;
      p, .comment-success {
        @include font-size-primaryFont('large');
        text-align: center;
      }
      .entryCreate {
        margin: 30px auto auto auto;
      }
    }
    .comment-success {
     margin-top:20px;
    }
  }
  &.crowd-boost-charge-screen {
    .content-block {
      //margin-top:30px;
    }
    .btn-primary {
      //width:100%;
    }
    .hl-subtext {
      margin-bottom:0px;
    }
    .subline {
      @include font-size-primaryFont('large');
      text-align: justify;
      margin-top:10px;
      margin-bottom:20px;
    }
  }
  
  .charge-amount-radios {
    padding-top:5px;
    padding-bottom:25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(70px, auto);
    gap: 1rem;
    margin: 0 auto;
    @include respond-to("<=medium") {
      grid-template-columns: repeat(4, 1fr);
      .input-radio:last-child {
        grid-column: 1 / -1;
      }
    }
    .input-radio {
      width:100%;
      label {
        @extend .cardBox;
        padding:5px;
        min-width: unset;
        &::before {
          display: none;
        }
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center; /* vertikal zentriert */
        align-items: center;     /* horizontal zentriert */
        height: 100%;
        background: $color-ambient-mint-shine;
        border-color: $color-ambient-mint-light;
        @include font-size-primaryFont('large');
      }
      input[type="radio"]:checked + label {
        border: 1px solid $color-ambient-mint-dark;
        background: $color-ambient-mint-dark;
        border-radius: 0.5rem;
        transition: all 0.2s ease;
        color: white;
        font-weight:bold;
      }
      .amount {
        white-space: nowrap;
      }
    }
    .custom-amount-wrapper {
      min-width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding:6px;
      span.euro {
        display: none;
      }
    }
    
    .custom-amount-input {
      cursor: pointer;
      display: block;
      border: none;
      background: transparent;
      @include font-size-primaryFont('large');
      text-align: center;
      border: none;
      border-bottom: 1px solid #999;
      border-radius: 0;
      appearance: none;
      width:100%;
      margin-left:5px;
      margin-right:5px;
      padding-top:5px;
      padding-bottom: 5px;
      text-align: center;
      &:focus {
        font-weight:normal;
        outline: none;
        &::placeholder {
          color: transparent;
        }
      }
      &::placeholder {
        color: $color-font-primary;
        font-style: normal;
      }
    }
    
    .input-radio input[type="radio"]:checked + label {
      span.euro {
        display: block;
      }
      .custom-amount-input {
        cursor: text;
        font-weight:bold;
        border-bottom: 0px solid white;
        color: white;
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}

.subscriptions-page {
  &.summary-screen {
    .img-round {
      width:200px;
      height:200px;
    }
    .btn-primary {
      margin-top:20px;
      display: inline-flex !important;
    }
  }
  .coupon {
    margin-top:10px;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    color: $color-ambient-mint-dark;
  }
}

.room-booster-page.summary-screen .summary, .zuckerl-page.summary-screen .summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .zuckerl-keydata {
    margin-left:auto;
    margin-right:auto;
  }
}

.cardBox.-subscriptionzuckerls {
  color:$color-ambient-mint-dark;
  font-style: italic;
  span {
    color:$color-font-primary;
  }
  span.zuckerl {
    font-weight: bold;
    color: $color-ambient-rosa;
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    svg {
      width:30px;
      height:30px;
      margin-right:10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.voucher-screen .cardBox.-subscriptionzuckerls .item {
  @include respond-to("<=medium") {
    svg {display: none;}
  }
  .btn-primary {
    white-space: nowrap;
  }
}

#payment-element {
  padding-bottom:20px;
}
