.pricing-summary {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  list-style: none;

  &.-facts {
    border-bottom: 1px solid $color-ambient-mint-light;
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
    //color: $color-ambient-mint-dark;
    @include font-size-primaryFont('large');
    font-weight: bold;
    small.hint {
      font-style: italic;
      padding-top:5px;
      display: block;
      font-weight: normal;
    }
  }
  .desc {
    text-align: center;
    font-style: italic;
  }

  li.benefit {
    margin-bottom:15px;
    margin-left:10px;
    font-style: italic;
    display: list-item;
    list-style:initial;
    //@include font-size-primaryFont('small');
    //background: url(image_path('svg/icon-arrow-right-blinky-mint-dark.svg')) no-repeat left center;
  }

  li {
    display: flex;
    clear:both;
    margin-bottom: 17px;
    div.cost, div.duration {
      display:table;
      color: $color-ambient-orange;
      min-width: 60px;
      white-space: nowrap;
      margin-right:9px;
      text-align: right;
      font-weight: bold;
    }
    div.duration {
      color: $color-font-primary;
    }
  }
  li.sum {
    font-weight: bold;
    border-top: 1px solid $color-ambient-mint-light;
    padding-top: 20px;
    margin-bottom: 20px;
    small {
      font-weight: normal;
    }
  }
  li.deposit {
    border-top: 1px solid $color-ambient-mint-light;
    padding-top: 20px;
    .cost, .costname {
      color: $color-ambient-grey;
    }
  }
}

.package-pricing {

  border-top: 1px solid $color-ambient-grey-light;
  padding-top:10px;
  margin: 0;
  list-style: none;
  width:100%;
  text-align: left;

  .desc {
    padding-bottom: 10px;
  }

  ul {
    margin-bottom: 20px;
  }
  ul:last-child {
    margin-bottom: 0px;
  }

  li {
    display: flex;
    clear:both;
    margin-bottom: 10px;
    align-items: center;
    div.cost {
      min-width: 30px;
      margin-right:9px;
    }
    div.costname {
      color: $color-ambient-mint-dark;
    }
    small.discount {
      color: $color-ambient-grey;
      //color: $color-ambient-orange;
    }
    .icon {
      margin-left: 12px;
      margin-right:12px;
      color:$color-ambient-mint-dark;
    }
  }
  li:last-child {
    margin-bottom: 0px;
  }
}

.package-pricing:last-child {
  margin-bottom: 0px;
}
