.pricing-summary {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  list-style: none;

  &.-duration {
    border-bottom: 1px solid $color-ambient-mint-light;
    margin-bottom: 20px;
  }

  li {
    display: flex;
    clear:both;
    margin-bottom: 17px;
    div.cost, div.duration {
      display:table;
      color: $color-ambient-orange;
      min-width: 60px;
      white-space: nowrap;
      margin-right:9px;
      text-align: right;
      font-weight: bold;
    }
    div.duration {
      color: $color-font-primary;
    }
  }
  li.sum {
    font-weight: bold;
    border-top: 1px solid $color-ambient-mint-light;
    padding-top: 20px;
    margin-bottom: 20px;
  }
}

.package-pricing {

  border-top: 1px solid $color-ambient-grey-light;
  padding-top:10px;
  margin: 0;
  list-style: none;
  width:100%;
  margin-bottom: 20px;

  .desc {
    padding-bottom: 10px;
    //text-align: center;
  }

  li {
    display: flex;
    clear:both;
    margin-bottom: 10px;
    align-items: center;
    div.cost {
      min-width: 30px;
      margin-right:9px;
    }
    div.costname {
      color: $color-ambient-mint-dark;
    }
    small.discount {
      color: $color-ambient-grey;
      //color: $color-ambient-orange;
    }
  }
  li:last-child {
    margin-bottom: 0px;
  }
}

.package-pricing:last-child {
  margin-bottom: 0px;
}
