.priceSheet {
  color: $color-ambient-rosa-dark;
  line-height: 1;
  position: relative;
  width:70px;
  height:70px;
  max-width: 70px;
  color: $color-ambient-orange;

  .price {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -25px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 2;
    @include font-size-primaryFont('largest');
    line-height: 1.0;
    font-weight: 900;
    sup {
      @include font-size-primaryFont('base');
      font-weight: 200;
    }
    small {
      display: block;
      width: 100%;
      font-style: italic;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 300;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &:before {
    border-radius: 50%;
    width: 100%;
    padding-bottom: 100%;
    background: $color-ambient-orange-light;
    content: "";
    position: absolute;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    padding-top:100%;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 300;
    color: $color-ambient-grey;
    margin-top:15px;
    font-style: italic;
  }

  &.-discount-days::after {
    content: "ab 2 Tagen";
  }
  &.-discount-week::after {
    content: "ab 1 Woche";
  }

}

pie {
  width: 28px;
  height: 28px;
  display: block;
  border-radius: 50%;
  background-color: $color-ambient-mint;
  border: 1px solid $color-ambient-mint;
  margin: auto;

  &.pie-hour {
    background-image:
      linear-gradient(130deg, transparent 50%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }
  &.pie-day {
    background-image:
      linear-gradient(230deg, transparent 50%, $color-ambient-mint 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  }

}
