#betaflash {
  display: none;
  position: relative;
  top: -30px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding:15px;
  @include font-size-primaryFont('large');
  font-style: italic;
  background-color: #FEF6DF;
  color: #cd891b;
  a, svg {
    color: #cd891b;
  }
  a.close-ico {
    right:2px;
    top:2px;
  }
  padding-right:25px;

  @include respond-to(">=medium") {
    position: absolute;
    top:0px;
    right:0px;
    margin: auto;
    width:40%;
    border-bottom-left-radius: 20px;
    z-index:9999999;
  }

  @include respond-to(">=large") {
    padding-right:15px;
    a.close-ico {
      right: -12px;
      top: -12px;
    }
  }

}

// ---------- REGION MÜHLVIERTLER KERNLAND ------------
body.region-muehlviertler-kernland {

  .navigation .nav-location-link {
    span {
      width: 110px;
    }
  }

}



// ---------- REGION KÄRNTEN ------------
body.region-kaernten {
  
}



// ---------- REGION WIEN ------------
body.region-wien {
  .homeRegion .graetzl-switch-wrapper {

    .input-select {
      width:55%;
    }

    .region-logos {
      margin-top:0;
      width:40%;
    }
    .region-logos .inner {
      background-color: rgba($color-ambient-mint-light,0.2);
    }

    @include respond-to("<=large") {
      flex-wrap: wrap;
      width: 100%;
      .input-select, .region-logos {
        width:100%;
        max-width: 500px;
      }
      .region-logos {
        margin-top: 25px;
      }
      .inner {
        padding:8px !important;
      }
    }

    .-elif img {
      margin:0px;
      height:48px;
    }

  }


}
