// ---------- REGION MÜHLVIERTLER KERNLAND ------------
body.region-muehlviertler-kernland {

  .navigation .nav-location-link {
    span {
      width: 110px;
    }
  }

}



// ---------- REGION KÄRNTEN ------------
body.region-kaernten {

}



// ---------- REGION WIEN ------------
body.region-wien {
  .homeRegion .graetzl-switch-wrapper {

    .input-select {
      width:55%;
    }

    .region-logos {
      margin-top:0;
      width:40%;
    }
    .region-logos .inner {
      background-color: rgba($color-ambient-mint-light,0.2);
    }

    @include respond-to("<=large") {
      flex-wrap: wrap;
      width: 100%;
      .input-select, .region-logos {
        width:100%;
        max-width: 500px;
      }
      .region-logos {
        margin-top: 50px;
      }
      .inner {
        padding:8px !important;
      }
    }

    .-elif img {
      margin:0px;
      height:48px;
    }

  }


}
