.autocomplete-form {
  position: relative;
}

.user-autocomplete {
  position: relative;
  width:100%;
  .easy-autocomplete-container {
    position: relative;
    width:100%;
  }
  .easy-autocomplete-container ul {
    display: none;
    position: absolute;
    top:3px;
    width:100%;
    background-color: white;
    z-index: 9999;
    border-radius: 4px 0 0 4px;
    border: solid 1px #DBEFEC;
    border-top: 0;
  }
}

.autocomplete-loading-spinner {
  z-index:9999;
  position: absolute;
  margin-top:10px;
  right:20px;
  width:40px;
  height:40px;
}

// Search Autocomplete
.navigation .easy-autocomplete {
  min-width:350px;
  max-width: 350px;
  max-height: 80vh;
  overflow-y: auto;
}

.navigation .mobile-dropdown .easy-autocomplete {
  min-width:100%;
  max-width: 100%;
}

// Search Autocomplete Results
.easy-autocomplete-container {

  ul, li {
    list-style: none;
  }

  .eac-category {
    padding-top: 15px;
    padding-bottom:10px;
    margin-bottom:5px;
    padding-left:5px;
    font-style: italic;
    font-weight: bold;
    color: $color-ambient-mint-dark;
    border-bottom: 1px solid $color-ambient-mint-light;

    a {
      padding-right:5px;
      float:right;
      font-weight:normal;
      color: $color-ambient-grey;
      text-decoration: none;
      font-size: 14px;
      &:hover {
        color: $color-ambient-rosa;
        text-decoration: underline;
      }
    }

  }

  .eac-item div.item {
    padding: 5px;
    padding-left:15px;
    display: inline-flex;
    align-items: center;
    width:100%;
    &:hover {
      background-color: $color-ambient-mint-light;
      cursor: pointer;
    }
    .calendarSheet {display: none;}
    &.Meeting {
      img {display: none;}
      .calendarSheet {
        display: block;
        transform: scale(0.8);
        min-width:50px;
        margin-left:-5px;
        margin-right:5px;
      }
    }
    &.RoomOffer, &.ToolOffer, &.Location, &.Group, &.CrowdCampaign, &.Poll, &.EnergyOffer {
      img {
        @extend .img-square;
      }
    }
    &.RoomDemand, &.CoopDemand, &.ToolDemand, &.User, &.EnergyDemand {
      img {
        @extend .img-round;
      }
    }
  }

  .img-square, .img-round {
    margin-right:10px;
    width:40px;
    height:40px;
    min-width:40px;
    min-height:40px;
  }

  .txt {
    @include ellipsis;
    color: $color-font-primary;

    small {
      font-style: italic;
      color:$color-ambient-grey;
    }

  }

}

// Search Result Page
section.search-section {
  .search-field-block {
    margin-bottom:40px;
  }
}
