.mainContent {
  @include respond-to(">=medium") {
    float: right;
    width: 60%;
  }
  @include respond-to(">=large") {
    margin-right: -25px;
    width: 66%;
    width: calc(66% + 26px);
  }
}

.sideBar {
  @include respond-to(">=medium") {
    float: left;
    width: 38%;
  }
  @include respond-to(">=large") {
    width: 33%;
  }

}

.sideBarbox {
  margin-bottom: 40px;
  .sideflag {
    @include font-size-secondaryFont('small');
    margin-bottom: 20px;
  }
  [class^=icon-] {
    fill: $color-ambient-mint;
  }
  a {
    color: $color-ambient-mint;
    text-decoration: none;
  }
}