.sideflag {
  font-family: $font-secondary;
  background-color: $color-ambient-mint-light;
  color: $color-ambient-mint-dark;
  font-size: 2.4rem;
  position: relative;
  max-width: 220px;
  //display: table;
  line-height: 1;
  padding: 4px 15px 6px 15px;
  a {
    text-decoration: none;
    color: inherit;
  }
  &.-R, &.-L, &.-T {
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      top: 100%;
    }

  }

  &.-R {
    border-radius: 4px 4px 0 4px;
    //clip-path: polygon(100% 100%, 96% 0%, 0% 0%, 0% 100%);
    &:after {
      border-width: 6px 12px 0 0;
      border-color: $color-ambient-mint-dark transparent transparent transparent;
      right: 0;
    }
  }

  &.-L {
    border-radius: 4px 4px 4px 0;
   // clip-path: polygon(100% 0%, 100% 100%, 0% 97%, 4% 0%);
    &:after {
      border-width: 0 12px 6px 0;
      border-color: transparent $color-ambient-mint-dark transparent transparent;
      left: 0;
    }
  }

  &.-T {
    background-color: #81c1c1;
    color: white;
    position: absolute;
    top:-10px;
    left: 50%;
    transform: translateX(-50%);
    display: table;
    text-align: center;
    border-radius: 0px 4px 4px 4px;
    &:after {
      border-width: 10px 0px 10px 10px;
      border-color: transparent transparent #2d4142 transparent;
      left: -9px;
      top: -10px;
      transform: none;
    }
  }

}
