.mainContent {
  @include respond-to(">=medium") {
    float: right;
    width: calc(100% - 270px);
    &.-left {
      float: left;
    }
  }
}

.sideBar {
  @include respond-to(">=medium") {
    float: left;
    width: 270px;
    &.-right {
      float: right;
    }
  }
}

.sideBarbox {
  margin-bottom: 40px;
  .sideflag {
    @include font-size-secondaryFont('small');
    margin-bottom: 20px;
  }

  .icontxt {
    width: 100%;
    .icon {
      fill: $color-ambient-mint;
    }
  }
  a:not(.btn-primary, .btn-secondary) {
    color: $color-ambient-mint;
    text-decoration: none;
  }
  &.crowdcampaign .-crowd_campaign a {
    color: unset !important;
  }
}
