// -------------- User Comment Posts in Groups and other commentable Views

.discussion-area {

  div.content {
    margin-bottom:50px;
    @include respond-to(">=medium") {
      margin-left: 60px;
    }

    padding-top:5px;
    p {
      white-space: pre-wrap;
    }
    .ctrl {
      margin-top:10px;
      a.btn-secondary {
        display: inline-block;
      }
    }
  }

  .user-post {
    .btn-control { opacity: 0; transition: opacity 0.5s; }
    .edit-post-form { display: none; }
    .content { display: block; }
  }

  .user-post:hover {
    .btn-control { opacity: 1; }
  }

  .user-post.editing {
    .edit-post-form { display: block; margin-top:20px;}
    .content { display: none; }
  }

  .user-post .btn-control, .discussion-infos .btn-control {
    a { display: inline-block; }
    svg {
      margin-left: 10px;
      color: $color-ambient-grey;
      width: 25px;
      height: 25px;
    }
    a:hover {
      svg { color: $color-ambient-rosa; }
    }
  }
  .discussion-infos .btn-control {
    display:flex;
    svg {
      margin-left:0px;
    }
  }

  .entryForm {
    .img-round {display: none;}
    &.is-focused {
      .img-round { display: block; }
      textarea {margin-left: 8px;}
    }
  }
  .post-comments {
    margin-top:20px;
    .comment-container.hide { display: none; }
  }
  .entryComment {
    .entryImgUploads, .txt {
      margin-left: 50px;
    }
    .txt {
      white-space: pre-wrap;
    }
  }

  // User STYLING
  .user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //margin-right: 10px;

    .infos {
      .title {
        font-style: italic;
      }
      .name {
        font-weight: bold;
      }
      .date {
        font-style: italic;
        color: $color-ambient-grey;
        @include font-size-primaryFont('small');
      }
    }
  } // End User STYLING

  .show-all-comments {
    @include respond-to(">=medium") {
      margin-left: 0px !important;
    }
  }

}

.userEntry {
  .name {
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .owner {
    color: $color-ambient-mint-dark;
  }
  .guest {
    color: $color-ambient-mint-dark;
  }
}

.post-comments {
  .comment-container {
    display: none;
  }
  // Show last 3 Comments (if change numer, also change in groups/discussion_posts/posts.html.erb)
  .comment-container:nth-last-child(-n+3) {
    display: block;
  }
  .show-all-comments {
    @include font-size-primaryFont('small');
    font-style: italic;
    color: #69a8a7;
    display: none;
    text-decoration: none;
    margin-bottom: 20px;
    @include respond-to(">=medium") {
      margin-left: 60px;
    }
    &.-show {
      display: block;
    }
  }
}


.stream {
  padding-top: 60px;
  border-top: 1px solid $color-ambient-mint-light-lowsaturation;
  clear: both;
  @include respond-to(">=large") {
    margin: 0 auto;
  }
  h3 {
    @include font-size-secondaryFont('large');
    text-align: center;
    margin-bottom: 40px;
    span {
      color: $color-ambient-rosa;
    }
  }
}

.entryCreate {
  max-width: 650px;
  margin: 0 auto 60px auto;
  position: relative;
  @include respond-to(">=medium") {
    align-items: flex-start;
    display: flex;
  }
  .img-round, .img-square {
    //margin-right: 1rem;
    //margin-top: 5px;
    display: none;
    @include respond-to(">=medium") {
      flex: 0 0 auto;
      display: block;
    }
  }
}

.hideBlock {
  overflow: hidden;

  .icon {
    margin-right: 5px;
  }
  .upload-streamImgs {
    color: $color-font-primary;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    @include respond-to(">=medium") {
      margin-bottom: 0;
      float: left;
    }
  }
  [type=submit] {
    width: 100%;
    @include respond-to(">=medium") {
      width: auto;
      float: right;
    }
  }
}

.hideBlock {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.entryCreate.is-focused,
.entryForm.is-focused {
  .hideBlock {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

.entryForm {
  .hideBlock {
    padding-top: 10px;
    @include respond-to(">=large") {
      padding-left: 48px;
    }
  }
}

.textEditor {
  margin-top: -4px;
  position: relative;
  width: 100%;
  @include respond-to(">=medium") {
    margin-left: 1rem;
    &:before {
      @include triangleSingle($direction: "left", $color: $color-ambient-mint-light, $size: 8px);
      content: '';
      left: -8px;
      top: 22px;
      position: absolute;
    }
  }

  textarea, input[type=text] {
    width: 100%;
    display: block;
    border-radius: 5px;
  }
  input[type=text] {
    margin-bottom: 8px;
  }
  textarea {
    min-height: 120px;
    margin-bottom: 10px;
    resize: vertical;
  }
}
.menuEditor {
  input[type=text] {
    margin-bottom: 0px;
  }
  .input-field, .input-textarea {
    margin-bottom: 8px;
  }
  .form-columns {
    label {min-width:50px;}
  }
}



.streamElement {
  max-width: 650px;
  margin: 0 auto 80px auto;
}

.entryContent {
  margin-bottom: 20px;
  position: relative;
  .headline {
    @include font-size-primaryFont('larger');
    font-weight: 600;
    margin-bottom: 5px;
  }
  .txt {
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      //text-decoration: none;
      color: $color-font-primary;
    }
  }
  > .txt:last-child {
    margin-bottom: 0;
  }
}

.entryComment {
  margin-bottom: 20px;
  .txt {
    margin-bottom: 1rem;
  }
  .img-round {
    width: 40px;
    height: 40px;
  }
}
.stream .streamElement {
  .entryContent .txt {
    white-space: pre-wrap;
  }

  //.entryComment { padding-left: 10px; }
  .entryComment .txt { margin-left: 50px; }

  @include respond-to(">=medium") {
    .headline, .txt {
      margin-left: 60px;
      position: relative;
      z-index: 5;
    }
    .entryImgUploads { padding-left: 60px; }
    .entryComment { padding-left: 60px; }
    .entryComment .txt { margin-left: 50px; }
    .entryForm { padding-left: 60px; }
    .entryForm.is-focused {
      .img-round { display: block; }
      textarea {margin-left: 8px;}
    }
  }
}

.entryImgUploads {
  margin-bottom: 2rem;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  img {
    float: left;
    display: block;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: #ffffff;
    background-image: $texture-secondary;
    box-shadow: $boxShadow-light;
    width: 145px;
    height:145px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  iframe {
    padding: 0.4rem;
    background-color: #ffffff;
    background-image: $texture-secondary;
    box-shadow: $boxShadow-light;
  }
  &.-grid {
    > * {
      @include col(1/2, $cycle: 2, $gutter: 2);
      @include respond-to(">=large") {
        @include col(1/4, $gutter: 2, $cycle: 4, $uncycle: 2);
      }
    }
    img {
      width:100%;
      height:auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

.lSGallery {
  img {
    padding: 0.4rem;
    background-color: #ffffff;
    background-image: $texture-secondary;
    box-shadow: $boxShadow-light;
    object-fit: cover;
  }
  .active img {
    background-color: $color-ambient-mint-light;
  }
}

.entryForm {
  textarea {
    //margin-left: 8px;
    background-color: #ffffff;
    border: 1px solid $color-ambient-grey-light;
    outline: none;
    font-family: $font-primary;
    border-radius: 4px;
    font-size: 1.6rem;
    resize: none;
    line-height: 1.4;
    width: 100%;
    display: block;
    color: $color-ambient-grey;
    height: 4.0rem;
    padding: 0.8rem 1.4rem;
    &::placeholder {
      color: $color-ambient-grey;
    }
  }
  label {
    display: flex;
    align-items: flex-start;
  }
  .img-round, .img-square {
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    display: none;
    //margin-right: 8px;
  }
  button {
    @extend .btn-secondary;
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
    border-color: $color-ambient-rosa;
    color: $color-ambient-rosa;
    float: right;
  }
}

.user-post .edit-post-form, .streamElement .edit-post-form {
  .actions { margin: 15px 0; }
  .actions button, .actions input { display: inline-block; margin-right: 15px; }
}

.streamElement {
  .edit-post-form { display: none; }
  .content { display: block; }
}
.streamElement.editing {
  .edit-post-form { display: block; margin-top:20px;}
  .content { display: none; }
}

.editControls {
  display: table;
  position: absolute;
  top: 6px;
  right: 0;
  overflow: hidden;
  opacity: 0;
  [class^=btn-] {
    //margin-left: 5px;
    //margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    float: left;
    color: $color-ambient-grey;
    &:hover {
      color: $color-ambient-rosa;
    }
  }
  .icon {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}
.touch .editControls {
  display: block;
  opacity: 1 !important;
}

.entryComment,
.entryContent {
  position: relative;
  &:hover {
    .editControls {
      opacity: 1;
      transition: opacity 0.2s 0s linear;
    }
  }

  .linkToPost {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $color-ambient-rosa;
    }
  }
}


.entryComment.inlineEdit-isVisible,
.entryContent.inlineEdit-isVisible {
  .editControls {
    display: none !important;
  }
}

.entryComment .txt form,
.entryContent .txt form {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  textarea {
    width: 100%;
    display: block;
    outline: none;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid $color-ambient-mint-light;
    line-height: 20px;
    font-size: 16px;
    min-height: 80px;
    font-family: $font-primary;
    color: $color-font-primary;
  }
  button {
    @extend .btn-secondary;
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
    border-color: $color-ambient-mint;
    color: $color-ambient-mint;
    float: right;
  }
  button[type=cancel] {
    border-color: transparent;
    color: $color-ambient-grey;
  }
}

.stream + .link-load {
  @extend .btn-secondary;
  @include respond-to(">=large") {
    width: 590px;
    margin-left: 200px;
  }
}

.stream .formBlocker {
  .wrp {
    display: flex;
    height:100%;
    align-content: flex-end;
    flex-wrap:wrap;
    @include respond-to(">=medium") {
      //justify-content: center;
    }
  }
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 10;
  @include font-size-primaryFont('large');
  border: 1px solid $color-ambient-grey-light;
  border-radius: 8px;
  padding:20px;
  font-style: italic;
  background-color: rgba(#FEF6DF,1.0);
  color: #cd891b;
  a {
    color: #cd891b;
  }
  .close {
    cursor: pointer;
    &::after {
      content: '';
      background-image: url(image_path('svg/icon-close.svg'));
      width: 28px;
      height: 28px;
      top: 5px;
      right: 5px;
      position: absolute;
      z-index: 11;
    }
  }

}
