// -------------- User Comment Posts in Groups and other commentable Views

.discussion-area {

  div.content {
    margin-bottom:50px;
    @include respond-to(">=medium") {
      margin-left: 60px;
    }

    padding-top:5px;
    p {
      white-space: pre-wrap;
    }
    .ctrl {
      margin-top:10px;
      a.btn-secondary {
        display: inline-block;
      }
    }
  }

  .user-post {
    .btn-control { opacity: 0; transition: opacity 0.5s; }
    .edit-post-form { display: none; }
    .content { display: block; }
  }

  .user-post:hover {
    .btn-control { opacity: 1; }
  }

  .user-post.editing {
    .edit-post-form { display: block; margin-top:20px;}
    .content { display: none; }
  }

  .user-post .btn-control, .discussion-infos .btn-control {
    a { display: inline-block; }
    svg {
      margin-left: 10px;
      color: $color-ambient-grey;
      width: 25px;
      height: 25px;
    }
    a:hover {
      svg { color: $color-ambient-rosa; }
    }
  }
  .discussion-infos .btn-control {
    display:flex;
    svg {
      margin-left:0px;
    }
  }

  .user-post .edit-post-form {
    .actions { margin: 15px 0; }
    .actions button, .actions input { display: inline-block; margin-right: 15px; }
  }

  .comment-container {
    display: none;
  }

  // Show last 3 Comments (if change numer, also change in groups/discussion_posts/posts.html.erb)
  .comment-container:nth-last-child(-n+3) {
    display: block;
  }


  .show-all-comments-link {
    //font-size: 12px;
    @include font-size-primaryFont('small');
    font-style: italic;
    color: #69a8a7;
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    @include respond-to(">=medium") {
      //margin-left: 60px;
    }
  }
  .entryCommentForm {
    .img-round {display: none;}
    &.is-focused {
      .img-round { display: block; }
    }
  }
  .post-comments {
    margin-top:20px;
    .comment-container.hide { display: none; }
  }
  .entryUserComment {
    .userCreateInfo {
      .name {
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .entryImgUploads, .txt {
      margin-left: 50px;
    }
    .txt {
      white-space: pre-wrap;
    }
  }

  // User STYLING
  .user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;

    .infos {
      .title {
        font-style: italic;
      }
      .name {
        font-weight: bold;
      }
      .date {
        font-style: italic;
        color: $color-ambient-grey;
        @include font-size-primaryFont('small');
      }
    }
  } // End User STYLING

}


.stream {
  padding-top: 60px;
  border-top: 1px solid $color-ambient-mint-light-lowsaturation;
  clear: both;
  @include respond-to(">=large") {
    margin: 0 auto;
  }
  h3 {
    @include font-size-secondaryFont('large');
    text-align: center;
    margin-bottom: 40px;
    span {
      color: $color-ambient-rosa;
    }
  }
  .show-all-comments-link {
    font-size: 12px;
    color: #69a8a7;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    @include respond-to(">=medium") {
      margin-left: 60px;
    }
  }
  .post-comments {
    .comment-container.hide { display: none; }
  }
}

.entryCreate {
  max-width: 650px;
  margin: 0 auto 60px auto;
  position: relative;
  @include respond-to(">=medium") {
    align-items: flex-start;
    display: flex;
  }
  .img-round, .img-square {
    margin-right: 1rem;
    margin-top: 5px;
    display: none;
    @include respond-to(">=medium") {
      flex: 0 0 auto;
      display: block;
    }
  }
}

.hideBlock {
  overflow: hidden;

  .icon {
    margin-right: 5px;
  }
  .upload-streamImgs {
    color: $color-font-primary;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    @include respond-to(">=medium") {
      margin-bottom: 0;
      float: left;
    }
  }
  button {
    width: 100%;
    @include respond-to(">=medium") {
      width: auto;
      float: right;
    }
  }
}

.hideBlock {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity:0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.entryCreate.is-focused,
.entryCommentForm.is-focused {
  .hideBlock {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
}

.entryCommentForm {
  .hideBlock {
    padding-top: 10px;
    @include respond-to(">=large") {
      padding-left: 48px;
    }
  }
}

.textEditor {
  position: relative;
  width: 100%;
  @include respond-to(">=medium") {
    &:before {
      @include triangleSingle($direction: "left", $color: $color-ambient-mint-light, $size: 8px);
      content: '';
      left: -8px;
      top: 22px;
      position: absolute;
    }
  }

  textarea, input[type=text] {
    width: 100%;
    display: block;
    border-radius: 5px;
  }
  input[type=text] {
    margin-bottom: 8px;
  }
  textarea {
    min-height: 120px;
    margin-bottom: 10px;
    resize: vertical;
  }
}



.streamElement {
  max-width: 650px;
  margin: 0 auto 80px auto;
}

.entryInitialContent {
  margin-bottom: 20px;
  position: relative;
  .headline {
    font-weight: 600;
    margin-bottom: 5px;
  }
  .txt {
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > .txt:last-child {
    margin-bottom: 0;
  }
}

.entryUserComment {
  margin-bottom: 20px;
  .txt {
    margin-bottom: 1rem;
  }
  .img-round {
    width: 40px;
    height: 40px;
  }
}
.stream .streamElement {
  @include respond-to(">=medium") {
    .headline, .txt {
      margin-left: 60px;
      position: relative;
      z-index: 5;
    }
    .entryImgUploads { padding-left: 60px; }
    .entryUserComment { padding-left: 60px; }
    .entryUserComment .txt { margin-left: 50px; }
    .entryUserComment { padding-left: 60px; }
    .entryCommentForm { padding-left: 60px; }
    .entryCommentForm.is-focused {
      .img-round { display: block; }
    }
  }
}

.entryImgUploads {
  @include cf;
  margin-bottom: 2rem;
  margin-top: 20px;
  img {
    float: left;
    display: block;
    max-width: 285px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: #ffffff;
    background-image: $texture-secondary;
    box-shadow: $boxShadow-light;
  }
}

.entryCommentForm {
  textarea {
    background-color: #ffffff;
    border: 1px solid $color-ambient-grey-light;
    outline: none;
    font-family: $font-primary;
    border-radius: 4px;
    font-size: 1.6rem;
    resize: none;
    line-height: 1.4;
    width: 100%;
    display: block;
    color: $color-ambient-grey;
    height: 4.0rem;
    padding: 0.8rem 1.4rem;
    &::placeholder {
      color: $color-ambient-grey;
    }
  }
  label {
    display: flex;
    align-items: flex-start;
  }
  .img-round, .img-square {
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    display: none;
    margin-right: 8px;
  }
  button {
    @extend .btn-secondary;
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
    border-color: $color-ambient-rosa;
    color: $color-ambient-rosa;
    float: right;
  }
}

.editControls {
  display: table;
  position: absolute;
  top: 6px;
  right: 0;
  overflow: hidden;
  opacity: 0;
  [class^=btn-] {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    float: left;
    color: $color-ambient-grey;
    &:hover {
      color: $color-ambient-rosa;
    }
  }
  .icon {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}
.touch .editControls {
  display: block;
  opacity: 1 !important;
}

.entryUserComment,
.entryInitialContent {
  position: relative;
  &:hover {
    .editControls {
      opacity: 1;
      transition: opacity 0.2s 0s linear;
    }
  }

  .linkToPost {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: $color-ambient-rosa;
    }
  }
}


.entryUserComment.inlineEdit-isVisible,
.entryInitialContent.inlineEdit-isVisible {
  .editControls {
    display: none !important;
  }
}

.entryUserComment .txt form,
.entryInitialContent .txt form {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  textarea {
    width: 100%;
    display: block;
    outline: none;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid $color-ambient-mint-light;
    line-height: 20px;
    font-size: 16px;
    min-height: 80px;
    font-family: $font-primary;
    color: $color-font-primary;
  }
  button {
    @extend .btn-secondary;
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
    border-color: $color-ambient-mint;
    color: $color-ambient-mint;
    float: right;
  }
  button[type=cancel] {
    border-color: transparent;
    color: $color-ambient-grey;
  }
}

.stream + .link-load {
  @extend .btn-secondary;
  @include respond-to(">=large") {
    width: 590px;
    margin-left: 200px;
  }
}

.stream .formBlocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba($color-ambient-bright,0.75);
  z-index: 10;
  h5 {
    @include font-size-secondaryFont('small');
    font-family: $font-secondary;
    text-align: center;
    margin-bottom: 20px;
  }
  .ctrl {
    display: flex;
    justify-content: center;
  }
  .close {
    margin-left: 20px;
    border-color: $color-ambient-grey;
    color: $color-ambient-grey;
  }
}

// ---------------------------------------------------------------------- plain entry page

section.justEntry {
  max-width: 709px;
  margin: 0 auto 30px auto;
  .userCreateInfo {
    @include font-size-primaryFont('base');
    img  {
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
  }
  .theEntry {
    @include respond-to(">=medium") {
      padding-right: 30px;
      padding-left: 90px;
    }
    .title {
      @include font-size-secondaryFont('base');
      font-family: $font-secondary;
      color: $color-ambient-mint-dark;
      margin-bottom: 10px;
    }
    .postImgs {
      margin-bottom: 20px;
    }
    .txt {
      @include font-size-primaryFont('base');
      margin-bottom: 20px;
      white-space: pre-wrap;
    }
    .btn-destroy {
      margin-left: auto;
      display: table;
    }
  }
}
