.wrp-stream {
  padding-top: 40px;
  border-top: 1px dotted $color-ambient-mint-light;
  h2 {
    @include font-size-secondaryFont('large');
    text-align: center;
    margin-bottom: 50px;
    span {
      color: $color-ambient-rosa;
    }
  }
}

.streamEntryNav {
  display: flex;
  margin: 0 auto;
  width: 510px;
  margin-bottom: -15px;
  > * {
    flex: 0 0 auto;
    text-decoration: none;
    color: $color-font-primary;
    display: flex;
    align-items: center;
  }
  .createEntry {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px dotted lighten($color-ambient-grey, 20);
    [class^=icon-] {
      color: $color-ambient-mint;
      margin-right: 5px;
    }
  }
  .createMeeting {
    background-image: url(image_path('svg/icon-right-blinky.svg')), url(image_path('svg/icon-left-blinky.svg'));
    background-position: right center, left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      color: $color-ambient-rosa;
    }
  }
}

.stream {
  clear: both;
  margin-bottom: 100px;
  padding-top: 30px;
  @include respond-to(">=large") {
    margin: 0 auto;
  }

  h3 {
    @include font-size-secondaryFont('base');
    text-align: center;
    margin-bottom: 40px;
    span {
      color: $color-ambient-rosa;
    }
  }

  .timeago {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px dotted $color-ambient-grey-light;
  }
}

.entryCreate {
  max-width: 650px;
  //background: #ffffff $texture-secondary;
  margin: 0 auto 80px auto;
  position: relative;
  @include respond-to(">=medium") {
    align-items: flex-start;
    display: flex;
  }

  button {
    @extend .btn-primary;
    @extend .btn-primary.-rose;
    margin-top: 1rem;
    display: none;
    width: 100%;
  }

  .img-round {
    margin-right: 1rem;
    display: none;
    @include respond-to(">=medium") {
      flex: 0 0 auto;
      display: block;
    }
  }

}
.entryCreate.is-focused {
  button, .upload-image {
    display: block;
  }
  textarea {
    border-radius: 5px 5px 0 0;
  }
}

.textEditor {
  position: relative;
  width: 100%;
  @include respond-to(">=medium") {
    &:before {
      @include triangleSingle($direction: "left", $color: $color-ambient-mint-light, $size: 10px);
      content: '';
      left: -9px;
      top: 15px;
      position: absolute;
    }
  }

  textarea {
    @include textarea-plain($bgColor: $color-ambient-mint-light);
    width: 100%;
    color: $color-ambient-mint-dark;
    height: 80px;
    display: block;
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 5px;
  }
  .upload-image {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    display: none;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    border-left: 1px solid $color-ambient-mint-light;
    border-right: 1px solid $color-ambient-mint-light;
    border-bottom: 1px solid $color-ambient-mint-light;
  }
  [class*=icon-camera] {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem !important;
  }
}



.streamElement {
  max-width: 650px;
  margin: 0 auto 80px auto;
}

.entryInitialContent {
  margin-bottom: 30px;
  position: relative;
  .txt {
    margin-bottom: 1rem;
    @include respond-to(">=medium") {
      margin-left: 60px;
      position: relative;
      z-index: 5;
    }
  }
  .entryImgUploads {
    @include respond-to(">=medium") {
      padding-left: 60px;
    }
  }
}

.entryUserComment {
  margin-bottom: 1rem;
  @include respond-to(">=medium") {
    padding-left: 60px;
  }
  .txt {
    margin-bottom: 1rem;
    @include respond-to(">=medium") {
      padding-left: 50px;
    }
  }
  .img-round {
    width: 40px;
    height: 40px;
  }
  .entryImgUploads {
    @include respond-to(">=medium") {
      padding-left: 50px;
    }
  }
}



.entryNewParticipants {
  margin-bottom: 1rem;
  @include respond-to(">=medium") {
    padding-left: 60px;
  }
  strong {
    margin-bottom: 10px;
    display: block;
    font-size: 1.8rem;
  }
  .userPortraitName {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    &:hover span {
      text-decoration: underline;
    }
    img {
      width: 30px;
      height: 30px;
    }
    span {
      font-size: 1.2rem;
      font-style: italic;
    }
  }
}

.entryImgUploads {
  @include cf;
  margin-bottom: 2rem;
  img {
    float: left;
    display: block;
    max-width: 110px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    background-color: #ffffff;
    background-image: $texture-secondary;
    box-shadow: $boxShadow-light;
  }
}

.entryCommentForm {
  @include respond-to(">=medium") {
    padding-left: 60px;
  }
  textarea {
    @include textarea-plain($borderColor: $color-ambient-grey-light);
    width: 100%;
    display: block;
    color: $color-ambient-grey;
    height: 4.0rem;
    padding: 0.8rem 1.4rem;
    &::placeholder {
      color: $color-ambient-grey;
    }
  }
  label {
    display: flex;
    align-items: flex-start;
  }
  .img-round {
    width: 40px;
    height: 40px;
    flex: 0 0 auto;
    display: none;
    margin-right: 8px;
  }
  button {
    @extend .btn-primary;
    @extend .btn-primary.-small;
    background-color: $color-ambient-grey;
    margin-top: 10px;
    display: none;
    float: right;
  }
}
.entryCommentForm.is-focused {
  .img-round {
    @include respond-to(">=medium") {
      display: block;
    }
  }
  button {
    display: block;
  }
}


.meetingTeaser {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  color: $color-font-primary;
  text-decoration: none;
  &:hover, &:active {
    h2 {
      color: $color-ambient-rosa-dark;
    }
  }
  @include respond-to(">=medium") {
    margin-left: 60px;
    max-width: 100%;
    margin-top: 0;
    padding: 8px;
    background-color: #ffffff;
    box-shadow: $boxShadow-light;
  }

  img {
    width: 100%;
  }

  .facts {
    @include respond-to(">=medium") {
      padding-left: 5px;
      padding-right: 5px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  h2 {
    text-align: center;
    font-size: 2.4rem;
    color: $color-ambient-rosa;
    margin-bottom: 1rem;
    @include respond-to(">=medium") {
      text-align: left;
      margin-bottom: 0;
      font-size: 3.2rem;
      max-width: 65%;
    }
  }

  .participantsCountSmall {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 1.4rem;
    background-color: #ffffff;
    padding: 3px 20px 3px 6px;
    display: flex;
    border-radius: 5px 0 0 5px;
  }

  .dateLocation {
    margin: 0 auto;
    display: table;
    @include respond-to(">=medium") {
      max-width: 35%;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .dateTimeIconSmall, .locationIconSmall {
    margin-top: 4px;
    margin-bottom: 4px;
  }

}








.editControls {
  display: table;
  position: absolute;
  top: 6px;
  right: 0;
  overflow: hidden;
  opacity: 0;
  [class^=btn-] {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    float: left;
    color: $color-ambient-grey;
    &:hover {
      color: $color-ambient-rosa;
    }
  }
  [class^=icon-] {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}

.entryUserComment,
.entryInitialContent {
  position: relative;
  &:hover {
    .editControls {
      opacity: 1;
      transition: opacity 0.2s 0s linear;
    }
  }

  .linkToPost {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
      color: $color-ambient-rosa;
    }
  }

  .txt {
    white-space: pre-wrap;
  }
}


.entryUserComment.inlineEdit-isVisible,
.entryInitialContent.inlineEdit-isVisible {
  .editControls {
    display: none !important;
  }
}

.entryUserComment .txt form,
.entryInitialContent .txt form {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  textarea {
    width: 100%;
    display: block;
    outline: none;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid $color-ambient-mint-light;
    line-height: 20px;
    font-size: 16px;
    min-height: 80px;
    font-family: $font-primary;
    color: $color-font-primary;
  }
  button {
    @extend .btn-secondary;
    @extend .btn-secondary.-mint;
    @extend .btn-secondary.-small;
    float: right;
  }
  button[type=cancel] {
    border-color: transparent;
    color: $color-ambient-grey;
  }

}





