$table-header: $color-ambient-mint-dark;
$table-header-border: $color-ambient-mint-dark;
$table-border: $color-ambient-grey-light;
$row-bg: $color-ambient-grey-light;
$row-hover-bg : $color-ambient-mint-light;

.table-container {
  display: block;
  margin: 2em auto;
  width: 100%;
}

.table-container {

  @include font-size-primaryFont('small');
  &.-base {
    @include font-size-primaryFont('base');
  }

  line-height: 1.5;
  
  a {
    color: $color-ambient-mint-dark;
    text-decoration: none;
  }
  a:hover:not(.btn-secondary) {
    text-decoration: underline;
  }

  .flex-table {
    display: flex;
    flex-flow: row wrap;
    border-left: solid 1px $table-border;
    transition: 0.5s;
    &:first-of-type {
      border-top: solid 1px $table-header-border;
      border-left: solid 1px $table-header-border;
    }
    &:first-of-type .flex-row {
      background: $table-header;
      border-color: $table-header-border;
      font-weight: bold;
      color: white;
    }
    &.row:nth-child(odd) .flex-row {
      background-color: rgba($row-bg, 0.5);
    }
    &:hover {
      background: $row-hover-bg;
      transition: 500ms;
    }
    &.toggable {
      cursor: pointer;
    }
  }

  .flex-row {
    display: flex;
    align-items: center;
    padding:5px 10px 5px 10px;
    border-right: solid 1px $table-border;
    border-bottom: solid 1px $table-border;

    &.small {width: 10%; justify-content: left;}
    &.medium {width: 15%; justify-content: left;}
    &.large {width: 20%; justify-content: left;}
    &.xlarge {width: 30%; justify-content: left;}
    &.xxlarge {width: 35%; justify-content: left;}
    &.xxxlarge {width: 65%; justify-content: left;}
    &.full {width: 100%; justify-content: left;}
    //width: calc(28% / 2);
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      // IE Fix
      width: calc((40% / 3) - 1px);
    }

    &.toggle-cell {
      display: none;
      div {
        width:65%;
        float:left;
        padding:5px;
        font-style: italic;
        strong {
          font-style: normal;
        }
      }
      div:first-of-type {
        width:35%;
      }
      @include respond-to("<=medium") {
        div, div:first-of-type {
          width:100%;
        }
      }
    }

    .message {
      display: inline-flex;
      svg {
        color: $color-ambient-rosa;
        margin-right:7px;
      }
    }

    &.btn {
      display: block;
    }
    &.status {
      flex-wrap: wrap;
      span {
        padding-right:10px;
      }
    }
    &.user {
      display: flex;
      .img-round {
        width:38px;
        height:38px;
        margin-right:10px;
        margin-top:2px;
      }
      .name {
        width:100%;
        @include ellipsis();
      }
    }
    &.pending, &.canceled {
      color: #cd891b;
    }
    .ellipsis {
      @include ellipsis();
    }
  }

  // Begin - For nested Rows only!
  // See: https://medium.com/@snowleo208/how-to-create-responsive-table-d1662cb62075
  .column {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    padding: 0;
    .flex-row {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      padding: 0;
      border: 0;
      border-bottom: solid 1px $table-border;
      &:hover {
        background: #F5F5F5;
        transition: 500ms;
      }
    }
  }
  // END Nested Rows


  // MEDIUM SIZE
  @include respond-to("<=medium") {

    .flex-row, .flex-row.small, .flex-row.medium, .flex-row.large, .flex-row.xlarge {
      width: 50%; //1px = border right
    }
    .column, .flex-row.xxlarge, .flex-row.xxxlarge {
      width: 100%;
    }

  }

  // MOBILE SIZE
  @include respond-to("<=small") {

    .flex-table {
      .flex-row {
        border-bottom: 0;
      }
      .flex-row:last-of-type {
        border-bottom: solid 1px $table-border;
      }
    }

    .header {
      .flex-row {
        border-bottom: solid 1px;
      }
      //.flex-row:not(.first) { display: none}
    }

    .flex-row, .flex-row.small, .flex-row.medium, .flex-row.large, .flex-row.xlarge, .flex-row.xxlarge, .flex-row.xxxlarge {
      width: 100%; //1px = border right
    }

    .column {
      width: 100%;
      .flex-row {
        border-bottom: solid 1px $table-border;
      }
    }

  }

  &.-borderless {
    .flex-table, .flex-row {
      border:none;
    }
  }

}
.table-container.-light .header {
  border-color: $color-ambient-mint-light;
  .flex-row {
    background-color: $color-ambient-mint-light;
    border-color: $color-ambient-mint-light;
    color: $color-font-primary;
  }
}
