.tabs-ctrl {
  .defaultText {
    @include font-size-primaryFont('base');
    color: $color-ambient-grey;
    font-style: italic;
  }
}

.tabs-nav {
  border: 1px solid $color-ambient-grey-light;
  border-radius: 4px;
  margin-bottom: 30px;
  overflow: hidden;
  @include respond-to(">=medium") {
    display: table;
  }
  a {
    @include font-size-secondaryFont('base');
    font-family: $font-secondary;
    overflow: hidden;
    padding-left: 20px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    border-right: solid 1px $color-ambient-grey-light;
    text-decoration: none;
  }
  li {
    display: block;
    &:last-child a {
      border: none;
      margin-right: 0;
    }
    &:not(.active) a {
      color: $color-ambient-mint-dark;
      background-color: #fff;
      &:hover {
        background-color: rgba($color-ambient-mint-light, 0.5);
      }
    }
    &.active a {
      color: #fff;
      background-color: rgba($color-ambient-mint-dark, 1);
    }
    @include respond-to(">=medium") {
      float: left;
    }
  }
  &.-small {
    a {
      @include font-size-secondaryFont('small');
    }
  }
}

.tabs-ctrl.-plain {
  position: relative;
  .tabs-nav {
    margin-bottom: 0px;
    width:100%;
    border:none;
    border-radius: unset;
  }
  .tabs-nav li {
    &.active a {
      color: unset;
      background-color: unset;
      border-bottom: solid 3px $color-ambient-grey-dark;
    }
  }
  .tabs-nav li h3 {
    @include font-size-primaryFont('large');
  }
  .tabs-nav li a {
    padding:13px;
    padding-left:5px;
    padding-right:5px;
    margin-right:20px;
    display: flex;
    border-right:unset;
    font-family: $font-primary;
    font-weight: bold;
    @include font-size-primaryFont('large');
    @include respond-to("<=medium") {
      padding:10px;
      margin-right:0px;
    }
    small {
      background-color: $color-ambient-mint-light;
      color: $color-font-primary;
      border-radius: 15px;
      line-height: 1;
      font-size: 12px;
      padding: 5px;
      z-index: 9;
      font-style: italic;
      align-self: center;
      margin-left:10px;
    }
  }
  .tabs-nav li:last-child a {
    margin-right: 0;
  }
  .tabs-nav li:not(.active) a {
    color: $color-font-primary;
    background-color: unset;
  }
}
