.tag-list {

  margin: 0;
  list-style: none;
  overflow: hidden;

  li {
    float: left;
    padding: 6px 15px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #E2E2E2;
    color: $color-ambient-mint-dark;
  }

  &.-mint {
    li, li a {
      background-color: #5D9798;
      color: white;
      text-decoration: none;
      a:hover {
        text-decoration: underline;
      }
    }
  }

}

.tag-list-newline {

  margin: 0;
  list-style: none;

  li {
    display: table;
    clear:both;
    margin-bottom: 10px;
    span {
      display: table;
      float: left;
      margin-top: -5px;
      padding: 6px 15px;
      border-radius: 20px;
      margin-right: 5px;
      background-color: #E2E2E2;
      color: $color-ambient-mint-dark;
    }
  }
}
