.titleHeadline {
  position: relative;
  margin-bottom: 2.0rem;
  padding-left: 10px;
  padding-right: 10px;
  @include respond-to(">=medium") {
    padding: 25px 40px 20px 42px;
    position: absolute;
    bottom: 70px;
    left: -12px;
    max-width: 450px;
    @include respond-to(">=large") {
      bottom: 105px;
    }
  }

  .wrp {
    @include respond-to(">=medium") {
      min-height: 50px;
      z-index: 2;
      position: relative;
      display: block;
    }
  }
  .card {
    @include respond-to(">=medium") {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
      display: block;
      z-index: 1;
      border-radius: 2px;
      transform: rotate(-2deg) translate3d(0,0,0);
      background-image: $texture-stoff2, url(image_path('svg/card-holes.svg'));
      background-position: left top, top right;
      //shadow bottom
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        top: 100%;
        left: 0;
        background-image: radial-gradient(ellipse at center top, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
        pointer-events: none;
      }
      &::before {
        content: '';
        position: absolute;
        z-index: 6;
        background-repeat: no-repeat;
        top: 3px;
        right: -51px;
        height: 60px;
        width: 81px;
        background-image: url(image_path('svg/card-string1.svg'));
      }
    }

  }

  a {
    display: table;
    margin: 0 auto;
    text-decoration: none;
    @include respond-to(">=medium") {
      margin-left: 0;
    }
  }

  h1, h3 {
    font-family: $font-secondary;
    line-height: 1;
    text-align: center;
    @include respond-to(">=medium") {
      text-align: left;
    }
  }

  h1 {
    @include font-size-secondaryFont;
    margin-bottom: 0;
    @include respond-to(">=large") {
    }
  }

  h3 {
    @include headlineBarbapapa;
    @include font-size-secondaryFont('small');
    display: table;
    margin: 0 auto;
    @include respond-to(">=medium") {
      margin-left: 0;
      margin-bottom: 0.5rem;
    }
  }
  h4 {
    @include font-size-secondaryFont('small');
    display: table;
    margin: 0 auto;
    color: $color-ambient-mint;
    margin-top: 5px;
    @include respond-to(">=medium") {
      margin-left: 0;
    }
  }

  .locationAvatar {
    width: 60px;
    height: 60px;
    border: solid 1px $color-ambient-mint;
    padding: 4px;
    border-radius: 8px;
    background-color: #ffffff;
    position: absolute;
    bottom: 18px;
    left: 18px;
    display: none;
    @include respond-to(">=medium") {
      display: block;
      transform: translate(0, 0);
      position: absolute;
      bottom: -25px;
      right: -65px;
      left: auto;
      width: 100px;
      height: 100px;
      z-index: 9;
    }
  }

}
