.user-rating {
  display: inline-flex;
  text-align: left;
  padding-right: 3px;
  span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  span.fill:before {
    content: "\2605";
    position: absolute;
    color: $color-ambient-mint-dark;
  }
}
