.userEntry {
  color: $color-ambient-grey;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  font-style: italic;
  display: flex;
  align-items: center;
  @include respond-to(">=medium") {
    margin-bottom: 0;
  }
  .img-round, .img-square {
    flex: 0 0 auto;
    margin-right: 8px;
  }
  .userAndType {
    a {
      margin-right: 3px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    span + a {
      margin-left: 3px;
    }
  }
  .timeago {
    padding-left: 10px;
    margin-left: 5px;
    border-left: 1px dotted $color-ambient-grey;
  }
}
