.img-round {
  @include img-round;
}

.img-square {
  @include img-square;
}

.portraitCollection {
  //overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  img, .dotdotdot {
    float: left;
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .dotdotdot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 2px solid $color-ambient-mint;
    background-color: $color-ambient-bright;
    padding: 1px;
    cursor: pointer;
    z-index: 1;
    .icon {
      fill: $color-ambient-mint;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      transform: translate(-50%, -50%);
    }
  }
}

.userPortraitName {
  display: flex;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    margin-right: 6px;
  }
}

.user-tooltip-wrp {
  display:flex;
  flex-wrap: wrap;
  max-width: 280px;
  padding-top:5px;
  justify-content: center;
  .img-round, .img-square {
    width:80px;
    height:80px;
    margin-right: 10px;
  }
  a.username {
    font-weight: bold;
    text-decoration: none;
    color:$color-font-primary;
  }
  .tt-content {
    max-width: 180px;
    @include ellipsis;
  }
  .tt-line {
    display: flex;
    align-items: center;
    @include font-size-primaryFont('small');
    padding-top:3px;
    svg {
      color: $color-ambient-mint;
      height:25px;
      padding-right:5px;
    }
    a {
      color: $color-ambient-mint;
      text-decoration: none;
    }
    &.-category {
      display: block;
      @include ellipsis;
    }
    &.-boss {
      .img-round {
        width: 25px;
        height: 25px;
        margin-right:5px;
      }
    }
  }
  a:hover {
    text-decoration: underline;
  }
  .tt-bio, .tt-additional {
    border-top: 1px solid $color-ambient-mint-light-lowsaturation;
    padding-top:7px;
    margin-top:7px;
    font-style: italic;
    width:100%;
  }
  .tt-additional {
    text-align: center;
  }
}
.no-touch .tt-line.-profile {
  display: none;
}
