.img-round {
  @include img-round;
}

.img-square {
  @include img-square;
}

.abo {
  &::before {
    content: '';
    background-image: url(image_path('svg/icon-abo.svg'));
    background-repeat: no-repeat;
    background-size: cover;
    width:40%;
    height:40%;
    top: -2px;
    right: -5px;
    position: absolute;
    z-index: 9;
  }
  &.square {
    &::before {
      top: -15%;
      right: -15%;
    }
  }
}

.portraitCollection {
  display: flex;
  flex-wrap: wrap;
  img {
    float: left;
    display: block;
    margin-bottom: 5px;
  }
  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.userPortraitName {
  display: flex;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
    //margin-right: 6px;
  }
}

.user-tooltip-wrp {
  display:flex;
  flex-wrap: wrap;
  max-width: 280px;
  padding-top:5px;
  justify-content: center;
  .img-round, .img-square {
    width:80px;
    height:80px;
    //margin-right: 10px;
  }
  a.username {
    font-weight: bold;
    text-decoration: none;
    color:$color-font-primary;
  }
  .tt-img {
    margin-right: 10px;
  }
  .tt-content {
    max-width: 180px;
    @include ellipsis;
  }
  .tt-line {
    display: flex;
    align-items: center;
    @include font-size-primaryFont('small');
    padding-top:3px;
    svg {
      color: $color-ambient-mint;
      height:25px;
      padding-right:5px;
    }
    a {
      color: $color-ambient-mint;
      text-decoration: none;
    }
    &.-category {
      display: block;
      @include ellipsis;
    }
    &.-boss {
      .img-round {
        width: 25px;
        height: 25px;
        margin-right:5px;
      }
    }
  }
  a:hover {
    text-decoration: underline;
  }
  .tt-bio, .tt-additional {
    border-top: 1px solid $color-ambient-mint-light-lowsaturation;
    padding-top:7px;
    margin-top:7px;
    font-style: italic;
    width:100%;
  }
  .tt-additional {
    text-align: center;
  }
}
.no-touch .tt-line.-profile {
  display: none;
}
