.userDummy {
  overflow: hidden;
  position: relative;
  width: 40px;
  height: 40px;
  background-image: $texture-secondary;
  background-color: lighten($color-ambient-mint, 20);
  border-radius: 50%;
  border: 2px solid $color-ambient-mint;
  .icon-vcard {
    position: absolute;
    width: 100%;
    height: auto;
    transform: translate(0, 10%);
    fill: $color-ambient-mint;
  }
}

.img-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $color-ambient-mint;
  background-color: lighten($color-ambient-mint, 20);
  padding: 1px;
}