.video-thumb {
  border-radius: 15px;
  text-align: center;
  a.player {
    position: relative;
    display: flex;
    align-items: center;
    .video {
      width:100%;
      height:auto;
      border-radius: 12px;
    }
    .icon {
      position: absolute;
      width:100%;
      height:50%;
      fill: $color-ambient-mint-light;
      opacity: 0.7;
    }
    &:hover {
      .icon {
        fill: $color-ambient-rosa-light;
        opacity: 0.9;
      }
    }
  }
  &.-rosa-dark {
    a.player .icon {
      fill: $color-ambient-rosa-dark;
    }
  }
  &.-mint-dark {
    a.player .icon {
      fill: $color-ambient-mint-dark;
    }
  }
  a.sublink {
    margin-top: 15px;
    border-radius: 12px;
  }
}

.play-icon {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    z-index: 6;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    height: 30%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(image_path('svg/icon-play.svg'));
    background-position: center center;
    opacity: 0.8;
  }
  &:hover {
    cursor: pointer;
    &::before {
      opacity: 1.0;
    }
  }
}

:is(vimeo-embed, youtube-embed) {
  aspect-ratio: 16 / 9;
  border-radius: var(--video-embed-bdrs, 0.25em);
  display: grid;
  inline-size: 100%;
  position: relative;
}
:is(vimeo-embed, youtube-embed) :is(iframe, img) {
  block-size: 100%;
  border: 0;
  border-radius: inherit;
  inline-size: 100%;
  inset: 0;
  position: absolute;
}
:is(vimeo-embed, youtube-embed) :is(img) {
  object-fit: cover;
}

:is(vimeo-embed, youtube-embed) button {
  background-color: var(--button-bgc, #F00);
  block-size: var(--button-h, 50px);
  border: 0;
  border-radius: var(--button-bdrs, 14%);
  display: grid;
  inline-size: var(--button-w, 75px);
  opacity: var(--button-op, 0.8);
  position: absolute;
  place-self: center;
  transition: all .2s ease-in;
  cursor: pointer;
}
:is(vimeo-embed, youtube-embed) button::before {
  aspect-ratio: 1;
  background: #FFF;
  block-size: 1.5em;
  clip-path: polygon(20% 0%, 20% 100%, 100% 50%);
  content: '';
  place-self: center;
}

vimeo-embed button { --button-bgc: #00adef; }

:is(vimeo-embed, youtube-embed) iframe:not([src=""]) + button {
  display: none;
}
