.zuckerlBox {
  box-shadow: $boxShadow-light;
  padding: 9px;
  position: relative;
  background-color: #ffffff;
  @include respond-to(">=large") {
    @include cf;
  }

  .wrp-img {
    @include respond-to(">=large") {
      @include col(1/2);
      padding-right: 6px;
    }

    img {
      width: 100%;
      border-radius: 4px;
      display: block;
    }
  }
  .txt {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 16px;
    @include respond-to(">=large") {
      @include col(1/2);
      padding: 10px 15px;
    }
    @include respond-to(">=large") {
      &::after {
        content: '';
        width: 61px;
        height: 65px;
        position: absolute;
        right: -36px;
        top: -11px;
        background-repeat: no-repeat;
        background-image: url(image_path('svg/card-string1-fakehole-small.svg'));
      }
    }
  }

  .user {
    margin-top: -27px;
    margin-left: -3px;
    margin-bottom: 25px;
    @include respond-to(">=large") {
      margin-left: -68px;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
    img {
      vertical-align: bottom;
      @include respond-to(">=large") {
        margin-right: 17px;
      }
    }
    span {
      color: $color-ambient-mint-dark;
      font-size: 1.4rem;
      vertical-align: bottom;
      margin-bottom: 10px;
      @include respond-to(">=large") {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    @include font-size-primaryFont('larger');
    margin-top: -5px;
    margin-bottom: 15px;
    @include respond-to(">=large") {
      margin-bottom: 0;
      @include font-size-primaryFont('large');
    }
  }

  p {
    @include font-size-primaryFont('large');
  }

}