body.welocally {
  .nav-dropdown-submenu {
    min-width: 250px;
  }
  .nav-guest {
    .icon {
      fill: $color-ambient-mint-dark;
      margin-left:12px;
    }
  }
}

section.campaignUsers {

  padding-bottom: 0px;

  .-header {
    margin-top:60px;
    margin-bottom:90px;
    @include respond-to("<=medium") {
      margin-top:50px;
      margin-bottom:50px;
    }
  }

  .-footer-headline {
    margin-top: 50px;
  }

  .paperCard.-footer {
    p {
      @include font-size-primaryFont('large');
    }
  }

  .form-block .btn-primary {
    width:100%;
    margin:auto;
  }

  section.kooperationspartner {
    margin-top:60px;
    h2 {
      @include headlineBarbapapaMintDark;
      margin: auto;
      margin-bottom: 40px;
    }
    a {
      color: $color-ambient-grey;
      &:hover {
        color: $color-ambient-rosa;
      }
    }
    .cardBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap:wrap;
      flex-direction:column;
      @include respond-to(">=medium") {
        flex-direction:row;
      }
      img {
        width:50%;
        @include respond-to(">=medium") {
          width:100%;
        }
      }
      div.wrp {
        width:100%;
        text-align:center;
        @include respond-to(">=medium") {
          width:50%;
          text-align:left;
        }
        padding:10px;
        .links {
          @include ellipsis;
        }
      }
    }
  }

  &.-kaernten {
    section.kooperationspartner {
      .cardBox {
        flex-direction:row;
        img {
          width:60%;
          @include respond-to(">=medium") {
            width:40%;
            margin-right: 30px;
          }
        }
        div.wrp {
          width:50%;
          text-align:left;
        }
        div.wrp.-img {
          text-align: center;
          @include respond-to(">=medium") {
            text-align:right;
          }
        }
      }

    }
  }

  &.-landing {
    margin-bottom:-80px;
  }

  .region-switch-icons {
    margin-bottom: 50px;
  }

  .imgHeader {
    background-color: #dff0f0;
  }

  .imgHeader .wrp {
    position: relative;
  }

  .imgHeader::after {
    background-image: url(image_path('campaign_users/welocally_header.jpg'));
    background-position: center bottom;
    @media only screen and (min-width:1500px){
      background-size: contain;
    }
  }

  h1.weLocally {
    background-image: url(image_path('campaign_users/speech-bubble-wide.svg'));
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    max-width:480px;
    padding: 15px 15px 50px 15px; // top, right, bottom, left
    position: relative;
    @include font-size-secondaryFont('base');
    top:-20px;
    left:-60px;
    @include respond-to(">=medium") {
      @include font-size-secondaryFont('large');
      padding: 20px 20px 80px 20px; // top, right, bottom, left
      top:-30px;
      left:-180px;
    }
    @include respond-to(">=large") {
      left:-280px;
    }
  }

  .region-switch-icons {

    position: relative;
    padding-bottom: 50px;

    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0) 100%);
      pointer-events: none;
      z-index: 9;
    }

    display: flex;
    justify-content: center;

    .bigicontext-element {
      background-image: url(image_path('svg/kringel-grey-white.svg'));
      justify-content: center;

      height: 75px;
      min-width: 75px;
      max-width: 75px;

      @include respond-to(">small") {
        height: 105px;
        min-width: 105px;
        max-width: 105px;
        background-size: 105px 105px;
      }

      img.region-ico {
        width:65%;
        height:auto;
        margin:0;
      }

    }

    a.region-button {
      width:165px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-decoration: none;
      color: $color-font-primary;
      &:hover {
        .bigicontext-element {
          color: $color-font-primary;
          background-image: url(image_path('svg/kringel-grey-rosa.svg'));
        }
        .title {
          color: $color-ambient-rosa;
        }
      }
    }

    .title {
      @include font-size-primaryFont('larger');
      font-weight: bold;
      margin-top:10px;
      height: 60px;
      display: flex;
      align-items: center;
    }

  }

  .-fullwidth-welocally {
    background-color: #eaf2f4;
    padding:18px;
    padding-top:40px !important;
    padding-bottom:50px !important;
    margin-bottom:0px;
    margin-top: 80px;

    .paperCard, .container {
      max-width:930px;
      margin: auto;
    }

    .-register {
      display: table;
      margin: auto;
    }

    .hl-subtext {
      max-width: 930px;
      margin: auto;
      margin-bottom: 90px;
    }

    &::before {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      top: -10px;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      pointer-events: none;
      z-index: 9;
    }

  }

  article.-team {
    flex-wrap: wrap;
    .txt, .aside {
      @include font-size-primaryFont('large');
      text-align: justify;
      p {
        padding-bottom: 0px;
      }
      width:100%;
      @include respond-to(">=medium") {
        width:48%;
      }
    }
  }

  .-fullwidth-welocally article {
    margin-bottom: 70px !important;
    align-items: center;
    justify-content: center;

    .aside img {
      max-width: 90% !important;
      height: auto;
    }

    @include respond-to("<=medium") {
      h2, h3 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }

    &.-team {
      margin-bottom: 80px;
      @include respond-to("<=medium") {
        margin-bottom: 80px;
      }
    }

    &::after {
      content: '';
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
      pointer-events: none;
      z-index: 9;
    }
    &:last-of-type {
      margin-bottom: 0px !important;
      &::after {
        display: none;
      }
    }

  }

}
