section[class^=closedGraetzl-] {
  margin-bottom: 70px;
  @include cf;
  .hl-subtext {
    margin-bottom: 60px;
  }
  .usercount {
    color: $color-ambient-rosa;
  }
  .block-graetzlList {
    @include respond-to(">=medium") {
      display: flex;
    }
  }
  .col1 {
    @include font-size-primaryFont('large');
    @include respond-to(">=medium") {
      padding-right: 80px;
    }
    ul {
      padding-left: 20px;
      li {
      }
    }
  }
  .txt-wrp {
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 10px;
  }
  .paperCard {
    @include respond-to(">=medium") {
      flex: 0 0 300px;
    }
    .card {
      transform: rotate(2deg);
    }
  }
}

section.closedGraetzl-public {
  .paperCard .wrp {
    padding-top: 170px;
  }
}