section.coop-demand-form {
  max-width: 775px;
  margin: 0 auto;
  label {min-width:175px;}
  textarea {min-height:150px;}

  h2 {
    @include font-size-secondaryFont;
    margin: 40px 0 15px;
    text-align: center;
  }

  div.hl-subtext {
    margin: 40px 0 15px;
    h1 { margin: 0px 0 15px; }
    h2 { margin: 0px 0 5px; }
    p {
      @include font-size-primaryFont('large');
    }
  }

  .coop-tag-area {
    border-top:none;
    border-top-right-radius:0px;
    border-top-left-radius:0px;
    h2.-tags {
      margin-top:10px;
      margin-bottom:20px;

    }
    .input-tags {
      margin-bottom:0px;
    }
  }

  #new_coop_demand .coop-tag-area {
    display: none;
  }

  .input-button {
    display: flex;
    justify-content: flex-end;
    margin-top:15px;
    .btn-primary {
      display: inline-block;
    }
    .btn-secondary {
      margin-right:15px;
    }
    .btn-primary:only-child {
      margin-left: auto;
    }
  }

  .coop-type-selection {
    text-align: center;
    .input-radio {
      display: inline-block;
      margin: 0 10px;
      label {
        min-width:10px;
        @include font-size-primaryFont('larger');
        &::before {
          margin-top:3px;
        }
      }
      input:checked ~ label {
        font-weight: bold;
      }
    }
    border-bottom: 1px solid $color-ambient-mint-dark;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;

  }

  .coop-demand-categories, .suggested-tags {
    overflow: hidden;
    //margin: 2rem 0 2rem;
    .input-checkbox {
      float: left;
      width: 100%;
      @include respond-to(">=small") {
        width: 50%;
      }
      @include respond-to(">=medium") {
        width: 33%;
      }
    }
  }

  .suggested-tags{
    display: none;
  }

  .tagsinput {
    text-transform: capitalize;
  }
  .own-tag-description {
    clear: both;
    text-align: center;
    font-style: italic;
    //font-weight: bold;
    padding: 1rem 0 1rem;
  }

  .category-switch {
    @include cf;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: rgba($color-ambient-mint-light,0.75);
    border-color: #dbeeed;
    //border-top-right-radius:0px;
    //border-top-left-radius:0px;
    border-radius:0px;
    .input-radio {
      display: inline-flex;
    }
    label {
      @include font-size-primaryFont('large');
      padding-bottom:5px;
    }
    input:checked ~ label {
      font-weight: bold;
    }
  }
  #custom-keywords_addTag, #custom-keywords_tag {
    width:100% !important;
  }

  .coop-demand-columns {
    overflow: hidden;
    .column-left { float: left; width: 50%; padding-right:10px;}
    .column-right { float: right; width: 50%;}
  }

  .input-select {
    .SumoSelect > .optWrapper > .options li.opt.disabled { display: none; }
  }

  .button-switch {
    text-align: center;
    margin-top: 10px;
    .btn-primary {
      display:inline-table;
      span {text-decoration: underline; font-weight: bold;}
      margin: 10px;
    }
  }

}
