section.createzuckerl {

  .preview-block,
  .booking-block {
    @include respond-to(">=large") {
      display: flex;
      align-items: flex-start;
      margin-right: -20px;
    }
    .col-l {
      @include respond-to(">=large") {
        flex: 1;
        margin-right: 30px;
        margin-bottom: 0;
      }
    }
  }
  .col-r {
    @include respond-to(">=large") {
      width: (100%/3);
      flex: none;
    }
  }

  .cardBox {
    margin-top: -20px;
    @include respond-to(">=large") {
      margin-top: 0;
    }
    .placeholder {
      opacity: 0.7;
      font-style: italic;
    }
  }

  .preview-block {
    margin-bottom: 20px;
    @include respond-to(">=large") {
      border-bottom: 1px solid $color-ambient-mint-light;
      padding-bottom: 50px;
      margin-bottom: 50px;
    }
    .form-block {
      margin-bottom: 0;
    }
    .form-block .txt {
      margin-bottom: 30px;
    }
    label {
      @include respond-to(">=large") {
        width: 155px;
      }
    }
    .description {
      white-space: pre-wrap;
    }
  }

  .booking-block {
    display: flex;
    flex-direction: column-reverse;
    @include respond-to(">=large") {
      flex-direction: row;
    }
  }

  .imgpreview {
    min-height: 185px;
    border-radius: 4px;
    overflow: hidden;
    background: lighten($color-ambient-rosa-light, 10) repeating-linear-gradient(
                    45deg,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0) 10px,
                    rgba(0, 0, 0, 0.1) 10px,
                    rgba(0, 0, 0, 0.1) 20px
    );
    canvas {
      width: 100%;
      display: block;
    }
  }

  .booking-block .btn-primary {
    @include respond-to(">=large") {
      display: table;
      margin-left: auto;
    }
  }

  .button-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .btn-primary {
      flex: none;
    }
  }

  .basicdata {
    margin-bottom: 20px;
    margin-left: 10px;
    .headline {
      @include font-size-primaryFont('large');
      color: $color-ambient-rosa;
      margin-bottom: 10px;
    }

    .facts {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding-left: 10px;
        font-style: italic;
        border-left: 1px dotted $color-ambient-grey;
        margin-bottom: 5px;
      }
    }
  }

  .initiative-info {
    > * {
      display: none;
    }
  }

  .confirmation-block {
    display: none;
    .headline {
      @include font-size-secondaryFont('base');
      text-align: center;
      margin-bottom: 20px;
      span {
        color: $color-ambient-rosa;
      }
    }

    .txt {
      text-align: center;
      margin-bottom: 40px;
    }

    .btn-group {
      display: inline-flex;
      align-items: center;
      margin: 0 auto;
      > *:not(:last-child) > {
        margin-right: 35px;
      }
    }


  }

}