section.createzuckerl {
  overflow: hidden;

  .col-l {
    @include respond-to(">=large") {
      padding-top: 30px;
      float: left;
      width: 65%;
      margin-right: 2%;
    }
  }

  .col-r {
    @include respond-to(">=large") {
      width: (33%);
      float: right;
    }
  }

  label {
    @include respond-to(">=large") {
      min-width: 200px;
    }
  }

  &.-edit {
    .district_visibility .input-radio label::before {
      opacity: .5;
    }
  }

  .district_visibility {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .input-radio {
      margin-left:10px;
      margin-right: 10px;
      label {
        min-width: 0px;
      }
    }
    .description {
      margin-top:20px;
      padding-top:10px;
      border-top: 1px solid #DBEFEC;
      width:100%;
      text-align: center;
    }
  }


  // --------------------------------------------------- zuckerl form

  .booking-block {
    .btn-container {
      display: none;
      margin-left: auto;
      .btn-primary {
        flex: 0 0 auto;
      }
      &.is-visible {
        display: block;
        transition: opacity 0.3s;
        display: table;
        @include respond-to(">=large") {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
      span {
        margin-bottom: 10px;
        flex: 0 0 auto;
        font-weight: bold;
        font-style: italic;
        margin-right: 20px;
        display: block;
        @include respond-to(">=large") {
          margin-bottom: 0;
        }
      }
    }
    .btn-secondary, .btn-primary {
      margin-left: auto;
    }
  }

  // --------------------------------------------------- billing form

  .billing-block {
    .hl {
      @include font-size-secondaryFont();
      text-align: center;
      margin-bottom: 20px;
      span {
        color: $color-ambient-rosa;
      }
    }
    .txt {
      padding-right: 40px;
      border-bottom: 1px dotted $color-ambient-mint;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .txt p {
      margin-bottom: 20px;
    }
    .bookingdetails {
      padding-left: 20px;
      border-left: 1px dotted $color-ambient-grey;
      margin-bottom: 20px;
      @include respond-to(">=large") {
        margin-left: 20px;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    .zuckerlID {
      color: $color-ambient-mint-dark;
      font-weight: bold;
    }
    .btn-primary {
      @include respond-to(">=medium") {
        display: table;
        margin-left: auto;
      }
    }
  }


  // --------------------------------------------------- sidebar

  .cardBox {
    // margin-top: -20px;
    margin-bottom: 20px;
    @include respond-to(">=large") {
      margin-top: 0;
    }
    .placeholder {
      opacity: 0.7;
      font-style: italic;
    }
  }

  .basicdata {
    margin-left: 20px;
    margin-bottom: 20px;
    .headline {
      color: $color-ambient-rosa;
      margin-bottom: 10px;
    }

    .facts {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding-left: 10px;
        font-style: italic;
        border-left: 1px dotted $color-ambient-grey;
        margin-bottom: 5px;
      }
    }
  }

  .zuckerlteasertxt {
    opacity: 1;
    &:hover {
      cursor: default;
    }
  }

  .imgpreview {
    min-height: 175px;
    border-radius: 4px;
    overflow: hidden;
    background: lighten($color-ambient-rosa-light, 10) repeating-linear-gradient(
                    45deg,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0) 10px,
                    rgba(0, 0, 0, 0.1) 10px,
                    rgba(0, 0, 0, 0.1) 20px
    );
    img {
      width: 300px;
      height: 185px;
      display: block;
      object-fit: cover;
    }
  }

}




.collapsiblecontainer {
  display: none;
  p {
    margin-bottom: 20px;
  }
  .btn-primary {
    margin-left: auto;
  }
}

.collapsibletrigger {
  display: flex;
  cursor: pointer;
  color: $color-ambient-mint-dark;
  font-style: italic;
  margin: 0 auto;
}
