.crowd_campaigns #flash {
  width: 100vw;
  min-width: 100%;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  > div {
    max-width:930px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  @include respond-to("<=medium") {
    margin-bottom: 30px;
  }
}
section.crowd_campaign {

  .-fullwidth {
    background-color: #eaf2f4;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 0;

    margin-top: -30px;
    margin-bottom:30px;
    padding-top:30px;
    padding-bottom:20px;

    @include respond-to(">=medium") {
      margin-top: -50px;
      padding-top:30px;
    }
    @include respond-to(">=large") {
      margin-top: -80px;
      padding-top:60px;
    }

    > div {
      max-width:930px;
      margin-left: auto;
      margin-right: auto;

      padding-left: 18px;
      padding-right: 18px;

      @include respond-to(">=medium") {
        padding-left: 25px;
        padding-right: 25px;
      }
      @include respond-to(">=large") {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .fundingBar {
      background-color: rgba($color-ambient-mint, 0.2);
    }

    &.-content {
      background-color: #f8f8f8;
      margin-top:0px;
      padding-top:50px;
      margin-bottom:-80px;
      padding-bottom:80px;
      @include respond-to("<=medium") {
        padding-top:30px;
      }
    }

  }

  .layoutArea {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .mainArea {
      width:63%;
    }
    .sideArea {
      width:32%;
    }
    @include respond-to("<medium") {
      .mainArea, .sideArea {
        width:100%;
      }
    }
  }

  .mainArea p {
    white-space: pre-line;
  }

  .fundingArea {
    position: relative;
    .-supporters {
      cursor: pointer;
    }
  }

  .btn-support-wrp {
    @include respond-to("<=medium") {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      padding: 10px;
      background-color: white;
      border-top: 1px solid $color-ambient-mint-light;
    }
  }

  .last-supporters-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    .supporter {
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    .name {
      @include ellipsis;
      margin-left:8px;
      margin-right:8px;
    }
    &.items-3 .lightSlider {
      .supporter {
        width:50%;
        @media (max-width: 435px) {
          width:44%;
        }
      }
    }
    &.items-4 {
      display: block;
    }
  }

  .last-supporters {
    display: flex;
    justify-content: flex-start;
    width:50%;
    @include respond-to(">=medium") {
      width:68%;
    }
    .supporter {
      display: none;
      &:nth-child(-n+1) {
        display: flex;
        max-width:100%;
      }
      @include respond-to(">=medium") {
        &:nth-child(-n+2) {
          display: flex;
          max-width:50%;
        }
      }
      @include respond-to(">=large") {
        &:nth-child(-n+3) {
          display: flex;
          max-width:33%;
        }
      }
    }
    &.items-4 {
      width:100%;
      .supporter {
        &:nth-child(-n+1) {
          display: flex;
          max-width:100%;
        }
        @include respond-to(">=medium") {
          &:nth-child(-n+3) {
            display: flex;
            max-width:33%;
          }
        }
        @include respond-to(">=large") {
          &:nth-child(-n+4) {
            display: flex;
            max-width:25%;
          }
        }
      }
    }
    &.lightSlider {
      position: unset;
      .supporter {
        display: flex !important;
      }
    }
  }

  .last-boosters {
    display: flex;
    width:50%;
    @media (max-width: 435px) {
      width:56%;
    }
    @include respond-to(">=medium") {
      width:32%;
      border-left: 1px dotted $color-ambient-grey;
      padding-left:15px;  
    }
    a {
      color: $color-ambient-mint-dark;
    }
    .boost-title::after {
      content: "Besonders unterstützenswert";
    }
    @media (max-width: 435px) {
      .boost-title::after {
        content: "Unterstützenswert";
      }
    }
  }

  .hl-subtext {
    text-align: center;
    h1 {@include font-size-secondaryFont('large');}
    h1.title {@include font-size-secondaryFont('small');}
    h1.title a {
      color:white; text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  h3.reward-headlines {
    text-transform: uppercase;
    margin-bottom:20px;
  }

  .content-block:not(.-toggable) {
    margin-bottom: 40px;
  }
  .imprint, .imprint p, .imprint div {
    white-space:normal;
  }
  .imprint {
    h3 {
      margin-bottom:10px;
      width:100%;
    }
    display: flex;
    flex-wrap: wrap;
    > div {
      width:100%;
      @include respond-to(">large") {
        width:50%;
      }
      margin-top:10px;
    }
    .user-wrp {
      display: flex;
      align-items: center;
      .img-round {
        width: 30px;
        height: 30px;
      }
      .name {
        margin-left: 10px;
      }
    }
    a {
      @include ellipsis();
      text-decoration: none;
      color: $color-ambient-mint-dark;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .content-block.-facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:20px;
    padding-left:20px;
    padding-right:15px;
    background-color: $color-ambient-mint-shine;
    border-top:1px solid $color-ambient-mint-light;
    border-bottom:1px solid $color-ambient-mint-light;

    .block {
      width:47%;
      margin-top: 15px;
      margin-bottom: 15px;
      align-items: flex-start;
      .icon {
        margin-top:10px;
      }
      &.-full {
        width:100%;
      }
      h4, p {
        font-family: $font-primary;
        @include font-size-primaryFont('base');
        font-weight: normal;
      }
      h4 {
        @include font-size-primaryFont('small');
        font-style: italic;
      }
      p strong {
        @include font-size-primaryFont('larger');
        color: $color-ambient-mint-dark;
      }
      p.desc {
        margin-top: 5px;
        color: $color-font-primary;
      }
      @include respond-to("<medium") {
        width:100%;
      }
    }
  }

  .layoutArea .hl-main {
    text-align: left;
    @include font-size-secondaryFont('base');
  }
  .navArea {
    margin-top:40px;
    @include respond-to("<=medium") {
      margin-top:30px;
    }
  }

  .coverImg, .fundingArea:after {
    margin-left: -18px;
    margin-right: -18px;
    @include respond-to(">=medium") {
      margin-left: -25px;
      margin-right: -25px;
    }
  }

  .coverImg {

    margin-top:50px;
    display: flex;
    justify-content: center;
    position: relative;
    @include respond-to("<medium") {
      margin-top:60px;
    }

    .titleImg {
      width:100%;
      height:auto;
      border-radius: 10px 10px 0px 0px;
      transform: rotate(1.5deg) translate3d(0, 0, 0);
      @include respond-to("<medium") {
        width:auto;
        height:250px;
      }
    }

    .social-icons {
      position: absolute;
      top:-25px;
      right:0px;
      display: flex;
      align-items: center;
      color: $color-ambient-mint-dark;
      transform: rotate(1.5deg) translate3d(0, 0, 0);
      @include respond-to("<large") {
        right:20px;
      }
      @include respond-to("<medium") {
        top:-30px;
        right:7px;
      }
      em + a {
        margin-left:8px;
      }
      .whatsapp {
        margin-left:3px;
        margin-right:0px;
        .icon {
          width: 25px;
          height:25px;
        }
        @media screen and (min-width: 500px) {
          display: none;
        }
      }
      svg {
        fill: $color-ambient-mint-dark;
      }
      a {
        display: block;
        cursor: pointer;
        margin-right:5px;
        &:last-of-type { margin-right:0px; }
      }
      a:hover {
        img, svg {
          transform: scale(1.2);
        }
      }
    }

    .play-icon {
      display: flex;
    }

    .play-icon::before {
      bottom:30px;
      top:unset;
      width:90px;
      height:90px;
      transform: unset;
      @include respond-to("<medium") {
        width:50px;
        height:50px;
      }
    }

  }

  .coverImgBottom {
    position: relative;
    top:-13px;
    min-height:26px;
    z-index: 9;
    background-color: #eaf2f4;
    max-width:100% !important;
  }

  // SIDEBAR
  .sideArea {

    .jBoxTooltip svg {margin-left:10px;}

    .-supportBox {
      padding:20px;
      .hl-main {
        margin-bottom: 10px;
      }
      .card:before {
        scale:0.8;
        top:-35px;
      }
      margin-bottom: 50px;
      p {margin-bottom:15px;}
      label {min-width:0px;}
      .btn-secondary, .btn-primary {
        width:100%;
        margin-top:15px;
      }
      .input-field {
        overflow: hidden;
        @include respond-to("<medium") {
          @include field-HorizontalLayout;
          label {min-width:0px;}
        }
      }
      small {
        display: block;
        margin-top:10px;
        color : $color-ambient-grey;
      }
    }

  }
  .comments-container, .posts-container {
    width:100%;
    .stream {
      padding-top:0px;
      border-top:none;
    }
  }
  .compose-mail-container {
    width:100%;
    .hl-subtext h1 {
      text-align: center;
    }
  }
}

.supporters-container, .charges-container {
  width:100%;
  display: flex;
  flex-wrap:wrap;
  gap:10px;
  justify-content: center;
  .supporter {
    display: flex;
    align-items: center;
    width: 32%;
    .img-round {
      width:80px;
      height:80px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width:50%;
        height:50%;
        color: $color-ambient-mint;
      }
    }
    .name {
      margin-left:10px;
    }
    a {
      color: $color-font-primary;
      text-decoration: none;
      &:hover {
        color: $color-ambient-rosa;
        text-decoration: underline;
      }
    }
    a.boost {
      color: $color-ambient-mint-dark;
    }
    @include respond-to("<medium") {
      width: 100%;
    }
  }
}

// REWARD BOX ON CAMAIGN PAGE ----------------
.crowd_campaign .-crowdRewardBox, .crowd-pledges-page .-crowdRewardBox {
  margin-bottom:40px;
  padding:0px;
  display: flex;
  position: relative;
  .left {
    cursor: pointer;
    width:35%;
    position: relative;
    .reward-img {
      width:100%;
      height:100%;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: $color-ambient-mint-light;
      color:$color-ambient-mint-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      object-position: 50% 50%;
      transition: width 1s ease-in, height 1s ease-in;
      svg {
        padding:10px;
        width:60px;
        height:60px;
      }
    }
  }
  .right {
    cursor: pointer;
    width:65%;
    padding:15px;
    padding-bottom:65px;
    word-break: break-word;
    small {
      display: block;
      padding-top:5px;
      color: $color-ambient-grey;
    }
    .description {
      max-height: 0;
      overflow: hidden;
      padding-top:5px;
      @include font-size-primaryFont('small');
    }
  }
  .priceContainer {
    position: absolute;
    right:15px;
    min-width:65%;
    bottom:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0.2em;
    border:1px solid $color-ambient-rosa;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
    strong {
      padding-left: 8px;
      padding-right: 8px;
      width: 100%;
      text-align: center;
      color:$color-ambient-rosa;
      @include font-size-primaryFont('small');
    }
    .btn-primary {
      border-radius: 0px;
    }
  }
  &.-crowdDonationBox {
    .priceContainer {
      min-width: unset;
    }
  }
  &.-open {
    .left {
      min-height:100%;
      transition: min-height 0.25s linear;
    }
    .description {
      max-height: 100%;
      transition: max-height 0.25s linear;
    }
  }
}
.crowd_campaign .-crowdRewardBox.soldOut {
  .left {
    filter: grayscale(1);
    opacity: 0.5;
  }
  .priceContainer {
    border-color: $color-ambient-grey-light;
    strong {
      color: $color-ambient-grey;
    }
  }
}


// REWARD BOX ON CHECKOUT PAGE ----------------

.crowd-pledges-page .-crowdRewardBox {
  margin-bottom: 20px;
  .left {
    width:165px !important;
    min-width:165px !important;
  }
  .right {
    cursor: pointer;
    width:100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    .content-block {
      flex: 1;
    }
    .more-line {
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      :last-child {
        text-align: right;
       }
      @media screen and (max-width: 360px) {
        justify-content: flex-end;
        .claimed {
          display: none;
        }
      }
    }
    .delivery-hint {
      display: none;
    }
  }
  .right small {
    @include font-size-primaryFont('base');
  }
  .right h4 {
    @include font-size-primaryFont('large');
  }
  .right .description {
    @include font-size-primaryFont('base');
    white-space: pre-wrap;
    max-height:100%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Maximal 2 Zeilen anzeigen */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  &.-open {
    .right {
      cursor: auto;
      .description {
        -webkit-line-clamp: unset;
        a {
          text-decoration: none;
          color: $color-font-primary;
          &:hover {
            color: $color-ambient-rosa;
            text-decoration: underline;
          }
        }
      }
      .delivery-hint {
        display: block;
      }
    }
  }
}

.crowd-pledges-page, .crowd-boost-charge-page {
  .pricing-summary li div.cost {min-width:75px;}
  .share {
    margin-top:30px;
    text-align: center;
    p {
      margin-bottom:10px;
    }
    p em {
      @include font-size-secondaryFont('small');
    }
    a {
      word-wrap: break-word;
      color: $color-ambient-mint;
      display: block;
      font-style: italic;
      font-weight: bold;
    }
  }
  &.-donation {
    .cardBox .updateteaser {
      display: none;
    }
  }
  .-pledge-details, .-charge-details {
    display: none;
  }
  .faqs {
    margin-top:50px;
    p {
      margin-bottom:20px;
      &:last-of-type { margin-bottom:0px; }
    }
    ol {
      margin-bottom:20px;
      margin-left:20px;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
    color: $color-ambient-mint-dark;
    svg.icon, .icon {
      width:60px;
      height:60px;
    }
    .whatsapp {
      width: 55px;
      height:55px;
      @media screen and (min-width: 500px) {
        display: none;
      }
    }
    svg {
      fill: $color-ambient-mint-dark;
    }
    a {
      display: block;
      cursor: pointer;
      margin-right:5px;
      &:last-of-type { margin-right:0px; }
    }
    a:hover {
      img, svg {
        transform: scale(1.2);
      }
    }
  }

}

// START CAMPAIGN PAGE ----------------

.info.-crowdfunding {
  z-index: -1;
  padding-bottom:0px;
  margin-bottom: -40px;
  @include respond-to(">=medium") {
    margin-bottom: -65px;
  }
  @include respond-to(">=large") {
    margin-bottom: -200px;
  }
  .imgHeader {
    background-image: url(image_path('info/header-crowdfunding.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
    @include respond-to(">=medium") {
      height: 300px;
    }
    @include respond-to(">=large") {
      height: 480px;
    }
  }
  .imgHeader::after {
    background-image: linear-gradient(to bottom, rgba(252,252,252,0), rgba(252,252,252,1));
    top: 25%;
  }
  &.-welocally {
    @include respond-to(">=large") {
      margin-bottom: -85px;
    }
    .imgHeader {
      background-image: url(image_path('info/crowd_boost/header.jpg'));
    }
    .imgHeader::after {
      top: 75%;
    }
  }
}

section.startcampaign {

  .btn-primary.-large {
    display: table;
    margin: auto;
  }
  ul {
    @extend .list-arrow;
  } 
  .introcontainer {
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .introtxt {
      width:100%;
      margin-bottom:30px;
      @include respond-to(">=medium") {
        width: 55%;
      }
      @include respond-to(">=large") {
        width: 60%;
      }
      .hl-subtext {
        margin-bottom:30px;
      }
      ul {
        margin-bottom: 40px;
        @include font-size-primaryFont('large');
      }
      p.txt {
        @include font-size-primaryFont('large');
        text-align: center;
        margin-bottom:30px;
      }
    }
    .introSide {
      margin-bottom:30px;
      width:100%;
      @include respond-to(">=medium") {
        width: 40%;
      }
      @include respond-to(">=large") {
        width: 35%;
      }
      .paperCard .wrp {
        padding: 180px 20px 20px 20px;
      }
      li {
        margin-top:10px;
        font-weight: bold;
        padding-top: 4px;
      }
      .paperCard.-crowd_boost {
        p:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    .call-cb {
      display: flex;
      justify-content: center;
    }
    &.-middle {
      margin-top:40px;
    }
  }

  .call-content {
    ul {
      margin-bottom:20px;
      &:last-of-type { margin-bottom:0px; }
    }
    h3, p {
      margin-bottom:20px;
    }
  }

  .num-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    div {
      @include font-size-primaryFont('large');
      background: url(image_path('num-badge-1.png')) no-repeat left top;
      background-size: 40px;
      padding-left:49px;
      padding-bottom:25px;
      padding-top:6px;
      position: relative;
      width:100%;
      @include respond-to(">=medium") {
        width:33.3%;
      }
      h3 {
        @include font-size-primaryFont('larger');
      }
      &:nth-child(2) { background-image: url(image_path('num-badge-2.png')); }
      &:nth-child(3) { background-image: url(image_path('num-badge-3.png')); }
      &:nth-child(4) { background-image: url(image_path('num-badge-4.png')); }
      &:nth-child(5) { background-image: url(image_path('num-badge-5.png')); }
      &:nth-child(6) { background-image: url(image_path('num-badge-6.png')); }
    }
  }

  .success-container {
    padding:30px;
    .wrp-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      .txt {
        width: 40%;
        max-width: 250px;
        @include font-size-primaryFont('larger');
        text-align: center;
      }
      .badge {
        @include font-size-secondaryFont('large');
        margin-left:5px;
        margin-right:5px;
        .inner {
          margin-top:8px;
          @include respond-to(">=medium") {
            margin-top:3px;
          }
        }
      }
    }
  }

  .advantage-container {
    margin-top:50px;
    margin-bottom:50px;
    li {
      @include font-size-primaryFont('large');
      margin-bottom:20px;
      h3 span {
        color: rgba($color-ambient-rosa, 1)
      }
    }
  }

  &.-welocally {
    .introcontainer {
      .introtxt h1 + p {
        margin-top:30px;
      }
      p.txt {
        @include font-size-primaryFont('large');
        text-align:justify;
        margin-bottom:20px;
        &:last-of-type {
          margin-bottom: 30px;
        }
      }
    }

    .content-wide {
      &.-large {
        @include font-size-primaryFont('large');
      }
      &.-boost {
        p, h3 {
          margin-bottom:20px;
        }
      }
    }
    
  }

}

.-userquotes {
  margin-top:50px;
}

section.usersetup.-crowd_campaigns {
  .cardBox.-crowd_campaign {
    .updateteaser {display: none;}
  }
}