// ----- CrowdBoost Overview ------ //
section.info {

  &.crowd-boost-overview {
    padding-bottom: 0px;
    margin-bottom: -80px;
    .imgHeader::after {
      background-image: url(image_path('regions/welocally_header.jpg'));
    }
    .paperCard.-top {
      margin-bottom:70px;
      p {
        @include font-size-primaryFont('larger');
      }
    }
    .content-main {
      padding-bottom:50px;
    }
  }

  &.-boost_call {
    padding-bottom:0px;
    margin-bottom: -40px;
    @include respond-to(">=medium") {
      margin-bottom: -65px;
    }
    @include respond-to(">=large") {
      margin-bottom: -85px;
    }
    .imgHeader {
      background-image: url(image_path('info/crowd_boost/header.jpg'));
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 180px;
      @include respond-to(">=medium") {
        height: 300px;
      }
      @include respond-to(">=large") {
        height: 480px;
      }
    }
    .imgHeader::after {
      background-image: linear-gradient(to bottom, rgba(252,252,252,0), rgba(252,252,252,1));
      top: 75%;
    }
  }

}

// ----- CrowdBoost Detail Page ------ //
section.crowd_boost {

  .btn-charge {
    width: fit-content;
    margin-left: auto;
    margin-top:-20px;
    margin-bottom:20px;
  }

  .card-grid-container {
    max-width:1005px;
  }

  .badge {
    position: absolute;
    top:-40px;
    right:-20px;
    .inner {
      transform: rotate(20deg);
    }
  }

  .payline {
    text-align: center;
    margin-top:-20px;
    margin-bottom:30px;
  }

  .introSide .-crowd_boost {
    h3 {
      @include font-size-primaryFont('larger');
      margin-bottom:15px;
    }
    p {
      padding-bottom:15px;
      &:last-of-type {
        padding-bottom:0px;
      }
    }
  }

  .slotBox {
    margin-top:30px;
    margin-bottom:30px;
    @include font-size-primaryFont('large');
    line-height:1.6;
    strong.-mint {
      color: $color-ambient-rosa-dark;
    }
    li:first-of-type {
      padding-right:30px;
    }
    ul {
      margin-bottom: 0px !important;
    }
  }

  .introcontainer {
    @include respond-to(">=large") {
      @include cf;
    }
    margin-bottom: 30px;

    h1 {
      @include font-size-secondaryFont('base');
      font-family: $font-secondary;
      margin-bottom: 20px;
      text-align: center;
      span {
        color: $color-ambient-rosa;
      }
    }

    .introtxt {
      margin-bottom: 40px;
      @include respond-to(">=large") {
        float: left;
        margin-right: 2%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top:40px;
        margin-bottom: 0;
        width: 65%;
      }
      .hl-subtext {
        margin-bottom:30px;
        .bbcode {
          > strong:first-child {
            @include font-size-primaryFont('larger');
            display: block;
            text-align: center;
          }
        }
        ol {
          margin-left:0px;
          margin-bottom:0px;
          padding-bottom:0px;
          li {
            margin-bottom:8px;
            background: url(image_path('num-badge-1.png')) no-repeat left top;
            padding-left: 39px;
            list-style: none;
            background-size: 30px;
            padding-bottom:5px;
            padding-top:3px;
            &:nth-child(2) { background-image: url(image_path('num-badge-2.png')); }
            &:nth-child(3) { background-image: url(image_path('num-badge-3.png')); }
            &:nth-child(4) { background-image: url(image_path('num-badge-4.png')); }
            &:nth-child(5) { background-image: url(image_path('num-badge-5.png')); }
            &:nth-child(6) { background-image: url(image_path('num-badge-6.png')); }
          }
        }
      }
      .bbcode {
        @include font-size-primaryFont('large');
        margin-bottom:30px;
        ol {
          list-style:disc;
        }
        ol, ul {
          margin-bottom:0px;
        }
      }
    }

    .introSide {
      max-width: 300px;
      margin: 0 auto;
      @include respond-to(">=large") {
        max-width: none;
        width: 33%;
        float: left;
        margin: 0;
      }
    }

    ul {
      @extend .list-arrow;
      margin-left: 0px;
    } 
  }

  .charges-container {
    .via-link {
      color: $color-ambient-mint-dark;
    }
  }

  .logo-footer {
    padding-bottom: 30px;
    .wrp-inner {
      display: flex;
      align-items: center;
      p {
        padding-left:20px;
      }
    }
  }

  .content-wide-text {
    p, ul {
      @include font-size-primaryFont('large');
    }
    .btn-primary {
      width: fit-content;
      margin: auto;
      margin-top:20px;
    }
    .new_contact_list_entry {
      #error_explanation .error_count {
        display: none;
      }
      label {min-width: 185px;}
    }
    .hint {
      padding-top:10px;
      border-top: 1px solid $color-ambient-mint-light;
      margin-top:20px;
      @include font-size-primaryFont('small');
      font-style: italic;
      color: $color-ambient-grey-dark;
    }
  }

  &.-graz {
    .introSide {
      display: flex;
      flex-direction: column;
      @include respond-to(">=large") {
        //margin-top:0px;
      }
      .-crowd_boost {
        .cardBoxHeader svg {
          fill: $color-ambient-mint !important;
        }
        .categoryicon {
          display: none;
        }
      }
    }
    .map-img {
      width:100%;
      height:auto;
    }
    .-toggle-content {
      ul {
        @include font-size-primaryFont('base');
        @extend .list-arrow;
        margin-bottom: 20px;
      }
      p {
        @include font-size-primaryFont('base');
      }
    }
    .logo-footer {
      background-color: unset;
      border-top: 1px solid #DEEAE6;
      .wrp-inner {
        padding-bottom:20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logos {
          text-align: right;
        }
        div, p {
          width:49%;
        }
        @include respond-to("<=large") {
          div {
            width:30%;
          }
          p {
            width:68%;
          }
        }
      }
      img {
        height:60px;
        width:auto;
        margin-right:10px;
        @include respond-to("<=large") {
          height:40px;
          display: block;
          margin-left:auto;
          margin-bottom:15px;
        }
        
      }
      p {
        padding-left:unset !important;
      }
    }
  }

  .logo-side {
    margin-top:20px;
    display: flex;
    align-items: center;
    a {
      width:50%;
      img {
        display: block;
        width:100%;
        height:auto;
        border-right: 1px solid $color-ambient-grey;
        padding-right:10px;
        margin-right:10px;
      }
    }
    p.side-txt {
      width:50%;
      margin-left:10px;
      margin-bottom: unset;
      @include font-size-primaryFont('small');
    }
  }

}

// ----- CrowdBoost Call Page ------ //
.boost_call {
  
  &.crowd_boost {
    .introtxt {
      padding-left: 0px !important;
    }
    .introcontainer {
      .hl-subtext {
        h1 {@include font-size-secondaryFont('large');}
        p {@include font-size-primaryFont('larger');}
      }
      p, ul {
        @include font-size-primaryFont('large');
        margin-bottom: 20px;
      }
      
    }
  }

  .introSide .cardBox {
    z-index:9;
    .cardBoxHeader {
      margin-top:-8px;
    }
  }

  .paperCard {

    .wrp {
      padding-top:175px;
      padding-left: 20px;
      padding-right:20px;
      padding-bottom:20px;
      h3 {
        margin-bottom:15px;
        span {
          color: $color-ambient-rosa;
        }
      }
      p {
        padding-bottom:20px;
      }
    }

    .btn-primary, .btn-secondary {
      margin-bottom:10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }

  }

  .roomCardImg {
    z-index: 9;
    position: relative;
    transform: rotate(1deg) translate3d(0,0,0);
    width: 100%;
    height: auto;
  }

  .toggle-container {
    margin-top:50px;
    margin-bottom:50px;
    .-toggle-content {
      p {
        @include font-size-primaryFont('large');
        margin-bottom: 20px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &.crowd2raum-graz {
    .-pilotgebiet {
      padding-bottom: 20px;
      .paperCard .wrp {
        background: none;
        padding-top:10px;
        p {
          padding-bottom:unset;
        }
        p.facts {
          margin-top:10px;
        }
      }
      p.hint {
        @include font-size-primaryFont('larger');
        text-align: center;
        padding-top:20px;
        padding-bottom:20px;
      }
    }
    .-toggable h3 {
      display: flex;
      align-items: center;
      img {
        margin-right:10px;
        width:35px;
        height:auto;
      }
    }
  }

}