section.crowdfunding-form {
  @include cf;
  max-width: 850px;
  margin: 0 auto;

  div.hl-subtext {
    margin-bottom: 20px;
    h2 { @include font-size-secondaryFont('base'); }
    p {
      @include font-size-primaryFont('large');
    }
    &.title {
      margin-bottom:30px;
    }
  }

  .footer-txt {
    border-top: 1px dotted $color-ambient-mint-dark;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:10px;
    font-style: italic;
    text-align: center;
    @include font-size-primaryFont('small');
    p {
      color: $color-ambient-grey-dark;
      margin-top:8px;
      }
    a {
      color: $color-ambient-grey-dark;
    }
  }
  .statusHint {
    display: contents;
  }

  .input-button {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    a {
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .btn-primary, .btn-secondary {
      margin-bottom:15px;
      width:31%;
      margin-left: 1%;
      margin-right: 1%;
    }
    @include respond-to("<=medium") {
      justify-content: center;
      .btn-primary, .btn-secondary {
        margin-left:0px;
        width:100%;
      }
    }
    padding-top: 20px;
    border-top: 1px dotted $color-ambient-mint-dark;
  }

  .input-select, .input-textarea, .input-field, .upload-oldschool {
    label {
      @include respond-to(">=medium") {
        width:195px;
      }
      min-width: 195px;
    }
  }

  .input-textarea textarea {
    min-height: 120px;
    max-height: 600px;
  }

  .form-block.rewards, .form-block.donations {
    margin-bottom: 60px;
    .input-textarea textarea {
      min-height: 90px;
    }
    .nested-fields::before {
      content: '';
      position: absolute;
      z-index: 6;
      background-repeat: no-repeat;
      top: -36px;
      left: -50px;
      height: 95px;
      width: 68px;
      background-image: url(image_path('svg/card-string2-fakehole-rosa.svg'));
      transform: rotate(-110deg);
    }
    .nested-fields > .input-field {
      .icon-record { visibility: hidden;}
    }
    @include respond-to(">medium") {
      .btn-primary, .form-block .btn-secondary {
        width:33%;
        margin: auto;
      }
    }
  }
  .benefit-checkbox {
    @extend .cardBox;
    display: flex;
    justify-content: center;
    border-color: $color-ambient-mint-light;
  }
  .benefit-fields {
    display: none;
    position: relative;
    top:-2px;
  }

  &.-statuspage {

    .statuscontainer {
      margin-top:50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //align-items: center;
      .cardBox {
        width:35%;
        max-width: 300px;
      }
      .statustxt {
        width:60%;
      }
      p {
        margin-bottom:30px;
      }
      @include respond-to("<=medium") {
        margin-top:30px;
        justify-content: center;
        .cardBox, .statustxt {
          width:100%;
        }
      }
    }

    .tabs-ctrl {
      margin-top:70px;
    }

    .funding-stats {
      width:100%;
      div {
        display: flex;
        h3, h4 {
          width:50%;
          padding: 5px;
        }
        h4 {
          font-weight: normal;
        }
        h3 {
          background-color: white;
          color: $color-ambient-rosa-dark;
        }
        .amount {
          text-align: right;
        }
        &.header h3, &.header h4 {
          font-style: italic;
        }
      }
      div:last-of-type {
        h3 {
          color:unset;
          background-color:unset;
          border:none;
        }
      }
      .hint {
        padding: 5px;
        padding-top:10px;
        font-style: italic;
        @include font-size-primaryFont('small');
      }

    }

  }

}

.jBoxCrowdPreview {
  .jBox-content {
    padding: 5px 5px;
  }
}
