section.districts {

  #area-map {
    height: 150px;
    @include respond-to(">=medium") {
      height: 500px;
    }
  }

  .navBlock {
    .links {
      display: none;
      @include respond-to(">=medium") {
        display: block;
        width: 460px;
      }
    }
  }

  .activeArea {
    @include respond-to(">=medium") {
      width: 80%;
      height: 100%;
    }
    @include respond-to(">=large") {
      width: 60%;
      height: 100%;
    }
  }

}


.mobileSelectMenu {
  margin: 0 auto;
  padding: 10px;
  display: table;
  color: $color-ambient-mint-dark;
  border: 1px solid $color-ambient-mint;
  font-family: $font-primary;
  font-size: 1.6rem;
  @include respond-to(">=medium") {
    display: none;
  }
}
