section.districts {

  #graetzlMapWidget {
    height: 400px;
  }
  .navBlock {
    .links {
      width: 500px;
    }
  }

}

section.vienna {

  #graetzlMapWidget {
    height: 500px;
    @include respond-to(">=large") {
      &::before {
        width: 400px;
      }
    }
  }

  .activeArea {
    @include respond-to(">=large") {
      height: 100%;
    }
  }

}

section.vienna,
section.districts {
  .headerImgBlock {
    margin-bottom: 30px;
  }
  .teaserBlock {
    h2 {
      @include font-size-secondaryFont('base');
      text-align: center;
      margin-bottom: 30px;
    }
  }
}