section.graetzls {

  .navBlock {
    .links {
      @include respond-to("<=medium") {
        display: flex;
        justify-content: center;
      }
    }
  }

  .textEditor:before {
    left: 21px;
    top: -12px;
    position: absolute;
    transform: rotate(90deg);
  }

  .graetzl-sideflag {
    display: none;
  }

}

.illuDistrict {
  display: none;
  @include respond-to(">=medium") {
    display: block;
    position: absolute;
    top: 25px;
    left: 12%;
    width: 180px;
    height: 159px;
    background-size: 180px 159px;
    background-image: url(image_path('illu/illu-stuwerviertel@2x.png'));
    background-position: center center;
    z-index: 9;
  }
  @include respond-to(">=large") {
    left: 90px;
    width: 233px;
    height: 206px;
    background-size: 233px 206px;
  }
  &.-location {
    background-image: url(image_path('illu/illu-wirtschaft2-plain.png'));
  }
}

// ---------------------------------------------------------------------- blocks for logged categories

.block-locations, .block-meetings, .block-zuckerls, .block-ideas, .block-rooms, .block-groups, .block-tools, .block-coops {
  margin-bottom: 60px;
  @include respond-to(">=large") {
    margin-bottom: 80px;
  }
  .paperCard {
    margin-bottom: 10px;
    transform: translate(6px, 0);
  }
}


.block-zuckerl {
  border-radius: 8px;
  .link-more {
    margin-left: auto;
    display: table;
    margin-top: -10px;
  }
  .singleZuckerl {
    margin-bottom: 30px;
    @include respond-to(">=large") {
      margin-bottom: 0;
    }

    &:nth-child(3n+3) {
      @include respond-to(">=medium") {
        clear: both;
      }
      @include respond-to(">=large") {
        clear: none;
      }
    }
  }
}

// ---------------------------------------------------------------------- blocks for logged out

.block-overview {
  @include cf();
  margin-bottom: 40px;
  @include respond-to(">=medium") {
    margin-bottom: 60px;
  }
  .cardBoxCollection {
    .cardBox {
      margin-bottom: 0;
    }
    .link-more {
      margin-top: 0;
    }
  }
}
