section.graetzls {

  #graetzlMapWidget {
    height: 150px;
    @include respond-to(">=medium") {
      height: 200px;
      &::before {
        width: 50%;
      }
      &::after {
        width: 60px;
      }
    }
    @include respond-to(">=large") {
      height: 200px;
      &::before {
        width: 400px;
      }
      &::after {
        width: 100px;
      }
    }
  }

  .mapImgBlock {
    margin-bottom: 30px;
    @include respond-to(">=large") {
      padding-bottom: 0;
    }

    .activeArea {
      @include respond-to(">=large") {
        width: 55%;
      }
    }

    .wrp-headline {
      display: table;
      margin: 0 auto;
      z-index: 10;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include respond-to(">=large") {
        position: absolute;
        left: 350px;
        top: 76px;
        display: table;
        margin: 0;
        transform: translate(0, 0);
      }
      span {
        float: right;
        font-size: 1.4rem;
        border-radius: 4px;
        background-color: rgba(245,245,240,0.9);
        padding: 1px 5px;
        margin-right: 5px;
        a:not(:last-child) {
          display: inline-block;
          border-right: 1px dotted $color-ambient-mint-dark;
          padding-right: 5px;
          margin-right: 3px;
        }
      }
    }
    h1 {
      @include font-size-secondaryFont('large');
      @include headlineBarbapapa;
      @include textShadowHard($color-ambient-rosa-dark);
      margin-bottom: 0;
    }

  }

  .teaserBlock {
    @include cf();
    margin-bottom: 40px;
    border-bottom: 1px dotted $color-ambient-mint-light;
    padding-bottom: 3rem;
    @include respond-to(">=medium") {
      margin-bottom: 70px;
    }

    .meetingBoxes {
      > * {
        @include respond-to(">=large") {
          margin-bottom: 0;
        }
      }
    }
    h2 {
      @include font-size-secondaryFont('base');
      margin-bottom: 30px;
      text-align: center;
      @include respond-to(">=large") {
        width: 66%;
      }
    }

    .link-more {
      @include font-size-primaryFont('large');
      margin: 0 auto;
      display: table;
      z-index: 3;
      position: relative;
      @include respond-to(">=large") {
        float: right;
        margin-right: 10px;
        display: block;
      }
    }
  }

  .sideflag {
    display: none;
  }



}



.illuDistrict {
  display: none;
  @include respond-to(">=medium") {
    display: block;
    position: absolute;
    top: 25px;
    left: 12%;
    width: 180px;
    height: 159px;
    background-size: 180px 159px;
    background-image: url(image_path('illu/illu-stuwerviertel.png'));
    background-position: center center;
    z-index: 9;
  }
  @include respond-to(">=large") {
    top: 5px;
    left: 90px;
    width: 233px;
    height: 206px;
    background-size: 233px 206px;
  }
  @include respond-to('retina2x') {
    background-image: url(image_path('illu/illu-stuwerviertel@2x.png'));
  }

}