section.graetzls {

  .headerImgBlock {
    margin-bottom: 30px;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin-left: -18px;
    margin-right: -18px;
    padding-bottom: 40px;
    @include respond-to(">=large") {
      height: 200px;
      padding-bottom: 0;
      border-top: 0;
      background-position: 91px -69px;
    }

    .wrp-headline {
      display: table;
      margin: 0 auto;
      z-index: 10;
      @include respond-to(">=large") {
        position: absolute;
        left: 350px;
        top: 76px;
        display: table;
        margin: 0;
      }
      span {
        float: right;
        font-size: 1.4rem;
        border-radius: 4px;
        background-color: rgba(245,245,240,0.9);
        padding: 1px 5px;
        margin-right: 5px;
        a:not(:last-child) {
          display: inline-block;
          border-right: 1px dotted $color-ambient-mint-dark;
          padding-right: 5px;
          margin-right: 3px;
        }
      }
    }
    h1 {
      @include font-size-secondaryFont('large');
      @include headlineBarbapapa;
      @include textShadowHard($color-ambient-rosa-dark);
      margin-bottom: 0;
    }

  }

  .teaserBlock {
    h2 {
      @include font-size-secondaryFont('base');
      margin-bottom: 20px;
      text-align: center;
      color: $color-ambient-rosa;
      @include respond-to(">=large") {
        width: 66%;
      }
    }
  }

  .specialBox {
    @include paperCard($rotation: 3, $string: 2);
    font-family: $font-secondary;
    color: $color-ambient-mint-dark;
    font-size: 35px;
    padding: 50px;
    height: 320px;
    @include respond-to(">=large") {
      transform: translate(0, -30px);
    }
  }

  .districtTag {
    display: none;
  }

  #graetzlMapWidget {
    position: relative;
  }

}



.illuDistrict {
  display: none;
  @include respond-to(">=large") {
    display: block;
    position: absolute;
    top: 10px;
    left: 110px;
    width: 233px;
    height: 206px;
    background-image: url(image_path('illu/illu-stuwerviertel.png'));
    background-size: 233px 206px;
    background-position: center center;
    z-index: 9;
  }
  @include respond-to('retina2x') {
    background-image: url(image_path('illu/illu-stuwerviertel@2x.png'));
  }

}