.group-page {

  h2 {
    @include font-size-secondaryFont('base');
    color: $color-ambient-rosa;
    span {
      color: $color-font-primary;
    }
  }

  .hint {
    font-style: italic;
    color:$color-ambient-grey;
  }

  .loading-spinner {
    margin-top:50px;
  }

  .cardBoxCollection .loading-spinner {
    float: none;
    width:100px;
    height:auto;
    margin: auto;
  }

  .-page {
    padding-top:20px;
    @include respond-to("<=medium") {
      padding-top:10px;
    }

    .header {
      display:flex;
      justify-content: space-between;
      align-items: center;
      @include respond-to("<=medium") {
        justify-content: center;
        flex-wrap: wrap-reverse;
        h3 {
          width:100%;
          text-align: center;
          margin-top:20px;
        }
      }
      margin-bottom:20px;

      .btn-icon {
        svg {color: white;}
      }
    }

    &.meetings-section {
      .header {
        justify-content: center;
      }
    }

    &.discussion-section {
      .header {
        justify-content: center;
      }
      h3.title span {
        font-weight: normal;
      }
      @include respond-to("<=medium") {
        .header {
          justify-content: center;
        }
        h3.title {
          text-align: center;
        }
      }
    }
  }

  // Button Controls
  .btn-ctrl {
    //display: table;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom:20px;
    @include respond-to(">=medium") {
      float:right;
    }
    .btn-round-icon {
      margin-right:10px;
    }
  }

  .request-message-modal {
    display: none;
  }

  // Button Control Dropdown
  .btn-ctrl .dropdown-container {
    width: 310px;
    .icontxt {
      margin-right:0px;
    }
    // Hack for Mobile View
    @include respond-to("<=medium") {
      width:98% !important;
      margin-left:5px !important;
      margin-right:5px !important;
      left:0px !important;
    }
  }

  // Post Control Icons
  .editControls {display: block;}

  // Groups Startpage 2 Columns Top Area
  .top-section, .discussions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include respond-to("<=medium") {
      flex-wrap: wrap;
    }

    .main {
      width:100%;
    }
    .side {
      @include respond-to("<=medium") {
        width:100%;
      }
    }
    .side > div {
      margin-left:40px;
      margin-bottom:30px;
      width:260px;
      @include respond-to("<=medium") {
        margin-left:0px;
        width:100%;
      }
    }
  }
  .discussions {
    @include respond-to("<=medium") {
      flex-wrap: wrap-reverse;
    }
  }

  .top-section, .bottom-section, .group-member-section {
    @include cf;
    h3 {
      margin-bottom: 20px;
    }
  }

  .back-link {
    color: $color-ambient-grey;
    display: flex;
    align-items: center;
    svg, img {
      display: inline-block;
      margin-right:5px;
      width:20px;
    }
    &:hover {
      color: $color-ambient-rosa;
    }
  }
  .follow {
    display: flex;
    align-items: center;
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Safari */
    transform: scale(0.5, 0.5);
    margin-left:-15px;
    margin-right:-20px;
    &.-hide {
      display: none;
    }
  }


  // GROUP Header Area
  .group-header {

    .user {
      .infos {
        margin-left:10px;
      }
    }

    .sideflag {
      position: absolute;
      bottom:35px;
      right:-12px;
      text-align: right;
      line-height: 1.1;
    }

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom:40px;

    div.coverImg {
      position:relative;
      height:270px;
      img.coverImg {
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius: 8px;
      }
      @include respond-to(">=medium") {
        width:48%;
      }
    }

    div.groupInfos {
      width:100%;
      margin-top:20px;
      h1 {
        text-align: left;
        margin-bottom:20px;
      }
      .facts, .parent {
        display: flex;
        align-items: center;
        svg {
          width:25px;
          min-width: 25px;
          margin-right: 4px;
        }
        .separator {padding-left:7px; padding-right: 7px;}
      }
      .parent {
        margin-top:5px; margin-bottom:5px;
      }
      .users {
        margin-top:10px;
      }
      .user {
        margin-bottom:5px;
      }
      @include respond-to(">=medium") {
        width:48%;
        margin-top:0px;
      }
    }

    div.user:first-of-type {
      .title {
        //display: block !important;
      }
    }

    &::after {
      margin-top:30px;
      content: '';
      width: 100%;
      height: 10px;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 70%);
      pointer-events: none;
      z-index: 9;
    }
  } // End GROUP Header Area

  // User STYLING
  .users {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  div.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;

    .group-user-dropdown-link {
      position: absolute;
      top: 10px;
      right: 2px;

      svg { color: $color-ambient-grey; transform: rotate(90deg); }
      &:hover svg { color: $color-ambient-rosa; }
    }

    .jq-dropdown-panel {
      width: 280px;
    }

    .infos {
      .title {
        font-style: italic;
      }
      .name a {
        text-decoration: none;
        font-style: italic;
      }
      .name a:hover {
        text-decoration: underline;
      }
      .date {
        font-style: italic;
        color: $color-ambient-grey;
        @include font-size-primaryFont('small');
      }
    }
  } // End User STYLING

  // START PAGE - HOME
  .info-section {

    .member-section, .about-section {
      margin-bottom: 50px;
      @include cf;
    }

    .district-section {
      h3 {
        margin-bottom:20px;
      }
    }

    h2 {
      margin-bottom:15px;
    }

    .top-posts {
      .btn-primary {
        display: table;
        margin: 0 auto;
      }
    }

  } // END PAGE

  .member-section, .members-section {
    .user {
      img.user {
        margin:5px;
      }
      .img-round {
        width: 100px;
        height: 100px;
      }
      .infos {
        font-style:italic;
        @include ellipsis();
      }
      .avatar a {
        color:$color-ambient-mint;
      }
    }
  }

  .group-header {
    .user {
      &.-more {
        .avatar {
          margin-right: 10px;
          svg {
            @include img-round;
            margin: 0 auto;
            align-self: center;
            padding:10px !important;
          }
        }
        .infos {
          font-style: italic;
        }
      }
    }
  }

  // Startpage Auszug
  .member-section {
    .user {
      &.-more {
        .avatar {
          margin:5px;
          svg {
            @include img-round;
            margin: 0 auto;
            align-self: center;
            width:100px;
            height:100px;
            padding: 30px;
          }
        }
      }
      max-width:132px;
      @include respond-to("<=medium") {
        max-width:112px;
      }
      margin-right:0px;
      margin-bottom:15px;
      div.avatar {
        width:100%;
        text-align:center;
        padding-right:0px;
        display: flex;
        justify-content: center;
        img.round {
          margin: 0 auto;
          //width:100%;
          //height:100%;
        }
      }
      div.infos {
        width:100%;
        text-align:center;
      }
    }
  }

  // Members Page
  .members-section {
    .users {
      align-items: stretch;
      justify-content: center;
      flex-wrap: wrap;
      margin-left:-10px;
      margin-right:-10px;
    }
    div.user {
      width:31%;
      margin:10px;
      @include respond-to("<=large") {
        width:45%;
      }
      @include respond-to("<=medium") {
        width:95%;
      }
      .infos {
        width: calc(100% - 140px);
        margin-left:10px;
      }
    }
    .btns {
      margin-top:8px;
      width:100%;
      display: flex;
      justify-content: space-between;
      a {
        width:47%;
      }
    }
  }

  // Meetings Page
  .meetings-section {

  }

  // Single Discussion PAGE
  &.discussion-area {
    h2.title {
      padding-bottom: 35px;
      color: $color-ambient-mint-dark;
    }
  } // END PAGE

  // Discussion Overview Tab
  .discussion-section {

    h3 {
      margin-bottom: 10px;
    }

    .discussion-box {
      margin-bottom:20px;
    }

    #newTopic {
      display: none;
    }


    .categories-list {
      padding-bottom:20px;
      li {
        list-style: none; margin-top: 10px;
        display: flex;
        svg {
          width:30px; height:30px;
          margin-right:10px;
          color:$color-ambient-mint-dark;
        }
        a {
          margin-top:5px;
          text-decoration: none;
          width:100%;
          color:$color-ambient-mint-dark;
        }
        &.active {
          a, svg {
            color:$color-ambient-rosa;

          }
        }
      }
    }


  } // END PAGE

  // DISCUSSIONS STYLING
  &.discussion-area {
    h3 {
      margin-bottom:3px;
    }
    .discussion-infos {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      font-style: italic;
      justify-content: space-between;
      flex-wrap: wrap;

      .breadcrumb {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right:10px;
        a {
          max-width:280px;
          @include ellipsis();
          color:$color-ambient-mint-dark;
          @include respond-to("<=medium") {
            max-width:150px;
          }
        }
      }
      .actions {
        display: flex;
        align-items: center;
        .btn-control {
          opacity: 0.7;
          margin-left:5px;
        }
        .btn-control:hover {
          opacity: 1;
        }
      }
    }

    .user.opener {
      .img-round {
        width:60px;
        height:60px;
      }
      .infos {
        margin-left:10px;
      }
    }

    .content {
      .entryComment {margin-left: 20px;}
      @include respond-to(">=medium") {
        margin-left: 70px;
        .entryComment {margin-left: 0px;}
      }
    }
  }

  // form customization
  ::-webkit-input-placeholder {
    @include groupsPlaceholder;
  }
  ::-moz-placeholder {
    @include groupsPlaceholder;
  }
  :-ms-input-placeholder {
    @include groupsPlaceholder;
  }
  :-moz-placeholder {
    @include groupsPlaceholder;
  }
}
