section.help {

  .filter-stream {
    margin-bottom: 50px;
  }

  h2 {
    //font-family: $font-tertiary;
    @include font-size-secondaryFont('medium');
    color: $color-ambient-rosa;
    margin-bottom: 10px;
    font-size: 28px;
    //@include respond-to(">=medium") {
      //font-size: 34px;
    //}
    span {
      color: $color-font-primary;
    }
    em {
      @include headlineBarbapapaMint;
      display: inline-block;
      font-style: normal;
      padding-right:10px;
      margin-right:10px;
    }
  }

  h3 {
    @include font-size-primaryFont('larger');
    padding: 0px 0px 15px;
  }
  .hl-subtext p {
    padding-bottom:0px;
  }
  p {
    padding-bottom:25px;
  }

  ol, ul {
    margin-left:20px;
  }

  aside {
    float:left;
    display:none;
    @include respond-to(">=medium") {
      display: block;
    }
  }

  article {
    margin-bottom: 20px;
  }

  &.-about {
    article {
      display:table;
      clear:both;
      margin-bottom: 50px;
      div.img {
        float:none;
        @include respond-to(">=medium") {
          float: right;
          width:40%;
          padding-left: 50px;
        }
        img {
          max-width:100%;
          height:auto;
        }
      }
      a.-illu img {
        filter: brightness(1.1);
      }
    }
    div.txt {
      @include respond-to(">=medium") {
        float: left;
        width: 60%;
      }
    }
  }
  &.-detail {
    h3 {
      padding: 20px 0px 20px;
    }
  }


  #help_nav {margin-top: 10px;
    a {
      margin-bottom:15px;
    }
  }
  .paperCard {
    position: relative;
    margin-bottom:40px;
    &.-header {
      margin-top: 40px;
    }
    &.-teaser {
      p {
        margin-left: 70px;
        margin-right: 70px;
      }
      .bgleft {
        position: absolute;
        width: 100%;
        height:100%;
        bottom: 5px;
        left: 20px;
        background-image: url(image_path('info/imGraetzl-Features-Teaser-2.png'));
        background-size: contain;
        background-repeat: no-repeat;
      }
      .bgright {
        position: absolute;
        width: 100%;
        height:100%;
        top: 0;
        right: 30px;
        background-image: url(image_path('info/imGraetzl-Features-Teaser-1.png'));
        background-position: 100% 100%;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .card {
        background-color: rgba(222, 239, 225, 0.3);
        //background-image: url(image_path('info/imGraetzl-Features-Teaser.png'));
        //background-position: 100% 100%;
        //background-size: contain;
      }
    }
  }
  .paperCard .wrp {
    padding:35px 50px 15px 50px;
    @include font-size-primaryFont('large');
  }
  .float_nav {
    position:fixed !important;
    top:0 !important;
  }
  .fix_nav {
    position:absolute !important;
    top:auto !important;
    bottom:0 !important;
  }

  .partner {

    color: $color-ambient-grey;
    img {
      height:75px;
      padding-right: 25px;
    }
    .nest img {
      height:55px;
      padding-top:20px;
      padding-right: 25px;
    }
    .wkw img {
      padding-top:20px;
      height:75px;
    }
  }
  img.guide {
    width:210px;
    margin-bottom:20px;
    float:left;
  }
  a.btn-primary {
    &.-download {
      align-items: center;
      justify-content: center;
      display:flex;
    }
  }
}
