section.help {

  .paperCard {
    .wrp {
      padding:30px 15px 5px 30px;
      p {
        padding-bottom:25px;
      }
    }
    &.-header {
      margin-top: -8px;
      margin-bottom:50px;
    }
    &.-top {
      margin-bottom:50px;
      .wrp {
        padding:35px 50px 15px 50px;
        @include font-size-primaryFont('large');
      }
    }
  }

  .filter-stream {
    margin-bottom: 50px;
  }

  // ----- HEADER ------ //
  .imgHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height:250px;
    text-align: center;
    background-color:rgba(227, 242, 231, 0.3);
    @include respond-to(">=medium") {
      height:400px;
    }
    @include respond-to(">=large") {
      height:500px;
    }
    h1 {
      margin:auto;
      @include headlineBarbapapa;
      @include font-size-secondaryFont('largest');
      text-shadow: 2px 2px $color-ambient-rosa-dark;
    }
    h2 {
      margin:auto;
      @include headlineBarbapapaMint;
      @include font-size-secondaryFont('large');
      text-shadow: 2px 2px $color-ambient-mint-dark;
      margin-top:15px;
    }
  }
  .imgHeader::after {
    content: "";
    background-image: url(image_path('info/header-balloon.jpg'));
    //opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    @include font-size-secondaryFont('medium');
    color: $color-ambient-rosa;
    margin-bottom: 10px;
    span {
      color: $color-font-primary;
    }
    em {
      @include headlineBarbapapaMint;
      display: inline-block;
      font-style: normal;
      padding-right:10px;
      margin-right:10px;
    }
  }

  h3 {
    @include font-size-primaryFont('larger');
    padding: 0px 0px 15px;
  }

  .headline {
    display: flex;
    align-items: center;
    margin-bottom:10px;
    h3 {
      padding: 0px 0px 0px;
    }
    .bigicontext-element {
      margin-right:10px;
    }
    &.-R {
      flex-direction: row-reverse;
      justify-content: space-between;
      .bigicontext-element {
        margin-right:0px;
      }
    }
  }

  // ----- HELP STARTPAGE ------ //
  &.-startpage {

    .imgHeader {
      .wrp {
        height:100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      .coop-share-logo {
        height:70%;
        margin-top:10px;
        @include respond-to(">=medium") {
          height:65%;
          margin-top:35px;
        }
      }
    }


    // -- GRID -- //
    div.txt {
      width:100%;
      @include respond-to(">=medium") {
        width: 60%;
        &.-half {
          width: 55%;
        }
      }
    }
    div.aside {
      width:50%;
      @include respond-to(">=medium") {
        //padding-left: 50px;
        width:38%;
        &.-half {
          width: 45%;
        }
      }
    }
    .-groups, .-mentoring {
      div.aside {
        width: 35%;
      }
    }
    .-groups {
      @include respond-to("<medium") {
        div.aside {
          //display: none;
          width:100%;
          margin-bottom:0px;
        }
      }
    }
    // -- GRID -- //

    article {
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;
      &.-groups {
        flex-wrap: wrap;
      }

      @include respond-to("<medium") {
        position: relative;
        padding-bottom:30px;
        &::after {
          content:'';
          width: 100%;
          height: 1px;
          position: absolute;
          bottom: 0;
          background-image: url(image_path('svg/underline-mint.svg'));
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          pointer-events: none;
          z-index: -1;
        }
      }

      margin-bottom: 30px;
      @include respond-to(">=medium") {
        margin-bottom: 70px;
        justify-content: space-between;
      }
      &.-reverse {
        flex-direction: row-reverse;
      }
      div.txt {
        p {
          padding-bottom:25px;
        }
      }
      div.aside {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom:20px;
        @include respond-to(">=medium") {
          margin-bottom:0px;
        }
        &.-mentoring {
          position: relative;
          .img-round {
            width:50%;
            height:50%;
          }
          .img-round + .img-round {
            margin-right: -25%;
          }
          @include respond-to(">=medium") {
            &::after {
              content:'';
              width: 50%;
              height: 200%;
              position: absolute;
              right: 0;
              top: -50%;
              background-image: url(image_path('bg-punkte-rectangle.png'));
              background-repeat: no-repeat;
              background-position: right center;
              pointer-events: none;
              z-index: -1;
            }
          }
        }
        &.-img {
          text-align: center;
          img {
            max-width:100%;
            height:auto;
          }
        }
        &.-bgpoints {
          background-image: url(image_path('bg-punkte-ellipse.png'));
          background-repeat: no-repeat;
          background-size: 75%;
          background-position: right bottom;
        }

        .cardBox {
          &.-group {
            .infos, .slogan {
              display: none;
            }
            .btn-userIcons {
              display: flex;
              //display: none;
            }
          }
        }

      }
      a.-illu img {
        filter: brightness(1.1);
        width:80%
      }
    }
  }
  // ----- HELP STARTPAGE END ------ //


  // ----- HELP Detailpage ------ //
  &.-detail {

    aside {
      float:left;
      display:none;
      @include respond-to(">=medium") {
        display: block;
      }
    }

    article {
      margin-bottom: 20px;
    }

    h3 {
      padding: 20px 0px 20px;
    }

    .hl-subtext p {
      padding-bottom:0px;
    }
    p {
      padding-bottom:25px;
    }
    ol, ul {
      margin-left:20px;
    }
  }
  // ----- HELP Detailpage END ------ //


  #help_nav {
    margin-top: 10px;
    a {
      margin-bottom:15px;
    }
  }

  .float_nav {
    position:fixed !important;
    top:0 !important;
  }
  .fix_nav {
    position:absolute !important;
    top:auto !important;
    bottom:0 !important;
  }

  .partner {
    color: $color-ambient-grey;
    img {
      height:75px;
      padding-right: 25px;
    }
    .nest img {
      height:55px;
      padding-top:20px;
      padding-right: 25px;
    }
    .wkw img {
      padding-top:20px;
      height:75px;
    }
  }
  img.guide {
    width:210px;
    margin-bottom:20px;
    float:left;
  }
  a.btn-primary {
    &.-download {
      align-items: center;
      justify-content: center;
      display:flex;
    }
  }

  // ----- HELP MENTORING PAGE ------ //
  &.-mentoring-page {

    .imgHeader::after {
      background-image: url(image_path('info/header-menschenstrom.png'));
      //opacity: 0.7;
    }

    .anmeldung-badge {
      display: none;
      @include respond-to(">=medium") {
        display: block;
        width:22%;
        position: absolute;
        bottom: 20px;
        left: 10px;
      }
    }

    .badge {
      float:right;
      @include font-size-secondaryFont('small');
    }

    p.title {
      @include font-size-primaryFont('large');
    }

    img.ablauf {
      width:50%;
      display: block;
      margin: auto;
      margin-bottom: 30px;
    }

    .-quotes {
      .-quote {
        background-color: rgba($color-ambient-mint-light,0.75);
        display: flex;
        flex-wrap: wrap;
      }
      .user {
        width:30%;
        img {
          width:100%;
          height:auto;
        }
        .infos {
          text-align: center;
          font-style: italic;
        }
      }
      .txt {
        width:70%;
        text-align: center;
        align-self: center;
        font-style: italic;
        @include font-size-primaryFont('large');
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    .-mentors {
      .single-mentor {
        width:50%;
        float:left;
        @include respond-to(">=medium") {
          width:33%;
        }
        @include respond-to(">=large") {
          width:25%;
        }
      }
    }
    // Single Mentor Card
    .single-mentor {
      margin-bottom:50px;
      h2, h3, p.title {
        display: block;
        text-align: center;
      }
      h3 {
        padding:0px 0px 5px;
      }
      a {
        //text-decoration: none;
      }
      a:hover {
        img {
          transition: transform .3s; /* Animation */
          transform: scale(1.05);
        }
      }
      .img-round {
        display: block;
        margin: auto;
        margin-bottom:5px;
        width:80%;
        height: 80%;
        @include respond-to("<=medium") {
          width:60%;
          height: 60%;
        }
      }
    }

    .ablauf ul {
      margin-left:20px;
      margin-bottom:60px;
      li {
        margin-bottom:15px;
      }
    }

    .anmeldung {
      margin-bottom:70px;
      h4 {
        @include font-size-primaryFont('large');
      }
      textarea {
        margin-bottom:30px;
        margin-top:10px;
        min-height: 120px;
      }
      .btn-primary {
        width: 100%;
        display: block;
        margin: auto;
      }
      &.-disabled {
        //opacity: 0.5;
      }
    }

  }

}
