section.help {

  aside {
    float:left;
    display:none;
    @include respond-to(">=medium") {
      display: block;
    }
  }
  article {
    display:table;
    clear:both;
    margin-bottom: 50px;
    div.img {
      float:none;
      @include respond-to(">=large") {
        float: right;
        width:40%;
      }
      img {
        max-width:100%;
        height:auto;
      }
    }
    div.txt {
      @include respond-to(">=large") {
        float: left;
        width: 60%;
      }
    }
  }
  h2 {
    //font-family: $font-tertiary;
    @include font-size-secondaryFont('medium');
    color: $color-ambient-rosa;
    margin-bottom: 10px;
    font-size: 28px;
    //@include respond-to(">=medium") {
      //font-size: 34px;
    //}
  }
  p {
    padding-bottom:20px;
  }

  #help_nav {margin-top: 10px;
    a {
      margin-bottom:15px;
    }
  }
  .paperCard {margin-bottom:40px;}
  .paperCard .wrp {
    padding:35px 50px 15px 50px;
    @include font-size-primaryFont('large');
  }
  .float_nav {
    position:fixed !important;
    top:0 !important;
  }
  .fix_nav {
    position:absolute !important;
    top:auto !important;
    bottom:0 !important;
  }
}
