section.homeOut {

  .hl-subtext {
    margin-bottom: 60px;
  }

  .meetings-block {
    @include cf();
    margin-bottom: 40px;
    @include respond-to(">=medium") {
      margin-bottom: 60px;
    }
  }
}

.buehne {
  overflow: hidden;
  background-image: url(image_path('illu/illu-sitzendeAmTisch@2x.png')), url(image_path('illu/illu-karte@2x.jpg'));
  background-repeat: no-repeat;
  background-size: 270px auto, 700px auto;
  background-position: 15% 125px, center center;
  min-height: 400px;
  position: relative;
  @include respond-to("<medium") {
    margin-left: -18px;
    margin-right: -18px;
    padding-left: 18px;
    padding-right: 18px;
  }

  @include respond-to(">=medium") {
    min-height: 530px;
    background-size: 400px auto, 800px auto;
    background-position: 10% 180px, center center;
  }
  @include respond-to(">=large") {
    background-size: 507px auto, 936px auto;
    background-position: 10px 168px, 110px 29px;
    min-height: 580px;
    margin-top: 10.0rem;
    margin-bottom: 3.0rem;
  }

  h1 {
    @include font-size-secondaryFont('large');
    @include textShadowHard($color-ambient-rosa-dark);
    display: table;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;

    @include respond-to("<medium") {
      @include headlineBarbapapa();
    }

    @include respond-to(">=medium") {
      text-align: left;
      max-width: none;
      margin-left: 18%;
    }
    @include respond-to(">=large") {
      margin-left: 310px;
    }

    span {
      display: table;
      @include respond-to(">=medium") {
        @include headlineBarbapapa();
      }
    }
    span:nth-child(2) {
      @include respond-to(">=medium") {
        margin-left: 90px;
        margin-top: 5px;
      }
    }

  }

  .badge {
    position: absolute;
    right: 20%;
    bottom: 30px;

    @include respond-to(">=medium") {
      bottom: 50px;
      right: 25%;
    }
    @include respond-to(">=large") {
      right: 180px;
      bottom: 65px;
    }
  }
}

.aboutGraetzl {
  padding-bottom: 3.0rem;
  h2 {
    @include font-size-secondaryFont('large');
    text-align: center;
    color: $color-ambient-rosa;
    margin-bottom: 20px;
    @include respond-to(">=medium") {
      margin-bottom: 80px;
    }
  }

  h3 {
    @include font-size-secondaryFont('base');
    text-align: center;
    font-family: $font-secondary;
    color: $color-ambient-mint;
    margin-bottom: 1rem;
    @include respond-to(">=medium") {
      text-align: left;
    }
  }

  span {
    color: $color-ambient-rosa;
  }

  p {
    @include font-size-primaryFont('large');
  }

  .btn-primary {
    width: 100%;
    margin: 0 auto;
    @include respond-to(">=medium") {
      margin-top: 3.0rem;
      width: 70%;
    }
  }

}


.aboutGraetzl [class^=graetzl-] {
  margin-bottom: 40px;
  @include respond-to(">=medium") {
    display: flex;
    margin-bottom: 60px;
  }
  .paperCard, .illuZuckerl {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include respond-to(">=medium") {
      width: auto;
      flex: 0 0 280px;
      margin-bottom: 0;
    }
    @include respond-to(">=large") {
      transform: translate(0,-20px);
    }
  }
  .paperCard {
    height: 240px;
  }
  &:nth-child(even) {
    .paperCard {
      @include respond-to(">=medium") {
        margin-right: 70px;
      }
    }
  }
  &:nth-child(odd) {
    .paperCard {
      @include respond-to(">=medium") {
        margin-left: 70px;
        order: 2;
      }
    }
  }
}

.aboutGraetzl {
  .graetzl-events {
    .wrp {
      background-image: url(image_path('illu/illu-painter-straight@2x.png'));
    }
  }
  .graetzl-initiative {
    .wrp  {
      background-image: url(image_path('illu/illu-flohmarkt-straight@2x.png'));
    }
  }
  .graetzl-economy {
    .wrp {
      background-image: url(image_path('illu/illu-wirtschaft-straight@2x.png'));
    }
  }
  .illuZuckerl {
    background-image: url(image_path('graetzlzuckerl.png'));
    background-size: 70% auto;
    background-position: 30px 20px;
    background-repeat: no-repeat;
    height: 150px;
  }
}
