section.homeOut {

  .graetzljump {
    max-width: 500px;
    margin:auto;
    margin-bottom:50px;
  }

  .filter-stream {
    margin-bottom: 50px;

    // Mobile Dropdown
    .input-select {
      margin-top:20px;
      margin-bottom:-20px;
    }
  }

  .btn-primary {
    &.-register {
      display: table;
      margin:auto;
    }
  }

}

.buehne {
  overflow: hidden;
  background-image: url(image_path('illu/illu-sitzendeAmTisch@2x.png')), url(image_path('illu/illu-karte@2x.jpg'));
  background-repeat: no-repeat;
  background-size: 270px auto, 700px auto;
  background-position: center 75px, -140px -90px;
  position: relative;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;

  @include respond-to(">=medium") {
    background-size: 400px auto, 1000px auto;
    background-position: 40px 75px, -30px -160px;
    min-height: 360px;
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include respond-to(">=large") {
    background-size: 507px auto, 936px auto;
    background-position: 10px 88px, 90px -31px;
    min-height: 460px;
    margin-top: -8.0rem;
    //margin-bottom: 4.0rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    @include font-size-secondaryFont('large');
    @include textShadowHard($color-ambient-rosa-dark);
    display: table;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;

    @include respond-to("<medium") {
      @include headlineBarbapapa();
    }

    @include respond-to(">=medium") {
      transform: translate(80px, 0);
    }
    @include respond-to(">=large") {
      position: absolute;
      left: 340px;
      top: 100px;
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }

    span {
      @include respond-to(">=medium") {
        display: table;
        @include headlineBarbapapa();
      }
    }
    span:first-child {
      @include respond-to(">=medium") {
        margin-left: 35px;
        margin-bottom: 5px;
      }
    }

  }

  .registerlink {
    position: relative;
    height: 90px;
    background-size: 90px 90px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 200px;
    margin-bottom: 40px;
    @include respond-to(">=medium") {
      transform: translate(0, 0);
      left: 400px;
      position: absolute;
      top: 190px;
      margin-top: 0;
      margin-bottom: 0;
    }
    @include respond-to(">=large") {
      position: absolute;
      top: 300px;
      left: auto;
      right: 140px;
      margin-bottom: 0;
    }
    .coop-share-logo {
      width: 130px;
      height: 130px;
      background-size: 130px 130px;
      display: block;
      background-image: url(image_path('unterstuetzer-badge.png'));
      background-repeat: no-repeat;
    }
    .txt {
      @include headlineBarbapapaMint();
      font-size: 30px;
      margin-left: 10px;
      margin-top:-10px;
    }
    &::before {
      content: '';
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      background-image: url(image_path('svg/icon-arrow-right-blinky-rosa'));
      background-repeat: no-repeat;
      position: absolute;
      bottom: -15px;
      left: 115px;
      transform: rotate(-45deg);
    }
    &:hover {
      .txt {
        @include headlineBarbapapa();
      }
      &::before {
        bottom: -10px;
        left: 120px;
      }
      .coop-share-logo {
        transform: rotate(-5deg);
        opacity: 0.9;
      }
    }
  }

}
