section.homeRegion {

  .graetzljump {
    max-width: 500px;
    margin:auto;
    margin-bottom:50px;
  }

  .filter-stream {
    margin-bottom: 50px;

    // Mobile Dropdown
    .input-select {
      margin-top:20px;
      margin-bottom:-20px;
    }
  }

  .btn-primary {
    &.-register {
      display: table;
      margin:auto;
    }
  }

  // SUPPORTER BOX ------------
  .supporterBox {

    position: relative;
    width:150px;
    display: none;

    .inner {
      padding:20px;
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      width:100%;
      height:100%;
      background-image: url(image_path('supporter/boxBorder.svg'));
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
      background-size: 100% 100%;
    }

    // MOBILE VERSION
    @include respond-to("<large") {

      display: block;
      width:100%;

      .inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding:15px;
        padding-bottom:30px;
      }

      margin-top:40px;
      .txt {
        font-family: $font-tertiary;
        font-size: 1.8rem;
      }

      margin-bottom: 40px;
      .btn-viewall {
        @include headlineBarbapapaMint();
        font-family: $font-tertiary;
        text-decoration: none;
        transform: rotate(-3deg);
        position: absolute;
        bottom:-10px;
        left:auto;
        text-align: center;
        font-size: 25px;
        &:hover {
          @include headlineBarbapapa();
          font-family: $font-tertiary;
        }
      }

      &::before {
        background-image: url(image_path('supporter/boxBorder-quer.svg'));
      }

      .-logo {
        width:30%;
        img {
          width:95%;
          max-width: 130px;
          height:auto;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .close-ico {
        display: none;
      }
    }

    @include respond-to("<large") {
      .txt {
        text-align: center;
        width:100%;
        padding-bottom: 10px;
      }
    }

    // DESKTOP VERSION
    @include respond-to(">=large") {

      display: block;
      position: absolute;
      top: 65px;
      left:0px;
      z-index:9;

      .close-ico {
        top: -7px;
        right: -2px;
      }

      .txt {
        text-align: center;
        margin-bottom: 20px;
        font-family: $font-tertiary;
        font-size: 1.8rem;
        //color: $color-ambient-mint-dark;
        span {
          display: block;
          width:100%;
        }
      }

      .-logo img {
        width:97%;
        height:auto;
        margin-bottom:30px;
        &:hover {
          transform: scale(1.1);
        }
      }
      .-elif img {
        margin-top:-10px;
        margin-bottom:20px;
      }

      .btn-viewall {
        @include headlineBarbapapaMint();
        font-family: $font-tertiary;
        text-decoration: none;
        white-space: nowrap;
        transform: rotate(-5deg);
        position: absolute;
        bottom:-10px;
        left:0px;
        width:100%;
        text-align: center;
        font-size: 25px;
        &:hover {
          @include headlineBarbapapa();
          font-family: $font-tertiary;
        }
      }
    }
  }
}

// Region Landingpage Buehne ---------------------------------------------
.stage {

  .stage-content {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .mapImgBlock {
    z-index: -1;
    &::after { display: none; } // Schatten ausblenden
  }

  .activeArea {
    top:15%;
    width:55%; // MAP-AREA
    height:85%;
    @include respond-to(">=medium") {
      top:0%;
      width:40%; // MAP-AREA
      height:100%;
    }
  }

  #area-map {
    height: 350px;
    &::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      background: linear-gradient(to right, rgba(252,252,252,1) 50%,rgba(252,252,252,0) 100%);
      pointer-events: none;
      z-index: 1;
      height: 100%;
      width: 85%; // White Transparent Layer over Map
    }
    @include respond-to(">=medium") {
      height: 450px;
      opacity: 1;
      &::before {
        width: 65%; // White Transparent Layer over Map
      }
    }
    @include respond-to(">=large") {
      height: 500px;
    }
  }

  position: relative;
  background-repeat: no-repeat;
  background-image: url(image_path('illu/illu-sitzendeAmTisch.png'));

  @media
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(image_path('illu/illu-sitzendeAmTisch@2x.png'));
  }

  background-size: 230px auto;
  background-position: 10% 75%;

  @include respond-to(">=medium") {
    background-size: 450px auto;
    background-position: 5% 50%;
    margin-bottom: 30px;
  }

  @include respond-to(">=large") {
    background-size: 510px auto;
    background-position: 5% 50%;
  }

  h1 {
    @include font-size-secondaryFont('large');
    @include textShadowHard($color-ambient-rosa-dark);

    position: relative;
    //display: inline-block;
    //text-align: center;
    margin: 0 auto;
    top:25px;
    left:65px;

    span {
      display: table;
      @include headlineBarbapapa();
      margin-bottom: 5px;
    }

    @include respond-to(">=medium") {
      top: 50px;
      left: 320px;
    }

    @include respond-to(">=large") {
      top: 80px;
      left: 395px;
    }

    @include respond-to("<medium") {
      //@include headlineBarbapapa();
    }

    span {
      @include respond-to(">=medium") {
        //display: table;
        //@include headlineBarbapapa();
      }
    }

    span:first-child {
      margin-left: -25px;
    }
    span:last-child {
      margin-left: 50px;
    }

  }

  .badge {

    display: inline-block;
    line-height: 0.95;
    transform: rotate(-8deg);
    font-size: 2.7rem;
    top:70px;
    left:80px;
    @include respond-to(">=medium") {
      font-size: 3.3rem;
      top:70px;
      left:100px;
    }
    @include respond-to(">=large") {
      font-size: 3.5rem;
      top:100px;
      left:150px;
    }
  }

}
