section.homeOut {

  .hl-subtext {
    margin-bottom: 40px;
  }

  .meetings-block {
    @include cf();
    margin-bottom: 40px;
    @include respond-to(">=medium") {
      margin-bottom: 60px;
    }
  }


}

.buehne {
  overflow: hidden;
  background-image: url(image_path('illu/illu-sitzendeAmTisch@2x.png')), url(image_path('illu/illu-karte@2x.jpg'));
  background-repeat: no-repeat;
  background-size: 270px auto, 700px auto;
  background-position: 15% 125px, center center;
  min-height: 400px;
  position: relative;
  @include respond-to("<medium") {
    margin-left: -18px;
    margin-right: -18px;
    padding-left: 18px;
    padding-right: 18px;
  }

  @include respond-to(">=medium") {
    min-height: 530px;
    background-size: 400px auto, 800px auto;
    background-position: 10% 180px, center center;
  }
  @include respond-to(">=large") {
    background-size: 507px auto, 936px auto;
    background-position: 10px 168px, 110px 29px;
    min-height: 580px;
    margin-top: 10.0rem;
    margin-bottom: 3.0rem;
  }

  h1 {
    @include font-size-secondaryFont('large');
    @include textShadowHard($color-ambient-rosa-dark);
    display: table;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;

    @include respond-to("<medium") {
      @include headlineBarbapapa();
    }

    @include respond-to(">=medium") {
      text-align: left;
      max-width: none;
      margin-left: 18%;
    }
    @include respond-to(">=large") {
      margin-left: 310px;
    }

    span {
      display: table;
      @include respond-to(">=medium") {
        @include headlineBarbapapa();
      }
    }
    span:nth-child(2) {
      @include respond-to(">=medium") {
        margin-left: 50px;
        margin-top: 5px;
      }
    }

  }

  .btn-primary {
    display: table;
    margin-top: 40px;
  }

  .icons {
    border: solid 1px blue;
  }

  .singleicon {
    text-align: center;
    color: $color-ambient-mint-dark;
    position: relative;
    width: 100px;
    &::before {
      content: '';
      width: 70px;
      height: 70px;
      background-size: 70px 70px;
      margin: 0 auto;
      display: block;
      background-image: url(image_path('svg/kringel-mint-solid.svg'));
      background-repeat: no-repeat;
    }
    [class^=icon-] {
      position: absolute;
      top: 9px;
      left: 25px;
      width: 50px;
      height: 50px;
    }
    .txt {
      font-family: $font-secondary;
      font-size: 22px;
      line-height: 1.2;
    }


  }


}

.aboutGraetzl {
  padding-bottom: 3.0rem;
  h1 {
    [class^=icon-] {
      width: 45px;
      height: 45px;
      margin-right: 15px;
      margin-left: 15px;
      display: inline;
    }
  }

  .grid {
    overflow: hidden;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    border-radius: 8px;
    @include respond-to(">=large") {
      margin-right: -25px;
      margin-left: -25px;
      display: flex;
    }
    > [class*=-block] {
      padding: 140px 20px 20px 20px;
      border-right: 1px dotted #f0f0f0;
      @include respond-to(">=large") {
        flex-basis: 33.33%;
      }
      &:last-child {
        border-right: none;
      }
    }
    .txt p:not(:last-child){
      margin-bottom: 15px;
    }
  }



  h4 {
    text-align: center;
    margin-bottom: 30px;
    @include font-size-secondaryFont('base');
    span {
      color: $color-ambient-rosa;
    }
  }



  .btn-primary {
    width: 100%;
    margin: 0 auto;
    @include respond-to(">=medium") {
      margin-top: 3.0rem;
      width: 50%;
    }
  }

}





