section.homeOut {

  .teaserBlock {
    h2 {
      @include font-size-secondaryFont('large');
      text-align: center;
      color: $color-ambient-rosa;
      + p {
        @include font-size-primaryFont('large');
        text-align: center;
        margin-bottom: 30px;
        @include respond-to(">=large") {
          margin-bottom: 50px;
        }
      }
    }
  }

  .specialBox {
    @include paperCard($rotation: -2);
    @include respond-to(">=large") {
      transform: translate(15px, -15px);
    }
    .wrp  {
      display: block;
      background-image: url(image_path('illu/illu-cylce.png'));
      padding: 156px 30px 30px 30px;
      background-repeat: no-repeat;
      background-position: 32px 15px;
      background-size: 265px 189px;
      @include respond-to("retina2x") {
        background-image: url(image_path('illu/illu-cycle@2x.png'));
      }
    }

    button {
      width: 100%;
    }

    .user {
      img {
        vertical-align: bottom;
      }
      span {
        color: $color-ambient-mint;
        font-size: 1.4rem;
        margin-bottom: 10px;
        vertical-align: bottom;
      }
    }

    h3 {
      @include ResponsiveText(2.2, 2.6, 2.6);
      font-weight: 600;
      line-height: 1.2;
      margin-top: 30px;
      margin-bottom: 30px;
      color: $color-ambient-mint-dark;
    }
  }

}

.no-touch {
  section.homeOut {
    @include respond-to(">=medium") {
      .specialBox {
        transition: transform 0.5s;
        &:hover {
          transform: rotate(4deg) translate3d(10px, -25px, 0);
          button {
            opacity: 0.9;
          }
        }
      }
    }
  }
}


.buehne {
  overflow: hidden;
  background-image: url(image_path('illu/illu-sitzendeAmTisch.png')), url(image_path('illu/illu-karte.jpg'));
  background-repeat: no-repeat;
  background-size: 270px auto, 700px auto;
  background-position: 15% 125px, center center;
  min-height: 400px;
  position: relative;
  @include respond-to("<medium") {
    margin-left: -18px;
    margin-right: -18px;
    padding-left: 18px;
    padding-right: 18px;
  }
  @include respond-to("retina2x") {
    background-image: url(image_path('illu/illu-sitzendeAmTisch@2x.png')), url(image_path('illu/illu-karte@2x.jpg'));
  }
  @include respond-to(">=medium") {
    min-height: 530px;
    background-size: 400px auto, 800px auto;
    background-position: 10% 180px, center center;
  }
  @include respond-to(">=large") {
    background-size: 507px auto, 936px auto;
    background-position: 10px 168px, 110px 29px;
    min-height: 580px;
    margin-top: 10.0rem;
    margin-bottom: 3.0rem;
  }

  h1 {
    @include font-size-secondaryFont('larger');
    @include textShadowHard($color-ambient-rosa-dark);
    display: table;
    text-align: center;
    margin: 0 auto;
    max-width: 350px;

    @include respond-to("<medium") {
      @include headlineBarbapapa();
    }

    @include respond-to(">=medium") {
      text-align: left;
      max-width: none;
      margin-left: 18%;
    }
    @include respond-to(">=large") {
      margin-left: 310px;
    }

    span {
      display: table;
      @include respond-to(">=medium") {
        @include headlineBarbapapa();
      }
    }
    span:nth-child(2) {
      @include respond-to(">=medium") {
        margin-left: 90px;
        margin-top: 5px;
      }
    }

  }

  .badge {
    position: absolute;
    right: 20%;
    bottom: 30px;

    @include respond-to(">=medium") {
      bottom: 50px;
      right: 25%;
    }
    @include respond-to(">=large") {
      right: 180px;
      bottom: 65px;
    }
  }
}

.aboutGraetzl {
  padding-bottom: 3.0rem;
  h2 {
    @include font-size-secondaryFont('larger');
    text-align: center;
    color: $color-ambient-rosa;
    margin-bottom: 2.0rem;
    @include respond-to(">=medium") {
      margin-bottom: 3.0rem;
    }
  }

  h3 {
    @include font-size-secondaryFont('base');
    text-align: center;
    font-family: $font-secondary;
    color: $color-ambient-mint;
    margin-bottom: 1rem;
    font-weight: 600;
    @include respond-to(">=medium") {
      text-align: left;
    }
  }

  span {
    color: $color-ambient-rosa;
  }

  p {
    @include font-size-primaryFont('base');
  }

  .btn-primary {
    width: 100%;
    margin: 0 auto;
    @include respond-to(">=medium") {
      margin-top: 3.0rem;
      width: 70%;
    }
  }

}

.aboutGraetzl [class^=graetzl-] {
  margin-bottom: 3.0rem;
  position: relative;
  background-repeat: no-repeat;
  padding-bottom: 310px;
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
  background-position: center bottom;
  @include respond-to(">=medium") {
    min-height: 340px;
    padding-top: 5.0rem;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  @include respond-to(">=large") {
    margin-bottom: -2.0rem;
  }

  &:nth-child(even) {
    @include respond-to(">=medium") {
      padding-left: 350px;
      background-position: left top;
    }
  }

  &:nth-child(odd) {
    @include respond-to(">=medium") {
      padding-right: 350px;
      background-position: right top;
    }
  }
}

.graetzl-meeting {
  background-image: url(image_path('illu/illu-card-cylce.png'));
  background-size: 293px 316px;
  @include respond-to('retina2x') {
    background-image: url(image_path('illu/illu-card-cylce@2x.png'));
  }
}
.graetzl-events {
  background-image: url(image_path('illu/illu-card-painter.png'));
  background-size: 325px 285px;
  @include respond-to('retina2x') {
    background-image: url(image_path('illu/illu-card-painter@2x.png'));
  }
}
.graetzl-initiative {
  background-image: url(image_path('illu/illu-card-flohmarkt.png'));
  background-size: 293px 316px;
  @include respond-to('retina2x') {
    background-image: url(image_path('illu/illu-card-flohmarkt@2x.png'));
  }
}
.graetzl-economy {
  background-image: url(image_path('illu/illu-card-wirtschaft.png'));
  background-size: 325px 285px;
  @include respond-to('retina2x') {
    background-image: url(image_path('illu/illu-card-wirtschaft@2x.png'));
  }
}

