section.info {

  &.popup-page {
    .imgHeader {
      align-items: flex-end;
    }
    .imgHeader::after {
      background-image: url(image_path('info/header-menschenstrom.png'));
    }
    .header-logo {
      padding:25px;
      width:50%;
      height:auto;
    }
    .paperCard.-top {
      p.info {
        text-align: center;
        @include font-size-primaryFont('larger');
      }
      p {
        text-align: justify;
      }
      .wrp {
        @include respond-to("<=medium") {
          padding: 20px 20px 5px 20px;
        }
      }
    }
  }

  .logos {
    margin-top: 20px;
    border-top: 1px dotted $color-ambient-mint-light;
    @include respond-to(">=medium") {
      display: flex;
    }
    .patner {
      display: flex;
      align-items: center;
      img {
        width:100px;
        height:100px;
        margin:30px;
      }
    }
  }

}
