.navigation-bar.-info {
  margin-bottom: -70px;
  padding-top:50px;
  @include respond-to("<=medium") {
    padding-top:30px;
  }
  background:none;
  border: none;
  &::after {
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: radial-gradient(ellipse at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 50%);
    pointer-events: none;
    z-index: 9;
  }
}

.region-select-link {
  display: table;
  margin: auto;
}

section.info {

  position: relative;
  padding-bottom:50px;
  @include respond-to("<=medium") {
    padding-bottom:0px;
  }

  .paperCard {
    .wrp {
      padding:30px 15px 5px 30px;
      p {
        padding-bottom:25px;
      }
    }
    &.-header {
      margin-top: -8px;
      margin-bottom:50px;
    }
    &.-top {
      margin-bottom:50px;
      .wrp {
        padding:35px 50px 15px 50px;
        @include font-size-primaryFont('large');
      }
    }
  }

  // ----- HEADER ------ //
  .imgHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height:250px;
    text-align: center;
    background-color:rgba(227, 242, 231, 0.3);
    @include respond-to(">=medium") {
      height:400px;
    }
    @include respond-to(">=large") {
      height:500px;
    }
    h1 {
      margin:auto;
      @include headlineBarbapapa;
      @include font-size-secondaryFont('largest');
      text-shadow: 2px 2px $color-ambient-rosa-dark;
    }
    h2 {
      margin:auto;
      @include headlineBarbapapaMint;
      @include font-size-secondaryFont('large');
      text-shadow: 2px 2px $color-ambient-mint-dark;
      margin-top:15px;
    }
  }
  .imgHeader::after {
    content: "";
    background-image: url(image_path('info/header-balloon.jpg'));
    //opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h2 {
    @include font-size-secondaryFont('medium');
    color: $color-ambient-rosa;
    margin-bottom: 10px;
    span {
      color: $color-font-primary;
    }
    em {
      @include headlineBarbapapaMint;
      display: inline-block;
      font-style: normal;
      padding-right:10px;
      margin-right:10px;
    }
  }

  h3 {
    @include font-size-primaryFont('larger');
    padding: 0px 0px 15px;
  }

  .headline {
    display: flex;
    align-items: center;
    margin-bottom:10px;
    h3 {
      padding: 0px 0px 0px;
    }
    .bigicontext-element {
      margin-right:10px;
    }
    &.-R {
      flex-direction: row-reverse;
      justify-content: space-between;
      .bigicontext-element {
        margin-right:0px;
      }
    }
  }

  // ----- SUPPORTER PAGE ------ //

  .allBoxes {
    padding-top:100px;
    padding-bottom:75px;
    position: relative;
    background-color: #eaf2f4;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 70px;
    padding-top:100px;

    .inner {
      max-width: 980px;
      position: relative;
      margin: 0 auto;
      padding-left: 18px;
      padding-right: 18px;

      @include respond-to(">=medium") {
        padding-left: 25px;
        padding-right: 25px;
      }
      @include respond-to(">=large") {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    &::before {
      content:'';
      position: absolute;
      text-align: center;
      top:-45px;
      width:100%;
      height:100px;
      background-position: center top 0px;
      background-size: auto 100px;
      background-image: url(image_path('supporter/danke-small.png'));
      background-repeat: no-repeat;
      z-index: 999;
    }
  }

  &.-startpage, &.-subscription-page {
    .imgHeader {
      .wrp {
        height:100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      .header-logo {
        height:70%;
        margin-top:10px;
        @include respond-to(">=medium") {
          height:65%;
          margin-top:35px;
        }
      }
    }
  }

  &.-energieteiler {
    .imgHeader::after {
      background-image: url(image_path('info/energieteiler/header_hell.jpg'));
    }
    .header-logo {
      height:50%;
      margin-top:80px;
      @include respond-to(">=medium") {
        height:40%;
        margin-top:200px;
      }
    }
  }

  &.-subscription-page {
    padding-bottom: 0px;
    margin-bottom: -80px;

    .imgHeader::after {
      background-image: url(image_path('info/header-abo.jpg'));
      background-position: 30% 90%;
    }
    h1 {
      margin:auto;
      @include headlineBarbapapaMint;
      @include font-size-secondaryFont('largest');
      text-shadow: 2px 2px $color-ambient-mint-dark;
    }

    .allBoxes {
      .cardBoxCollection {
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
      }
      .subscriber-wrp {
        display: flex;
        justify-content: flex-start;
        max-width: unset;
        flex-wrap: nowrap;
        width:100%;
        margin: 5px;
        .tt-content {
          max-width: unset;
        }
        .wow strong {
          color: $color-ambient-rosa-dark;
        }
        svg {
          width:25px;
          min-width: 25px;
        }
        a {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        @include respond-to(">=medium") {
          width: 48%;
        }
        @include respond-to(">=large") {
          width: 32%;
        }
      }
    }

    .cardBoxCollection {
      &.-quart {
        .coverImgWrapper {
          height:220px;
          @include respond-to(">=medium") {
            height:200px;
          }
          @include respond-to(">=large") {
            height:170px;
          }
        }
      }
    }

  }

  // ----- INFO STARTPAGE ------ //
  &.-startpage {

    // -- GRID -- //
    div.txt {
      width:100%;
      text-align: justify;
      @include respond-to(">=medium") {
        width: 60%;
        text-align: left;
        &.-half {
          width: 55%;
        }
      }
    }
    div.aside {
      width:60%;
      @include respond-to(">=medium") {
        width:38%;
        &.-half {
          width: 45%;
        }
      }
    }
    .-groups, .-mentoring {
      div.aside {
        width: 35%;
      }
    }
    .-groups {
      @include respond-to("<medium") {
        div.aside {
          width:100%;
          margin-bottom:0px;
        }
      }
    }
    // -- GRID -- //

    article {
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;

      @include respond-to("<medium") {
        position: relative;
        padding-bottom:30px;
        &::after {
          content: '';
          width: 100%;
          height: 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: radial-gradient(ellipse at center bottom, rgba(0,0,0,0.10) 0%, rgba(0,0,0,0) 50%);
          pointer-events: none;
          z-index: 9;
        }
      }

      h2, h3 {
        text-align: center;
      }
      margin-bottom: 30px !important;
      @include respond-to(">=medium") {
        margin-bottom: 70px !important;
        justify-content: space-between;
        h2, h3 {
          text-align: left;
        }
      }

      &:last-of-type {
        margin-bottom: 0px !important;
        &::after {
          display: none;
        }
      }

      div.txt {
        p {
          padding-bottom:25px;
        }
      }
      div.aside {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom:20px;
        @include respond-to(">=medium") {
          margin-bottom:0px;
        }
        &.-mentoring {
          position: relative;
          .img-round {
            width:50%;
            height:50%;
          }
          .img-round + .img-round {
            margin-right: -25%;
          }
          @include respond-to(">=medium") {
            &::after {
              content:'';
              width: 50%;
              height: 200%;
              position: absolute;
              right: 0;
              top: -50%;
              background-image: url(image_path('bg-punkte-rectangle.png'));
              background-repeat: no-repeat;
              background-position: right center;
              pointer-events: none;
              z-index: -1;
            }
          }
        }
        &.-img {
          text-align: center;
          img {
            max-width:90%;
            height:auto;
          }
        }

        .cardBox {
          &.-group {
            .infos, .slogan {
              display: none;
            }
            .btn-icon {
              display: flex;
            }
          }
        }

      }
    }
  }
  // ----- INFO STARTPAGE END ------ //

  // ----- ABOUT US PAGE ------ //

  &.-about-pages {
    .imgHeader::after {
      background-image: url(image_path('info/about-us.jpg'));
      background-position: center center;
      @media only screen and (min-width:1500px){
        background-size: contain;
      }
    }
    &.-press .imgHeader::after {
      background-image: url(image_path('info/press.jpg'));
      opacity: 0.7;
    }
    &.-milestones .imgHeader::after {
      background-image: url(image_path('info/teaserbox-mentoring.jpg'));
    }
    .imgHeader {
      align-content: flex-end;
      h1 {
        @include font-size-secondaryFont('large');
        @include respond-to(">=medium") {
          @include font-size-secondaryFont('larger');
        }
      }
    }
    .nav-bar {
      display: flex;
      justify-content: center;
      margin-top:20px;
      margin-bottom:20px;

      .btn-secondary, .btn-primary {
        margin:5px;
        @extend .-grey;
        color: $color-font-primary;
        &.active {
          @extend .-rose;
        }
      }
    }
    .milestone, .milestone a {
      color: $color-ambient-mint-dark;
    }
    .subline.-paragraph {
      text-align: justify;
    }
    .-footerCard {
      margin-top:50px;
      margin-bottom:80px;

      .subline {
        text-align: justify;
        margin:0px;
      }
    }
    .-fullwidth {
      p {
        max-width:930px;
        margin: auto;
      }
      + .hl-subtext {
        margin-top:40px;
      }
    }
    .video {
      text-align: center;
      padding-top: 50px !important;
      iframe {

        width:320px;
        height:180px;

        @include respond-to(">=medium") {
          width:640px;
          height:360px;
        }
        @include respond-to(">=large") {
          width:930px;
          height:523px;
        }
      }
    }
    .team {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .member {
        width:160px;
        margin:10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
          width:160px;
          height:160px;
          &:hover {
            border-color:$color-ambient-rosa;
          }
        }
        div {
          margin-top:10px;
          text-align: center;
        }
      }
    }
    .contact-download {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      flex-wrap: wrap;
      @include respond-to(">=large") {
        flex-wrap: nowrap;
      }
    }
    .boxes {
      @include font-size-primaryFont('larger');
      display: flex;
      align-items: center;
      margin: 10px;
      @include respond-to("<=medium") {
        width:100%;
      }
      @include respond-to("<=large") {
        width:80%;
      }
    }

    &.-press {
      .bigicontext-element {

        width: 75px;
        height:75px;
        min-width: 75px;
        min-height: 75px;
        background-size: 75px 75px;

        @include respond-to(">=medium") {
          width: 150px;
          height:150px;
          min-width: 150px;
          min-height: 150px;
          background-size: 150px 150px;
        }


        justify-content: center;
        margin-right:10px;
        img, svg {
          width:80%;
          height:80%;
          margin:auto;
        }
        svg {
          width:40%;
          height:40%;
          color: $color-ambient-mint-dark;
        }
      }
      .boxes a {
        color: $color-font-primary;
        text-decoration: none;
      }
      .boxes a:hover {
        text-decoration: underline;
        color: $color-ambient-rosa;
        svg {
          color: $color-ambient-rosa;
          transition: transform 250ms;
          transform: translateY(2px);
        }
      }
    }

    .presslist {
      max-width:930px;
      margin: auto;
      .row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;
        padding:22px 10px 22px 10px;
        text-decoration: none;
        color: $color-font-primary;
      }
      &.pressarchive {
        margin-bottom: 70px;
        .row {
          border-color: $color-ambient-mint-light;
        }
      }
      a.row:hover {
        svg {
          color: $color-ambient-rosa;
          transition: transform 250ms;
          transform: translateY(2px);
        }
      }
      svg {
        margin-right:20px;
        min-width:50px;
        height:50px;
        color: $color-ambient-mint-dark;
      }
      .icons {
        min-width:70px;
        svg:hover {
          color: $color-ambient-rosa;
          transition: transform 250ms;
          transform: translateY(2px);
        }
      }
      @include font-size-primaryFont('larger');
      .date {
        display: block;
        color: $color-ambient-rosa;
        font-style: italic;
        em {
          font-weight: bold;
          color: $color-ambient-rosa;
        }
      }
      a.press-view-all {
        display: block;
        text-align: center;
        margin-top:20px;
      }
    }
    .pressemitteilungen {
      .row:nth-child(n+3) {
        display: none;
      }
      .row.-show {
        display: flex;
      }
    }
    .pressarchive {
      .row:nth-child(n+4) {
        display: none;
      }
      .row.-show {
        display: flex;
      }
    }
  }

  // ----- HELP Detailpage ------ //
  &.-detail {

    aside {
      float:left;
      display:none;
      @include respond-to(">=medium") {
        display: block;
      }
    }

    h3 {
      padding: 20px 0px 20px;
    }

    .hl-subtext p {
      padding-bottom:0px;
    }

    article {
      margin-bottom: 30px;
    }

    p {
      padding-bottom:20px;
    }

    ol, ul {
      margin-left:20px;
    }

    li {
      padding-bottom:20px;
      &:last-of-type {
        padding-bottom:0px;
      }
    }

    &.-zuckerl .-top {
      .zuckerlwrp {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      @include respond-to(">=medium") {
        .left {
          width:68%;
          padding-right: 10px;
        }
        .right {
          width:32%;
          padding-left:10px;
        }
      }

      .zuckerlcard {
        transform: rotate(1.3deg);
        border:1px solid rgba($color-ambient-mint-light, 1);
        padding: 12px;
        background-color: rgba($color-ambient-mint-light, 0.3);
        border-radius: 5px;
        @include respond-to(">=medium") {
          margin-right: -20px;
        }
        .wrp  {
          padding: 150px 0px 0px 0px;
          background-position: center top 0px;
          background-size: auto 180px;
          background-repeat: no-repeat;
          @include bg-url(
            image_path('illu/illu-zuckerl-transparent.png'),
            $webp1x: image_path('illu/illu-zuckerl-transparent.webp'),
          );
        }
        button {
          width: 100%;
        }
        h3 {
          @include font-size-primaryFont('larger');
          line-height: 1.4;
          margin-top: 5px;
          margin-bottom: 5px;
          color: $color-ambient-mint-dark;
        }
      }
    }

    .-bookzuckerl {
      display: table;
      margin: auto;
    }

  }
  // ----- HELP Detailpage END ------ //


  #help_nav {
    margin-top: 10px;
    a {
      margin-bottom:15px;
    }
  }

  .float_nav {
    position:fixed !important;
    top:0 !important;
  }
  .fix_nav {
    position:absolute !important;
    top:auto !important;
    bottom:0 !important;
  }

  img.guide, img.hubs {
    width:210px;
    margin-bottom:20px;
    float:left;
  }
  img.hubs {
    width: 180px;
    margin-left:15px;
    margin-right:15px;
  }

  a.btn-primary {
    &.-download {
      align-items: center;
      justify-content: center;
      display:flex;
    }
  }
  
}
