section.lp {

  .section {
    &.-fullwidth {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding-top: 0;
      max-height: 100%;
    }
  }

  div.page p.txt, div.page ol {
    @include font-size-primaryFont('large');
    padding-bottom:25px;
  }

  div.wrapper {
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //align-items: center;

    div.paperCard, div.cardBox {
      display: flex;
      align-items: center;
      width:47%;
      margin-bottom:40px;
      @include respond-to("<=large") {
        width:100%;
        margin-right:0px;
      }
    }

    div.paperCard .wrp {
      padding:20px 30px 30px 30px;
      @include font-size-primaryFont('large');
    }
  }


  // Raumteiler Festival 2018
  &.-festival {

    .partner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      img.partner-logo {
        width:auto;
        height:60px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom: 20px;
        margin-top: 20px;
        @include respond-to("<=medium") {
          height:60px;
          margin:10px;
        }
        @include respond-to("<=small") {
          height:40px;
        }
        &.smaller {
          width:auto;
          height:40px;
          margin-right:15px;
        }
      }
    }

    a {
      color: #e2226e;
    }

    div.paperCard {
      h2 {
        font-weight: bold;
      }

      &.-ico h2 {
        padding-top:50px;
      }

      &.-workshops h2 {
        padding-top:20px;
        background-image: url(image_path('lp/festival/RTF_Icon_Workshop.png'));
      }

      &.-music h2 {
        background-image: url(image_path('lp/festival/RTF_Icon_Music.png'));
      }

      &.-info h2 {
        background-image: url(image_path('lp/festival/RTF_Icon_Info.png'));
      }

      &.-ico h2 {
        background-size: auto 100%;
        background-position: bottom right;
        background-repeat: no-repeat;
        padding-right:140px;
        @include respond-to("<=small") {
          background-size: auto 100%;
          padding-right:80px;
          padding-top:0px;
        }
      }
      @include respond-to("<=small") {
        &.-workshops h2 {
          background-size: auto 50%;
        }
      }

      .card {
        opacity : 0.5;
      }
      &.-market {
        .card {
          background-color: rgba(222, 239, 225, 0.7);
          background-image: url(image_path('lp/festival/RTF_Wienplan.png'));
          background-position: center center;
          background-size: 300%;
        }
      }
    }

    div.section {

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items:flex-end;
      margin-bottom: 30px;
      div {
        width:33%;
        color:black;
        text-align: center;
      }
      div.facts {
        font-size: 2.8rem;
      }
      div.location {
        font-size: 2.0rem;
        text-align: right;
      }
      div.logo img {
        width:100%;
        max-width: 300px;
      }
      @include respond-to("<=large") {
        div.facts {
          font-size: 2.4rem;
        }
      }
      @include respond-to("<=medium") {
        div {
          width:100%;
          img {
            padding-bottom:10px;
          }
        }
        div.location {
          text-align:center;
        }
      }

    }

    img.imgHalle {
      width:100%;
      margin-bottom:20px;
    }



    font-family: $font-lp;

    .imgHeader {
      background-color: #deefe1; // Fullwidth Background Color
      background-image: url(image_path('lp/festival/NBH_Magazin.jpg'));
      background-position: center;
      background-repeat: no-repeat;
      //background-image: url('/assets/lp/festival/NBH_Magazin.jpg');

      .titleImg {
        opacity: 0.85;
        //background-color: rgba(222, 239, 225, 0.7);
        //max-height: 80% !important;
      }
    }


    .NBHbg {
      //background-image: url(image_path('lp/festival/NBH_Feier.jpg'));
      //background-position: center center;
      //background-size:cover;
      text-align: center;
      margin-bottom: 40px;
      border-top: 5px solid #e2226e;
      border-bottom: 5px solid #e2226e;

      .wrp {
        //background-color: rgba(0, 0, 0, 0.5);
        padding:25px;
        //min-height:350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      p.txt {
        font-size: 2.8rem;
        margin: 0px;
        padding:10px;
        //color: white;
        @include respond-to("<=medium") {
          font-size: 2.2rem;
        }
      }
    }

    .NBH2bg {
      background-color: #eee;
      padding-left:20px;
      padding-right:20px;
      //position: relative;
      //min-height:300px;
      //background-image: url(image_path('lp/festival/rt-people-bg.jpg'));
      //background-size: contain;
      //background-repeat: no-repeat;
      //background-position: right;
      div.wrapper {
        //background-color: rgba(255, 255, 255, 0.9);
      }

      h2 {
        font-weight: bold;
        width: 100%;
        font-size: 2.4rem;
        @include respond-to("<=medium") {
          font-size: 2.2rem;
        }
        @include respond-to("<=small") {
          font-size: 2.0rem;
        }
        //color: #e2226e;
      }

      ol {
        margin-left:20px;
        padding-bottom: 25px;
      }

    }

    button.-active {
      background-color: #e2226e;
    }
    button {
      background-color: black;
    }
    button.-large {
      margin:auto;
      margin-top:40px;
      margin-bottom:30px;
    }

    // Fullscreen Nav
    #lp_nav {
      text-align: center;
      button {display: inline-block;}
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding-top:10px;
      padding-bottom: 10px;
      height: 65px;
      top:-65px;
      margin-bottom: -65px;
      z-index: 999;

      &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(222, 239, 225, 0.7);
      }
    }

    .page {
      margin-top:30px;
      // if Nav is Sticky, set Offset for Content
      &.sticky_content {

      }
    }

    h1, h2 {
      font-family: $font-lp;
      color:#222;
    }

    h1 {
      width:100%;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 5.0rem;
      @include respond-to("<=medium") {
        font-size: 3.0rem;
      }
      @include respond-to("<=small") {
        font-size: 2.6rem;
      }
    }
    h2 {
      margin-bottom: 10px;
    }

    h1 span, h2 span, strong.highlight {
      color: #e2226e;
    }

  } // Festival

}
