section.location-form {
  @include cf;
  max-width: 700px;
  margin: 0 auto;
  .wrp {
    margin-bottom: 30px;
  }

  h1 {
    margin-bottom: 0;
  }

  .link-subtle {
    text-align: center;
    display: block;
    margin-top: -10px;

  }

  .btn-primary {
    float: right;
  }

  .form-block {
    label {
      min-width: 200px;
    }
  }

  .ctrl-graetzlselect {
    margin-bottom: 30px;
  }

}

