section.location-page {
  @include cf;

  main {
    padding-bottom: 0;
  }

  .imgHeader {
    position: relative;
    z-index: 10;
    overflow: visible;

    .titleImg {
      @include respond-to("<=medium") {
        height:200px;
      }
    }

    .dropdown-container {
      z-index: 600;
      transform: translate(-20px, 0);
      width: 270px;
      @include respond-to(">=medium") {
        display: none;
      }
    }

    .locationAvatar {
      position: absolute;
      left: 20px;
      bottom: 20px;
      width: 80px;
      height: 80px;
      border-radius: 4px;
      padding: 2px;
      background-color: #fff;
      border: 1px solid $color-ambient-mint;
      @include respond-to(">=medium") {
        bottom: -50px;
        left: 38px;
        width: 245px;
        height: 245px;
        border-radius: 12px;
        padding: 5px;
      }
      @include respond-to(">=large") {
        bottom: -90px;
        left: 25px;
      }
    }

    .createentry {
      background-image: none;
      background-color: rgba($color-ambient-mint-dark, 0.75);
      color: #fff;
      cursor: pointer;
      position: absolute;
      right: 30px;
      bottom: 5px;
      z-index: 2;
      width: 40px;
      height: 40px;
      @include respond-to(">=medium") {
        display: none;
      }

    }

  }

  .stream-form {
    .hidden {display: none;}
  }


  .mainContent .introtxt {
    margin-top:30px;
    margin-bottom: 30px;

    @include respond-to(">=medium") {
      margin-top:0px;
    }

    h1 {
      @include font-size-secondaryFont('large');
      text-align: center;
      margin-bottom: 30px;
      color: $color-ambient-mint-dark;
      @include respond-to(">=medium") {
        text-align: left;
      }
    }
    h2, h3 {
      font-family: $font-primary;
      color: $color-font-primary;
      font-weight: bold;
      @include font-size-primaryFont('larger');
      margin-bottom: 15px;
    }
    .txt {
      white-space: pre-wrap;
    }
  }
  .iconlist {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sideBar {
    position: relative;
    z-index: 8;
    margin: 0 auto 40px auto;
    @include respond-to(">=medium") {
      padding-top: 80px;
    }
    @include respond-to(">=large") {
      margin: 0 0 60px -25px;
      padding-top: 110px;
    }
    .cardBox.-zuckerl {
      margin-bottom: 40px;
    }

    #requestMessengerBtn {
      margin-bottom: 30px;
    }

  }

  .action-container {
    padding-left: 25px;
    margin-bottom: 20px;
    display: none;
    @include respond-to(">=medium") {
      display: block;
    }
    a {
      text-decoration: none;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .goodie {
    .sideflag {
      display: flex;
      justify-content: space-between;
      background-color: #eed8b7;
      color: #cd891b;
      &:after {
        border-color: transparent #cd891b transparent transparent;
      }
    }
    .wrp {
      color: #cd891b;
      padding:0px 15px 15px 15px;
      white-space: pre-wrap;
    }
    .goodie-login-msg {
      padding:0px 15px 15px 15px;
      color: #cd891b;
      font-style: italic;
      a {
        color: #cd891b;
        text-decoration: underline;
        margin-bottom: 0px;
        &:hover {
          text-decoration: none;
        }
      }
    }

  }

  .action-container + .sideBarbox.contact, .action-container + .sideBarbox.goodie {
    margin-top: 40px;
  }

  .roomdemand, .roomoffer {
    .icontxt {
      .icon {
        fill: $color-ambient-brown;
      }
    }
  }

  .sideBar .sideflag {
    text-decoration: none;
    margin-left: -12px;
    margin-top: -17px;
  }

  .bigicontext-element {
    .txt {
      font-size: 1.2em;
    }
  }

  .mainContent {
    position: relative;
    z-index: 8;
    margin-bottom: 0;
    h2 {
      @include font-size-secondaryFont('large');
      text-align: center;
      color: $color-ambient-rosa;
      margin-bottom: 20px;
      @include respond-to(">=medium") {
        text-align: left;
        margin-bottom: 0;
      }
    }

    @include respond-to(">=medium") {
      margin-top: -58px;
      width: calc(100% - 295px);
      z-index: 10;
    }
    @include respond-to(">=large") {
      margin-top: -65px;
      width: calc(100% - 270px);
    }

    .cardBox .sideflag {
      display: none;
    }
  }

  .category-tags {
    margin-bottom: 50px;
    .bigicontext-element {
      margin-bottom: 20px;
    }
  }

  #requestLocationBtn {
    margin-bottom: 40px;
  }

  .openinghours {
    .txt {
      white-space: pre-wrap;
    }
    .bigicontext-element {
      margin-bottom: 15px;
    }
  }

  .contact, .goodie {
    border: 1px solid $color-ambient-grey-light;
    background-color: #ffffff;
    border-radius: 8px;
    a {
      color: $color-ambient-mint;
      text-decoration: none;
      margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    .address {
      margin-bottom: 20px;
      align-items: flex-start;
      span {
        display: block;
        white-space: normal;
      }
      span.desc {
        margin-top:10px;
        font-style: italic;
      }
    }

    .user-wrp {
      display: flex;
      align-items: center;
      .img-round {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }

    }
  }
}

.sideBarbox.goodie {
  background-color: rgba(#FEF6DF, 0.3) !important;
  border-color: rgba(#cd891b, 0.3) !important;
}

.meetingBlock {
  margin-bottom: 40px;

  .wrp-hl {
    margin-bottom: 30px;

    @include respond-to(">=medium") {
      @include cf();
    }

    .bigicontext-element {
      margin-bottom: 20px;
      @include respond-to(">=medium") {
        float: left;
      }
    }

    .btn-userCallToAction {
      //display: table;
      @include respond-to(">=medium") {
        float: right;
      }
    }
  }

  .cardBoxCollection {
    margin-left: 0;
    margin-right: 0;
  }

  .no-results-box {
    display: none;
  }

}
