section.location-form {

  .hl-main + p {
    margin-top:10px;
    text-align: center;
    &.-small {
      @include font-size-primaryFont('small');
    }
  }

  @include cf;
  max-width: 700px;
  margin: 0 auto;
  .wrp {
    margin-bottom: 30px;
  }

  h1 {
    margin-bottom: 0;
  }

  .btn-primary {
    float: right;
  }

  .form-block {
    label {
      min-width: 200px;
    }
  }

  .-description textarea {
    min-height: 150px;
  }

  .using-address-selection {
    margin-bottom: 20px;
    text-align: center;
    display: block;
    div {
      display: inline-block;
    }
    label {
      min-width: 0px;
      margin-right: 20px;
    }
  }

  .input-button {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .btn-primary, .btn-secondary {
      margin-bottom:15px;
      //width:31%;
      margin-left: 1%;
      margin-right: 1%;
    }
    @include respond-to("<=medium") {
      justify-content: center;
      .btn-primary, .btn-secondary {
        margin-left:0px;
        width:100%;
      }
    }
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dotted $color-ambient-mint-dark;
  }

}
