section.masonryFilterGrid {

  .mapImgBlock {
    margin-bottom: 20px;
    @include respond-to(">=large") {
      margin-bottom: 50px;
    }
  }

  .createmenu {
    max-width: 400px;
    width: 90%;
    width: calc(100% - 20px);
    @include respond-to(">=medium") {
      transform: translate(-20px,0);
      width: 75%;
      width: calc(100% - 200px);
    }
  }

  .filter-stream {
    margin-bottom: 60px;
  }

  .masonry-wrapper {
    @include respond-to(">=large") {
      margin-left: -25px;
      margin-right: -60px;
    }
    .link-load { display: none; }
  }


  .cards-container {
    @include cf();
    min-height: 150px;
    margin: 0 auto;
    .cardBox {
      width: 310px;
      margin-bottom: 24px;
      float: left;
      margin-right: 24px;
    }
    .cardBox:nth-child(3n) { margin-right: 0; }
    .cardBox:nth-child(3n+4) { clear: both; }

    .coverImg {
      min-width: 292px;
      min-height: 176px;
    }
  }


  .msgNoStreamContent {
    @include font-size-primaryFont();
    color: $color-ambient-grey;
    display: table;
    margin: 0 auto;
    min-width: 204px;
    height: 175px;
    background-image: url(image_path('illu/schaukler-message-empty.png'));
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 30px;
    text-align: center;
    @include respond-to(">=medium") {
      text-align: left;
      background-position: right top;
      padding: 40px 120px 0 0;
    }
  }

}
