section.meeting {
  @include cf;
  .imgHeader {
    @include respond-to("<=medium") {
      margin-top:0px;
      margin-bottom:15px;
      .titleImg {
        height:250px;
      }
    }
    @include respond-to(">=medium") {
      margin-bottom: -55px;
      overflow: visible;
    }
  }
}

.map {height:400px;}

.entryDescription {
  margin-bottom: 3rem;
  @include respond-to(">=medium") {
    @include col(1/2);
    overflow: hidden;
    position: relative;
    z-index: 4;
  }
  @include respond-to(">=large") {
    @include col(7/12);
  }

  h3 {
    font-size: 1.4rem ;
    font-weight: 600;
  }

  .bbcode {
    margin-bottom: 2rem;
    white-space: pre-wrap;
    @include respond-to(">=medium") {
      clear: both;
    }
    @include respond-to(">=large") {
      padding-right: 40px;
    }
  }

  .dateTime {
    margin-bottom: 1rem;
  }

  .place {
    margin-bottom: 2rem;
    @include respond-to(">=medium") {
      text-shadow: 1px 1px $color-ambient-bright;
    }
  }

  .userPortraitName {
    margin-bottom: 20px;
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    a {
      //color: $color-ambient-mint;
      font-style: italic;
      font-weight: bold;
    }
    a:hover {
    }
  }

}



.entryParticipate {
  margin-bottom: 3rem;
  @include respond-to(">=medium") {
    @include col(1/2);
    margin-right: 0;
    position: relative;
    z-index: 5;
  }
  @include respond-to(">=large") {
    @include col(5/12);
    margin-right: 0;
  }

  .btn-going-to {
    @include respond-to("<=medium") {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      padding: 10px;
      background-color: white;
      border-top: 1px solid $color-ambient-mint-light;
      .btn-userCallToAction {
        margin: 0px;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .btn-userCallToAction {
    display: inline-flex;
    max-height: 48px;
    margin: 0 auto 2rem auto;
    @include respond-to(">=medium") {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.participants {
  @include respond-to(">=medium") {
    width: 300px;
  }
  .userCount {
    margin-bottom: 1.2rem;
    margin-left: 7px;
    span {
      color: $color-ambient-rosa;
      margin-right: 5px;
    }
  }
}

.more-platform-meetings, .platform-meeting-user-box {
  margin-top:50px;
  .paperCard {
    padding:20px;
  }
}
.platform-meeting-user-box {

  .wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .txt {
    white-space: pre-line;
  }

  .card {
    background-color: rgba($color-ambient-mint-light,0.3);
  }

  .userinfos {
    img.avatar {
      min-width:95px !important;
      min-height:95px !important;
      //float:left;
      margin-right: 16px;
    }
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

}

.platform-meeting-infos {
  padding-top: 3rem;
  font-style: italic;
  border-top: 1px solid $color-ambient-mint-light-lowsaturation;
}

#jBoxBuyTicket, #jBoxAttendMeeting {
  max-width:500px;
  select {
    min-width: 215px;
  }
  .btn-primary {
    margin-top:20px;
    float:right;
  }
}

section.meetings-compose-mail {
  //display: flex;
  //flex-wrap: wrap;
  .hl-subtext {
    margin-bottom: 20px;
  }
  .members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    .img-round {
      margin-left: 4px;
      margin-right: 4px;
    }
    img.img-round {
      filter: grayscale(50%);
    }
    img.active {
      filter: grayscale(0%);
      border: 2px solid $color-ambient-rosa;
    }
  }
  .col-content {
    width:100%;
    margin-bottom:40px;
    @include respond-to(">=large") {
      width: 64%;
      margin-right: 3%;
    }
  }
  .col-sidebar {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    @include respond-to(">=medium") {
      width: 50%;
    }
    @include respond-to(">=large") {
      width: 33%;
    }
  }
}
