.headerBlock  {
  position: relative;
  z-index: 1;
  @include respond-to(">=medium") {
    @include cloudMaskOverImg;
    overflow: hidden;
    margin-top: -6.0rem;
    margin-bottom: -80px;
    @include respond-to(">=large") {
      height: 370px;
    }
  }
}

.titleHeadline {
  margin-bottom: 2.0rem;
  @include respond-to(">=medium") {
    @include paperCard($pos: "RT1");
    position: absolute;
    bottom: 105px;
    left: -12px;
    max-width: 450px;
    transform: rotate(-3deg) translate3d( 0, 0, 0);
  }

  a {
    display: table;
    margin: 0 auto;
    text-decoration: none;
    @include respond-to(">=medium") {
      margin-left: 0;
    }
  }

  h1, h3 {
    font-family: $font-secondary;
    line-height: 1;
    text-align: center;
    @include respond-to(">=medium") {
      text-align: left;
    }
  }

  h1 {
    margin-bottom: 0;
    font-size: 3.4rem;
    text-align: center;
    @include respond-to(">=medium") {
      margin-left: 25px;
    }
    @include respond-to(">=large") {
      font-size: 4.0rem;
    }
  }

  h3 {
    @include headlineBarbapapa;
    display: table;
    font-size: 2.4rem;
    margin: 0 auto;
    @include respond-to(">=medium") {
      font-size: 2.8rem;
    }
    @include respond-to(">=large") {
      font-size: 3.2rem;
    }
  }
}





.titleImg {
  max-width: 100%;
  display: block;
  margin-bottom: 2rem;
  @include respond-to(">=medium") {
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.entryDescription {
  margin-bottom: 3rem;
  @include respond-to(">=medium") {
    @include col(1/2);
    overflow: hidden;
    position: relative;
    z-index: 4;
  }
  @include respond-to(">=large") {
    @include col(7/12);
  }

  h3 {
    font-size: 1.4rem ;
    font-weight: 600;
  }

  .txt {
    margin-bottom: 2rem;
    @include respond-to(">=medium") {
      clear: both;
    }
    @include respond-to(">=large") {
      padding-right: 70px;
    }
  }

  .dateTime {
    padding-top: 10px;
    margin-bottom: 1rem;
    @include respond-to(">=medium") {
      text-shadow: 1px 1px $color-background-bright;
    }
  }

  .location {
    margin-bottom: 2rem;
    @include respond-to(">=medium") {
      text-shadow: 1px 1px $color-background-bright;
    }
  }

}



.entryParticipate {
  margin-bottom: 3rem;
  @include respond-to(">=medium") {
    @include col(1/2);
    margin-right: 0;
    position: relative;
    z-index: 5;
  }
  @include respond-to(">=large") {
    @include col(5/12);
    margin-right: 0;
  }

  .btn-userCallToAction {
    margin: 0 auto 2rem auto;
    @include respond-to(">=medium") {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.participants {
  @include respond-to(">=medium") {
    width: 300px;
  }
  .userCount {
    margin-bottom: 1.2rem;
    margin-left: 7px;
    span {
      color: $color-ambient-rosa;
      margin-right: 5px;
    }
  }
}