.create-meeting {
  max-width: 700px;
  margin: 0 auto;
  h2 {
    @include ResponsiveText(3.0, 4.0, 5.0);
    text-align: center;
    span {
      color: $color-ambient-rosa;
    }
  }

  [class^=meet-] {
    margin-bottom: 2.5rem;
    @include respond-to(">=medium") {
      margin-bottom: 5.0rem;
    }
  }

  .input-field,
  .input-textarea {
    margin-bottom: 2.0rem;
  }

  .btn-primary {
    float: right;
  }

  .txt {
    @include ResponsiveText(1.6, 1.8, 1.8);
    text-align: center;
  }

}


.meet-when {

  @include respond-to(">medium") {
    @include cf();
    .input-field {
      &:nth-of-type(1) { @include col(4/4); }
      &:nth-of-type(2) { @include col(2/4); }
      &:nth-of-type(3) {
        [class^=icon] {
          transform: rotate(90deg);
        }
        @include col(2/4);
      }
    }
  }

}



.meet-picture {
  .upload-image {
    display: table;
    margin: 0 auto;
    width: auto;
  }
  .imgCrop {
    width: 450px;
    height: 250px;
  }
}

