.create-meeting {
  max-width: 800px;
  margin: 0 auto;
  h2 {
    @include ResponsiveText(3.0, 4.0, 5.0);
    text-align: center;
    span {
      color: $color-ambient-rosa;
    }
  }

  [class^=meet-] {
    margin-bottom: 2rem;
    > p:first-child {
      text-align: center;
    }
  }

  .input-group,
  .textarea-group {
    margin-bottom: 1.5rem;
  }

  .btn-primary {
    float: right;
  }

  .txt {
    @include ResponsiveText(1.6, 1.8, 1.8);
  }

}

.meet-what {
  .textarea-group {

  }
}

.meet-where {

  @include respond-to(">large") {
    .input-group {
      float: left;
      width: 49%;
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
    }
  }

}

.meet-when {
  .datepicker-group,
  .timepicker-group {
    margin-bottom: 0.5rem;
  }
  .timepicker-group {
    margin-bottom: 0.5rem;
  }

  @include respond-to(">medium") {
    @include cf();
    .timepicker-group {
      float: left;
      width: 49%;
      margin-right: 2%;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.meet-picture {
  .upload-image {
    display: table;
    margin: 0 auto;
    width: auto;
  }
  .imgCrop {
    width: 450px;
    height: 250px;
  }
}

