section.meeting {
  @include cf;
  .imgHeader {
    @include respond-to("<=medium") {
      margin-top:0px;
      margin-bottom:15px;
      .titleImg {
        height:250px;
      }
    }
    @include respond-to(">=medium") {
      margin-bottom: -55px;
      overflow: visible;
    }

  }
}

.map {height:400px;}

.entryDescription {
  margin-bottom: 3rem;
  @include respond-to(">=medium") {
    @include col(1/2);
    overflow: hidden;
    position: relative;
    z-index: 4;
  }
  @include respond-to(">=large") {
    @include col(2/3);
  }

  h3 {
    font-size: 1.4rem ;
    font-weight: 600;
  }

  .bbcode {
    margin-bottom: 2rem;
    white-space: pre-wrap;
    @include respond-to(">=medium") {
      clear: both;
    }
    @include respond-to(">=large") {
      padding-right: 40px;
    }
  }

  .dateTime {
    margin-bottom: 1rem;
    //font-weight: bold;
    .time {
      font-style: italic;
      font-weight: normal;
    }
    .till {
      //font-style: italic;
      font-weight:normal;
      padding:5px;
    }
  }

  .place {
    margin-bottom: 2rem;
    @include respond-to(">=medium") {
      text-shadow: 1px 1px $color-ambient-bright;
    }
  }

  .userPortraitName {
    margin-bottom: 20px;
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    a {
      //color: $color-ambient-mint;
      font-style: italic;
      font-weight: bold;
    }
    a:hover {
    }
  }

}

// Gallery Pics
.entryImgUploads {
  clear:both;
}

.entryParticipate {
  margin-bottom: 3rem;
  @include respond-to(">=medium") {
    @include col(1/2);
    margin-right: 0;
    position: relative;
    z-index: 5;
  }
  @include respond-to(">=large") {
    @include col(1/3);
    margin-right: 0;
  }

  .btn-going-to {
    @include respond-to("<=medium") {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      padding: 10px;
      background-color: white;
      border-top: 1px solid $color-ambient-mint-light;
      .btn-userCallToAction {
        margin: 0px;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .btn-userCallToAction {
    display: inline-flex;
    max-height: 48px;
    margin: 0 auto 2rem auto;
    @include respond-to(">=medium") {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.participants {
  @include respond-to(">=medium") {
    width: 300px;
  }
  .userCount {
    margin-bottom: 1.2rem;
    margin-left: 7px;
    span {
      color: $color-ambient-rosa;
      margin-right: 5px;
    }
  }
}

#jBoxAttendMeeting {
  max-width:500px;
  select {
    min-width: 215px;
  }
  .btn-primary {
    margin-top:20px;
    float:right;
  }
}
