section.meetings-overview, section.meeting {
  .sideflag {
    display: none;
  }
}

section.meetings-overview {
  .mapImgBlock {
    margin-bottom: 50px;
  }
  #paginate-upcoming {
    margin-bottom: 80px;
  }
}