.create-meeting {
  @include cf();
  max-width: 700px;
  margin: 0 auto;

  h1 {
    @include font-size-secondaryFont('large');
    text-align: center;
    margin-bottom: 30px;
    @include respond-to(">=large") {
      margin-bottom: 40px;
    }
    span {
      color: $color-ambient-rosa;
    }
  }
  .hl-subtext {
    h1 {
      margin-bottom: 10px;
    }
  }

  [class^=meet-] {
    > p:first-child {
      @include font-size-secondaryFont('base');
      text-align: center;
      margin-bottom: 20px;
      span {
        color: $color-ambient-rosa;
      }
    }
    margin-bottom: 2.5rem;
    @include respond-to(">=medium") {
      margin-bottom: 5.0rem;
    }
  }
  .meet-when {
    margin-bottom: 20px;
  }
  .meet-where .meeting-switch {
    margin-bottom: 20px;
    text-align: center;
    display: block;
    div {
      display: inline-block;
    }
    label {
      min-width: 0px;
      margin-right: 20px;
    }
  }
  a.add_fields {
    display: block;
    margin-bottom: 2.5rem;
    @include respond-to(">=medium") {
      margin-bottom: 5.0rem;
    }
  }

  .input-field,
  .input-textarea,
  .input-select,
  .upload-oldschool {
    margin-bottom: 2.0rem;
  }
  label {
    min-width: 190px;
  }

  .btn-primary {
    float: right;
  }

}

#meeting-platform-meeting-fields {
  .question {
    text-align: center;
    margin-bottom: 10px;
  }
  .hint {
    text-align: center;
    margin-top: 10px;
  }
}

.meet-platform_meeting_request {
  .checkbox_container {
    text-align: center;
    margin-bottom: 10px;
    .input-checkbox {
      display: inline-block;
    }
  }
}

.meet-when {

  @include respond-to(">medium") {
    @include cf();
    .input-field {
      &:nth-of-type(1) { @include col(4/4); }
      &:nth-of-type(2) {
        @include col(2/4);
        margin-bottom: 0;
      }
      &:nth-of-type(3) {
        margin-bottom: 0;
        [class^=icon] {
          transform: rotate(90deg);
        }
        @include col(2/4);
      }
    }
  }

}

.event-categories {
  overflow: hidden;
  margin: 2rem 0 2rem;
  .input-checkbox {
    float: left;
    width: 100%;
    @include respond-to(">=small") {
      width: 50%;
    }
    @include respond-to(">=medium") {
      width: 33%;
    }
  }
}
