section.messenger-page {

  // ----- Layout -----

  margin-top: -30px;
  margin-right: -17px;
  margin-left: -17px;

  #chat-container {
    display: flex;
    width:100%;
    height:100%;
    min-height: calc(100vh - 140px);
    height: calc(100vh - 140px);
    height: calc(var(--vh, 1vh) * 100 - 140px);

  }

  #side-bar {
    flex: 1 0 100%;
    transition: all .3s ease-out;
  }

  #main-content {
    width: 100%;
    transition: all .3s ease-out;
  }

  @include respond-to("<=medium") {
    #chat-container.show-messages {
      #side-bar { transform: translateX(-100%); }
      #main-content { margin-left: -100%; }
      .back-ctrl { display: block; }
    }
  }


  // ----- > Tablet Size -----
  @include respond-to(">medium") {
    margin-top: -50px;
    margin-left: -22px;

    #chat-container {
      min-height: calc(100vh - 100px);
      height: calc(100vh - 100px);
      height: calc(var(--vh, 1vh) * 100 - 100px);
    }
    #side-bar {
      flex: 1 0 30%;
      border-bottom: 20px solid #fbfbfb;
    }
    #main-content {
      padding-left: 20px;
    }
  }

  // ----- > Desktop Fullsize -----
  @include respond-to(">large") {
    margin-top: -80px;
    margin-right: -15px;
    margin-left: -5px;
  }


// ------ GENERAL -------

  #chat-container {
    overflow: hidden;
    justify-content:space-between;
    margin-bottom: -80px; // Abstand Footer 0
  }

  #main-content {
    position: relative;
    height: 100%;
    width:100%;
    border-left: 1px solid $color-ambient-mint-light;
  }

  #side-bar {
    position: relative;
    //overflow: scroll;
    //-webkit-overflow-scrolling: touch;

    // Top Controls
    .controls {
      z-index: 2;
      width:100%;
      //position: sticky;
      top: 0;
      background-color: #fbfbfb;
      border-bottom: 1px solid $color-ambient-mint-light;
      .actions a {
        color: $color-ambient-mint-dark;
        &:hover {
          color: $color-ambient-rosa;
        }
      }
      .user-ctrl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 20px 10px;
      }
      .filter {
        display: flex;
        justify-content: center;
        a {
          color: $color-ambient-mint-dark;
          white-space: nowrap;
          font-weight: bold;
          font-style: italic;
          text-decoration: none;
          display: flex;
          line-height:28px;
          &:hover {
            color: $color-ambient-rosa;
          }
        }
        svg {
          margin-left:5px;
        }
      }
    }

    .threads-list {
      width:100%;
    }

    .single-user {
      z-index:1;
      padding: 10px 30px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: .3s ease;

      &.-active {
        background-color: rgba($color-ambient-mint-light,0.60);
        .img-round {
          border: 1px dotted $color-ambient-mint-dark;
        }
      }
      &.-new {
        display: none;
        background-color: rgba($color-ambient-grey-light,0.70);
      }

      &:hover {
        background: $color-ambient-mint-light;
        cursor: pointer;
        .actions {
          display: block;
        }
      }

      &.new-msg {
        border-bottom: 1px solid $color-ambient-mint-light;
      }

      .new-msg-img {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-ambient-mint-dark;
      }

      .avatar {
        margin-right: 10px;
        width:50px;
        height:50px;
        min-width: 50px;
      }
      .wrp {
        //width:100%;
        flex-grow: 2;
        display: grid;
        overflow: hidden;
        @include font-size-primaryFont('small');
        .user {
          font-weight:600;
        }
        .time {
          color: $color-ambient-grey;
          font-style: italic;
        }
        .txt {
          @include ellipsis();
        }
      }
      .actions {
        display: none;
        margin-right:-20px;
        svg { color: $color-ambient-mint-dark; transform: rotate(90deg); }
        &:hover svg { color: $color-ambient-rosa; }
      }
      &.archived .actions { display: none; }
    }

    .message-thread.hidden {
      display: none;
    }

    .message-thread.empty {
      display: none;
    }

    a.link-load {
      margin-top: 15px;
      width:90%;
    }

  }

  .back-ctrl {
    display: none;
    width: 100%;
    height: 61px;
    z-index: 999;
    position: fixed;
    top:0; left:0;
    background-color: #fbfbfb;
    border-bottom: 1px solid $color-ambient-mint-light;
    padding: 10px 10px 10px 10px;
    svg {
      color: $color-ambient-mint-dark; transform: rotate(90deg);
    }
    .back-btn {
      display: inline-flex;
      align-items: center;
      line-height: 40px;
      color: $color-ambient-mint-dark;
      text-decoration: none;
    }
  }


  .loading-spinner {
    width: 60px;
    height:60px;
    margin-top:10px;
    margin-bottom:10px;
  }

  .chat-panel {
    height: 100%;
    width: 100%;
    //overflow: scroll;
    //-webkit-overflow-scrolling: touch;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;
  }

  .message-wrapper {
    width:100%;
    padding: 15px 15px 0px 15px;
    flex-grow: 2;
    @include respond-to(">large") {
      padding: 50px 15px 0px 15px;
    }
  }

  .empty-messages svg {
    width:50px;
    height:50px;
    color: $color-ambient-mint-light;
    opacity: 0.5;
    margin: auto;
  }

  .message-control {
    width:100%;
    //position: fixed;
    //bottom: 0;

    border-top: 1px solid $color-ambient-mint-light;
    background-color: #fbfbfb;
    padding:15px;

    display: flex;
    //align-items: flex-end;
    div.input {
      width:100%;
      margin-right: 10px;
    }
    .btn-primary {
      padding-left:15px;
      padding-right:15px;
    }
  }

  textarea {
    background-color: #ffffff;
    border: 1px solid $color-ambient-grey-light;
    outline: none;
    font-family: $font-primary;
    border-radius: 4px;
    font-size: 1.6rem;
    resize: none;
    line-height: 1.4;
    width: 100%;
    display: block;
    //color: $color-ambient-grey;
    color: $color-font-primary;
    padding: 0.8rem 1.4rem;
    height:100px;
    max-height:100px;
    //max-height: calc(30vh);
    &::placeholder {
      color: $color-ambient-grey;
    }
  }

  .chat-message {

    img.avatar {
      width:50px;
      height:50px;
    }

    width:100%;
    display: flex;
    align-items: center;
    margin-bottom:20px;

    // Firefox Hack -> Margin Bottom at last chat bubble
    &:last-child {
      @-moz-document url-prefix() {
        margin-bottom: 80px;
      }
    }

    div.bubble {
      //width:100%;
      flex-grow: 2;
      padding: 10px 14px;
      background-color: rgba($color-ambient-grey-light,0.70);
      border-radius: 9px;
      position: relative;
      animation: fadeIn 1s ease-in;
      white-space: pre-line;
      word-break: break-word;

      small.time {
        display: none;
        float:right;
        color: $color-ambient-grey;
      }

      &:hover {
        small.time {
          display: block;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom: 0;
        margin-top: -10px;
      }
    }

    &.-left {
      div {
        margin-left:25px;
        &:after {
         left: 0;
         border-right-color: rgba($color-ambient-grey-light,0.70);
         border-left: 0;
         margin-left: -20px;
       }
      }
    }

    &.-right {
      flex-direction: row-reverse;
      div {
        background-color: rgba($color-ambient-mint-light,0.60);
        margin-right:25px;
        &:after {
          right: 0;
          border-left-color: rgba($color-ambient-mint-light,0.60);
          border-right: 0;
          margin-right: -20px;
        }
      }
    }
  }

  .thread-placeholder {
    padding-top:90px;
    text-align: center;
    font-style: italic;
  }

  .thread-info {
    width: 100%;

    .user-info {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 20px 10px 20px;
      border-bottom: 1px solid rgba($color-ambient-mint-light,0.60);
      margin-bottom:10px;
      img.img-round {
        width:100px;
        height:100px;
        margin-right:15px;
      }
    }

    .rental-info {
      text-align: center;
      margin-bottom: 15px;
      .title  {
        font-weight: bold;
        a {
          color:$color-ambient-mint-dark;
          font-weight: bold;
        }
      }
    }

    .leave-rating-container {
      width: 150px;
      margin: auto;
      .star {
        display: inline-block;
        position: relative;
        font-size: 20px;
        text-decoration: none;
        color: $color-ambient-mint-dark;
      }
      &:hover .star::before {
        content: "\2605";
        position: absolute;
        color: $color-ambient-mint-dark;
      }
      .star:hover ~ .star::before {
        content: '';
      }
    }

    .action-box {
      position: relative;
      margin-top: 20px;
      //padding: 10px 10px 10px 14px;
      padding:20px;
      text-align: center;
      background-color: rgba($color-ambient-rosa-light,0.25);
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      .box-icon {
        position: absolute;
        top: -20px;
        left: calc(50% - 20px);
        background-color: #fbfbfb;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          padding: 2px;
          margin-top: 2px;
          margin-left: -2px;
          color: $color-ambient-rosa;
        }
      }
      .note {
        @include font-size-primaryFont('small');
        .contact {
          font-style: italic;
          padding:10px;
          text-align: center;
          color: $color-ambient-rosa-dark;
        }
      }
      .buttons {
        margin-left:20px;
        min-width: 25%;
        a:nth-child(2) { margin-top: 10px; }
      }
    }

  }
}
@include respond-to(">large") {
  .no-touch section.messenger-page #chat-container {
    min-height: calc(100vh - 70px);
    height: calc(100vh - 70px);
    height: calc(var(--vh, 1vh) * 100 - 70px);
  }
}

// Hack: Hide Thread Action on Touch Devices
.touch .thread-actions {display: none !important;}
