section.payment-form {

  max-width: 600px;
  margin: 0 auto;

  .input-field, .input-select, .input-button {
    margin-bottom:20px;
  }

  textarea {
    min-height: 150px;
  }

  label {
  }

  button {
    width:100%;
  }

  &.-raumteiler {

  }
  &.-mentoring {

  }
  &.-subscription {

  }
  &.-charge {

  }

}
