section.payment-form, section.payment-confirmation {
  max-width: 700px;
  margin: 0 auto;
}

section.payment-form {

  .input-field, .input-select, .input-button {
    margin-bottom:20px;
  }

  textarea {
    min-height: 150px;
  }

  label {
    min-width: 205px;
  }

  button {
    width:100%;
  }

  .triggerBillingInformation {
    display: block;
    margin-bottom: 20px;
    color: $color-ambient-mint-dark;
    font-style: italic;
    font-weight: bold;
  }

  .billing-information {
    display: none;
  }

  // ----------- Form Specific -----------

  &.-subscription {
    .input-button {
      padding-bottom: 30px;
      border-bottom: 1px solid #DBEFEC;
    }
  }

}

section.payment-confirmation {
  p.txt {
    padding-bottom: 20px;
  }
}
