header {
  opacity: 0;
}

[class^=register] {
  margin-bottom: 200px;
  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    span {
      color: $color-ambient-rosa;
    }
  }
  h5 {
    text-align: center;
  }

  .nav-btnBar {
    margin-top: 1.5rem;
  }

  .txt {
    text-align: center;
    margin-bottom: 2rem;
  }

  @include respond-to(">medium") {
    .inner {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

// ---------------------------------------------------------------------- Define Graetzl

.register-searchGraetzl,
.register-decideGraetzl,
.register-selectGraetzl {
  max-width: 800px;
  .address {
    color: $color-ambient-rosa;
    font-style: italic;
    padding: 0 0.4rem;
  }
  .txt-hint {
    font-style: italic;
  }

  @include respond-to(">medium") {
    margin-left: auto;
    margin-right: auto;
    h2 + p {
      text-align: center;
    }
  }
}

.register-decideGraetzl {
  .wrp-inputs {
    margin: 0 auto;
    display: table;
  }
  .radio-group {
    display: table;
  }
}

.register-selectGraetzl {
  .select-group {
    &:first-of-type {
      margin-bottom: 1.2rem;
    }
  }

  @include respond-to(">medium") {
    .wrp-inputs {
      display: flex;
      justify-content: center;
    }
    .select-group {
      width: 49%;
      &:first-of-type {
        margin-bottom: 0;
        margin-right: 2%;
      }
    }
  }
}

// ---------------------------------------------------------------------- Personal Data

.register-personalInfo {
  .input-group, .select-group, .gender-radios {
    margin-bottom: 1.0rem;
  }
}

.neighbourCount {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2.4rem;
  span {
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: 0.2rem;
    color: $color-ambient-rosa;
  }
}

.form-register {
  margin-bottom: 2rem;
  .txt {
    width: 100%;
    color: #808080;
    font-family: $font-secondary;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  @include respond-to(">medium") {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .input-group, .select-group, .wrp-checkboxes {
      width: 49%;
    }
    .username {
      margin-right: 51%;
    }
    .wrp-checkboxes, .birthdate {
      margin-bottom: 0;
    }
  }
}

// ---------------------------------------------------------------------- Confirm E-Mail

.register-confirmMail {
  .txt {
    max-width: 500px;
  }
  @include respond-to(">medium") {
    .txt {
      margin: 0 auto 2rem auto;
    }
  }
  button {
    display: block;
    margin: 0 auto;
  }
}

// ---------------------------------------------------------------------- Upload Portrait

.step-userImg {
  position: relative;
  .uploadPortrait {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .userDummy {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
  }
  .skip {
    float: right;
  }

  @include respond-to(">medium") {
    .uploadPortrait {
      flex-direction: row;
      justify-content: center;
    }
    .userDummy {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
}