section.region {

  .sideflag {
    display: none;
    &.-category {
      display: block;
    }
  }

  #area-map {
    height: 150px;
    @include respond-to(">=medium") {
      height: 500px;
    }
  }

  .navBlock {
    .links {
      display: none;
      @include respond-to(">=medium") {
        width: 400px;
        display: block;
      }
    }
  }

  .activeArea {
    @include respond-to(">=medium") {
      width: 80%;
      height: 100%;
    }
    @include respond-to(">=large") {
      width: 60%;
      height: 100%;
    }
  }

  // Hide Map on Desktop Overview Pages
  &:not(.-overview) {
    @include respond-to(">=medium") {
      .mapImgBlock {
        display: none;
      }
      margin-top: -50px;
    }
    @include respond-to(">=large") {
      .mapImgBlock {
        display: none;
      }
      margin-top: -80px;
      .filter-stream {
        padding-top:55px;
      }
    }
  }

  &.platform-meetings {

    #meeting-categories {
      background-color: transparent;
      box-shadow: none;
      color: #69a8a7;
      border: 1px solid #DBEFEC;
      padding-right:50px;
    }
    select {
      -webkit-appearance: none;
      height:61px;
    }

    .sumo_meeting_category_id {
      .date {
        font-style: italic;
        color: $color-ambient-grey;
        font-weight: normal;
      }
      .optWrapper {
        width: fit-content;
      }
    }

    .cards-filter {
      margin-bottom:40px;
      @include respond-to(">=medium") {
        display: flex;
        justify-content: center;
      }
    }

    margin-top:40px;
    .-top {
      margin-bottom:50px;
      .wrp {
        padding:30px 30px 30px 30px;
        @include font-size-primaryFont('large');
        display: flex;
        flex-wrap: wrap;
        justify-content:center;

        .poweredby-wrp {
          display: flex;
          flex-wrap: wrap;
          justify-content:center;
          align-content: center;
        }

        .illu-wrp {
          align-self: center;
          padding-right: 20px;
          width:100%;
          margin-bottom:10px;
          .illu {
            width:100%;
          }
        }
        .txt {
          width:100%;
        }

        @include respond-to(">=medium") {
          flex-wrap:nowrap;
          .poweredby-wrp {
            justify-content:flex-start;
            width:40%;
            padding-left:10px;
          }
          .illu-wrp {width:50%;}
          .txt {width:50%;}

        }

        .poweredby {
          margin-top:10px;
          padding-left:10px;
          padding-right: 10px;
          padding-top:10px;
          display: block;
          text-align: center;
          img {
            height: 50px;
            width: auto;
          }
          &.-bz {
            img {
              height: 45px;
            }
          }
        }


      }
    }
    .-bottom {
      margin-top:50px;
      .wrp {
        display: flex;
        align-items: top;
        padding:15px;
        h3 {padding-bottom:20px;}
        p {padding-bottom: 20px;}
        .-register {
          display: inline-block;
          float:right;
          transform: rotate(1deg);
        }
        .logo {
          width:20%;
          padding-right:20px;
        }
        .txt {
          width:80%;
        }
      }

    }
  }

}
