[class^=register-] {

  h1 {
    @include font-size-secondaryFont('large');
    margin-bottom: 30px;
    text-align: center;
    @include respond-to(">=large") {
      margin-bottom: 50px;
    }
    span {
      color: $color-ambient-rosa;
    }
  }

  .txt-hint {
    font-style: italic;
  }

  .address {
    color: $color-ambient-rosa;
    font-style: italic;
    padding: 0 0.8rem;
  }

  @include respond-to(">=medium") {
    margin-left: auto;
    margin-right: auto;
  }
}

// ---------------------------------------------------------------------- Define Graetzl


section.register-searchGraetzl {

  .txt {
    text-align: center;
  }

  form {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }

}

section.register-selectGraetzl {
  h1 {
    margin-bottom: 0.2rem;
  }
  .txt {
    text-align: center;
    margin-bottom: 30px;
  }
  .wrp-radios {
    margin: 20px auto 35px auto;
    display: table;
  }
}

// ---------------------------------------------------------------------- Personal Data

section.register-personalInfo, section.register-locationInfo  {
  @include cf();
  .wrp {
    display: table;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 30px;
  }
  h1 {
    display: table;
    margin-bottom: 0;
  }
  .txt {
    @include font-size-secondaryFont('base');
    margin-bottom: 20px;
    text-align: center;
    span {
      color: $color-ambient-rosa;
    }
  }

  .numberUsers {
    font-weight: 600;
    color: $color-ambient-rosa
  }

  form {
    @include respond-to(">=medium") {
      width: 600px;
      display: block;
      margin: 0 auto;
    }
  }
  .btn-primary {
    float: right;
  }
}

.user-login {
  margin-bottom: 3rem;
}


section.register-personalInfo {

  .user-personal {
    margin-bottom: 3.5rem;
    .input-checkbox {
      margin-left: 13px;
    }
  }

  .user-interests {
    margin-bottom: 3.5rem;
  }

  .user-business {
    margin-bottom: 1.0rem;
    border-bottom: 1px solid $color-ambient-mint-light;
  }

  .user-type-selection {
    margin-bottom: 3.5rem;
    padding-bottom: 1.0rem;
    border-bottom: 1px solid $color-ambient-mint-light;
    .input-radio {
      //display: inline-block;
      //margin: 0 10px;
      label {
        @include font-size-primaryFont('large');
        //padding-bottom:5px;
      }
    }
  }

}



.form-register {
  @include cf;

  .input-field,
  .input-select,
  .input-textarea,
  .upload-oldschool,
  .wrp-checkboxes {
    margin-bottom: 1.4rem;
  }

  .wrp-checkboxes {
    //padding-left: 13px;
    .input-checkbox {
      display: inline-block;
      &:first-child {
        @include respond-to(">=medium") {
          margin-right: 20px;
        }
      }
    }
  }

}
