section.region {

  .sideflag {
    display: none;
    &.-category, &.-label {
      display: block;
    }
  }

  #area-map {
    height: 150px;
    @include respond-to(">=medium") {
      height: 500px;
    }
  }

  .navBlock {
    .links {
      display: none;
      @include respond-to(">=medium") {
        width: 400px;
        display: block;
      }
    }
    h1.region-title {
      white-space: nowrap;
    }
  }

  .activeArea {
    @include respond-to(">=medium") {
      width: 80%;
      height: 100%;
    }
    @include respond-to(">=large") {
      width: 60%;
      height: 100%;
    }
  }

  // Hide Map on Desktop Overview Pages
  &:not(.-overview) {
    @include respond-to(">=medium") {
      .mapImgBlock {
        display: none;
      }
      margin-top: -50px;
    }
    @include respond-to(">=large") {
      .mapImgBlock {
        display: none;
      }
      margin-top: -80px;
      .navigation-bar {
        padding-top:55px;
      }
    }
  }

}
