[class^=register-] {

  h1 {
    @extend .hl-main;
    @extend .hl-main.-large;
    text-align: center;
  }

  .txt-hint {
    font-style: italic;
  }

  .address {
    color: $color-ambient-rosa;
    font-style: italic;
    padding: 0 0.8rem;
  }

  @include respond-to(">=medium") {
    margin-left: auto;
    margin-right: auto;
  }
}

// ---------------------------------------------------------------------- Define Graetzl


section.register-searchGraetzl {

  .txt {
    text-align: center;
  }

  form {
    width: 800px;
    display: block;
    margin: 0 auto;
  }

}

section.register-selectGraetzl {
  h1 {
    margin-bottom: 0.2rem;
  }
  .txt {
    text-align: center;
  }
  .wrp-radios {
    margin: 20px auto 35px auto;
    display: table;
  }
  .wrp-selects {
    margin: 20px auto 35px auto;
  }
  .input-select {
    &:first-of-type {
      margin-bottom: 1.2rem;
    }
  }


  @include respond-to(">=medium") {
    .wrp-selects {
      @include cf();
    }
    .input-select {
      width: 49%;
      margin-right: 2%;
      float: left;
      &:first-of-type {
        margin-bottom: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// ---------------------------------------------------------------------- Personal Data

section.register-personalInfo {
  @include cf();
  .wrp {
    display: table;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 4rem;
  }
  h1 {
    display: table;
    margin-bottom: 0;
  }
  .link-subtle {
    text-align: center;
    display: block;
    margin-top: -10px;

  }
  .txt {
    @extend .hl-main;
    @extend .hl-main.-small;
    text-align: center;
  }

  .numberUsers {
    font-weight: 600;
    color: $color-ambient-rosa
  }

  form {
    @include respond-to(">=medium") {
      width: 600px;
      display: block;
      margin: 0 auto;
    }
  }
  .btn-primary {
    float: right;
  }
}

.user-login {
  margin-bottom: 1.8rem;
}
.user-personal {
  margin-bottom: 3.0rem;
}



.form-register {
  @include cf;

  .input-field,
  .input-select,
  .upload-image,
  .wrp-checkboxes {
    margin-bottom: 1.4rem;
  }

  .wrp-checkboxes {
    padding-left: 13px;
    .input-checkbox {
      display: inline-block;
      &:first-child {
        @include respond-to(">=medium") {
          margin-right: 20px;
        }
      }
    }
  }

  .imgCrop {
    margin: 0 auto 1rem auto;
    width: 100px;
    height: 100px;
    img {
      width: auto;
    }
  }

}