// ------------------- REGION CALL
section.region_calls {

  padding-bottom: 60px;

  .-form-headline {
    margin-top:50px;
    margin-bottom:20px;
  }

  .-initiativen-headline {
    margin-top:50px;
    margin-bottom:70px;
  }

  .form-block {
    label {
      min-width: 200px;
    }
    .btn-primary {
      width:100%;
      margin:auto;
    }
  }

  .-fullwidth-welocally {
    > div {
      max-width: 980px;
      margin: auto;
    }
  }

  .-header-headline {
    margin-top: 70px;
    margin-bottom: 70px;
    h1 {
      margin-bottom:20px;
    }
    @include respond-to("<=medium") {
      margin-top: 50px;
      margin-bottom: 50px;

    }
  }
  .imgHeader {
    overflow: visible;
  }
  .imgHeader::after {
    background-image: url(image_path('campaigns/call/header.jpg'));
  }
  .imgHeader h1 {
    background-image: url(image_path('svg/speech-bubble-wide-rotate.svg'));
    padding: 60px 20px 20px 25px;
    top: -10px;
    left:100px;
    z-index: 2;
    @include respond-to("<=medium") {
      padding: 40px 20px 20px 20px;
      left:70px;
    }
  }
  .imgHeader h2, .imgHeader h2 span  {
    font-family: $font-primary;
    background-image: none;
    color: #000;
    text-shadow:none;
    font-weight: bold;
    font-size: 4.5rem;
    @include respond-to(">=medium") {
      font-size: 5.5rem;
    }
    @include respond-to(">=large") {
      font-size: 6.0rem;
    }
  }
  .imgHeader h2 span {
    font-size: 2.5rem;
    @include respond-to(">=medium") {
      font-size: 3.5rem;
    }
    @include respond-to(">=large") {
      font-size: 4.0rem;
    }
  }
  .screenshot {
    position: absolute;
    width:350px;
    height:auto;
    left:15%;
    bottom:-70px;
    z-index:1;
    @include respond-to("<=large") {
      display: none;
    }
  }
  .register-line {
    background-color: #daedec;
    padding:0px !important;
    h3 {
      text-align: center;
    }
  }
  .register-line div {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    //color: $color-ambient-mint-dark;
    .btn-primary {
      width:40%;
    }
  }
  .variants {
    display: flex;
    justify-content: center;
    padding-bottom:50px;
    .variant {
      text-align: center;
      width:240px;
      padding-left:20px;
      padding-right:20px;
    }
    img {
      width:150px;
      height:auto;
    }
    a {
      font-style: italic;
      color: $color-font-primary;
    }
  }
  .infos {
    @include font-size-primaryFont('large');
    display: flex;
    margin-top:50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      width:100%;
      height:auto;
    }
    p {
      margin-bottom:30px;
      @include respond-to(">=medium") {
        width:48%;
        margin-bottom:0px;
      }
    }
  }
  .ablauf {
    margin-bottom:50px;
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      .item {
        width:100%;
        @include respond-to(">=medium") {
          width:32%;
        }
        height:150px;
        z-index: 2;
        &::before {
          content: '';
          font-size: 11.5rem;
          position: relative;
          display: block;
          color: white;
          z-index: -1;
          font-weight: bold;
        }
        &.-item1 {&::before {content: '1'}}
        &.-item2 {&::before {content: '2'}}
        &.-item3 {&::before {content: '3'}}
        &.-item4 {&::before {content: '4'}}
        &.-item5 {&::before {content: '5'}}
        &.-item6 {&::before {content: '6'}}
        &.-item7 {&::before {content: '7'}}
        span {
          display: block;
          position: relative;
          top:-75px;
          margin-left:45px;
        }
        strong {
          @include font-size-primaryFont('large');
        }
      }
    }
    .hint {
      margin-top:30px;
      text-align: center;
    }
  }
  .card-slider-container {
    height:300px;
  }
  .costs {
    .cost {
      display: flex;
      flex-direction: column;
      h4 {
        color: $color-ambient-mint-dark;
        border-top: 5px solid $color-ambient-mint-dark;
        padding-top:10px;
        margin-top:10px;
      }
      img {
        height:50px;
        width:auto;
        margin-left: auto;
        margin-right: auto;
      }
      .title {
        margin-top:20px;
        font-style: italic;
      }
      .price {
        @include font-size-primaryFont('large');
        font-weight:bold;
        span {
          @include font-size-primaryFont('base');
          font-weight:normal;
          color: $color-ambient-grey;
        }
      }
      @include cf();
    }
  }
  .call-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .form-block {
      margin-bottom: 0px;
      width:72%;
    }
    .contact {
      width:27%;
    }
    @include respond-to("<=medium") {
      .form-block, .contact {
        width:100%;
      }
    }
    .contact .bigicontext-element {
      margin-bottom: 10px;
    }
    textarea {
      min-height: 120px;
    }
  }
  small.hint {
    display: block;
    text-align: justify;
  }
}
