section.reports {

  div#report_nav {
    text-align: center;
    margin:10px 0px 20px 0px;

    button.btn-primary {
      display:inline;
    }
  }

  .nav-months {
    width: 350px;
    margin:auto;
    margin-bottom: 25px;
    margin-top: -15px;
  }
  .dtb td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:200px;
  }
  .dtb th.-id {
    width:50px;
  }

  .dtb th.-date {
    width:150px;
  }
  .dtb th.-count {
    width:100px;
  }

  .user_content .-more div {display:none;}
  .user_content .-more div:nth-child(-n+3) {display:block}
  .showmorelink {margin-top:5px; margin-left: 36px; font-style: italic;}

  div#top {height:220px;}
  div#topWideChart {height:220px;}
  div#topPieChart {width:700px; height:220px; margin:auto;}
  div#report_nav {padding-top:20px; padding-bottom: 30px;}

  div#page_search {margin-bottom:40px;}

  img.loading-spinner {padding-top:30px;}

  td.details-control svg.over {color:#EC776A; cursor: pointer;}
  th {text-align: left;}
  .datatable_users tr.shown + tr {background-color: #fcfcfc;}
  .datatable_users tr.odd, .datatable_users tr.even {cursor: pointer;}

  /* Single-User Page */
  #user_top {
    display:flex; justify-content:space-between; align-items:flex-end;
    border-bottom: 1px solid #DEEAE6;
    padding-bottom:30px;
    margin-bottom:30px;
  }
  #user_top img {width:150px; height:150px; margin-right: 10px;}
  #user_top .profile {display:flex; align-items:center; min-width: 440px;}
  #user_top .profile div.facts {margin-top: 20px;}
  #user_top .profile div.name {font-weight: bold;}
  #user_top .profile div.name a {font-weight: normal;}
  #user_top ul.tag-list {display: inline-block; margin-left:6px;}
  #user_top ul.tag-list li {
    margin-top:0px;
    margin-bottom:0px;
    padding:3px 10px;
    margin-right:6px;
    float:none;
    display: inline-block;
  }
  #user_top ul.tag-list li.business {background-color: #83C7BD; color:white;}
  #user_top ul.tag-list li.admin {background-color: #EC776A; color:white;}

  #u_zip span:nth-child(2n)::before {
    content: ", ";
  }
  .user_content {
    display:flex; justify-content:space-between; align-items:flex-start;
  }
  .user_content div.wrp {padding-bottom:50px;}
  .user_content.-bottom {
    border-top: 1px solid #DEEAE6;
    padding-top:30px;
  }
  .user_content div.-small {width:50%;}
  .user_content div.-wide {width:50%;}
  .user_content .u_block svg {display: inline-block;}
  .user_content div.title {margin-bottom: 10px; display: flex; align-items: center;}
  .user_content div.title span {font-weight:bold; font-size: 2.0rem; padding-left: 8px;}
  .user_content em.empty {color:#aaaaaa; padding-left:36px; white-space: nowrap;}

  .user_content ul.tag-list li {
    margin-top:0px;
    margin-bottom:0px;
    padding:3px 10px;
    margin-left:10px;
    float:none;
    display: inline-block;
  }

  #u_location div, #u_room div, #u_meeting div, #u_update div,#u_mc_activity div {margin-left: 36px; margin-bottom: 7px;}
  #u_mc_activities .title {margin-bottom: 10px;}
  #u_mc_activity .time {display: inline-block; min-width:110px; text-align: right; white-space: nowrap;}
  #u_mc_activity .action {display: inline-block; min-width:110px; text-align: center;}
  #u_mc_activity .action .bounce li {background-color: red; color:white;}
  #u_mc_activity .action .click li {background-color: #EC776A; color:white;}
  #u_mc_activity .action .open li {background-color: #83C7BD; color:white;}
  #u_mc_activity .action .sent li {}
  #u_mc_activity .name {font-style: italic;}

}
