section.roomDetail {

  .cardBox {
    &.-group {
      @include respond-to(">=large") {
        display: flex;
        align-items: stretch;
        .cardBoxHeader {
          margin:0px;
          width:40%;
          .coverImgWrapper {
            height:100%;
          }
          .sideflag {
            display: none;
          }
        }
        .cardBoxContent {
          margin-left:25px;
          width:60%;
        }
      }
    }
  }

  &.-Offer {

    .headContent {
      z-index: 10;
      right:0px;
      text-align: center;

      .category-tags {
        text-align: center;
        margin: 20px 0px 10px 0px;
        justify-content: center;
      }

      .category-tags ul {
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        margin-left: 20px;
        justify-content: center;
        @include respond-to(">=medium") {
          justify-content: flex-start;
        }
      }

      .category-tags li {
        margin-right: 10px;
        margin-bottom: 10px;
        @include respond-to(">=medium") {
          //float: right;
        }
      }

    } // headContent


    .imgHeader {
      position: relative;
      z-index: 10;

      @include respond-to(">=medium") {
        max-height: 420px;
      }
      @include respond-to(">=large") {
        min-height: 420px;
        .titleImg {border-bottom: 10px solid $color-ambient-mint-light;}
      }

      .introtxt {
        margin-bottom: 0px;
      }

      .dropdown-container {
        z-index: 600;
        transform: translate(-20px, 0);
        width: 270px;
        @include respond-to(">=medium") {
          display: none;
        }
      }

      .createentry {
        background-image: none;
        background-color: rgba($color-ambient-mint-dark, 0.75);
        color: #fff;
        cursor: pointer;
        position: absolute;
        right: 30px;
        bottom: 0;
        z-index: 2;
        width: 40px;
        height: 40px;
        @include respond-to(">=medium") {
          display: none;
        }
      }
    }


    .mainContent {
      margin: 0px;
    }

    @include respond-to(">=small") {
      .headContent {
        margin-top: 0px;
        h1 {
          margin-bottom:10px;
        }
      }
      .mainContent {
        top:10px;
      }
    }

    @include respond-to(">=medium") {
      aside {
        top:40px;
      }
      .headContent {
        position: absolute;
        bottom: 20px;
        text-align: right;

        h1 {
          background-size: 100% 100%;
          background-image: url(image_path('svg/headline-bubble-bg.svg'));
          background-repeat: no-repeat;
          padding: 6px 12px 17px 30px;
          min-width: 470px;
          margin-right:-1px;
          //text-shadow: 1px 1px #ba564d;
        }
        .category-tags {
          text-align: left;
        }
      }
      .mainContent {
        top:40px;
      }
    }
    @include respond-to(">=large") {
      aside {
        top:-50px;
      }
      .mainContent {
        top:45px;
      }
      .headContent {
        max-width: 515px;
      }
    }

    .sideBarbox {

      &.-top {
        padding-top:15px;
        background-color: $color-ambient-orange-light;
      }

      border: 1px solid $color-ambient-grey-light;
      background-color: #ffffff;
      border-radius: 8px;

      .headline-slots {
        display: flex;
        justify-content: center;
        h3 {
          padding-right: 20px;
        }
      }

      h3.sidebar {
        text-align: center;
        padding-bottom:15px;
      }

      a.btn-primary {
        color: white;
      }

      &.waiting-list {
        margin-top:60px;
        padding-bottom:20px;
      }

      &.-pricing {
        h3.sidebar {
          padding-top:15px;
        }
        .pricing-list {
          border-top: 1px solid $color-ambient-grey-light;
          padding-top:20px;
        }
        .iconlist {
          background-color: white;
        }
        background-color: $color-ambient-mint-light;
      }

      &.contact {
        margin-top:60px;
      }
      &.contact:first-child {
        @include respond-to(">=medium") {
          margin-top:0px;
        }
      }
    }

    .pricingForm {
      padding: 15px;
      padding-top:0px;
      background-color: white;
    }

    #rental-form-container {
      background-color: white;
      .btn-primary {width:100%;}
    }

    .rental-information {
      margin-bottom: 20px;
      h3 {
        //@include font-size-primaryFont('small');
        text-align: center;
        border-top: 1px solid $color-ambient-grey-light;
        padding-top:15px;
        margin-top: 10px;
      }
      ol {
        margin-left:35px;
        padding-right:15px;
        list-style: none; /* Remove default bullets */
      }
      ol li::before {
        content: "1.";
        color: $color-ambient-mint-dark;
        display: inline-block;
        font-weight: bold;
        width:20px;
        margin-left:-20px;
      }
      ol li:nth-child(2)::before {
        content: "2.";
      }
      ol li:nth-child(3)::before {
        content: "3.";
      }
      li {
        padding-top:15px;
        font-style: italic;
        //color:$color-ambient-grey;
      }
    }

    .request-price-form {
      border-top: 1px solid $color-ambient-grey-light;
      padding-top:15px;
      margin-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;

      .input-field, .input-select {
        margin-bottom: 15px;
      }

      .input-field, .input-select {
        overflow: hidden;
        @include respond-to("<medium") {
          @include field-HorizontalLayout;
        }
      }
      .input-field label, .input-select label {
        min-width:50px !important;
        max-width:50px !important;
      }
      .hidden {display: none;}

    }

    .waiting-list {
      h3 svg {
        display: inline-block;
      }
      ul, .wait-list-wrapper {
        padding-left: 15px;
        padding-right: 15px;
      }
      .btn-userIcons {
        margin-top:15px;
        color: white;
        width:100%;
        img {
          border-color: $color-ambient-mint-dark;
        }
      }
      .wait-list-wrapper {
        p {
          font-style: italic;
        }
      }

      ul {
        list-style-type: none;
        li.waiting-list-user {
          position: relative;
          display: inline-block;
          margin-right:5px;
          margin-top:5px;
        }
      }
    }

  } // Room-Offer


  &.-Demand {

    .introtxt h3 {
      margin-top:20px;
    }

    .imgHeader {
      overflow: visible;
      @include respond-to(">=medium") {
        min-height: 180px;
      }

    }

    .titleHeadline {
      .category-tags {
        margin: 20px -5px 20px;
      }
      @include respond-to(">=medium") {
        color: $color-ambient-mint;
        bottom: -85px;
        left: 150px;
        padding: 25px 40px 0px 100px;
        z-index: 11;
        margin-bottom: 0;
        max-width: 100%;
      }
      @include respond-to(">=large") {
        color: $color-ambient-mint;
        bottom: -85px;
        left: 150px;
        padding: 25px 40px 0px 100px;
        z-index: 11;
        margin-bottom: 0;
        max-width: 100%;
      }

    }

    .sideBarbox {
      margin-bottom: 20px;
      .category-tags {
        margin: 0px 0px 20px;
      }
    }

    .userContent {
      @include cf;
      margin-bottom: 50px;
      @include respond-to(">=medium") {
        margin-bottom: 80px;
      }

      .col1 {
        margin-bottom: -50px;
        position: relative;
        z-index: 2;
        @include respond-to(">=medium") {
          @include col(1/3);
          margin-top: -90px;
          max-width: 240px;
        }
        @include respond-to(">=large") {
          @include col(1/3);
          margin-top: -120px;
          margin-left: -20px;
        }
        .img-round {
          width: 100px;
          height: 100px;
          margin: 0 auto 20px auto;
          display: block;
          @include respond-to(">=medium") {
            width: 200px;
            height: 200px;
            padding: 6px;
            margin-left: 0;
          }
          @include respond-to(">=large") {
            width: 250px;
            height: 250px;
            padding: 6px;
            margin-left: 0;
          }
        }
        .icontxt {
          margin-bottom: 10px;
        }
      }

      .col2 {
        @include font-size-primaryFont('large');
        @include respond-to(">=medium") {
          @include col(2/3);
          padding-top: 50px;
          padding-right: 40px;
        }
      }
    }
  }



  @include cf;

  main {
    padding-bottom: 0;
  }

  section {
    margin: 3em 0;
  }

  section.owner .wrapper {
    display: flex;
    flex-direction: column;

    @include respond-to(">=medium") {
      flex-direction: row;
    }
  }

  .bigicontext-element {
    margin-bottom: 1em;
  }

  .wrp {
    h1 {
      @include font-size-secondaryFont('medium');
      color: $color-font-primary;
    }
    @include respond-to(">=large") {
      left:30px;
    }
  }

  .introtxt {
    margin-bottom: 30px;

    h1 {
      @include font-size-secondaryFont('large');
      text-align: center;
      margin-bottom: 30px;
      color: $color-font-primary;
      @include respond-to(">=medium") {
        text-align: left;
      }
    }
    h3 {
      @include font-size-primaryFont('larger');
      margin-bottom: 15px;
    }
  }
  .mainContent .txt {
    white-space: pre-wrap;
  }

  .iconlist {
    padding: 15px;
    padding-top:0px;
    > * {
      margin-bottom: 20px;
    }

    div:last-child {
      margin-bottom: 0px;
    }

  }

  .btn-group + .btn-group {
    margin-bottom: 10px;
  }

  .sideBar {
    position: relative;
    z-index: 10;
    margin: 0 auto 40px auto;

    & > * {
      margin-bottom: 40px;
    }

    @include respond-to(">=large") {
      margin: 0 0 60px -25px;
    }
    .cardBox.-zuckerl {
      margin-bottom: 40px;
    }

    .-contact {
      margin-bottom: 20px
    }

    aside.location {
      margin-bottom: 20px;
      a.updateteaser, a.event-teaser-box {
        display: none;
      }
    }
    .created {
      //@include font-size-primaryFont('small');
    }

  }

  .action-container {
    padding-left: 25px;
    margin-bottom: 20px;
    display: none;
    @include respond-to(">=medium") {
      display: block;
    }
    a {
      text-decoration: none;
      margin-bottom: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .action-container + .sideBarbox.contact {
    margin-top: 40px;
  }

  .sideBar .sideflag {
    text-decoration: none;
    margin-left: -12px;
    margin-top: -17px;
  }

  .bigicontext-element {
    .txt {
      font-size: 1.2em;
      margin-left: 24px;
    }
  }

  .mainContent {
    position: relative;
    z-index: 8;
    margin-bottom: 3em;
    h2 {
      @include font-size-secondaryFont('large');
      text-align: center;
      color: $color-ambient-rosa;
      margin-bottom: 20px;
      @include respond-to(">=medium") {
        text-align: left;
        margin-bottom: 0;
      }
    }

    @include respond-to(">=medium") {
      margin-top: -28px;
      margin-bottom: 0;
      width: calc(100% - 295px);
      z-index: 9;
    }
    @include respond-to(">=large") {
      width: calc(100% - 280px);
    }
  }

  // Gallery Pics
  .entryImgUploads {
    img {
      width: 152px;
      height:152px;
      object-fit: cover;
      @include respond-to(">=large") {

      }
    }
  }

  .pricing-list {

    margin: 0;
    list-style: none;
    width:100%;

    li {
      display: flex;
      clear:both;
      margin-bottom: 20px;
      div.cost {
        display:table;
        color: $color-ambient-mint-dark;
        min-width: 30px;
        white-space: nowrap;
        margin-right:9px;
      }
      div.costname {
      }
    }
    li:last-child {
      margin-bottom: 0px;
    }
  }

  .category-tags {
    margin: 20px 0px 40px;
    .bigicontext-element {
      margin-bottom: 20px;
    }
  }

  .staff {
    img {
      width: 40px;
      height: 40px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .contact-infos {
    a {
      color: $color-ambient-mint;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .owner-inactive-msg {
    margin-bottom:20px;
  }

  .contact-login-msg, .owner-inactive-msg {
    @include font-size-primaryFont('large');
    border: 1px solid $color-ambient-grey-light;
    border-radius: 8px;
    padding:20px;
    font-style: italic;
    background-color: #FEF6DF;
    color: #cd891b;
    a {
      color: #cd891b;
    }
    &.-show {
      @include font-size-primaryFont('base');
      background-color: white;
      font-style: normal;
      color: $color-font-primary;
      a {
        color: $color-ambient-mint;
      }
      #show-contact-link {
        font-weight:bold;
        font-style: italic;
      }
    }
  }

  #GAinfos {
    display:none;
  }

  .contact, .waiting-list {
    border: 1px solid $color-ambient-grey-light;
    background-color: #ffffff;
    border-radius: 8px;
  }
  .contact {
    a {
      //color: $color-ambient-mint;
      text-decoration: none;
      //margin-bottom: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    .address {
      margin-bottom: 20px;
      align-items: flex-start;
    }

    .gmap {
      img {
        display: block;
        width: 100%;
      }
    }
    .user-wrp {
      display: flex;
      align-items: center;
      .img-round {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
}
