.room-call-page {

  .imgHeader {
    border-bottom: 1px solid #DEEAE6;
  }

  // Title Bulge over Title-Image
  .bulge-wrapper {
    text-align: center;
    position: relative;
    top:-35px;
    margin-bottom:-35px;
    z-index: 5;

    .bulge-container {
      display:inline-flex;
      flex-wrap: wrap;
      justify-content: center;

      .bulge {
        &.-top {
          width:100%;
          height:35px;
          display: flex;
          justify-content: center;
          img {
            height:35px;
          }
          img.bulge-middle {
            width:90%;
          }
        }
        &.-bottom {
          margin-top:-20px;
        }
      }
      h1 {
        @include font-size-secondaryFont('larger');
        color: $color-ambient-rosa;
        display:inline-flex;
        padding-bottom:15px;
      }
    }
  } // Bulge Wrapper

  .hl-subtext {
    text-align: center;
    margin-bottom: 60px;
    p {
      @include font-size-secondaryFont('base');
    }
  }

  h2 {
    @include font-size-secondaryFont('medium');
    color: $color-ambient-rosa;
    text-align: center;
    margin-bottom: 40px;
  }

  h3 {
    @include font-size-primaryFont('larger');
    margin-bottom: 10px;
  }

  // ------------------------ SECTIONS -------------------------- //
  section {
    margin-bottom:40px;
    @include respond-to(">=medium") {
      margin-bottom:70px;
    }
    //@include cf;

    //  Info Section ------------------------
    &.info-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .description {
        width:100%;
        padding-bottom:30px;
        p {
          margin-bottom: 20px;
          white-space: pre-wrap;
        }
        p:last-of-type {
          margin-bottom: 0px;
        }
        img {display: none;}
      }
      .cardBox {
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .img-round {
          width:28px;
          height:28px;
          margin-right:12px;
        }
      }

      @include respond-to(">=medium") {
        .description {
          padding-right:30px;
          padding-bottom:0px;
          width:67%;
          img {
            width:100%;
            display: block;
          }
        }
        .cardBox {
          width:32%;
        }
      }
      .cardBox {
        padding:0px;
        border-color: $color-ambient-rosa;
        h3, strong, p {
          padding: 0px 20px 20px 20px;
        }
        h3 {
          margin: 20px 0px 0px 0px;
        }
        .btn-userIcons {
          width:100%;
          svg {margin-right:10px;}
        }
      }
    } // Section


    //  Modules Section ------------------------
    &.modules-section {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;

      h2 {width:100%; display: block;}

      div.room-module-item {
        display: flex;
        width:100%;
        margin-bottom: 30px;

        @include respond-to(">=medium") {
          width:47%;
        }
        .bigicontext-element {
          margin-right: 15px;
          align-self: center;

        }
        .description {
          p {white-space: pre-wrap;}
        }
      }

      div.room-module-item:last-child {
        margin-bottom: 0px;
      }

    } // Section

    //  Prices Section ------------------------
    &.prices-section {

      h3 {
        span {
          font-style: italic;
          font-weight: normal;
          @include font-size-primaryFont('base');
        }
      }

      .paperCard {
        padding: 30px 10px 20px 30px;
        margin-bottom:70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
      .paperCard:nth-last-child(n+1) ~ .paperCard:last-child {
        margin-bottom:0px;
      }

      .room-price-description {
        padding-right:20px;
        h3 {
          //color: $color-ambient-mint-dark;
        }
        @include respond-to(">=medium") {
          width: 40%;
        }
      }

      .room-price-features {
        @include respond-to(">=medium") {
          width:60%;
          border-left: 1px solid $color-ambient-grey-light;
          padding-left:20px;
        }
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;

        .info {
          width:100%;
          margin-bottom: 10px;
          font-style: italic;
        }

        li {
          width:50%;
          list-style-type: none;
          display: flex;
          align-content: center;
          align-items: center;
          svg {
            display: inline-block;
            fill: $color-ambient-grey;
            margin:2px 8px 2px 0px;
            min-width: 28px;
          }
        }

      }

      .room-price-amount:before {
        margin-top:15px;
        margin-bottom:15px;
        content: '';
        width: 100%;
        height: 10px;
        bottom: 0;
        left: 0;
        background-image: radial-gradient(ellipse farthest-side at center bottom, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 40%);
        pointer-events: none;
        z-index: 9;
      }

      .room-price-amount {

        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .info {
          @include font-size-secondaryFont('small');
          color: $color-ambient-mint-dark;
          display: none;
          @include respond-to(">=medium") {
            //display: block;
          }
        }

        .monthly-amount {
          @include font-size-secondaryFont('large');
          color: $color-ambient-mint-dark;
          span {
            @include font-size-secondaryFont('small');
          }
        }
      }
    } // Section

    //  Map Section ------------------------

    &.map-section {
      height:400px;
      &.cardBox {
        padding:5px;
      }
    }

    //  Gallery Section ------------------------

    &.photos-section {

      .gallery {
        @include cf;
        img {
          float: left;
          display: block;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 5px;
          background-color: #ffffff;
          background-image: $texture-secondary;
          box-shadow: $boxShadow-light;

          // Image Grid
          // https://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has

          // Standard Grid 33%
          width: calc(33.33% - 10px);

          @include respond-to("<=medium") {
            width: calc(50% - 10px);
          }
          @include respond-to("<=small") {
            width: 100%;
          }
        }

        /* just one item */
        a:first-child:nth-last-child(1) {
          img {
            width: 100%;
          }
        }

        /* just two items */
        a:first-child:nth-last-child(2),
        a:first-child:nth-last-child(2) ~ a {
          img {
            width: calc(50% - 10px);
          }
        }

      }

    } // End Single Section

    //  Submission Section ------------------------
    &.submission-section {

      .subtitle {
        text-align: center;
        //margin-top:-20px;
      }
      p.description {white-space: pre-wrap;}

      .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        .left {
          width:60%;
          @include respond-to("<=large") {
            width:100%;
          }
        }
        .right {
          width:35%;
          @include respond-to("<=large") {
            width:100%;
            margin-top: 20px;
          }
        }
        .contact-infos {
          a {
            color: $color-ambient-mint;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          .img-round {
            width:28px;
            height:28px;
            margin-right:12px;
          }
        }
      }

      .steps {
        margin-top:50px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;

        .step {
          flex-grow: 1;
          width:24%;
          text-align: center;
          .bigicontext-element {
            display: inline-flex;
          }
          h3 {
            margin:15px 0px 15px 0px;
          }
          &.-active {
            .bigicontext-element {
              background-image: url(image_path('svg/kringel-grey-rosa.svg'));
              svg {
                fill: $color-font-primary;
              }
            }
          }
        }

        .line {
          flex-grow: 2;
          img {width:100%;}
          padding-top:30px;
          width:14%;
        }
      }

      .loginpanel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:70px;
        flex-wrap: wrap;

        span {
          padding: 10px 20px;
          text-align: center;
          @include respond-to("<=medium") {
            width:100%;
          }
        }

        .btn-primary {
          //width:270px;
        }
      }

      .info-msg {
        @include font-size-primaryFont('large');
        border: 1px solid $color-ambient-grey-light;
        border-radius: 8px;
        padding:20px;
        font-style: italic;
        background-color: #FEF6DF;
        color: #cd891b;
        a {
          color: #cd891b;
        }
      }

      .submission_form {
        margin-top:80px;

        h3 {
          margin-bottom:10px;
        }
        .input-field {
          margin-bottom:30px;
        }
        .btn-primary {
          margin: auto;
        }
        textarea {
          min-height:110px;
        }

      }

    } // End Single Section

    //  Submission Section ------------------------
    &.submissions-section {
      .users {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      .user {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 10px;
        width:31%;
        margin:10px;
        img.user {
          margin:5px;
        }
        .img-round {
          width: 100px;
          height: 100px;
        }
        @include respond-to("<=large") {
          width:45%;
        }
        @include respond-to("<=medium") {
          width:95%;
        }
        .infos {
          width: calc(100% - 140px);
          margin-left:10px;
          font-style:italic;
          @include ellipsis();
        }
      }
    }

    //  Group Section ------------------------
    &.group-section {
      .cardBox {
        &.-group {
          @include respond-to(">=medium") {
            display: flex;
            align-items: stretch;
            .cardBoxHeader {
              margin:0px;
              width:40%;
              .coverImgWrapper {
                height:100%;
              }
            }
            .cardBoxContent {
              margin-left:25px;
              width:60%;
            }
          }
        }
      }
    } // END Group Section

  }
  // ------------------------ END SECTIONS -------------------------- //



  // -- CALL SUBMISSION USER PAGE -- //
  &.-submission {

    .hl-subtext {
      margin-bottom: 30px;
      div {
        @include font-size-primaryFont('larger');
      }
    }

    .user {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;
      img.user {
        margin:5px;
        margin-right:15px;
      }
      .img-round {
        width: 100px;
        height: 100px;
      }
      .infos {
        font-style:italic;
        @include ellipsis();
      }
    }
    .user-answers {
      margin-bottom:30px;
      p {
        white-space:pre-wrap;
        margin-bottom:30px;
      }
    }
  }



} // END Room Call Page

// Print Css for Call Pages
@media print {
  [data-controller='room_calls'] {
    header, footer {
      display:none;
    }
    .-submission {
      .nav {display: none;}
    }
  }
}
