section.room-form {

  h2 {
    font-size: 3rem;
    margin: 40px 0 15px;
    text-align: center;
  }

  .room-offer-type-selection {
    text-align: center;
    .input-radio {
      display: inline-block;
      margin: 0 30px;
    }
  }

  .room-categories {
    overflow: hidden;
    margin: 2rem 0 2rem;
    .input-checkbox {
      float: left;
      width: 25%;
    }
  }

  .room-tags {
    margin: 2rem 0 2rem;
    overflow: hidden;
    .input-checkbox {
      float: left;
      width: 25%;
    }
  }

  .room-size {
    overflow: hidden;
    .column-left { float: left; width: 50%; padding-right: 10px; }
    .column-right { float: right; width: 50%; padding-right: 10px; }
  }

  .room-prices {
    .input-field {
      float: left;
      margin-right: 30px;
    }
    .input-field.price {
      label { min-width: 50px; }
      min-width: 200px;
    }
    .input-field.name {
      min-width: 500px;
    }
    .room-prices-links { clear: left; }
    .nested-fields { overflow: hidden; }
  }

  .bezirk-graetzl-select {
    input[type=checkbox]:not(:checked) + label {
      display: none;
    }
  }
}
