section.room-form {
  max-width: 775px;
  margin: 0 auto;
  label {min-width:175px;}
  textarea {min-height:150px;}

  h2 {
    @include font-size-secondaryFont;
    margin: 40px 0 15px;
    text-align: center;
  }

  div.hl-subtext {
    margin: 40px 0 15px;
    h1 { margin: 0px 0 15px; }
    h2 { margin: 0px 0 5px; }
    p {
      @include font-size-primaryFont('large');
    }
  }

  .input-button {
    display: flex;
    justify-content: flex-end;
    margin-top:15px;
    .btn-primary {
      display: inline-block;
    }
    .btn-secondary {
      margin-right:15px;
    }
    .btn-primary:only-child {
      margin-left: auto;
    }
  }

  .room-categories, .room-tags {
    overflow: hidden;
    margin: 2rem 0 2rem;
    .input-checkbox {
      float: left;
      width: 100%;
      @include respond-to(">=small") {
        width: 50%;
      }
      @include respond-to(">=medium") {
        width: 33%;
      }
    }
  }

  .room-columns {
    overflow: hidden;
    .column-left { float: left; width: 50%; padding-right:10px;}
    .column-right { float: right; width: 50%;}
  }

  .input-select {
    .SumoSelect > .optWrapper > .options li.opt.disabled { display: none; }
  }

  .button-switch {
    text-align: center;
    margin-top: 10px;
    .btn-primary {
      display:inline-table;
      span {text-decoration: underline; font-weight: bold;}
      margin: 10px;
    }
  }

  // tabs-nav
  .tabs-nav {
    display: flex;
    justify-content: center;

    li {
      width:100%;
      text-align: center;
      white-space: nowrap;
    }
    .desk {
      display: none;
      @include respond-to(">=medium") {
        display: inline-block;
      }
    }
    .mob {
      display: none;
      @include respond-to("<medium") {
        display: inline-block;
      }
    }
  }

}

section.room-offer-form {

  label {min-width:185px;}

  .availability {
    .day {
      @include respond-to(">small") {
        width:42.0%;
      }
      label {min-width:150px;}
    }
    .time {
      @include respond-to(">small") {
        width:26.5%;
      }
      label {min-width:20px;}
    }
  }

  .room-offer-type-selection {
    text-align: center;
    .input-radio {
      display: inline-block;
      margin: 0 10px;
      label {
        @include font-size-primaryFont('larger');
        padding-bottom:5px;
      }
    }
  }

  .room-prices {
    .nested-fields { 
      margin-bottom:20px;
      border-bottom: 1px solid $color-ambient-mint-light;
    }
  }

  .slot-radios {
    display: flex;
    justify-content: center;
    label {
      min-width: 0px;
      margin-right: 20px;
      cursor: pointer;
    }
  }

}

section.room-call-form {
  label {min-width:185px;}
  p.subline, h3.subline {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }

  .room-modules, .room-prices, .room-call-fields {
    .nested-fields {
      margin-bottom:20px;
      border-bottom: 1px solid $color-ambient-mint;
    }
  }

  .btn-delete {
    margin: 15px 0px 0px 15px;
  }
}
