.room-rental-page {

  .rental-date-form {
    .nested-fields {
      margin-bottom:20px;
      position: relative;
      //border-bottom: 1px solid $color-ambient-mint-light;
      //padding-bottom:20px;
      a.remove_fields {
        position: absolute;
        top:5px;
        right:10px;
        @include respond-to(">=medium") {
          top:15px;
        }
      }
    }

    .nested-fields:first-of-type {
      .remove_fields { display: none; }
    }

    .additional-dates-links {
      margin-top: 20px;
      margin-bottom: 20px;
    }

  }

  .date-fields {
    @include respond-to(">medium") {
      @include cf();
      .input-field, .input-select {
        &:nth-of-type(1) { @include col(4/4); }
        &:nth-of-type(2) {
          @include col(2/4);
          margin-bottom: 0;
        }
        &:nth-of-type(3) {
          margin-bottom: 0;
          [class^=icon] {
            transform: rotate(90deg);
          }
          @include col(2/4);
        }
      }
    }
  }
}

.room-rental-timetable-page {
  text-align: center;
  .rental-timetable {
    position: relative;
    border-collapse: collapse;
    @include font-size-primaryFont('small');
    thead {
    }
    th {
      background: $color-ambient-bright;
      width: 40px;
      height:30px;
      border: 1px solid $color-ambient-grey;
      position: sticky;
      top: 0;
      color: $color-font-primary;
      border-top:none;
    }
    th:first-child {
      border-top:none;
      border-left:none;
      border-bottom:none;
    }
    td:first-child {
      white-space: nowrap;
      background-color: $color-ambient-bright;
      border:none;
      text-align: right;
      padding-right:5px;
      color: $color-font-primary;
      font-style: normal;
    }
    td {
      height:50px;
      padding: 3px;
      text-align: center;
      border: 1px solid rgba($color-ambient-grey, 0.3);
      background-color: $color-ambient-mint-light-lowsaturation;
      color: $color-ambient-mint-dark;
      font-style: italic;
      &.disabled {
        color: $color-ambient-grey;
        background-color: $color-ambient-grey-light;
        opacity: 0.6;
        font-style: italic;
      }
      &.rented {
        //background-color: $color-ambient-rosa-light;
        background-color: rgba($color-ambient-rosa-light, 0.6);
        font-style: italic;
        color: $color-font-primary;
      }
    }
    tr:hover {background-color: $color-ambient-grey-light;}
  }
}
