section.room-form {
  max-width: 775px;
  margin: 0 auto;
  label {min-width:175px;}
  textarea {min-height:150px;}

  h2 {
    @include font-size-secondaryFont;
    margin: 40px 0 15px;
    text-align: center;
  }

  div.hl-subtext {
    margin: 40px 0 15px;
    h1 { margin: 0px 0 15px; }
    h2 { margin: 0px 0 5px; }
    p {
      @include font-size-primaryFont('large');
    }
  }

  .input-button {
    margin-top:15px;
    text-align: right;
    @include cf;
    .btn-primary {
      display: inline-block;
      //max-width: 50%;
    }
  }

  .room-categories, .room-tags {
    overflow: hidden;
    margin: 2rem 0 2rem;
    .input-checkbox {
      float: left;
      width: 100%;
      @include respond-to(">=small") {
        width: 50%;
      }
      @include respond-to(">=medium") {
        width: 33%;
      }
    }
  }

  .room-columns {
    overflow: hidden;
    .column-left { float: left; width: 50%; padding-right:10px;}
    .column-right { float: right; width: 50%;}
  }

  .input-select {
    .SumoSelect > .optWrapper > .options li.opt.disabled { display: none; }
  }

  .button-switch {
    text-align: center;
    margin-top: 10px;
    .btn-primary {
      display:inline-table;
      span {text-decoration: underline; font-weight: bold;}
      margin: 10px;
    }
  }

  // tabs-nav
  .tabs-nav {
    display: flex;
    justify-content: center;

    li {
      width:100%;
      text-align: center;
      white-space: nowrap;
    }
    .desk {
      display: none;
      @include respond-to(">=medium") {
        display: inline-block;
      }
    }
    .mob {
      display: none;
      @include respond-to("<medium") {
        display: inline-block;
      }
    }
  }

}

section.room-offer-form {

  .room-offer-type-selection {
    text-align: center;
    .input-radio {
      display: inline-block;
      margin: 0 10px;
      label {
        @include font-size-primaryFont('larger');
        padding-bottom:5px;
      }
    }
  }

  .room-prices {
    .nested-fields {
      position: relative;
      a.remove_fields {
        position: absolute;
        top:5px;
        right:10px;
        @include respond-to(">=medium") {
          top:15px;
        }
      }
    }
  }

}

section.room-call-form {
  label {min-width:185px;}
  p.subline, h3.subline {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }

  .room-modules, .room-prices, .room-call-fields {
    .nested-fields {
      margin-bottom:20px;
      border-bottom: 1px solid $color-ambient-mint;
    }
  }

  .btn-delete {
    margin: 15px 0px 0px 15px;
  }
}
