section.search-section {

  // Search Form -----------------------

  .select-btn {
    min-width: 180px;
    select option {
      color: white;
    }
  }
  .input-select.select-btn::before {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .search-form {
    margin-bottom: 40px;
  }

  .pagination a {
    margin:5px;
  }

  .noresult {
    font-style: italic;
  }

  // Search Results -----------------------

  // ------ CardBox Result
  .-searchresult {
    .cardBoxContent .avatar-block .name {
      max-height:45px;
      white-space: normal;
    }
  }


} // End Search Page
