section.search-section {

  // Search Form -----------------------
  .search-type-selection {
    margin:20px 0px;
    text-align: center;
    .input-radio {
      display: inline-block;
      margin: 0 10px;
      label {
        @include font-size-primaryFont('larger');
        line-height:1.2;
      }
    }
  }

  .select-btn {
    min-width: 180px;
  }
  .input-select.select-btn::before{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .search-form {
    margin-bottom: 40px;
  }

  .pagination a {
    margin:5px;
  }

  // Search Results -----------------------

  // ------ CardBox Result
  .-searchresult {
    .cardBoxContent .avatar-block .name {
      max-height:45px;
      white-space: normal;
    }
  }


} // End Search Page
