section.selectGraetzl {
  h1 {
    margin-bottom: 0.2rem;
    @include font-size-secondaryFont('large');
    margin-bottom: 30px;
    text-align: center;
    @include respond-to(">=large") {
      margin-bottom: 50px;
    }
    span {
      color: $color-ambient-rosa;
    }
  }
  .txt {
    text-align: center;
  }
  .wrp-radios {
    margin: 20px auto 35px auto;
    display: table;
  }
}
