section.loginPage {
  @include cf();
  h1 {
    @include font-size-secondaryFont('large');
    span {
      color: $color-ambient-rosa;
    }
    margin-bottom: 30px;
    @include respond-to(">=large") {
      margin-bottom: 50px;
    }
    text-align: center;
  }

  .loginForm, .paperCard {
    @include respond-to(">=medium") {
      @include column(1/2, $gutter: 8);
    }
  }

  .paperCard {
    max-width: 320px;
    .wrp {
      padding-top: 190px;
    }
  }

}

.loginForm {
  margin-bottom: 5rem;
  @include respond-to(">=medium") {
    margin-bottom: 0;
  }

  .input-field {
    margin-bottom: 2rem;
  }

  .wrp {
    @include respond-to(">=medium") {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      padding-left: 13px;
    }
  }

  .input-checkbox {
    margin-bottom: 20px;
    @include respond-to(">=medium") {
      margin-bottom: 0;
    }
  }

  .btn-primary {
    width: 100%;
    @include respond-to(">=medium") {
      width: auto;
    }
  }

  .sharedLinks {
    margin-top: 20px;
    font-size: 1.4rem;
    a {
      color: $color-ambient-grey;
    }

  }

}
