section.startloggedin {

  .mapImgBlock {
    margin-bottom: 20px;
    @include respond-to(">=large") {
      margin-bottom: 50px;
    }
  }

  .createmenu {
    transform: translate(-20px,0);
  }

  .filter-stream {
    margin-bottom: 40px;
  }

  .cards-container {
    .cardBox {
      max-width: 320px;
    }
  }

}