section.startpage {

  .mapImgBlock {
    margin-bottom: 20px;
    @include respond-to(">=large") {
      margin-bottom: 50px;
    }
  }

  .createmenu {
    transform: translate(-20px,0);
  }

  .filter-stream {
    margin-bottom: 40px;
  }

  .cards-container {
    @include cf();
    margin-left: -20px;
    margin-right: -40px;
    .cardBox {
      max-width: 315px;
      margin-bottom: 20px;
      float: left;
      margin-right: 12px;
    }
    .cardBox:nth-child(3n) {
      margin-right: 0;
    }
    .cardBox:nth-child(3n+4) {
      clear: both;
    }
  }

}
