section.lp {

  .error-msg, .success-msg {
    @include font-size-primaryFont('large');
    border: 1px solid $color-ambient-grey-light;
    border-radius: 8px;
    padding:20px;
    font-style: italic;
    background-color: #FEF6DF;
    color: #cd891b;
    a {
      color: #cd891b;
    }
    margin-bottom:20px;
  }
  .success-msg {
    background-color: white;
    color: #69a8a7;
  }

  .section {
    &.-fullwidth {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      padding-top: 0;
      max-height: 100%;
    }
  }

  div.page p.txt, div.page ol, div.page ul {
    @include font-size-primaryFont('large');
    padding-bottom:25px;
  }

  div.wrapper {
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div.paperCard, div.cardBox {
      display: flex;
      align-items: center;
      width:47%;
      margin-bottom:40px;
      @include respond-to("<=large") {
        width:100%;
        margin-right:0px;
      }
    }

    div.paperCard .wrp {
      padding:20px 30px 30px 30px;
      @include font-size-primaryFont('large');
    }
  }


  // WeLocally Mühlviertler Kernland & Kärnten
  &.-campaignUsers {
    .imgHeader {
      .wrp {
        flex-direction: column;
      }
      .coop-share-logo {
        height:50%;
        margin-top:20px;
        @include respond-to(">=medium") {
          height:60%;
          margin-top:60px;
        }
      }
    }
    .-header .wrp {
      @include respond-to(">=medium") {
        background-image: url(image_path('info/imGraetzl-Features-Gegengeschaefte.png'));
        background-repeat: no-repeat;
        background-position: right 80%;
        background-size:250px;
        padding-right:220px;
      }
    }
    h2 {
      @include headlineBarbapapaMintDark;
    }
    h3.team {
      padding-top: 20px;
      padding-bottom: 30px;
      text-align: center;
    }
    article.-team {
      flex-wrap: wrap;
      .txt, .aside {
        @include font-size-primaryFont('large');
        text-align: justify;
        p {
          padding-bottom: 0px;
        }
        width:100%;
        @include respond-to(">=medium") {
          width:48%;
        }
      }
    }
    .-fullwidth-imgraetzl {
      background-color: #eaf2f4;
      padding:40px;
      margin-bottom:40px;

      .paperCard, .container {
        max-width:1280px;
        margin: auto;
      }
      .paperCard {
        margin-bottom: 50px;
        p {
          @include font-size-primaryFont('large');
        }
      }
      .container {
        img {
          border: 1px solid white;
          border-radius: 8px;
        }
        .txt {
          @include font-size-primaryFont('large');
          text-align: justify;
        }
        a {
          font-weight: bold;
        }
        p:last-of-type {
          padding-bottom:0px;
        }
      }
      .aside {
        @include respond-to("<=medium") {
          width:100%;
        }
      }
    }
    .paperCard.-footer {
      p {
        @include font-size-primaryFont('large');
      }
    }
    .form-block .btn-primary {
      width:100%;
      margin:auto;
    }
    .hint {
      border-top: 1px solid $color-ambient-mint-light;
      padding-top:15px;
      margin-top:20px;
      font-style: italic;
      text-align: center;
    }
    section.kooperationspartner {
      margin-top:60px;
      h2 {
        @include headlineBarbapapaMintDark;
        margin: auto;
        margin-bottom: 40px;
      }
      a {
        color: $color-ambient-grey;
        &:hover {
          color: $color-ambient-rosa;
        }
      }
      .cardBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
        flex-direction:column;
        @include respond-to(">=medium") {
          flex-direction:row;
        }
        img {
          width:50%;
          @include respond-to(">=medium") {
            width:100%;
          }
        }
        div.wrp {
          width:100%;
          text-align:center;
          @include respond-to(">=medium") {
            width:50%;
            text-align:left;
          }
          padding:10px;
          .links {
            @include ellipsis;
          }
        }
      }
    }
    &.-kaernten {
      section.kooperationspartner {
        .cardBox {
          flex-direction:row;
          img {
            width:60%;
            @include respond-to(">=medium") {
              width:40%;
              margin-right: 30px;
            }
          }
          div.wrp {
            width:50%;
            text-align:left;
          }
          div.wrp.-img {
            text-align: center;
            @include respond-to(">=medium") {
              text-align:right;
            }
          }
        }

      }
    }
  }

}
