section.lp {

  .error-msg, .success-msg {
    @include font-size-primaryFont('large');
    border: 1px solid $color-ambient-grey-light;
    border-radius: 8px;
    padding:20px;
    font-style: italic;
    background-color: #FEF6DF;
    color: #cd891b;
    a {
      color: #cd891b;
    }
    margin-bottom:20px;
  }
  .success-msg {
    background-color: white;
    color: #69a8a7;
  }
  
}
