// ToolTeiler Detail View
section.toolTeiler {

  // HEADER Image --------------
  .imgHeader {
    position: relative;
    z-index: 10;
    height: 320px;
    max-height: 320px !important;

    @include respond-to("<medium") {
      padding-top: 0px;
    }

    @include respond-to(">=medium") {
      height: 380px;
      max-height: 380px !important;
    }
    @include respond-to(">=large") {
      height: 430px;
      max-height: 430px !important;
    }

    .titleImg {
      border-bottom: 10px solid $color-ambient-mint-light;
      object-fit: cover;
      height:100%;
      width:100%;
    }
  }

  // HEADER Content --------------
  .headContent {
    z-index: 10;
    right:0px;
    text-align: center;

    .category-tags {
      text-align: center;
      margin: 20px 0px 10px 0px;
      justify-content: center;
    }

    .category-tags ul {
      display: inline-block;
      margin-right: 10px;
      margin-left: 20px;
    }

    .category-tags li {
      margin-right: 10px;
      margin-bottom: 10px;
      @include respond-to(">=medium") {
        float: right;
      }
    }
  }

  // LAYOUT Positioning --------------

  aside {
    top:40px;
  }
  .headContent {
    position: absolute;
    bottom: 0px;
    text-align: center;
  }
  .mainContent {
    top:30px;
    position: relative;
  }

  @include respond-to(">=medium") {
    aside {

    }
    .headContent {
      text-align: right;
    }
    .mainContent {
      width: calc(100% - 295px);
      top:40px;
      margin-bottom: 0;
    }
  }

  @include respond-to(">=large") {
    aside {
      top:-50px;
    }
    .headContent {
      max-width: 675px;
    }
    .mainContent {
      width: calc(100% - 280px);
      top:35px;
    }
  }

  @include cf;

  main {
    padding-bottom: 0;
  }

  section {
    margin: 2em 0;
  }

  .bigicontext-element {
    margin-bottom: 1em;
    .txt {
      font-size: 1.2em;
      margin-left: 24px;
    }
  }

  // SIDEBAR --------------

  .sideBar {
    position: relative;
    z-index: 10;
    margin: 0 auto 50px auto;

    @include respond-to(">=large") {
      margin: 0 0 50px -25px;
    }
    .sideflag {
      text-decoration: none;
      margin-left: -12px;
      margin-top: -17px;
    }
  }

  .sideBarbox {

    border: 1px solid $color-ambient-grey-light;
    background-color: #ffffff;
    border-radius: 8px;

    h3.sidebar {
      text-align: center;
      padding-bottom:15px;
    }

    a.btn-primary {
      color: white;
    }

    .innerbox {
      padding: 0px 5px 15px 15px;
    }

    .gmap {
      img {
        display: block;
        width: 100%;
      }
    }

    .user-wrp {
      display: flex;
      align-items: center;
      .img-round {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }

  }

  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: inline-block;
    text-align: left;
  }
  .rating-container .txt {
    padding-left:3px;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before, span.fill ~ span:before {
     content: "\2605";
     position: absolute;
     color: $color-ambient-mint-dark;
  }


  .pricing-info {
    display: flex;
    justify-content:space-around;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid $color-ambient-grey-light;

    div {
      text-align: center;
      width:30%;
    }
    span {
      display: block;
    }
    .price {
      @include font-size-secondaryFont('medium');
      color: $color-ambient-rosa-dark;
    }
    .info {
      @include font-size-primaryFont('small');
    }
  }

  .request {
    border-bottom: 1px solid $color-ambient-grey-light;
    margin-bottom:15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:5px;

    .input-field {
      padding-bottom:15px;
      @include respond-to("<medium") {
        @include field-HorizontalLayout;
      }
    }
    .input-field label {
      min-width:50px !important;
      max-width:50px !important;
    }
    .hidden {display: none;}
  }

  // MAIN CONTENT --------------

  .introtxt {
    margin-bottom: 30px;
    h3 {
      @include font-size-primaryFont('larger');
      margin-bottom: 15px;
    }
    .brand, .model {
      font-style: italic;
    }
  }
  .mainContent .txt {
    white-space: pre-wrap;
  }

  // Gallery Pics
  .entryImgUploads {
    img {
      width: 152px;
      height:152px;
      object-fit: cover;
      @include respond-to(">=large") {

      }
    }
  }

  .category-tags {
    margin: 20px 0px 40px;
    .bigicontext-element {
      margin-bottom: 20px;
    }
  }

}
// End ToolTeiler Detail View --------------

// Toolteiler Form Rent a Tool --------------
section.form-rent-tool {

  // Layout Grid
  display: flex;
  flex-wrap: wrap;

  .col-content {
    width:100%;
    margin-bottom:40px;
    @include respond-to(">=large") {
      width: 64%;
      margin-right: 3%;
    }
  }
  .col-sidebar {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    @include respond-to(">=medium") {
      width: 50%;
    }
    @include respond-to(">=large") {
      width: 33%;
    }
  }
  // End Layout Grid

  // tabs-nav
  .tabs-nav {
    display: none;
    @include respond-to(">=medium") {
      display: flex;
      justify-content: center;
    }
  }

  // FORMS
  .col-content {
    label {
      min-width: 160px;
    }
    textarea {
      min-height:150px;
    }
    .input-field, .input-textarea, .input-select {
      margin-bottom: 15px;
    }
  }

  .col-sidebar {
    h3.sidebar {
      text-align: center;
      padding-bottom:15px;
    }
  }

  .summarybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    div {
      width:38%;
      @include respond-to("<=small") {
        width:43%;
      }
    }
    div.avatar {
      width:20%;
      @include respond-to("<=small") {
        width:13%;
      }
      img {
        width:100%;
        height:auto;
      }
    }
    &:last-of-type {
      margin-bottom:30px;
    }
    .icon-share {
      margin:auto;
      color: $color-ambient-mint-light;
      width:50px;
      height:50px;
      margin-top:10px;
      margin-bottom:10px;
      @include respond-to("<=small") {
        width:30px;
        height:30px;
      }
    }
    .line {
      border-bottom: 3px solid $color-ambient-mint-light;
    }
  }
}
