section.usersetup.-favorite-graetzls {
  .fav-desktop {
    display: none;
  }
  @include respond-to(">=medium") {
    .fav-desktop {
      display: block;
    }
    .fav-mobile {
      display: none;
    }
  }
  h2.region-title {
    @include headlineBarbapapaMintDark;
    @include font-size-secondaryFont('large');
    margin-bottom: 10px;
    position: absolute;
    top:40px;
    left:15px;
    z-index: 99;
  }
  .navBlock {
    width:35%;
    max-width:35%;
    top: 90px;
    bottom:80px;
    left: 10px;
    margin-top:40px;
    direction:rtl;
    overflow: auto;
    padding-right:0px;
    h3 {
      margin-left: 17px;
      direction:ltr;
      margin-bottom:5px;
      &.favoritetitle {
        margin-top:14px;
      }
    }
    .links.home-graetzl a {
      border-color: $color-ambient-mint-dark;
      background-color: $color-ambient-mint-dark;
      color: #ffffff;
    }
    .links a {
      width: 48%;
      text-align: left;
      direction: ltr;
    }
  }
  h3.more-info-title {
    margin-top:25px;
    margin-bottom:5px;
  }
  .save-favorite-graetzls {
    position: absolute;
    bottom:15px;
    left:12px;
    z-index:999;
    //width:35%;
  }
  .activeArea {
    width:70%;
  }
  #area-map {
    &::before {
      width:40%;
      background: linear-gradient(to right, rgba(252,252,252,1) 75%,rgba(252,252,252,0) 100%);
    }
    height: 350px;
    @include respond-to(">=medium") {
      height: 500px;
    }
    @include respond-to(">=large") {
      height: 600px;
    }
  }
  .leaflet-control-container {
    display: block;
  }
}

section.user-settings, section.usersetup.-toolteiler, section.usersetup.-rooms {
  h2 {
    @include font-size-secondaryFont('base');
    span {
      color: $color-ambient-rosa;
    }
  }
  .notifications-block {
    margin-bottom: 30px;
  }

  .tabs-nav {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
section.user-settings {

  .tabs-nav {
    @include respond-to(">=medium") {
      display: flex;
      justify-content: center;
    }


    li {
      width:100%;
      text-align: center;
      white-space: nowrap;
    }
  }

}

// ---------------------------------------------------------------------- personal settings

div.personal-settings {
  @include respond-to(">=medium") {
    @include cf;
  }
  .col1, .col2 {
    @include respond-to(">=medium") {
      @include col(1/2);
      overflow: hidden;
    }
  }

  .btn-primary {
    width: 100%;
    margin-bottom: 50px;
    @include respond-to(">=medium") {
      width: auto;
      margin-bottom: 0;
      display: table;
      float: right;
    }
  }

  .profileSection {
    .input-checkbox {
      display: inline-block;
      margin-right: 40px;
    }
    .col1 {
      .input-field {
        margin-bottom: 20px;
      }
    }
  }

}

// ---------------------------------------------------------------------- billing settings

div.billing-settings {

  label {min-width:150px;}

  .btn-primary {
    width: 100%;
    margin-bottom: 50px;
    @include respond-to(">=medium") {
      width: auto;
      margin-bottom: 0;
      display: table;
      float: right;
    }
  }

}



// ---------------------------------------------------------------------- notification settings

div.notification-settings {

  .settingSlice, .settingHead {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .col1 {
      flex: 0 0 100%;
      @include respond-to(">=medium") {
        flex: 0 0 50%;
        margin-bottom: 0;
      }
    }
    .col2 {
      flex: 0 0 auto;
      @include respond-to(">=medium") {
        flex: 0 0 25%;
      }
      .input-switch {
        margin-right: 20px;
        @include respond-to(">=medium") {
          margin: 0 auto;
        }
      }
    }
    .col3 {
      flex: 0 0 auto;
      flex-grow:1;
      @include respond-to(">=medium") {
        flex: 0 0 25%;
        .input-select {
          @include respond-to(">=medium") {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .settingSlice {
    margin-bottom: 40px;
    @include respond-to(">=medium") {
      margin-bottom: 10px;
    }
    .col1 {
      margin-bottom: 10px;
      @include respond-to(">=medium") {
        margin-bottom: 0;
      }
    }
    .col2 {
      display: none;
      @include respond-to(">=medium") {
        display: flex;
      }
    }
  }
  .settingHead {
    margin-bottom: 30px;
    .col2, .col3 {
      display: none;
      @include respond-to(">=medium") {
        display: block;
        text-align: center;
        //color: $color-ambient-grey;
        font-size: 14px;
        font-style: italic;
        .icon {
          margin: 0 auto;
        }
      }
    }
  }

}



.formBlock {
  margin-bottom: 30px;
  h2 {
    @include font-size-secondaryFont('base');
    text-align: center;
    margin-bottom: 30px;
    span {
      color: $color-ambient-rosa;
    }
  }
  // HEADLINEs
  .hl-subtext {
    margin: 40px 0 15px;
    h1 { margin: 0px 0 15px; }
    h2 { margin: 0px 0 5px; }
    p {
      @include font-size-primaryFont('large');
    }
  }
  &.-adress .form-columns {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.formRow  {
  @include cf;
  > * {
    margin-bottom: 2rem;
  }
  &:last-child {
    > * {
      margin-bottom: 0;
    }
  }
  &.-double {
    > * {
      @include respond-to(">=medium") {
        @include col(1/2);
      }
    }
  }

}
