section.usersetup {

  &.-zuckerl {
    #error_explanation {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom:60px;
      .title {font-weight: bold;}
      .btn-primary {
        color: white;
        margin:0;
        margin-top:15px;
      }
    }
    &.-missing-location .introcontainer .btn-primary {
      display: none;
    }
  }

  .introcontainer .introtxt, &.-toolteiler, &.-rooms {
    h1 {
      @include font-size-secondaryFont('base');
      font-family: $font-secondary;
      margin-bottom: 20px;
      text-align: center;
      span {
        color: $color-ambient-rosa;
      }
    }
    .hl-subtext {
      margin-bottom:20px;
    }
  }

  .introcontainer {
    @include respond-to(">=large") {
      @include cf;
    }
    margin-bottom: 40px;

    .introtxt {
      margin-bottom: 40px;
      @include respond-to(">=large") {
        float: left;
        margin-right: 2%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0;
        width: 65%;
      }
      h3 {
        margin-bottom:5px;
      }
      p, ol, ul {
        margin-bottom: 30px;
      }
      > .btn-primary {
        display: table;
        margin: 0 auto;
      }
      p.btns {
        justify-content: center;
        display: flex;
        a.btn-primary {
          margin:0px 10px 0px 10px;
        }
      }
    }

    .paperCard {
      max-width: 300px;
      margin: 0 auto;
      @include respond-to(">=large") {
        max-width: none;
        width: 33%;
        float: left;
        margin: 0;
      }
      .wrp {
        padding-top: 180px;
        padding-left: 25px;
        padding-right: 25px;
        h3 {
          margin-bottom: 20px;
        }
        h3:last-child {
          margin-bottom: 0;
        }
      }
      .btn-primary {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  }

  &.-toolteiler, &.-rooms {
    // REMOVE TMP CLASS AFTER WE CAN USE AXA LOGO
    .paperCard.-tmp .wrp {
      h3 {margin-bottom:0px;}
    }
    .tabs-nav {
      margin: 0 auto;
      margin-bottom: 50px;

      li {
        width:100%;
        text-align: center;
        white-space: nowrap;
      }

      display: block;
      @include respond-to(">=large") {
        display: flex;
        justify-content: center;
      }

    }
  }

  &.-zuckerl {
    .paperCard .wrp {
      padding-top: 180px;
      background-image: url(image_path('illu/illu-zuckerl-transparent.png'));
    }
    .btn-primary {
      margin-bottom: 20px;
    }
  }

  &.-rooms {
    .paperCard .wrp {
      padding-top: 180px;
      background-image: url(image_path('illu/illu-werkbank-plain.png'));
    }
  }

  .step-element {
    margin-bottom: 40px;
    h2 {
      font-family: $font-tertiary;
      color: $color-ambient-mint-dark;
      margin-bottom: 10px;
      font-size: 28px;
      @include respond-to(">=medium") {
        font-size: 34px;
      }
    }
    h2 span {
      display: inline-block;
      margin-right: 10px;
      padding-top: 11px;
      text-align: center;
      padding-left: 8px;
      font-size: 30px;
      @include respond-to(">=medium") {
        height: 80px;
        width: 80px;
        background-size: 80px 80px;
        background-image: url(image_path('svg/kringel.svg'));
        font-size: 42px;
      }
    }
    .text {
      @include respond-to(">=medium") {
        padding-left: 100px;
      }
    }
    .btn-primary {
      display: table;
      margin-top: 20px;
    }

    &:nth-child(even) {
      //h2 { color: $color-ambient-mint-dark; }
    }

  }

  .addlocation {
    display: table;
    @include respond-to(">=large") {
      margin-left: -25px;
    }
  }

  .selectlocation {
    h2 {
      @include font-size-secondaryFont('base');
    }
    .input-select {
      max-width: 600px;
      margin: 0 auto;
    }
  }

  // Groups Cardbox Adaption
  &.-groups {
    .btn-userIcons {
      margin-bottom:0px;
      width:100%;
      &.-admin {
        background-color: $color-ambient-mint;
      }
    }
    .jq-dropdown {
      min-width:325px;
    }
  } // Groups Cardbox Adaption

  .link-more {
    display:table;
  }

  &.-toolteiler {
    .cardBox.-toolteiler {
      .graetzl-sideflag, .-btn-rent {
        display: none;
      }
    }
    .no-rentals-box {
      p {
        padding-top:10px;
        font-style: italic;
      }
    }
  }

  .tool-messenger {
    text-align: center;
    font-style: italic;
  }

  &.-meetings {
    .cardBox.-meeting {

      .cardBoxContent .btn-primary { display:none;}
      .btn-group {
        .-mini { width: 37%; }
        .-wide { width: 60%; }
      }

    }
  }

}
