section.userPostForm {

  max-width: 700px;
  margin: 0 auto;
  
  .form-block {
    label {
      width: 200px;
    }

    .btn-primary {
      margin-left: auto;
      display: table;
    }

  }


}