section.userprofile {
  @include cf;

  .imgHeader {
    overflow: visible;

    @include respond-to("<=medium") {
      margin-top:0px;
    }

    .titleImg {
      @include respond-to(">=small") {
        height:150px;
      }
      @include respond-to(">=medium") {
        height:250px;
      }
    }

    @include respond-to(">=medium") {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, rgba(252,252,252,1) 0%,rgba(252,252,252,0) 100%);
        pointer-events: none;
        z-index: 1;
        height: 100%;
        width: 400px;
      }
    }

    .imgWrapper {
      height:150px;
    }

    @include respond-to(">=medium") {
      .imgWrapper {
        height:240px;
      }
    }
    @include respond-to(">=large") {
      .imgWrapper {
        height:260px;
      }
    }

  }

  .titleHeadline {
    @include respond-to(">=medium") {
      color: $color-ambient-mint;
      bottom: -48px;
      left: 200px;
      z-index: 11;
      margin-bottom: 0;
    }

  }

  .sideBarbox {
    margin-bottom: 20px;
    @include respond-to(">=medium") {
      margin-bottom: 0;
    }
  }

  .tabs-ctrl {
    margin-bottom: 60px;
  }

  .tabs-nav {
    margin: 0 auto;
    margin-bottom: 50px;

    li {
      width:100%;
      text-align: center;
      white-space: nowrap;
    }

    display: block;
    @include respond-to(">=large") {
      display: flex;
      justify-content: center;
    }

  }

  .cardBoxCollection .loading-spinner {
    float: none;
    width:100px;
    height:auto;
    margin: auto;
  }

  .cardBoxCollection .no-results-box {
    display: none;
  }

  .link-more {
    margin: 0 auto;
    display: table;
  }

  .userContent {
    @include cf;
    margin-bottom: 30px;

    .col1 {
      margin-top: -50px;
      position: relative;
      z-index: 2;
      @include respond-to(">=medium") {
        @include col(2/5);
        margin-top: -100px;
        max-width: 270px;
      }
      .img-round {
        width: 100px;
        height: 100px;
        margin: 0 auto 20px auto;
        display: block;
        @include respond-to(">=medium") {
          width: 200px;
          height: 200px;
          padding: 6px;
          margin-left: 0;

        }
      }
      .icontxt {
        margin-bottom: 10px;
      }
      .sticky-btns {
        margin-top: 20px;
      }
    }

    .col2 {
      white-space: pre-wrap;
      @include font-size-primaryFont('large');
      @include respond-to(">=medium") {
        @include col(3/5);
        padding-top: 60px;
      }

    }

  }

}
