section.wien {
  .filter-stream {
    a.hide {display: none !important;}
  }
  .mapImgBlock {
    margin-bottom: 20px;
    @include respond-to(">=large") {
      margin-bottom: 50px;
    }
  }

  .navBlock {
    .links {
      @include respond-to(">=medium") {
        width: 400px;
      }
    }
  }

  .address-block {
    padding-top:30px;
  }

  .sideflag {
    display: none;
    &.-category {
      display: block;
    }
  }

  #graetzlMapWidget {
    height: 150px;
    @include respond-to(">=medium") {
      height: 500px;
    }
  }

  .navBlock {
    .links {
      display: none;
      @include respond-to(">=medium") {
        display: block;
      }
    }
  }

  .filter-stream {
    margin-bottom: 60px;
  }

  .activeArea {
    @include respond-to(">=medium") {
      width: 80%;
      height: 100%;
    }
    @include respond-to(">=large") {
      width: 60%;
      height: 100%;
    }
  }


  .teaserBlock {
    h2 {
      @include font-size-secondaryFont('base');
      text-align: center;
      margin-bottom: 30px;
    }
  }

}

// Navigation Buttons on Vienna Overview Pages beside Illustration
section.wien.-overview-pages {
  .mapImgBlock {
    @include respond-to(">=small") {
      height:150px;
      .filter-stream {
        margin: 0px 0px 0px 0px;
      }
      &::after {
        display:none;
      }
      margin-bottom:10px;
      .input-select {width:310px;}
    }
    @include respond-to(">=medium") {
      background-image: url(image_path('illu/illu-karte-transparent@2x.jpg'));
      background-repeat: no-repeat;
      background-size: 700px;
      background-position: right, center;
      .filter-stream {
        margin: 0px 0px 0px 170px;
      }
      &::after {
        display:block;
      }
      margin-bottom:50px;
      .input-select {width:350px;}
    }
    @include respond-to(">=large") {
      height:200px;
      .filter-stream {
        margin: 0px 0px 0px 0px;
      }
    }
    margin-left: -40px;
  }
}
