section.wien {

  .sideflag {
    display: none;
    &.-category {
      display: block;
    }
  }

  #graetzlMapWidget {
    height: 150px;
    @include respond-to(">=medium") {
      height: 500px;
    }
  }

  .navBlock {
    .links {
      display: none;
      @include respond-to(">=medium") {
        width: 400px;
        display: block;
      }
    }
  }

  .activeArea {
    @include respond-to(">=medium") {
      width: 80%;
      height: 100%;
    }
    @include respond-to(">=large") {
      width: 60%;
      height: 100%;
    }
  }

  // Hide Map on Desktop Overview Pages
  &:not(.-overview) {
    @include respond-to(">=medium") {
      .mapImgBlock {
        display: none;
      }
      margin-top: -50px;
    }
    @include respond-to(">=large") {
      .mapImgBlock {
        display: none;
      }
      margin-top: -80px;
      .filter-stream {
        padding-top:55px;
      }
    }
  }

  &.platform-meetings {

    #meeting-categories {
      background-color: transparent;
      box-shadow: none;
      color: #69a8a7;
      //font-style: italic;
      border: 1px solid #DBEFEC;
    }

    .sumo_meeting_category_id {
      .date {
        font-style: italic;
        color: $color-ambient-grey;
        font-weight: normal;
      }
      li.selected {

      }
      .SelectBox {
        //font-weight: bold;
      }
      .optWrapper {
        width: fit-content;
      }
    }

    .cards-filter {
      margin-bottom:40px;
      display: flex;
      justify-content: center;
      .input-select {
        min-width: 370px;
      }
    }

    .-stoerer {
      opacity: 0.3;
    }

    .stoererImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 99;
      background-image: url(image_path('stoerer.png'));
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
      transform: rotate(-8deg);
    }

    margin-top:40px;
    .-top {
      margin-bottom:50px;
      .wrp {
        padding:35px 50px 35px 50px;
        @include font-size-primaryFont('large');

        .poweredby {
          margin-top:15px;
          display: block;
          text-align: center;
          img {
            width: 40%;
          }
        }

        @include respond-to(">=medium") {
          background-image: url(image_path('illu/eputoepu.png'));
          background-repeat: no-repeat;
          background-position: center right;
          background-size: 25% auto;
          padding-right: 23%;
          .poweredby {
            display: none;
          }
        }

      }
    }
    .-bottom {
      margin-top:50px;
      .wrp {
        display: flex;
        align-items: top;
        padding:15px;
        h3 {padding-bottom:20px;}
        p {padding-bottom: 20px;}
        .-register {
          display: inline-block;
          float:right;
          transform: rotate(1deg);
        }
        .logo {
          width:20%;
          padding-right:20px;
        }
        .txt {
          width:80%;
        }
      }

    }
  }

}
