section.zuckerlOverview {

  .mapImgBlock {
    background-image: url(image_path('/assets/images/dummy/leopoldMap.jpg'));
    @include respond-to(">=medium") {
      margin-bottom: 60px;
    }
  }

  .illuZuckerl {
    display: none;
    @include respond-to(">=medium") {
      display: block;
      background-image: url(image_path('graetzlzuckerl.png'));
      background-size: 150px 95px;
      background-repeat: no-repeat;
      width: 150px;
      height: 95px;
      position: absolute;
      left: 20px;
      top: 90px;
      z-index: 9;
    }
    @include respond-to(">=large") {
      background-image: url(image_path('graetzlzuckerl.png')), url(image_path('svg/arrow-dashed-bend2.svg'));
      background-size: 200px 127px, 120px 116px;
      background-position: 0 0, 110px 90px;
      width: 240px;
      height: 220px;
      left: 70px;
    }

  }

  .zuckerlHeadline {
    font-family: $font-secondary;
    text-align: center;
    margin-bottom: 30px;
    @include respond-to(">=medium") {
      margin-bottom: 60px;
    }
    h1 {
      @include font-size-secondaryFont('base');
      transform: rotate(-3deg);
      color: $color-ambient-mint;
      margin-bottom: 10px;

    }
    h2 {
      @include font-size-secondaryFont('large');
      transform: rotate(-1deg);
      color: $color-ambient-rosa;
    }
  }

  .zuckerlCollection {
    margin-bottom: 40px;
    > * {
      padding: 0 20px;
      width: 100%;
      margin-bottom: 50px;
      @include respond-to(">=medium") {
        margin-bottom: 30px;
        width: 50%;
      }
      @include respond-to(">=large") {
        width: 25%;
      }
    }
  }


  .singleZuckerl {
    padding-top: 20px;
    .img-round  {
      width: 70px;
      height: 70px;
      margin: 0 auto 30px auto;
      display: block;
    }
    a {
      color: $color-ambient-mint-dark;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ownZuckerl {
    padding: 95px 30px 30px 30px;
    margin-top: 60px;
    @include respond-to(">=medium") {
      margin-top: 0;
    }
    h3 {
      font-size: 2.0rem;
      line-height: 1.2;
      margin-top: 25px;
      margin-bottom: 20px;
      color: $color-ambient-mint-dark;
    }
    a {
      margin-top: 10px;
      display: block;
    }
  }

  .infoZuckerl {
    h2 {
      margin-bottom: 10px;
    }
    .sectionHl {
      @include font-size-primaryFont('larger');
      text-align: center;
      margin-bottom: 20px;

    }
  }


}