<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        Servus <%= @room_demand.user.first_name %>,
        <p>
          du hast vor ein paar Tagen einen Raumteiler veröffentlicht, damit es mit dem Raumteiler auch klappt, nun ein paar Tipps:
        </p>

        <strong>1.)</strong>
        <em>
          Raumteiler, die <strong>ausführlichere und persönliche Beschreibungen</strong> enthalten, funktionieren besser.
        </em>

        <br><br>

        <strong>2.)</strong>
        <em>
          <strong>Die Überschrift entscheidet mit</strong>, ob sich jemand deinen Raumteiler anschaut, oder nicht. 
        </em>

        <br><br>

        <strong>3.)</strong>
        <em>
          <strong>Nutze das Kurzzeitmieten Buchungs-Tool</strong>, um als Raumsuchende verschiedene Räume auszuprobieren.
        </em>

        <br><br>

        <strong>4.)</strong>
        <em>
          <strong>Noch ein wichtiger Tipp zum Schluss:</strong> Je aktiver du selber bist, desto schneller klappt es auch mit dem Finden von Raumpartner*innen. Schreib selber auch Raumhabende im Raumteiler an. Teile den Raumteiler in deinen Netzwerken und erzähle es Freunden und Bekannten. Hier gehts zu deinem Raumteiler: <%= link_to room_demand_url(@room_demand, host: @room_demand.region.host), room_demand_url(@room_demand, host: @room_demand.region.host), target: '_blank' %>
        </em>

        <br><br>

        <p>Bitte schreib uns an wir@imgraetzl.at, wenn dein Raumteilerwunsch vielleicht schon in Erfüllung gegangen ist. Für uns ist das ein echter Motivationsschub diese Geschichten zu hören.</p>

        Liebe Grüße,<br>
        Mirjam und dein <%= t("region.#{@room_demand.region.id}.domain_full") %> Team<br>

      </td>
    </tr>
  </tbody>
</table>
