<div class="input-field" id="addressSearchAutocomplete">
  <%= label_tag :address do %>
    <%= icon_tag "map-location" %>
    <span>Adresse</span>
  <% end %>
  <%= text_field_tag :address, nil, required: true, placeholder: "Straße und Hausnummer" %>
  <%= hidden_field_tag :feature %>
</div>
