<% title('Raumteiler bearbeiten') %>

<section class="room-form room-offer-form">

  <div class="hl-subtext">
    <h1>Raumteiler bearbeiten</h1>
  </div>

  <%= render "room_offers/form/index" %>

</section>
