<section class="masonryFilterGrid">
  <div class="masonry-wrapper">
    <div class="cards-container" data-behavior="stream-container">
      <%= render(@room_offers) || render('empty_message') %>
    </div>
  </div>
</section>
