<% title('Neuen Raumteiler anlegen') %>

<section class="room-form">

<div class="hl-subtext">
      <h1><span>Neuen Raumteiler</span> anlegen</h1>
      <p>Hast du einen Raum / oder suchst du einen Raum?</p>

      <div class="button-switch">
        <%= link_to new_room_offer_path, :class => 'btn-primary' do %>
          Ich <span>habe</span> Raum
        <% end %>

        <%= link_to new_room_demand_path, :class => 'btn-primary' do %>
          Ich <span>suche</span> Raum
        <% end %>
      </div>
</div>

</section>
