
<!-- <section class="roomOfferPage"> -->
<section class="roomOfferDetail">
  <div class="mainContent">
    <div class="introtxt">
      <h1>Raumteiler</h1>
      <h3><%= @room_offer.slogan %></h3>
    </div>
    <div class="txt"><%= @room_offer.room_description %></div>

    <h3>Mein idealer Raumpartner</h3>
    <div class="txt"><%= @room_offer.tenant_description %></div>
  </div>

  <%= render 'sidebar' %>
</section>
