// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "sumoselect";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
// 

span.empty {
  display: none;
}

.mailtype {
  display: inline-block;
  width:130px;
}

.status_tag {

  white-space: nowrap;

  &.unset {
    display: none;
  }

  &.deleted, &.off, &.failed, &.payout_failed, &.disputed {
    background: red;
  }
  &.pending, &.nein, &.disabled, &.return_pending, &.cancelled, &.not_funded, &.boost_cancelled {
    background: orange;
  }
  &.active, &.paid_out, &.ja, &.paid, &.enabled, &.return_confirmed, &.live, &.immediate, &.goal1_reached, &.goal2_reached, &.completed, &.debited, &.free, &.boost_debited, &.paid, &.payout_completed {
    background: green;
  }
  &.public_space, &.rejected, &.storno, &.boost_declined {
    background: LightCoral;
  }
  &.weekly, &.authorized, &.refunded, &.boost_waitlist, &.waiting, &.payout_waiting {
    background: LightBlue;
  }
  &.vacancy, &.daily, &.processing, &.boost_approved, &.payout_processing {
    background: LightSeaGreen;
  }
  &.re_draft {
    background: Grey;
  }
  &.funding, &.approved, &.boost_authorized, &.ready, &.payout_ready {
    background: #6090DB;
  }
}
.col-ende {
  white-space: nowrap;
}

a.btn-light {
  @include light-button;
  text-decoration: none;
}

a.btn-dark {
  @include dark-button;
}

// fix SumoSelect
.active_admin #sidebar .SumoSelect {
  display: block;
  width:100%;
}

.SumoSelect li label {
  width: auto;
  float: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform:none !important;
}

.row-cover_photo, .row-avatar, .row-images, .file.input {
  img {
    width:100px;
    height:100px;
    object-fit: cover;
  }
}

.SumoSelect .select-all {
  display: inline-flex;
}

.admin-autocomplete-component, .sidebar_section input.admin-autocomplete-component[type=text] {
  width:100%;
}

.admin-autocomplete-container {
  position: relative;
  width:100%;
}

.admin-autocomplete-results {
  display: none;
  position: absolute;
  width:100%;
  background-color: white;
  z-index: 9999;
  border-radius: 4px 0 0 4px;
  border: solid 1px #DBEFEC;
  border-top: 0;
  padding-top:5px;
  padding-bottom:5px;

  .eac-item div.item {
    padding: 5px;
    padding-left:10px;
    display: inline-flex;
    align-items: center;
    width:100%;
    &:hover {
      background-color: #DBEFEC;
      cursor: pointer;
    }
    img {
      margin-right:5px;
      width:40px;
      height:40px;
      min-width:40px;
      min-height:40px;
      border-radius: 20px;;
    }
  }

  .txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #615454;

    span {
      font-style: italic;
      color: grey;
    }

  }

}