// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "sumoselect";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//

.mailtype {
  display: inline-block;
  width:130px;
}

.status_tag {

  white-space: nowrap;

  &.unset {
    display: none;
  }

  &.deleted, &.off, &.failed, &.boost_declined {
    background: red;
  }
  &.pending, &.nein, &.disabled, &.return_pending, &.cancelled, &.not_funded, &.boost_cancelled {
    background: orange;
  }
  &.active, &.paid_out, &.ja, &.paid, &.enabled, &.return_confirmed, &.live, &.immediate, &.goal1_reached, &.goal2_reached, &.completed, &.debited, &.free, &.boost_debited {
    background: green;
  }
  &.public_space, &.rejected, &.storno {
    background: LightCoral;
  }
  &.weekly, &.authorized, &.refunded, &.boost_authorized {
    background: LightBlue;
  }
  &.vacancy, &.daily, &.processing, &.boost_allowed {
    background: LightSeaGreen;
  }
  &.draft {
    background: Grey;
  }
  &.funding, &.approved  {
    background: #6090DB;
  }
}

a.btn-light {
  @include light-button;
  text-decoration: none;
}

a.btn-dark {
  @include dark-button;
}

// fix SumoSelect
.active_admin #sidebar .SumoSelect {
  display: block;
  width:100%;
}

.SumoSelect li label {
  width: auto;
  float: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform:none !important;
}

.row-cover_photo, .row-avatar, .row-images, .file.input {
  img {
    width:100px;
    height:100px;
    object-fit: cover;
  }
}

.SumoSelect .select-all {
  display: inline-flex;
}
