<!--
Laufende Kampagne
Betrag UNTER Funding Ziel 1
 -->
 <!--
<div class="fundingBar">
  <div class="fundingBar_track fundingBar_track-only">
    <div title="$AKTEULLER_BETRAG_€" class="fundingBar_bar" style="width: 75.43478260869566%;"></div>
  </div>
  <div title="$FUNDING_GOAL_1_€" class="fundingBar_target fundingBar_target-animated"></div>
  <div class="fundingBar_track"></div>
</div>
-->

<!--
Laufende Kampagne
Betrag ÜBER Funding Ziel 1
Betrag UNTER Funding Ziel 2
 -->
<div class="fundingBar">
  <div class="fundingBar_track fundingBar_track-1st">
    <div class="fundingBar_bar"></div>
  </div>
  <div title="$FUNDING_GOAL_1_€" class="fundingBar_target fundingBar_target-success"></div>
  <div class="fundingBar_track fundingBar_track-2nd">
    <div title="$AKTEULLER_BETRAG_€" class="fundingBar_bar" style="width: calc(31.79% + 0.5em);"></div>
  </div>
  <div title="$FUNDING_GOAL_2_€" class="fundingBar_target fundingBar_target-animated"></div>
  <div class="fundingBar_track"></div>
</div>

<!--
Laufende Kampagne
Betrag ÜBER Funding Ziel 1
Betrag ÜBER Funding Ziel 2
 -->
<!--
<div class="fundingBar">
  <div class="fundingBar_track fundingBar_track-1st">
    <div title="$AKTEULLER_BETRAG_€" class="fundingBar_bar"></div>
  </div>
  <div title="$FUNDING_GOAL_1_€" class="fundingBar_target fundingBar_target-success"></div>
  <div class="fundingBar_track fundingBar_track-2nd">
    <div title="$AKTEULLER_BETRAG_€" class="fundingBar_bar" style="width: calc(100% + 0.5em);"></div>
  </div>
  <div title="$FUNDING_GOAL_2_€" class="fundingBar_target fundingBar_target-success"></div>
  <div class="fundingBar_track fundingBar_track-2nd">
    <div title="$AKTEULLER_BETRAG_€" class="fundingBar_bar" style="width: calc(50% + 0.5em);"></div>
  </div>
</div>
-->

<!--
Beendete Kampagne
ERFOLGREICH
 -->
 <!--
<div class="fundingBar">
  <div class="fundingBar_track fundingBar_track-finished">
    <div class="fundingBar_bar" style="width: 100%;"></div>
  </div>
  <div class="fundingBar_target fundingBar_target-success"></div>
</div>
-->

<!--
Beendete Kampagne
NICHT ERFOLGREICH
 -->
 <!--
<div class="fundingBar">
  <div class="fundingBar_track fundingBar_track-finished">
    <div class="fundingBar_bar fundingBar_bar-unsuccessful" style="width: 50%;"></div>
  </div>
  <div class="fundingBar_target"></div>
</div>
-->

<div class="fundingStats">
  <div class="left -amount">
    <h2>5.000 €</h2>
    <span>nächstes Level 10.000 €</span>
  </div>
  <div class="middle -supporters">
    <h2>13</h2>
    <span>UnterstützerInnen</span>
  </div>
  <div class="right -ending">
    <h2>7</h2>
    <span>Tage</span>
  </div>
</div>
