<% meta(
    title: t('.title', title: @crowd_campaign.title[0..55].gsub(/\s\w+\s*$/,'...')),
    description: t('.description', desc: @crowd_campaign.description),
    robots: 'index, follow',
    og_title: t('.title', title: @crowd_campaign.title[0..80].gsub(/\s\w+\s*$/,'...')),
    og_description: t('.description', desc: @crowd_campaign.description),
    og_image: @crowd_campaign.cover_photo_url(:header, :large) || image_url("meta/#{current_region.id}/og_logo.png")
  )
%>

<h3><%= @crowd_campaign.title %></h3>
<p><%= @crowd_campaign.slogan %></p>

<% if current_user == @crowd_campaign.user && !@preview %>
<%= link_to 'Bearbeiten', edit_crowd_campaign_path(@crowd_campaign), class: 'btn-secondary -mint -small'  %>
<% end %>
