<section class="usersetup -crowd_campaigns">

  <div class="hl-subtext">
    <h1>Lokales <em>Crowdfunding</em></h1>
    <p>Was hat es mit dem WeLocally Crowdfunding auf sich?</p>
  </div>

  <%= render 'crowd_campaigns/form/intro_video' %>

  <%= link_to "Starte jetzt dein Projekt", new_crowd_campaign_path, class: 'btn-primary -rose -large -shadow' %>

  <%= render 'crowd_campaigns/form/intro_guidelines' %>

</section>
