<p>Hallo <%= @resource.first_name %>, 

<p>willkommen im Grätzl <%= @resource.graetzl.name %>!</p>

<p>
  Um deine Registrierung abzuschließen klicke bitte folgenden Link:<br>
  <%= link_to 'Registrierung jetzt abschließen!', confirmation_url(@resource, confirmation_token: @token) %>
</p>

<p>Wir freuen uns auf Dich!<p>

<p>
  Liebe Grüße,<br>
  dein Team von imGrätzl.at<br>
  --<br>
  <%= mail_to 'wir@imGrätzl.at' %>
</p>
