<p>Hallo <%= @resource.username %>,</p>

<p>
  Du willst ein neues Passwort für deinen Account erstellen?<br>
  Klicke dafür folgenden Link um dein Passwort zu ändern:
</p>
<p><%= link_to 'Passwort ändern', edit_password_url(reset_password_token: @token, host: @resource.region.host) %></p>

<p>
  Viele Grüße,<br>
  dein imGrätzl Team
</p>

<p>P.S.: Falls dieser Änderungswunsch nicht von dir kommt, kannst du diese E-Mail einfach ignorieren und weiterhin deine bestehenden Zugangsdaten verwenden.</p>
