<div class="input-radio filter-input filter-discussion-category">
  <%= radio_button :filter, :discussion_category, '', data: { label: 'allen Kategorien', filter_label: "#{@group.title} :: Discussion :: Category" }, :id => "all-topics-radio", :class => "filter-radio-category -all" %>
  <%= label_tag "all-topics-radio", 'Alle Themen' %>
</div>
<% @group.discussion_categories.each do |category| %>
  <div class="input-radio filter-input filter-discussion-category">
    <%= radio_button :filter, :discussion_category, category.id, data: { label: category.title, filter_label: "Group Discussion :: #{@group.title} :: Category" }, :checked => (params[:category] == category.id.to_s), :class => "filter-radio-category" %>
    <%= label_tag "filter_discussion_category_#{category.id}", "#{category.title}" %>
  </div>
<% end %>
