<% filter_meeting_types.each do |label, filterlabel, value| %>
  <div class="input-radio filter-input filter-meeting-type">
    <%= radio_button :filter, :meeting_type, value, data: { label: filterlabel, filter_label: 'Events & Workshops :: Type' }, :checked => (local_assigns[:meeting_type] == value) %>
    <%= label_tag "filter_meeting_type_#{value}", label %>
  </div>
<% end %>
