<!-- SLIDER -->
<div class="category-slider-container">
  <div id="category-slider">

    <div class="-category cat-1" data-cat="1">
      <h3>Gesundheit, Wohlbefinden, Sport</h3>
    </div>

    <div class="-category cat-2" data-cat="2">
      <h3>Kreativ- & Kleinhandwerk</h3>
    </div>

    <div class="-category cat-3" data-cat="3">
      <h3>Grafik, Film/Video, Fotografie</h3>
    </div>

    <div class="-category cat-4" data-cat="4">
      <h3>Gastronomie & K체chenger채te</h3>
    </div>

    <div class="-category cat-1" data-cat="5">
      <h3>Gesundheit, Wohlbefinden, Sport</h3>
    </div>

    <div class="-category cat-2" data-cat="6">
      <h3>Kreativ- & Kleinhandwerk</h3>
    </div>

    <div class="-category cat-3" data-cat="7">
      <h3>Grafik, Film/Video, Fotografie</h3>
    </div>

    <div class="-category cat-4" data-cat="8">
      <h3>Gastronomie & K체chenger채te</h3>
    </div>

  </div>
</div>
