<!-- Prepared for later - not finished - subcategoryfilter -->
<div class="cardBox search-suggestion">
  <div class="wrapper">
    <% ([:all] + ToolCategory.subcategories.all).in_groups_of(3, false).each do |categories| %>
      <div class="col">
        <% categories.each do |category| %>
          <% if category == :all %>
            <%= link_to "Alle Toolteiler", 'javascript:', class: selected_category.nil? ? 'active' : nil %>
          <% else %>
            <%= link_to category.name, 'javascript:', data: { category_id: category.id }, class: selected_category == category ? 'active' : nil %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= button_tag '', class: 'close-ico' do %>
    <%= icon_tag "cross" %>
  <% end %>
</div>
