<section class="login" data-step="1">

<!----------- LOGIN PANEL ----------->
<%= render 'shared/login_panel_content',redirect: request.original_url ,origin: 'toolteiler' %>
<!----------- LOGIN PANEL ----------->

</section>
