<ul class="tabs-nav -small">
    <li class="active"><a href="/toolteiler/rent_1">Anmelden</a></li>
    <li><a href="/toolteiler/rent_2">Rechnungsadresse</a></li>
    <li><a href="/toolteiler/rent_3">Zahlungsart</a></li>
    <li><a href="/toolteiler/rent_4">Zusammenfassung</a></li>
</ul>

<!----------- LOGIN PANEL MODAL ----------->
<%= render 'shared/login_panel_content',redirect: request.original_url ,origin: 'toolteiler' %>
<!----------- LOGIN PANEL MODAL ----------->
