<ul class="tabs-nav -small">
    <li><a href="/toolteiler/rent_1">Anmelden</a></li>
    <li><a href="/toolteiler/rent_2">Rechnungsadresse</a></li>
    <li class="active"><a href="/toolteiler/rent_3">Zahlungsart</a></li>
    <li><a href="/toolteiler/rent_4">Zusammenfassung</a></li>
</ul>

<div class="hl-subtext">
  <h1>Wähle deine Zahlungsart</h1>
  <p>
    Wir buchen erst Geld ab, wenn deine Anfrage vom Vermieter bestätigt wurde und der Deal zustande kommt.
  </p>
</div>
