<section class="payment" data-step="3">

<%= render "/toolteiler/form/rent/tabs-nav" %>

<%= form_tag 'toolteiler', method: :get do |f| %>

<div class="hl-subtext">
  <h1>Wähle deine Zahlungsart</h1>
  <p>
    Wir buchen erst Geld ab, wenn deine Anfrage vom Vermieter bestätigt wurde und der Deal zustande kommt.
  </p>
</div>

<div class="paymentMethods">
  <div class="input-radio -card">
    <div class="payment-method">
      <input type="radio" value="card" name="payment_method" id="payment_method_card">
      <label for="payment_method_card">Kreditkarte</label>
    </div>
  </div>
  <div class="input-radio -sofort">
    <div class="payment-method">
      <input type="radio" value="sofort" name="payment_method" id="payment_method_sofort">
      <label for="payment_method_sofort">Sofort Überweisung</label>
    </div>
  </div>
  <div class="input-radio -eps">
    <div class="payment-method">
      <input type="radio" value="eps" name="payment_method" id="payment_method_eps">
      <label for="payment_method_eps">EPS Überweisung</label>
    </div>
  </div>
</div>

<a class="btn-primary">Weiter</a>

<% end %>

</section>
