<div class="cardBox -toolteiler">
  <div class="cardBoxHeader">
    <a href="/toolteiler">
      <div class="coverImgWrapper">
        <img class="attachment toolteiler cover_photo coverImg" src="https://cache.willhaben.at/mmo/3/308/144/263_-1764754106.jpg">
      </div>
    </a>
    <div class="priceSheet">
      <div class="txt">ab</div>
      <div class="price">25 €</div>
    </div>
    <div class="categoryicon">
      <svg class="icon-raumteiler"><use xlink:href="#icon-raumteiler"></use></svg>
    </div>
  </div>

  <div class="cardBoxContent">

    <h3 class="sidebar">Deine Auswahl</h3>

    <ul class="pricing-summary -duration">
      <li>
        <div class="duration">Miete:</div>
        <div class="title">Do, 20. Jun – Sa, 30. Jun</div>
      </li>
    </ul>

    <ul class="pricing-summary">
      <li>
        <div class="cost">250,00 €</div>
        <div class="costname">10 Tage x 25 €</div>
      </li>
      <li>
        <div class="cost">- 50,00 €</div>
        <div class="costname">Rabatt 10 Tage x 5 €</div>
      </li>
      <li>
        <div class="cost">40,00 €</div>
        <div class="costname">Servicegebühr inkl. Versicherung</div>
      </li>
      <li class=sum>
        <div class="cost">240,00 €</div>
        <div class="costname">Gesamt</div>
      </li>
    </ul>

  </div>
</div>
