<ul class="tabs-nav -small">
    <li><a href="/toolteiler/rent_1">Anmelden</a></li>
    <li><a href="/toolteiler/rent_2">Rechnungsadresse</a></li>
    <li><a href="/toolteiler/rent_3">Zahlungsart</a></li>
    <li class="active"><a href="/toolteiler/rent_4">Zusammenfassung</a></li>
</ul>

<div class="hl-subtext">
  <h1>Zusammenfassung</h1>
  <p>
    „Kamera-Set Canon EOS 100D Komplett-Ausrüstung inkl. Mikro“
  </p>
</div>
