<section class="summary" data-step="4">

<%= render "/toolteiler/form/rent/tabs-nav" %>

<div class="hl-subtext">
  <h1>Tool anfragen</h1>
  <p>
    Deine Auswahl
  </p>
</div>

<div class="summarybox">
  <div>
    <p>
      <strong>„Kamera-Set Canon EOS 100D Komplett-Ausrüstung inkl. Mikro“</strong><br>
    </p>
  </div>
  <div class="avatar">
    <img class="attachment user avatar img-round" src="https://www.imgraetzl.at/attachments/8bf3aeaac56409e22d63a054292bec47bfb23186/store/fill/400/400/f2e48035cca68ea979e35dd9656082ec025d98c28c402bcec017835cc274/avatar.jpeg">
  </div>
  <div>
    <p>
      <strong>Vermieter</strong><br>
      Peter Rippl<br>
      Nordbahnstrasse 7/7<br>
      1020, Wien
    </p>
  </div>
</div>

<div class="summarybox">
  <div class="line">
  </div>
  <div class="avatar">
    <svg class="icon-share"><use xlink:href="#icon-share"></use></svg>
  </div>
  <div class="line">
  </div>
</div>

<div class="summarybox">
  <div>
    <p>
      <strong>Zahlungsart</strong><br>
      Kreditkarte<br>
      endet auf **** 335975<br>
      <a href="#">ändern</a>
    </p>
  </div>
  <div class="avatar">
    <img class="attachment user avatar img-round" src="https://d1dcf21ighh4hq.cloudfront.net/attachments/36b3987037146c1e04baccaaea1e472e0d69d719/store/fill/200/200/0a90d925fcde3d6fa5b1b3f35f7ba2753972a5c6164acc222ab2e172d1ae/avatar.png">
  </div>
  <div>
    <p>
      <strong>Mieter</strong><br>
      morgenjungs GmbH<br>
      Michael Walchhütter<br>
      Ausstellungsstrasse 9/9<br>
      1020, Wien
    </p>
  </div>
</div>

<a class="btn-primary">Jetzt anfragen</a>

</section>
