<ul class="tabs-nav -small">
    <li id="step1">
      <a href="/toolteiler/rent_1">
      <span class="desk">Anmelden</span>
      <span class="mob">1.</span>
      </a>
    </li>
    <li id="step2">
      <a href="/toolteiler/rent_2">
        <span class="desk">Rechnungsadresse</span>
        <span class="mob">2.</span>
      </a>
    </li>
    <li id="step3">
      <a href="/toolteiler/rent_3">
        <span class="desk">Zahlungsart</span>
        <span class="mob">3.</span>
      </a>
    </li>
    <li id="step4">
      <a href="/toolteiler/rent_4">
        <span class="desk">Zusammenfassung</span>
        <span class="mob">4.</span>
      </a>
    </li>
</ul>
