<script src="//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js"></script>
<section class="form-rent-tool">

  <div class="col-content">

    <!-- Render Form Content -->
    <%= render "/toolteiler/form/rent/#{@content}" %>

  </div>
  <div class="col-sidebar">

    <%= render '/toolteiler/form/rent/sidebar-facts' %>

  </div>
</section>
