<section class="form-rent-toolteiler">

  <div class="col-content">

    <!-- Render Form Content -->
    <%= render "/toolteiler/form/rent/#{@content}" %>

  </div>
  <div class="col-sidebar">

    <%= render '/toolteiler/form/rent/sidebar-facts' %>

  </div>
</section>
