<% title('Neuen Raum Call erstellen') %>

<section class="room-form room-call-form">
  <div class="wrp">
    <h1 class="hl-main">Ich <span>biete</span> Raum call<h1>
  </div>

  <%= render 'form' %>

</section>
