<% title('Neuen Raumteiler Call erstellen') %>

<section class="room-form room-call-form">
  <div class="wrp">
    <h1 class="hl-main"><span>Neuer</span> Raumteiler <span>Call</span><h1>
  </div>

  <%= render 'form' %>

</section>
