<% title('Neuen Toolteiler erstellen') %>

<section class="form-toolteiler">

  <div class="hl-subtext">
    <h1>Neuen <span>Toolteiler</span> erstellen</h1>
  </div>

  <%= render "tool_offers/form/index" %>

</section>
