<% title('Neuen Toolteiler anlegen') %>

<section class="tool-form">

<div class="hl-subtext">
      <h1><span>Neuen Toolteiler</span> anlegen</h1>
      <p>Hast du ein Gerät zum verleihen / oder suchst du ein Gerät?</p>

      <div class="button-switch">
        <%= link_to new_tool_offer_path, :class => 'btn-primary' do %>
          <span>Toolangebot</span> erstellen
        <% end %>
        <%= link_to new_tool_demand_path, :class => 'btn-primary' do %>
          <span>Toolsuche</span> erstellen
        <% end %>
      </div>

</div>

</section>
