<% title('Neuen Toolteiler anlegen') %>

<section class="tool-form">

<div class="hl-subtext">
      <h1><span>Neuen Toolteiler</span> anlegen</h1>
      <p>Hast du ein Ger채t zum verleihen / oder suchst du ein Ger채t?</p>

      <div class="button-switch">
        <%= link_to new_tool_offer_path, :class => 'btn-primary' do %>
          <span>Verleihe</span> Ger채t
        <% end %>
        <%= link_to new_tool_demand_path, :class => 'btn-primary' do %>
          <span>Suche</span> Ger채t
        <% end %>
      </div>

</div>

</section>
