<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @user.first_name %>,
        </p>
        <p>
          direkt bei dir ums Eck befindet sich mit dem <strong>beat1060</strong> ein ganz großartiges Zentrum für Bewegung und Tanz in Wien.
        </p>
        <p>
          Für alle imGrätzl-Nutzer*innen aus dem 6., 7. und 5. Bezirk gibt’s im Rahmen des laufenden <strong>Crowdfundings</strong> nun eine ganz besondere Einladung:
        </p>
        <p>
          <strong>Kostenlose Schnupperstunde mit Bruno Genty im beat1060</strong>
        </p>
        <p>
          Am <strong>Samstag, den 28.6.</strong> kannst du das beat1060 in der <strong>Millergasse 42–44</strong> kennenlernen - und bei einer  Schnupperstunde mit Bruno Genty mitmachen.
        </p>
        <p>
          11:40–13:10 Uhr | Contemporary Basic<br>
          Bruno ist international gefragter Tänzer und Pädagoge – und vor allem ein leidenschaftlicher Bewegungsmensch.<br>
          Seine Klassen sind offen für alle, ganz ohne Vorkenntnisse!
        </p>
        <p>
          Bring gerne eine Freundin oder einen Freund mit, schnupper rein – und wenn’s dir gefällt: Unterstütze das Crowdfunding, damit das beat1060 Team die nötigen Sanierungsarbeiten umsetzen kann. <strong>Alle Infos zum Crowdfunding:</strong><br>
          <a href="https://www.imgraetzl.at/crowdfunding/bis-endlich-alle-tanzen" target="_blank">https://www.imgraetzl.at/crowdfunding/bis-endlich-alle-tanzen</a>
        </p>
        <p>
          Wir freuen uns auf euch –<br>
          lasst uns am 28.6. gemeinsam tanzen!<br>
          Dein imGrätzl Team
        </p>
      </td>
    </tr>
  </tbody>
</table>
