<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @contact_list_entry.name %>,
        </p>
        <p>
          schön, dass dich der Call zur Aktivierung von Leerstand interessiert, und wir begleiten dich gerne dabei! Damit wir dein Vorhaben besser greifen können, wäre es super, wenn du uns kurz 2-3 Sätze zu der folgenden Frage schreibst:
        </p>
        <p>
          <strong>Welche Tätigkeit übst du aus, und wofür benötigst du Raum? Welche Idee möchtest du umsetzen?</strong>
        </p>
        <p>
          Das ist gleichzeitig auch ein erster Schritt in Richtung deiner Fördereinreichung. Sobald wir deine Antwort haben, melden wir uns mit einem Terminvorschlag bei dir.
        </p>
        <p>
          Schicke deine Antwort per Mail an: <%= mail_to t("region.#{@region.id}.contact_email"), nil %>
        </p>
        <p>
          Liebe Grüße,<br>
          Mirjam vom imGrätzl-Team
        </p>
      </td>
    </tr>
  </tbody>
</table>
