<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @contact_list_entry.name %>,
        </p>
        <p>
          schön, dass dich der Call zur Aktivierung von Leerstand interessiert, und wir begleiten dich gerne dabei! Noch eine Frage:
        </p>
        <p>
          <strong>Hast du schon einen konkreten Leerstand in Sicht oder bereits angemietet? Oder bist du auf der Suche?</strong>
        </p>
        <p>
          Sobald wir deine Antwort haben, melden wir uns mit einem Terminvorschlag bei dir, um über die nächsten Schritte zu sprechen.
        </p>
        <p>
          Schicke deine Antwort per Mail an: <%= mail_to t("region.#{@region.id}.contact_email"), nil %>
        </p>
        <p>
          Liebe Grüße,<br>
          Mirjam vom <%= t("region.#{@region.id}.domain_short") %>-Team
        </p>
      </td>
    </tr>
  </tbody>
</table>
