<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @user.first_name %>,
        </p>
        <p>
          im Volkert- und Alliiertenviertel soll das <strong>Grätzl-Blattl</strong> weiter erscheinen: eine unabhängige Stadtteilzeitung von Bewohner*innen für Bewohner*innen. Seit 21 Jahren kommt sie vierteljährlich gratis in die Haushalte, liegt in Lokalen auf und ist online lesbar.
        </p>
        <p>
          Aktuell fehlen Mittel für Druck und Verteilung, weil Inserate weggebrochen sind. Mit dem Mindestziel von 4.000 Euro können die nächsten Ausgaben gesichert werden und das Team bekommt Zeit, die Finanzierung auf neue Beine zu stellen.
        </p>
        <p>
          <strong>Jede Unterstützung fürs Grätzl-Blattl zählt.</strong> Wenn du kannst, dann bitte hier entlang:
          <%= link_to 'www.imgraetzl.at/crowdfunding/eine-zeitung-von-fur-bewohnerinnen', 'https://www.imgraetzl.at/crowdfunding/eine-zeitung-von-fur-bewohnerinnen', target:'_blank', style: "color:#ec776a; font-weight:bold;" %>
        </p>
        <p>
          Herzliche Grüße,<br>
          Euer <%= t("region.#{@region.id}.domain_short") %>-Team
        </p>
      </td>
    </tr>
  </tbody>
</table>
