<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @user.first_name %>,
        </p>
        <p>
          bei dir ums Eck tut sich gerade eine Menge: Das <strong>BuchQuartier Penzing</strong> wird aufgebaut. Eine Buchhandlung mit Café, also ein neuer Treffpunkt fürs Grätzl. Das Besondere am BuchQuartier ist, dass es genossenschaftlich betrieben wird.
        </p>
        <p>
          Gerade hat das Team eine Crowdfunding-Kampagne gestartet, um die Ausstattung zu finanzieren. So schön zu sehen, wie viele schon mit anpacken.
        </p>
        <p>
          <strong>Jede Unterstützung zählt.</strong> Wenn du kannst, dann bitte hier entlang:
          <%= link_to 'www.imgraetzl.at/crowdfunding/buchquartier-penzing', 'https://www.imgraetzl.at/crowdfunding/buchquartier-penzing', target:'_blank', style: "color:#ec776a; font-weight:bold;" %>
        </p>
        <p>
          Wenn du mehr über das BuchQuartier erfahren möchtest, dann komm zur Info-Stunde mit den Initiator*innen:
        </p>
        <p>
        - Was ist eine genossenschaftliche Buchhandlung?<br>
        - Wo wird das BuchQuartier entstehen?<br>
        - Wer sind die Menschen hinter dem Projekt?<br>
        </p>
        <p>
        <strong>Wo:</strong> Café Noomi Deli, 14. Bezirk (<%= link_to 'www.noomi.at', 'https://www.noomi.at/', target:'_blank', style: "color:#333333;" %>)<br>
        <strong>Wann:</strong> Freitag, 17.10., 16:30–17:30 Uhr und Donnerstag, 30.10., 16:30–17:30 Uhr
        </p>
        <p>
          Herzliche Grüße,<br>
          Euer <%= t("region.#{@region.id}.domain_short") %>-Team
        </p>
      </td>
    </tr>
  </tbody>
</table>
