<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @user.first_name %>,
        </p>
        <p>
          vielleicht hast du es schon mitbekommen, dass dem leerstehenden Theater an der Margaretenstraße 166 neues Leben eingehaucht wird. Es wird ein spannender Begegnungsraum, der Kunst, Training und Community-Arbeit verbindet, mitten im 5. Bezirk.
        </p>
        <p>
          Nadja und Jasmin sind die Frauen hinter <strong>DAS Margareten</strong> und laden dich herzlich zu einem Rundgang durchs Haus ein (deutsch & englisch). Bei einer Tasse Tee oder Kaffee hast du so die Gelegenheit, die beiden persönlich kennenzulernen.
        </p>
        <p>
          <strong>Wann:</strong> 06.02., um 17:30 Uhr <strong>Wo:</strong> Margaretenstraße 166, 1050 Wien
        </p>
        <p>
          Falls du beim Rundgang nicht dabei sein kannst, mehr Infos zu den Plänen findest du auch im Crowdfunding für DAS Margareten. Denn es muss jede Menge erneuert werden, damit sich der Vorhang bald wieder heben kann.
        </p>
        <p>
          <strong>Gerne weitererzählen und unterstützen, wenn du kannst:</strong> <%= link_to 'https://www.imgraetzl.at/crowdfunding/das-margareten', 'https://www.imgraetzl.at/crowdfunding/das-margareten', target:'_blank', style: "color:#ec776a; font-weight:bold;" %>
        </p>
        <p>
          Bis nächste Woche im Margareten<br>
          Euer imGrätzl Team
        </p>
      </td>
    </tr>
  </tbody>
</table>








