<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

        <p>Servus liebe Energieteiler-Interessierten,</p>
        <p>
          Sorry, im letzten Mail hat sich ein Fehler eingeschlichen. Das Treffen findet am <strong>Mittwoch, den 15. November 2023, von 18 Uhr - 20 Uhr</strong> statt.
        </p>
        <p>Hier nochmals die Einladung:</p>
        <p>
          wir möchten dich ganz herzlich einladen zum zweiten Energieteiler Infotreffen, weil du im <a href="https://www.imgraetzl.at/energieteiler">Energieteiler</a> angegeben hast, dass dich das Thema und die Vernetzung dazu interessiert. 
        </p>
        <p>
          Beim Treffen geht es darum, wie man gemeinschaftlich Energie produzieren und teilen kann. Michaela von der Grätzl Energie ist als Expertin dabei und stellt die Energiegemeinschaften vor.
        </p>
        <p>
          <strong>Bitte schon einmal im Kalender anstreichen: </strong> 
        </p>         
        <p>
          <strong>Wann:</strong> Mittwoch, 15. November 2023, 18 Uhr - 20 Uhr<br>
          <strong>Und hier beim Treffen auf "teilnehmen" klicken:</strong><br>
          <a target="_blank" href="https://www.imgraetzl.at/brunnenviertel/treffen/energieteiler-treffen-was-konnen-energiegemeinschaften-was-macht-gratzlenergie">https://www.imgraetzl.at/brunnenviertel/treffen/energieteiler-treffen-was-konnen-energiegemeinschaften-was-macht-gratzlenergie</a><br>
          <strong>Wo: </strong>Recycling-Kosmos, Kirchstetterngasse 60, 1160 Wien
        </p>
        <p>
          Gerne Fragen mitbringen. Falls es schon ein konkretes Anliegen gibt, unbedingt auch mitbringen. 
        </p>
        <p>
          Und natürlich Nachbar*innen, Freunde oder Bekannte zum Treffen einladen, wenn sie die Energiegemeinschaft interessieren könnten. 
        </p>
        <p>
          Viele Grüße<br>
          Mirjam vom imGrätzl Team
        </p>

      </td>
    </tr>
  </tbody>
</table>
