<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        
        <p>Servus <%= @user.first_name %></p>
        <p>
          du bist gerade auf der Suche nach Partner*innen für <%= link_to 'deinen Raum', room_offer_url(@room_offer), target:'_blank', style: 'color:#ec776a;' %> im Raumteiler? Dann haben wir was für dich: <strong>Der Raumteiler-Pusher ist wieder am Start!</strong>
        </p>
        <p>
          Nachdem er eine Zeit lang komplett ausgebucht war, kannst du jetzt wieder deinen Raum für eine Woche auf unserer Plattform platzieren – in allen Grätzln und wienweit im Newsletter. 
        </p>
        <p>
          <strong>Es gibt nur zwei Plätze pro Woche, damit jeder Raum die Aufmerksamkeit bekommt, die er verdient. Also, schnell sein! Hier kannst du deinen <%= link_to 'Raumteiler-Pusher buchen', room_boosters_user_url, target:'_blank', style: 'color:#ec776a; font-weight:bold;' %>.</strong>
        </p>
        <p>
          Und das Beste daran? Alle Einnahmen aus dem Raumteiler-Pusher fließen im August direkt in unseren <%= link_to 'RaumBooster – unser neuer Fördertopf', 'https://www.imgraetzl.at/crowdfunding-booster/raum-booster/call', target:'_blank', style: 'color:#ec776a;' %>, der die Raumvorhaben von lokalen Macher*innen unterstützt. Mit deinem Pusher bringst du also nicht nur dein eigenes Projekt nach vorne, sondern hilfst auch anderen, ihre Ideen zu verwirklichen. Gemeinsam bringen wir einfach mehr zusammen! 
        </p>
        <p>
        Liebe Grüße<br>
        Mirjam vom imGrätzl-Team
        </p>

      </td>
    </tr>
  </tbody>
</table>
