<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

        <p>Liebe Fördermitglieder von imGrätzl,</p>
        <p>
          wir laden euch herzlich dazu ein, einen Blick hinter die Kulissen von imGrätzl zu werfen und das nächste Jahr bzw. die weitere Entwicklung von imGrätzl mitzugestalten. 
        </p>
        <p>
          <strong>Dank eurer Fördermitgliedschaft existiert imGrätzl.</strong> Deshalb möchten wir euch informieren: Wie ist das Jahr für <%= link_to 'imGrätzl', 'https://www.imgraetzl.at', target:'_blank', style: "color:#ec776a;" %> bzw. für <%= link_to 'WeLocally', 'https://www.welocally.at', target:'_blank', style: "color:#ec776a;" %> gelaufen? Was hat gut funktioniert? Wo gibt es Verbesserungsbedarf? Und wie sehen die Pläne für die Zukunft aus?
        </p>
        <p>
          Wir sind fest davon überzeugt, dass viele kluge Köpfe mehr erreichen können als einer allein. Deshalb freuen wir uns, eure Ideen in die Planung mit einzubeziehen.
        </p>
        <p>
          <strong>Bei unserem Treffen möchten wir auf folgende Themen eingehen:</strong>
        </p>
        <ul>
          <li>Planung & Meilensteine: Was hat gut funktioniert und was weniger?</li>
          <li>Finanzen: Wo stehen wir aktuell?</li>
          <li>Team-Updates, Ressourcen: Gab es Veränderungen?</li>
          <li>Zukunft von imGrätzl: Hier präsentieren wir euch verschiedene mögliche Optionen und sind gespannt auf euer Feedback.</li>
        </ul>
        <p>
          Nach den offiziellen Punkten wechseln wir in den After-Arbeits-Modus: Wir freuen uns darauf, mit euch zu plaudern, zu lachen und auf imGrätzl anzustoßen!
        </p>          
        <p>
        <strong>Save-the-date:</strong><br>
        <strong>Donnerstag, 23. November 2023 - 18:30 Uhr bis ca. 21:30 Uhr</strong>
        </p>
        <p>
          <strong>Anmeldung:</strong> Wenn du dabei sein möchtest. Bitte schickt ein Mail bis spätestens zum 30. Oktober an <%= link_to 'wir@imgraetzl.at', 'mailto:wir@imgraetzl.at', target:'_blank', style: "color:#ec776a;" %>
        </p>
        <p>
          Je nachdem, wie viele sich anmelden, können wir dann einen passenden Raum suchen. Wir informieren euch frühzeitig.  
        </p>
        <p>
        Wir hoffen, dass ihr zahlreich erscheint.
        </p>
        <p>
        Herzliche Grüße<br>
        Mirjam, Michael, Lena und Carina
        </p>

      </td>
    </tr>
  </tbody>
</table>
