<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

        <p>Liebe Förder*innen von imGrätzl,</p>
        <p>
          manche von euch haben schon ihre Teilnahme zu dem imGrätzl Jahrestreffen zugesagt oder geschrieben, dass sie an dem Tag nicht können. Vielen Dank für die Rückmeldungen.
        </p>
        <p>
          <strong>Bis einschließlich 30.10. kann man sich noch zum imGrätzl Jahrestreffen am 23. November anmelden und als Förder*in die weitere Entwicklung von <%= link_to 'imGrätzl', 'https://www.imgraetzl.at', target:'_blank', style: "color:#ec776a; font-weight:bold;" %> bzw. von <%= link_to 'WeLocally', 'https://www.welocally.at', target:'_blank', style: "color:#ec776a; font-weight:bold;" %> mitgestalten.</strong>
        </p>
        <p>
          <strong>Wir möchten euch informieren:</strong> Wie ist das Jahr für imGrätzl bzw. für WeLocally gelaufen? Was hat gut funktioniert? Welchen Herausforderungen standen wir gegenüber? Und wie sehen die Pläne für die Zukunft aus? Wir stellen euch verschiedene Möglichkeiten vor und möchten diese mit euch erörtern und euer Feedback in die Planung mit einbeziehen. 
        </p>         
        <p>
        <strong>Save-the-date:</strong><br>
        <strong>Donnerstag, 23. November 2023 - 18:30 Uhr bis ca. 21:30 Uhr</strong>
        </p>
        <p>
          <strong>Anmeldung:</strong> Wenn du dabei sein möchtest. Bitte schickt ein Mail bis spätestens zum 30. Oktober an <%= link_to 'wir@imgraetzl.at', 'mailto:wir@imgraetzl.at', target:'_blank', style: "color:#ec776a;" %>
        </p>
        <p>
          Je nachdem, wie viele sich anmelden, können wir dann einen passenden Raum suchen. Wir informieren euch frühzeitig, wo genau das Treffen stattfindet.
        </p>
        <p>
        Wir hoffen, dass ihr zahlreich erscheint.
        </p>
        <p>
        Herzliche Grüße<br>
        Mirjam, Michael, Lena und Carina
        </p>

      </td>
    </tr>
  </tbody>
</table>
