<table border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <p>
          Servus <%= @user.first_name %>,
        </p>
        <p>
          Liebe imGrätzl Förder*innen,<br>

          danke, dass ihr <%= link_to 'imGrätzl', 'https://www.imgraetzl.at', target:'_blank', style: "color:#ec776a;" %> ermöglicht. Es ist wieder Zeit für den jährlichen Überblick: Was in diesem Jahr gut funktioniert hat und was wir planen.
        </p><br>
        <p>
          <strong>imGrätzl-Community wächst</strong>
        </p>
        <p>
          Es sind nun über 17.000 Macher*innen in Wien registriert und die imGrätzl-Community wächst jeden Tag. Die meisten davon sind Ein-Personen-Unternehmen, Kleinstunternehmen, Kunst- und Kulturtätige, Vereine und Initiativen. Wir wollen das kooperative Tun noch mehr unterstützen und planen für 2026 ein paar Neuerungen, u.a. planen wir, den Raumteiler, die Treffen-Funktion bzw. die Schaufenster zu verbessern. Viel davon passiert mit der Umsetzung der Grätzlwirtschaft, daran arbeiten wir hinter den Kulissen bereits seit 2 Monaten.  Außerdem konnten wir vor Kurzem mit einem großartigen Projekt starten - mehr zu <strong>sheBOOST</strong> gibt's weiter unten.
        </p><br>
        <p>
          <strong>Highlight: Crowdfunding</strong>
        </p>
        <p>
          Beim Crowdfunding gehts laufend bergauf, u. a. konnten wir die Erfolgsquote auf 87% verbessern. Das Kampagnenvolumen ist von 225.993 € (2024) auf 383.880 € (2025 bisher) gestiegen. Und es laufen noch einige Kampagnen. Es ist richtig schön zu sehen, wie viele sinnvolle und lokale Projekte darüber realisiert werden können. 
        </p><br>
        <p>
          <strong>Finanzierung, wir steigern uns</strong>
        </p>
        <p>
          Die gute Nachricht: Die Plattform-Einnahmen konnten wir in diesem Jahr verdoppeln, sie liegen nun bei 25.000 €/Jahr. Das ist großartig! Dem gegenüber stehen Kosten von über 100.000 €/Jahr. Den größten Teil finanzieren wir über geförderte Forschungs- und Entwicklungsprojekte, ein kleinerer Teil durch Kooperationsprojekte wie z.B. mit der Stadt Innsbruck. Nach wie vor also viel ehrenamtliche Arbeit und immer mal wieder unsichere Zeiten. Umso wichtiger seid ihr als Fördermitglieder, um die Plattform für euch und die imGrätzl-Community abzusichern.
        </p><br>
        <p>
          <strong>Neue Herausforderungen</strong>
        </p>
        <p>
          Was wir seit einigen Monaten beobachten: imGrätzl und WeLocally zu betreiben wird technisch aufwendiger. Wir müssen die Plattform intensiver gegen Bots, Spam-Attacken etc. schützen. Das bedeutet mehr Tools, aber auch mehr Ressourcen, die aus unserem sehr überschaubaren Team reinfließen müssen.
        </p><br>
        <p>
          <strong>ab 2026: sheBOOST</strong>
        </p>
        <p>
          Mit sheBOOST ist jetzt mit November ein neues, gefördertes Projekt gestartet. Im Frühjahr haben wir es bei der FFG-Ausschreibung „Laura Bassi: Gestaltung einer chancengerechten Zukunft" eingereicht und die Jury hat unser Vorhaben positiv bewertet.
          <br><br>
          <strong>HURRA! Unser Ziel: In den nächsten drei Jahren sollen 100 Vorhaben von Frauen in Wien Wirklichkeit werden.</strong> Dafür entwickeln wir unseren Matchfunding-Fördertopf - den RaumBooster - weiter.
          <br><br>
          Wir können im Rahmen von sheBOOST außerdem umsetzen, wovon wir schon lange träumen - imGrätzl goes offline! Wir wissen aus erster Hand, dass Vorhaben nur gemeinsam und mit der Unterstützung von vielen (z. B. von euch) gelingen können. Deshalb entwickeln wir im Rahmen von sheBOOST GrätzlConnect, damit ganz im Sinne der Vision von imGrätzl noch mehr  Verbindungen in der realen Welt zwischen den Macher*innen entstehen können. 

          Falls ihr Fragen habt oder mehr wissen möchtet, schreibt mir (Mirjam) einfach.
        </p><br>
        <p>
          Danke für eure Unterstützung.<br>
          Mirjam, Michael, Lena und Karin
        </p>
      </td>
    </tr>
  </tbody>
</table>
