<%= button_to edit_graetzl_meeting_path(meeting.graetzl, meeting), method: :get, class: 'btn-userCallToAction' do %>
  <span><%= attachment_image_tag(current_user, :avatar, :fill, 100, 100, fallback: 'avatar/small_default.png', class: 'img-round') %> Treffen bearbeiten</span>
<% end %>