<div class="col footer-logos">
  <%= link_to(image_tag('logo-wa.png', width:132, height:65), 'https://wirtschaftsagentur.at/', target: '_blank') %>
  <div>
    Gefördert durch die Wirtschaftsagentur Wien.<br>
    Ein Fonds der Stadt Wien.
  </div>
</div>
