<div class="col footer-logos">
  <%= link_to(image_tag('regions/muehlviertler-kernland/logo_leaderregion.png'), 'https://www.leader-kernland.at', target: '_blank') %>
  <div>
    In Kooperation mit:<br><br>
    Regionalverein „Leader-Region“ Mühlviertler Kernland
    <br>
    <%= link_to 'www.leader-kernland.at', 'https://www.leader-kernland.at', target: 'blank' %>
  </div>
</div>
