<div class="region-logos">
  <%= link_to subscription_plans_path, class: 'subscription' do %>
    <div class="inner">
      <%= icon_tag "abo" %>
      <div class="txt">
        Unterstütze imGrätzl mit einer <strong>Fördermitgliedschaft</strong>.
      </div>
    </div>
  <% end %>
</div>
