<div class="region-logos">
  <small class="title">In Kooperation mit:</small>
  <div class="inner">
    <%= link_to(image_tag('regions/muehlviertler-kernland/logo_leaderregion.png', width:400, height:177, data: { label: '„Leader-Region“ Mühlviertler Kernland'}), 'https://www.leader-kernland.at', target: '_blank', :class => '-logo') %>
  </div>
</div>
