<div class="region-logos">
  <small class="title">In Kooperation mit:</small>
  <div class="inner">
    <%= link_to(image_tag('regions/innsbruck/logo-innsbruck.png', loading: 'lazy', width:400, height:193, data: { label: 'Stadt Innsbruck'}), 'https://www.innsbruck.gv.at', target: '_blank', :class => '-logo', rel: 'noopener') %>
  </div>
</div>
