<div class="mapImgBlock">
  <div id="graetzlMapWidget" data-mapdata="<%= MapData.new.for_region(current_region, @districts).to_json %>"></div>
  <div class="activeArea"></div>
  <div class="navBlock">
    <h1><%= current_region %></h1>
    <div class="links">
      <% @districts.each do |district| %>
        <%= link_to "#{district.zip} - #{district.name}", district %>
      <% end %>
    </div>
    <select class="mobileSelectMenu">
      <option disabled>Bezirk wählen</option>
    </select>
  </div>
</div>
