<div class="mapImgBlock">
  <%= area_map(current_region.use_districts? ? current_region.districts : current_region.graetzls) %>

  <div class="navBlock">
    <h1><%= current_region %></h1>
    <div class="links">
      <% if current_region.use_districts? %>
        <% current_region.districts.sort_by(&:zip).each do |district| %>
          <%= link_to district.zip_name, district_index_path(district) %>
        <% end %>
      <% else %>
        <% current_region.graetzls.sort_by(&:name).each do |graetzl| %>
          <%= link_to graetzl.name, graetzl %>
        <% end %>
      <% end %>
    </div>
    <select class="mobileSelectMenu">
      <% if current_region.use_districts? %>
        <option disabled>Bezirk wählen</option>
      <% else %>
        <option disabled>Gemeinde wählen</option>
      <% end %>
    </select>
  </div>
</div>
