<% session[:baumler] = :seen %>
<div class="baumler-stoerer">
  <a href="http://blog.imgraetzl.at/feel-good-im-graetzl/" target="_blank" class="wrap"></a>
  <svg class="icon-cross close"><use xlink:href="#icon-cross"></use></svg>
</div>
