<div id="error_explanation">
  <h2><%= name %> konnte nicht gespeichert werden!<br><%= target.errors.count %> Fehler:</h2>
  <ul>
    <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
