<div id="error_explanation">
  <p class="title">
    <strong><%= name %> konnte nicht gespeichert werden!</strong>
    <span class="error_count"><br><%= target.errors.count %> Fehler:</span>
  </p>
  <ul>
    <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
