<div id="error_explanation">
  <p class="title">
    <strong><%= name %> konnte nicht gespeichert werden!</strong>
    <div class="error_count"><%= target.errors.count %> Fehler:</div>
  </p>
  <ul>
    <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
