<header>
  <div class="inner">
    <%= render 'nav' %>

    <% unless session[:advent] %>
      <% session[:advent] = :seen %>
      <div class="baumler-stoerer">
        <a href="http://blog.imgraetzl.at/schaufenster-poesie-adventkalender-im-zweiten/" target="_blank" class="wrap">
          <div class="link">Zum Kalender</div>
        </a>
        <svg class="icon-cross close"><use xlink:href="#icon-cross"></use></svg>
      </div>
    <% end %>

  </div>

</header>
<%= render 'flashes' %>
