<div class="mainNav">
  <%= link_to 'Home', root_path, class: 'homelink' %>
  <div class="graetzlTrigger dropdownTrigger" data-horizontal-offset="0" data-mobileNavID="graetzl">
    <svg class="icon-arrow-down-2"><use xlink:href="#icon-arrow-down-2"></use></svg>
    <span class="txt">Grätzl entdecken</span>
  </div>
  <a href="http://blog.imgraetzl.at/" class="bloglink" target="_blank">Blog</a>

  <!-- dropDowns -->
  <div class="graetzlContainer jq-dropdown jq-dropdown-tip jq-dropdown-relative jq-dropdown-anchor-left dropdown-container">
    <div class="jq-dropdown-panel nav-graetzl">
      <%= link_to  districts_path, class: 'discover' do %>
        <svg class="icon-map-location"><use xlink:href="#icon-map-location"></use></svg>Wien Übersicht
      <% end %>
      <%= link_to_more_info %>
    </div>
  </div>
</div>
