<div class="mainNavHolder">

  <div class="mobileNavToggle">
    <svg class="icon-layout-text"><use xlink:href="#icon-layout-text"></use></svg>
    <span>Navigation</span>
  </div>

  <%= render "application/nav/#{nav_context.class.to_s.underscore}", target: nav_context %>
  <%= render "application/nav/personal_#{nav_user.class.to_s.underscore}", user: nav_user %>
</div>

<div class="mobileNavHolder">
  <%= render "application/nav/mobile/#{nav_context.class.to_s.underscore}", target: nav_context %>
  <%= render 'application/nav/mobile/personal' if user_signed_in? %>
</div>
