<div class="personalNav">
  <%= link_to new_registration_path, class: 'registerlink' do %>
    <span>Kostenlos registrieren</span>
  <% end %>
  <%= link_to 'Anmelden', new_user_session_path, class: 'loginlink' %>
</div>
