<div class="entryUserComment" data-commentid="111">
  <div class="editControls">
    <div class="btn-delete"><svg class="icon-trash-delete-remove"><use xlink:href="#icon-trash-delete-remove"></use></svg></div>
    <div class="btn-edit"><svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg></div>
  </div>
  <%= yield %>
</div>