<ul class="tabs-nav -small">
  <li>
    <%= link_to '#tab-address' do %>
      <span class="desk">Rechnungsadresse</span>
      <span class="mob">2.</span>
    <% end %>
  </li>
  <li>
    <%= link_to '#tab-payment' do %>
      <span class="desk">Zahlungsart</span>
      <span class="mob">3.</span>
      <% end %>
  </li>
  <li>
    <%= link_to '#tab-summary' do %>
      <span class="desk">Zusammenfassung</span>
      <span class="mob">4.</span>
    <% end %>
  </li>
</ul>
