<%= render 'summary/block_header', title: "Vor 5 Jahren hatten wir einen Traum und viele von euch haben ihn mitgeträumt." %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px;">

        <%= link_to 'https://www.startnext.com/imgraetzl-kommt-zu-euch', target:'_blank' do %>
          <%= image_tag 'https://blog.imgraetzl.at/wp-content/uploads/2021/01/support-us.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; min-width:264px; width:264px;">
          <tr>
            <td>
              <p>
                <strong>Jetzt haben wir die großartige Chance bekommen,</strong> die Idee vom kooperativen Wirtschaften und Ressourcen teilen auch in anderen Teilen von Österreich zu verbreiten.
                <%= link_to 'Hier kannst du imGrätzl unterstützen!', 'https://www.startnext.com/imgraetzl-kommt-zu-euch', target:'_blank', style: "color:#ec776a;" %>
              </p>
            </td>
          </tr>
        </table>


      </td>
    </tr>
  </tbody>
</table>
