<%= render 'mailers/notification_mailer/summary/block_header', title: "Raum gesucht? Hier ist deine Chance!" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to leerstand_url, target:'_blank' do %>
          <%= image_tag 'info/crowd2raum/blase.png', style: "width:230px; min-width:230px; float:left; margin-right:18px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Noch bis zum 15. November kannst du dein Nutzungskonzept einreichen und dir bis zu 50 % Mietkostenübernahme sichern!</strong>
              </p>
              <p>
                Und das für volle drei Jahre, wenn du einen Leerstand im Erdgeschoss im Grätzl 20 + 2 belebst. <%= link_to 'Alle Infos', leerstand_url, target:'_blank', style:'font-weight:bold; color:#ec776a;' %>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </tbody>
</table>
