<%= render 'summary/block_header', title: "Mach mit beim Crowdfunding Call!" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to start_crowd_campaigns_url, target:'_blank' do %>
          <%= image_tag 'mailings/call.png', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Wir begleiten dich bei deiner Crowdfunding Kampagne - Mach mit beim Call!</strong>
                <br>
                Es stehen zwei Plätze zur Verfügung. Die Anmeldung ist noch bis zum 05.03.2023 möglich.
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Zum Crowdfunding Call", url: start_crowd_campaigns_url, style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
