<%= render 'summary/block_header', title: "NEU: Crowdfunding für lokale Macher*innen" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to 'https://www.imgraetzl.at/bocklinviertel-pratercottage/treffen/mach-mit-gemeinsam-gestalten-wir-die-crowdfunding-tools-auf-imgratzl', target:'_blank' do %>
          <%= image_tag 'mailings/crowdfunding.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Mach mit - Gemeinsam gestalten wir die neuen Crowdfunding Tools auf imGrätzl!</strong><br>
                Wir suchen nun Menschen, die Lust haben, die geplanten Crowdfunding Tools an einem konkreten Beispiel für Wien mitzugestalten. Findest du auch, dass es solche Tools braucht und hättest Spaß daran, deine Gedanken in die Entwicklung mit einzubringen?
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Jetzt teilnehmen und mitgestalten", url: "https://www.imgraetzl.at/bocklinviertel-pratercottage/treffen/mach-mit-gemeinsam-gestalten-wir-die-crowdfunding-tools-auf-imgratzl", style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
