<%= render 'summary/block_header', title: "Energieteiler Treffen: Was können Energiegemeinschaften & was macht die Grätzl Energie? 15. November, 18 Uhr" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px; width:100%;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px; width:100%;">

        <%= link_to 'https://www.imgraetzl.at/brunnenviertel/treffen/energieteiler-treffen-was-konnen-energiegemeinschaften-was-macht-gratzlenergie', target:'_blank' do %>
          <%= image_tag 'mailings/energieteiler_treffen.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Wir laden euch ganz herzlich zum Energieteiler-Treffen rund um die neuen Energiegemeinschaften ein:</strong>
                <br>
                Wie kann Energie produziert und mit anderen Menschen geteilt werden. Mit dabei, Michaela Turetschek von der Grätzl Energie.
                <br>
                <strong>Wann: 15. Nov 2023, 18 Uhr - 20 Uhr</strong>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Infos und Anmeldung", url: 'https://www.imgraetzl.at/brunnenviertel/treffen/energieteiler-treffen-was-konnen-energiegemeinschaften-was-macht-gratzlenergie', style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
