<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px; margin-top:28px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">
        <em>
        PS: Eine Plattform wie imGrätzl benötigt nicht nur viel Engagement der Macher*innen,
        sondern auch den ganz schnöden Mammon und eure Unterstützung, um die Plattform betreiben zu können.
        Daher freuen wir uns, wenn ihr mithelft z.B. mit der Buchung eines
        <%= link_to 'Zuckerls', 'https://www.imgraetzl.at/info/zuckerl', style: "color:#ec776a;", target:'_blank' %>
        oder durch die Teilnahme bei unseren Umfragen oder auch indem ihr imGrätzl und z.B den Raumteiler weiterempfehlt!
        </em>
      </td>
    </tr>
  </tbody>
</table>
