<%= render 'summary/block_header', title: "Für GründerInnen, Selbstständige & MacherInnen, die 2020 was vorhaben!" %>

<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px;">
        <%= link_to unterstuetzer_team_url do %>
          <%= image_tag 'https://gallery.mailchimp.com/3accfa3feb5f05b82bd1fddc6/images/2650949f-a62a-4d5e-8372-afe02f43c6ce.png', style: "width:140px; height:140px; max-width:140px; min-width:140px;", class: "mcnImage" %>
        <% end %>
      </td>
      <td valign="center" class="mcnTextContent" width="100%">
        <p>
          <em><strong>Die neuen Unterstützer-Teams starten.</strong></em>
        </p>
        <p>
          Für alle, die im neuen Jahr ein Vorhaben mit Gruppenpower im Rücken umsetzen möchten: 
          <%= link_to 'www.imgraetzl.at/unterstuetzer-team', unterstuetzer_team_url, style: "color:#ec776a;" %>
        </p>
      </td>
    </tr>
  </tbody>
</table>
