<%= render 'summary/block_header', title: "Neu: Kurzzeitmieten Buchungstool im Raumteiler" %>

<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px;">

        <%= link_to 'https://www.imgraetzl.at/wien/raumteiler?special_category=room_rental', target:'_blank' do %>
          <%= image_tag 'https://mcusercontent.com/3accfa3feb5f05b82bd1fddc6/images/2711c75c-5942-41ff-9037-ddb3b31364fb.png', style: "max-width:564px; float:left; margin-right:18px; margin-bottom:18px;", class: "mcnImage" %>
        <% end %>

        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:564px;">
          <tr>
            <td>
              <em><strong>Falls du deinen Raum stundenweise, tageweise oder am Wochenende vermieten möchtest, dann ermöglicht das Tool die online Buchung inkl. der Zahlungsabwicklung.</strong></em>
              <p>
                <strong>Und:</strong> Benötigst du z.B. für einen Workshop einen Raum ums Eck, dann buche ihn in Zukunft ganz einfach online im Raumteiler.
                <%= link_to 'Zum neuen Raumteiler', 'https://www.imgraetzl.at/wien/raumteiler?special_category=room_rental', style: "color:#ec776a;" %>
              </p>
            </td>
          </tr>
        </table>


      </td>
    </tr>
  </tbody>
</table>
