<%= render 'mailers/notification_mailer/summary/block_header', title: "HOT August - Alles muss raus!" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to "https://www.imgraetzl.at/crowdfunding-booster/raum-booster/call", target:'_blank' do %>
          <%= image_tag 'mailings/raumbooster.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Hol dir jetzt das Grätzlzuckerl zum Sonderpreis oder einen lässigen Raum-Pusher.</strong> Alle Einnahmen wandern in den RaumBooster Topf und machen aus Leerständen lebendige Orte!
                <br>
                <strong><%= link_to 'Mehr Infos findest du hier!', "https://www.imgraetzl.at/crowdfunding-booster/raum-booster/call", target: '_blank', style: 'color:#ec776a; font-weight:bold;' %></strong>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </tbody>
</table>
