<%= render 'mailers/notification_mailer/summary/block_header', title: "Hebe Dein Angebot ins Rampenlicht!" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to zuckerls_user_url, target:'_blank' do %>
          <%= image_tag 'info/crowd_boost/cardbox.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Sichere dir für kurze Zeit 20% Rabatt auf das <%= link_to 'wienweite Zuckerl', zuckerls_user_url, style: "color:#ec776a; font-weight:bold;", target:'_blank' %></strong> und mach dein Herbstangebot einen Monat lang sichtbar auf imGrätzl.at und in unseren Newslettern.
                <br><br>
                Perfekt für maximale Reichweite und Aufmerksamkeit in Wien. 
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </tbody>
</table>
