<table border="0" cellpadding="0" cellspacing="0" style="border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; padding-top:18px; padding-bottom:18px;" width="100%" class="mcnTextContentContainer">
  <tr>
    <td><%= image_tag 'mailings/ico-booster.png', style: "width:50px; height:50px; max-width:50px; max-height:50px; padding-right:10px; padding-left:18px;", class: "mcnImage" %></td>
    <td class="mcnTextContent" style="padding-top:18px; padding-bottom:18px; padding-right:18px;">
      <strong>Jetzt Neu - <%= link_to 'Der Raumteiler Booster', room_boosters_user_url, target:'_blank', style: "color:#ec776a; font-weight:bold;" %></strong><br>
      Platziere deinen Raumteiler eine Woche in allen Newslettern in ganz Wien.
    </td>
  </tr>
</table>
