<%= render 'summary/block_header', title: "DAS SEESTÄDTER - Die CALLS sind jetzt geöffnet." %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px; width:100%;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px; width:100%;">

        <%= link_to 'http://www.dasseestaedter.at/calls', target:'_blank' do %>
          <%= image_tag 'mailings/seestaedter.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Werde Mitgestalter:in des Seestädters.</strong>
                <br>
                Die Calls für zwei Häuser des Seestädters sind gerade gestartet.
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Alle detaillierten Infos und zu den Calls", url: 'http://www.dasseestaedter.at/calls', style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
