<%= render 'summary/block_header', title: "DAS SEESTÄDTER – Wiens ko-kreative Nachbarschaft" %>

<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to 'http://www.dasseestaedter.at/calls', target:'_blank' do %>
          <%= image_tag 'mailings/seestaedter_axa_zoom.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Wir suchen engagierte Mitgestalter:Innen und Nutzer:innen!</strong>
                <br>
                Das SEESTÄDTER entsteht in der Seestadt Aspern und möchte ein nachhaltiges und ressourcenschonendes Leben ermöglichen. Im Herbst 2023 werden Calls ausgeschrieben, um Mitgestalter:innen und Nutzer:innen für zwei der elf Häuser, die direkt am See entstehen, zu finden.
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Alle Infos", url: 'http://www.dasseestaedter.at/calls', style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
