<table border="0" cellpadding="0" cellspacing="0" style="width:94px !important; float:left; box-sizing: border-box; margin-bottom:10px;">
  <tr>
    <td style="height:50px; text-align:center;">
      <%= link_to subscription.user do %>
        <%= avatar_image subscription.user, size: :thumb, style: "width:50px; height:50px; border-radius:28px; border: 1px solid #83C7BD; background-color: #ffffff; padding: 2px;" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td style="line-height:16px; vertical-align:top; text-align:center; font-size:12px;">
      <%= link_to subscription.user.full_name, subscription.user, target:'_blank', style: "color:#333; text-decoration:none;" %>
    </td>
  </tr>
</table>
