<%= render 'summary/block_header', title: "Danke an alle imGrätzl UnterstützerInnen!" %>

<table border="0" cellpadding="0" cellspacing="0" class="mcnTextContentContainer">
    <tr>
      <td class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:18px; padding-right:18px; text-align:center;">
        Der Betrieb und die Weiterentwicklung von imGrätzl wird ermöglicht durch diese großartigen Menschen und Unternehmen.
      </td>
    </tr>
</table>

<%= render partial: 'featured/supporter', collection: Supporter.random(3), as: :supporter %>

<%= render 'mailers/shared/button', title: "Zu allen UnterstützerInnen", url: info_danke_url, style: "width:100%;" %>
