<table border="0" cellpadding="0" cellspacing="0" style="float:left; width:200px; box-sizing: border-box; max-width:200px; margin-bottom:20px; border-bottom-width: 1px; border-bottom-style: dashed;border-bottom-color: #efefef;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" align="center" class="mcnTextContent" style="padding-left:18px; padding-right:18px; padding-top:0; padding-bottom:18px; text-align:center;">

        <table border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
          <tr>
            <td heigt="160px" style="height:160px;">
              <%= link_to supporter.url do %>
                <%= mail_image_tag "supporter/logos/#{supporter.logo_name}", style: "max-width:160px; max-height:160px;", class: "mcnImage" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="mcnTextContent" style="height:50px; font-size:12px; line-height:16px; vertical-valign:center; text-align:center;">
              <%= link_to supporter.name, supporter.url, target:'_blank', style: "color:#ec776a; text-transform: uppercase;" %>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </tbody>
</table>


