<%= render 'mailers/notification_mailer/summary/block_header', title: "Neu - Der Viertelfonds" %>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%; max-width:600px; border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #efefef; margin-bottom:18px;" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="center" class="mcnTextContent" width="100%" style="padding-left:18px; padding-right:18px; padding-bottom:18px;">

        <%= link_to 'https://graz.welocally.at/crowdfunding-booster/viertelfonds/call', target:'_blank' do %>
          <%= image_tag 'info/crowd_boost/cardbox.jpg', style: "width:264px; min-width:264px; float:left; margin-right:18px; margin-bottom:18px; margin-top:10px;", class: "mcnImage" %>
        <% end %>

        <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;">
          <tr>
            <td>
              <p>
                <strong>Leerstand rund um den Jakominiplatz beleben und Räumen eine neue Zukunft geben!</strong>
              </p>
              <p>
                Mit dem ViertelFonds werden lokale Macher*innen dabei unterstützt, Leerstand rund um den Jakominiplatz zu beleben – hilf jetzt mit, den Topf zu füllen!
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
    <tr>
      <td><%= render 'mailers/shared/button', title: "Zum ViertelFonds", url: "https://graz.welocally.at/crowdfunding-booster/viertelfonds/call", style: "width:100%;" %></td>
    </tr>
  </tbody>
</table>
