<div class="cardbox-wrp">
  <div class="paperCard -cord1RT -illuteaser">
    <div class="wrp">
      <div class="user">
        <%= image_tag('avatar/user/default.png', class: 'img-round') %>
        <span>Dein Name</span>
      </div>
      <h3>Du bist unternehmerisch oder kreativ im Grätzl <%= graetzl.name %> tätig?</h3>
      <%= link_to 'Deine Location einrichten', new_location_path(graetzl_id: graetzl), class: 'btn-primary' %>
    </div>
    <div class="card"></div>
  </div>
  <%= link_to 'Alle Treffpunkte & Anbieter', graetzl_locations_path(graetzl), class: 'link-more' %>
</div>
