<div class="user-personal">
  <p class="txt">Erweiterte Info</p>

  <div class="input-select">
    <%= f.label :category_ids do %>
      <svg class="icon-label-tag"><use xlink:href="#icon-label-tag"></use></svg>
      <span>Geschäfts-Kategorien</span>
    <% end %>
    <%= f.collection_select(:category_ids, Category.business, :id, :name, {}, {multiple: true, class: 'categories'}) %>
  </div>
</div>