<div class="meetingBlock">
  <div class="wrp-hl">
    <div class="bigicontext-element" href="/stuwerviertel/locations">
      <svg class="icon-calendar-2"><use xlink:href="#icon-calendar-2"></use></svg>
      <div class="txt">Treffen & Termine</div>
    </div>
    <% if user_signed_in? && @location.show_meeting_button(current_user) %>
      <%= link_to new_meeting_path(location_id: @location.id), class: 'btn-userCallToAction' do %>
      <span>
        <%= avatar_for current_user %>
        Treffen hier starten
        <svg class="icon-plus">
          <use xlink:href="#icon-plus"></use>
        </svg>
      </span>
      <% end %>
    <% end %>
  </div>
  <div class="cardBoxCollection -double" data-tabID="one" data-behavior="meetings-container">
    <%= render @meetings %>
  </div>
  <%= view_more_of @meetings, 'meetings' %>
</div>
