<div class="meetingBlock">
  <div class="wrp-hl">
    <div class="bigicontext-element">
      <%= icon_tag('calendar-2') %>
      <div class="txt">Treffen & Termine</div>
    </div>
  </div>

  <%= form_tag meetings_path(location_id: @location.id, per_page: 2), method: :get, remote: true, class: 'autosubmit-stream' do; end %>

  <div class="cardBoxCollection -double" data-behavior="meetings-card-container"></div>
  <%= link_to 'Mehr anzeigen', 'javascript:', remote: true, class: 'link-load hide', data: { disable_with: 'lädt...', behavior: 'meetings-paginate-link' }, rel: 'nofollow' %>
</div>
