<div id="zuckerl_<%= zuckerl.id %>" class="zuckerl cardBox -zuckerl">
  <div class="cardBoxHeader">
    <%= attachment_image_tag(zuckerl, :image, :fill, 300, 180, class: 'coverImg') %>
    <div class="categoryicon">
      <svg class="icon-shopping-bag"><use xlink:href="#icon-shopping-bag"></use></svg>
    </div>
  </div>
  <div class="cardBoxContent">
    <div class="zuckerlteasertxt">
      <div class="title"><%= zuckerl.title %></div>
      <div class="description"><%= zuckerl.description %></div>
    </div>
  </div>
</div>
