<% title('Schaufenster bearbeiten') %>

<section class="location-form">
  <div class="wrp">
    <h1 class="hl-main"><span>Schaufenster</span> bearbeiten</h1>
    <p class="-small">Nützliche Tipps und Ausfüllhilfe zum <a href="https://raumteiler.s3.eu-central-1.amazonaws.com/Vorlage_Schaufenster.pdf" target="_blank">Download</a></p>
  </div>

  <%= render 'locations/form/index' %>

</section>
