<% title("Location #{edit_status @location}") %>

<section class="register-personalInfo">
  <div class="wrp">
    <h1><span><%= @location.name %></span> im <%= @location.graetzl.name %></h1>
    <%= link_to_add_graetzl_fields('Grätzl ändern', @location) %>
  </div>

  <%= render 'form' %>
  
</section>