<% title("Location #{edit_status @location}") %>

<section class="register-personalInfo">
  <div class="wrp">

  <div class="wrp">
    <h1><span><%= @location.name %></span> im <%= @location.graetzl.name %></h1>
    <%= link_to 'Grätzl ändern?', '#', class: 'link-subtle' %>
  </div>

  <%= render 'form' %>
  
</section>