<% title('Neue Location Graetzl') %>

<section class="selectGraetzl">

  <h1>In welchem <span>Grätzl</span> befindet sich die Location?</h1>

    <%= form_tag(before_new_locations_path) do %>
      <%= render 'shared/graetzl_select', district: @district, graetzl: @graetzl %>
      <div class="nav-btnBar">
        <%= link_to 'Zurück', 'javascript:history.back();', class: 'btn-secondary' %>
        <%= button_tag 'Weiter', data: { disable_with: 'sendet...' }, class: 'btn-primary' %>
      </div>
    <% end %>

</section>