<% title("#{@graetzl.name}: Entdecke Treffpunkte, Lokale & Geschäfte") %>

<section class="locations-overview">
  <h1><span><%= @graetzl.name %>:</span> Entdecke gute Treffpunkte & Anbieter,<br>Lokale & Geschäfte</h1>
  <div class="cardCollection">
    <%= render @locations %>
  </div>
</section>
