<section class="locations-overview">

  <h1><span>Stuwerviertel:</span> Entdecke gute Treffpunkte & Anbieter,<br>Lokale & Geschäfte</h1>

  <div class="cardCollection">
    <%= render @locations %>
  </div>
</section>
