<% title t('.title', graetzl: @graetzl.name) %>
<% meta_tag :description, t('.description', graetzl: @graetzl.name) %>
<% meta_tag :robots, @graetzl.open? ? 'index, follow' : 'noindex, follow' %>

<section class="locations-overview">
  <h1><span><%= @graetzl.name %>:</span> Entdecke gute Treffpunkte & Anbieter, Lokale & Geschäfte</h1>
  <div class="cardBoxCollection -tripple">
    <%= render 'locations/action_card', graetzl: @graetzl %>
    <%= render @locations %>
  </div>
</section>
