<%
  meta({
    title: t('.title', graetzl: @graetzl.name),
    description: t('.description', graetzl: @graetzl.name),
    robots: @graetzl.open? ? 'index, follow' : 'noindex, follow',
    og_title: t('.title', graetzl: @graetzl.name),
    og_description: t('.description', graetzl: @graetzl.name),
    og_image: image_url('meta/og_logo.png')
  })
%>

<section class="locations-overview">
  <%= render 'graetzls/map', map_data: @map_data %>
  <h1 class="hl-main">Entdecke gute <span>Treffpunkte & Anbieter, Lokale & Geschäfte</span></h1>
  <div id="locations" class="cardBoxCollection -tripple js-moveActionCard3rd">
    <%= render 'locations/action_card', graetzl: @graetzl %>
    <%= render @locations %>
  </div>
  <%= view_more_link(@locations, style: ' -big') %>
</section>
