<% title('Neue Location') %>

<section class="location-form">
  <div class="wrp">
    <h1 class="hl-main">Neue Location im Grätzl <span><%= @location.graetzl.name %></span></h1>
  </div>

  <%= render 'locations/form/index' %>

</section>