<% title('Neues Schaufenster einrichten') %>

<section class="location-form">
  <div class="wrp">
    <h1 class="hl-main"><span>Neues Schaufenster</span> einrichten</h1>
  </div>

  <%= render 'locations/form/index' %>

</section>
