<% title('Neue Location') %>

<section class="register-personalInfo">
  <div class="wrp">
    <h1>Neue Location im Grätzl <span><%= @location.graetzl.name %></span></h1>
  </div>

  <%= render 'form' %>
  
</section>