<div class="streamElement">

  <div class="entryInitialContent">
    <%= content_for :initial_content %>
  </div>
  
  <%= yield %>

  <%= render 'comments/form', type: activity.trackable_type, id: activity.trackable_id %>

</div>