<header>
  <div class="inner">

    <div class="mainNavHolder">

      <div class="mobileNavToggle">
        <svg class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
        <span>Navigation</span>
      </div>

      <div class="nav-mainActions">
        <a href="" class="createMeeting"><span>Treffen anlegen</span></a>
        <a href="" class="discover">Grätzl entdecken</a>
      </div>

      <div class="logoGraetzl">
        <%= link_to(image_tag('svg/logo.svg'), root_path) %>
      </div>

      <% if user_signed_in? %>

          <div class="newNotifications dropDownMenu-br">
            <div class="dropDownToggle">
              <div class="iconWithBadge">
                <div class="badgeNumber">12</div>
                <svg class="icon-mail"><use xlink:href="#icon-mail"></use></svg>
              </div>
            </div>
            <div class="dropDownContent">
              <p>Mega geiles Notification Center Web 2.0</p>
            </div>
          </div>
          <div class="userSettings dropDownMenu-br">
            <div class="dropDownToggle">
              <img src="https://placeimg.com/60/60/people" alt="" class="img-user"/>
              <div class="username">Peckomingo</div>
              <svg class="icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg>
            </div>
            <div class="dropDownContent">
              <div class="menuSlice">Profileinstellungen</div>
              <div class="menuSlice">Abmelden</div>
            </div>
          </div>

      <% else %>
          <div class="nav-loggedOut">
            <a href="" class="register"><span>Kostenlos registrieren</span></a>
            <a href="" class="login">Anmelden</a>
          </div>
      <% end %>

    </div>


  </div>
</header>

<% if user_signed_in? %>

    <%= link_to 'Abmelden', destroy_user_session_path, method: :delete %>

<% else %>


<% end %>