<em>Wir suchen noch Mitglieder welche auch noch zusätzliche eine Erzeugungsanlage bereitstellen können, aus folgenden Bereichen:</em>
<ul>
  <% if @energy_offer.goal_prosumer_solarpower %>
    <li>PV</li>
  <% end %>

  <% if @energy_offer.goal_prosumer_hydropower %>
    <li>Wasserkraft</li>
  <% end %>

  <% if @energy_offer.goal_prosumer_windpower %>
    <li>Windkraft</li>
  <% end %>
</ul>